<div class="main-container">
  <div class="x_panel">
    <div class="x_header">
      <div class="x_header_title d-flex justify-content-between">
        <div class="px-1">
          <app-breadcrums [title]="'Request'" [subtitle]="'Request'"></app-breadcrums>
        </div>
        <div class="d-flex">
          <!-- <select class="form-select border-0 text-muted" [ngClass]="{'d-none': active == 4}" [(ngModel)]="itemStatus" (change)="filterRequest($event)">
            <option selected value="2">Pending</option>
            <option value="9">Approved</option>
            <option value="5">Rejected</option>
            <option value="0">All</option>
          </select> -->
          <div class="row">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                  {{filterText}}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem (click)="updatePage(1)">Assigned to me</button>
                  <button ngbDropdownItem (click)="updatePage(2)">All request(s)</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="position-relative">
      <a href="javascript:void(0)" (click)="pagereload()" class="page-reload-icon">
        <i class="fa fa-refresh"></i>
      </a>
    </div>
    <div class="mt-3">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink (click)="changeTab()">Attendance</a>
          <ng-template ngbNavContent>
            <ng-container *ngIf="!isPageLoading">
              <ng-container *ngIf="attendanceDetail.length > 0">
                <div class="row py-3">
                  <div class="col-md-6 fw-bold text-dark">Description</div>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                  <div class="row col-md-10">
                    <div class="col-md-4 py-2">
                      <label class="form-label">Filter by name</label>
                      <app-iautocomplete [data]="employeeList" [(ngModel)]="employeeId" (OnSelect)="onEmloyeeChanged($event)" (keydown.esc)="resetFilter()">
                      </app-iautocomplete>
                    </div>
                    <div class="col-md-2 py-2">
                      <label class="form-label">Filter by requested on </label>
                      <select  class="form-select" (change)="filter($event, 'requestedon')" [(ngModel)]="requestedOn">
                        <option value="0" disabled selected>Select days</option>
                        <option value="7">Last 7 days</option>
                        <option value="14">Last 14 days</option>
                        <option value="30">Last 30 days</option>
                      </select>
                    </div>
                    <div class="col-md-2 py-2">
                      <label class="form-label">Filter by status</label>
                      <select  class="form-select" (change)="filter($event, 'status')" [(ngModel)]="missAttendanceStatus">
                        <option value="0" disabled selected>Select status</option>
                        <option value="2">Pending</option>
                        <option value="9">Approved</option>
                        <option value="5">Reject</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-auto float-end">
                    <button class="btn  btn-danger ms-2" (click)="resetFilter()" placement="top" ngbTooltip="Reset filter">
                      <i class="fa fa-repeat"></i>
                    </button>
                  </div>
                </div>
                <ng-container *ngFor="let item of attendanceDetail; let i=index;">
                  <div class="row bg-white p-2 m-0 mb-3 d-flex justify-content-between rounded leave-box">
                    <div class="d-flex col-md-8">
                      <a href="javascript:void(0)" class="me-3">
                        <img class="grid-icon" [src]="item.PresentDayStatus == 2 ? 'assets/images/clock.png' : item.PresentDayStatus == 9 ? 'assets/images/approve.png' : 'assets/images/rejected.png'">
                      </a>
                      <a data-bs-toggle="collapse" [attr.href]="'#attendance'+i" role="button" aria-expanded="false" [attr.aria-controls]="'#attendance'+i" class="me-3">
                        <img class="grid-icon" src="assets/images/down-arrow.png">
                      </a>
                      <p class="mb-0 fs-6">
                        <span class="fw-bold text-primary-dc">
                          <u>{{item.EmployeeName}}</u>
                        </span>
                      </p>
                      <p class="ms-2 mb-0 fs-6">
                        <span class="">Attendance Date >> </span>
                        <span>{{item.AttendanceDay | date}}</span>
                      </p>
                    </div>
                    <div class="col-4 d-flex flex-row-reverse">
                      <a href="javascript:void(0)" class="ps-2">
                        <i class="fa fa-user-circle-o fa-lg"></i>
                      </a>
                      <div class="bg-c px-3 pb-1 rounded text-white">
                        <small class="fade-label">Session Type: </small>
                        <span class="fade-font">{{item.SessionType > 1 ? 'Halfday' : 'Fullday'}}</span>
                      </div>
                    </div>
                    <div class="collapse" [id]="'attendance'+i">
                      <div class="card card-body border-0">
                        <div class="row align-items-center justify-content-between">
                          <div class="col-md-6 text-truncate">
                            <span class="fw-bold">Message:</span>
                            {{item.UserComments == "" ? 'NA' : item.UserComments}}
                          </div>
                          <div class="col-md-4">
                            <span class="fw-bold pe-1">Manager:</span>
                            {{item.ManagerName}} |
                            <span class="mb-0"><i class="fa fa-envelope pe-1"></i> {{item.ManagerEmail}} | <i class="fa fa-phone pe-1"></i> {{item.ManagerMobile}}</span>
                          </div>
                          <div class="col-auto me-0 pe-0">
                            <button *ngIf="item.PresentDayStatus != 5" (click)="openAttendacneModal('Rejected', item)"
                              class="btn btn-danger btn-sm"><i class="fa pe-1"
                                [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-ban': !isLoading}"></i> Reject</button>
                            <button *ngIf="item.PresentDayStatus != 9" (click)="openAttendacneModal('Approved', item)"
                              class="btn btn-success ms-2 btn-sm"><i class="fa pe-1"
                                [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-check': !isLoading}"></i> Approve</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="attendanceDetail.length ==0">
                <div class="text-center fw-bold fs-4 py-5 my-5 text-dark">
                  No record found
                </div>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="isPageLoading">
              <div class="fs-5 my-5 py-5 d-flex flex-column justify-content-center align-items-center">
                <div class="col-md-3 modal-container  text-center cog-wheel">
                  <img src="assets/images/cog.gif" alt="" />
                  <h6 class="modal-title title-message">
                    Please Wait ........
                  </h6>
                </div>
              </div>
            </ng-container>
          </ng-template>
        </li>

        <li [ngbNavItem]="2">
          <a ngbNavLink (click)="changeTab()">TimeSheet</a>
          <ng-template ngbNavContent>
            <ng-container *ngIf="!isPageLoading">
              <ng-container *ngIf="timesheetDetail.length > 0">
                <div class="row py-3">
                  <div class="col-md-6 fw-bold text-dark">Description</div>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                  <div class="row col-md-10">
                    <div class="col-md-4 py-2">
                      <label class="form-label">Filter by name</label>
                      <app-iautocomplete [data]="employeeList" [(ngModel)]="employeeId" (OnSelect)="onEmloyeeChanged($event)" (keydown.esc)="resetFilter()">
                      </app-iautocomplete>
                    </div>
                    <div class="col-md-2 py-2">
                      <label class="form-label">Filter by requested on </label>
                      <select  class="form-select" (change)="filter($event, 'requestedon')" [(ngModel)]="requestedOn">
                        <option value="0" disabled selected>Select days</option>
                        <option value="7">Last 7 days</option>
                        <option value="14">Last 14 days</option>
                        <option value="30">Last 30 days</option>
                      </select>
                    </div>
                    <div class="col-md-2 py-2">
                      <label class="form-label">Filter by status</label>
                      <select  class="form-select" (change)="filter($event, 'status')" [(ngModel)]="missAttendanceStatus">
                        <option value="0" disabled selected>Select status</option>
                        <option value="2">Pending</option>
                        <option value="9">Approved</option>
                        <option value="5">Reject</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-auto float-end">
                    <button class="btn  btn-danger ms-2" (click)="resetFilter()" placement="top" ngbTooltip="Reset filter">
                      <i class="fa fa-repeat"></i>
                    </button>
                  </div>
                </div>
                <ng-container *ngFor="let item of timesheetDetail; let i=index;">
                  <div class="row bg-white p-2 m-0 mb-3 d-flex justify-content-between rounded leave-box">
                    <div class="d-flex col-md-8">
                      <a data-bs-toggle="collapse" (click)="collpaseShowHide('timesheet'+i)"  [attr.href]="'#timesheet'+i" role="button" aria-expanded="false" [attr.aria-controls]="'#timesheet'+i" class="arrow-down me-3">
                        <!-- <img class="grid-icon" src="assets/images/down-arrow.png"> -->
                        <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                      </a>
                      <a href="javascript:void(0)" class="me-3">
                        <img class="grid-icon" [src]="item[0].TimesheetStatus == 2 ? 'assets/images/clock.png' : item[0].TimesheetStatus == 9 ? 'assets/images/approve.png' : 'assets/images/rejected.png'">
                      </a>
                      <p class="mb-0 fs-6">
                        <span class="fw-bold text-primary-dc">
                          <u>{{item[0].EmployeeName}}</u>
                        </span>
                      </p>
                      <p class="ms-2 mb-0 fs-6">
                        <span class="">Timesheet Date >> </span>
                        <span>{{item[0].PresentDate | date}}</span>
                        <span class="px-1">-</span>
                        <span>{{item[item.length-1].PresentDate | date}}</span>
                      </p>
                    </div>
                    <div class="col-4 d-flex flex-row-reverse">
                      <a href="javascript:void(0)" class="ps-2">
                        <i class="fa fa-user-circle-o fa-lg"></i>
                      </a>
                      <div class="bg-c px-3 pb-1 rounded text-white">
                        <small class="fade-label">Company: </small>
                        <span class="fade-font">{{item[0].ClientName}}</span>
                      </div>
                    </div>
                    <div class="hide-collapse bg dark" [id]="'timesheet'+i">
                      <div class="card card-body border-0">
                        <div class="row align-items-center justify-content-between">
                          <div class="col-md-6 text-truncate">
                            <span class="fw-bold">Message:</span>
                            {{item.UserComments == "" ? 'NA' : item.UserComments}}
                          </div>
                          <div class="col-md-4">
                            <span class="fw-bold pe-1">Manager:</span>
                            {{item[0].ManagerName}} |
                            <span class="mb-0"><i class="fa fa-envelope pe-1"></i> {{item[0].ManagerEmail}} | <i class="fa fa-phone pe-1"></i> {{item[0].ManagerMobile}}</span>
                          </div>
                          <div class="col-auto me-0 pe-0">
                            <button *ngIf="item.PresentDayStatus != 5" (click)="openTimesheetModal('Rejected', item)"
                              class="btn btn-danger btn-sm"><i class="fa pe-1"
                                [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-ban': !isLoading}"></i> Reject</button>
                            <button *ngIf="item.PresentDayStatus != 9" (click)="openTimesheetModal('Approved', item)"
                              class="btn btn-success ms-2 btn-sm"><i class="fa pe-1"
                                [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-check': !isLoading}"></i> Approve</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="timesheetDetail.length ==0">
                <div class="text-center fw-bold fs-4 py-5 my-5 text-dark">
                  No record found
                </div>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="isPageLoading">
              <div class="fs-5 my-5 py-5 d-flex flex-column justify-content-center align-items-center">
                <div class="col-md-3 modal-container  text-center cog-wheel">
                  <img src="assets/images/cog.gif" alt="" />
                  <h6 class="modal-title title-message">
                    Please Wait ........
                  </h6>
                </div>
              </div>
            </ng-container>
          </ng-template>
        </li>

        <li [ngbNavItem]="3">
          <a ngbNavLink (click)="changeTab()">Leave</a>
          <ng-template ngbNavContent>
            <ng-container *ngIf="!isPageLoading">
              <ng-container *ngIf="leaveDeatil.length > 0">
                <div class="row py-3">
                  <div class="col-md-6 fw-bold text-dark">Description</div>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                  <div class="row col-md-10">
                    <div class="col-md-4 py-2">
                      <label class="form-label">Filter by name</label>
                      <app-iautocomplete [data]="employeeList" [(ngModel)]="employeeId" (OnSelect)="onEmloyeeChanged($event)" (keydown.esc)="resetFilter()">
                      </app-iautocomplete>
                    </div>
                    <div class="col-md-2 py-2">
                      <label class="form-label">Filter by requested on </label>
                      <select  class="form-select" (change)="filter($event, 'requestedon')" [(ngModel)]="requestedOn">
                        <option value="0" disabled selected>Select days</option>
                        <option value="7">Last 7 days</option>
                        <option value="14">Last 14 days</option>
                        <option value="30">Last 30 days</option>
                      </select>
                    </div>
                    <div class="col-md-2 py-2">
                      <label class="form-label">Filter by status</label>
                      <select  class="form-select" (change)="filter($event, 'status')" [(ngModel)]="missAttendanceStatus">
                        <option value="0" disabled selected>Select status</option>
                        <option value="2">Pending</option>
                        <option value="9">Approved</option>
                        <option value="5">Reject</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-auto float-end">
                    <button class="btn  btn-danger ms-2" (click)="resetFilter()" placement="top" ngbTooltip="Reset filter">
                      <i class="fa fa-repeat"></i>
                    </button>
                  </div>
                </div>
                <ng-container *ngFor="let item of leaveDeatil; let i=index;">
                  <div class="row bg-white p-2 m-0 d-flex justify-content-between rounded leave-box">
                    <div class="d-flex col-md-8">
                      <a href="javascript:void(0)" class="me-3">
                        <img class="grid-icon" [src]="item.RequestStatusId == 2 ? 'assets/images/clock.png' : item.RequestStatusId == 9 ? 'assets/images/approve.png' : 'assets/images/rejected.png'">
                      </a>
                      <a data-bs-toggle="collapse" [attr.href]="'#leave'+i" role="button" aria-expanded="false" [attr.aria-controls]="'#leave'+i" class="me-3">
                        <img class="grid-icon" src="assets/images/down-arrow.png">
                      </a>
                      <p class="mb-0 fs-6">
                        <span class="fw-bold text-primary-dc">
                          <u>{{item.FirstName}} {{item.LastName}}</u>
                        </span>
                      </p>
                      <p class="ms-2 mb-0 fs-6">
                        <span class="">leave Date >> </span>
                        <span>{{item.FromDate | date}}</span>
                        <span class="px-1">-</span>
                        <span>{{item.ToDate | date}}</span>
                        <span class="ps-1">({{item.NumOfDays}} {{item.NumOfDaysn > 0 ? 'days' : 'day'}})</span>
                      </p>
                    </div>
                    <div class="col-4 d-flex flex-row-reverse">
                      <a href="javascript:void(0)" class="ps-2">
                        <i class="fa fa-user-circle-o fa-lg"></i>
                      </a>
                      <div class="bg-c px-3 pb-1 rounded text-white">
                        <small class="fade-label">Session Type: </small>
                        <span class="fade-font">{{item.NumOfDays > 0 ? 'Full day' : 'Half day'}}</span>
                      </div>
                    </div>
                    <div class="collapse" [id]="'leave'+i">
                      <div class="card card-body border-0">
                        <div class="row align-items-center justify-content-between">
                          <div class="col-md-6 text-truncate">
                            <span class="fw-bold">Message:</span>
                            {{item.UserMessage == "" ? 'NA' : item.UserMessage}}
                          </div>
                          <!-- <a href="javascript:void(0)" (click)="viewLeaveAttachmentModal(item)" class="">
                            View Attachment
                          </a> -->
                          <div class="col-md-4">
                            <span class="fw-bold pe-1">Manager:</span>
                            {{item.ManagerName}} |
                            <span class="mb-0"><i class="fa fa-envelope pe-1"></i> {{item.ManagerEmail}} | <i class="fa fa-phone pe-1"></i> {{item.ManagerMobile}}</span>
                          </div>
                          <div class="col-auto me-0 pe-0">
                            <button *ngIf="item.PresentDayStatus != 5" (click)="openLeaveModal('Rejected', item)"
                              class="btn btn-danger btn-sm"><i class="fa pe-1"
                                [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-ban': !isLoading}"></i> Reject</button>
                            <button *ngIf="item.PresentDayStatus != 9" (click)="openLeaveModal('Approved', item)"
                              class="btn btn-success ms-2 btn-sm"><i class="fa pe-1"
                                [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-check': !isLoading}"></i> Approve</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="leaveDeatil.length == 0">
                <div class="text-center fw-bold fs-4 py-5 my-5 text-dark">
                  No record found
                </div>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="isPageLoading">
              <div class="fs-5 my-5 py-5 d-flex flex-column justify-content-center align-items-center">
                <div class="col-md-3 modal-container  text-center cog-wheel">
                  <img src="assets/images/cog.gif" alt="" />
                  <h6 class="modal-title title-message">
                    Please Wait ........
                  </h6>
                </div>
              </div>
            </ng-container>
          </ng-template>
        </li>

        <li [ngbNavItem]="4">
          <a ngbNavLink class="text-muted" (click)="loadAttendanceRequestDetail()">Request</a>
          <ng-template ngbNavContent>
            <div class="col-md-12 d-flex align-items-center bg-white justify-content-between mt-4 py-3">
              <span class="ps-4">Work From Home / On Duty Request</span>
            </div>
            <div class="x_panel">
              <ng-container *ngIf="attendanceRquestPageIsReady">
                <div class="d-flex align-items-center justify-content-between">
                  <div class="row col-md-10">
                    <div class="col-md-4 py-2">
                      <label class="form-label">Filter by name</label>
                      <app-iautocomplete [data]="employeeList" [(ngModel)]="employeeId" (OnSelect)="onEmloyeeChanged($event)" (keydown.esc)="resetFilter()">
                      </app-iautocomplete>
                    </div>
                    <div class="col-md-2 py-2">
                      <label class="form-label">Filter by requested on </label>
                      <select  class="form-select" (change)="filter($event, 'requestedon')" [(ngModel)]="requestedOn">
                        <option value="0" disabled selected>Select days</option>
                        <option value="7">Last 7 days</option>
                        <option value="14">Last 14 days</option>
                        <option value="30">Last 30 days</option>
                      </select>
                    </div>
                    <div class="col-md-2 py-2">
                      <label class="form-label">Filter by status</label>
                      <select  class="form-select" (change)="filter($event, 'status')" [(ngModel)]="missAttendanceStatus">
                        <option value="0" disabled selected>Select status</option>
                        <option value="2">Pending</option>
                        <option value="9">Approved</option>
                        <option value="5">Reject</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-auto float-end">
                    <button class="btn  btn-danger ms-2" (click)="resetFilter()" placement="top" ngbTooltip="Reset filter">
                      <i class="fa fa-repeat"></i>
                    </button>
                  </div>
                </div>
                <table class="table table-hover mt-3" *ngIf="attendanceRquestPageIsReady">
                  <thead>
                    <tr>
                      <th class="custom-th border-end" width="15%">
                        <a href="javascript:void(0)" class="text-decoration-none pe-2 text-dark" (click)="arrangeDetails(orderByAttendanceDateAsc, 'AttendanceDate')">DATE</a>
                          <i class="fa fa-sort-amount-asc"
                            [ngClass]="{'d-none': orderByAttendanceDateAsc == null || !orderByAttendanceDateAsc }" aria-hidden="true"></i>
                          <i class="fa fa-sort-amount-desc"
                            [ngClass]="{'d-none': orderByAttendanceDateAsc == null || orderByAttendanceDateAsc }" aria-hidden="true"></i>
                      </th>
                      <th class="custom-th border-end" width="10%">REQUEST TYPE</th>
                      <th class="custom-th border-end" width="15%">
                        <a href="javascript:void(0)" class="text-decoration-none pe-2 text-dark" (click)="arrangeDetails(orderByRequestedOnAsc, 'RequestedOn')">Requested On</a>
                        <i class="fa fa-sort-amount-asc"
                          [ngClass]="{'d-none': orderByRequestedOnAsc == null || !orderByRequestedOnAsc }" aria-hidden="true"></i>
                        <i class="fa fa-sort-amount-desc"
                          [ngClass]="{'d-none': orderByRequestedOnAsc == null || orderByRequestedOnAsc }" aria-hidden="true"></i>
                      </th>
                      <th class="custom-th border-end" width="25%">NOTE</th>
                      <th class="custom-th border-end" width="10%">STATUS</th>
                      <th class="custom-th " width="15%">ACTION TAKEN BY</th>
                      <th class="custom-th" width="5%">ACTIONS</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngIf="attendanceRequestDetail.length > 0">
                      <tr *ngFor="let attr of attendanceRequestDetail">
                        <td class="align-middle border-end border-bottom">
                          <div class="d-flex align-items-center justify-content-between">
                            <p>{{attr.AttendanceDate | date}}</p>
                            <div class="d-flex align-items-center flex-column">
                              <i class="fa fa-home fa-lg"></i>
                              <p>1 Day</p>
                            </div>
                          </div>
                        </td>
                        <td class="align-middle border-end border-bottom">
                          Missing attendance
                        </td>
                        <td class="align-middle border-end border-bottom">
                          {{attr.RequestedOn | date}}
                          <p><small>by {{attr.EmployeeName}}</small></p>
                        </td>
                        <td class="align-middle border-end border-bottom">
                          {{attr.EmployeeMessage}}
                        </td>
                        <td class="align-middle border-end border-bottom">
                          <div [ngSwitch]="attr.CurrentStatus">
                            <div *ngSwitchCase=2>Pending</div>
                            <div *ngSwitchCase=3>Canceled</div>
                            <div *ngSwitchCase=5>Rejected</div>
                            <div *ngSwitchCase=8>Submitted</div>
                            <div *ngSwitchCase=9>Approved</div>
                          </div>
                        </td>
                        <td class="align-middle border-end border-bottom">
                          <span>{{attr.ManagerName}}</span>
                          <p><small>on {{attr.UpdatedOn | date}}</small></p>
                        </td>
                        <td class="align-middle border-bottom">
                          <div ngbDropdown class="d-inline-block">
                            <button type="button" class="btn btn-sm" placement="top" ngbTooltip="Apply"
                              id="dropdownBasic1" ngbDropdownToggle>
                              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                            </button>
                            <div class="dropdown-menu p-0" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                              <button ngbDropdownItem>
                                <a class="dropdown-item" (click)="showApproveRequestModal(attr)" href="javascript:void(0)">Approve</a>
                              </button>
                              <button ngbDropdownItem (click)="showRejectRequestModal(attr)">
                                <a class="dropdown-item" href="javascript:void(0)">Reject</a>
                              </button>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </ng-container>

                    <ng-container *ngIf="attendanceRequestDetail.length == 0">
                      <tr>
                        <td class="align-middle border-bottom-0 py-5my-5" colspan="7">
                          <div class="d-flex justify-content-center py-5 my-5">
                            <p class="my-5 py-5">No pending attendance request available.</p>
                          </div>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
                <div class="mt-3">
                  <app-pagination [pagination]="request" (onPageChange)="GetFilterResult($event)"></app-pagination>
                </div>
              </ng-container>
              <ng-container *ngIf="attendanceRequestDetail.length == 0 && !attendanceRquestPageIsReady">
                <div class="py-5 my-5">
                  <h6 class="fw-bold fs-3 text-center text-dark">Missed attendance and status is loading</h6>
                  <div class="fs-5 pb-5 py-5 d-flex flex-column justify-content-center align-items-center">
                    <div class="col-md-3 modal-container  text-center cog-wheel">
                      <img src="assets/images/cog.gif" alt="" />
                      <h6 class="modal-title title-message">
                        Please Wait ........
                      </h6>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-template>
        </li>
      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>

    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="leaveModal" tabindex="-1"
  aria-labelledby="leaveModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content" *ngIf="currentRequest != null">
      <div class="modal-header border-bottom-0 pt-4">
        <ng-container [ngSwitch]="requestState">
          <h5 *ngSwitchCase="'Rejected'" class="modal-title ps-4" id="leaveModalLabel">Rejection Request modal</h5>
          <h5 *ngSwitchCase="'Approved'" class="modal-title ps-4" id="leaveModalLabel">Approval request modal
          </h5>
          <h5 *ngSwitchCase="'Othermember'" class="modal-title ps-4" id="leaveModalLabel">Assign to other member</h5>
        </ng-container>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body px-5">
        <div class="row bg-light py-3 border-bottom">
          <div class="col-md-6 fw-bold text-dark">Description</div>
          <div class="col-md-2 fw-bold text-dark">Type</div>
          <div class="col-md-3 fw-bold text-dark">Notifie</div>
          <div class="col-md-1 fw-bold text-dark">State</div>
        </div>
        <div class="row py-3">
          <div class="col-md-6">
            <p class="mb-0 fw-bold fs-6">
              Request by [{{currentRequest.EmployeeName}}]
            </p>
            <!-- <input type="text" class="form-control" name="message" [(ngModel)]="editedMessage" value="{{singleLeave.Message}}"> -->
            <span>{{currentRequest.UserComments == "" ? 'NA' : currentRequest.UserComments}}</span>

          </div>
          <div class="col-md-2">
            {{requestModal==3 ? 'Attendance' : 'Leave'}} {{requestState | lowercase}} request
            <p class="mb-0"><span class="badge bg-primary">{{currentRequest.ProjectName}}</span></p>
          </div>
          <div class="col-md-3">
            {{currentRequest.EmployeeName}}
            <p class="mb-0">{{currentRequest.Email}}</p>
            <p class="mb-0">{{currentRequest.Mobile}}</p>
          </div>
          <div class="col-md-1">
            <ng-container [ngSwitch]="currentRequest.PresentDayStatus">
              <p *ngSwitchCase="2">Pending</p>
              <p *ngSwitchCase="9">Approved</p>
              <p *ngSwitchCase="5">Rejected</p>
            </ng-container>
          </div>
        </div>
        <div class="col-md-6 mb-3" *ngIf="requestState == 'Othermember'">
          <label class="form-label">Reporting Manager</label>
          <app-iautocomplete [data]="managerList">
          </app-iautocomplete>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="submitRequest()">
          <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-user-circle-o': !isLoading}"></i>
          {{ isLoading ? 'Wait' : 'Submit' }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Timesheet Model -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="timesheetModal" tabindex="-1"
  aria-labelledby="timesheetModalLabel" aria-hidden="true" *ngIf="currentTimesheet.length > 0">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header border-bottom-0 pt-4">
        <ng-container [ngSwitch]="requestState">
          <h5 *ngSwitchCase="'Rejected'" class="modal-title ps-4" id="timesheetModalLabel">Rejection Request modal</h5>
          <h5 *ngSwitchCase="'Approved'" class="modal-title ps-4" id="timesheetModalLabel">Approval request modal
          </h5>
          <h5 *ngSwitchCase="'Othermember'" class="modal-title ps-4" id="timesheetModalLabel">Assign to other member</h5>
        </ng-container>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body px-5">
        <div class="row bg-light py-3 border-bottom">
          <div class="col-md-6 fw-bold text-dark">Description</div>
          <div class="col-md-2 fw-bold text-dark">Type</div>
          <div class="col-md-3 fw-bold text-dark">Notifie</div>
          <div class="col-md-1 fw-bold text-dark">State</div>
        </div>
        <div class="row py-3">
          <div class="col-md-6">
            <p class="mb-0 fw-bold fs-6">
              Request by [{{currentTimesheet[0].EmployeeName}}]
            </p>
            <p class="mb-0 fw-bold fs-6">
              <span class="fw-bold text-primary-c me-2">From: {{currentTimesheet[0].PresentDate | date}}</span>
              <span class="fw-bold text-primary-c me-2">To: {{currentTimesheet[currentTimesheet.length-1].PresentDate | date}}</span>
            </p>
            <!-- <input type="text" class="form-control" name="message" [(ngModel)]="editedMessage" value="{{singleLeave.Message}}"> -->
          </div>
          <div class="col-md-2">
            TimeSheet approval request
          </div>
          <div class="col-md-3">
            {{currentTimesheet[0].EmployeeName}}
            <p class="mb-0">{{currentTimesheet[0].Email}}</p>
            <p class="mb-0">{{currentTimesheet[0].Mobile}}</p>
          </div>
          <div class="col-md-1">
            <ng-container [ngSwitch]="currentTimesheet[0].TimesheetStatus">
              <p *ngSwitchCase="2">Pending</p>
              <p *ngSwitchCase="9">Approvval</p>
              <p *ngSwitchCase="5">Rejected</p>
            </ng-container>
          </div>
        </div>
        <div class="col-md-6 mb-3" *ngIf="requestState == 'Othermember'">
          <label class="form-label">Reporting Manager</label>
          <app-iautocomplete [data]="managerList">
          </app-iautocomplete>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="submitTimesheetRequest()">
          <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-user-circle-o': !isLoading}"></i>
          {{ isLoading ? 'Wait' : 'Submit' }}
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Employee Register or Update message modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="approval-attendance" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="p-2 modal-content" *ngIf="requestModalData != null">
      <div class="modal-header border-bottom-0 pt-4">
        <ng-container [ngSwitch]="requestModalData.Title">
          <h5 *ngSwitchCase="'Reject request'" class="modal-title ps-4" id="timesheetModalLabel">Rejection Request modal</h5>
          <h5 *ngSwitchCase="'Approve request'" class="modal-title ps-4" id="timesheetModalLabel">Approval request modal
          </h5>
        </ng-container>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-dark mb-0 pb-0">
        <ng-container>
          <div class="row bg-light py-3 border-bottom">
            <div class="col-md-6 fw-bold text-dark">Description</div>
            <div class="col-md-2 fw-bold text-dark">Type</div>
            <div class="col-md-3 fw-bold text-dark">Notifie</div>
            <div class="col-md-1 fw-bold text-dark">State</div>
          </div>
          <div class="row py-3">
            <div class="col-md-6">
              <p class="mb-0 fw-bold fs-6">
                Request by [{{currentApprovalRequest.EmployeeName}}]
              </p>
              <p class="mb-0 fw-bold fs-6">
                <span class="fw-bold text-primary-c me-2">Attendance Date: {{currentApprovalRequest.AttendanceDate | date}}</span>
              </p>
            </div>
            <div class="col-md-2">
              Blocked attendance approval request
            </div>
            <div class="col-md-3">
              {{currentApprovalRequest.EmployeeName}}
              <p class="mb-0">{{currentApprovalRequest.Email}}</p>
              <p class="mb-0">{{currentApprovalRequest.Mobile}}</p>
            </div>
            <div class="col-md-1">
              <ng-container [ngSwitch]="currentApprovalRequest.CurrentStatus">
                <p *ngSwitchCase="2">Pending</p>
                <p *ngSwitchCase="9">Approvval</p>
                <p *ngSwitchCase="5">Rejected</p>
              </ng-container>
            </div>
          </div>
          <div class="fw-bold text-dark fs-5">
            Please confirm and {{requestModalData.Title | lowercase}}.
          </div>
        </ng-container>
      </div>
      <div *ngIf="requestModalData.IsApprove" class="modal-footer mt-0 border-top-0">
        <!-- <a href="javascript:void(0)" (click)="ApproveRequest()" class="text-decoration-none text-dark fw-bold">Approve</a> -->
        <button type="button" class="btn btn-success" (click)="ApproveRequest()">
          <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-user-circle-o': !isLoading}"></i>
          {{ isLoading ? 'Wait' : 'Approve' }}
        </button>
      </div>
      <div *ngIf="requestModalData.IsReject" class="modal-footer mt-0 border-top-0">
        <!-- <a href="javascript:void(0)" (click)="RejectRequest()" class="text-decoration-none text-dark fw-bold">Reject</a> -->
        <button type="button" class="btn btn-danger" (click)="RejectRequest()">
          <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-user-circle-o': !isLoading}"></i>
          {{ isLoading ? 'Wait' : 'Reject' }}
        </button>
      </div>
    </div>
  </div>
</div>
  <!-- End -->


<!-- Pdf viewer modal -->
<div class="d-none file-container" id="managerleave-container" (click)="closePdfViewer()">
  <div class="text-end">
    <a (click)="closePdfViewer()" class="close_view">
      <i class="fa fa-times fa-2x" aria-hidden="true"></i>
    </a>
  </div>
  <iframe src="" width="800px" height="600px" style="border: none;"></iframe>
</div>
<!-- End pdf view modal -->

<!-- View Rent file -->
<div class="modal fade delete-modal" data-bs-backdrop="static" data-bs-keyboard="false" id="managerleaveFileModal" tabindex="-1" aria-labelledby="managerleaveFileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="managerleaveFileModalLabel">Uploaded Leave Attachment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ng-container >
          <table class="table">
            <thead>
              <tr>
                <th width="8%">#</th>
                <th>File Name</th>
                <td width="20%">Action</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of leaveAttachment; let i = index">
                <td class="counterCell">{{i+1}}</td>
                <td>{{item.FileName}}.{{item.FileExtension}}</td>
                <td>
                  <a href="javascript:void(0)" class="text-decoration-none" (click)="viewFile(item)"><i class="fa fa-eye px-2 text-dark"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<!-- End -->
