.progress {
  height: 0.65rem !important;
}

.rounded-items {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.active-index {
  background-color: var(--primary);
  border: var(--primary);
  color: #fff !important;
}

.active-payroll {
  background-color: var(--primary) !important;
  border: var(--primary) !important;

  h5,
  small {
    color: #fff !important;
  }
}

textarea {
  resize: none;
}

.blink {
  animation: blink 1s alternate infinite;
  color: black;
  /* Initial color */
}

@keyframes blink {
  0% {
    color: rgb(188, 41, 41);
  }

  100% {
    color: black;
  }
}

.c-title {
  margin-bottom: -6px;
  display: block;
}

.card-box {
  text-align: center;
  font-size: 1.5rem;
  color: deepskyblue;
}

.bt-card {
  background-image: url(../../../assets/card-bg4.jpg) !important;
  background-position: center;
  background-size: cover;
}

.bt-card-hight {
  min-height: 10rem !important;
}

