<div class="main-container">
  <div class="content-header">
    <div class="col-8">
      <div class="px-1">
        <app-breadcrums [title]="'Chekc and process payroll'"></app-breadcrums>
      </div>
    </div>
    <div class="col-3 d-flex align-items-center me-2" *ngIf="isPageReady">
      <!-- <bot-autocomplete [data]="employeeData" [(ngModel)]="employeeId" (OnSelect)="onEmloyeeChanged($event)" (keydown.esc)="resetFilter()">
      </bot-autocomplete> -->
      <div class="col-auto blink fw-semibold me-3">
        {{selectedPayrollCalendar.Status == 15 ? 'PROCESSING' : selectedPayrollCalendar.Status == 14 ? 'COMPLETED' :
        selectedPayrollCalendar.Status == 16 ? 'PENDING' : selectedPayrollCalendar.Status == 4 ? 'CURRENT' :
        selectedPayrollCalendar.Status == 17 ? 'HOLD': selectedPayrollCalendar.Status == 18 ? 'CANCELED' : 'FAILED'}}
      </div>
      <div class="col-auto">
        <div class="d-flex align-items-center py-2">
          <h5 class="fw-bold text-dark pe-2 mb-0">{{selectedPayrollCalendar.MonthName}} {{selectedPayrollCalendar.Year}}
          </h5>
          <small class="text-muted">({{selectedPayrollCalendar.MonthName | uppercase}}
            {{selectedPayrollCalendar.StartDate}} - {{selectedPayrollCalendar.MonthName | uppercase}}
            {{selectedPayrollCalendar.EndDate}}, {{selectedPayrollCalendar.EndDate}} days)</small>
        </div>
      </div>
    </div>
  </div>
  <div class="x_panel">
    <div class="x_content mt-0">
      <ng-container *ngIf="isPageReady">
        <div class="row align-items-center justify-content-end">
          <div class="col-auto form-check">
            <input class="form-check-input" type="checkbox" id="previousCheckbox"
              (click)="previousMonthyPayroll($event)">
            <label class="form-check-label" for="previousCheckbox">
              Previous month payroll
            </label>
          </div>
          <div class="col-md-3">
            <select class="form-select" (change)="selectPayrollMonth($event)" disabled data-name="payroll-month">
              <option [value]="item.Month" *ngFor="let item of payrollCalendar; let i=index;"
                [selected]="selectedPayrollCalendar.Month == item.Month">{{item.MonthName}} {{item.Year}}</option>
            </select>
          </div>
        </div>

        <div class="col-12 p-4 mt-4 mb-2">
          <div class="ps-2 fw-bold c-title">You need to process the below payroll</div>
          <div class="bt-card px-4 py-3 justify-content-between">
            <div class="fe-1">
              <p>DRAFT</p>
              <span>Regular payroll</span>
              <div class="fw-bold">
                {{payrollDates != null ? (payrollDates.StartDate | date) : ""}} to
                {{payrollDates != null ? (payrollDates.EndDate | date): ""}}
              </div>
            </div>
            <div class="fe-1 d-flex flex-column justify-content-end">
              <span>Pay Date</span>
              <div class="fw-bold">
                {{selectedPayrollDetail != null ? selectedPayrollDetail.ProcessOn: "--"}}
              </div>
            </div>
            <div class="fe-1 d-flex flex-column justify-content-end">
              <span>Employees</span>
              <div class="fw-bold">
                {{selectedPayrollDetail != null ? selectedPayrollDetail.EmployeeCount : "0"}}
              </div>
            </div>
            <div class="fe-2 text-end">
              <button class="btn btn-outline-danger me-2" (click)="gotoConfigPayroll()">
                Config Run Payroll
              </button>
              <div class="mt-2 d-flex justify-content-start align-items-center">
                <i class="fa-solid fa-circle-info pe-2" style="color: #a1c3dd;"></i>
                <span>
                  Before run payroll please complete pre-processing of leave, attendance etc.
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 d-flex justify-content-between p-4 mt-4 mb-2">
          <div class="fe-3">
            <div class="ps-2 fw-bold c-title">Taxes & Calculations</div>
            <div class="bt-card bt-card-hight px-4 py-3 justify-content-between">
              <div class="w-100">
                <div class="d-flex justify-content-between mb-3">
                  <p>
                    <i class="pe-2 fa-solid fa-indian-rupee-sign"></i>
                    PAYROLL
                  </p>

                  <div class="d-flex justify-content-start">
                    <span class="pe-2">
                      <i class="fa-solid fa-calendar-days pe-2"></i>
                      Pay Date
                    </span>
                    <div class="fw-bold">
                      {{selectedPayrollDetail != null ? selectedPayrollDetail.ProcessOn: ""}}
                    </div>
                  </div>
                </div>

                <div class="d-flex justify-content-between">
                  <div>
                    <div class="card-box">
                      {{selectedPayrollDetail != null ? (selectedPayrollDetail.TotalPayableToEmployees +
                      selectedPayrollDetail.TotalPFByEmployer + selectedPayrollDetail.TotalProfessionalTax) : "0.00"}}
                    </div>
                    <span class="fw-bold">
                      <i class="pe-1 fa-solid fa-indian-rupee-sign"></i>
                      Total Payroll coat
                    </span>
                  </div>
                  <div>
                    <div class="card-box">
                      {{selectedPayrollDetail != null ? selectedPayrollDetail.EmployeeCount : "0"}} /
                      {{selectedPayrollDetail != null ? selectedPayrollDetail.TotalEmployees : "0"}}
                    </div>
                    <span class="fw-bold">
                      <i class="fa-solid fa-users-gear pe-2"></i>
                      Employees
                    </span>
                  </div>
                  <div class="d-flex flex-column justify-content-end">
                    <div class="card-box">
                      {{selectedPayrollDetail == null ? "Not Run" : selectedPayrollDetail.PayrollStatus == 15 ? "Processing" : "Done"}}
                    </div>
                    <span>
                      <i class="fa-solid fa-list-check pe-2"></i>
                      Processed Status
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="fe-2">
            <div class="ps-2 fw-bold c-title">Calculation</div>
            <div class="bt-card bt-card-hight px-4 py-3 justify-content-between">
              <div class="w-100">
                <p class="mb-3">
                  PAYROLL
                  <span class="ps-2">
                    (
                    Amount in INR <i class="ps-1 fa-solid fa-indian-rupee-sign"></i>
                    )
                  </span>
                </p>

                <div class="d-flex flex-column justify-content-end">
                  <table>
                    <tbody>
                      <tr>
                        <td>Paid To Employee</td>
                        <td>
                          INR {{selectedPayrollDetail != null ? selectedPayrollDetail.TotalPayableToEmployees : "0.00"}}
                        </td>
                      </tr>
                      <tr>
                        <td>Total Deduction</td>
                        <td>
                          INR {{selectedPayrollDetail != null ? (selectedPayrollDetail.TotalDeduction + selectedPayrollDetail.TotalPFByEmployee + selectedPayrollDetail.TotalProfessionalTax) : "0.00"}}
                        </td>
                      </tr>
                      <tr>
                        <td>Employer Contribution</td>
                        <td>
                          INR {{selectedPayrollDetail != null ? selectedPayrollDetail.TotalPFByEmployer : "0.00"}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <a href="javaascript:void(0)" class="text-decoration-none">
            <div class="d-flex align-items-center">
              <h5 class="fw-bold me-3 mb-0">Run Payroll</h5>
              <ng-container *ngIf="!this.allRunPayroll.RunPayrollFinalize">
                <div class="col-md-8">
                  <p class="mb-0"><ngb-progressbar type="success"
                      [value]="this.allRunPayroll.completedValue"></ngb-progressbar></p>
                </div>
                <p class="fw-bold ms-3 mb-0">{{this.allRunPayroll.completedValue / 16.66 > 6 ? 6 :
                  this.allRunPayroll.completedValue / 16.66}} to 6 steps completed</p>
              </ng-container>
              <ng-container *ngIf="this.allRunPayroll.RunPayrollFinalize">
                <span class="badge text-bg-primary text-normal">Finalize</span>
                <span class="ps-1">(On {{submittedPayrollDate | date}} by {{userName}})</span>
              </ng-container>
            </div>
          </a>
        </div>
        <div class="mt-3 me-4 text-end">
          <button class="btn btn-outline-primary" *ngIf="!this.allRunPayroll.RunPayrollFinalize" [disabled]="isLoading || selectedPayrollDetail == null || selectedPayrollDetail.ProcessingStatus == 0"
            (click)="previewPayroll()">
            <i class="fa-solid" [ngClass]="{'fa-spinner fa-spin': isLoading, 'fa-gear': !isLoading}"></i>
            <span class="ps-2">{{ isLoading ? "Wait" : "Preview Run Payroll" }}</span>
          </button>
          <button class="btn btn-primary-c ms-2" *ngIf="!this.allRunPayroll.RunPayrollFinalize" [disabled]="isLoading || selectedPayrollDetail == null || selectedPayrollDetail.ProcessingStatus == 0"
            (click)="finalizePayrollPopUp()">
            <i class="fa-solid" [ngClass]="{'fa-spinner fa-spin': isLoading, 'fa-indian-rupee-sign': !isLoading}"></i>
            <span class="ps-2">{{ isLoading ? "Wait" : "Start Payroll" }}</span>
          </button>
        </div>
        <div class="col-md-12">
          <div class="ps-2 fw-bold c-title">Payroll Outcome</div>
          <div class="bt-card bt-card-hight px-4 py-3 justify-content-between">
            <div class="col-md-8">
              <div class="w-100">
                <div class="d-flex justify-content-between">
                  <div class="col-md-9">
                    <div class="mb-3">
                      <i class="pe-2 fa-solid fa-indian-rupee-sign"></i>
                      Employee Payables
                    </div>
                    <div class="d-flex justify-content-between">
                      <div>
                        <div class="card-box">
                          INR {{selectedPayrollDetail != null ? selectedPayrollDetail.TotalPayableToEmployees : "0.00"}}
                        </div>
                        <span class="fw-bold">
                          <i class="pe-1 fa-solid fa-indian-rupee-sign"></i>
                          BANK TRANSFER
                        </span>
                      </div>
                      <div>
                        <div class="card-box">0</div>
                        <span class="fw-bold">
                          <i class="pe-1 fa-solid fa-indian-rupee-sign"></i>
                          CHEQUES
                        </span>
                      </div>
                      <div>
                        <div class="card-box">0</div>
                        <span class="fw-bold">
                          <i class="pe-1 fa-solid fa-indian-rupee-sign"></i>
                          CASH
                        </span>
                      </div>
                      <div>
                        <div class="card-box">
                          INR {{selectedPayrollDetail != null ? selectedPayrollDetail.TotalPayableToEmployees : "0.00"}}
                        </div>
                        <span class="fw-bold">
                          <i class="pe-1 fa-solid fa-indian-rupee-sign"></i>
                          TOTAL
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex align-items-start flex-column">
                    <a href="javascript:void(0)" class="text-decoration-none py-2">
                      <i class="fa-regular fa-rectangle-list pe-1"></i> View Pay Register
                    </a>
                    <a href="javascript:void(0)" class="text-decoration-none py-2">
                      <i class="fa-solid fa-list pe-1"></i> Manage PaySlip
                    </a>
                    <a href="javascript:void(0)" class="text-decoration-none py-2">
                      <i class="fa-solid fa-money-bill-1 pe-1"></i>Manage Payment
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-auto border-start"></div>
            <div class="col-md-3">
              <div class="w-100">
                <div class=" mb-3">
                  <i class="pe-2 fa-solid fa-indian-rupee-sign"></i>
                  Income Tax TDS
                </div>
                <div class="d-flex justify-content-between">
                  <div>
                    <div class="card-box">
                      INR {{selectedPayrollDetail != null ? selectedPayrollDetail.TotalDeduction : "0.00"}}
                    </div>
                    <span class="fw-bold">
                      <i class="pe-1 fa-solid fa-indian-rupee-sign"></i>
                      TDS PAYABLE
                    </span>
                  </div>
                  <div>
                    <div class="card-box">
                      {{selectedPayrollDetail != null ? selectedPayrollDetail.EmployeeCount : "0"}}
                    </div>
                    <span class="fw-bold">
                      <i class="fa-solid fa-users-gear pe-2"></i>
                      Employees
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="bt-card bt-card-hight px-4 py-3 justify-content-between">
                <div class="w-100">
                  <div class=" mb-3">
                    <i class="pe-2 fa-solid fa-indian-rupee-sign"></i>
                    PF
                  </div>
                  <div class="d-flex justify-content-between">
                    <div>
                      <div class="card-box">
                        {{selectedPayrollDetail != null ? selectedPayrollDetail.TotalPFByEmployee : "0"}}
                      </div>
                      <span class="fw-bold">
                        <i class="pe-1 fa-solid fa-indian-rupee-sign"></i>
                        EMPLOYEE SHARE
                      </span>
                    </div>
                    <div>
                      <div class="card-box">
                        {{selectedPayrollDetail != null ? selectedPayrollDetail.TotalPFByEmployer : "0"}}
                      </div>
                      <span class="fw-bold">
                        <i class="pe-1 fa-solid fa-indian-rupee-sign"></i>
                        EMPLOYER SHARE
                      </span>
                    </div>
                    <div>
                      <div class="card-box">0</div>
                      <span class="fw-bold">
                        <i class="pe-1 fa-solid fa-indian-rupee-sign"></i>
                        OTHER CHARGES
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="bt-card bt-card-hight px-4 py-3 justify-content-between">
                <div class="w-100">
                  <div class=" mb-3">
                      <i class="pe-2 fa-solid fa-indian-rupee-sign"></i>
                      Professional Tax
                  </div>
                  <div class="d-flex justify-content-between">
                    <div>
                      <div class="card-box">
                        {{selectedPayrollDetail != null ? selectedPayrollDetail.TotalProfessionalTax : "0"}}
                      </div>
                      <span class="fw-bold">
                        <i class="pe-1 fa-solid fa-indian-rupee-sign"></i>
                        TAX PAYABLE
                      </span>
                    </div>
                    <div>
                      <div class="card-box">
                        {{selectedPayrollDetail != null ? selectedPayrollDetail.EmployeeCount : "0"}}
                      </div>
                      <span class="fw-bold">
                        <i class="fa-solid fa-users-gear pe-2"></i>
                        NUMBER OF EMPLOYEES
                      </span>
                    </div>
                    <div>
                      <div class="card-box">West Bengal</div>
                      <span class="fw-bold">
                        <i class="pe-1 fa-solid fa-indian-rupee-sign"></i>
                        STATES
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<!-- Conform Payroll Modal -->
<div class="modal fade" id="confirmPayrollFinalize" tabindex="-1" aria-labelledby="confirmPayrollFinalizeLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h1 class="modal-title fs-5" id="confirmPayrollFinalizeLabel">Confirm Payroll Finalize</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Whe you finalize payroll, you can no longer make any chnages to payroll reviews screens such as leave, salary
          chnages. Please ensure all
          reviews are done right before finalizing the Payroll.
        </p>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" [disabled]="isLoading" data-bs-dismiss="modal">Close</button>
        <button [disabled]="isLoading" class="btn btn-primary-c" (click)="finalizePayroll()">
          <i [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading, 'fa-regular fa-floppy-disk': !isLoading}"></i>
          <span class="ps-2">{{isLoading ? "Wait" : "Finalize Payroll"}}</span>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End -->
