<div class="col-md-12 main-container">
    <div class="x_panel">
        <div class="x_header">
            <div class="x_header_title">
                <h2>Upload Files <small>Add files</small>
                </h2>
                <div class="float-end d-inline create-link">
                    <button class="btn btn-outline-success btn-sm"> <i class="fa fa-plus-square-o me-1"
                            aria-hidden="true"></i>Add File</button>
                    <button class="btn btn-outline-primary btn-sm ms-2"><i class="fa fa-upload me-2"
                            aria-hidden="true"></i>Upload bulk files
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-12 p-0">
            <div class="x_content">
                <div class="x_header_title">
                    <h5>Available Candidates
                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#myModal"><i class="ms-4 fa fa-upload"></i></a>
                    </h5>
                </div>

                <div class="mb-4 row m-0">
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" (keyup.enter)="globalFilter()" placeholder="Search by any: (Name, Mobile, Email And Title)" [(ngModel)]="anyFilter">
                    </div>
                    <div class="col-md-3 text-end">
                        <button class="btn btn-primary filter-btn-grp btn-sm" (click)="globalFilter()">
                            <i class="fa fa-filter me-1"></i> Filter
                        </button>
                        <button class="btn btn-outline-danger filter-btn-grp btn-sm ms-2" (click)="resetFilter()">
                            <i class="fa fa-repeat"></i> Reset filter
                        </button>
                    </div>
                </div>
                <ng-container *ngIf="isRecordAvailable">
                  <div class="border">
                      <div class="tb-scroll">
                          <table class="table table-striped table-hover">
                              <thead>
                                  <tr>
                                      <th width="1%">
                                        <div class="col-title">
                                            #
                                        </div>
                                      </th>
                                      <th width="20%">
                                          <input class="form-control table-filter-control" (keyup.enter)="filterRecords()" [(ngModel)]="resumeFile.Name" placeholder="Search by Name">
                                          <div class="col-title">
                                              Name
                                          </div>
                                      </th>
                                      <th width="8%">
                                          <input class="form-control table-filter-control" (keyup.enter)="filterRecords()" [(ngModel)]="resumeFile.Phone_Number" placeholder="Mobile No">
                                          <div class="col-title">
                                              Mobile
                                          </div>
                                      </th>
                                      <th width="15%">
                                          <input class="form-control table-filter-control" (keyup.enter)="filterRecords()" [(ngModel)]="resumeFile.Email_ID" placeholder="Search by Email Id">
                                          <div class="col-title">
                                              Email
                                          </div>
                                      </th>
                                      <th width="9%">
                                          <input class="form-control table-filter-control">
                                          <div class="col-title">
                                              Speciality
                                          </div>
                                      </th>
                                      <th width="10%">
                                          <input class="form-control table-filter-control" (keyup.enter)="filterRecords()" [(ngModel)]="resumeFile.Job_Title" placeholder="By Job Title">
                                          <div class="col-title">
                                              Title
                                          </div>
                                      </th>
                                      <th width="9%">
                                          <input class="form-control table-filter-control" (keyup.enter)="filterRecords()" [(ngModel)]="resumeFile.Preferred_Locations" placeholder="By Location">
                                          <div class="col-title">
                                              Location
                                          </div>
                                      </th>
                                      <th width="7%">
                                          <input class="form-control table-filter-control" (keyup.enter)="filterRecords()" [(ngModel)]="resumeFile.Total_Experience" placeholder="By Exp">
                                          <div class="col-title">
                                          Exp (mo)
                                          </div>
                                      </th>
                                      <th width="8%">
                                          <input class="form-control table-filter-control" (keyup.enter)="filterRecords()" [(ngModel)]="resumeFile.Notice_Period" placeholder="Notice Period">
                                          <div class="col-title">
                                              Notice Period
                                          </div>
                                      </th>
                                      <th width="8%">
                                          <button (click)="filterRecords()" class="btn btn-primary srch-btn"><i class="fa fa-search pr-2"></i>
                                              Search
                                          </button>
                                          <div class="col-title">
                                              Action
                                          </div>
                                      </th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <ng-container *ngFor="let item of resumeFiles">
                                      <tr>
                                          <td>{{item.UserId}}</td>
                                          <td><a (click)="EditCurrent(user)" >{{item.Name}}</a>
                                              <div class="float-end">
                                                  <a href=""><span (click)="EditCurrent(user)" class="badge bg-primary">
                                                      <i class="fa fa-pencil-square-o"></i>
                                                  </span></a>
                                              </div>
                                          </td>
                                          <td>{{item.Phone_Number}}</td>
                                          <td>{{item.Email_ID}}</td>
                                          <td>SKILLS
                                              <div class="float-end ms-1">
                                                  <a href="">
                                                      <span class="badge bg-primary"><i (click)="EditCurrent(user)" class="fa fa-code"></i>&nbsp; 5</span>
                                                  </a>
                                              </div>
                                          </td>
                                          <td>{{item.Job_Title}}</td>
                                          <td>NA</td>
                                          <td>{{item.Total_Experience}}</td>
                                          <td>{{item.Notice_Period}}</td>
                                          <td>
                                              <div class="d-flex flex-row justify-content-around">
                                                  <a href="">
                                                      <span class="badge bg-dark">
                                                          <i class="fa fa-cog" aria-hidden="true" (click)="DeleteCurrent(user.FileUid)"></i>
                                                      </span>
                                                  </a>
                                                  <a href="javascript:void(0)" (click)="AddEditDocuments(item)">
                                                    <span class="badge bg-dark">
                                                        <i class="fa fa-folder" aria-hidden="true"></i>
                                                    </span>
                                                  </a>
                                                  <a href="">
                                                      <span class="badge bg-info ms-1">
                                                        <input type="file" id="browsfile" multiple class="d-none" (change)="GetDocumentFile($event)"/>
                                                        <i class="fa fa-cloud-upload" aria-hidden="true" (click)="uploadResume()"></i>
                                                      </span>
                                                  </a>
                                              </div>
                                          </td>
                                      </tr>
                                  </ng-container>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <div class="mt-3">
                    <app-pagination [pagination]="candidatesData" (onPageChange)="GetFilterResult($event)"></app-pagination>
                  </div>
                </ng-container>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal" id="myModal" >
            <div class="modal-dialog modal-fullscreen p-4">
              <div class="modal-content rounded-3">

                <!-- Modal Header -->
                <div class="modal-header" *ngIf="expandedTable">
                  <h4 class="modal-title">Upoad ExcelFile</h4>
                  <button type="button" class="btn-close" (click)="closeModal()" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body row overflow-hidden" *ngIf="expandedTable">
                    <div class="col-md-4 x_content fade show" id="upload-container">
                        <div class="">
                            <input type="file" id="uploadexcel" (change)="readExcelData($event)" class="d-none" *ngIf="isUploadFile"
                                accept=".xlx, .xlsx" />
                            <div class="page-card">
                                <div class="card">
                                    <div class="col-md-12 p-0">
                                        <div class="table-responsive">
                                            <div class="tab-pane fade show active" id="home" role="tabpanel"
                                                aria-labelledby="home-tab">
                                                <div role="tabpanel" class="active in mt-4 ps-4 pe-4" id="tab_content1"
                                                    aria-labelledby="home-tab">
                                                    <div id="classmasterdata" class="col-md-12">
                                                        <div name="ifilezone" class="ifilezone mb-4"
                                                            (click)="fireBrowserFile()">
                                                            <div *ngIf="!isFileReady">
                                                                <span
                                                                    style="color: darkgray;margin-top: 9rem;display: block;">
                                                                    Drop files here.
                                                                </span>
                                                            </div>
                                                            <div class="col-md-12 solid-bg justify-content-center" *ngIf="isFileReady" name="uploading">
                                                                <img src="assets/img/ExcelFile.png" />
                                                                <div class="filetitle">
                                                                    File:
                                                                    <div name="filename"
                                                                        style="display: inline-block !important;">
                                                                        {{ fileName }}
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    File size: &nbsp;
                                                                    <div name="filesize"
                                                                        style="display: inline-block !important;">
                                                                        {{ fileSize }}
                                                                    </div>
                                                                    KB
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mt-3 solid-bg pt-2 ps-3 pb-3 rounded">
                            <div class="filetitle text-center">Upload File Details</div>
                            <div *ngIf="isFileReady">
                                <div class="fw-bold">
                                    File:
                                    <div name="filename"
                                        style="display: inline-block !important;">
                                        {{ fileName }}
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        File size: &nbsp;
                                        <div name="filesize"
                                            style="display: inline-block !important;">
                                            {{ fileSize }}
                                        </div>
                                        KB
                                    </div>
                                    <div>
                                        No. of record(s): &nbsp;
                                        <div name="noofrecords"
                                            style="display: inline-block !important;">
                                            <!-- {{ noOfRecords }} -->
                                            {{tableConfiguration.data.length}}
                                        </div>
                                    </div>
                                    <div>
                                        File type: &nbsp;
                                        <div name="uploadingdatetime"
                                            style="display: inline-block !important;">
                                            {{ file.type }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="!isFileReady">
                                <div class="fw-bold">
                                    File: NA
                                </div>
                                <div>
                                    <div>
                                        File size: &nbsp; NA
                                    </div>
                                    <div>
                                        No. of record(s): &nbsp; NA
                                    </div>
                                    <div>
                                        File type: &nbsp; NA
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4">
                                <button type="button" class="btn btn-primary me-2" (click)="uploadExcelSheet($event)" [disabled]="isDiasble">
                                    <i class="fa fa-upload pe-2" aria-hidden="true"></i>Upload selected excel data
                                </button>
                                <button type="button" class="btn btn-outline-info" (click)="cleanFileHandler()" [disabled]="isDiasble">
                                    <i class="fa fa-eraser pe-2"></i> Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 pb-4">
                        <div class="x_content">
                            <div class="x_header_title">
                                <div>
                                    <h5 class="d-inline">Uploaded Records</h5>
                                    <p *ngIf="!isAvailable" class="sample-note float-end"><i class="fa fa-dot-circle-o me-2"></i> Upload correct format of excel sheet. <a href="javascript:void(0)">Click to download the sample.</a></p>
                                    <span *ngIf="isAvailable" class="d-inline">
                                        <ul class="d-inline-block">
                                            <li class="ms-2 mt-1">On top of every header one dropdown will be there for column mapping.</li>
                                        </ul>
                                        <a class="float-end" href="javascript:void(0)" (click)="expandTable()">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                    </span>
                                </div>

                                <div class="mt-4 border card p-5 uplod-message-container" *ngIf="!isAvailable">
                                    <label for="" class="fw-bold">
                                        Your uploaded file's converted tabal will be dispaly in this section.
                                    </label>
                                    <ul class="ms-5 mt-1">
                                        <li class="mt-1">Table and excel header will be same.</li>
                                        <li class="mt-1">On top of every header one dropdown will be there for column mapping.</li>
                                        <li class="mt-1">Select dropdown to map your value with the application level header.</li>
                                    </ul>
                                </div>
                            </div>
                            <div *ngIf="isAvailable">
                                <div class="uploada-data-scroll">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th class="col-min-width" *ngFor="let header of tableConfiguration.header">
                                                    <select class="form-select header-btn" aria-label="Default select example">
                                                        <option selected>Select Header</option>
                                                        <option *ngFor="let item of columns" value="item.DbName">{{item.Title}}</option>
                                                    </select>
                                                    <div class="mt-2">{{header.ColumnName}}</div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let data of tableConfiguration.data">
                                                <tr>
                                                    <ng-container *ngFor="let header of tableConfiguration.header">
                                                        <td>
                                                          <div class="wrap-content">
                                                            {{data[header.ColumnName]}}
                                                          </div>
                                                        </td>
                                                    </ng-container>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="mt-3">
                                  <app-pagination [pagination]="uploadedCandidatesData" (onPageChange)="changeUploadedRecords($event)"></app-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal-body" *ngIf="!expandedTable">
                    <div class="col-md-12 p-0">
                        <div class="x_content">
                            <div class="x_header_title">
                                <div>
                                    <h5 class="d-inline">Uploaded Records</h5>
                                    <span>
                                        <ul class="d-inline-block">
                                            <li class="ms-2 mt-1">On top of every header one dropdown will be there for column mapping.</li>
                                        </ul>
                                    </span>
                                    <button type="button" class="btn-close float-end" (click)="closeExpandModel()"></button>
                                </div>
                            </div>
                            <div *ngIf="isAvailable" class="expand-modal-scroll">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="col-min-width" *ngFor="let header of tableConfiguration.header">
                                                <select class="form-select header-btn" aria-label="Default select example">
                                                        <option selected>Select Header</option>
                                                        <option *ngFor="let item of columns" value="item.DbName">{{item.Title}}</option>
                                                </select>
                                                <div class="mt-2">{{header.ColumnName}}</div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let data of tableConfiguration.data">
                                            <tr>
                                                <ng-container *ngFor="let header of tableConfiguration.header">
                                                    <td>{{data[header.ColumnName]}}</td>
                                                </ng-container>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                            <div class="mt-3">
                              <app-pagination [pagination]="paginationData" (onPageChange)="displayActivePage($event)"></app-pagination>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
