.circle {
    position: relative;
    background: #8cc63e;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}
  
.checkmark {
    position: absolute;
    transform: rotate(45deg) translate(-50%, -50%);
    left: 25%;
    top: 48%;
    height: 9px;
    width: 5px;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
}

.declaration-bg {
    background: #d2d4d5;
    padding: 0.52rem 8px;
}

.upload-document-container {
    background: #c1e2f28f;
    border: 2px solid #85cef2fa;
    border-style: dashed;
}

.attachment-popup {
    z-index: 99999 !important;
    background: #0000008a !important;
}
