<div class="col-12 full-v main-container">
  <div class="col-12 x_panel p-0 m-0">
    <app-breadcrums></app-breadcrums>
    <div class="right-panel col-md-12 p-0">
      <ng-container>
        <div class="container-fluid pt-4">
          <div class="uc-page text-center d-flex flex-column justify-content-center">
            <div class="text-center">
              <img src="../../../assets/images/uc.jpg">
            </div>
            <blockquote class="mt-4 blockquote text-center">
              <p>
                Welcome to HIRINGBELL online account and HRM management system.
                This page is under construction.
              </p>
              <footer class="blockquote-footer">Powered By: <cite title="Source Title">BottomHalf Pvt. Ltd.</cite>
              </footer>
            </blockquote>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
