<div class="col-md-12 main-container">
  <ng-container *ngIf="isEmpPageReady">
    <div class="col-12 u-header curren-bg row m-0">
      <div class="col-md-3">
        <div class="d-inline-block c-tab" id="emp-tab">
          <a class="a-tab" [ngClass]="{'tab-active': isActiveTab.Active}" (click)="SwitchTab($event, 1)">
            Active
          </a>
          <a class="a-tab" [ngClass]="{'tab-active': isActiveTab.InActive}" (click)="SwitchTab($event, 0)">
            InActive
          </a>
          <a class="a-tab" [ngClass]="{'tab-active': isActiveTab.All}" (click)="SwitchTab($event, -1)">
            All
          </a>
        </div>
      </div>
      <div class="col-md-7 pt-2 row m-0">
        <div class="col-md-10">
          <input type="text" class="form-control form-control-sm" (keydown.esc)="resetFilter()"
            (keyup.enter)="globalFilter()" placeholder="Search by any: (Name, Mobile, Email And Title)"
            [(ngModel)]="anyFilter">
        </div>
        <div class="col-md-2">
          <button class="btn btn-sm btn-primary filter-btn-grp" (click)="globalFilter()" (keydown.esc)="resetFilter()">
            <i class="fa fa-filter"></i>
          </button>
          <button class="btn btn-sm btn-danger filter-btn-grp ms-2" (click)="resetFilter()">
            <i class="fa fa-repeat"></i>
          </button>
        </div>
      </div>

      <div class="col-md-2 inline-row d-r p-0 m-0">
        <div class="pt-1">
          <button class="btn btn-sp btn-sm btn-lightorange" [routerLink]="['/' + manageEmployeeRouteName]"
            routerLinkActive="router-link-active"> <i class="fa fa-plus-square-o ms-1" aria-hidden="true"></i>
            Add Employee
          </button>
        </div>
      </div>
    </div>
    <div class="x_panel">
      <div class="x_header">
        <div class="x_header_title">
          <h2>Employee detail <small>Add or update details</small>
          </h2>
        </div>
      </div>

      <app-breadcrums></app-breadcrums>
      <div class="x_content">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th width="1%">#</th>
              <th>
                <input class="form-control form-control-sm" (keydown.esc)="resetFilter()"
                  (keyup.enter)="filterRecords()" [(ngModel)]="employeeDetails.Name" placeholder="Search by Name">
                <div class="col-title">
                  Full Name
                </div>
              </th>
              <th width="14%">
                <input class="form-control  form-control-sm" (keyup.enter)="filterRecords()"
                  (keydown.esc)="resetFilter()" [(ngModel)]="employeeDetails.Mobile"
                  placeholder="Search by MobileNumber">
                <div class="col-title">
                  Mobile Number
                </div>
              </th>
              <th width="15%">
                <input class="form-control  form-control-sm" (keyup.enter)="filterRecords()"
                  (keydown.esc)="resetFilter()" [(ngModel)]="employeeDetails.Email" placeholder="Search by Email">
                <div class="col-title">
                  Email id
                </div>
              </th>
              <th width="12%" class="text-center">
                <button (click)="filterRecords()" class="btn btn-primary btn-sm"><i class="fa fa-search pr-2"></i>
                  Search
                </button>
                <div class="col-title">
                  Action
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of employeeDetail">
              <td>{{user.EmployeeUid}}</td>
              <td>
                <a (click)="EditCurrent(user)">{{user.FirstName}} {{user.LastName}}</a>
                <div class="float-end">
                  <a><span class="badge bg-primary fa fa-building-o"> &nbsp; 5</span></a>
                  <a class="ms-3" (click)="goToAttendancePage(user)">
                    <span class="text-sm-left text-muted">Attendance</span>
                    <span class="ms-2 badge bg-success">
                      <i class="fa fa-id-badge"></i>
                    </span>
                  </a>
                  <span class="badge bg-danger ms-3">3</span>
                </div>
              </td>
              <td>{{user.Mobile}}</td>
              <td>{{user.Email}}</td>
              <td>
                <div class="d-flex flex-row justify-content-evenly">
                  <a href="javascript:void(0)">
                    <span class="badge bg-primary"><i class="fa fa-file-o" aria-hidden="true"
                        (click)="ViewFiles(user)"></i></span>
                  </a>
                  <a href="javascript:void(0)">
                    <span class="badge bg-dark"><i class="fa fa-folder" aria-hidden="true"
                        (click)="AddEditDocuments(user)"></i></span>
                  </a>
                  <a href="javascript:void(0)">
                    <span class="badge bg-danger"><i class="fa fa-trash-o" aria-hidden="true"
                        (click)="CreatePopup(user)"></i></span>
                  </a>
                  <!-- <a href="javascript:void(0)">
                    <span class="badge bg-danger"><i class="fa fa-trash-o" aria-hidden="true"
                        *ngIf="isActiveEmployee == 0" (click)="CreatePopup(user)"></i></span>
                  </a> -->
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="mt-3">
        <app-pagination [pagination]="employeeData" (onPageChange)="GetFilterResult($event)"></app-pagination>
      </div>
    </div>
  </ng-container>
</div>
<!-- add update detail modal -->

<div class="modal" id="addupdateModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Or Update</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body f-12">
        <div class="col-md-12">
          <div [formGroup]="documentForm" class="col-md-12 row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="">Entry Name</label>
                <input type="text" name="Title" formControlName="Title" class="form-control">
              </div>
              <div class="form-group">
                <label for="">Description</label>
                <textarea name="Description" rows="3" name="Description" formControlName="Description"
                  class="form-control"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        <button class="btn btn-primary" [disabled]="isLoading" (click)="CreateDocument()">
          <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-check': !isLoading}"></i>
          {{ isLoading ? 'Processing' : 'Submit' }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Active and Deactive  Model -->
<div class="modal fade" id="deleteEmployee" tabindex="-1" role="dialog" aria-labelledby="deleteTitleTitle"
  aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-bold text-dark" id="exampleModalLongTitle" *ngIf="isActiveEmployee != 0">Are
          you want to delete the
          Employee
        </h5>
        <h5 class="modal-title font-weight-bold text-dark" id="exampleModalLongTitle" *ngIf="isActiveEmployee == 0">Are
          you want to active the
          Employee
        </h5>
      </div>
      <div class="modal-body">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">
                <div class="col-title">
                  Full Name
                </div>
              </th>
              <th scope="col">
                <div class="col-title">
                  Mobile No.#
                </div>
              </th>
              <th scope="col">
                <div class="col-title">
                  Email
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{singleEmployee?.FirstName}} {{singleEmployee?.LastName}}</td>
              <td>{{singleEmployee?.Mobile}}</td>
              <td>{{singleEmployee?.Email}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <a href="javascript:void(0)" (click)="ClosePopup()" class="text-decoration-none btn-light pe-3"
          data-dismiss="modal">Cancel</a>
        <a href="javascript:void(0)" (click)="DeleteCurrent(singleEmployee)" *ngIf="isActiveEmployee != 0"
          class="text-decoration-none btn-light text-primary">Delete</a>
        <a href="javascript:void(0)" (click)="DeactivatedEmployee(singleEmployee)" *ngIf="isActiveEmployee == 0"
          class="text-decoration-none btn-light text-primary">Activate</a>
      </div>
    </div>
  </div>
</div>
