<div class="col-md-12 main-container" [ngClass]="{'preload': !isEmpPageReady}">
  <div class="col-12 u-header curren-bg row m-0 my-3 align-items-center">
    <div class="col-auto">
      <div class="d-inline-block c-tab" id="emp-tab">
        <a class="a-tab" [ngClass]="{'tab-active': isActiveTab.Active}" (click)="SwitchTab($event, 1)">
          Active
        </a>
        <a class="a-tab" [ngClass]="{'tab-active': isActiveTab.InActive}" (click)="SwitchTab($event, 0)">
          InActive
        </a>
        <!-- <a class="a-tab" [ngClass]="{'tab-active': isActiveTab.All}" (click)="SwitchTab($event, -1)">
          Allsss
        </a> -->
      </div>
    </div>
    <div class="col-md-2 ms-3">
      <select class="form-select" (change)="filterRecords()" (keydown.esc)="resetFilter()" [(ngModel)]="companyId">
        <option value=0 selected>All</option>
        <option [value]="item.CompanyId" *ngFor="let item of companies">{{item.CompanyName}}</option>
      </select>
    </div>
    <div class="col-md-2 inline-row d-r p-0 m-0 text-start">
        <button class="btn btn-sp btn-lightorange" (click)="navtoAddEmp()"
          routerLinkActive="router-link-active"> <i class="fa-regular fa-square-plus ms-1" aria-hidden="true"></i>
          Add Employee
        </button>
    </div>
    <div class="col-md-5 align-items-center justify-content-end row m-0 ms-auto p-0 text-end">
      <div class="col-md-9">
        <input type="text" class="form-control form-control-sm" (keydown.esc)="resetFilter()"
          (keyup.enter)="globalFilter()" placeholder="Search by any: (Name, Mobile, Email And Title)"
          [(ngModel)]="anyFilter">
      </div>
      <div class="col-auto">
        <button class="btn  btn-primary-c" (click)="globalFilter()" (keydown.esc)="resetFilter()">
          <i class="fa-solid fa-filter"></i>
        </button>
        <button class="btn btn-danger ms-1" (click)="resetFilter()">
          <i class="fa-solid fa-arrow-rotate-right"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="x_panel">
    <div class="x_header">
      <div class="d-flex justify-content-between">
        <div class="col-8">
          <div class="px-1">
            <app-breadcrums [title]="'Employee detail'" [subtitle]="'Add or update details'"></app-breadcrums>
          </div>
        </div>
        <div class="col-4 text-end">
          <!-- <a href="javascript:void(0)" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="right" title="export as pdf">
            <i class="fa-regular fa-file-pdf fa-lg"></i>
          </a> -->
          <a href="{{downlodexcelFilePath}}" class="d-none" id="downloadexistingfiled"></a>
          <a href="javascript:void(0)" class="text-success ms-3" (click)="exportData(2)" data-bs-toggle="tooltip" data-bs-placement="right" title="export as excel">
            <i class="fa-regular fa-file-excel fa-lg"></i>
          </a>
        </div>
      </div>
    </div>
    <div [ngSwitch]="isEmpPageReady">
      <div *ngSwitchCase="false">
        <div class="mt-5">
          <app-pre-load-table></app-pre-load-table>
        </div>
      </div>
      <div *ngSwitchDefault>
        <ng-container>
          <div class="x_content">
            <div class="t-table t-list col-md-12">
              <div class="hide-bar"></div>
              <div class="t-head">
                <div class="tr">
                  <div class="th fe-5">
                    <div class="cell-wrapper">
                      <input class="form-control form-control-sm" (keydown.esc)="resetFilter()"
                        (keyup.enter)="filterRecords()" autofocus [(ngModel)]="employeeDetails.Name"
                        placeholder="Search by Name" id="namefilter">
                      <div class="t-filter" (click)="arrangeDetails(orderByNameAsc, 'FirstName')">
                        <a href="javascript:void()" class="pe-2">Full Name</a>
                        <i class="fa-solid fa-arrow-down-wide-short"
                          [ngClass]="{'d-none': orderByNameAsc == null || !orderByNameAsc }" aria-hidden="true"></i>
                        <i class="fa-solid fa-arrow-down-short-wide"
                          [ngClass]="{'d-none': orderByNameAsc == null || orderByNameAsc }" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="th fe-2">
                    <div class="cell-wrapper">
                      <input class="form-control  form-control-sm" (keyup.enter)="filterRecords()"
                        (keydown.esc)="resetFilter()" [(ngModel)]="employeeDetails.Mobile"
                        placeholder="Search by MobileNumber">
                      <div class="t-filter" (click)="arrangeDetails(orderByMobileAsc, 'Mobile')">
                        <a href="javascript:void()" class="pe-2">Mobile Number</a>
                        <i class="fa-solid fa-arrow-down-wide-short"
                          [ngClass]="{'d-none': orderByMobileAsc == null || !orderByMobileAsc }" aria-hidden="true"></i>
                        <i class="fa-solid fa-arrow-down-short-wide"
                          [ngClass]="{'d-none': orderByMobileAsc == null || orderByMobileAsc }" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="th fe-3">
                    <div class="cell-wrapper">
                      <input class="form-control  form-control-sm" (keyup.enter)="filterRecords()"
                        (keydown.esc)="resetFilter()" [(ngModel)]="employeeDetails.Email" placeholder="Search by Email">
                      <div class="t-filter" (click)="arrangeDetails(orderByEmailAsc, 'Email')">
                        <a href="javascript:void()" class="pe-2">Email Id</a>
                        <i class="fa-solid fa-arrow-down-wide-short"
                          [ngClass]="{'d-none': orderByEmailAsc == null || !orderByEmailAsc }" aria-hidden="true"></i>
                        <i class="fa-solid fa-arrow-down-short-wide"
                          [ngClass]="{'d-none': orderByEmailAsc == null || orderByEmailAsc }" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="th fe-1 text-center">ACTIONS</div>
                </div>
              </div>
              <div class="t-body">
                <ng-container *ngIf="isFileFound">
                  <div class="tr py-2" *ngFor="let user of employeeDetail; let i = index;">
                    <div class="td align-middle fe-5">
                      <div class="cell-wrapper">
                        <div class="col-auto d-inline-block rounded-circle">
                          <img [src]="user.ProfilePath" alt="profile" class="rounded-circle user-profile">
                        </div>
                        <a href="javascript:void(0)" class="ps-2" (click)="EditCurrent(user)">{{user.FirstName}}
                          {{user.LastName}}
                          <small class="text-muted text-decoration-none ps-2">
                            [Id: {{user.EmployeeUid}}]
                          </small>
                        </a>
                        <div class="float-end">
                          <a href="javascript:void(0)"  data-bs-toggle="tooltip" (click)="goToPerformancePage(user)"
                            data-bs-placement="right" title="View Employee Performance"><span class="badge bg-secondary me-3"><i
                                class="fa-solid fa-chart-column  user-edit-icon"></i></span></a>
                          <a href="javascript:void(0)" (click)="editProfile(user)" data-bs-toggle="tooltip"
                            data-bs-placement="right" title="View Profile">
                            <span class="badge bg-dark me-3">
                              <i class="fa-solid fa-user user-edit-icon"></i>
                            </span>
                          </a>
                          <a href="javascript:void(0)"><span class="badge bg-primary fa-regular fa-building user-edit-icon"
                              data-bs-toggle="tooltip" data-bs-placement="right"
                              title="{{user.FirstName}} {{user.LastName}} is associated with {{user.ClientJson.length}} clients">
                              &nbsp;
                              <span></span>
                              <span *ngIf="user.ClientJson.length > 0">{{user.ClientJson.length}}</span>
                              <span *ngIf="user.ClientJson.length == 0">0</span></span></a>
                          <a href="javascript:void(0)" class="ms-3" (click)="goToAttendancePage(user)"
                            data-bs-toggle="tooltip" data-bs-placement="right" title="View Attendance">
                            <span class="text-sm-left text-muted">Attendance</span>
                            <span class="ms-2 badge bg-success">
                              <i class="fa-regular fa-id-badge user-edit-icon"></i>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="td align-middle fe-2">
                      <div class="cell-wrapper">
                        {{user.Mobile}}
                      </div>
                    </div>
                    <div class="td align-middle fe-3">
                      <div class="cell-wrapper">
                        {{user.Email}}
                      </div>
                    </div>
                    <div class="td align-middle fe-1">
                      <div class="d-flex flex-row justify-content-evenly">
                        <a href="javascript:void(0)" (click)="ViewFiles(user)" [ngClass]="{'pe-none': isLoading}" data-bs-toggle="tooltip"
                        data-bs-placement="right" title="View Files">
                          <span class="badge bg-primary"><i class="fa-solid fa-file" aria-hidden="true"></i></span>
                        </a>
                        <a href="javascript:void(0)" [ngClass]="{'pe-none': isLoading}" (click)="AddEditDocuments(user)" data-bs-toggle="tooltip"
                        data-bs-placement="right" title="View Documents">
                          <span class="badge bg-dark"><i class="fa-regular fa-folder-open" aria-hidden="true"></i></span>
                        </a>
                        <a href="javascript:void(0)" [ngClass]="{'pe-none': isLoading}" (click)="CreatePopup(user)" [ngClass]="{'pe-none': user.EmployeeUid == 1}">
                          <ng-container [ngSwitch]="user.IsActive">
                            <span *ngSwitchCase="true">
                              <span class="badge bg-danger" data-bs-toggle="tooltip"
                              data-bs-placement="right" title="Inactive employee">
                                <i class="" [ngClass]="{'fa-solid fa-solid fa-spinner fa-spin': isLoading, 'fa-solid fa-trash-can': !isLoading}" aria-hidden="true"></i>
                              </span>
                            </span>
                            <span *ngSwitchDefault>
                              <span class="badge bg-success" data-bs-toggle="tooltip"
                              data-bs-placement="right" title="Active Employee">
                                <i class="" [ngClass]="{'fa-solid fa-solid fa-spinner fa-spin': isLoading, 'fa-solid fa-shuffle': !isLoading}" aria-hidden="true" aria-hidden="true"></i>
                              </span>
                            </span>
                          </ng-container>
                        </a>
                        <!-- <a href="javascript:void(0)">
                            <span class="badge bg-danger"><i class="fa-solid fa-trash-can-o" aria-hidden="true"
                                *ngIf="isActiveEmployee == 0" (click)="CreatePopup(user)"></i></span>
                          </a> -->
                      </div>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="!isFileFound">
                  <div class="custom-height my-5 py-5 fw-bold fs-3 text-danger d-flex align-items-center justify-content-center">
                    <p class="my-5 py-5">Record Not Found</p>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="mt-3">
            <app-pagination [pagination]="employeeData" (onPageChange)="GetFilterResult($event)"></app-pagination>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<!-- add update detail modal -->

<!-- Active and Deactive  Model -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="deleteEmployee" tabindex="-1"
  role="dialog" aria-labelledby="deleteTitleTitle" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title font-weight-bold text-dark" id="exampleModalLongTitle"
          *ngIf="singleEmployee?.IsActive== true">
          Are
          you want to delete the
          Employee
        </h5>
        <h5 class="modal-title font-weight-bold text-dark" id="exampleModalLongTitle"
          *ngIf="singleEmployee?.IsActive== false">
          Are
          you want to active the
          Employee
        </h5>
      </div>
      <div class="modal-body">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">
                <div class="col-title">
                  Full Name
                </div>
              </th>
              <th scope="col">
                <div class="col-title">
                  Mobile No.#
                </div>
              </th>
              <th scope="col">
                <div class="col-title">
                  Email
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{singleEmployee?.FirstName}} {{singleEmployee?.LastName}}</td>
              <td>{{singleEmployee?.Mobile}}</td>
              <td>{{singleEmployee?.Email}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer border-top-0">
        <a href="javascript:void(0)" [ngClass]="{'pe-none': isLoading}" (click)="ClosePopup()" class="text-decoration-none text-danger btn-white pe-3"
          data-dismiss="modal">Cancel</a>
        <a href="javascript:void(0)" [ngClass]="{'pe-none': isLoading}" (click)="DeleteCurrent(singleEmployee)" *ngIf="singleEmployee?.IsActive == true"
          class="text-decoration-none btn-white text-primary"><i class="" [ngClass]="{'fa-solid fa-solid fa-spinner fa-spin': isLoading}"></i>
          {{ isLoading ? 'Wait' : 'Remove' }}</a>
        <a href="javascript:void(0)" [ngClass]="{'pe-none': isLoading}" (click)="DeactivatedEmployee(singleEmployee)"
          *ngIf="singleEmployee?.IsActive == false" class="text-decoration-none btn-white text-primary"><i class="" [ngClass]="{'fa-solid fa-solid fa-spinner fa-spin': isLoading}"></i>
          {{ isLoading ? 'Wait' : 'Activate' }}</a>
      </div>
    </div>
  </div>
</div>
