<div class="main-container">
  <div class="x_panel">
    <div class="x_header">
      <div class="d-flex justify-content-between">
        <div class="col-8">
          <div class="px-1">
            <app-breadcrums [title]="'Objectives'" [subtitle]="'Company/Departments Objectives'"></app-breadcrums>
          </div>
        </div>
        <div class="col-4 text-end">
          <button class="btn btn-primary-c" (click)="addObjectivePopUp()"><i class="fa-solid fa-plus pe-1"></i> Add Objective</button>
        </div>
      </div>
    </div>
    <div [ngSwitch]="isPageReady">
      <div *ngSwitchCase="false">
        <div class="mt-5">
          <app-pre-load-table></app-pre-load-table>
        </div>
      </div>
      <div *ngSwitchDefault>
        <ng-container>
          <div class="x_content">
            <div class="t-table t-list t-border col-md-12">
              <div class="hide-bar"></div>
              <div class="t-head">
                <div class="tr">
                  <div class="th fe-index">
                    <div class="t-filter t-index">
                      <a href="javascript:void()" class="ps-3">#</a>
                    </div>
                  </div>
                  <div class="th fe-4">
                    <div class="cell-wrapper">
                      <input class="form-control form-control-sm" (keydown.esc)="resetFilter()"
                        (keyup.enter)="filterRecords()" [(ngModel)]="objectDetail.Objective"
                        placeholder="Search by Objective">
                      <div class="t-filter" (click)="arrangeDetails(orderByObjectiveAsc, 'Objective')">
                        <a href="javascript:void()" class="pe-2">Objectives</a>
                        <i class="fa-solid fa-arrow-down-wide-short"
                          [ngClass]="{'d-none': orderByObjectiveAsc == null || !orderByObjectiveAsc }" aria-hidden="true"></i>
                        <i class="fa-solid fa-arrow-down-short-wide"
                          [ngClass]="{'d-none': orderByObjectiveAsc == null || orderByObjectiveAsc }" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="th fe-1">
                    <div class="cell-wrapper">
                      <input class="form-control form-control-sm" (keyup.enter)="filterRecords()"
                        (keydown.esc)="resetFilter()" [(ngModel)]="objectDetail.TargetValue" placeholder="Search by Target Value">
                      <div class="t-filter" (click)="arrangeDetails(orderBTargetValueAsc, 'TargetValue')">
                        <a href="javascript:void()" class="pe-3">Target Value</a>
                        <i class="fa-solid fa-arrow-down-wide-short"
                          [ngClass]="{'d-none': orderBTargetValueAsc == null || !orderBTargetValueAsc }" aria-hidden="true"></i>
                        <i class="fa-solid fa-arrow-down-short-wide"
                          [ngClass]="{'d-none': orderBTargetValueAsc == null || orderBTargetValueAsc }" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="th fe-1 text-center">
                    <a href="javascript:void(0)" class="a-btn text-success ps-1 fw-bold" (click)="filterRecords()">
                      <i class="fa-solid fa-filter">
                        <span>Filter</span>
                      </i>
                    </a>
                    <div class="t-filter d-block text-center">
                      <a href="javascript:void(0)">ACTIONS</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="t-body">
                <ng-container *ngIf="objectiveDetails.length > 0">
                  <div class="tr py-2" *ngFor="let item of objectiveDetails; let i=index;">
                    <div class="td align-middle ps-3 fe-index">{{item.Index}}</div>
                    <div class="td align-middle fe-4 text-truncate d-flex align-items-center">
                      <div class="col-md-11 text-truncate">{{item.Objective}}: {{item.Description}}</div>
                      <i class=" ps-2 fa-solid fa-circle-info" data-bs-toggle="tooltip" data-bs-placement="right" title="{{item.Description}}"></i>
                    </div>
                    <div class="td align-middle fe-1">
                      <div class="cell-wrapper">
                        {{item.TargetValue}} {{item.ProgressMeassureType == 1? '%' : ''}}
                      </div>
                    </div>
                    <div class="td align-middle text-center fe-1">
                      <a href="javascript:void(0)" (click)="editObjectivePopUp(item)" data-bs-toggle="tooltip" data-bs-placement="right" title="Edit Objective">
                        <i class="fa-regular fa-pen-to-square" aria-hidden="true"></i>
                      </a>
                      <a href="javascript:void(0)" class="ms-2" data-bs-toggle="tooltip" data-bs-placement="right" title="Delete Objective">
                        <i class="fa-solid fa-trash-can-o text-danger" aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>
                </ng-container>
              </div>
              <ng-container *ngIf="objectiveDetails.length == 0">
                <div class="custom-height my-5 py-5 fw-bold fs-3 text-danger d-flex align-items-center justify-content-center">
                  <p class="my-5 py-5">Record Not Found</p>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="mt-3" *ngIf="isPageReady">
            <app-pagination [pagination]="objectiveData" (onPageChange)="GetFilterResult($event)"></app-pagination>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>


<!-- Add or update client Modal -->
<div class="modal addclinet-modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="addObjectiveModal" aria-labelledby="addObjectiveModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl ">
    <div class="modal-content px-3">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="addObjectiveModalLabel">Add/Update Objective</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="objectForm" *ngIf="objectForm">
          <div class="">
            <label for="" class="form-label">Objective</label>
            <input type="text" placeholder="Ex: Provide an awesome customer experience" class="form-control" formControlName="Objective" maxlength="100"
            [ngClass]="{'error-field': submitted && f.Objective.errors !== null && f.Objective.errors.required}" oninput="this.value = this.value.toUpperCase()">
          </div>
          <div class="mt-3">
            <label for="" class="form-label">Description</label>
            <app-editor [height]="15" [content]="htmlText"></app-editor>
          </div>
          <!-- <div class="col-md-3">
            <label for="" class="form-label">Who can see</label>
            <div class="btn-group d-block" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" value="true" class="btn-check" formControlName="canManagerSee" name="canManagerSee" id="btnradio22" autocomplete="off"
                [ngClass]="{'error-field': submitted && f.canManagerSee.errors !== null && f.canManagerSee.errors.required}">
              <label class="btn btn-outline-primary" for="btnradio22">Manager</label>

              <input type="radio" value="false" class="btn-check" formControlName="canManagerSee" name="canManagerSee" id="btnradio23" autocomplete="off"
                [ngClass]="{'error-field': submitted && f.canManagerSee.errors !== null && f.canManagerSee.errors.required}">
              <label class="btn btn-outline-primary" for="btnradio23">Everyone</label>
            </div>
          </div> -->
          <!-- <div class="form-check mt-3">
            <input class="form-check-input" type="checkbox" formControlName="isIncludeReview" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Include in review
            </label>
          </div> -->
          <div class="mt-3">
            <label for="" class="form-label d-block">Progress measured as</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" formControlName="ProgressMeassureType" type="radio" name="ProgressMeassureType" id="inlineRadio1" value="1" (click)="changeProgressMeassur($event)"
               [ngClass]="{'error-field': submitted && f.ProgressMeassureType.errors !== null && f.ProgressMeassureType.errors.required}">
              <label class="form-check-label" for="inlineRadio1">Percent Complete</label>
            </div>
            <!-- <div class="form-check form-check-inline">
              <input class="form-check-input" formControlName="progressMeassureType" type="radio" name="progressMeassureType" id="inlineRadio2" value="3" (click)="changeProgressMeassur($event)"
               [ngClass]="{'error-field': submitted && f.progressMeassureType.errors !== null && f.progressMeassureType.errors.required}">
              <label class="form-check-label" for="inlineRadio2">Completed/ Not Completed</label>
            </div> -->
            <div class="row">
              <ng-container *ngIf="objectForm.controls.ProgressMeassureType.value == '1'">
                <div class="col-md-6 mt-3">
                  <label for="" class="form-label">Start Value</label>
                  <input type="text" [OnlyNumber]="3" formControlName="StartValue" class="form-control" placeholder="Start Value" [ngClass]="{'error-field': submitted && f.StartValue.errors !== null && f.StartValue.errors.required}">
                </div>
                <div class="col-md-6 mt-3">
                  <label for="" class="form-label">Target Value</label>
                  <input type="text" [OnlyNumber]="3" formControlName="TargetValue" class="form-control" placeholder="Target Value" [ngClass]="{'error-field': submitted && f.TargetValue.errors !== null && f.TargetValue.errors.required}">
                </div>
              </ng-container>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary-c" (click)="addObjective()">
          <i [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading, 'fa-regular fa-square-plus': !isLoading}"></i>
          <span class="ps-2">
           {{currentObject.ObjectiveId == 0 ? 'Add' : 'Update'}} Objective
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Close Modal -->
