<div class="table preload">
  <div class="t-head skeleton">
    <div>
      <div class="vhide">-</div>
    </div>
  </div>
  <div class="t-row mt-3 skeleton">
    <div>
      <div class="vhide">-</div>
    </div>
  </div>
  <div class="t-row mt-2 skeleton">
    <div>
      <div class="vhide">-</div>
    </div>
  </div>
  <div class="t-row mt-2 skeleton">
    <div>
      <div class="vhide">-</div>
    </div>
  </div>
  <div class="t-row mt-2 skeleton">
    <div>
      <div class="vhide">-</div>
    </div>
  </div>
  <div class="t-row mt-2 skeleton">
    <div>
      <div class="vhide">-</div>
    </div>
  </div>
  <div class="t-row mt-2 skeleton">
    <div>
      <div class="vhide">-</div>
    </div>
  </div>
  <div class="t-row mt-2 skeleton">
    <div>
      <div class="vhide">-</div>
    </div>
  </div>
  <div class="t-row mt-2 skeleton">
    <div>
      <div class="vhide">-</div>
    </div>
  </div>
  <div class="t-row mt-2 skeleton">
    <div>
      <div class="vhide">-</div>
    </div>
  </div>
  <div class="t-row mt-2 skeleton">
    <div>
      <div class="vhide">-</div>
    </div>
  </div>
</div>
