<div class="main-container">
    <div class="x_panel">
      <div class="x_header">
        <div class="d-flex justify-content-between">
          <div class="col-8">
            <div class="px-1">
              <app-breadcrums [title]="'Email Template Mapping'" [subtitle]="'Mapping email template with request type'"></app-breadcrums>
            </div>
          </div>
          <div class="col-4">
            <div class="x_header_title d-flex align-items-center justify-content-end">
              <!-- <h2>Email Link Config Details<small>like page name, emails etc</small></h2> -->
              <a href="javascript:void(0)" (click)="navToEmailLinkConfig()" class="text-decoration-none fw-bold pe-4"><i
                class="fa-solid fa-paper-plane pe-1"></i> Email Link Config</a>
              <button class="btn btn-primary-c float-end" (click)="emailConfigPopUp()"><i class="fa-solid fa-plus pe-2"></i> Add Template Mapping</button>
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="!isPageLoading">
        <div class="x_content">
          <div class="t-table t-list  mt-3 col-md-12">
            <div class="hide-bar"></div>
            <div class="t-head">
              <div class="tr">
                <div class="th fe-index">
                  <div class="t-index">#</div>
                </div>
                <div class="th fe-2 px-2">
                  <input class="form-control form-control-sm" (keyup.enter)="filterRecords()" (keydown.esc)="resetFilter()" [(ngModel)]="filterEmailTemp.EmailTemplateName"
                        (keydown.esc)="resetFilter()"  placeholder="Search by Action Type">
                  Action Type
                </div>
                <div class="th fe-2 px-2">
                  <select (change)="filterRecords()" class="form-select" [(ngModel)]="filterEmailTemp.TemplateId">
                    <option value="null">Select Template Name</option>
                    <option [value]="item.EmailTemplateId" *ngFor="let item of allEmailTemplate">{{item.TemplateName}}</option>
                  </select>
                  Template Name
                </div>
                <div class="th fe-2 px-2">
                  Description
                </div>
                <div class="th fe-1 text-center">Link</div>
              </div>
            </div>
            <div class="t-body">
              <ng-container *ngIf="allMappedtemplate.length > 0">
                <div class="tr py-2" *ngFor="let template of allMappedtemplate; let i = index;">
                  <div class="td align-middle text-center fe-index">
                      {{i+1}}
                  </div>
                  <div class="td align-middle fe-2">
                      {{template.EmailTemplateName}}
                  </div>
                  <div class="td align-middle fe-2">
                    {{template.TemplateName}}
                  </div>
                  <div class="td align-middle fe-2">
                      {{template.Description}}
                  </div>
                  <div class="td align-middle fe-1">
                    <div class="d-flex flex-row justify-content-center">
                      <a href="javascript:void(0)" class="px-2" (click)="editEmailTempConfig(template)">
                        <span class="badge bg-primary"><i class="fa-solid fa-pencil" aria-hidden="true"></i></span>
                      </a>
                      <a href="javascript:void(0)" class="px-2" (click)="getMessageModal(template.TemplateId)">
                        <span class="badge bg-dark"><i class="fa-regular fa-eye" aria-hidden="true"></i></span>
                      </a>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="allMappedtemplate.length == 0">
                <div class="custom-height fw-bold fs-3 text-danger my-5 py-5 d-flex align-items-center justify-content-center">
                  <p class="my-5 py-5">Record Not Found</p>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="mt-3">
          <app-pagination [pagination]="mappedData" (onPageChange)="GetFilterResult($event)"></app-pagination>
        </div>
      </ng-container>
      <!-- <ng-container *ngIf="isPageLoading">
        <div class="py-5 my-5">
          <h6 class="fw-bold fs-3 text-center text-dark">Email template are loading</h6>
          <div class="fs-5 pb-5 py-5 d-flex flex-column justify-content-center align-items-center">
            <div class="col-md-3 modal-container  text-center cog-wheel">
              <img src="assets/images/cog.gif" alt="" />
              <h6 class="modal-title title-message">
                Please Wait ........
              </h6>
            </div>
          </div>
        </div>
      </ng-container> -->
    </div>
  <app-message-modal [Data]="modalData"></app-message-modal>
</div>

  <!-- Email Config Mapping modal -->
<div class="modal fade remoteClient" data-bs-backdrop="static" data-bs-keyboard="false" id="emailConfigModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="emailConfigModalLabel"aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content px-4">
            <div class="modal-header">
                <h5 class="modal-title" id="emailConfigModalLabel">Email Template Mapping</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="emailTempMapForm" *ngIf="emailTempMapForm">
                    <div class="mt-3">
                        <label for="" class="form-label">Action Type</label>
                        <input type="text" maxlength="100" oninput="this.value = this.value.toUpperCase()" class="form-control" formControlName="EmailTemplateName" [ngClass]="{'error-field': submitted && f.EmailTemplateName.errors !== null && f.EmailTemplateName.errors.required}">
                    </div>
                    <div class="mt-3">
                        <label for="" class="form-label">Template Name</label>
                        <select class="form-select" (change)="changeTemplate($event)" formControlName="TemplateId" [ngClass]="{'error-field': submitted && f.TemplateId.errors !== null && f.TemplateId.errors.required}">
                            <option value="0">Select Email Template</option>
                            <option [value]="item.EmailTemplateId" *ngFor="let item of allEmailTemplate">{{item.TemplateName}}</option>
                        </select>
                    </div>
                    <div class="mt-3">
                        <label for="" class="form-label">Description</label>
                        <textarea class="form-control" readonly formControlName="Description" [ngClass]="{'error-field': submitted && f.Description.errors !== null && f.Description.errors.required}" oninput="this.value = this.value.toUpperCase()" placeholder="No description found" cols="30" rows="10"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-success" [disabled]="isLoading" (click)="addMapping()">
                    <i [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading, 'fa-solid fa-plus': !isLoading}"></i>
                    <span class="ps-2">{{ isLoading ? 'Wait' : 'Mapped' }}</span>
                </button>
            </div>
        </div>
    </div>
</div>
