.t-body {
  max-height: 49vh !important;
}

.cell-wrapper {
  padding-left: .6rem;
  padding-right: .6rem;
}

.hide-bar {
  width: 17px !important;
}

.t-filter {
  justify-content: flex-start !important;
}

.custom-height {
  height: 43vh !important;
}

textarea {
  resize: none;
}

.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.collapsed {
  border-top: 1px solid var(--bs-border-color) !important;
  border-bottom: 1px solid var(--bs-border-color) !important;
  border-radius: 0px !important;
}

.custom-text-size {
  font-size: 0.9rem !important;
}

.nav-link.active {
  color: #222;
  background-color: #dcefff !important;
  border-radius: 0px !important;
}

.nav-active {
color: #222;
border-radius: 0px !important;
position: relative;
cursor: pointer;
font-weight: 500;
}

.nav-active::after {
content: '';
position: absolute;
bottom: 0;
left: 40%;
border-top: 6px solid rgb(44, 135, 151);
border-left: 6px solid transparent;
border-right: 6px solid transparent;
transform: rotate(180deg);
}

.active-tab {
  background-color: #286090 !important;
  color: white !important;
  p {
    color: white !important;
  }
}


.disabled-li li a {
  color: #ccc !important;
  pointer-events: none;
  cursor: not-allowed;
  }

.skeleton {
  margin: 10px 0px !important;
}

.nav-tabs a {
  color: #b9b6b6;
}

.nav-tabs a.active {
  font-weight: 500;
  color: #444 !important;
}

.h-bg {
  background: floralwhite;
}

.index-count {
  padding: 3px 9px;
}

.active-index div{
  background-color: #2e6da4 !important;
  color: #fff !important;
  border: #2e6da4 !important;
  font-weight: 600 !important;
}

.active-index span {
  font-weight: 700 !important;
  color: #222;
}

.config-tab li a{
  color: rgb(189, 189, 189) !important;
}

.submitted-index div {
  border: 2px solid #2e6da4 !important;
  color: #2e6da4 !important;
}

.submitted-index span {
  color: #2e6da4 !important;
  font-weight: 700 !important;
}

.hide-bar {
  height: 6.5rem !important;
}

textarea {
  resize: none;
}

fieldset {
  margin-top: 0.8rem !important;
}

.offcanvas-size-xxl {
  width: 75vw !important;
}

.bg-ant {
  background-color: antiquewhite;
}
