<div class="main-container">
  <div class="x_panel">
    <div class="x_header">
      <div class="d-flex justify-content-between">
        <div class="col-8">
          <div class="px-1">
            <app-breadcrums [title]="'Appraisal Cycle'"></app-breadcrums>
          </div>
        </div>
        <div class="col-4 text-end">
          <button class="btn btn-primary-c" (click)="addAprisalCyclePopUp()"><i class="fa fa-plus pe-1"></i> Add Aprisal Cycle</button>
        </div>
      </div>
    </div>
    <div [ngSwitch]="isPageReady">
      <div *ngSwitchCase="false">
        <div class="mt-5">
          <app-pre-load-table></app-pre-load-table>
        </div>
      </div>
      <div *ngSwitchDefault>
        <ng-container>
          <div class="x_content">
            <div class="t-table t-list t-border col-md-12">
              <div class="hide-bar"></div>
              <div class="t-head">
                <div class="tr">
                  <div class="th fe-index">
                    <div class="t-filter t-index">
                      <a href="javascript:void()" class="ps-3">#</a>
                    </div>
                  </div>
                  <div class="th fe-2">
                    <div class="cell-wrapper">
                      <input class="form-control form-control-sm" (keydown.esc)="resetFilter()"
                        (keyup.enter)="filterRecords()" [(ngModel)]="apprisalDetail.ObjectiveCatagoryType"
                        placeholder="Search by Apprisal Name">
                      <div class="t-filter" (click)="arrangeDetails(orderByObjectiveCatagoryTypeAsc, 'ObjectiveCatagoryType')">
                        <a href="javascript:void()" class="pe-2">Appraisal Name</a>
                        <i class="fa fa-sort-amount-asc"
                          [ngClass]="{'d-none': orderByObjectiveCatagoryTypeAsc == null || !orderByObjectiveCatagoryTypeAsc }" aria-hidden="true"></i>
                        <i class="fa fa-sort-amount-desc"
                          [ngClass]="{'d-none': orderByObjectiveCatagoryTypeAsc == null || orderByObjectiveCatagoryTypeAsc }" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="th fe-4">
                    <div class="cell-wrapper">
                      <input class="form-control form-control-sm" (keydown.esc)="resetFilter()"
                      (keyup.enter)="filterRecords()" [(ngModel)]="apprisalDetail.TypeDescription"
                        placeholder="Search by Apprisal Cycle Period">
                      <div class="t-filter" (click)="arrangeDetails(orderByTypeDescriptionAsc, 'TypeDescription')">
                        <a href="javascript:void()" class="pe-2">Description</a>
                        <i class="fa fa-sort-amount-asc"
                        [ngClass]="{'d-none': orderByTypeDescriptionAsc == null || !orderByTypeDescriptionAsc }" aria-hidden="true"></i>
                      <i class="fa fa-sort-amount-desc"
                        [ngClass]="{'d-none': orderByTypeDescriptionAsc == null || orderByTypeDescriptionAsc }" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="th fe-2">
                    <div class="cell-wrapper">
                      <input class="form-control form-control-sm" placeholder="Search by Description"
                      (keydown.esc)="resetFilter()" (keyup.enter)="filterRecords()" readonly>
                      <div class="t-filter" (click)="arrangeDetails(orderByCyclePeriodAsc, 'FromDate')">
                        <a href="javascript:void()" class="pe-2">Apprisal Cycle Period</a>
                        <i class="fa fa-sort-amount-asc"
                          [ngClass]="{'d-none': orderByCyclePeriodAsc == null || !orderByCyclePeriodAsc }" aria-hidden="true"></i>
                        <i class="fa fa-sort-amount-desc"
                          [ngClass]="{'d-none': orderByCyclePeriodAsc == null || orderByCyclePeriodAsc }" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="th fe-1 text-center">
                    <a href="javascript:void(0)" class="a-btn text-success ps-1 fw-bold" (click)="filterRecords()">
                      <i class="fa fa-filter">
                        <span>Filter</span>
                      </i>
                    </a>
                    <div class="t-filter d-block text-center">
                      <a href="javascript:void(0)">ACTIONS</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="t-body">
                <ng-container *ngIf="apprisalCycleDetail.length > 0">
                  <div class="tr py-2" *ngFor="let item of apprisalCycleDetail;">
                    <div class="td align-middle text-center fe-index">{{item.Index}}</div>
                    <div class="td align-middle d-flex justify-content-between fe-2">
                      <div class="text-truncate">
                        <a href="javascript:void(0)" (click)="navigateToObjective(item)">
                          {{item.ObjectiveCatagoryType}}
                        </a>
                      </div>
                      <a href="javascript:void(0)" class="text-success pe-3">
                        <i class="fa fa-play" aria-hidden="true"></i>
                      </a>
                    </div>
                    <div class="td align-middle text-truncate fe-4">
                      <div class="cell-wrapper text-truncate">
                        {{item.TypeDescription}}
                      </div>
                    </div>
                    <div class="td align-middle fe-2">
                      <div class="cell-wrapper">
                        {{item.FromDate | date}} - {{item.ToDate | date}}
                      </div>
                    </div>
                    <div class="td align-middle text-center fe-1">
                      <a href="javascript:void(0)" (click)="editApprisalPopUp(item)" data-bs-toggle="tooltip" data-bs-placement="right" title="Edit Apprisal">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </a>
                      <a href="javascript:void(0)" class="ms-2" data-bs-toggle="tooltip" data-bs-placement="right" title="Delete Apprisal">
                        <i class="fa fa-trash-o text-danger" aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>
                </ng-container>
              </div>
              <ng-container *ngIf="apprisalCycleDetail.length == 0">
                <div class="custom-height my-5 py-5 fw-bold fs-3 text-danger d-flex align-items-center justify-content-center">
                  <p class="my-5 py-5">Record Not Found</p>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="mt-3" *ngIf="isPageReady">
            <app-pagination [pagination]="apprisalData" (onPageChange)="GetFilterResult($event)"></app-pagination>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>


<!-- Add or update apprisal Modal -->
<div class="modal addclinet-modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="manageApprisal" aria-labelledby="manageApprisalModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content px-3">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="manageApprisalModalLabel">Add/Update Apprisal Cycle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="appraisalForm">
          <div>
            <label for="" class="form-label">Name of the Apprisal</label>
            <input type="text" class="form-control" placeholder="Apprisal Name" formControlName="ObjectiveCatagoryType"
            oninput="this.value = this.value.toUpperCase()" maxlength="40"
            [ngClass]="{'error-field': isSubmitted && f.ObjectiveCatagoryType.errors !== null && f.ObjectiveCatagoryType.errors.required}">
          </div>
          <div class="mt-3">
            <label for="" class="form-label">Apprisal Cycle Period</label>
            <form class="row row-cols-sm-auto">
              <div class="col-12">
                <div class="dp-hidden position-absolute">
                  <div class="input-group">
                    <input
                      name="datepicker"
                      class="form-control"
                      ngbDatepicker
                      #datepicker="ngbDatepicker"
                      [autoClose]="'outside'"
                      (dateSelect)="onDateSelection($event)"
                      [displayMonths]="2"
                      [dayTemplate]="t"
                      outsideDays="hidden"
                      [startDate]="fromDate!"
                      tabindex="-1"
                    />
                    <ng-template #t let-date let-focused="focused">
                      <span
                        class="custom-day"
                        [class.focused]="focused"
                        [class.range]="isRange(date)"
                        [class.faded]="isHovered(date) || isInside(date)"
                        (mouseenter)="hoveredDate = date"
                        (mouseleave)="hoveredDate = null"
                      >
                        {{ date.day }}
                      </span>
                    </ng-template>
                  </div>
                </div>
                <div class="input-group">
                  <input
                    #dpFromDate
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="dpFromDate"
                    [ngClass]="{'error-field': isSubmitted && f.FromDate.errors !== null && f.FromDate.errors.required}"
                    [value]="formatter.format(fromDate)"
                    (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
                  />
                  <button class="btn btn-outline-secondary bi bi-calendar3" (click)="datepicker.toggle()" type="button">
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
              </div>
              <div class="col-12">
                <div class="input-group">
                  <input
                    #dpToDate
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="dpToDate"
                    [ngClass]="{'error-field': isSubmitted && f.ToDate.errors !== null && f.ToDate.errors.required}"
                    [value]="formatter.format(toDate)"
                    (input)="toDate = validateInput(toDate, dpToDate.value)"
                  />
                  <button class="btn btn-outline-secondary" (click)="datepicker.toggle()" type="button">
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="mt-3">
            <label for="" class="form-label">Description</label>
            <textarea rows="3" class="form-control" placeholder="Description" formControlName="TypeDescription"
            oninput="this.value = this.value.toUpperCase()" maxlength="500"
            [ngClass]="{'error-field': isSubmitted && f.TypeDescription.errors !== null && f.TypeDescription.errors.required}"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button *ngIf="currentApprisalCycle.ObjectiveCatagoryId == 0" class="btn btn-primary-c" (click)="addApprisalCycle()">
          <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-plus-square-o': !isLoading}"></i>
          <span class="ps-2">Add</span>
        </button>
        <button *ngIf="currentApprisalCycle.ObjectiveCatagoryId > 0" class="btn btn-primary-c" (click)="updateApprisalCycle()">
          <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-plus-square-o': !isLoading}"></i>
          <span class="ps-2">Update</span>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Close Modal -->
