<div class="col-12 full-v main-container">
  <div class="col-12 row p-0 m-0">
    <div class="right-panel container col-md-12 p-0">
      <div class="x_panel mt-2">
        <div class="x_header">
          <div class="d-flex justify-content-between">
            <div class="col-8">
              <div class="px-1">
                <app-breadcrums [title]="'Shift'" [subtitle]="'Details'"></app-breadcrums>
              </div>
            </div>
            <div class="col-4">
              <div class="x_header_title d-flex align-items-center justify-content-end">
                <a href="javascript:void(0)" class="text-decoration-none fw-bold pe-4"><i
                  class="fa-solid fa-paper-plane pe-1"></i> Email Link Config
              </a>
              <button class="btn btn-primary-c" (click)="addShiftPopUp()"><i class="fa-solid fa-plus pe-2"></i>Add Shift</button>
              </div>
            </div>
          </div>
        </div>
        <ng-container *ngIf="isPageReady">
          <div class="x_content mt-4">
            <div class="t-table t-list  col-md-12">
              <div class="hide-bar"></div>
              <div class="t-head">
                <div class="tr">
                  <div class="th fe-index">
                    <div class="t-index">
                      <a href="javascript:void(0)" class="ps-3">#</a>
                    </div>
                  </div>
                  <div class="th fe-1">
                    <div class="cell-wrapper">
                      <input class="form-control form-control-sm" autofocus placeholder="Search by Shift Title" [(ngModel)]="shiftDetail.ShiftTitle"
                       oninput="this.value = this.value.toUpperCase()" (keyup.enter)="filterRecords()" (keydown.esc)="resetFilter()">
                      <div class="t-filter" (click)="arrangeDetails(orderByShiftTitleAsc, 'ShiftTitle')">
                        <a href="javascript:void(0)" class="pe-2">Shift Title</a>
                           <i class="fa-solid fa-arrow-down-wide-short"
                            [ngClass]="{'d-none': orderByShiftTitleAsc == null || !orderByShiftTitleAsc }" aria-hidden="true"></i>
                          <i class="fa-solid fa-arrow-down-short-wide"
                            [ngClass]="{'d-none': orderByShiftTitleAsc == null || orderByShiftTitleAsc }" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="th fe-1">
                    <div class="cell-wrapper">
                      <input class="form-control form-control-sm" autofocus placeholder="Search by Working days in week" [(ngModel)]="shiftDetail.TotalWorkingDays"
                       oninput="this.value = this.value.toUpperCase()" (keyup.enter)="filterRecords()" (keydown.esc)="resetFilter()">
                      <div class="t-filter" (click)="arrangeDetails(orderByTotalWorkingDaysAsc, 'TotalWorkingDays')">
                        <a href="javascript:void(0)" class="pe-2">Working Days(in week)</a>
                           <i class="fa-solid fa-arrow-down-wide-short"
                            [ngClass]="{'d-none': orderByTotalWorkingDaysAsc == null || !orderByTotalWorkingDaysAsc }" aria-hidden="true"></i>
                          <i class="fa-solid fa-arrow-down-short-wide"
                            [ngClass]="{'d-none': orderByTotalWorkingDaysAsc == null || orderByTotalWorkingDaysAsc }" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="th fe-1">
                    <div class="cell-wrapper">
                      <input class="form-control form-control-sm" autofocus placeholder="Search by Start date" readonly
                       oninput="this.value = this.value.toUpperCase()">
                      <div class="t-filter" (click)="arrangeDetails(orderByStartDateAsc, 'StartDate')">
                        <a href="javascript:void(0)" class="pe-2">Start Date</a>
                           <i class="fa-solid fa-arrow-down-wide-short"
                            [ngClass]="{'d-none': orderByStartDateAsc == null || !orderByStartDateAsc }" aria-hidden="true"></i>
                          <i class="fa-solid fa-arrow-down-short-wide"
                            [ngClass]="{'d-none': orderByStartDateAsc == null || orderByStartDateAsc }" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="th fe-1">
                    <div class="cell-wrapper">
                      <input class="form-control form-control-sm" autofocus placeholder="Search by office time" [(ngModel)]="shiftDetail.OfficeTime"
                       oninput="this.value = this.value.toUpperCase()" (keyup.enter)="filterRecords()" (keydown.esc)="resetFilter()">
                      <div class="t-filter" (click)="arrangeDetails(orderByOfficeTimeAsc, 'OfficeTime')">
                        <a href="javascript:void(0)" class="pe-2">Office Time</a>
                           <i class="fa-solid fa-arrow-down-wide-short"
                            [ngClass]="{'d-none': orderByOfficeTimeAsc == null || !orderByOfficeTimeAsc }" aria-hidden="true"></i>
                          <i class="fa-solid fa-arrow-down-short-wide"
                            [ngClass]="{'d-none': orderByOfficeTimeAsc == null || orderByOfficeTimeAsc }" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="th fe-1">
                    <div class="cell-wrapper">
                      <input class="form-control form-control-sm" autofocus placeholder="Search by duration in min" [(ngModel)]="shiftDetail.Duration"
                        oninput="this.value = this.value.toUpperCase()" (keyup.enter)="filterRecords()" (keydown.esc)="resetFilter()">
                      <div class="t-filter" (click)="arrangeDetails(orderByDurationAsc, 'Duration')">
                        <a href="javascript:void(0)" class="pe-2">Duration (in min)</a>
                           <i class="fa-solid fa-arrow-down-wide-short"
                            [ngClass]="{'d-none': orderByDurationAsc == null || !orderByDurationAsc }" aria-hidden="true"></i>
                          <i class="fa-solid fa-arrow-down-short-wide"
                            [ngClass]="{'d-none': orderByDurationAsc == null || orderByDurationAsc }" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="th fe-1">
                    <div class="cell-wrapper">
                      <input class="form-control form-control-sm" autofocus placeholder="Search by Status" readonly>
                      <div class="t-filter" (click)="arrangeDetails(orderByStatusAsc, 'Status')">
                        <a href="javascript:void(0)" class="pe-2">Status</a>
                           <i class="fa-solid fa-arrow-down-wide-short"
                            [ngClass]="{'d-none': orderByStatusAsc == null || !orderByStatusAsc }" aria-hidden="true"></i>
                          <i class="fa-solid fa-arrow-down-short-wide"
                            [ngClass]="{'d-none': orderByStatusAsc == null || orderByStatusAsc }" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="th fe-1">
                    <div class="cell-wrapper">
                      <input class="form-control form-control-sm" autofocus placeholder="Search by lunch duration" [(ngModel)]="shiftDetail.LunchDuration"
                      (keyup.enter)="filterRecords()" (keydown.esc)="resetFilter()">
                      <div class="t-filter" (click)="arrangeDetails(orderByLunchDurationAsc, 'LunchDuration')">
                        <a href="javascript:void(0)" class="pe-2">Lunch Dur (in min)</a>
                           <i class="fa-solid fa-arrow-down-wide-short"
                            [ngClass]="{'d-none': orderByLunchDurationAsc == null || !orderByLunchDurationAsc }" aria-hidden="true"></i>
                          <i class="fa-solid fa-arrow-down-short-wide"
                            [ngClass]="{'d-none': orderByLunchDurationAsc == null || orderByLunchDurationAsc }" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="th fe-index text-center">
                    <div class="cell-wrapper">
                      <div class="t-filter">
                        <a href="javascript:void(0)" class="pe-2">Action</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="t-body">
                <ng-container *ngIf="allShift.length > 0">
                  <div class="tr py-2" *ngFor="let item of allShift; let i = index;">
                    <div class="td align-middle fe-index">
                      <div class="cell-wrapper text-center">
                        {{item.Index}}
                      </div>
                    </div>
                    <div class="td align-middle fe-1">
                      <div class="cell-wrapper">
                        {{item.ShiftTitle}}
                      </div>
                    </div>
                    <div class="td align-middle fe-1">
                      <div class="cell-wrapper">
                        {{item.TotalWorkingDays}}
                      </div>
                    </div>
                    <div class="td align-middle fe-1">
                      <div class="cell-wrapper">
                        {{item.StartDate | date}}
                      </div>
                    </div>
                    <div class="td align-middle fe-1">
                      <div class="cell-wrapper">
                        {{item.OfficeTime}}
                      </div>
                    </div>
                    <div class="td align-middle fe-1">
                      <div class="cell-wrapper">
                        {{item.Duration}}
                      </div>
                    </div>
                    <div class="td align-middle fe-1">
                      <div class="cell-wrapper">
                        {{item.Status == 2 ? 'Pending' : item.Status == 5 ? 'Rejected' : item.Status == 3 ? 'Canceled' : 'Approved'}}
                      </div>
                    </div>
                    <div class="td align-middle fe-1">
                      <div class="cell-wrapper">
                        {{item.LunchDuration}}
                      </div>
                    </div>
                    <div class="td align-middle fe-index">
                      <div class="d-flex flex-row justify-content-evenly">
                        <a href="javascript:void(0)" class="text-decoration-none" (click)="editShiftPopUp(item)">
                          <i class="fa-solid fa-pencil pe-2"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="allShift.length == 0 && isPageReady">
                  <div
                    class="custom-height fw-bold fs-3 py-5 my-5 text-danger d-flex align-items-center justify-content-center">
                    <p class="my-5 py-5">Record Not Found</p>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="mt-3">
            <app-pagination [pagination]="shiftData" (onPageChange)="GetFilterResult($event)"></app-pagination>
          </div>
        </ng-container>
        <!-- <ng-container *ngIf="!isPageReady">
          <div class="fs-5 my-5 py-5 d-flex flex-column justify-content-center align-items-center">
            <div class="col-md-3 modal-container  text-center cog-wheel">
              <img src="assets/images/cog.gif" alt="" />
              <h6 class="modal-title title-message">
                Please Wait ........
              </h6>
            </div>
          </div>
        </ng-container> -->
      </div>
    </div>
  </div>
</div>

<!-- View File Modal -->
<div class="modal fade view-popup" id="manageShiftModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="manageShiftModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="manageShiftModalLabel">{{currentShift.WorkShiftId > 0 ? 'Edit' : 'Add'}} shift deatil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="shiftForm">
          <div class="row">
            <div class="col-md-4 mt-3">
              <label  class="form-label">Company Name</label>
              <input type="text" readonly formControlName="CompanyName" class="form-control">
            </div>
            <div class="col-md-4 mt-3">
              <label  class="form-label">Department *</label>
              <select class="form-select" formControlName="Department" [ngClass]="{'error-field': submitted && f.Department.errors !== null && f.Department.errors.required}">
                <option value=null disabled>Select Department</option>
                <option [value]="item.DepartmentId" *ngFor="let item of departments">{{item.DepartmentName}}</option>
              </select>
            </div>
            <div class="col-md-4 mt-3">
              <label  class="form-label">Shift Title *</label>
              <input type="text" maxlength="40" oninput="this.value = this.value.toUpperCase()" placeholder="Enter shift title" formControlName="ShiftTitle" [ngClass]="{'error-field': submitted && f.ShiftTitle.errors !== null && f.ShiftTitle.errors.required}" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mt-3">
              <label  class="form-label">Office Time (in min) *</label>
              <app-bh-timepicker formControlName="OfficeTime"></app-bh-timepicker>
            </div>
            <div class="col-md-4 mt-3">
              <label  class="form-label">Duration (in min) *</label>
              <div class="row">
                <div class="col-md-4">
                  <select formControlName="DurationHrs"  class="form-select" (change)="shiftDurationCalc()">
                    <option value="0" selected>0 hr</option>
                    <option value="1">1 hr</option>
                    <option value="2">2 hrs</option>
                    <option value="3">3 hrs</option>
                    <option value="4">4 hrs</option>
                    <option value="5">5 hrs</option>
                    <option value="6">6 hrs</option>
                    <option value="7">7 hrs</option>
                    <option value="8">8 hrs</option>
                    <option value="9">9 hrs</option>
                    <option value="10">10 hrs</option>
                    <option value="11">11 hrs</option>
                    <option value="12">12 hrs</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <select formControlName="DurationMinutes"  class="form-select" (change)="shiftDurationCalc()">
                    <option value="0" selected disabled>0 min</option>
                    <option [value]="item" *ngFor="let item of minutes">{{item}} {{item == 1 ? 'min' : 'mins'}}</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <div class="d-flex align-items-center">
                    <input type="text" readonly OnlyNumber="3" class="form-control border-0" placeholder="Enter office duiration" formControlName="Duration" [ngClass]="{'error-field': submitted && f.Duration.errors !== null && f.Duration.errors.required}">
                    <label  class="form-label ps-1 mb-0">mins</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 mt-3">
              <label  class="form-label">Lunch Duration (in min) *</label>
              <input type="text" OnlyNumber="3" placeholder="Enter lunch duiration" formControlName="LunchDuration" [ngClass]="{'error-field': submitted && f.LunchDuration.errors !== null && f.LunchDuration.errors.required}" class="form-control">
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <label  class="form-label">Description</label>
            <textarea class="form-control" oninput="this.value = this.value.toUpperCase()" formControlName="Description" placeholder="Enter description" maxlength="100" cols="30" rows="5"></textarea>
          </div>
          <div class="row">
            <div class="col-md-4 mt-3">
              <label  class="form-label">Total Working Days *</label>
              <input type="text" OnlyNumber="1" placeholder="Enter total working days" formControlName="TotalWorkingDays" [ngClass]="{'error-field': submitted && f.TotalWorkingDays.errors !== null && f.TotalWorkingDays.errors.required}" class="form-control">
            </div>
            <div class="col-md-4 mt-3">
              <label  class="form-label">Start Date *</label>
              <form class="form-inline">
                <div class="form-group w-100">
                  <div class="input-group w-100" [ngClass]="{'error-field': submitted && f.StartDate.errors !== null && f.StartDate.errors.required}">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="frommodel"
                      (dateSelect)="onDateSelection($event)" ngbDatepicker [minDate]="mindate" [maxDate]="maxdate" #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i
                          class="fa-regular fa-calendar-days fa-lg" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-4 mt-3">
              <label  class="form-label">End Date *</label>
              <form class="form-inline">
                <div class="form-group w-100">
                  <div class="input-group w-100" [ngClass]="{'error-field': submitted && f.EndDate.errors !== null && f.EndDate.errors.required}">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="tomodel"
                      (dateSelect)="ontoDateSelection($event)" ngbDatepicker [minDate]="mindate" [maxDate]="maxdate" #td="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="td.toggle()" type="button"><i
                          class="fa-regular fa-calendar-days fa-lg" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <label  class="form-label">Pick working days in a week:</label>
            <div class="d-flex">
              <div class="day-of-week" *ngFor="let day of days; let index = index;" [ngClass]="{'border-success': day.isEnabled}"
                  (click)="toggleDays(day.id, $event)">
                <a href="javascript:void(0)" [ngClass]="{'ms-0': index == 0, 'blur-text': !day.isEnabled}">
                  {{day.day}}
                  <i class="fa-solid fa-toggle-on ps-2 text-success" [ngClass]="{'d-none': !day.isEnabled}" name="selection-on"></i>
                  <i class="fa-solid fa-toggle-off ps-2 text-muted" [ngClass]="{'d-none': day.isEnabled}" name="selection-off" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <a href="javascript:void(0)" class="text-dark px-3" data-bs-dismiss="modal">Close</a>
        <button class="btn btn-primary-c" [disabled]="isLoading" (click)="CreateUpdateRequest()">
          <i  [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading, 'fa-solid fa-check': !isLoading}"></i>
          {{ isLoading ? 'Processing' : 'Submit' }}
        </button>
      </div>
    </div>
  </div>
</div>
