<div class="col-12 full-v main-container">
  <div>
    <form>
      <div class="x_panel mh-auto">
        <div class="x_header">
          <div class="x_header_title">
            <h2>
              Company Accounts Detail
              <small>Compnay critical details like: Bank account, PAN etc.</small>
              <i class="fa text-dark edit-icon ps-2"></i>
            </h2>
          </div>
        </div>
        <div class="px-1">
          <app-breadcrums></app-breadcrums>
        </div>
        <ng-container *ngIf="isLoaded">
          <div class="x_content">
            <div class="row ">
              <div class="col-md-4 mt-3">
                <label class="form-label">Organization Name</label>
                <input type="text" class="form-control" readonly [value]="CurrentCompany.OrganizationName">
              </div>
              <div class="col-md-4 mt-3">
                <label class="form-label">Company Name</label>
                <input type="text" class="form-control" readonly [value]="CurrentCompany.CompanyName">
              </div>
            </div>
            <div class="t-table t-list t-border col-md-12 mt-3">
              <div class="hide-bar"></div>
              <div class="t-head">
                <div class="tr">
                  <div class="th fe-index">
                    <div class="t-index">
                      <a href="javascript:void()" class="ps-3">#</a>
                    </div>
                  </div>
                  <div class="th fe-5">
                    <div class="cell-wrapper">
                      <input class="form-control form-control-sm" (keydown.esc)="resetFilter()"  oninput="this.value = this.value.toUpperCase()"
                        (keyup.enter)="filterRecords()" autofocus [(ngModel)]="filterCompanyAccountInfo.BankName" name="BankName" autocomplete="off"
                        placeholder="Search by AccountNumber">
                      <div class="t-filter" (click)="arrangeDetails(orderByNameAsc, 'BankName')">
                        <a href="javascript:void()" class="pe-2">Bank Name</a>
                        <i class="fa fa-sort-amount-asc"
                          [ngClass]="{'d-none': orderByNameAsc == null || !orderByNameAsc }" aria-hidden="true"></i>
                        <i class="fa fa-sort-amount-desc"
                          [ngClass]="{'d-none': orderByNameAsc == null || orderByNameAsc }" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="th fe-2">
                    <div class="cell-wrapper">
                      <input class="form-control  form-control-sm" (keyup.enter)="filterRecords()" autocomplete="off"
                        (keydown.esc)="resetFilter()" [(ngModel)]="filterCompanyAccountInfo.AccountNo" name="AccountNo"
                        placeholder="Search by Account Number">
                      <div class="t-filter" (click)="arrangeDetails(orderByAccountAsc, 'AccountNo')">
                        <a href="javascript:void()" class="pe-2">Account No.</a>
                        <i class="fa fa-sort-amount-asc"
                          [ngClass]="{'d-none': orderByAccountAsc == null || !orderByAccountAsc }" aria-hidden="true"></i>
                        <i class="fa fa-sort-amount-desc"
                          [ngClass]="{'d-none': orderByAccountAsc == null || orderByAccountAsc }" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="th fe-2">
                    <div class="cell-wrapper">
                      <input class="form-control  form-control-sm" (keyup.enter)="filterRecords()" name="BranchName"  oninput="this.value = this.value.toUpperCase()"
                        (keydown.esc)="resetFilter()" [(ngModel)]="filterCompanyAccountInfo.Branch" placeholder="Search by Branch Name" autocomplete="off">
                      <div class="t-filter" (click)="arrangeDetails(orderByBranchAsc, 'Branch')">
                        <a href="javascript:void()" class="pe-2">Branch Name</a>
                        <i class="fa fa-sort-amount-asc"
                          [ngClass]="{'d-none': orderByBranchAsc == null || !orderByBranchAsc }" aria-hidden="true"></i>
                        <i class="fa fa-sort-amount-desc"
                          [ngClass]="{'d-none': orderByBranchAsc == null || orderByBranchAsc }" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="th fe-2">
                    <div class="cell-wrapper">
                      <input class="form-control  form-control-sm" (keyup.enter)="filterRecords()" name="IFSC"  oninput="this.value = this.value.toUpperCase()"
                        (keydown.esc)="resetFilter()" [(ngModel)]="filterCompanyAccountInfo.IFSC" placeholder="Search by IFSC Code" autocomplete="off">
                      <div class="t-filter" (click)="arrangeDetails(orderByIFSCAsc, 'IFSC')">
                        <a href="javascript:void()" class="pe-2">IFSC</a>
                        <i class="fa fa-sort-amount-asc"
                          [ngClass]="{'d-none': orderByIFSCAsc == null || !orderByIFSCAsc }" aria-hidden="true"></i>
                        <i class="fa fa-sort-amount-desc"
                          [ngClass]="{'d-none': orderByIFSCAsc == null || orderByIFSCAsc }" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="th fe-2 align-items-center justify-content-center">
                    <div class="cell-wrapper ">
                      <button class="btn btn-outline-success" (click)="addAccountPopUp()"><i class="fa fa-plus-square-o pe-2"></i>Add Account</button>
                      <div class="text-center mt-3">ACTIONS</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="t-body">
                <ng-container *ngIf="CompanyAccountDetails.length > 0">
                  <div class="tr py-2" *ngFor="let bank of CompanyAccountDetails; let i=index">
                    <div class="td align-middle text-center fe-index">
                      <div class="cell-wrapper">
                        {{i+1}}
                      </div>
                    </div>
                    <div class="td align-middle fe-5">
                      <div class="cell-wrapper">
                        {{bank.BankName}}
                      </div>
                    </div>
                    <div class="td align-middle fe-2">
                      <div class="cell-wrapper">
                        {{bank.AccountNo}}
                      </div>
                    </div>
                    <div class="td align-middle fe-2">
                      <div class="cell-wrapper">
                        {{bank.Branch}}
                      </div>
                    </div>
                    <div class="td align-middle fe-2">
                      <div class="cell-wrapper">
                        {{bank.IFSC}}
                      </div>
                    </div>
                    <div class="td align-middle fe-2">
                      <div class="d-flex flex-row justify-content-center">
                        <a href="javascript:void(0)" (click)="editAccountPopUp(bank)">
                          <span class="badge bg-primary"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                        </a>
                        <a href="javascript:void(0)" class="ms-3" (click)="DeleteAccountPopUp(bank)">
                          <span class="badge bg-danger"><i class="fa fa-trash" aria-hidden="true"></i></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="CompanyAccountDetails.length == 0">
                  <div class="custom-height fw-bold fs-3 text-danger d-flex align-items-center justify-content-center">
                    Record Not Found
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="mt-3">
            <app-pagination [pagination]="companyData" (onPageChange)="GetFilterResult($event)"></app-pagination>
          </div>
        </ng-container>
        <ng-container *ngIf="!isLoaded">
          <div class="py-5 my-5">
            <h6 class="fw-bold fs-3 text-center text-dark">Company Account Details are loading</h6>
            <div class="fs-5 pb-5 py-5 d-flex flex-column justify-content-center align-items-center">
              <div class="col-md-3 modal-container f-12 text-center cog-wheel">
                <img src="assets/images/cog.gif" alt="" />
                <h6 class="modal-title title-message">
                  Please Wait ........
                </h6>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </form>
  </div>
</div>


<!--Add or Edit Account Modal -->
<div class="modal fade" id="accountModal" tabindex="-1" aria-labelledby="accountModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0 ms-3">
        <h5 class="modal-title" id="accountModalLabel">{{singleCompanyAccountInfo.BankAccountId > 0 ? 'Edit' : 'Add'}} Account Deatils</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="organizationAccountsForm" autocomplete="off" class="col-md-12 row">
          <div class="col-12 row m-0">
            <div class="col-md-12">
              <div class="x_panel">
                <div class="x_header">
                  <div class="x_header_title">
                    <h2>Bank Detail<small>Bank related detail for transaction.</small></h2>
                  </div>
                </div>
                <div class="col-md-12 mb-3 mb-3 row">
                  <div class="col-md-4 my-2">
                    <label class="form-label">Bank Name</label>
                    <input placeholder="Bank Name" class="form-control" name="BankName"
                      oninput="this.value = this.value.toUpperCase()" formControlName="BankName" />
                  </div>
                  <div class="col-md-4 my-2">
                    <label class="form-label">Account No.# *</label>
                    <input placeholder="Account No.#" OnlyNumber="20" class="form-control" name="AccountNo"
                      [ngClass]="{'error-field': submitted && f.AccountNo.errors !== null && f.AccountNo.errors.required}"
                      formControlName="AccountNo" />
                  </div>
                  <div class="col-md-4 my-2">
                    <label class="form-label">IFSC Code</label>
                    <input placeholder="IFSC Code" class="form-control" name="IFSC"
                      oninput="this.value = this.value.toUpperCase()" formControlName="IFSC" />
                  </div>
                  <div class="col-md-4 my-2">
                    <label class="form-label">Branch Name</label>
                    <input placeholder="Branch name" class="form-control" name="Branch"
                      oninput="this.value = this.value.toUpperCase()" formControlName="Branch" />
                  </div>
                  <div class="col-md-4 my-2">
                    <label class="form-label">Branch Code</label>
                    <input placeholder="Branch Code" class="form-control" name="BranchCode" OnlyNumber="5"
                      formControlName="BranchCode" />
                  </div>
                </div>
              </div>
              <div class="x_panel mt-3">
                <div class="x_header">
                  <div class="x_header_title">
                    <h2>Other Details<small>Company other deatils.</small></h2>
                  </div>
                </div>
                <div class="col-md-12 mb-3 mb-3 row" *ngIf="!isCompanyrInfoSubmitted">
                  <div class="col-md-4 my-2">
                    <label class="form-label">PAN No.</label>
                    <input placeholder="PAN Number" class="form-control" name="PANNo"
                      oninput="this.value = this.value.toUpperCase()" formControlName="PANNo" />
                  </div>
                  <div class="col-md-4 my-2">
                    <label class="form-label">GSTIN No.#</label>
                    <input placeholder="GSTIN No.#" class="form-control" name="GSTNo"
                      oninput="this.value = this.value.toUpperCase()" formControlName="GSTNo" />
                  </div>
                  <div class="col-md-4 my-2">
                    <label class="form-label">Trade Liecence No.</label>
                    <input placeholder="Trade Liecence Number" class="form-control" name="TradeLicenseNo"
                      oninput="this.value = this.value.toUpperCase()" formControlName="TradeLicenseNo" />
                  </div>
                </div>
                <div class="col-md-12 mb-3 mb-3 row">
                  <div class="col-md-4 my-2">
                    <label class="form-label">Opening Date</label>
                    <form class="form-inline">
                      <div class="form-group w-100">
                        <div class="input-group w-100">
                          <input class="form-control" placeholder="yyyy-mm-dd" (dateSelect)="onOpeningDateSelect($event)"
                                 name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-md-4 my-2">
                    <label class="form-label">Closing Date</label>
                    <form class="form-inline">
                      <div class="form-group w-100">
                        <div class="input-group w-100">
                          <input class="form-control" placeholder="yyyy-mm-dd" (dateSelect)="onClosingDateSelect($event)"
                                 name="dp" [(ngModel)]="closingDatemodel" ngbDatepicker #cd="ngbDatepicker">
                          <button class="btn btn-outline-secondary calendar" (click)="cd.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-md-4 my-2">
                    <label class="form-label">IsPrimayAccount</label>
                    <select class="form-select" formControlName="IsPrimaryAccount">
                      <option value="true">Yes</option>
                      <option value="false">No</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa fa-close pe-2"></i> Close</button>
        <button class="btn btn-primary-c" [disabled]="isLoading" (click)="addUpdateAccount()" *ngIf="singleCompanyAccountInfo.BankAccountId > 0">
          <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-plus-square-o': !isLoading}"></i>
          <span class="ps-2">{{ isLoading ? 'Processing' : 'Update' }}</span>
        </button>
        <button class="btn btn-primary-c" [disabled]="isLoading" (click)="addUpdateAccount()" *ngIf="singleCompanyAccountInfo.BankAccountId == 0">
          <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-plus-square-o': !isLoading}"></i>
          <span class="ps-2">{{ isLoading ? 'Processing' : 'Add' }}</span>
        </button>
      </div>
    </div>
  </div>
</div>
