<div class="col-12 full-v main-container">
  <div>
    <form>
      <div class="x_panel mh-auto">
        <div class="x_header">
          <div class="x_header_title">
            <h2>
              Company Detail
              <small>Compnay critical details like: Bank account, PAN etc.</small>
              <i class="fa text-dark edit-icon ps-2"></i>
            </h2>
          </div>
        </div>
        <div class="px-1">
          <app-breadcrums></app-breadcrums>
        </div>

      </div>
    </form>
  </div>
</div>
