.table a {
  cursor: pointer;
  color: darkblue;
  text-decoration: underline;
}

.cell-wrapper {
  padding-left: .6rem;
  padding-right: .6rem;
}

.detail-area {
  min-height: 14rem;
  max-height: 14rem;
}
