<div class="col-12 full-v main-container" [ngClass]="{'preload': !isLoaded}">
    <div>
        <form>
            <div class="x_panel mh-auto">
                <div class="x_header">
                    <div class="d-flex justify-content-between">
                        <div class="col-8">
                            <div class="px-1">
                                <app-breadcrums [title]="'Organization Hierarchy Detail'"
                                    [subtitle]="'Hierarchy Detail like CEO, CFO, Manager etc.'"></app-breadcrums>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="x_header_title d-flex align-items-center justify-content-end">
                                <a href="javascript:void(0)" class="text-decoration-none fw-bold pe-4"><i
                                        class="fa-solid fa-paper-plane pe-1"></i> Organization structure</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x_panel">
                  <ng-container *ngIf="isLoaded">
                    <app-bot-tree-view [isViewMode]="false" [inputTree]="orgTree" (onSave)="saveTree($event)"></app-bot-tree-view>
                  </ng-container>
                </div>
            </div>
        </form>
    </div>
</div>
