.circle {
  position: relative;
  background: #8cc63e;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.checkmark {
  position: absolute;
  transform: rotate(45deg) translate(-50%, -50%);
  left: 25%;
  top: 48%;
  height: 9px;
  width: 5px;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
}

.declaration-bg {
  background: #d2d4d5;
  padding: 0.53rem 8px;
}

.upload-document-container {
  background: #c1e2f28f;
  border: 2px solid #85cef2fa;
  border-style: dashed;
}

.cell-wrapper {
  padding-left: .6rem !important;
  padding-right: .6rem !important;
}

.t-table .t-head, .t-body {
  overflow-y: auto;
}

.nav-link.active {
  color: #222;
  font-weight: 600 !important;
  border-radius: 0px !important;
}

.nav-active {
  color: #222;
  border-radius: 0px !important;
  position: relative;
  cursor: pointer;
  font-weight: 500;
}

.nav-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 40%;
  border-top: 6px solid rgb(44, 135, 151);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  transform: rotate(180deg);
}

.new-nav-active {
  color: #222 !important;
  border-radius: 0px !important;
  position: relative !important;
  cursor: pointer !important;
  font-weight: 500 !important;
}

.new-nav-active::after {
  content: '' !important;
  position: absolute !important;
  bottom: 0 !important;
  left: 15% !important;
  width: 70%;
  height: 3px;
  background: #8cc63e;
}

.tooltip-inner {
  max-width: 100% !important;
}

.indicator {
  padding: 5px;
  border-radius: 3px;
}
.previous-employer-indicator {
  background-color: #008dbb;
}

.curent-employer-indicator {
  background-color: #a9a10b;;
}

.project-salary-indicator {
  background-color: #1100ff;;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}


.select-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33vh;
  text-align: center;
  color: #a9a9a9;
}

textarea {
  resize: none;
}

.custom-bg {
  background-color: #eeeded;
}

.delete-modal {
  background-color: #222222db !important;
}

.primary-text {
  color: var(--primary-dark);
  cursor: pointer;
}

.custom-text-color {
  color: #bcbcbc ;
}

.delete-popup {
  z-index: 2200 !important;
}

.blur-section {
  z-index: 0 !important;
}

.t-body {
  max-height: 100% !important;
}

.offcanvas-body {
  overflow-x: hidden !important;
}

.submitted-declaration {
  border-left: 4px solid green !important;
}

input[readonly] {
  background-color: #e9ecef !important;
}