<div class="main-container">
  <div class="x_panel">
    <div class="x_header">
      <div class="x_header_title">
        <h2 class="fw-bold text-dark"><i class="fa fa-bullhorn pe-3 fa-lg"></i> Notifications</h2>
        <button class="btn float-end btn-primary"><i class="fa fa-plus-circle pe-2"></i> Create notification</button>
      </div>
    </div>
    <div>
      <app-breadcrums></app-breadcrums>
    </div>
    <div class="card p-2 mt-3 mb-2">
      <div class="row align-items-center">
        <div class="col-md-3 d-flex align-items-center py-2">
          <label class="form-label">Filter by</label>
          <div class="col ms-3">
            <input type="text" class="form-control" placeholder="Filter by message">
          </div>
        </div>
        <div class="col-md-3 d-flex align-items-center py-2">
          <label class="form-label">Filter by</label>
          <div class="col ms-3">
            <input type="text" class="form-control" placeholder="Filter by email or mobile or name">
          </div>
        </div>
        <div class="col-md-3 d-flex align-items-center py-2">
          <label class="form-label">Sort by</label>
          <div class="col ms-3">
            <select class="form-select">
              <option selected>Choose...</option>
              <option>By date and time</option>
            </select>
          </div>
        </div>
        <div class="col text-end pe-3 text-success fs-6">
          <i class="fa fa-filter pe-2"></i> <span>Filter</span>
        </div>
      </div>
    </div>
    <div class="x_panel mt-2">
      <div class="row">
        <div class="col-md-10">
          <div class="row border-bottom py-3 message-box" *ngFor="let item of notification">
            <div class="col-md-2">
              <img src="assets/faces/profile/profile.jpg" class="img-fluid" alt="user_img">
            </div>
            <div class="col-md-10">
              <h6 class="fs-5 text-primary">Your TimeSheet Notification</h6>
              <h6 class="pt-1">{{item.Message}}</h6>
              <p class="mb-0 pb-1">Updated <span class="fw-bold text-success">{{item.RequestedOn | date}}</span> by {{item.Email}}</p>
              <div class="d-flex my-2">
                <button class="btn btn-sm btn-primary">Action</button>
                <button class="btn btn-sm btn-secondary ms-2">View</button>
                <div class="d-flex ms-3 border-info rounded border">
                  <div class="col">
                    <select class="form-select">
                      <option selected>Choose...</option>
                      <option>By date and time</option>
                    </select>
                  </div>
                  <button class="btn btn-sm btn-success ms-3">
                    <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-user-circle-o': !isLoading}"></i>
                    {{ isLoading ? 'Wait' : 'Save' }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="border-bottom right-box pt-3">
            <p class="mb-0 pb-2"><span class="fw-bold fs-6 pe-2">7,989</span> <small>sent</small> <sup><i class="fa fa-question-circle ps-2 fa-lg"></i></sup></p>
            <p class="mb-0 pb-2"><span class="fw-bold fs-6 pe-2">7,989</span> <small>confirm receipts</small> <sup><i class="fa fa-question-circle ps-2 fa-lg"></i></sup></p>
            <p class="mb-0 pb-2"><span class="fw-bold fs-6 pe-2">7,989</span> <small>clicks (25.6%CTR)</small> <sup><i class="fa fa-question-circle ps-2 fa-lg"></i></sup></p>
          </div>
          <div class="border-bottom right-box pt-3">
            <p class="mb-0 pb-2">Last 30 Days</p>
            <p>No data</p>
          </div>
          <div class="right-box pt-3">
            <p class="mb-0 pb-2">Last 30 Days</p>
            <p>No data</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
