<div class="main-container">
  <div class="x_panel">
    <div class="x_header">
      <div class="d-flex justify-content-between">
        <div class="col-8">
          <div class="px-1">
            <app-breadcrums [title]="'Notification'" [subtitle]="'Details'"></app-breadcrums>
          </div>
        </div>
        <!-- <div class="col-4">
          <div class="x_header_title d-flex align-items-center justify-content-end">
          <a href="javascript:void(0)" class="text-decoration-none fw-bold pe-4" (click)="navToEmailLinkConfig()"><i
              class="fa fa-paper-plane pe-1"></i> Email Link Config
          </a>
          <button class="btn btn-primary-c" (click)="createNotificationPopUp()"><i
              class="fa fa-plus-square pe-2"></i>Add Notification</button>
        </div> -->
      </div>
    </div>
    <!-- <div class="card p-2 mt-3 mb-2">
      <div class="row align-items-center">
        <div class="col-md-3 d-flex align-items-center py-2">
          <label class="form-label">Filter by</label>
          <div class="col ms-3">
            <input type="text" class="form-control" placeholder="Filter by message">
          </div>
        </div>
        <div class="col-md-3 d-flex align-items-center py-2">
          <label class="form-label">Filter by</label>
          <div class="col ms-3">
            <input type="text" class="form-control" placeholder="Filter by email or mobile or name">
          </div>
        </div>
        <div class="col-md-3 d-flex align-items-center py-2">
          <label class="form-label">Sort by</label>
          <div class="col ms-3">
            <select class="form-select">
              <option selected>Choose...</option>
              <option>By date and time</option>
            </select>
          </div>
        </div>
        <div class="col text-end pe-3 fs-6">
          <a href="javascript:void(0)" class="text-decoration-none text-success">
            <i class="fa fa-filter pe-2"></i> <span>Filter</span>
          </a>
        </div>
      </div>
    </div>
    <div class="x_panel mt-2">
      <div class="row">
        <div class="col-md-10">
          <div class="row border-bottom py-3 message-box" *ngFor="let item of notification">
            <div class="col-md-2">
              <img src="assets/faces/profile/profile.jpg" class="img-fluid" alt="user_img">
            </div>
            <div class="col-md-10">
              <h6 class="fs-5 text-primary">Your TimeSheet Notification</h6>
              <h6 class="pt-1">{{item.Message}}</h6>
              <p class="mb-0 pb-1">Updated <span class="fw-bold text-success">{{item.RequestedOn | date}}</span> by
                {{item.Email}}</p>
              <div class="d-flex my-2">
                <button class="btn btn-sm btn-primary-c"><i class="fa pe-1 fa-repeat"
                    aria-hidden="true"></i>Action</button>
                <button class="btn btn-sm btn-secondary ms-2"><i class="fa fa-list pe-1"></i> View</button>
                <div class="d-flex ms-3">
                  <div class="col">
                    <select class="form-select">
                      <option selected>Choose...</option>
                      <option>By date and time</option>
                    </select>
                  </div>
                  <button class="btn btn-sm btn-success ms-3">
                    <i class="fa pe-1" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-floppy-o': !isLoading}"></i>
                    {{ isLoading ? 'Wait' : 'Save' }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="border-bottom right-box pt-3">
            <p class="mb-0 pb-2"><span class="fw-bold fs-5 pe-2">7,989</span> <small class="fs-6">sent</small> <sup><i
                  class="fa fa-question-circle ps-2 fa-lg"></i></sup></p>
            <p class="mb-0 pb-2"><span class="fw-bold fs-5 pe-2">7,989</span> <small class="fs-6">confirm
                receipts</small> <sup><i class="fa fa-question-circle ps-2 fa-lg"></i></sup></p>
            <p class="mb-0 pb-2"><span class="fw-bold fs-5 pe-2">7,989</span> <small class="fs-6">clicks
                (25.6%CTR)</small> <sup><i class="fa fa-question-circle ps-2 fa-lg"></i></sup></p>
          </div>
          <div class="border-bottom right-box pt-3">
            <p class="mb-0 pb-2 fs-5">Last 30 Days</p>
            <p>No data</p>
          </div>
          <div class="right-box pt-3">
            <p class="mb-0 pb-2 fs-5">Last 30 Days</p>
            <p>No data</p>
          </div>
        </div>
      </div>
    </div> -->
    <ng-container *ngIf="isPageReady">
      <div class="x_content mt-4">
        <div class="t-table t-list t-border col-md-12">
          <div class="hide-bar"></div>
          <div class="t-head">
            <div class="tr">
              <div class="th fe-index">
                <div class="t-index">
                  <a href="javascript:void()" class="ps-3">#</a>
                </div>
              </div>
              <div class="th fe-1">
                <div class="cell-wrapper">
                  <input class="form-control form-control-sm" autofocus placeholder="Search by Total Days" readonly>
                  <div class="t-filter">
                    <a href="javascript:void(0)">Announcement Code</a>
                  </div>
                </div>
              </div>
              <div class="th fe-1">
                <div class="cell-wrapper">
                  <input class="form-control form-control-sm" placeholder="Search by Name" [(ngModel)]="notifiCationDetail.Topic"
                    (keydown.esc)="resetFilter()" oninput="this.value = this.value.toUpperCase()"
                    (keyup.enter)="filterRecords()" autofocus>
                  <div class="t-filter" (click)="arrangeDetails(orderByTopicAsc, 'Topic')">
                    <a href="javascript:void()" class="pe-2">Topic</a>
                    <i class="fa fa-sort-amount-asc"
                      [ngClass]="{'d-none': orderByTopicAsc == null || !orderByTopicAsc }" aria-hidden="true"></i>
                    <i class="fa fa-sort-amount-desc"
                      [ngClass]="{'d-none': orderByTopicAsc == null || orderByTopicAsc }" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="th fe-1">
                <div class="cell-wrapper">
                  <select class="form-select" [(ngModel)]="notifiCationDetail.AnnouncementType"
                  (change)="filterRecords()">
                    <option value="0">Select Type</option>
                    <option value="1">By Employee</option>
                    <option value="2">By Department</option>
                    <option value="3">By Job Position</option>
                  </select>
                  <div class="t-filter" (click)="arrangeDetails(orderByAnnounceTypeAsc, 'AnnouncementType')">
                    <a href="javascript:void()" class="pe-2">Announcement Type</a>
                    <i class="fa fa-sort-amount-asc"
                      [ngClass]="{'d-none': orderByAnnounceTypeAsc == null || !orderByAnnounceTypeAsc }" aria-hidden="true"></i>
                    <i class="fa fa-sort-amount-desc"
                      [ngClass]="{'d-none': orderByAnnounceTypeAsc == null || orderByAnnounceTypeAsc }" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="th fe-3">
                <div class="cell-wrapper">
                  <input class="form-control form-control-sm" autofocus placeholder="Search by Name"
                  [(ngModel)]="notifiCationDetail.BriefDetail" (keydown.esc)="resetFilter()" oninput="this.value = this.value.toUpperCase()"
                  (keyup.enter)="filterRecords()">
                  <div class="t-filter" (click)="arrangeDetails(orderByBriefDetailDateAsc, 'BriefDetail')">
                    <a href="javascript:void()" class="pe-2">Brief Detail</a>
                    <i class="fa fa-sort-amount-asc"
                      [ngClass]="{'d-none': orderByBriefDetailDateAsc == null || !orderByBriefDetailDateAsc }" aria-hidden="true"></i>
                    <i class="fa fa-sort-amount-desc"
                      [ngClass]="{'d-none': orderByBriefDetailDateAsc == null || orderByBriefDetailDateAsc }" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="th fe-1">
                <div class="cell-wrapper">
                  <input class="form-control form-control-sm" autofocus placeholder="Search by Total Days" readonly>
                  <div class="t-filter" (click)="arrangeDetails(orderByCreatedAsc, 'CreatedOn')">
                    <a href="javascript:void()" class="pe-2">Created On</a>
                    <i class="fa fa-sort-amount-asc"
                      [ngClass]="{'d-none': orderByCreatedAsc == null || !orderByCreatedAsc }" aria-hidden="true"></i>
                    <i class="fa fa-sort-amount-desc"
                      [ngClass]="{'d-none': orderByCreatedAsc == null || orderByCreatedAsc }" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="th fe-1">
                <div class="cell-wrapper">
                  <input class="form-control form-control-sm" autofocus placeholder="Search by Status" readonly>
                  <div class="t-filter">
                    <a href="javascript:void()" class="pe-2">Status</a>
                  </div>
                </div>
              </div>
              <div class="th fe-index text-center">ACTIONS</div>
            </div>
          </div>
          <div class="t-body">
            <ng-container *ngIf="allNotificationList.length > 0">
              <div class="tr py-2" *ngFor="let item of allNotificationList; let i = index;">
                <div class="td align-middle text-center fe-index">
                  <div class="cell-wrapper">
                    {{item.Index}}
                  </div>
                </div>
                <div class="td align-middle fe-1">
                  <div class="cell-wrapper">
                    {{item.AnnouncementId}}
                  </div>
                </div>
                <div class="td align-middle fe-1">
                  <div class="cell-wrapper">
                    {{item.Topic}}
                  </div>
                </div>
                <div class="td align-middle fe-1">
                  <div class="cell-wrapper">
                    {{item.AnnouncementType == 1 ?'By Employee' : item.AnnouncementType == 2 ?'By Department' : item.AnnouncementType == 3 ?'By Job Position' : 'General Announcement'}}
                  </div>
                </div>
                <div class="td align-middle fe-3">
                  <div class="cell-wrapper">
                    {{item.BriefDetail}}
                  </div>
                </div>
                <div class="td align-middle fe-1">
                  <div class="cell-wrapper">
                    {{item.CreatedOn | date}}
                  </div>
                </div>
                <div class="td align-middle fe-1">
                  <div class="cell-wrapper">
                    {{item.IsExpired == true ? 'Expired': 'Not Expired'}}
                  </div>
                </div>
                <div class="td align-middle fe-index">
                  <div class="d-flex flex-row justify-content-evenly">
                    <a href="javascript:void(0)" (click)="viewNotificationPopup(item)">
                      <i class="fa fa-eye text-dark" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="allNotificationList.length == 0 && isPageReady">
              <div
                class="custom-height fw-bold fs-3 py-5 my-5 text-danger d-flex align-items-center justify-content-center">
                <p class="my-5 py-5">Record Not Found</p>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="mt-3">
        <app-pagination [pagination]="notificationData" (onPageChange)="GetFilterResult($event)"></app-pagination>
      </div>
    </ng-container>
    <!-- <ng-container *ngIf="!isPageReady">
      <div class="fs-5 my-5 py-5 d-flex flex-column justify-content-center align-items-center">
        <div class="col-md-3 modal-container  text-center cog-wheel">
          <img src="assets/images/cog.gif" alt="" />
          <h6 class="modal-title title-message">
            Please Wait ........
          </h6>
        </div>
      </div>
    </ng-container> -->
  </div>
</div>


<!-- View Notification Modal -->
<div class="modal fade" id="viewNotificationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="viewNotificationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="viewNotificationModalLabel">View Notification</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="currentNotification != null">
        <h4>Code No: {{currentNotification.AnnouncementId}}</h4>
        <div class="form-check mt-3">
          <label class="form-check-label" for="flexCheckCheckedDisabled">
            General Announcement
          </label>
          <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" [checked]="currentNotification.IsGeneralAnnouncement" disabled>
        </div>
        <div class="row">
          <div class="col-md-6 mt-3 row">
            <div class="col-md-5 fw-bold">Title:</div>
            <div class="col-md-6">{{currentNotification.Topic}}</div>
          </div>
          <div class="col-md-6 mt-3 row">
            <div class="col-md-5 fw-bold">Requested On:</div>
            <div class="col-md-6">{{currentNotification.CreatedOn | date}}</div>
          </div>
          <div class="col-md-6 mt-3 row">
            <div class="col-md-5 fw-bold">Start Date:</div>
            <div class="col-md-6">{{currentNotification.StartDate | date}}</div>
          </div>
          <div class="col-md-6 mt-3 row">
            <div class="col-md-5 fw-bold">End Date:</div>
            <div class="col-md-6">{{currentNotification.EndDate | date}}</div>
          </div>
          <div class="col-md-6 mt-3 row">
            <div class="col-md-5 fw-bold">Attachment:</div>
            <div class="col-md-6">
              <a href="javascript:void(0)" (click)="uploadedFilePopUp()" *ngIf="uploadedFile.length > 0">
                <span class="fw-bold" *ngIf="uploadedFile.length > 0">{{uploadedFile.length}} file attached</span>
              </a>
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <label for="" class="form-label fw-bold">Announcement Deatils</label>
            <p class="mb-0">{{currentNotification.CompleteDetail}}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa fa-close"></i> Close</button>
      </div>
    </div>
  </div>
</div>


<!-- View File Modal -->
<div class="modal fade view-popup" id="viewFileModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="viewFileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="viewFileModalLabel">View Files</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ng-container >
          <table class="table">
            <thead>
              <tr>
                <th width="8%">#</th>
                <th>File Name</th>
                <td width="20%">Action</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of uploadedFile; let i = index">
                <td class="counterCell">{{i+1}}</td>
                <td>{{item.FileName}}.{{item.FileExtension}}</td>
                <td>
                  <a href="javascript:void(0)" class="text-decoration-none" (click)="viewFile(item)"><i class="fa fa-eye px-2 text-dark"></i></a>
                  <!-- <a href="javascript:void(0)" class="text-decoration-none" (click)="deleteRentFile(item)"><i class="fa fa-trash px-2 text-danger"></i></a> -->
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa fa-close"></i> Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Pdf viewer modal -->
<div class="d-none file-container" id="viewfile-container" (click)="closePdfViewer()">
  <div class="text-end">
    <a (click)="closePdfViewer()" class="close_view">
      <i class="fa fa-times fa-2x" aria-hidden="true"></i>
    </a>
  </div>
  <iframe src="" width="800px" height="600px" style="border: none;"></iframe>
</div>

<!--Doc View Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="showDocxFile" role="dialog"
  aria-labelledby="showDocxFile" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title font-weight-bold text-dark" id="exampleModalLongTitle">Docx Viewer</h5>
        <button type="button" class="btn-close" (click)="CloseDocxViewer()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col-12 overflow-auto">
          <iframe [srcdoc]="renderedDocxFile" style="width: 100%; height: 74vh;"></iframe>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <a href="javascript:void(0)" (click)="CloseDocxViewer()" class="text-decoration-none btn-white pe-3">Close</a>
      </div>
    </div>
  </div>
</div>




<!-- Create Notification Modaql -->
<!-- <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="createNotification" tabindex="-1"
  aria-labelledby="createNotificationLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="createNotificationLabel">Create Notification</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary-c" [disabled]="isCreateNotification">
          <i class="fa pe-2"
            [ngClass]="{'fa-spin fa-spinner': isCreateNotification, 'fa-floppy-o': !isCreateNotification}"></i>
          {{ isCreateNotification ? 'Wait' : 'Save' }}
        </button>
      </div>
    </div>
  </div>
</div> -->
<!-- end -->
