* {
  box-sizing: border-box;
}
.title {
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 10px;
}
a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  color: #222;
  margin-left: 10px;
  display: block;
}
.accordion {
  overflow: auto;
  max-height: 100vh;
}
.accordion-header button {
  font-size: 14px !important;
  font-weight: 700 !important;
}

.side-panel {
  height: 100vh !important;
  background-color: #fff;
  overflow: hidden;
}

.img-fluid {
  max-width: 70% !important;
}

.menu-items {
  height: calc(100vh - 4rem) !important;
  overflow: auto;
}

.menu-top {
  height: 4rem;
}
