* {
    box-sizing: border-box;
  }
  .title {
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 10px;
  }
  a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    color: #222;
    margin-left: 10px;
    display: block;
  }
  .accordion {
    overflow: auto;
    max-height: 430px;
  }
  .accordion-header button {
    font-size: 14px !important;
    font-weight: 700 !important;
  }

  .side-panel {
    position: fixed;
    width: 16rem;
    background: white;
  }