<div class="col-12 full-v main-container">
  <div class="col-12 row p-0 m-0">
    <div class="right-panel container col-md-12 p-0">
      <div class="x_panel mt-2">
        <div class="x_header">
          <div class="x_header_title d-flex justify-content-between align-items-center">
            <h2>Products<small>Details</small></h2>
            <div class="d-flex align-items-center">
              <a href="javascript:void(0)" class="text-decoration-none fw-bold pe-4" (click)="navToEmailLinkConfig()"><i
                  class="fa fa-paper-plane pe-1"></i> Email Link Config
              </a>
              <button class="btn btn-primary-c" (click)="addShiftPopUp()"><i class="fa fa-plus pe-2"></i>Add Shift</button>
            </div>
          </div>
        </div>

        <div class="px-1">
          <app-breadcrums></app-breadcrums>
        </div>
        <ng-container >

        </ng-container>
      </div>
    </div>
  </div>
</div>
