<section class="body-panel section-cover">
  <div class="c-area area-1 container">
    <h1 class="text-center section_title">Manage your entire team in one place</h1>
    <p class="section-cover-text mt-4 text-center mb-5">Emstum streamlines day-to-day tasks for deskless teams,
      promoting connectivity and empowering you to concentrate on expanding your business.</p>
    <div>
      <button class="btn btn-primary-c rounded-pill fs-5" routerLink="/freetrial">Start now, its free!</button>
    </div>
  </div>
</section>
<section class="body-panel">
  <div class="c-area area-1 row align-items-center mt-5 pt-5">
    <div class="col-md-6 ">
      <div class="col-md-8 ms-auto row">
        <img src="assets/images/Our-story.png" alt="logo" class="img-fluid">
        <div class="col-md-10 ms-auto text-dark quote-sign">
          <div class="bg-dark text-white d-inline-block rounded-circle">
            <i class="fa-solid fa-quote-left p-3 py-4 fa-lg"></i>
          </div>
          <p class="lh-base mt-2 fs-5">Efficiency has seen a notable improvement with Emstum overseeing our entire
            business, leading to increased productivity.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 px-5">
      <div class="col-md-6 my-5">
        <h2 class="text-dark">Emstum for Enterprises</h2>
        <p class="mt-3 fs-5 text-dark">"Emstum empowers your workforce – the ultimate people enabler. Through automation
          of vital processes and the creation of an engaged culture, Emstum is your comprehensive tool for turning a
          good company into a great one."</p>
        <button class="btn btn-primary-c">GET IN TOUCH <i class="fa-solid fa-angle-right ps-2"></i></button>
      </div>
    </div>
  </div>
  <div class="c-area area-1 row align-items-center">
    <div class="col-md-6 d-flex flex-column align-items-end">
      <div class="col-md-7 my-5">
        <h2 class="text-dark fw-bold">AI-Enhanced Website Experience</h2>
        <p class="mt-3 fs-5 text-dark">Our website leverages cutting-edge AI technology for a versatile and dynamic user
          experience. From intelligent recommendations and personalized interactions to automated assistance, our
          platform is designed to cater to multiple needs. The integration of AI ensures a seamless and responsive
          online environment, revolutionizing the way users engage with our content and services.</p>
      </div>
    </div>
    <div class="col-md-6 ">
      <div class="col-md-8 row">
        <img src="assets/images/AI.png" alt="logo" class="img-fluid">
      </div>
    </div>
  </div>
  <div class="c-area area-1 row align-items-center">
    <div class="col-md-6 ">
      <div class="col-md-8 ms-auto row">
        <img src="assets/images/360_performance.jpg" alt="logo" class="img-fluid">
      </div>
    </div>
    <div class="col-md-6 px-5">
      <div class="col-md-7 my-5">
        <h2 class="text-dark fw-bold">360-Degree Performance Excellence</h2>
        <p class="mt-3 fs-5 text-dark">Experience a revolutionary approach to performance assessment with our 360-degree
          feedback system. This method provides a comprehensive view of individual contributions, drawing insights from
          peers, managers, and self-evaluations. By embracing a holistic perspective, we empower individuals and
          organizations to enhance strengths, address weaknesses, and cultivate a culture of continuous improvement for
          unparalleled success.</p>
      </div>
    </div>
  </div>
</section>
<section class="body-panel">
  <div class="c-area area-1 container">
    <p class="fs-1 text-dark fw-semibold text-center mt-5" style="text-wrap: balance;">All the essentials for
      cultivating a high-performance culture are at your fingertips.</p>
    <div class="row justify-content-center col-md-12 mx-auto mb-5">
      <div class="col-md-3 text-dark mt-5">
        <div class="card p-3">
          <div
            class="rounded-icon mb-2 bg-aqua-light p-3 rounded-circle d-flex align-items-center justify-content-between">
            <i class="fa-solid fa-sack-dollar text-aqua fa-2x"></i>
          </div>
          <h4 class="fw-bold">Payroll</h4>
          <p>Transform your payroll experience with our groundbreaking system, automating tasks and streamlining
            processes for time efficiency.</p>
        </div>
      </div>
      <div class="col-md-3 text-dark mt-5">
        <div class="card p-3">
          <div
            class="rounded-icon mb-2 bg-green-light p-3 rounded-circle d-flex align-items-center justify-content-between">
            <i class="fa-solid fa-user-large text-green fa-2x"></i>
          </div>
          <h4 class="fw-bold">HR Management</h4>
          <p>Enhance your digital workplace by consolidating all people information in one accessible location for
            simplified access.</p>
        </div>
      </div>
      <div class="col-md-3 text-dark mt-5">
        <div class="card p-3">
          <div
            class="rounded-icon mb-2 bg-magenta-light p-3 rounded-circle d-flex align-items-center justify-content-between">
            <i class="fa-solid fa-award text-magenta fa-2x"></i>
          </div>
          <h4 class="fw-bold">Performance</h4>
          <p>Cultivate engagement with a culture driven by contextual feedback and goals that align with the broader
            objectives of the organization.</p>
        </div>
      </div>
      <div class="col-md-3 text-dark mt-5">
        <div class="card p-3">
          <div
            class="rounded-icon mb-2 bg-violet-light p-3 rounded-circle d-flex align-items-center justify-content-between">
            <i class="fa-regular fa-calendar-check text-violet fa-2x"></i>
          </div>
          <h4 class="fw-bold">Attendance & Timesheet</h4>
          <p>Keep a close eye on employee working hours and ensure prompt compensation, even in a remote working
            environment.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="body-panel">
  <div class="c-area area-1 container mb-5">
    <div class="mx-auto col-md-7">
      <p class="text-center">
        <i class="fa-solid fa-shield-halved fa-4x text-dark"></i>
      </p>
      <p class="fs-1 text-dark text-center">
        Trust that your privacy is our utmost concern and responsibility.
      </p>
      <p class="text-center text-dark fs-5">
        We prioritize trust in our relationship. Your data is not something we own or sell, and we don't operate on
        advertising-centric models. Our revenue is derived solely from the software license fees you provide.
      </p>
    </div>
  </div>
</section>
<app-footer></app-footer>