<div class="col-12 full-v main-container">
  <div>
    <form>
      <div class="x_panel">
        <div class="x_header">
          <div class="d-flex justify-content-between">
            <div class="col-8">
              <div class="px-1">
                <app-breadcrums [title]="'PF & ESI'" [subtitle]="'Setup PF & ESI rules and value.'"></app-breadcrums>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 p-2 my-4 row">
          <ng-container *ngIf="IsReady">
            <p class="fs-5 fw-bold text-primary-dc">PROVIDENT FUND & ESI SETTING <button [disabled]="isLoading"
                class="btn btn-outline-success float-end" (click)="submitPFESISetting()"><i class="fa" [ngClass]="{'fa-cog': !isLoading, 'fa-spin fa-spinner': isLoading}"></i>
               <span class="ps-2">{{ isLoading ? 'Wait' : 'Save' }}</span></button></p>
            <label>These setting will be used for the different calculatin like, Salary, GST etc.</label>
            <div class="mx-4 my-4 row" [formGroup]="PFandESIForm">
              <div class="col-md-6">
                <div class="px-3 pt-4 pb-5">
                  <div class="d-flex flex-row">
                    <div class="fe-1 pe-3 fs-5 fw-bold">Provident fund status</div>
                    <div class="fe-1">
                      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" formControlName="PFEnable" value="true" name="PFEnable" id="btnradio122" (click)="pfStatusChange($event)"
                          autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio122">On</label>
                        <input type="radio" class="btn-check" formControlName="PFEnable" value="false" name="PFEnable" id="btnradio222" (click)="pfStatusChange($event)"
                          autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio222">Off</label>
                      </div>
                    </div>
                  </div>
                  <div class="mt-4">
                    <p class="mb-0 fw-bold fs-6">PF CONTRIBUTION</p>
                    <div>
                      <blockquote>
                        <label class="fs-4 py-2">Statutory minimun monthly basic for PF Calculation</label>
                        <ul class="list-border-0 list-group">
                          <li class="list-group-item">
                            <input class="form-check-input me-1" data-name="pf-setting" [attr.disabled]="PFandESIForm.controls.PFEnable.value == false" formControlName="IsPfAmountLimitStatutory" type="checkbox" aria-label="...">
                            Limit PF amount to Statutory minimum Salary for all employees.
                          </li>
                          <li class="list-group-item pb-0">
                            <input class="form-check-input me-1" data-name="pf-setting"  formControlName="IsPfCalculateInPercentage" type="checkbox"
                             aria-label="..." (click)="enableChildList($event)">
                            Allow PF calculated as percentage of Basic Salary beyond Statutory Minimum.
                            <ul class="list-border-0 list-group">
                              <li class="list-group-item pt-3">
                                <input type="checkbox" data-name="pf-setting"  name="IsAllowOverridingPf"  disabled id="allowPFoverriding"
                                  formControlName="IsAllowOverridingPf" class="form-check-input">
                                Allow overriding of PF at salary structure level.
                              </li>
                            </ul>
                          </li>
                          <li class="list-group-item pb-0">
                            <input class="form-check-input me-1" formControlName="IsPfEmployerContribution" (click)="allowPFContribution($event)"
                              type="checkbox" data-name="pf-setting"   aria-label="...">
                            Pay Employer Contribution of Provident Fund outside the Gross Salary of an Employee
                            <ul class="list-border-0 list-group">
                              <li class="list-group-item pt-3 d-flex align-items-center">
                                <input type="checkbox" data-name="pf-setting"  disabled class="form-check-input" (click)="enablePfAmount(isallowPFamount)" name="IsEmployerPFLimitContribution" formControlName="IsEmployerPFLimitContribution" disabled>
                                <span class="ps-1">Limit employer's PF contribution amount maximum of</span>
                                <div class="mx-4 col-md-2 d-inline-block">
                                  <input OnlyNumber="9" class="form-control" [readonly]="!isallowPFamount" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" name="EmployerPFLimit" formControlName="EmployerPFLimit">
                                </div> Monthly
                              </li>
                            </ul>
                          </li>
                          <li class="list-group-item">
                            <input class="form-check-input me-1" data-name="pf-setting"  formControlName="IsHidePfEmployer" type="checkbox"
                              value="" aria-label="...">
                            Hide PF Employer in Payslip (and exclude from gross earnings calculation in Payslip)
                          </li>
                          <li class="list-group-item">
                            <input class="form-check-input me-1" data-name="pf-setting"  formControlName="IsPayOtherCharges" type="checkbox"
                              value="" aria-label="...">
                            Pay Other Chargs of Provident Fund outisde the Gross Salry of an Employee
                          </li>
                          <li class="list-group-item">
                            <input class="form-check-input me-1" data-name="pf-setting"  formControlName="IsAllowVPF" type="checkbox" value=""
                              aria-label="...">
                            Allow employees to contribute towards VPF
                          </li>
                        </ul>
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="px-3 py-4">
                  <div class="d-flex flex-row">
                    <div class="fe-1 fs-5 fw-bold">ESI status</div>
                    <div class="fe-1">
                      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" formControlName="EsiEnable" value="true" name="EsiEnable" id="btnradio3"
                          autocomplete="off" checked (click)="esiStatusChange($event)">
                        <label class="btn btn-outline-primary"  for="btnradio3">On</label>

                        <input type="radio" class="btn-check" formControlName="EsiEnable" value="false" name="EsiEnable" id="btnradio4"
                          autocomplete="off" (click)="esiStatusChange($event)">
                        <label class="btn btn-outline-primary" for="btnradio4">Off</label>
                      </div>
                    </div>
                  </div>
                  <div class="mt-4">
                    <p class="mb-0 fw-bold fs-6">ESI CONTRIBUTION</p>
                    <div>
                      <ul class="list-border-0 li-spacing list-group">
                        <li class="list-group-item">
                          Maximum monthly gross salary eligible for ESI
                          <i class="mx-4 fa fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Maximum monthly gross salary eligible for ESI"></i>
                          <div class="col-md-2 d-inline-block">
                            <input OnlyNumber="9" class="form-control" formControlName="MaximumGrossForESI" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))">
                          </div>
                        </li>
                        <li class="list-group-item">
                          ESI Employee Contribution is
                          <div class="mx-4 col-md-2 d-inline-block">
                            <input OnlyNumber="9" class="form-control" formControlName="EsiEmployeeContribution" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))">
                          </div>
                          of gross Salary
                        </li>
                        <li class="list-group-item">
                          ESI Employer Contribution is
                          <div class="mx-4 col-md-2 d-inline-block">
                            <input OnlyNumber="9" class="form-control" formControlName="EsiEmployerContribution" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))">
                          </div>
                          of gross Salary
                        </li>
                        <li class="list-group-item">
                          <input class="form-check-input me-1" formControlName="IsAllowOverridingEsi" type="checkbox" data-name="esi-setting"
                            value="" aria-label="...">
                          Allow overriding of ESI at salary structure level.
                          <i class="fa fa-info-circle ms-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Allow overriding of ESI at salary structure level."></i>
                        </li>
                        <li class="list-group-item">
                          <input class="form-check-input me-1" formControlName="IsEsiEmployerContributionOutside" type="checkbox" data-name="esi-setting"
                            value="" aria-label="...">
                          Pay Employer Contribution of ESI outside the Gross Salary of an Employee
                          <i class="fa fa-info-circle ms-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Pay Employer Contribution of ESI outside the Gross Salary of an Employee"></i>
                        </li>
                        <li class="list-group-item">
                          <input class="form-check-input me-1" formControlName="IsHideEsiEmployer" type="checkbox" data-name="esi-setting"
                            value="" aria-label="...">
                          Hide ESI Employer in Payslip (and exlude from gross earnings calculation in Payslip)
                          <i class="fa fa-info-circle ms-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Hide ESI Employer in Payslip (and exlude from gross earnings calculation in Payslip)"></i>
                        </li>
                        <li class="list-group-item">
                          <input class="form-check-input me-1" formControlName="IsEsiExcludeEmployerShare" type="checkbox" data-name="esi-setting"
                            value="" aria-label="...">
                          Exclude employer's share from gross in ESI calculation
                          <i class="fa fa-info-circle ms-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Exclude employer's share from gross in ESI calculation"></i>
                        </li>
                        <li class="list-group-item">
                          <input class="form-check-input me-1" formControlName="IsEsiExcludeEmployeeGratuity" type="checkbox" data-name="esi-setting"
                            value="" aria-label="...">
                          Exclude Employee Gratuity contribution from gross in ESI calculation
                          <i class="fa fa-info-circle ms-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Exclude Employee Gratuity contribution from gross in ESI calculation"></i>
                        </li>
                        <li class="list-group-item">
                          <input class="form-check-input me-1" formControlName="IsRestrictEsi" type="checkbox" value="" data-name="esi-setting"
                            aria-label="...">
                          Restrict ESI Gross to Statutory Gross during the contribution period
                          <i class="fa fa-info-circle ms-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Restrict ESI Gross to Statutory Gross during the contribution period"></i>
                        </li>
                        <li class="list-group-item">
                          <input class="form-check-input me-1" formControlName="IsIncludeBonusEsiEligibility" data-name="esi-setting"
                            type="checkbox" value="" aria-label="...">
                          Include Bonuses and One-Time payments in gross for ESI eligibility calculation
                          <i class="fa fa-info-circle ms-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Include Bonuses and One-Time payments in gross for ESI eligibility calculation"></i>
                        </li>
                        <li class="list-group-item">
                          <input class="form-check-input me-1" formControlName="IsIncludeBonusEsiContribution" data-name="esi-setting"
                            type="checkbox" value="" aria-label="...">
                          Include Bonuses and One-Time payments in gross for ESI Contribution calculation
                          <i class="fa fa-info-circle ms-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Include Bonuses and One-Time payments in gross for ESI Contribution calculation"></i>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="!IsReady">
            <div class="py-5 my-5">
              <h6 class="fw-bold fs-3 text-center text-dark">PF & ESI Settings are loading</h6>
              <div class="fs-5 pb-5 py-5 d-flex flex-column justify-content-center align-items-center">
                <div class="col-md-3 modal-container  text-center cog-wheel">
                  <img src="assets/images/cog.gif" alt="" />
                  <h6 class="modal-title title-message">
                    Please Wait ........
                  </h6>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </form>
  </div>
</div>
