<div class="main-container">
  <form autocomplete="off">
    <ng-container *ngIf="isEmployeesReady">
      <div class="col-md-12 bg-light mb-3">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link text-dark" id="attendance-tab" (click)="activateMe('attendance-tab')" aria-current="page"
              href="javascript:void(0)">ATTENDENCE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark nav-active" id="timesheet-tab" (click)="activateMe('timesheet-tab')"
              href="javascript:void(0)">TIMESHEET</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" id="leave-tab" (click)="activateMe('leave-tab')"
              href="javascript:void(0)">LEAVE</a>
          </li>
        </ul>
      </div>

      <!-- <div class="col-md-4 p-0 m-0 mb-4">
        <label class="form-label">Select Employer</label>
        <app-iautocomplete [data]="clientDetail" [(ngModel)]="clientId" [ngModelOptions]="{standalone: true}">
        </app-iautocomplete>
      </div> -->
    </ng-container>
    <div class="col-12 row m-0 p-0 mb-4 skeleton">
      <ng-container *ngIf="isEmployeesReady">
        <div class="col-md-8 row m-0 p-0 vhide">
          <div class="col-md-4" *ngIf="!isRedirected">
            <label class="form-label">Employee Name *</label>
            <app-iautocomplete [data]="employeesList" (OnSelect)="findEmployee($event)" [(ngModel)]="employeeId"
              [ngModelOptions]="{standalone: true}">
            </app-iautocomplete>
          </div>
          <div class="col-md-4 p-0 m-0">
            <label class="form-label">Select Organization</label>
            <app-iautocomplete [data]="clientDetail" [(ngModel)]="clientId" (OnSelect)="presentWeek()" [ngModelOptions]="{standalone: true}">
            </app-iautocomplete>
          </div>
        </div>
      </ng-container>
      <div class="col-md-4 vhide elem-row justify-content-end">
        <div class="elem-row-item-base  justify-content-end ps-2">
          <a href="javascript:void(0)" class="p-2 p-2 badge bg-success text-light head-badge">
            <i class="fa fa-calendar-times-o pe-1" aria-hidden="true"></i>
            My TimeSheet
          </a>
        </div>
      </div>
    </div>

    <div class="px-1">
      <app-breadcrums></app-breadcrums>
    </div>
    <ng-container *ngIf="clientId > 0">
      <h6 class="mt-3 text-dark">Logs & Requests</h6>
      <div class="col-md-12 mt-3 bg-light">
        <nav ngbNav #nav="ngbNav" class="nav-tabs">
          <ng-container ngbNavItem>
            <a ngbNavLink class="text-dark">Attendance Log</a>
            <ng-template ngbNavContent>
              <ng-container [ngSwitch]="divisionCode">
                <ng-container *ngSwitchCase="2">
                  <div class="x_panel pt-4 timesheet-form">
                    <div class="x_header">
                      <div class="x_header_title row">
                        <div class="text-dark text-dark d-flex flex-column justify-content-center">
                          <h2>Find below pending timesheet list: <small>For the present month.</small></h2>
                        </div>
                      </div>
                    </div>
                    <div class="x_content m-4 d-flex flex-column justify-content-between">
                      <div class="d-flex" *ngFor="let d of weekList;let index = index;">
                        <p class="pending-list me-2">{{index + 1.}}</p>
                        <a href="javascript:void(0)" (click)="getPendingWeek(d.days[0].date, d.days[6].date)"
                          class="pending-list">
                          <b>Your pending timesheet from:</b>
                          <span>{{d.days[0].date | date}} - {{d.days[6].date | date}}</span>
                        </a>
                      </div>

                      <div class="d-flex flex-row justify-content-center mt-5">
                        <p class="text-muted pending-info">{{PendingAttendacneMessage}}</p>
                      </div>
                    </div>
                  </div>
                </ng-container>

                <ng-container *ngSwitchDefault>
                  <ng-container *ngIf="!isTimesheetDataLoaded && isFormReady">
                    <div class="col-md-12 row mt-4 mb-4 ms-0">
                      <div class="col-md-4 ps-0">
                        <h6>Timesheet Stats</h6>
                        <div class="card px-3 pt-2 pb-1">
                          <div class="d-flex justify-content-between">
                            <h6 class="pt-3 ps-2">
                              Last Week
                            </h6>
                            <div>
                              <i class="fa fa-info-circle fa-lg p-3" aria-hidden="true"></i>
                            </div>
                          </div>
                          <div class="d-flex align-items-center justify-content-between pe-2 pb-3 pt-3">
                            <div class="col-md-4 d-flex align-items-center">
                              <i class="fa fa-user-circle fa-3x text-success ps-2" aria-hidden="true"></i>
                              <span class="fw-bold ps-2 last-week-team">Your</span>
                            </div>
                            <div class="col-md-4">
                              <h6 class="last-week-team">AVG HRS / DAY</h6>
                              <h6 class="pt-2"> 8h 0m</h6>
                            </div>
                            <div class="col-md-4">
                              <h6 class="last-week-team">ON TIME ARRIVAL</h6>
                              <h6 class=" pt-2">100%</h6>
                            </div>
                          </div>
                          <div class="border-top d-flex align-items-center pb-1 pt-3">
                            <div class="col-md-4 d-flex align-items-center">
                              <span class="fa-stack fa-2x ps-2 text-dark">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                              </span>
                              <span class="fw-bold ps-2 last-week-team">My Team</span>
                            </div>
                            <div class="col-md-4 pt-2">
                              <h6>7h 24m</h6>
                            </div>
                            <div class="col-md-4 pt-2">
                              <h6>81%</h6>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <h6>Timings</h6>
                        <div class="card px-3 py-2">
                          <div class="d-flex justify-content-between pb-5">
                            <div class="d-flex pt-3 ps-2">
                              <div class="text-inisde-circle" [ngClass]="{'active-circle': DayValue == 1}">M</div>
                              <div class="text-inisde-circle ms-3" [ngClass]="{'active-circle': DayValue == 2}">T</div>
                              <div class="text-inisde-circle ms-3" [ngClass]="{'active-circle': DayValue == 3}">W</div>
                              <div class="text-inisde-circle ms-3" [ngClass]="{'active-circle': DayValue == 4}">T</div>
                              <div class="text-inisde-circle ms-3" [ngClass]="{'active-circle': DayValue == 5}">F</div>
                              <div class="text-inisde-circle ms-3 inactive-circle">S</div>
                              <div class="text-inisde-circle ms-3 inactive-circle">S</div>
                            </div>
                            <div>
                              <i class="fa fa-search fa-lg pe-3 pt-3" aria-hidden="true"></i>
                              <i class="fa fa-qrcode fa-lg  pe-2 pt-3" aria-hidden="true"></i>
                            </div>
                          </div>
                          <ng-container *ngIf="DayValue > 0 &&  DayValue <= 5">
                            <h6 class="pt-5 ps-2">Today (10:00 AM - 8:00PM)</h6>
                            <div class="progress ms-2 me-2 mt-1 mb-2">
                              <div class="progress-bar bg-info" role="progressbar" style="width: 44.44%" aria-valuenow="44.44"
                                aria-valuemin="0" aria-valuemax="100"></div>
                              <div class="progress-bar bg-success" role="progressbar" style="width: 11.11%" aria-valuenow="1.11"
                                aria-valuemin="0" aria-valuemax="100"></div>
                              <div class="progress-bar bg-info" role="progressbar" style="width: 44.44%" aria-valuenow="44.44"
                                aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="d-flex justify-content-between ps-2 pe-2">
                              <h6>Duration: 9h 0m</h6>
                              <h6>Break: 60 Min</h6>
                            </div>
                          </ng-container>
                          <ng-container *ngIf="DayValue == 6 || DayValue ==  0">
                            <h4 class="text-center pt-5 pb-5">Today is week-off</h4>
                          </ng-container>
                        </div>
                      </div>
                      <div class="col-md-4 pe-0">
                        <h6>Actions</h6>
                        <div class="card px-3 pt-3 pb-5">
                          <div class="pb-4">
                            <span class="fw-bold">Timesheet: From&nbsp;</span> {{fromDate | date}}
                            <span class="fw-bold">&nbsp; to &nbsp; </span> {{toDate | date}}.
                          </div>
                          <h6 class=" text-center pb-5 pt-5">
                            Work From Home
                          </h6>
                        </div>
                      </div>
                    </div>
                    <ng-container >
                      <div *ngIf="isFormReady">
                        <div  class="x_panel pt-4 timesheet-form">
                          <div class="d-flex flex-row justify-content-between">
                            <div class="d-flex">
                              <div class="text-dark text-dark d-flex flex-column justify-content-center">
                                <div>
                                  <span class="fw-bold">Timesheet: From&nbsp;</span> {{fromDate | date}}
                                  <span class="fw-bold">&nbsp; to &nbsp; </span> {{toDate -1 | date}}.
                                </div>
                              </div>
                              <!-- <div class="ms-4 d-flex">
                                <div class="p-0">
                                  <form class="form-inline">
                                    <div class="form-group">
                                      <div class="input-group">
                                        <input class="form-control form-control-sm border" placeholder="yyyy-mm-dd"
                                          (click)="from.toggle()" (dateSelect)="fromDateSelection($event)" name="fromModel"
                                          [(ngModel)]="fromModel" ngbDatepicker #from="ngbDatepicker">
                                        <div class="input-group-append">
                                          <button class="btn btn-outline-dark fa fa-calendar btn-design" (click)="from.toggle()"
                                            type="button"></button>
                                        </div>
                                      </div>
                                    </div>
                                  </form>
                                </div>
                                <div class="ms-2">
                                  <button href="javascript:void(0)" class="btn btn-sm btn-outline-dark" [disabled]="!fromDate"
                                    (click)="prevWeek()">
                                    <i class="fa fa-angle-double-left pe-2"></i>Prev week
                                  </button>
                                </div>
                                <div class="ms-2 me-2">
                                  <button href="javascript:void(0)" class="btn btn-sm btn-success" [disabled]="!fromDate"
                                    (click)="nextWeek()">
                                    Next week<i class="fa fa-angle-double-right ps-2"></i>
                                  </button>
                                </div>
                              </div> -->
                            </div>
                            <div class="text-end">
                              <button type="button" class="btn btn-primary-c btn-sm" [disabled]="isBlocked" (click)="onSubmit()">
                                <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-sign-in': !isLoading}"></i>
                                {{ isLoading ? 'Saving' : 'Submit' }}
                              </button>
                            </div>
                          </div>
                          <div class="x_content mt-4">
                            <!-- <table class="table-middle table table-hover">
                              <thead>
                                <tr>
                                  <th class="">Mon</th>
                                  <th class="">Tue</th>
                                  <th class="">Wed</th>
                                  <th class="">Thu</th>
                                  <th class="">Fri</th>
                                  <th class="">Sat</th>
                                  <th class="">Sun</th>
                                  <th class="text-center">Billing</th>
                                  <th class="text-center">Final</th>
                                </tr>
                              </thead>
                              <tbody formArrayName="timesheetArray">
                                <tr>
                                  <ng-container *ngIf="emptyFields.length > 0">
                                    <td *ngFor="let item of emptyFields">
                                      <span>Not Allowed</span>
                                    </td>
                                  </ng-container>
                                  <ng-container *ngFor="let item of timesheetForm.get('timesheetArray').controls;let i = index;">
                                    <ng-container [formGroupName]="i">
                                      <td>
                                        <div class="center-badge d-flex justify-content-start">
                                          <ng-container [ngSwitch]="item.get('TimesheetStatus').value">
                                            <span class="status-icon s" *ngSwitchCase="8">
                                              <i class="fa fa-check-square-o text-success pt-1 pb-1" aria-hidden="true"></i>
                                            </span>
                                            <span class="status-icon s" *ngSwitchCase="-1">
                                              <i class="fa fa-ban text-danger pt-1 pb-1" aria-hidden="true"></i>
                                            </span>
                                            <span class="status-icon" *ngSwitchDefault>
                                              <i class="fa fa-exclamation text-warning pt-1 pb-1" aria-hidden="true"></i>
                                            </span>

                                            <input type="number" class="border-0 ms-1 text-start" placeholder="HH" min="0" max="23"
                                              [attr.value]="weekDaysList[i] > 5 === 00" (keyup.enter)="manageHourField(i, $event)"
                                              formControlName="UserHours"
                                              onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                                            <span>&nbsp;:</span>
                                            <input type="number" class="border-0 text-end" placeholder="MM" min="0" max="59"
                                              (keyup.enter)="manageMinField(i, $event)" formControlName="UserMin"
                                              onkeypress="return event.charCode >= 48 && event.charCode <= 57">

                                            <div ngbDropdown class="d-none dropright">
                                              <input type="text" class="form-control input-overflow" formControlName="UserComments"
                                                placeholder="Comments" (focus)="takeComments($event)">
                                              <div class="p-0 position-absolute d-none textarea-box">
                                                <textarea class="form-control" (blur)="captureComments($event)"
                                                  placeholder="enter your comments" formControlName="UserComments">
                                                </textarea>
                                              </div>
                                            </div>
                                          </ng-container>
                                        </div>
                                        <small class="d-block text-muted">
                                          {{item.get('PresentDate').value | date}}
                                        </small>
                                      </td>
                                    </ng-container>
                                  </ng-container>
                                  <td>
                                    <div class="center-badge d-flex justify-content-center">
                                      08:00
                                    </div>
                                  </td>
                                  <td>
                                    <div class="center-badge d-flex justify-content-center">{{totalHrs}} : {{totalMins}}</div>
                                  </td>
                                </tr>
                              </tbody>
                            </table> -->
                            <div>
                              <table class="table-middle table table-hover">
                                <thead>
                                  <tr>
                                    <th class="">Timesheet Date</th>
                                    <th class="">Status</th>
                                  </tr>
                                </thead>
                                <tbody >
                                  <tr *ngFor="let item of currentMonthWeek; let i = index">
                                    <td>
                                      <a href="javascript:void(0)" (click)="viewTimeSheet(i)">
                                        <span class="fw-bold pe-1">Timesheet From</span>{{item.startWeek | date}} <span class="fw-bold px-1">to</span>{{item.endWeek | date}}
                                      </a>
                                    </td>
                                    <td>
                                      <span *ngIf="item.status == 2"><i class="fa fa-exclamation text-warning pt-1 pb-1 pe-2" aria-hidden="true"></i>Pending</span>
                                      <span *ngIf="item.status == 8"><i class="fa fa-check-square-o text-success pt-1 pb-1 pe-2" aria-hidden="true"></i> Submitted</span>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <div *ngIf="isBlocked" class="mt-5 d-flex flex-column justify-content-center">
                              <div class="text-center">
                                <h2>Instruction</h2>
                                <div>
                                  <p>
                                    Timesheet for the week you are requesting is currently blocked.
                                    As per company guide lines you need to submit your timesheet before end of every week.
                                  </p>
                                  <p>If you want to raise a request to admin please leave your comments and submit it by using below form.</p>
                                </div>
                                <div class="col-12">
                                  <div class="mt-2">
                                    <button class="btn btn-info btn-sm">
                                      <i class="fa fa-paper-plane-o pe-2" aria-hidden="true"></i>
                                      Request
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                  <ng-container *ngIf="isTimesheetDataLoaded">
                    <div class="fs-5 my-5 py-5 d-flex flex-column justify-content-center align-items-center">
                      <div class="col-md-3 modal-container f-12 text-center cog-wheel">
                        <img src="assets/images/cog.gif" alt="" />
                        <h6 class="modal-title title-message">
                          Please Wait ........
                        </h6>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-template>
          </ng-container>
          <ng-container ngbNavItem>
            <a ngbNavLink class="text-dark">Shift Schedule</a>
            <ng-template ngbNavContent>
              <div>
                <iframe
                  src="https://calendar.google.com/calendar/embed?src=istiyak.bottomhalf%40gmail.com&ctz=Asia%2FKolkata"
                  style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
              </div>
            </ng-template>
          </ng-container>

          <ng-container ngbNavItem>
            <a ngbNavLink class="text-dark">Attendence Request</a>
            <ng-template ngbNavContent>
              <div class="col-md-12 d-flex align-items-center bg-white justify-content-between mt-4 py-3">
                <span class="ps-4">Work From Home / On Duty Request</span>
                <div>
                  <span class="pe-3">19 March 2022 - 02 May 2022</span>
                  <div class="btn-group dropstart me-4">
                    <button class="btn btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="javascript:void(0)" (click)="selectOption(index)">Last 7
                          days</a></li>
                      <li><a class="dropdown-item" href="javascript:void(0)" (click)="selectOption(index)">Last 14
                          days</a></li>
                      <li><a class="dropdown-item" href="javascript:void(0)" (click)="selectOption(index)">Last 30
                          days</a></li>
                      <li><a class="dropdown-item" href="javascript:void(0)" (click)="selectOption(index)">Custom
                          Range</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="x_panel">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th class="custom-th border-end" width="15%">DATE</th>
                      <th class="custom-th border-end" width="10%">REQUEST TYPE</th>
                      <th class="custom-th border-end" width="10%">REQUEST ON</th>
                      <th class="custom-th border-end" width="25%">NOTE</th>
                      <th class="custom-th border-end" width="10%">STATUS</th>
                      <th class="custom-th border-end" width="15%">ACTION TAKEN BY</th>
                      <th class="custom-th" width="10%">ACTIONS</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="align-middle border-end border-bottom">
                        <div class="d-flex align-items-center justify-content-between">
                          <p>Apr 15, 2022</p>
                          <div class="d-flex align-items-center flex-column">
                            <i class="fa fa-home fa-lg"></i>
                            <p>1 Day</p>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle border-end border-bottom">
                        Work From Home
                      </td>
                      <td class="align-middle border-end border-bottom">
                        Apr 17, 2022
                        <p><small>by MD Istayaque</small></p>
                      </td>
                      <td class="align-middle border-end border-bottom">
                        covid
                      </td>
                      <td class="align-middle border-end border-bottom">Approved</td>
                      <td class="align-middle border-end border-bottom">
                        <span>Ammanna Komp</span>
                        <p><small>on 18-Apr-2022</small></p>
                      </td>
                      <td class="align-middle border-bottom">
                        <div class="d-flex justify-content-center align-items-center">
                          <i class="fa fa-commenting pe-2" aria-hidden="true"></i>
                          <div class="btn-group dropstart me-4">
                            <button class="btn btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                              aria-expanded="false">
                              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                              <li><a class="dropdown-item" href="javascript:void(0)" (click)="selectOption(index)">View
                                  Request</a></li>
                            </ul>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </ng-container>
        </nav>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>

      <!-- Comment Modal Start-->
      <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="commentModal" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header border-bottom-0">
              <h5 class="modal-title" id="exampleModalLabel">Work From Home Request</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="col-md-12 px-4 d-block">
              <p class="mt-2">Enter your work from home reson and apply with one click.
                Select your manage or reporting person under Notify section to get approval.</p>
            </div>

            <div class="modal-body px-4">

              <div class="d-flex position-relative">
                <div class="col-md-8 d-flex">
                  <div class="col-md-6 ps-2 py-3 border">
                    <small>START DATE</small>
                    <p class="mb-0 text-dark fs-5">{{today | date}}</p>
                  </div>
                  <div class="col-md-6 pe-3 py-3 border text-end">
                    <small>END DATE</small>
                    <p class="mb-0 text-dark fs-5">{{tomorrow | date}}</p>
                  </div>
                </div>
              </div>
              <span class="px-3 py-2 day-wfh">1day WFH</span>
              <p class="mb-0 text-dark ps-2 pt-3 fs-5">Session</p>
              <div class="btn-group mt-2 mb-4" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio10" autocomplete="off" checked
                  value="fullday">
                <label class="btn btn-outline-primary" for="btnradio10">Full Day</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio11" autocomplete="off"
                  value="firsthalf">
                <label class="btn btn-outline-primary" for="btnradio11">First Half</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio12" autocomplete="off"
                  value="secondhalf">
                <label class="btn btn-outline-primary" for="btnradio12">Second Half</label>
              </div>
              <p class="mb-0 text-dark ps-2 fs-5">Reason</p>
              <textarea class="comment-text-area form-control" placeholder="Enter your comment" name="commentValue"
                [(ngModel)]="commentValue"></textarea>
              <div class="alert alert-danger" *ngIf="isComment">
                Comment is required.
              </div>
              <p class="mb-0 text-dark ps-2 fs-5 py-2">Notify</p>
              <input type="text" class="form-control" placeholder="Search Employee">
              <p class="mb-0">These employees will be notified through email when you WFH request is approved.</p>
            </div>

            <div class="modal-footer border-top-0 pe-4">
              <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary-c" [disabled]="isLoading" (click)="submitAttendance()">
                <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-user-circle-o': !isLoading}"></i>
                {{ isLoading ? 'Wait' : 'Request' }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

    </ng-container>
    <ng-container [ngSwitch]="isFormReady">
      <div *ngSwitchCase="false" class="">
        <div class="x_panel d-flex flex-direction-column justify-content-center">
          <div class="x_content">
            <div *ngIf="NoClient && !isTimesheetDataLoaded" class="x_panel d-flex align-items-center justify-content-center py-5 my-5">
              <div class="py-5 my-5 fs-5 fw-bold text-dark">
                Uhh!!! No client allocated on your name. Please contact your maanager.
              </div>
            </div>
            <div *ngIf="!NoClient && !isTimesheetDataLoaded" class="x_panel d-flex align-items-center justify-content-center py-5 my-5">
              <div class="py-5 my-5 fs-5 fw-bold text-dark">
                Please select Employee and Employer first.
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </form>
</div>


<!-- View Timesheet Modal -->
<div class="modal fade" id="timesheetModal" tabindex="-1" aria-labelledby="timesheetModalLabel" aria-hidden="true" *ngIf="viewTimesheetWeek != null">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="timesheetModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" >
        <div [formGroup]="timesheetForm" *ngIf="timesheetForm" class="x_panel pt-4 timesheet-form">
          <div class="d-flex flex-row justify-content-between">
            <div class="text-dark text-dark d-flex flex-column justify-content-center">
              <div>
                <span class="fw-bold">Timesheet: From&nbsp;</span> {{viewTimesheetWeek.startWeek | date}}
                <span class="fw-bold">&nbsp; to &nbsp; </span> {{viewTimesheetWeek.endWeek | date}}.
              </div>
            </div>
          </div>
          <div class="x_content mt-4">
            <table class="table-middle table table-hover">
              <thead>
                <tr>
                  <th>DAY</th>
                  <th class="">DATE</th>
                  <th class="">TIMESHEET VISUAL</th>
                  <th class="">EFFECTIVE HOURS</th>
                  <th class="">STATUS</th>
                </tr>
              </thead>
              <tbody formArrayName="timesheetArray">
                <tr *ngFor="let item of timesheetForm.get('timesheetArray')['controls']; let i = index;" [ngClass]="{'highlighted-column': item.get('TimesheetStatus').value == 11}">
                  <ng-container >
                    <ng-container [formGroupName]="i">
                      <td>{{item.get('PresentDate').value | date: 'EEE'}}</td>
                      <td>{{item.get('PresentDate').value | date}}</td>
                      <td></td>
                      <td>
                        <div class="center-badge d-flex justify-content-start">
                          <input type="number" class="border-0 ms-1 text-start" placeholder="HH" min="0" max="23" [readonly]="item.get('TimesheetStatus').value == 11" [ngClass]="{'highlighted-column': item.get('TimesheetStatus').value == 11}"
                            [attr.value]="weekDaysList[i] > 5 === 00" (keyup.enter)="manageHourField(i, $event)"
                            formControlName="UserHours"
                            onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                          <span>&nbsp;:</span>
                          <input type="number" class="border-0 text-end" placeholder="MM" min="0" max="59" [readonly]="item.get('TimesheetStatus').value == 11" [ngClass]="{'highlighted-column': item.get('TimesheetStatus').value == 11}"
                            (keyup.enter)="manageMinField(i, $event)" formControlName="UserMin"
                            onkeypress="return event.charCode >= 48 && event.charCode <= 57">

                          <div ngbDropdown class="d-none dropright">
                            <input type="text" class="form-control input-overflow" formControlName="UserComments"
                              placeholder="Comments" (focus)="takeComments($event)">
                            <div class="p-0 position-absolute d-none textarea-box">
                              <textarea class="form-control" (blur)="captureComments($event)"
                                placeholder="enter your comments" formControlName="UserComments">
                              </textarea>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <ng-container [ngSwitch]="item.get('TimesheetStatus').value">
                          <span class="" *ngSwitchCase="8">
                            <i class="fa fa-check-square-o text-success pt-1 pb-1 pe-2" aria-hidden="true"></i>
                            Submitted
                          </span>
                          <span class="" *ngSwitchCase="-1">
                            <i class="fa fa-ban text-danger pt-1 pb-1 pe-2" aria-hidden="true"></i>
                            Not Submitted
                          </span>
                          <span class="" *ngSwitchCase="2">
                            <i class="fa fa-exclamation text-warning pt-1 pb-1 pe-2" aria-hidden="true"></i>
                            Pending
                          </span>
                          <span class="text-danger" *ngSwitchCase="11">
                            <i class="fa fa-close text-danger pt-1 pb-1 pe-2" aria-hidden="true"></i>
                            Readonly
                          </span>
                        </ng-container>
                      </td>
                      <td>

                      </td>
                    </ng-container>
                  </ng-container>
                </tr>
                <tr>
                  <td >
                    <span class="fw-bold">Final</span>
                  </td>
                  <td></td>
                  <td></td>
                  <td>
                    <div class="fw-bold">{{totalHrs}} : {{totalMins}}</div>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary-c btn-sm" [disabled]="isBlocked" (click)="onSubmit()">
          <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-sign-in': !isLoading}"></i>
          {{ isLoading ? 'Saving' : 'Submit' }}
        </button>
      </div>
    </div>
  </div>
</div>
