<div class="col-12 full-v main-container">
  <div>
    <div class="x_panel">
      <div class="x_header">
        <div class="x_header_title">
          <h2>PAYROLL COMPONENTS</h2>
        </div>
      </div>
      <div class="px-1">
        <app-breadcrums></app-breadcrums>
      </div>
      <div class="my-3">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink>RECURRING COMPONENTS</a>
            <ng-template ngbNavContent>
              <div class="px-2 pt-3">
                <h4>Recurring Components Library</h4>
                <p class="mb-0">In this Section you can create all the recurring salary components in your Organization components like Basic, HRA, Special Allowance are system defined and can't be edited or removed.</p>
                <div class="col-md-12 my-4">
                  <button class="btn btn-primary-c" (click)="newComponentPopUp()"><i class="fa fa-plus pe-2"></i> ADD NEW COMPONENT</button>
                  <div class="col-md-3 float-end">
                    <div class="form-group has-search">
                      <span class="fa fa-search form-control-feedback"></span>
                      <input type="text" class="form-control" placeholder="Search Component">
                    </div>
                  </div>
                </div>
                <div class="t-table t-list t-border col-md-12 my-3">
                  <div class="hide-bar bg-light"></div>
                  <div class="t-head bg-light fw-bold">
                    <div class="tr">
                      <div class="th text-truncate ps-3">
                        COMPONENT NAME
                      </div>
                      <div class="th text-truncate ps-3">
                        TYPE
                      </div>
                      <div class="th text-truncate ps-3">
                        TAX EXEMPT
                      </div>
                      <div class="th text-truncate ps-3">
                        MAX LIMIT(YEAR)
                      </div>
                      <div class="th text-truncate ps-3">
                        REQUIRE DOCS
                      </div>
                      <div class="th text-truncate ps-3">
                        ACTIONS
                      </div>
                    </div>
                  </div>
                  <div class="t-body custom-height">
                    <div class="tr py-2" *ngFor="let item of RecurringComponent">
                      <div class="td ps-3 text-truncate">
                        {{item.ComponentId}}
                      </div>
                      <div class="td ps-3 text-truncate">
                        {{item.ComponentTypeId}}
                      </div>
                      <div class="td ps-3 text-truncate">
                        {{item.TaxExempt}}
                      </div>
                      <div class="td ps-3 text-truncate">
                        {{item.MaxLimit}}
                      </div>
                      <div class="td ps-3 text-truncate">
                        {{item.RequireDocs}}
                      </div>
                      <div class="td ps-3">
                        <a href="javascript:void(0)" class="text-decoration-none" (click)="editRecurring(item)"><i class="fa fa-pencil pe-lg-1"></i> Edit</a>
                        <a href="javascript:void(0)" class="text-decoration-none ps-3 text-danger"><i class="fa fa-trash-o pe-1"></i> Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>AD HOC CPOMPONENTS</a>
            <ng-template ngbNavContent>
              <div class="px-2 pt-3">
                <h4>Ad Hoc Components Library</h4>
                <p class="mb-0">In this Section you can create all the ad hoc components that gets paid in your organization. Adhoc components are salary components that are typically not paid as regular monthly components.</p>
                <div class="row my-4 justify-content-between">
                  <div class="col-md-4">
                    <div class="col-md-12">
                      <h5 class="fw-bold">ADHOC ALLOWANCES</h5>
                      <p class="mb-0">These are components that can be configured to be taxable or tax exempt.</p>
                      <ul class="list-group my-3">
                        <li class="list-group-item">
                          <span class="fs-6">align-middle</span>
                          <span class="alert alert-danger py-0 float-end m-0">Taxable</span>
                          <span class="alert alert-success py-0 float-end m-0">Non-Taxable</span>
                        </li>
                      </ul>
                      <p class="mb-0 my-3">
                        <a href="javascript:void(0)" class="text-decoration-none" (click)="AdhocPopUp()"><i class="fa fa-plus pe-2"></i>Add Adhoc Allowance</a>
                      </p>
                    </div>
                    <div class="col-md-12 mt-5 py-5">
                      <h5 class="fw-bold">BONUSES</h5>
                      <p class="mb-0">Bonuses are one time payments made to an employee and are taxable.</p>
                      <ul class="list-group my-3">
                        <li class="list-group-item">
                          <span class="fs-6">align-middle</span>
                        </li>
                      </ul>
                      <p class="mb-0 my-3">
                        <a href="javascript:void(0)" class="text-decoration-none" (click)="DeductionPopUp()"><i class="fa fa-plus pe-2"></i>Add Bonuses</a>
                      </p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <h5 class="f-bold">DEDUCTIONS</h5>
                    <p class="mb-0">Deductions are component used to deductfrom net salary of employee in a moonth Ex. Laptop Damange charges etc.</p>
                    <ul class="list-group my-3">
                      <li class="list-group-item">
                        <span class="fs-6">align-middle</span>
                      </li>
                    </ul>
                    <p class="mb-0 my-3">
                      <a href="javascript:void(0)" class="text-decoration-none" (click)="BonusPopUp()"><i class="fa fa-plus pe-2"></i>AddDeduction</a>
                    </p>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div>
</div>

<!--Add New Component Modal -->
<div class="modal fade" id="NewComponentModal" tabindex="-1" aria-labelledby="NewComponentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="NewComponentModalLabel">{{CurrentRecurringComponent.ComponentId == ''? 'Add NEW ': 'Update'}} SALARY COMPONENT - {{ComponentType | uppercase}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="NewSalaryForm">
          <div class="col-md-12 mt-3">
            <label for="" class="form-label">COMPONENT TYPE</label>
            <div class="col-md-4">
              <select class="form-select" [ngClass]="{'error-field': submitted && f.Type.errors !== null && f.Type.errors.required}" formControlName="Type" (change)="selectComponentType($event)">
                <option value="">Select Componet Type</option>
                <option value="2">Allowance</option>
                <option value="4">Reimbursable Component</option>
                <option value="3">Rembursement</option>
              </select>
            </div>
            <ng-container [ngSwitch]="ComponentType">
              <div *ngSwitchCase="'rembursement'">
                <div class="alert alert-primary my-3 py-2 mb-0 col-md-12" role="alert">
                  Reimbursement - is part of employee CTC, the paid amount is never displayed in Form 16 and income tax computation. The unpaid amount is paid as part of Special allowance.
                </div>
              </div>
              <div *ngSwitchCase="'reimbursable'">
                <div class="alert alert-primary my-3 py-2 mb-0 col-md-12" role="alert">
                  Reimbursable component - is part of employees CTC and is displayed as exempted/non-exempted amount in Form 16 and income tax computation.
                </div>
              </div>
            </ng-container>
          </div>
          <div class="row col-md-12">
            <div class="col-md-6 mt-3">
              <label for="" class="form-label">COMPONENT NAME</label>
              <input type="text" [readonly]="CurrentRecurringComponent.ComponentId != ''" [ngClass]="{'error-field': submitted && f.ComponentName.errors !== null && f.ComponentName.errors.required}" formControlName="ComponentName" placeholder="Component Name" class="form-control">
            </div>
            <div class="col-md-6 mt-3">
              <label for="" class="form-label">MAXIMUM LIMIT PER ANNUM</label>
              <input type="text" formControlName="MaxLimit" placeholder="Maximum Limit Per Annum" OnlyNumber="9" class="form-control">
            </div>
            <div class="col-md-12 mt-3">
              <label for="" class="form-label">COMPONENT DESCRIPTION</label>
              <textarea type="text" formControlName="ComponentDescription" placeholder="Component Description" class="form-control"></textarea>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-check mt-3">
              <input class="form-check-input" type="checkbox" value="" formControlName="TaxExempt" (click)="enableTaxExempt($event)">
              <label class="form-check-label">
                This component is tax exemption(non taxable)
              </label>
            </div>
            <div class="row mx-2">
              <div class="col-md-6 mt-2">
                <label for="" class="form-label">INCOME TAX SECTION</label>
                <input type="text" [readonly]="!isTaxExempt" formControlName="Section" placeholder="Enter Income Tax Section" class="form-control">
              </div>
              <div class="col-md-6 mt-2">
                <label for="" class="form-label">SECTION MAXIMUM LIMIT</label>
                <input type="text" [readonly]="!isTaxExempt" OnlyNumber="9"formControlName="SectionMaxLimit" placeholder="Section Maximum Limit" class="form-control">
              </div>
            </div>
            <div class="form-check mt-3" *ngIf="ComponentType == 'reimbursable'">
              <input class="form-check-input" formControlName="RequireDocs" type="checkbox" value="">
              <label class="form-check-label">
                Requires employee to submit proof fotr reimbursements.
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <ng-container *ngIf="CurrentRecurringComponent.ComponentId == ''">
          <button type="button" class="btn btn-primary-c" (click)="addNewComp()">
            <i class="fa pe-2" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-plus': !isLoading}"></i>
                      {{ isLoading ? 'Wait' : 'Update Salary Group' }}
          </button>
        </ng-container>
        <ng-container *ngIf="CurrentRecurringComponent.ComponentId != ''">
          <button type="button" class="btn btn-primary-c" (click)="addNewComp()">
            <i class="fa pe-2" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-plus': !isLoading}"></i>
                      {{ isLoading ? 'Wait' : 'Create Salary Group' }}
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<!-- End -->

<!-- Create Adhoc Allowances Modal -->
<div class="modal fade" id="CreateAdhocModal" tabindex="-1" aria-labelledby="CreateAdhocModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="CreateAdhocModalLabel">Create Adhoc Allowances</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="AdhocForm">
          <div class="col-md-6 mt-3">
            <label for="" class="form-label">COMPONENT NAME</label>
            <input type="text" formControlName="ComponentName" placeholder="Component Name" class="form-control">
          </div>
          <div class="col-md-12 mt-3">
            <label for="" class="form-label">COMPONENT DESCRIPTION</label>
            <textarea type="text" formControlName="ComponentDescription" placeholder="Component Description" class="form-control"></textarea>
          </div>
          <div class="form-check mt-3">
            <input class="form-check-input" type="checkbox" value="" formControlName="TaxExempt" (click)="enableTaxExempt($event)">
            <label class="form-check-label">
              THIS TAX EXEMPTIONS
            </label>
          </div>
          <div class="row">
            <div class="col-md-6 mt-2">
              <label for="" class="form-label">INCOME TAX SECTION</label>
              <input type="text" formControlName="Section" placeholder="Enter Income Tax Section" class="form-control">
            </div>
            <div class="col-md-6 mt-2">
              <label for="" class="form-label">SECTION MAXIMUM LIMIT</label>
              <input type="text" OnlyNumber="9"formControlName="SectionMaxLimit" placeholder="Section Maximum Limit" class="form-control">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary-c" (click)="addNewAdhocAllowance()">
          <i class="fa pe-2" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-plus': !isLoading}"></i>
                    {{ isLoading ? 'Wait' : 'Create Adhoc Allowance' }}
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End -->

<!-- Create Deduction Modal -->
<div class="modal fade" id="CreateDeductionModal" tabindex="-1" aria-labelledby="CreateDeductionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="CreateDeductionModalLabel">Create Deduction</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="DeductionForm">
          <div class="col-md-6 mt-3">
            <label for="" class="form-label">COMPONENT NAME</label>
            <input type="text" formControlName="ComponentName" placeholder="Component Name" class="form-control">
          </div>
          <div class="col-md-12 mt-3">
            <label for="" class="form-label">COMPONENT DESCRIPTION</label>
            <textarea type="text" formControlName="ComponentDescription" placeholder="Component Description" class="form-control"></textarea>
          </div>
          <div class="form-check mt-3">
            <input class="form-check-input" type="checkbox" value="" formControlName="IsAffectinGross">
            <label class="form-check-label">
              THIS AFFECT ON GROSS
            </label>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary-c" (click)="addNewDeduction()">
          <i class="fa pe-2" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-plus': !isLoading}"></i>
                    {{ isLoading ? 'Wait' : 'Create Deduction' }}
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End -->

<!-- Create Bonuses Modal -->
<div class="modal fade" id="CreateBonusModal" tabindex="-1" aria-labelledby="CreateBonusModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="CreateBonusModalLabel">Create Bonus</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="BonusForm">
          <div class="col-md-6 mt-3">
            <label for="" class="form-label">COMPONENT NAME</label>
            <input type="text" formControlName="ComponentName" placeholder="Component Name" class="form-control">
          </div>
          <div class="col-md-12 mt-3">
            <label for="" class="form-label">COMPONENT DESCRIPTION</label>
            <textarea type="text" formControlName="ComponentDescription" placeholder="Component Description" class="form-control"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary-c" (click)="addNewBonus()">
          <i class="fa pe-2" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-plus': !isLoading}"></i>
                    {{ isLoading ? 'Wait' : 'Create Bonus' }}
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End -->
