<div class="col-12 full-v main-container">
  <div>
    <div class="x_panel">
      <div class="x_header">
        <div class="x_header_title">
          <h2>PAYROLL COMPONENTS</h2>
        </div>
      </div>
      <div class="px-1">
        <app-breadcrums></app-breadcrums>
      </div>
      <ul ngbNav #nav="ngbNav" [(activeId)]="activetab" class="nav-tabs mt-4 mb-3">
        <li [ngbNavItem]="1" (click)="navigate()">
          <a ngbNavLink>COMPANY GROUPS</a>
          <ng-template ngbNavContent>
            <p></p>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>COMPONENTS</a>
          <ng-template ngbNavContent>
            <div class="my-3">
              <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                <li [ngbNavItem]="1">
                  <a ngbNavLink>RECURRING COMPONENTS</a>
                  <ng-template ngbNavContent>
                    <div class="px-2 pt-3">
                      <h4>Recurring Components Library</h4>
                      <p class="mb-0">In this Section you can create all the recurring salary components in your
                        Organization components like Basic, HRA, Special Allowance are system defined and can't be
                        edited or removed.</p>
                      <div class="col-md-12 my-4">
                        <button class="btn btn-primary-c" (click)="newComponentPopUp()"><i class="fa fa-plus pe-2"></i>
                          ADD NEW COMPONENT</button>
                        <button class="btn btn-success ms-2"><i class="fa fa-share pe-2" aria-hidden="true"></i>Move to
                          Add Hoc Component</button>
                        <a href="javascript:void(0)" class="text-decoration-none text-dark ms-3"
                          (click)="excelSheetModal()"><i class="fa fa-plus pe-2" aria-hidden="true"></i>Add Excel
                          Sheet</a>
                        <div class="col-md-3 float-end">
                          <div class="form-group has-search">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input type="text" class="form-control" oninput="this.value = this.value.toUpperCase()"
                              (keydown.esc)="reloadAllRecurring($event)" (keyup.enter)="filterRecords($event)"
                              placeholder="Search Component">
                          </div>
                        </div>
                      </div>
                      <div class="t-table t-list t-border col-md-12 my-3">
                        <div class="hide-bar bg-light"></div>
                        <div class="t-head bg-light fw-bold">
                          <div class="tr">
                            <div class="th text-truncate ps-3 fe-2">
                              COMPONENT NAME
                            </div>
                            <div class="th text-truncate ps-3">
                              TYPE
                            </div>
                            <div class="th text-truncate ps-3">
                              TAX EXEMPT
                            </div>
                            <div class="th text-truncate ps-3">
                              REQUIRE DOCS
                            </div>
                            <div class="th text-truncate ps-3">
                              ACTIONS
                            </div>
                          </div>
                        </div>
                        <div class="t-body custom-height">
                          <ng-container *ngIf="RecurringComponent.length > 0">
                            <div class="tr py-2" *ngFor="let item of RecurringComponent">
                              <div class="td ps-3 text-truncate fe-2">
                                <div class="form-check">
                                  <input class="form-check-input me-3" type="checkbox" (click)="addToAdhoc(item)">
                                  <label class="form-check-label text-truncate" for="flexCheckDefault">
                                    {{item.ComponentId}} ({{item.ComponentFullName}})
                                  </label>
                                </div>
                              </div>
                              <div class="td ps-3 text-truncate">
                                <ng-container [ngSwitch]="item.ComponentTypeId">
                                  <div *ngSwitchCase="2">Allowance</div>
                                  <div *ngSwitchCase="3">Rembursment</div>
                                  <div *ngSwitchCase="4">Reimursable</div>
                                  <div *ngSwitchDefault>-----</div>
                                </ng-container>
                              </div>
                              <div class="td ps-3 text-truncate">
                                <div [ngSwitch]="item.TaxExempt">
                                  <div *ngSwitchCase="1">
                                    <b class="me-2">Tax Exempt</b>
                                    <small class="ps-2 badge bg-warning text-dark">{{item.Section}}</small>
                                  </div>
                                  <div *ngSwitchDefault>
                                    Taxable
                                    <small class="ps-2 text-muted d-block">{{item.Section}}</small>
                                  </div>
                                </div>
                              </div>
                              <div class="td ps-3 text-truncate">
                                {{item.RequireDocs}}
                              </div>
                              <div class="td ps-3">
                                <a href="javascript:void(0)" class="text-decoration-none"
                                  (click)="editRecurring(item)"><i class="fa fa-pencil pe-lg-1"></i> Edit</a>
                                <a href="javascript:void(0)" class="text-decoration-none ps-3 text-danger"><i
                                    class="fa fa-trash-o pe-1"></i> Delete</a>
                              </div>
                            </div>
                          </ng-container>
                          <ng-container *ngIf="RecurringComponent.length <= 0">
                            <div class="py-5 my-5 d-flex align-items-center justify-content-center">
                              <h5 class="fw-bold">No Recurruing Component Found.</h5>
                            </div>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </li>
                <li [ngbNavItem]="2">
                  <a ngbNavLink>AD HOC CPOMPONENTS</a>
                  <ng-template ngbNavContent>
                    <div class="px-2 pt-3">
                      <div class="d-flex justify-content-between">
                        <h4>Ad Hoc Components Library</h4>
                        <button class="btn btn-success"><i class="fa fa-share pe-2" aria-hidden="true"></i>Move to
                          Recurring Component</button>
                      </div>
                      <p class="mb-0 py-2">In this Section you can create all the ad hoc components that gets paid in
                        your organization. Adhoc components are salary components that are typically not paid as regular
                        monthly components.</p>
                      <div class="row my-4 justify-content-between">
                        <div class="col-md-4">
                          <div class="col-md-12">
                            <h5 class="fw-bold">ADHOC ALLOWANCES</h5>
                            <p class="mb-0">These are components that can be configured to be taxable or tax exempt.</p>
                            <ul class="list-group my-3">
                              <li class="list-group-item" *ngFor="let item of AdhocAllowance">
                                <span class="fs-6">{{item.ComponentId}} ({{item.ComponentFullName}})</span>
                                <span class="alert alert-danger py-0 float-end m-0"
                                  *ngIf="item.TaxExempt">Taxable</span>
                                <span class="alert alert-success py-0 float-end m-0" *ngIf="!item.TaxExempt">Non-Taxable
                                  -
                                  {{item.Section}}</span>
                              </li>
                            </ul>
                            <p class="mb-0 my-3">
                              <a href="javascript:void(0)" class="text-decoration-none" (click)="AdhocPopUp()"><i
                                  class="fa fa-plus pe-2"></i>Add Adhoc Allowance</a>
                            </p>
                          </div>
                          <div class="col-md-12 mt-5 py-5">
                            <h5 class="fw-bold">BONUSES</h5>
                            <p class="mb-0">Bonuses are one time payments made to an employee and are taxable.</p>
                            <ul class="list-group my-3">
                              <li class="list-group-item" *ngFor="let item of AdhocBonus">
                                <span class="fs-6">{{item.ComponentId}} ({{item.ComponentFullName}})</span>
                              </li>
                            </ul>
                            <p class="mb-0 my-3">
                              <a href="javascript:void(0)" class="text-decoration-none" (click)="BonusPopUp()"><i
                                  class="fa fa-plus pe-2"></i>Add Bonuses</a>
                            </p>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <h5 class="f-bold">DEDUCTIONS</h5>
                          <p class="mb-0">Deductions are component used to deductfrom net salary of employee in a moonth
                            Ex. Laptop Damange charges etc.</p>
                          <ul class="list-group my-3">
                            <li class="list-group-item" *ngFor="let item of AdhocDeduction">
                              <span class="fs-6">{{item.ComponentId}} ({{item.ComponentFullName}})</span>
                            </li>
                          </ul>
                          <p class="mb-0 my-3">
                            <a href="javascript:void(0)" class="text-decoration-none" (click)="DeductionPopUp()"><i
                                class="fa fa-plus pe-2"></i>AddDeduction</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </li>
              </ul>

              <div [ngbNavOutlet]="nav" class="mt-2"></div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <a ngbNavLink>LEAVE ENCASHMENT</a>
          <ng-template ngbNavContent>
            <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla
              facilisi.
              Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue
              et odio.
              Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed
              diam urna,
              egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl
              enim, nec
              tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque
              penatibus et
              magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies
              in eget
              neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
          </ng-template>
        </li>

        <div [ngbNavOutlet]="nav" class="col-12 mt-2"></div>
      </ul>

    </div>
  </div>
</div>

<!--Add New Component Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="NewComponentModal" tabindex="-1"
  aria-labelledby="NewComponentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="NewComponentModalLabel">{{CurrentRecurringComponent.ComponentId == ''? 'Add NEW ':
          'Update'}} SALARY COMPONENT - {{ComponentType | uppercase}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="NewSalaryForm">
          <div class="col-md-12 mt-3">
            <div class="row">
              <div class="col-md-4 me-1">
                <label for="" class="form-label">COMPONENT TYPE</label>
                <div class="col-md-12">
                  <select class="form-select"
                    [ngClass]="{'error-field': submitted && f.Type.errors !== null && f.Type.errors.required}"
                    formControlName="ComponentTypeId" (change)="selectComponentType($event)">
                    <option value="0">Select Componet Type</option>
                    <option value="2">Allowance</option>
                    <option value="4">Reimbursable</option>
                    <option value="3">Rembursement</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <label for="" class="form-label">COMPONENT CATEGORY</label>
                <div class="col-md-12">
                  <select class="form-select"
                    [ngClass]="{'error-field': submitted && f.ComponentCatagoryId.errors !== null && f.ComponentCatagoryId.errors.required}"
                    formControlName="ComponentCatagoryId">
                    <option value="">Select Componet Type</option>
                    <option value="1">Fixed</option>
                    <option value="6">Adhoc</option>
                  </select>
                </div>
              </div>
            </div>
            <ng-container [ngSwitch]="ComponentType">
              <div *ngSwitchCase="'rembursement'">
                <div class="alert alert-primary my-3 py-2 mb-0 col-md-12" role="alert">
                  Reimbursement - is part of employee CTC, the paid amount is never displayed in Form 16 and income tax
                  computation. The unpaid amount is paid as part of Special allowance.
                </div>
              </div>
              <div *ngSwitchCase="'reimbursable'">
                <div class="alert alert-primary my-3 py-2 mb-0 col-md-12" role="alert">
                  Reimbursable component - is part of employees CTC and is displayed as exempted/non-exempted amount in
                  Form 16 and income tax computation.
                </div>
              </div>
            </ng-container>
          </div>
          <div class="row col-md-12">
            <div class="col-md-4 mt-3">
              <label for="" class="form-label">COMPONENT NAME</label>
              <input type="text" [readonly]="CurrentRecurringComponent.ComponentId != '' || ComponentType == ''"
                oninput="this.value = this.value.toUpperCase()"
                [ngClass]="{'error-field': submitted && f.ComponentName.errors !== null && f.ComponentName.errors.required}"
                formControlName="ComponentName" placeholder="Component Name" class="form-control">
            </div>
            <div class="col-md-4 mt-3">
              <label for="" class="form-label">COMPONENT FULL NAME</label>
              <input type="text" formControlName="ComponentFullName" [readonly]="ComponentType == ''"
                placeholder="Component Full Name" oninput="this.value = this.value.toUpperCase()" class="form-control">
            </div>
            <div class="col-md-4 mt-3">
              <label for="" class="form-label">MAXIMUM LIMIT PER ANNUM</label>
              <input type="text" formControlName="MaxLimit" placeholder="Maximum Limit Per Annum" OnlyNumber="9"
                [readonly]="ComponentType == ''" class="form-control">
            </div>
            <div class="col-md-12 mt-3">
              <label for="" class="form-label">COMPONENT DESCRIPTION</label>
              <textarea type="text" formControlName="ComponentDescription" placeholder="Component Description"
                [readonly]="ComponentType == ''" class="form-control"></textarea>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-check mt-3">
              <input class="form-check-input" type="checkbox" value="" formControlName="TaxExempt"
                [disabled]="ComponentType == ''" (click)="enableTaxExempt($event)">
              <label class="form-check-label">
                This component is tax exemption(non taxable)
              </label>
            </div>
            <div class="row mx-2">
              <div class="col-md-6 mt-2">
                <label for="" class="form-label">INCOME TAX SECTION</label>
                <input type="text" [readonly]="!isTaxExempt" formControlName="Section"
                  oninput="this.value = this.value.toUpperCase()" placeholder="Enter Income Tax Section"
                  class="form-control">
              </div>
              <div class="col-md-6 mt-2">
                <label for="" class="form-label">SECTION MAXIMUM LIMIT</label>
                <input type="number" [readonly]="!isTaxExempt" formControlName="SectionMaxLimit"
                  placeholder="Section Maximum Limit" class="form-control">
              </div>
            </div>
            <div class="form-check mt-3" *ngIf="ComponentType == 'reimbursable'">
              <input class="form-check-input" formControlName="RequireDocs" type="checkbox" value="">
              <label class="form-check-label">
                Requires employee to submit proof fotr reimbursements.
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <ng-container *ngIf="CurrentRecurringComponent.ComponentId != ''">
          <button type="button" class="btn btn-primary-c" (click)="addNewComp()">
            <i class="fa pe-2" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-plus': !isLoading}"></i>
            {{ isLoading ? 'Wait' : 'Update Component' }}
          </button>
        </ng-container>
        <ng-container *ngIf="CurrentRecurringComponent.ComponentId == ''">
          <button type="button" class="btn btn-primary-c" (click)="addNewComp()">
            <i class="fa pe-2" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-plus': !isLoading}"></i>
            {{ isLoading ? 'Wait' : 'Create Component' }}
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<!-- End -->

<!-- Create Adhoc Allowances Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="CreateAdhocModal" tabindex="-1"
  aria-labelledby="CreateAdhocModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="CreateAdhocModalLabel">CREATE ADHOC ALLOWANCE</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="AdhocForm">
          <div class="row">
            <div class="col-md-6 mt-3">
              <label for="" class="form-label">COMPONENT NAME</label>
              <input type="text" formControlName="ComponentName" oninput="this.value = this.value.toUpperCase()"
                placeholder="Component Name" class="form-control">
            </div>
            <div class="col-md-6 mt-3">
              <label for="" class="form-label">COMPONENT FULL NAME</label>
              <input type="text" formControlName="ComponentFullName" oninput="this.value = this.value.toUpperCase()"
                placeholder="Component Full Name" class="form-control">
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <label for="" class="form-label">COMPONENT DESCRIPTION</label>
            <textarea type="text" formControlName="ComponentDescription" placeholder="Component Description"
              class="form-control"></textarea>
          </div>
          <div class="form-check mt-3">
            <input class="form-check-input" type="checkbox" value="" formControlName="TaxExempt"
              (click)="enableTaxExempt($event)">
            <label class="form-check-label">
              THIS TAX EXEMPTIONS
            </label>
          </div>
          <div class="row">
            <div class="col-md-6 mt-2">
              <label for="" class="form-label">INCOME TAX SECTION</label>
              <input type="text" formControlName="Section" placeholder="Enter Income Tax Section" [readonly]="!isTaxExempt" class="form-control">
            </div>
            <div class="col-md-6 mt-2">
              <label for="" class="form-label">SECTION MAXIMUM LIMIT</label>
              <input type="text" OnlyNumber="9" formControlName="SectionMaxLimit" [readonly]="!isTaxExempt" placeholder="Section Maximum Limit"
                class="form-control">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary-c" (click)="addNewAdhocAllowance()">
          <i class="fa pe-2" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-plus': !isLoading}"></i>
          {{ isLoading ? 'Wait' : 'Create Adhoc Allowance' }}
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End -->

<!-- Create Deduction Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="CreateDeductionModal" tabindex="-1"
  aria-labelledby="CreateDeductionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="CreateDeductionModalLabel">Create Deduction</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="DeductionForm">
          <div class="row">
            <div class="col-md-6 mt-3">
              <label for="" class="form-label">COMPONENT NAME</label>
              <input type="text" formControlName="ComponentName" oninput="this.value = this.value.toUpperCase()"
                placeholder="Component Name" class="form-control">
            </div>
            <div class="col-md-6 mt-3">
              <label for="" class="form-label">COMPONENT FULL NAME</label>
              <input type="text" formControlName="ComponentFullName" oninput="this.value = this.value.toUpperCase()"
                placeholder="Component Full Name" class="form-control">
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <label for="" class="form-label">COMPONENT DESCRIPTION</label>
            <textarea type="text" formControlName="ComponentDescription" placeholder="Component Description"
              class="form-control"></textarea>
          </div>
          <div class="form-check mt-3">
            <input class="form-check-input" type="checkbox" value="" formControlName="IsAffectinGross">
            <label class="form-check-label">
              THIS AFFECT ON GROSS
            </label>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary-c" (click)="addNewDeduction()">
          <i class="fa pe-2" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-plus': !isLoading}"></i>
          {{ isLoading ? 'Wait' : 'Create Deduction' }}
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End -->

<!-- Create Bonuses Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="CreateBonusModal" tabindex="-1"
  aria-labelledby="CreateBonusModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="CreateBonusModalLabel">Create Bonus</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="BonusForm">
          <div class="row">
            <div class="col-md-6 mt-3">
              <label for="" class="form-label">COMPONENT NAME</label>
              <input type="text" formControlName="ComponentName" oninput="this.value = this.value.toUpperCase()"
                placeholder="Component Name" class="form-control">
            </div>
            <div class="col-md-6 mt-3">
              <label for="" class="form-label">COMPONENT FULL NAME</label>
              <input type="text" formControlName="ComponentFullName" oninput="this.value = this.value.toUpperCase()"
                placeholder="Component Full Name" class="form-control">
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <label for="" class="form-label">COMPONENT DESCRIPTION</label>
            <textarea type="text" formControlName="ComponentDescription" placeholder="Component Description"
              class="form-control"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary-c" (click)="addNewBonus()">
          <i class="fa pe-2" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-plus': !isLoading}"></i>
          {{ isLoading ? 'Wait' : 'Create Bonus' }}
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End -->

<div class="modal" id="excelSheetModal">
  <div class="modal-dialog modal-fullscreen p-4">
    <div class="modal-content rounded-3">

      <!-- Modal Header -->
      <div class="modal-header border-bottom-0" *ngIf="expandedTable">
        <h4 class="modal-title">Upoad ExcelFile</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body row overflow-hidden" *ngIf="expandedTable">
        <div class="col-md-4 x_content fade show" id="upload-container">
          <div class="">
            <input type="file" id="uploadexcel" (change)="readExcelData($event)" class="d-none" *ngIf="isUploadFile"
              accept=".xlx, .xlsx" />
            <div class="page-card">
              <div class="card">
                <div class="col-md-12 p-0">
                  <div class="table-responsive">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                      <div role="tabpanel" class="active in mt-4 ps-4 pe-4" id="tab_content1"
                        aria-labelledby="home-tab">
                        <div id="classmasterdata" class="col-md-12">
                          <div name="ifilezone" class="ifilezone mb-4" (click)="excelfireBrowserFile()">
                            <div *ngIf="!isFileReady">
                              <span style="color: darkgray;margin-top: 9rem;display: block;">
                                Drop files here.
                              </span>
                            </div>
                            <div class="col-md-12 py-5 custom-bg justify-content-center" *ngIf="isFileReady"
                              name="uploading">
                              <img src="assets/img/ExcelFile.png" />
                              <div class="filetitle">
                                File:
                                <div name="filename" style="display: inline-block !important;">
                                  {{ fileName }}
                                </div>
                              </div>
                              <div>
                                File size: &nbsp;
                                <div name="filesize" style="display: inline-block !important;">
                                  {{ fileSize }}
                                </div>
                                KB
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 mt-3 solid-bg pt-2 ps-3 pb-3 rounded">
            <div class="filetitle text-center">Upload File Details</div>
            <div *ngIf="isFileReady">
              <div class="fw-bold">
                File:
                <div name="filename" style="display: inline-block !important;">
                  {{ fileName }}
                </div>
              </div>
              <div>
                <div>
                  File size: &nbsp;
                  <div name="filesize" style="display: inline-block !important;">
                    {{ fileSize }}
                  </div>
                  KB
                </div>
                <div>
                  No. of record(s): &nbsp;
                  <div name="noofrecords" style="display: inline-block !important;">
                    <!-- {{ noOfRecords }} -->
                    {{tableConfiguration.data.length}}
                  </div>
                </div>
                <div>
                  File type: &nbsp;
                  <div name="uploadingdatetime" style="display: inline-block !important;">
                    {{ file.type }}
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="!isFileReady">
              <div class="fw-bold">
                File: NA
              </div>
              <div>
                <div>
                  File size: &nbsp; NA
                </div>
                <div>
                  No. of record(s): &nbsp; NA
                </div>
                <div>
                  File type: &nbsp; NA
                </div>
              </div>
            </div>
            <div class="mt-4">
              <button type="button" class="btn btn-primary-c" (click)="uploadExcelSheet($event)" [disabled]="isDisable">
                <i class="fa pe-2" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-upload': !isLoading}"></i>
                {{ isLoading ? 'Uploading ...' : 'Upload selected excel data' }}
              </button>
              <button type="button" class="btn btn-outline-info ms-2" (click)="cleanFileHandler()"
                [disabled]="isDisable">
                <i class="fa fa-eraser pe-2"></i> Cancel
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-8 pb-4 overflow-hidden">
          <div class="x_content">
            <div class="x_header_title">
              <div>
                <h5 class="d-inline">Uploaded Records</h5>
                <p *ngIf="!isAvailable" class="sample-note float-end"><i class="fa fa-dot-circle-o me-2"></i> Upload
                  correct format of excel sheet. <a href="javascript:void(0)">Click to download the sample.</a></p>
                <span *ngIf="isAvailable" class="d-inline">
                  <a class="float-end" href="javascript:void(0)" (click)="expandTable()">
                    <i class="fa fa-expand"></i>
                  </a>
                </span>
              </div>

              <div class="mt-4 border card p-5 uplod-message-container" *ngIf="!isAvailable">
                <label for="" class="fw-bold">
                  Your uploaded file's converted tabal will be dispaly in this section.
                </label>
                <ul class="ms-5 mt-1">
                  <li class="mt-1">Table and excel header will be same.</li>
                  <li class="mt-1">On top of every header one dropdown will be there for column mapping.</li>
                  <li class="mt-1">Select dropdown to map your value with the application level header.</li>
                </ul>
              </div>
            </div>
            <div *ngIf="isAvailable">
              <div class="uploada-data-scroll">
                <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th class="col-min-width" *ngFor="let header of tableConfiguration.header">
                        <div class="mt-2">{{header.ColumnName}}</div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let data of tableConfiguration.data">
                      <tr>
                        <ng-container *ngFor="let header of tableConfiguration.header">
                          <td>
                            <div class="wrap-content">
                              {{data[header.ColumnName]}}
                            </div>
                          </td>
                        </ng-container>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
              <!-- <div class="mt-3">
                <app-pagination [pagination]="uploadedCandidatesData"
                  (onPageChange)="changeUploadedRecords($event)"></app-pagination>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body" *ngIf="!expandedTable">
        <div class="col-md-12 p-0">
          <div class="x_content">
            <div class="x_header_title overflow-hidden">
              <h5 class="d-inline">Uploaded Records</h5>
              <button type="button" class="btn-close float-end" (click)="closeExpandModel()"></button>
            </div>
            <div *ngIf="isAvailable" class="expand-modal-scroll">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th class="col-min-width" *ngFor="let header of tableConfiguration.header">
                      <div class="mt-2">{{header.ColumnName}}</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let data of tableConfiguration.data">
                    <tr>
                      <ng-container *ngFor="let header of tableConfiguration.header">
                        <td>
                          <div class="wrap-content">
                            {{data[header.ColumnName]}}
                          </div>
                        </td>
                      </ng-container>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
            <!-- <div class="mt-3">
              <app-pagination [pagination]="paginationData" (onPageChange)="displayActivePage($event)">
              </app-pagination>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
