.ifilezone {
  background-image: url("/assets/img/drop-back.png") !important;
  background-size: 100% 73%;
  cursor: pointer;
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  background-color: #f8f7f7;
  min-height: 310px;
  background-repeat: no-repeat;
}

table {
  counter-reset: tableCount;
}

.counterCell:before {
  content: counter(tableCount);
  counter-increment: tableCount;
}

.upload-img {
  width: 60px;
}

.file-name {
  width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 7rem;
}
.card-cont {
  width: 8rem;
}

.file-type {
  display: inline;
  width: auto !important;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  margin: 10px;
  padding: 26px;
  text-align: center;
  box-shadow: 2px 3px 8px -3px #444;
}

.item-row {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.select-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52vh;
  text-align: center;
}

.file-link {
  position: absolute;
  top: 11px;
  right: 10px;
}

.file-type {
  position: relative;
}
