
.bg-aqua-light {
  background-color: #DBF3FA !important;
}

.text-aqua {
  color: #4AC2E4 !important;
}

.bg-green-light {
  background-color: #E1F2E1 !important;
}

.text-green {
  color: #6AC069 !important;
}

.bg-magenta-light {
  background-color: #FBE9EF !important;
}

.text-magenta {
  color: #E44C7D !important;
}

.rounded-icon {
  width: 4rem !important;
  height: 4rem !important;
}
