<div class="container mb-5">
  <div class="row col-md-10 mt-5">
    <div class="col-md-3 overflow-hidden">
      <img src="assets/images/support.jpg" alt="support" class="img-fluid">
    </div>
    <div class="col-md-9">
      <h2 class="fw-bold text-dark">Connect with us seamlessly, our support spans across different channels.</h2>
      <p>Connect with us at your convenience through the listed channels, Monday to Friday from 10:00 AM to 6:00 PM.</p>
      <div class="card py-3 px-4 mt-5">
        <div class="row">
          <div class="rounded-icon bg-green-light rounded-circle d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-envelope text-green fa-2x"></i>
          </div>
          <div class="col-md-11">
            <h5 class="fw-bold text-dark">Email</h5>
            <p>Email is the favored and most efficient means for our customers to get in touch. Expect a swift response as we make it a priority to reply as soon as possible. Contact us at info&#64;bottomhalf.in.</p>
          </div>
        </div>
      </div>
      <div class="card py-3 px-4 mt-3">
        <div class="row">
          <div class="rounded-icon bg-magenta-light rounded-circle d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-phone text-magenta fa-2x"></i>
          </div>
          <div class="col-md-11">
            <h5 class="fw-bold text-dark">Phone</h5>
            <p>When time is of the essence, connect with us through phone for quick assistance. Please be mindful that our phone channels are limited, and we reserve a maximum of 30 minutes per customer call.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
