<div class="col-md-12 main-container">
  <div class="x_panel">
    <div class="x_header">
      <div class="x_header_title">
        <div class="col-md-3">
          <h2>COMPANY INFORMATION</h2>
        </div>
      </div>
    </div>
    <div class="px-1">
      <app-breadcrums></app-breadcrums>
    </div>
    <div class="my-3 px-5" *ngIf="isPageReady">
      <form [formGroup]="companyInformationForm">
        <div class="col-md-4 mb-4 mt-2">
          <!-- <select class="form-select" formControlName="CompanyId" disabled>
            <option value="0">Select Company</option>
            <option value="{{companyInformation.CompanyId}}">{{companyInformation.CompanyName}}</option>
          </select> -->
          <label for="" class="form-control bg-muted">{{companyInformation.CompanyName}}</label>
        </div>
        <div class="progress-step col-md-6 mx-3 my-2">
          <div class="custom-progress" id="progress"></div>
          <div class="progress-step-item active" (click)="activePage(1)" data-title="COMPANY INFO"></div>
          <div class="progress-step-item" (click)="activePage(2)" data-title="BANK ACCOUNT"></div>
          <div class="progress-step-item" (click)="activePage(3)" data-title="COMPANY LOCATIONS"></div>
        </div>
        <ng-container *ngIf="ActivatedPage == 1">
          <div class="box">
            <button class=" btn my-2 me-1 btn-outline-primary float-end" (click)="activePage(ActivatedPage+1)">
              Next
              <i class="fa fa-arrow-right ps-2"></i>
            </button>
            <h6 class="mb-0 py-3">Please provide the company information. This is the company that pays for the Payroll.
            </h6>
            <div class="col-md-3 my-2">
              <label for="" class="foem-label pb-2 fw-bold">SELECT LEGAL ENTITY</label>
              <select class="form-select" formControlName="LegalEntity">
                <option value="">Select Legal Entity</option>
                <option value="CS TEST">CS TEST</option>
              </select>
            </div>
            <div class="row col-md-6 py-3">
              <div class="col-md-6" (change)="signwithStamp($event)">
                <input type="file" class="d-none" id="uploasignature" accept=".jpg, .jpeg, .png"
                  formControlName="SignWithStamp">
                <a href="javascript:void(0)" class="text-decoration-none" (click)="fireBrowserFile()"><i
                    class="fa fa-plus pe-2"></i>{{signURL == ''? "Add New": "Modify"}} Signature with stamp</a>
              </div>
              <div class="col-md-6 border sign-container" [ngClass]="{'d-none': signURL == ''}">
                <img [attr.src]="signURL" alt="" class="img-fluid ">
              </div>
            </div>
            <div class="row col-md-6 py-3">
              <div class="col-md-6" (change)="signwithoutStamp($event)">
                <input type="file" class="d-none" id="uploasignwithoutstamp" accept=".jpg, .jpeg, .png"
                  formControlName="SignWithoutStamp">
                <a href="javascript:void(0)" class="text-decoration-none" (click)="fireBrowsersign()"><i
                    class="fa fa-plus pe-2"></i>{{signURL == ''? "Add New": "Modify"}} Signature without stamp</a>
              </div>
              <div class="col-md-6 border sign-container" [ngClass]="{'d-none': signwithoutstamp == ''}">
                <img [attr.src]="signwithoutstamp" alt="" class="img-fluid ">
              </div>
            </div>
            <div class="py-2">
              <label for="" class="form-label fw-bold">COMPANY INFORMATION</label>
              <div class="row col-md-6">
                <div class="col-md-6 my-2">
                  <label for="" class="form-label">LEGAL NAME OF THE COMPANY</label>
                  <input type="text" oninput="this.value = this.value.toUpperCase()" class="form-control"
                    placeholder="COMPANY FULL NAME"
                    [ngClass]="{'error-field': submitted && f['LegalNameOfCompany'].errors !== null && f['LegalNameOfCompany'].errors['required']}"
                    formControlName="LegalNameOfCompany">
                </div>
                <div class="col-md-6 my-2">
                  <label for="" class="form-label">TYPE OF BUSINESS</label>
                  <input type="text" class="form-control" oninput="this.value = this.value.toUpperCase()"
                    oninput="this.value = this.value.toUpperCase()" placeholder="TYPE OF BUSINESS"
                    formControlName="TypeOfBusiness">
                </div>
                <div class="col-md-6 my-2">
                  <label for="" class="form-label">DATE OF INFORMATION</label>
                  <form class="form-inline">
                    <div class="form-group w-100">
                      <div class="input-group w-100">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model"
                          (dateSelect)="onDateSelection($event)" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i
                              class="fa fa-calendar" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-md-6 my-2">
                  <label for="" class="form-label">REGISTERED OFFICE ADDRESS</label>
                  <input type="text" class="form-control" placeholder="REGISTERED OFFICE ADDRESS"
                    oninput="this.value = this.value.toUpperCase()" formControlName="FullAddress">
                </div>
              </div>
            </div>
            <button class="btn btn-primary-c float-end mb-3" [disabled]="isLoading" (click)="updateDetail()">
              <i class="fa pe-2" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-cog': !isLoading}"></i>
              {{ isLoading ? 'Processing' : 'Submit' }}
            </button>
          </div>
        </ng-container>
        <ng-container *ngIf="ActivatedPage == 2">
          <div class="box">
            <button class="float-end btn my-2 me-1 btn-outline-primary" (click)="activePage(3)">Next<i
                class="fa fa-arrow-right ps-2"></i></button>
            <button class="float-end btn my-2 me-1 btn-outline-success" (click)="activePage(1)"><i
                class="fa fa-arrow-left pe-2"></i>Previous</button>
            <h6 class="mb-0 py-3 mt-5">BANK ACCOUNT INFORMATION.</h6>
            <div class="">
              <div class="col-md-4 row my-2">
                <div class="form-label col-md-6 fw-bold">Account Number :</div>
                <div class="form-label col-md-6">
                  <ng-container *ngIf="BankDetails.AccountNumber != null && BankDetails.AccountNumber != ''">{{BankDetails.AccountNumber}}</ng-container>
                  <ng-container *ngIf="BankDetails.AccountNumber == null || BankDetails.AccountNumber == ''">NA</ng-container>
                </div>
              </div>
              <div class="col-md-4 row my-2">
                <div class="form-label col-md-6 fw-bold">Bank Name :</div>
                <div class="form-label col-md-6">
                  <ng-container *ngIf="BankDetails.BankName != null && BankDetails.BankName != ''">{{BankDetails.BankName}}</ng-container>
                  <ng-container *ngIf="BankDetails.BankName == null || BankDetails.BankName == ''">NA</ng-container>
                </div>
              </div>
              <div class="col-md-4 row my-2">
                <div class="form-label col-md-6 fw-bold">Branch Name :</div>
                <div class="form-label col-md-6">
                  <ng-container *ngIf="BankDetails.Branch != null && BankDetails.Branch != ''">{{BankDetails.Branch}}</ng-container>
                  <ng-container *ngIf="BankDetails.Branch == null || BankDetails.Branch == ''">NA</ng-container>
                </div>
              </div>
              <div class="col-md-4 row my-2">
                <div class="form-label col-md-6 fw-bold">Branch Code :</div>
                <div class="form-label col-md-6">
                  <ng-container *ngIf="BankDetails.Branch != null && BankDetails.Branch != ''">{{BankDetails.Branch}}</ng-container>
                  <ng-container *ngIf="BankDetails.Branch == null || BankDetails.Branch == ''">NA</ng-container>
                </div>
              </div>
              <div class="col-md-4 row my-2">
                <div class="form-label col-md-6 fw-bold">IFSC Code :</div>
                <div class="form-label col-md-6">
                  <ng-container *ngIf="BankDetails.IFSCCode != null && BankDetails.IFSCCode != ''">{{BankDetails.IFSCCode}}</ng-container>
                  <ng-container *ngIf="BankDetails.IFSCCode == null || BankDetails.IFSCCode == ''">NA</ng-container>
                </div>
              </div>
              <div class="col-md-4 row my-2">
                <div class="form-label col-md-6 fw-bold">GSTIN Number :</div>
                <div class="form-label col-md-6">
                  <ng-container *ngIf="BankDetails.GSTNO != null && BankDetails.GSTNO != ''">{{BankDetails.GSTNO}}</ng-container>
                  <ng-container *ngIf="BankDetails.GSTNO == null || BankDetails.GSTNO == ''">NA</ng-container>
                </div>
              </div>
              <div class="col-md-4 row my-2">
                <div class="form-label col-md-6 fw-bold">TradeLiecence Number :</div>
                <div class="form-label col-md-6">
                  <ng-container *ngIf="BankDetails.TradeLiecenceNumber != null && BankDetails.TradeLiecenceNumber != ''">{{BankDetails.TradeLiecenceNumber}}</ng-container>
                  <ng-container *ngIf="BankDetails.TradeLiecenceNumber == null || BankDetails.TradeLiecenceNumber == ''">NA</ng-container>
                </div>
              </div>
              <div class="col-md-4 row my-2">
                <div class="form-label col-md-6 fw-bold">PAN Number :</div>
                <div class="form-label col-md-6">
                  <ng-container *ngIf="BankDetails.PANNo != null && BankDetails.PANNo != ''">{{BankDetails.PANNo}}</ng-container>
                  <ng-container *ngIf="BankDetails.PANNo == null || BankDetails.PANNo == ''">NA</ng-container>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="ActivatedPage == 3">
          <div class="box">
            <button class="float-end btn my-2 me-1 btn-outline-success" (click)="activePage(2)"><i
                class="fa fa-arrow-left pe-2"></i>Previous</button>
            <h6 class="mb-0 mt-5 py-3">COMPANY LOCATION</h6>
            <div class="">
              <div class="col-md-4 my-2 row">
                <div class="form-label fw-bold col-md-6">First Address :</div>
                <div class="form-label col-md-6">
                  <ng-container
                    *ngIf="companyInformation.FirstAddress != null || companyInformation.FirstAddress != ''">
                    {{companyInformation.FirstAddress}}
                  </ng-container>
                  <ng-container
                    *ngIf="companyInformation.FirstAddress == null || companyInformation.FirstAddress == ''">
                    NA
                  </ng-container>
                </div>
              </div>
              <div class="col-md-4 my-2 row">
                <div class="form-label fw-bold col-md-6">Second Address :</div>
                <div class="form-label col-md-6">
                  <ng-container
                    *ngIf="companyInformation.SecondAddress != null || companyInformation.SecondAddress != ''">
                    {{companyInformation.SecondAddress}}
                  </ng-container>
                  <ng-container
                    *ngIf="companyInformation.SecondAddress == null || companyInformation.SecondAddress == ''">
                    NA
                  </ng-container>
                </div>
              </div>
              <div class="col-md-4 my-2 row">
                <div class="form-label fw-bold col-md-6">Third Address :</div>
                <div class="form-label col-md-6">
                  <ng-container
                    *ngIf="companyInformation.ThirdAddress != null || companyInformation.ThirdAddress != ''">
                    {{companyInformation.ThirdAddress}}
                  </ng-container>
                  <ng-container
                    *ngIf="companyInformation.ThirdAddress == null || companyInformation.ThirdAddress == ''">
                    NA
                  </ng-container>
                </div>
              </div>
              <div class="col-md-4 my-2 row">
                <div class="form-label fw-bold col-md-6">Fourth Address :</div>
                <div class="form-label col-md-6">
                  <ng-container
                    *ngIf="companyInformation.FourthAddress != null || companyInformation.FourthAddress != ''">
                    {{companyInformation.FourthAddress}}
                  </ng-container>
                  <ng-container
                    *ngIf="companyInformation.FourthAddress == null || companyInformation.FourthAddress == ''">
                    NA
                  </ng-container>
                </div>
              </div>
              <div class="col-md-4 my-2 row">
                <div class="form-label fw-bold col-md-6">Full Address :</div>
                <div class="form-label col-md-6">
                  <ng-container *ngIf="companyInformation.FullAddress != null || companyInformation.FullAddress != ''">
                    {{companyInformation.FullAddress}}
                  </ng-container>
                  <ng-container *ngIf="companyInformation.FullAddress == null || companyInformation.FullAddress == ''">
                    NA
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </form>
    </div>
    <ng-container *ngIf="!isPageReady">
      <div class="py-5 my-5">
        <h6 class="fw-bold fs-3 text-center text-dark">Company Information are loading</h6>
        <div class="fs-5 pb-5 py-5 d-flex flex-column justify-content-center align-items-center">
          <div class="col-md-3 modal-container f-12 text-center cog-wheel">
            <img src="assets/images/cog.gif" alt="" />
            <h6 class="modal-title title-message">
              Please Wait ........
            </h6>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
