<div class="col-md-12 main-container">
  <div class="x_panel">
    <div class="x_header">
      <div class="x_header_title">
        <div class="col-md-3">
          <h2>COMPANY INFORMATION</h2>
        </div>
      </div>
    </div>
    <div class="px-1">
      <app-breadcrums></app-breadcrums>
    </div>
    <div class="my-3 px-5">
      <form [formGroup]="companyInformationForm">
        <div class="col-md-4 mb-4 mt-2">
          <select class="form-select" (change)="findCompany($event)" formControlName="OrganizationId" [disabled]="OrganizationDetails.length == 1" >
            <option value="0">Select Company</option>
            <option value="{{org.OrganizationId}}" *ngFor="let org of OrganizationDetails">{{org.OrganizationName}}</option>
          </select>
        </div>
        <div class="progress-step col-md-6 mx-3 my-2">
          <div class="custom-progress" id="progress"></div>
          <div class="progress-step-item active" (click)="activePage(1)" data-title="COMPANY INFO"></div>
          <div class="progress-step-item" (click)="activePage(2)" data-title="BANK ACCOUNT"></div>
          <div class="progress-step-item" (click)="activePage(3)" data-title="COMPANY LOCATIONS"></div>
        </div>
        <ng-container *ngIf="ActivatedPage == 1">
          <div class="box">
            <button  class=" btn my-2 me-1 btn-outline-success float-end" (click)="updateDetail()">
              <i class="fa fa-cog pe-2"></i>
              Save & Continue
            </button>
            <h6 class="mb-0 py-3">Please provide the company information. This is the company that pays for the Payroll.
            </h6>
            <div class="col-md-3 my-2">
              <label for="" class="foem-label pb-2 fw-bold">SELECT LEGAL ENTITY</label>
              <select class="form-select" formControlName="LegalEntity">
                <option value="">Select Legal Entity</option>
                <option value="CS TEST">CS TEST</option>
              </select>
            </div>
            <div class="row col-md-6 py-3">
              <div class="col-md-6" (change)="signwithStamp($event)">
                <input type="file" class="d-none" id="uploasignature" accept=".jpg, .jpeg, .png" formControlName="SignWithStamp">
                <a href="javascript:void(0)" class="text-decoration-none" (click)="fireBrowserFile()"><i class="fa fa-plus pe-2"></i>{{signURL == ''? "Add New": "Modify"}} Signature with stamp</a>
              </div>
              <div class="col-md-6 border sign-container" [ngClass]="{'d-none': signURL == ''}">
                <img [attr.src]="signURL" alt="" class="img-fluid ">
              </div>
            </div>
            <div class="row col-md-6 py-3">
              <div class="col-md-6" (change)="signwithoutStamp($event)">
                <input type="file" class="d-none" id="uploasignwithoutstamp" accept=".jpg, .jpeg, .png" formControlName="SignWithoutStamp">
                <a href="javascript:void(0)" class="text-decoration-none" (click)="fireBrowsersign()"><i class="fa fa-plus pe-2"></i>{{signURL == ''? "Add New": "Modify"}} Signature without stamp</a>
              </div>
              <div class="col-md-6 border sign-container" [ngClass]="{'d-none': signwithoutstamp == ''}">
                <img [attr.src]="signwithoutstamp" alt="" class="img-fluid ">
              </div>
            </div>
            <div class="py-2">
              <label for="" class="form-label fw-bold">COMPANY INFORMATION</label>
              <div class="row col-md-6">
                <div class="col-md-6 my-2">
                  <label for="" class="form-label">LEGAL NAME OF THE COMPANY</label>
                  <input type="text" class="form-control" placeholder="COMPANY FULL NAME" [ngClass]="{'error-field': submitted && f['LegalNameOfCompany'].errors !== null && f['LegalNameOfCompany'].errors['required']}"
                    formControlName="LegalNameOfCompany">
                </div>
                <div class="col-md-6 my-2">
                  <label for="" class="form-label">TYPE OF BUSINESS</label>
                  <input type="text" class="form-control" placeholder="TYPE OF BUSINESS" formControlName="TypeOfBusiness">
                </div>
                <div class="col-md-6 my-2">
                  <label for="" class="form-label">DATE OF INFORMATION</label>
                  <form class="form-inline">
                    <div class="form-group w-100">
                      <div class="input-group w-100">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model"
                          (dateSelect)="onDateSelection($event)" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i
                              class="fa fa-calendar" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-md-6 my-2">
                  <label for="" class="form-label">REGISTERED OFFICE ADDRESS</label>
                  <input type="text" class="form-control" placeholder="REGISTERED OFFICE ADDRESS"
                    formControlName="FullAddress">
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="ActivatedPage == 2">
          <div class="box">
            <button class="float-end btn my-2 me-1 btn-outline-success" (click)="activePage(3)"><i class="fa fa-cog pe-2"></i>Continue</button>
            <h6 class="mb-0 py-3 mt-5">BANK ACCOUNT INFORMATION.</h6>
             <div class="row">
                <div class="col-md-4 my-2">
                  <label for="" class="form-label">Account Number :</label>
                  <label for="" class="form-label ps-3">{{BankDetails.AccountNumber}}</label>
                </div>
                <div class="col-md-4 my-2">
                  <label for="" class="form-label">Bank Name :</label>
                  <label for="" class="form-label ps-3">{{BankDetails.BankName}}</label>
                </div>
                <div class="col-md-4 my-2">
                  <label for="" class="form-label">Branch Name :</label>
                  <label for="" class="form-label ps-3">{{BankDetails.Branch}}</label>
                </div>
                <div class="col-md-4 my-2">
                  <label for="" class="form-label">Branch Code :</label>
                  <label for="" class="form-label ps-3">{{BankDetails.Branch}}</label>
                </div>
                <div class="col-md-4 my-2">
                  <label for="" class="form-label">IFSC Code :</label>
                  <label for="" class="form-label ps-3">{{BankDetails.IFSCCode}}</label>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4 my-2">
                  <label for="" class="form-label">GSTIN Number :</label>
                  <label for="" class="form-label ps-3">{{BankDetails.GSTINNumber}}</label>
                </div>
                <div class="col-md-4 my-2">
                  <label for="" class="form-label">TradeLiecence Number :</label>
                  <label for="" class="form-label ps-3">{{BankDetails.TradeLiecenceNumber}}</label>
                </div>
                <div class="col-md-4 my-2">
                  <label for="" class="form-label">PAN Number :</label>
                  <label for="" class="form-label ps-3">{{BankDetails.PANNumber}}</label>
                </div>
             </div>
          </div>
        </ng-container>
        <ng-container *ngIf="ActivatedPage == 3">
          <div class="box">
            <button class="float-end btn my-2 me-1 btn-outline-success" (click)="updateDetail()"><i class="fa fa-cog pe-2"></i>Submit</button>
            <h6 class="mb-0 mt-5 py-3">COMPANY LOCATION</h6>
            <div class="row">
              <div class="col-md-4 my-2">
                <label for="" class="form-label">First Address :</label>
                  <label for="" class="form-label ps-3">{{companyInformation.FirstAddress}}</label>
              </div>
              <div class="col-md-4 my-2">
                <label for="" class="form-label">Second Address :</label>
                  <label for="" class="form-label ps-3">{{companyInformation.PANNumberSecondAddress}}</label>
              </div>
              <div class="col-md-4 my-2">
                <label for="" class="form-label">Third Address :</label>
                  <label for="" class="form-label ps-3">{{companyInformation.ThirdAddress}}</label>
              </div>
              <div class="col-md-4 my-2">
                <label for="" class="form-label">Fourth Address :</label>
                  <label for="" class="form-label ps-3">{{companyInformation.FourthAddress}}</label>
              </div>
              <div class="col-md-4 my-2">
                <label for="" class="form-label">Full Address :</label>
                <label for="" class="form-label ps-3">{{companyInformation.FullAddress}}</label>
              </div>
            </div>
          </div>
        </ng-container>
      </form>
    </div>
  </div>
</div>
