.active-working-hrs {
    background-color: #edf3fb !important;
}

.user-img {
    width: 2.5rem !important;
    height: 2.5rem !important;
    border-radius: 50%;
}

input[readonly] {
    background-color: #e9ecef !important;
}