<div class="container ch-100 d-flex align-items-center justify-content-center">
    <div class="row col-md-12">
        <div class="col-md-6">
            <h2 class="fw-bold mb-4 text-dark">Why Shift management is Important</h2>
            <ul class="fs-5 text-dark">
                <li class="py-2">Maximizes operational efficiency by optimizing staffing levels for each shift.</li>
                <li class="py-2">Reduces overtime costs by effectively managing shift schedules.</li>
                <li class="py-2">Enhances employee satisfaction by providing predictable and fair shift assignments.</li>
                <li class="py-2">Improves workforce productivity through balanced workload distribution.</li>
                <li class="py-2">Facilitates compliance with labor laws and regulations regarding shift scheduling.</li>
                <li class="py-2">Minimizes errors and conflicts in scheduling through automated shift management systems.</li>
                <li class="py-2">Enables better coordination and communication among team members working different shifts.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="assets/images/shiftmanagement.avif" class="img-thumbnail " alt="hrmanaagement">
        </div>
    </div>
</div>

<app-footer></app-footer>