.table a {
  cursor: pointer;
  color: darkblue;
  text-decoration: underline;
}

.cell-wrapper {
  padding-left: .6rem;
  padding-right: .6rem;
}

.detail-area {
  min-height: 14rem;
  max-height: 14rem;
}

.view-popup {
  z-index: 2200 !important;
  background: #222222a1 !important;
}

.t-head {
  overflow-x: hidden !important;
}

textarea {
  resize: none;
}