<div class="col-12 full-v main-container">
  <div class="col-12 row p-0 m-0">
    <div class="right-panel container col-md-12 p-0">
      <div class="x_panel mt-2">
        <div class="x_header">
          <div class="d-flex justify-content-between">
            <div class="col-8">
              <div class="px-1">
                <app-breadcrums [title]="'Notification'" [subtitle]="'Details'"></app-breadcrums>
              </div>
            </div>
            <div class="col-4" *ngIf="isAdmin">
              <div class="x_header_title d-flex align-items-center justify-content-end">
                <a href="javascript:void(0)" class="text-decoration-none fw-bold pe-4" (click)="navToEmailLinkConfig()"><i
                  class="fa-solid fa-paper-plane pe-1"></i> Email Link Config
              </a>
              <button class="btn btn-primary-c" (click)="addNotificationPopup()"><i
                  class="fa-solid fa-plus-square pe-2"></i>Add Notification</button>
            </div>
          </div>
        </div>
        <ng-container *ngIf="isPageReady">
          <div class="x_content mt-4">
            <div class="t-table t-list t-border col-md-12">
              <div class="hide-bar"></div>
              <div class="t-head">
                <div class="tr">
                  <div class="th fe-index">
                    <div class="t-index">
                      <a href="javascript:void()" class="ps-3">#</a>
                    </div>
                  </div>
                  <div class="th fe-1">
                    <div class="cell-wrapper">
                      <input class="form-control form-control-sm" autofocus placeholder="Search by Announcement Code" readonly>
                      <div class="t-filter">
                        <a href="javascript:void(0)" class="">Announcement Code</a>
                      </div>
                    </div>
                  </div>
                  <div class="th fe-1">
                    <div class="cell-wrapper">
                      <input class="form-control form-control-sm" placeholder="Search by Topic" [(ngModel)]="notifiCationDetail.Topic"
                        (keydown.esc)="resetFilter()" oninput="this.value = this.value.toUpperCase()"
                        (keyup.enter)="filterRecords()" autofocus>
                      <div class="t-filter" (click)="arrangeDetails(orderByTopicAsc, 'Topic')">
                        <a href="javascript:void()" class="pe-2">Topic</a>
                        <i class="fa-solid fa-arrow-down-wide-short"
                          [ngClass]="{'d-none': orderByTopicAsc == null || !orderByTopicAsc }" aria-hidden="true"></i>
                        <i class="fa-solid fa-arrow-down-short-wide"
                          [ngClass]="{'d-none': orderByTopicAsc == null || orderByTopicAsc }" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="th fe-1">
                    <div class="cell-wrapper">
                      <select class="form-select" [(ngModel)]="notifiCationDetail.AnnouncementType"
                      (change)="filterRecords()">
                        <option value="0">Select Type</option>
                        <option value="1">By Employee</option>
                        <option value="2">By Department</option>
                        <option value="3">By Job Position</option>
                      </select>
                      <div class="t-filter" (click)="arrangeDetails(orderByAnnounceTypeAsc, 'AnnouncementType')">
                        <a href="javascript:void()" class="pe-2">Announcement Type</a>
                        <i class="fa-solid fa-arrow-down-wide-short"
                          [ngClass]="{'d-none': orderByAnnounceTypeAsc == null || !orderByAnnounceTypeAsc }" aria-hidden="true"></i>
                        <i class="fa-solid fa-arrow-down-short-wide"
                          [ngClass]="{'d-none': orderByAnnounceTypeAsc == null || orderByAnnounceTypeAsc }" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="th fe-3">
                    <div class="cell-wrapper">
                      <input class="form-control form-control-sm" autofocus placeholder="Search by Breif Detail"
                      [(ngModel)]="notifiCationDetail.BriefDetail" (keydown.esc)="resetFilter()" oninput="this.value = this.value.toUpperCase()"
                      (keyup.enter)="filterRecords()">
                      <div class="t-filter" (click)="arrangeDetails(orderByBriefDetailDateAsc, 'BriefDetail')">
                        <a href="javascript:void()" class="pe-2">Brief Detail</a>
                        <i class="fa-solid fa-arrow-down-wide-short"
                          [ngClass]="{'d-none': orderByBriefDetailDateAsc == null || !orderByBriefDetailDateAsc }" aria-hidden="true"></i>
                        <i class="fa-solid fa-arrow-down-short-wide"
                          [ngClass]="{'d-none': orderByBriefDetailDateAsc == null || orderByBriefDetailDateAsc }" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="th fe-1">
                    <div class="cell-wrapper">
                      <input class="form-control form-control-sm" autofocus placeholder="Search by Total Days" readonly>
                      <div class="t-filter" (click)="arrangeDetails(orderByCreatedAsc, 'CreatedOn')">
                        <a href="javascript:void()" class="pe-2">Created On</a>
                        <i class="fa-solid fa-arrow-down-wide-short"
                          [ngClass]="{'d-none': orderByCreatedAsc == null || !orderByCreatedAsc }" aria-hidden="true"></i>
                        <i class="fa-solid fa-arrow-down-short-wide"
                          [ngClass]="{'d-none': orderByCreatedAsc == null || orderByCreatedAsc }" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="th fe-index">
                    <div class="cell-wrapper">
                      <input class="form-control form-control-sm" autofocus placeholder="Search by Status" readonly>
                      <div class="t-filter">
                        <a href="javascript:void()" class="pe-2">Status</a>
                      </div>
                    </div>
                  </div>
                  <div class="th fe-index text-center">
                    <div class="cell-wrapper">
                      <button class="btn btn-danger" (click)="resetFilter()"><i class="fa-solid fa-repeat"></i></button>
                      <div class="t-filter">
                        ACTIONS
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="t-body">
                <ng-container *ngIf="allNotificationList.length > 0">
                  <div class="tr py-2" *ngFor="let item of allNotificationList; let i = index;">
                    <div class="td align-middle text-center fe-index">
                      <div class="cell-wrapper">
                        {{item.Index}}
                      </div>
                    </div>
                    <div class="td align-middle  fe-1">
                      <div class="cell-wrapper">
                        {{item.AnnouncementId}}
                      </div>
                    </div>
                    <div class="td align-middle fe-1">
                      <div class="cell-wrapper">
                        {{item.Topic}}
                      </div>
                    </div>
                    <div class="td align-middle fe-1">
                      <div class="cell-wrapper">
                        {{item.AnnouncementType == 1 ?'By Employee' : item.AnnouncementType == 2 ?'By Department' : item.AnnouncementType == 3 ?'By Job Position' : 'General Announcement'}}
                      </div>
                    </div>
                    <div class="td align-middle fe-3">
                      <div class="cell-wrapper">
                        {{item.BriefDetail}}
                      </div>
                    </div>
                    <div class="td align-middle fe-1">
                      <div class="cell-wrapper">
                        {{item.CreatedOn | date}}
                      </div>
                    </div>
                    <div class="td align-middle fe-index">
                      <div class="cell-wrapper">
                        {{item.IsExpired == true ? 'Expired': 'Not Expired'}}
                      </div>
                    </div>
                    <div class="td align-middle fe-index">
                      <div class="d-flex flex-row justify-content-evenly" *ngIf="isAdmin">
                        <a href="javascript:void(0)" (click)="editNotificationPopup(item)">
                          <i class="fa-solid fa-pencil text-primary" aria-hidden="true"></i>
                        </a>
                        <a href="javascript:void(0)" (click)="viewNotificationPopup(item)">
                          <i class="fa-regular fa-eye text-dark" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="allNotificationList.length == 0 && isPageReady">
                  <div
                    class="custom-height fw-bold fs-3 py-5 my-5 text-danger d-flex align-items-center justify-content-center">
                    <p class="my-5 py-5">Record Not Found</p>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="mt-3">
            <app-pagination [pagination]="notificationData" (onPageChange)="GetFilterResult($event)"></app-pagination>
          </div>
        </ng-container>
        <!-- <ng-container *ngIf="!isPageReady">
          <div class="fs-5 my-5 py-5 d-flex flex-column justify-content-center align-items-center">
            <div class="col-md-3 modal-container  text-center cog-wheel">
              <img src="assets/images/cog.gif" alt="" />
              <h6 class="modal-title title-message">
                Please Wait ........
              </h6>
            </div>
          </div>
        </ng-container> -->
      </div>
    </div>
  </div>
</div>

<!-- Add/Update Notification Modal -->
<div class="modal fade" id="manageNotificationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="manageNotificationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="manageNotificationModalLabel">{{currentNotification.NotificationId == 0 ? 'Add' : 'Update'}} Notification</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="notificationForm" *ngIf="notificationForm">
          <div class="col-md-12 row">
            <div class="col-md-6 mt-3">
              <label for="" class="form-label">Company Name</label>
              <input type="text" placeholder="Company Name" readonly formControlName="CompanyName" class="form-control">
            </div>
            <div class="col-md-6 mt-3">
              <label for="" class="form-label">General Announcement</label>
              <select formControlName="IsGeneralAnnouncement" (change)="onChangeAnnouncement($event)" class="form-select">
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
            </div>
          </div>
          <div class="col-md-12 row">
            <div class="col-md-6 mt-3">
              <label for="" class="form-label">Start Date</label>
              <form class="form-inline">
                <div class="form-group w-100">
                  <div class="input-group w-100" [ngClass]="{'error-field': submitted && f.StartDate.errors !== null && f.StartDate.errors.required}">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="startDateModel"
                      (dateSelect)="onStartDateSelection($event)" ngbDatepicker [minDate]="{year: 1970, month:1, day: 1}" [maxDate]="{year: 2050, month:1, day: 19}" #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i
                          class="fa-regular fa-calendar-days fa-lg" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-6 mt-3">
              <label for="" class="form-label">End Date</label>
              <form class="form-inline">
                <div class="form-group w-100">
                  <div class="input-group w-100" [ngClass]="{'error-field': submitted && f.EndDate.errors !== null && f.EndDate.errors.required}">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="EndDateModel"
                      (dateSelect)="onEndDateSelection($event)" ngbDatepicker [minDate]="{year: 1970, month:1, day: 1}" [maxDate]="{year: 2050, month:1, day: 19}" #ed="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="ed.toggle()" type="button"><i
                          class="fa-regular fa-calendar-days fa-lg" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-12 row" *ngIf="notificationForm.controls.IsGeneralAnnouncement.value == 'false'">
            <div class="col-md-6 mt-3">
              <label class="form-label">Announcement Type</label>
              <select class="form-select" (change)="onSelectAnnouncement($event)" formControlName="AnnouncementType">
                <option value="0">Select type</option>
                <option value="1">By Employee</option>
                <option value="2">By Department</option>
                <option value="3">By Job Position</option>
              </select>
            </div>
            <div class="col-md-6 mt-3">
              <label class="form-label">Departments</label>
              <select class="form-select" formControlName="DepartmentId">
                <option value="0">Select type</option>
                <option [value]="item.Id" *ngFor="let item of selectedDepartment">{{item.Value}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <label for="" class="form-label">Topic</label>
            <input type="text" placeholder="Enter Topic" maxlength="100" oninput="this.value = this.value.toUpperCase()" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 32" formControlName="Topic" [ngClass]="{'error-field': submitted && f.Topic.errors !== null && f.Topic.errors.required}" class="form-control">
          </div>
          <div class="col-md-12 mt-3">
            <label for="" class="form-label">Brief Detail</label>
            <input type="text" placeholder="Enter Brief Detail" maxlength="250" oninput="this.value = this.value.toUpperCase()" formControlName="BriefDetail" [ngClass]="{'error-field': submitted && f.BriefDetail.errors !== null && f.BriefDetail.errors.required}" class="form-control">
          </div>
          <div class="col-md-12 mt-3">
            <label for="" class="form-label">Complete Detail</label>
            <textarea type="text" placeholder="Enter Complete Detail" maxlength="600" oninput="this.value = this.value.toUpperCase()" formControlName="CompleteDetail" [ngClass]="{'error-field': submitted && f.CompleteDetail.errors !== null && f.CompleteDetail.errors.required}" class="form-control detail-area"></textarea>
          </div>
          <div class="mt-3">
            <input type="file" id="uploaAnnouncedoc" class="d-none" multiple accept=".png, .jpg, .pdf. .doc, .docx, .txt, application/pdf" (change)="uploadAttachment($event)"/>
            <a href="javascript:void(0)" class="text-decoration-none" (click)="fireBrowserFile()">
              <i class="fa-solid fa-paperclip pe-2"></i>
              <span>Add Attachment</span>
            </a>
            <span class="fw-bold text-primary ps-2" *ngIf="fileList.length > 0">{{fileList.length}} file selected</span>
            <a href="javascript:void(0)" class="text-decoration-none" (click)="uploadedFilePopUp()">
              <span class="fw-bold text-dark ps-2" *ngIf="uploadedFile.length > 0">{{uploadedFile.length}} file uploaded</span>
            </a>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i> Close</button>
        <button class="btn btn-success" [disabled]="isLoading" (click)="manageNotification()">
          <i  [ngClass]="{'fa-spin fa-solid fa-spinner': isLoading, 'fa-solid fa-plus': !isLoading}"></i>
          <span class="ps-2" *ngIf="currentNotification.NotificationId == 0">{{ isLoading ? 'Wait' : 'Add' }}</span>
          <span class="ps-2" *ngIf="currentNotification.NotificationId > 0">{{ isLoading ? 'Wait' : 'Update' }}</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- View Notification Modal -->
<div class="modal fade" id="viewNotificationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="viewNotificationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="viewNotificationModalLabel">View Notification</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="currentNotification != null">
        <h4>Code No: {{currentNotification.AnnouncementId}}</h4>
        <div class="form-check mt-3">
          <label class="form-check-label" for="flexCheckCheckedDisabled">
            General Announcement
          </label>
          <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" [checked]="currentNotification.IsGeneralAnnouncement" disabled>
        </div>
        <div class="row">
          <div class="col-md-6 mt-3 row">
            <div class="col-md-5 fw-bold">Title:</div>
            <div class="col-md-6">{{currentNotification.Topic}}</div>
          </div>
          <div class="col-md-6 mt-3 row">
            <div class="col-md-5 fw-bold">Requested On:</div>
            <div class="col-md-6">{{currentNotification.CreatedOn | date}}</div>
          </div>
          <div class="col-md-6 mt-3 row">
            <div class="col-md-5 fw-bold">Start Date:</div>
            <div class="col-md-6">{{currentNotification.StartDate | date}}</div>
          </div>
          <div class="col-md-6 mt-3 row">
            <div class="col-md-5 fw-bold">End Date:</div>
            <div class="col-md-6">{{currentNotification.EndDate | date}}</div>
          </div>
          <div class="col-md-6 mt-3 row">
            <div class="col-md-5 fw-bold">Attachment:</div>
            <div class="col-md-6">
              <a href="javascript:void(0)" (click)="uploadedFilePopUp()" *ngIf="uploadedFile.length > 0">
                <span class="fw-bold" *ngIf="uploadedFile.length > 0">{{uploadedFile.length}} file attached</span>
              </a>
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <label for="" class="form-label fw-bold">Announcement Deatils</label>
            <p class="mb-0">{{currentNotification.CompleteDetail}}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i> Close</button>
      </div>
    </div>
  </div>
</div>

<!-- View File Modal -->
<div class="modal fade view-popup" id="viewFileModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="viewFileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="viewFileModalLabel">View Files</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ng-container >
          <table class="table">
            <thead>
              <tr>
                <th width="8%">#</th>
                <th>File Name</th>
                <td width="20%">Action</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of uploadedFile; let i = index">
                <td class="counterCell">{{i+1}}</td>
                <td>{{item.FileName}}.{{item.FileExtension}}</td>
                <td>
                  <a href="javascript:void(0)" class="text-decoration-none" (click)="viewFile(item)"><i class="fa-regular fa-eye px-2 text-dark"></i></a>
                  <!-- <a href="javascript:void(0)" class="text-decoration-none" (click)="deleteRentFile(item)"><i class="fa-solid fa-trash-can px-2 text-danger"></i></a> -->
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i> Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Pdf viewer modal -->
<div class="d-none file-container" id="viewfile-container" (click)="closePdfViewer()">
  <div class="text-end">
    <a (click)="closePdfViewer()" class="close_view">
      <i class="fa-solid fa-xmark fa-2x" aria-hidden="true"></i>
    </a>
  </div>
  <iframe src="" width="800px" height="600px" style="border: none;"></iframe>
</div>

<!--Doc View Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="showDocxFile" role="dialog"
  aria-labelledby="showDocxFile" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title font-weight-bold text-dark" id="exampleModalLongTitle">Docx Viewer</h5>
        <button type="button" class="btn-close" (click)="CloseDocxViewer()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col-12 overflow-auto">
          <iframe [srcdoc]="renderedDocxFile" style="width: 100%; height: 74vh;"></iframe>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <a href="javascript:void(0)" (click)="CloseDocxViewer()" class="text-decoration-none btn-white pe-3">Close</a>
      </div>
    </div>
  </div>
</div>
