<div role="main">
  <div class="col-md-12 col-xs-12 p-0 mb-0">
    <div id="accordion">
      <div class="x_header_title" panel="grid" name="section-1" id="section-1">
        <h5>Sample SQL Data<small class="ml-4">View and export sql data into many format like: json, xml etc.</small>
        </h5>
        <div class="clearfix"></div>
        <div class="card">
          <h5 class="card-header">Featured</h5>
          <div class="card-body">
            <div class="rel-tbl mb-4">
              <div class="x_header rel-tbl__header w-100 m-0 p-0">
                <i class="mdi mdi-view-headline"></i>
                <h5 class="text-capitalize rel-tbl__inner-text">Use below form to insert your databases table.</h5>
              </div>
              <div class="clearfix"></div>
            </div>

            <form id="tableNameContainer" (keydown.enter)="$event.preventDefault()" (ngSubmit)="UpdateTableColumns()">
              <div *ngIf="requestedtables.length > 0" class="card" id="dynamic-table-sec">
                <div class="card-header bg-white">
                  Enter table name(s)
                  <a class="float-right text-dark add-table" id="anc-addtable" (click)="AddNewTable()">
                    <i class="mdi mdi-database-plus"></i>
                    Add table
                  </a>
                </div>
                <div *ngFor="let tblnames of requestedtables;let index = index;" class="card-body pb-1">
                  <small class="form-text text-muted">Table no#: {{tblnames}}
                    Name: <span class="ml-2 text-body font-weight-bold" name="currentTableName"></span>
                  </small>
                  <input (focus)="FindCurrentTag()" (blur)="CheckForTableName()" [attr.tabposition]="index"
                    class="form-control" (keyup)="BindName()" (keydown.enter)="AddNewTable()"
                    placeholder="Enter table name" name="dynamic-table-name">
                </div>
                <blockquote class="blockquote mb-0 mt-4">
                  <p>Please verify the above detail before generate the table schema.</p>
                  <div class="d-block">
                    <button id="enableTableColumns"
                      class="float-left btn-sm btn-generate text-white btn btn-primary mt-2"
                      (click)="UpdateTableColumns()">
                      Generate<i class="pl-2 mdi mdi-telegram"></i>
                    </button>
                    <footer class="float-right blockquote-footer">Generate sql table with<cite title="Source Title">
                        Schema and Data
                      </cite></footer>
                  </div>
                </blockquote>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div name="section-2" style="display: none;" id="section-2" panel="grid" class="bottomhalf-table">
        <div class="rel-tbl mb-4">
          <div class="x_header rel-tbl__header w-100 m-0 p-0">
            <i class="mdi mdi-view-headline"></i>
            <h5 class="text-capitalize rel-tbl__inner-text">Enter your column name and relevent details.</h5>
            <a class="float-right text-dark add-table" (click)="BackToSchemaPage()">
              <i class="mdi mdi-keyboard-backspace"></i>
              Go to previous page</a>
          </div>
          <div class="clearfix"></div>
        </div>
        <div *ngIf="TableCollection.length > 0">
          <div class="panel">
            <ul class="nav nav-tabs">
              <li class="nav-item" *ngFor="let tbl of TableCollection; let i = index; let first = first;">
                <a name="action-anc" class="nav-link nav-pan" (click)="ActivatePanel('actionPanel', i.toString())"
                  [ngClass]="{'active': first}">{{tbl.name | uppercase}}</a>
              </li>
              <li class="nav-item">
                <a name="action-anc" id="maping-tab" class="nav-link nav-pan" (click)="OpenCloseRelationTable()">Table
                  Mapping</a>
              </li>
            </ul>

            <div class="card border-primary" style="border-top: none !important;">
              <div class="card-body">

                <div *ngFor="let tbl of TableCollection; let i = index; let first = first;" name="dynamic-grid-section"
                  [attr.id]="i.toString() | joinNames: 'actionPanel'" [ngStyle]="{'display': first ? 'block' : 'none' }">
                  <div [ngClass]="{'showmodal': first}">
                    <form (keydown.enter)="$event.preventDefault()" name="custome-table">
                      <div id="dynamic-grid-table" class="table-responsive">
                        <table class="n-table table jambo_table bulk_action">
                          <thead>
                            <tr class="headings">
                              <th class="column-title" style="width: 2%">
                                #
                              </th>
                              <th class="column-title">
                                ColumnName
                              </th>
                              <th class="column-title">
                                DataType
                              </th>
                              <th class="column-title">
                                Size
                              </th>
                              <th class="column-title">
                                Default Value
                              </th>
                              <th class="column-title text-center" style="width: 6%">
                                Primary
                              </th>
                              <th class="column-title" style="width: 4%">
                                Is Null
                              </th>
                              <th class="column-title text-center" style="width: 6%">
                                Unique
                              </th>
                            </tr>
                          </thead>
                          <tbody *ngIf="!IsEmptyRow" name="table-generater" [attr.table-name]="tbl.name"
                            class="body-bar-top">
                            <tr *ngFor="let row of NewTableGenerator;let index = index;let first = first" active="0"
                              isunique="0" isprimary="0">
                              <input name="mappeddetail" type="hidden" />
                              <td style="width: 2%">
                                <div class="column-dv text-center">
                                  <span>{{index + 1}}</span>
                                </div>
                              </td>
                              <td>
                                <div class="column-dv">
                                  <input name="ColumnName" autofocus (blur)="HandleRowActivation()"
                                    [placeholder]="' Colunm Name' | joinNames: tbl.name" type="text" />
                                </div>
                              </td>
                              <td>
                                <app-iautocomplete name="DataType" [ClassName]="FieldClass" [Data]="DataType"
                                  (OnSelect)="HandleAutofillData($event)"></app-iautocomplete>
                              </td>
                              <td>
                                <input name="Size" (keydown.enter)="HoverNextField()"
                                  (keypress)="AllowNumberOnly($event)" placeholder="Size" type="text" />
                              </td>
                              <td>
                                <div class="column-dv">
                                  <input name="DefaultValue" class="disabled-field" (keydown.tab)="AddRow()"
                                    (focus)="AddAndEnable()" (keydown.enter)="AddRow()" placeholder="Default Value"
                                    type="text" />
                                </div>
                              </td>
                              <td style="width: 4%">
                                <div class="column-dv position-relative isnull-chk">
                                  <input name="IsPrimary" (change)="EnableOrDisablePrimaryKey($event, 'index')"
                                    type="checkbox" />
                                </div>
                              </td>
                              <td style="width: 4%">
                                <div class="column-dv position-relative isnull-chk">
                                  <input name="IsNullable" type="checkbox" />
                                </div>
                              </td>
                              <td style="width: 4%">
                                <div class="column-dv position-relative isnull-chk">
                                  <input name="IsUnique" (change)="EnableOrDisableUniqueKey($event)"
                                    type="checkbox" />
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </form>
                  </div>
                </div>

                <div name="relationtable" style="display: none;" *ngIf="IsMultitable">
                  <form (keydown.enter)="$event.preventDefault()">
                    <div class="col-md-12 col-lg-12 col-sm-12 p-0 m-0">
                      <div class="row rel-tbl">
                        <div class="x_header rel-tbl__header w-100 m-0 p-0">
                          <h2>
                            <i class="mdi mdi-view-headline"></i>
                            Tables Relation <small>Create foreign key relation between tables.</small></h2>
                          <div class="clearfix"></div>
                        </div>

                        <div class="col-2 p-0 rel-tbl__left">
                          <div class="nav flex-column rel-nav" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical">
                            <a class="rel-nav__nav-anc active" [ngClass]="{'showmodal active': first}"
                              *ngFor="let mappedTable of RelationalTableMapping;let index = index;let first = first;"
                              [attr.id]="'v-pills-' + mappedTable.tableName + '-tab'" data-toggle="pill"
                              [attr.href]="'#v-pills-' + mappedTable.tableName" role="tab"
                              [attr.aria-controls]="'v-pills-' + mappedTable.tableName"
                              [attr.aria-selected]="first ? true : false">
                              {{mappedTable.tableName}}
                            </a>

                          </div>
                        </div>
                        <div class="col-10 rel-tbl__right pl-0">
                          <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade" [ngClass]="{'showmodal active': first}" name="relationmappingtable"
                              *ngFor="let mappedTable of RelationalTableMapping;let index = index;let first = first;"
                              [attr.id]="'v-pills-' + mappedTable.tableName" role="tabpanel"
                              [attr.aria-labelledby]="'v-pills-' + mappedTable.tableName + '-tab'">

                              <div class="card-body">
                                <h5 class="card-title">Table: {{mappedTable.tableName}}</h5>
                                <div id="dynamic-grid-table" class="table-responsive">
                                  <table class="relation-table n-table table jambo_table bulk_action">
                                    <thead>
                                      <tr class="headings">
                                        <th class="column-title">
                                          Table Name
                                        </th>
                                        <th class="column-title">
                                          Column Name
                                        </th>
                                        <th class="column-title">
                                          Referenced Table Name
                                        </th>
                                        <th class="column-title">
                                          Referenced Column Name
                                        </th>
                                      </tr>
                                    </thead>
                                    <tbody name="table-generater">
                                      <tr name="tableRelation" [attr.index]="index"
                                        *ngFor="let row of mappedTable.referencedTableNames;let first = first;let index = index;">
                                        <td class="columns">
                                          <div class="column-dv">
                                            <input type="text" name="tablename" [attr.value]="mappedTable.tableName">
                                          </div>
                                        </td>
                                        <td class="columns">
                                          <input type="hidden" val="" name="column-type" />
                                          <div class="column-dv">
                                            <select class="border-0 form-control" name="columnName"
                                              (change)="BindReferenceTable($event)">
                                              <option value="" selected="selected">Select column name</option>
                                              <option *ngFor="let col of mappedTable.relatedColumns"
                                                [attr.Type]="col.type" [value]="col.name">
                                                {{col.name}}
                                              </option>
                                            </select>
                                          </div>
                                        </td>
                                        <td class="columns">
                                          <div class="column-dv">
                                            <select class="border-0 form-control" name="referenceTableName"
                                              (change)="FillReferenceColumn()" disabled="disabled">
                                              <option value="" selected="selected">Select reference table</option>
                                              <option *ngFor="let name of mappedTable.referencedTableNames"
                                                [value]="name">
                                                {{name}}
                                              </option>
                                            </select>
                                          </div>
                                        </td>
                                        <td class="columns">
                                          <div class="column-dv">
                                            <select class="border-0 form-control" name="referenceColumnName"
                                              disabled="disabled">
                                              <option value="0" selected="selected">Select reference column</option>
                                            </select>
                                          </div>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </form>
                </div>

              </div>
              <div *ngIf="TableCollection.length > 0" class="card-footer text-muted">
                <div class="btn-group form-group m-0">
                  <select class="form-control select-type mr-2" id="actiontype" (change)="SelectOptiontype($event)">
                    <option value="" selected>
                      <span class="text-muted">Select Action Type</span></option>
                    <option value="schema">Sql script schema only</option>
                    <option value="completescript">Sql script schema with data</option>
                    <option value="jsondata">Generate data in json format</option>
                  </select>
                  <input class="form-control mr-2" id="rowsCount" [disabled]="!EnableGenerateOption"
                    placeholder="No.# of rows to generate" type="number">
                  <button class="btn btn-success d-flex" id="btn-generatescript" [disabled]="!EnableGenerateButton"
                    (click)="Generate()">
                    <i class="mdi mdi-table-edit text-white mr-1 position-relative g-btn"></i>
                    <span>Generate</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div *ngIf="IsResultGenerated">
      <app-generatedresult [GeneratedScriptFileName]="ScriptFileName" [ResultSet]="DynamicTableResult"
        (ClosePopup)="CloseGeneratePopup()">
      </app-generatedresult>
    </div>

    <div *ngIf="IsbuildData" class="col-md-12 col-xs-12 pt-2 pt-2 panel-body pl-0 pr-0">
      <app-dynamic-table [pageData]="DynamicTableDetail" (FireFilterSubmit)="FilterPageData($event)">
      </app-dynamic-table>
    </div>
  </div>
</div>
