<div class="main-container">
  <div class="x_panel">
    <div class="x_header">
      <div class="x_header_title d-flex justify-content-between">
        <h2 class=" fw-bold text-dark">Request</h2>
        <div class="d-flex">
          <select class="form-select" [(ngModel)]="itemStatus" (change)="filterRequest($event)">
            <option selected value="2">Pending</option>
            <option value="9">Approved</option>
            <option value="5">Rejected</option>
            <option value="0">All</option>
          </select>
          <button class="btn btn-sm ms-2 btn-primary-c"><i class="fa fa-filter"></i></button>
        </div>
      </div>
    </div>
    <div>
      <app-breadcrums></app-breadcrums>
    </div>
    <div class="mt-3">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink>TimeSheet</a>
          <ng-template ngbNavContent>
            <div class="row bg-light py-3 border-bottom px-3">
              <div class="col-md-6 fw-bold text-dark">Description</div>
              <div class="col-md-2 fw-bold text-dark">Type</div>
              <div class="col-md-3 fw-bold text-dark">Notifies</div>
              <div class="col-md-1 fw-bold text-dark">State</div>
            </div>
            <ng-container *ngIf="request.length > 0">
              <ng-container *ngFor="let item of request">
                <div class="row py-3 border-bottom px-3 leave-box">
                  <div class="col-md-6">
                    <p class="mb-0 fs-6">
                      <span class="fw-bold text-primary-c me-2">From: {{item.FromDate | date}}</span>
                      <span class="fw-bold text-primary-c me-4">To: {{item.ToDate | date}}</span>
                      <span class="fw-bold text-primary-c">[{{item.UserName}}]</span>
                    </p>
                    <span>
                      <span class="fw-bold">Message:</span>
                      {{item.Message}}
                    </span>
                  </div>
                  <div class="col-md-2">
                    Timesheet approval Request
                    <p class="mb-0">
                      <span class="badge bg-primary">
                        Project: &nbsp;
                        <ng-container *ngIf="item.ProjectName == '' || item.ProjectName == null">
                          NA
                        </ng-container>
                        <ng-container *ngIf="item.ProjectName != ''">
                          {{item.ProjectName}}
                        </ng-container>
                      </span>
                    </p>
                    <p class="mb-0">
                      <span class="badge bg-success">
                        Manager &nbsp;
                        <ng-container *ngIf="item.AssigneeId == 0">
                          NA
                        </ng-container>
                        <ng-container *ngIf="item.AssigneeId != 0">
                          {{item.AssigneeId}}
                        </ng-container>
                      </span>
                    </p>
                  </div>
                  <div class="col-md-3">
                    {{item.UserName}}
                    <p class="mb-0">{{item.Email}}</p>
                    <p class="mb-0">{{item.Mobile}}</p>
                  </div>
                  <div class="col-md-1">
                    <ng-container [ngSwitch]="item.RequestStatusId">
                      <p *ngSwitchCase="2">Pending</p>
                      <p *ngSwitchCase="9">Approved</p>
                      <p *ngSwitchCase="5">Rejected</p>
                    </ng-container>
                  </div>
                  <div class="d-flex my-1">
                    <a *ngIf="item.RequestStatusId != 5" (click)="openPopup('Rejected', item)" href="javascript:void(0)"
                      class="text-danger btn-sm fw-bold"><i class="fa pe-1"
                        [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-ban': !isLoading}"></i> Reject</a>
                    <a *ngIf="item.RequestStatusId != 9" (click)="openPopup('Approved', item)" href="javascript:void(0)"
                      class="text-success ms-2 fw-bold btn-sm"><i class="fa pe-1"
                        [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-check': !isLoading}"></i> Approve</a>
                    <a (click)="openPopup('Othermember', item)" class="text-primary-c fw-bold ms-2 btn-sm" href="javascript:void(0)"><i
                        class="fa pe-1" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-refresh': !isLoading}"></i>
                      Re-Assigne</a>
                  </div>
                </div>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="request.length ==0">
              <div class="text-center fw-bold fs-4 py-5 my-5 text-dark">
                No record found
              </div>
            </ng-container>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>Leave</a>
          <ng-template ngbNavContent>
            <ng-container *ngIf="leave_request.length > 0">
              <ng-container *ngFor="let item of leave_request">
                <div class="row py-3 border-bottom px-3 leave-box">
                  <div class="col-md-6">
                    <p class="mb-0 fs-6">
                      <span class="fw-bold text-primary-c me-2">From: {{item.FromDate | date}}</span>
                      <span class="fw-bold text-primary-c me-4">To: {{item.ToDate | date}}</span>
                      <span class="fw-bold text-primary-c">[{{item.UserName}}]</span>
                    </p>
                    <span>
                      <span class="fw-bold">Message:</span>
                      {{item.Message}}
                    </span>
                  </div>
                  <div class="col-md-2">
                    Timesheet approval Request
                    <p class="mb-0">
                      <span class="badge bg-primary">
                        Project: &nbsp;
                        <ng-container *ngIf="item.ProjectName == '' || item.ProjectName == null">
                          NA
                        </ng-container>
                        <ng-container *ngIf="item.ProjectName != ''">
                          {{item.ProjectName}}
                        </ng-container>
                      </span>
                    </p>
                    <p class="mb-0">
                      <span class="badge bg-success">
                        Manager &nbsp;
                        <ng-container *ngIf="item.AssigneeId == 0">
                          NA
                        </ng-container>
                        <ng-container *ngIf="item.AssigneeId != 0">
                          {{item.AssigneeId}}
                        </ng-container>
                      </span>
                    </p>
                  </div>
                  <div class="col-md-3">
                    {{item.UserName}}
                    <p class="mb-0">{{item.Email}}</p>
                    <p class="mb-0">{{item.Mobile}}</p>
                  </div>
                  <div class="col-md-1">
                    <ng-container [ngSwitch]="item.RequestStatusId">
                      <p *ngSwitchCase="2">Pending</p>
                      <p *ngSwitchCase="9">Approved</p>
                      <p *ngSwitchCase="5">Rejected</p>
                    </ng-container>
                  </div>
                  <div class="d-flex my-1">
                    <a *ngIf="item.RequestStatusId != 5" href="javascript:void(0)" (click)="openPopup('Rejected', item)"
                      class="text-danger fw-bold btn-sm"><i class="fa pe-1"
                        [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-ban': !isLoading}"></i> Reject</a>
                    <a *ngIf="item.RequestStatusId != 9" href="javascript:void(0)" (click)="openPopup('Approved', item)"
                      class="text-succes fw-bolds ms-2 btn-sm"><i class="fa pe-1"
                        [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-check': !isLoading}"></i> Approve</a>
                    <a href="javascript:void(0)" (click)="openPopup('Othermember', item)" class="text-primar fw-boldy-c ms-2 btn-sm"><i
                        class="fa pe-1" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-refresh': !isLoading}"></i>
                      Re-Assigne</a>
                  </div>
                </div>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="leave_request.length == 0">
              <div class="x_panel d-flex align-items-center justify-content-center">
                <h2 class=" text-dark">No Record Found...</h2>
              </div>
            </ng-container>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <a ngbNavLink>Project</a>
          <ng-template ngbNavContent>
            <div class="x_panel d-flex align-items-center justify-content-center">
              <h2 class=" text-dark">No Record Found...</h2>
            </div>
          </ng-template>
        </li>
      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>

    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="leaveModal" tabindex="-1"
  aria-labelledby="leaveModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header border-bottom-0 pt-4">
        <ng-container [ngSwitch]="requestState">
          <h5 *ngSwitchCase="'Rejected'" class="modal-title ps-4" id="leaveModalLabel">Rejection Request modal</h5>
          <h5 *ngSwitchCase="'Approved'" class="modal-title ps-4" id="leaveModalLabel">Approvval request modal
          </h5>
          <h5 *ngSwitchCase="'Othermember'" class="modal-title ps-4" id="leaveModalLabel">Assign to other member</h5>
        </ng-container>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body px-5">
        <div class="row bg-light py-3 border-bottom">
          <div class="col-md-6 fw-bold text-dark">Description</div>
          <div class="col-md-2 fw-bold text-dark">Type</div>
          <div class="col-md-3 fw-bold text-dark">Notifies</div>
          <div class="col-md-1 fw-bold text-dark">State</div>
        </div>
        <div class="row py-3">
          <div class="col-md-6">
            <p class="mb-0 fw-bold fs-6">
              Request by [{{currentRequest.UserName}}]
            </p>
            <!-- <input type="text" class="form-control" name="message" [(ngModel)]="editedMessage" value="{{singleLeave.Message}}"> -->
            <span>{{currentRequest.Message}}</span>
          </div>
          <div class="col-md-2">
            TimeSheet approval request
            <p class="mb-0"><span class="badge bg-primary">{{currentRequest.ProjectName}}</span></p>
          </div>
          <div class="col-md-3">
            {{currentRequest.UserName}}
            <p class="mb-0">{{currentRequest.Email}}</p>
            <p class="mb-0">{{currentRequest.Mobile}}</p>
          </div>
          <div class="col-md-1">
            <ng-container [ngSwitch]="currentRequest.RequestStatusId">
              <p *ngSwitchCase="2">Pending</p>
              <p *ngSwitchCase="9">Approvval</p>
              <p *ngSwitchCase="5">Rejected</p>
            </ng-container>
          </div>
        </div>
        <div class="col-md-6 mb-3" *ngIf="requestState == 'Othermember'">
          <label class="form-label">Reporting Manager</label>
          <app-iautocomplete [data]="managerList">
          </app-iautocomplete>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="submitRequest(requestState)">
          <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-user-circle-o': !isLoading}"></i>
          {{ isLoading ? 'Wait' : 'Submit' }}
        </button>
      </div>
    </div>
  </div>
</div>
