.footer-list li {
  padding: 12px 0px;
  color: #afb1b4 !important
}

.bg-black-light {
  background-color: #383B43 !important;
}

.footer-list li a:hover {
  color: #fff !important;
}

.footer-text-c {
  color: #afb1b4 !important
}
