<section>
  <footer>
    <div class="col-md-12 bg-dark">
      <div class="col-md-12 bg-black-light pb-4 pt-5">
        <div class="footer-dv container">
          <div class="col-md-3 mb-4">
            <img src="assets/images/logo.png" alt="logo" class="img-logo">
            <p class="text-white mb-2 mt-3">Emstum is a solution crafted by individuals who, like you, genuinely care about the people within the organization, for the people in your team.</p>
            <div class="text-white d-flex align-items-center mt-3">
              <a class="text-decoration-none text-white" href="javascript:void(0)"><i class="fa-brands fa-facebook-f pe-2"></i></a>
              <a class="text-decoration-none text-white" href="javascript:void(0)"><i class="fa-brands fa-instagram px-2"></i></a>
              <a class="text-decoration-none text-white" href="javascript:void(0)"><i class="fa-brands fa-youtube px-2"></i></a>
              <a class="text-decoration-none text-white" href="javascript:void(0)"><i class="fa-brands fa-x-twitter px-2"></i></a>
              <a class="text-decoration-none text-white" href="javascript:void(0)"><i class="fa-brands fa-linkedin-in px-2"></i></a>
            </div>
          </div>
          <hr>
          <div class="row mt-3">
            <div class="col-md-3">
              <ul class="list-unstyled footer-list">
                <li>
                  <span class="text-white fw-semibold">Core HR</span>
                </li>
                <li>
                  <a href="javascript:void(0)" class="text-decoration-none footer-text-c">HR Software</a>
                </li>
                <li>
                  <a href="javascript:void(0)" class="text-decoration-none footer-text-c">Employee Profiles</a>
                </li>
                <li>
                  <a href="javascript:void(0)" class="text-decoration-none footer-text-c">Document</a>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="list-unstyled footer-list">
                <li>
                  <span class="text-white fw-semibold">Payroll</span>
                </li>
                <li>
                  <a href="javascript:void(0)" class="text-decoration-none footer-text-c">Payroll Software</a>
                </li>
                <li>
                  <a href="javascript:void(0)" class="text-decoration-none footer-text-c">Expense Management</a>
                </li>
                <li>
                  <a href="javascript:void(0)" class="text-decoration-none footer-text-c">Employee Finance</a>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="list-unstyled footer-list">
                <li>
                  <span class="text-white fw-semibold">Timesheet & Attendance</span>
                </li>
                <li>
                  <a href="javascript:void(0)" class="text-decoration-none footer-text-c">Timesheet Management</a>
                </li>
                <li>
                  <a href="javascript:void(0)" class="text-decoration-none footer-text-c">Attendance Management</a>
                </li>
                <li>
                  <a href="javascript:void(0)" class="text-decoration-none footer-text-c">Leave Management</a>
                </li>
                <li>
                  <a href="javascript:void(0)" class="text-decoration-none footer-text-c">Shift Management</a>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="list-unstyled footer-list">
                <li>
                  <span class="text-white fw-semibold">Company</span>
                </li>
                <li>
                  <a href="javascript:void(0)" class="text-decoration-none footer-text-c">About us</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-3">
              <ul class="list-unstyled footer-list">
                <li>
                  <span class="text-white fw-semibold">Performance</span>
                </li>
                <li>
                  <a href="javascript:void(0)" class="text-decoration-none footer-text-c">Performance Management</a>
                </li>
                <li>
                  <a href="javascript:void(0)" class="text-decoration-none footer-text-c">360 degree reviews</a>
                </li>
                <li>
                  <a href="javascript:void(0)" class="text-decoration-none footer-text-c">One on One Meeting</a>
                </li>
                <li>
                  <a href="javascript:void(0)" class="text-decoration-none footer-text-c">Continuous Feedback</a>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="list-unstyled footer-list">
                <li>
                  <span class="text-white fw-semibold">Contact</span>
                </li>
                <li>
                  <div class="row">
                    <div class="col-auto">
                      Sales :
                    </div>
                    <div class="col-auto">
                      <p class="mb-0">+91 9100544384</p>
                      <p class="mb-0">info&#64;bottomhalf.in</p>
                    </div>
                  </div>
                </li>
                <li>
                  For Support:
                  <p class="mb-0">info&#64;bottomhalf.in</p>
                </li>
                <li>
                  For Marketing:
                  <p class="mb-0">info&#64;bottomhalf.in</p>
                </li>
                <li>
                  252/NET K.T ROAD RAIL PAR, Asansol 713302, West Bengal (India)
                </li>
              </ul>
            </div>
          </div>
          <hr>
          <div class="row mt-4">
            <div class="col-auto text-white">
              Location :
            </div>
            <div class="col-auto row align-items-center flex-wrap footer-text-c">
              <div class="col-auto">
                Asansol (West Bengal)
                <p class="mb-0">+91 9100544384</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row align-items-center justify-content-between py-4">
          <div class="col-auto footer-text-c">
            &#169; 2023 Bottomhalf Pvt. Ltd. All rights reserved
          </div>
          <div class="col-auto">
            <ul class="list-unstyled d-flex mb-0">
              <li><a href="javascript:void(0)" class="text-decoration-none footer-text-c pe-3">Terms of Services</a></li>
              <li><a href="javascript:void(0)" class="text-decoration-none footer-text-c px-3">Privacy Policy</a></li>
              <li><a href="javascript:void(0)" class="text-decoration-none footer-text-c ps-3">Security Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>
