<div class="col-md-12 col-sm-12 mt-5 main-container">
  <div class="panel">
    <div class="x_header">
      <h2>
        Company
      </h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <div class="align-items-center justify-content-center d-flex p-0">
        <div class="col-md-10 pt-4">
          <h3>Search, Follow and Connect with top recruiters in your domain</h3>
          <div class="col-md-11 d-flex pt-3">
            <div class="col-md-9">
              <div class="d-flex">
                <div class="col-md-11 border border-secondary d-flex p-0 m-0 ps-1 pt-1 pb-1">
                  <input type="text" placeholder="Skills, Designations, Companies"
                    class="form-control rounded-0 border-top-0 border-bottom-0 border-start-0 w-75">
                  <input type="text" placeholder="Location/Localoty"
                    class="form-control rounded-0 border-top-0 border-bottom-0 border-end-0 w-25">
                </div>
                <button class="btn btn-primary rounded-0">Search</button>
              </div>
              <h6 class="d-block pt-5">Browse Recruiters</h6>
              <div>
                <ul class="list-unstyled d-flex align-items-center justify-content-around pt-3">
                  <li><a href="javascript:void(0)" class="text-decoration-none">All Recruiters</a></li>
                  <li><a href="javascript:void(0)" class="text-decoration-none">Recruiters by Category</a></li>
                  <li><a href="javascript:void(0)" class="text-decoration-none">Recruiters by Location</a></li>
                  <li><a href="javascript:void(0)" class="text-decoration-none">Recruiters by Skills</a></li>
                  <li><a href="javascript:void(0)" class="text-decoration-none">Recruiters by Companies</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 card ms-4 ps-3">
              <ul class="list-unstyled recruiter-detail pt-3 pb-0">
                <li><i class="fa fa-users pe-2 pt-4 pb-2" aria-hidden="true"></i>2 Lakh+Recruiters</li>
                <li><i class="fa fa-building-o pe-2 pt-3 pb-2" aria-hidden="true"></i>40,000+ Companies & Consultants
                </li>
                <li><i class="fa fa-user-plus pe-2 pt-3 pb-1" aria-hidden="true"></i>70 lakh+ Followers</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center mt-3">
        <div class="x_panel mt-3 col-md-10 ">
          <h6>Browse Recruiters by Locations</h6>
        </div>
      </div>
    </div>
  </div>
