<div class="col-12 full-v main-container">
  <div>
    <form>
      <div class="x_panel mh-auto">
        <div class="x_header">
          <div class="x_header_title">
            <h2>
              Settings
              <small>Application wise setting page.</small>
              <i class="fa text-dark edit-icon ps-2"></i>
            </h2>
          </div>
        </div>
        <div class="px-1">
          <app-breadcrums></app-breadcrums>
        </div>

      </div>

      <div class="col-md-12 m-0 p-0 row">
        <div class="col-md-3 col-sm-12 ps-0">
          <div class="x_panel">
            <div class="x_header">
              <div class="x_header_title">
                <h4 class="text-primary-c">
                  Menu
                </h4>
              </div>
            </div>
            <div class="x_body">
              <ul class="list-group">
                <li class="list-group-item border-0 d-flex justify-content-between align-items-start">
                  <div class="d-flex flex-row w-100 justify-content-between">
                    <div class="ms-2 fe-4 me-auto py-4">
                      <div class="fw-bold">Company Settings</div>
                      Company settings, Legal
                      Entities, Locations and
                      Department settins
                    </div>
                    <div class="fe-1 d-flex flex-column justify-content-center text-end">
                      <a href=" javascript:void(0)">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>
                </li>
                <li class="list-group-item border-0 d-flex justify-content-between align-items-start">
                  <div class="d-flex flex-row w-100 justify-content-between">
                    <div class="ms-2 fe-4 me-auto py-4">
                      <div class="fw-bold">Payroll</div>
                      Payroll cycle, salary
                      components etc.
                    </div>
                    <div class="fe-1 d-flex flex-column justify-content-center text-end">
                      <a href=" javascript:void(0)">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>
                </li>
                <li class="list-group-item border-0 d-flex justify-content-between align-items-start">
                  <div class="d-flex flex-row w-100 justify-content-between">
                    <div class="ms-2 fe-4 me-auto py-4">
                      <div class="fw-bold">Leaves & Holidays</div>
                      Leave plans, types, initial
                      adjustments and notify.
                    </div>
                    <div>
                      <div class="fe-1 d-flex flex-column justify-content-center text-end">
                        <a href=" javascript:void(0)">
                          <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item border-0 d-flex justify-content-between align-items-start">
                  <div class="d-flex flex-row w-100 justify-content-between">
                    <div class="ms-2 fe-4 me-auto py-4">
                      <div class="fw-bold">Expenses</div>
                      Employee Expenses
                      Claims, Claim approves
                    </div>
                    <div class="fe-1 d-flex flex-column justify-content-center text-end">
                      <a href=" javascript:void(0)">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-sm-12 pe-0">
          <div class="x_panel">
            <div class="x_header">
              <div class="x_header_title">
                <h4 class="text-primary-c">
                  Content
                </h4>
              </div>
            </div>
            <div class="x_body">
              <ul class="list-group">
                <li class="list-group-item border-0 d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Subheading</div>
                    Content for list item
                  </div>
                  <span class="badge bg-primary rounded-pill">14</span>
                </li>
                <li class="list-group-item border-0 d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Subheading</div>
                    Content for list item
                  </div>
                  <span class="badge bg-primary rounded-pill">14</span>
                </li>
                <li class="list-group-item border-0 d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Subheading</div>
                    Content for list item
                  </div>
                  <span class="badge bg-primary rounded-pill">14</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
