<div class="col-12 full-v main-container">
  <div>
    <form>
      <div class="x_panel mh-auto">
        <div class="x_header">
          <div class="x_header_title">
            <h2>
              Settings
              <small>Application wise setting page.</small>
              <i class="fa text-dark edit-icon ps-2"></i>
            </h2>
          </div>
        </div>
        <div class="px-1">
          <app-breadcrums></app-breadcrums>
        </div>

      </div>

      <div class="col-md-12 m-0 p-0 row">
        <div class="col-md-3 col-sm-12 ps-0">
          <div class="x_panel">
            <div class="x_header">
              <div class="x_header_title">
                <h4 class="text-primary-c">
                  Menu
                </h4>
              </div>
            </div>
            <div class="x_body">
              <ul class="list-group">
                <li class="list-group-item border-0 d-flex justify-content-between align-items-start">
                  <div class="d-flex flex-row w-100 justify-content-between">
                    <div class="ms-2 me-auto py-4">
                      <div class="fw-bold fs-5">Company Settings</div>
                      Company settings, Legal
                      Entities, Locations and
                      Department settins
                    </div>
                    <div class="fe-1 d-flex flex-column justify-content-center text-end">
                      <a href=" javascript:void(0)">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>
                </li>
                <li class="list-group-item border-0 active d-flex justify-content-between align-items-start">
                  <div class="d-flex flex-row w-100 justify-content-between">
                    <div class="ms-2 me-auto py-4">
                      <div class="fw-bold fs-5">Payroll</div>
                      Payroll cycle, salary
                      components etc.
                    </div>
                    <div class="fe-1 d-flex flex-column justify-content-center text-end">
                      <a href=" javascript:void(0)">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>
                </li>
                <li class="list-group-item border-0 d-flex justify-content-between align-items-start">
                  <div class="d-flex flex-row w-100 justify-content-between">
                    <div class="ms-2 me-auto py-4">
                      <div class="fw-bold fs-5">Leaves & Holidays</div>
                      Leave plans, types, initial
                      adjustments and notify.
                    </div>
                    <div>
                      <div class="fe-1 d-flex flex-column justify-content-center text-end">
                        <a href=" javascript:void(0)">
                          <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item border-0 d-flex justify-content-between align-items-start">
                  <div class="d-flex flex-row w-100 justify-content-between">
                    <div class="ms-2 me-auto py-4">
                      <div class="fw-bold fs-5">Expenses</div>
                      Employee Expenses
                      Claims, Claim approves
                    </div>
                    <div class="fe-1 d-flex flex-column justify-content-center text-end">
                      <a href=" javascript:void(0)">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-sm-12 pe-0">
          <div class="x_panel">
            <div class="x_header">
              <div class="x_header_title">
                <h4 class="text-primary-c">
                  Content
                </h4>
              </div>
            </div>
            <div class="x_body">
              <div class="col-md-12">
                <h3 class="text-primary-c">
                  Setup Payroll
                </h3>
                <p>Payroll is going to take a little more patience,
                  as we collect all of the information.
                </p>
              </div>
              <div class="col-md-12 mt-4">
                <div class="row m-0">
                  <div class="col-md-2 col-md-2 d-flex flex-column justify-content-center">
                    <div class="d-flex flex-row justify-content-center">
                      <div>
                        <div class="fs-5 circle-dv d-flex flex-column justify-content-center text-center">
                          1
                        </div>
                        <p class="text-primary-c m-0">Completed</p>
                      </div>
                    </div>
                  </div>
                  <div class=" col-md-10 h-bg py-3">
                    <div class="d-flex flex-row w-100 justify-content-between">
                      <div class="ms-2 fe-4 me-auto py-4">
                        <a href="javascript:void(0)" class="text-decoration-none" (click)="redirectTo(CompanyInfoPage)">
                          <div class="fw-bold text-primary-dc fs-5">
                            COMPANY INFORMATION
                          </div>
                        </a>
                        Company legal entity, authorized signatories and
                        bank account information.
                      </div>
                      <div class="fe-1 d-flex flex-column justify-content-center text-end">
                        <a href=" javascript:void(0)">
                          <i class="fa fa-pencil text-primary-dc" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row m-0">
                  <div class="col-md-2 col-md-2 d-flex flex-column justify-content-center">
                    <div class="d-flex flex-row justify-content-center">
                      <div>
                        <div class="fs-5 circle-dv d-flex flex-column justify-content-center text-center">
                          2
                        </div>
                        <p class="text-primary-c m-0">Completed</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-10 h-bg py-3">
                    <div class="d-flex flex-row w-100 justify-content-between">
                      <div class="ms-2 fe-4 me-auto py-4">
                        <a href="javascript:void(0)" class="text-decoration-none">
                          <div class="fw-bold fs-5 text-primary-dc">
                            GENERAL PAYROLL SETTINGS
                          </div>
                        </a>
                        Payroll cycle and payroll period settings.
                      </div>
                      <div class="fe-1 d-flex flex-column justify-content-center text-end">
                        <a href=" javascript:void(0)">
                          <i class="fa fa-pencil text-primary-dc" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row m-0">
                  <div class="col-md-2 col-md-2 d-flex flex-column justify-content-center">
                    <div class="d-flex flex-row justify-content-center">
                      <div>
                        <div class="fs-5 circle-dv d-flex flex-column justify-content-center text-center">
                          3
                        </div>
                        <p class="text-primary-c m-0">Completed</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-10 h-bg py-3">
                    <div class="d-flex flex-row w-100 justify-content-between">
                      <div class="ms-2 fe-4 me-auto py-4">
                        <a href="javascript:void(0)" (click)="redirectTo(PfNEsiPage)" class="text-decoration-none">
                          <div class="fw-bold fs-5 text-primary-dc">
                            PF & ESI SETTINGS
                          </div>
                        </a>
                        Employee Provident Fund and ESI settings.
                      </div>
                      <div class="fe-1 d-flex flex-column justify-content-center text-end">
                        <a href=" javascript:void(0)">
                          <i class="fa fa-pencil text-primary-dc" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row m-0">
                  <div class="col-md-2 col-md-2 d-flex flex-column justify-content-center">
                    <div class="d-flex flex-row justify-content-center">
                      <div>
                        <div class="fs-5 circle-dv d-flex flex-column justify-content-center text-center">
                          4
                        </div>
                        <p class="text-primary-c m-0">Completed</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-10 h-bg py-3">
                    <div class="d-flex flex-row w-100 justify-content-between">
                      <div class="ms-2 fe-4 me-auto py-4">
                        <a href="javascript:void(0)" class="text-decoration-none">
                          <div class="fw-bold fs-5 text-primary-dc">
                            SALARY COMPONENTS & STRUCTURES
                          </div>
                        </a>
                        Setup salary components & salary structures for employees.
                      </div>
                      <div class="fe-1 d-flex flex-column justify-content-center text-end">
                        <a href=" javascript:void(0)">
                          <i class="fa fa-pencil text-primary-dc" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row m-0">
                  <div class="col-md-2 col-md-2 d-flex flex-column justify-content-center">
                    <div class="d-flex flex-row justify-content-center">
                      <div>
                        <div class="fs-5 circle-dv d-flex flex-column justify-content-center text-center">
                          5
                        </div>
                        <p class="text-primary-c m-0">Completed</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-10 h-bg py-3">
                    <div class="d-flex flex-row w-100 justify-content-between">
                      <div class="ms-2 fe-4 me-auto py-4">
                        <a href="javascript:void(0)" class="text-decoration-none">
                          <div class="fw-bold fs-5 text-primary-dc">
                            CUSTOM SALARY STRUCTURES
                          </div>
                        </a>
                        Setup Custom salary structures for individual employee
                        or group employees.
                      </div>
                      <div class="fe-1 d-flex flex-column justify-content-center text-end">
                        <a href=" javascript:void(0)">
                          <i class="fa fa-pencil text-primary-dc" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
