.circle-dv {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: #337ab7;
  color: whitesmoke;
}

a.active {
  background-color: #337ab7!important;
  color: #eee!important;

  i {
    color: white !important;
  }
}

.h-bg {
  background: floralwhite;
}
