<div class="col-12 full-v main-container">
  <div>
    <form>
      <div class="x_panel mh-auto">
        <div class="x_header">
          <div class="x_header_title">
            <h2>
              Settings
              <small>Application wise setting page.</small>
              <i class="fa text-dark edit-icon ps-2"></i>
            </h2>
          </div>
        </div>
        <div class="px-1">
          <app-breadcrums></app-breadcrums>
        </div>

        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs mt-4 mb-3">
          <li [ngbNavItem]="1">
            <a ngbNavLink>COMPANY GROUPS</a>
            <ng-template ngbNavContent>
              <div class="col-md-12 m-0 p-0 row">
                <div class="col-md-3 col-sm-12 ps-0 ">
                  <div class="x_panel p-0">
                    <div class="x_header p-3">
                      <div class="x_header_title d-flex flex-row justify-content-between">
                        <h5 class="text-primary-c m-0">
                          COMPANY
                        </h5>
                        <a href="javascript:void(0)" class="text-decoration-none text-primary-c fw-bold"
                          (click)="openModalToAddNewCompany()">
                          <u class="mt-2">
                            <i class="fa fa-plus pe-2"></i>
                            Add
                          </u>
                        </a>
                      </div>
                    </div>
                    <div class="x_body">
                      <ul class="list-group side-group">
                        <ng-container *ngIf="Companys.length === 0">
                          <li>
                            <div class="text-center mt-5 px-4">
                              <h5>
                                No Company available under current Organization.
                              </h5>
                              <p>User below button or above add button to add one.</p>
                              <button class="btn btn-success mt-4" (click)="openModalToAddNewCompany()">
                                <i class="fa fa-plus pe-2"></i> ADD COMPANY
                              </button>
                            </div>
                          </li>
                        </ng-container>
                        <ng-container *ngIf="Companys.length > 0">
                          <ng-container *ngFor="let item of Companys; let i =index">
                            <li
                              class="list-group-item border-0 p-0 my-2 d-flex justify-content-between align-items-start">
                              <a href="javascript:void(0)" (click)="changeTab(i, item)"
                                (dblclick)="editCompanyDetail(item)" [ngClass]="{'active-tab': i == 0}"
                                class="d-block w-100 px-3 text-decoration-none text-dark">
                                <div class="d-flex flex-row w-100 justify-content-between">
                                  <div class="ms-2 col-md-8 me-auto py-4">
                                    <div class="fw-bold fs-6">{{item.CompanyName}}</div>
                                    <ng-container *ngIf="item.FullAddress == null">
                                      <div class="row">
                                        <div class="col-md-2">Addr.:</div>
                                        <div class="col-md-10 ps-3">NA</div>
                                      </div>
                                    </ng-container>
                                    <ng-container *ngIf="item.FullAddress != null">
                                      <div class="row">
                                        <div class="col-md-2">Addr.:</div>
                                        <div class="col-md-10 ps-3">{{item.FullAddress | slice: 0:43}}...</div>
                                      </div>
                                    </ng-container>
                                  </div>
                                  <div class="col-md-3 d-flex flex-column justify-content-center">
                                    <p class="mb-0">0</p>
                                    <p class="mb-0">Employees</p>
                                  </div>
                                </div>
                              </a>
                            </li>
                          </ng-container>
                        </ng-container>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-9 col-sm-12 pe-0" [ngClass]="{'preload': !isPageReady}">
                  <ng-container>
                    <div class="x_panel">
                      <div class="x_header">
                        <div class="x_header_title">
                          <ul ngbNav #nav="ngbNav" [ngClass]="{'disabled-li': Companys.length == 0}"
                            [(activeId)]="groupActiveId" class="nav-tabs">
                            <li [ngbNavItem]="1">
                              <a ngbNavLink href="javascript:void(0)" (click)="changeMdneu('PR')">
                                Payroll <i class="fa fa-inr px-2" aria-hidden="true"></i>
                              </a>
                              <ng-template ngbNavContent>
                                <ng-container *ngIf="Companys.length > 0">
                                  <div class="w-100" *ngIf="menuItem.PR">
                                    <div class="x_body">
                                      <div class="col-md-12">
                                        <h3 class="text-primary-c">
                                          Setup Payroll
                                        </h3>
                                        <p>Payroll is going to take a little more patience,
                                          as we collect all of the information.
                                        </p>
                                      </div>
                                      <div class="col-md-12 mt-4">
                                        <div class="row m-0 skeleton">
                                          <div
                                            class="col-md-2 vhide col-md-2 d-flex flex-column justify-content-center">
                                            <div class="d-flex flex-row justify-content-center">
                                              <div>
                                                <div
                                                  class="fs-5 circle-dv d-flex flex-column justify-content-center text-center">
                                                  1
                                                </div>
                                                <p class="text-primary-c m-0">Completed</p>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="vhide col-md-10 h-bg py-3">
                                            <div class="d-flex flex-row w-100 justify-content-between">
                                              <div class="ms-2 fe-4 me-auto py-4">
                                                <a href="javascript:void(0)" class="text-decoration-none"
                                                  (click)="redirectTo(CompanyInfoPage)">
                                                  <div class="fw-bold text-primary-dc fs-5">
                                                    COMPANY INFORMATION
                                                  </div>
                                                </a>
                                                Company legal entity, authorized signatories and
                                                bank account information.
                                              </div>
                                              <div class="fe-1 d-flex flex-column justify-content-center text-end">
                                                <a href=" javascript:void(0)">
                                                  <i class="fa fa-pencil text-primary-dc" aria-hidden="true"></i>
                                                </a>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="row m-0 skeleton">
                                          <div
                                            class="col-md-2 vhide col-md-2 d-flex flex-column justify-content-center">
                                            <div class="d-flex flex-row justify-content-center">
                                              <div>
                                                <div
                                                  class="fs-5 circle-dv d-flex flex-column justify-content-center text-center">
                                                  2
                                                </div>
                                                <p class="text-primary-c m-0">Completed</p>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-10 h-bg py-3 vhide">
                                            <div class="d-flex flex-row w-100 justify-content-between">
                                              <div class="ms-2 fe-4 me-auto py-4">
                                                <a href="javascript:void(0)" (click)="redirectTo(PayRollPage)"
                                                  class="text-decoration-none">
                                                  <div class="fw-bold fs-5 text-primary-dc">
                                                    GENERAL PAYROLL SETTINGS
                                                  </div>
                                                </a>
                                                Payroll cycle and payroll period settings.
                                              </div>
                                              <div class="fe-1 d-flex flex-column justify-content-center text-end">
                                                <a href=" javascript:void(0)">
                                                  <i class="fa fa-pencil text-primary-dc" aria-hidden="true"></i>
                                                </a>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="row m-0 skeleton">
                                          <div
                                            class="col-md-2 vhide col-md-2 d-flex flex-column justify-content-center">
                                            <div class="d-flex flex-row justify-content-center">
                                              <div>
                                                <div
                                                  class="fs-5 circle-dv d-flex flex-column justify-content-center text-center">
                                                  3
                                                </div>
                                                <p class="text-primary-c m-0">Completed</p>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-10 vhide h-bg py-3">
                                            <div class="d-flex flex-row w-100 justify-content-between">
                                              <div class="ms-2 fe-4 me-auto py-4">
                                                <a href="javascript:void(0)" (click)="redirectTo(PfNEsiPage)"
                                                  class="text-decoration-none">
                                                  <div class="fw-bold fs-5 text-primary-dc">
                                                    PF & ESI SETTINGS
                                                  </div>
                                                </a>
                                                Employee Provident Fund and ESI settings.
                                              </div>
                                              <div class="fe-1 d-flex flex-column justify-content-center text-end">
                                                <a href=" javascript:void(0)">
                                                  <i class="fa fa-pencil text-primary-dc" aria-hidden="true"></i>
                                                </a>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="row m-0 skeleton">
                                          <div
                                            class="col-md-2 vhide col-md-2 d-flex flex-column justify-content-center">
                                            <div class="d-flex flex-row justify-content-center">
                                              <div>
                                                <div
                                                  class="fs-5 circle-dv d-flex flex-column justify-content-center text-center">
                                                  4
                                                </div>
                                                <p class="text-primary-c m-0">Completed</p>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-10 vhide h-bg py-3">
                                            <div class="d-flex flex-row w-100 justify-content-between">
                                              <div class="ms-2 fe-4 me-auto py-4">
                                                <a href="javascript:void(0)" class="text-decoration-none"
                                                  (click)="redirectTo(SalaryStructure)">
                                                  <div class="fw-bold fs-5 text-primary-dc">
                                                    SALARY COMPONENTS & STRUCTURES
                                                  </div>
                                                </a>
                                                Setup salary components & salary structures for employees.
                                              </div>
                                              <div class="fe-1 d-flex flex-column justify-content-center text-end">
                                                <a href=" javascript:void(0)">
                                                  <i class="fa fa-pencil text-primary-dc" aria-hidden="true"></i>
                                                </a>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="row m-0 skeleton">
                                          <div
                                            class="col-md-2 vhide col-md-2 d-flex flex-column justify-content-center">
                                            <div class="d-flex flex-row justify-content-center">
                                              <div>
                                                <div
                                                  class="fs-5 circle-dv d-flex flex-column justify-content-center text-center">
                                                  5
                                                </div>
                                                <p class="text-primary-c m-0">Completed</p>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-10 vhide h-bg py-3">
                                            <div class="d-flex flex-row w-100 justify-content-between">
                                              <div class="ms-2 fe-4 me-auto py-4">
                                                <a href="javascript:void(0)" class="text-decoration-none"
                                                  (click)="redirectTo(CustomSalary)">
                                                  <div class="fw-bold fs-5 text-primary-dc">
                                                    CUSTOM SALARY STRUCTURES
                                                  </div>
                                                </a>
                                                Setup Custom salary structures for individual employee
                                                or group employees.
                                              </div>
                                              <div class="fe-1 d-flex flex-column justify-content-center text-end">
                                                <a href=" javascript:void(0)">
                                                  <i class="fa fa-pencil text-primary-dc" aria-hidden="true"></i>
                                                </a>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                  </div>
                                </ng-container>
                                <ng-container *ngIf="Companys.length == 0">
                                  <div
                                    class="col-md-12 x_panel border-0 d-flex flex-column justify-content-center text-center">
                                    <h4>Please add salary group first.</h4>
                                  </div>
                                </ng-container>

                              </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                              <a ngbNavLink href="javascript:void(0)" (click)="changeMdneu('CS')">Company Settings <i
                                  class="fa fa-cog px-2"></i></a>
                              <ng-template ngbNavContent>
                                <div *ngIf="menuItem.CS">
                                  <div class="x_body">
                                    <div class="col-md-12">
                                      <h3 class="text-primary-c">
                                        Compnay Setting
                                      </h3>
                                      <p>Payroll is going to take a little more patience,
                                        as we collect all of the information.
                                      </p>
                                    </div>
                                    <div class="col-md-12 mt-4">
                                      <div class="row m-0">
                                        <div class="col-md-2 col-md-2 d-flex flex-column justify-content-center">
                                          <div class="d-flex flex-row justify-content-center">
                                            <div>
                                              <div
                                                class="fs-5 circle-dv d-flex flex-column justify-content-center text-center">
                                                1
                                              </div>
                                              <p class="text-primary-c m-0">Completed</p>
                                            </div>
                                          </div>
                                        </div>
                                        <div class=" col-md-10 h-bg py-3">
                                          <div class="d-flex flex-row w-100 justify-content-between">
                                            <div class="ms-2 fe-4 me-auto py-4">
                                              <a href="javascript:void(0)" class="text-decoration-none"
                                                (click)="redirectTo(ManageCompanyDetail)">
                                                <div class="fw-bold text-primary-dc fs-5">
                                                  MODIFY COMPANY DETAIL
                                                </div>
                                              </a>
                                              Company legal entity, authorized signatories and
                                              bank account information.
                                            </div>
                                            <div class="fe-1 d-flex flex-column justify-content-center text-end">
                                              <a href=" javascript:void(0)">
                                                <i class="fa fa-pencil text-primary-dc" aria-hidden="true"></i>
                                              </a>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row m-0">
                                        <div class="col-md-2 col-md-2 d-flex flex-column justify-content-center">
                                          <div class="d-flex flex-row justify-content-center">
                                            <div>
                                              <div
                                                class="fs-5 circle-dv d-flex flex-column justify-content-center text-center">
                                                2
                                              </div>
                                              <p class="text-primary-c m-0">Completed</p>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-md-10 h-bg py-3">
                                          <div class="d-flex flex-row w-100 justify-content-between">
                                            <div class="ms-2 fe-4 me-auto py-4">
                                              <a href="javascript:void(0)" (click)="redirectTo(ManageCompanyAccounts)"
                                                class="text-decoration-none">
                                                <div class="fw-bold fs-5 text-primary-dc">
                                                  MANAGE COMPANY ACCOUNT DETAIL
                                                </div>
                                              </a>
                                              Payroll cycle and payroll period settings.
                                            </div>
                                            <div class="fe-1 d-flex flex-column justify-content-center text-end">
                                              <a href=" javascript:void(0)">
                                                <i class="fa fa-pencil text-primary-dc" aria-hidden="true"></i>
                                              </a>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </ng-template>
                            </li>
                            <li [ngbNavItem]="3">
                              <a ngbNavLink href="javascript:void(0)" (click)="changeMdneu('LAH')">Leaves & Holidays <i
                                  class="fa fa-calendar-times-o px-2"></i></a>
                              <ng-template ngbNavContent>
                                <div *ngIf="menuItem.LAH">
                                  <div class="x_body">
                                    <div class="col-md-12">
                                      <h3 class="text-primary-c">
                                        Leaves and Holidays
                                      </h3>
                                      <p>Payroll is going to take a little more patience,
                                        as we collect all of the information.
                                      </p>
                                    </div>
                                    <div class="col-md-12 mt-4">
                                    </div>
                                  </div>
                                </div>
                              </ng-template>
                            </li>

                            <li [ngbNavItem]="4">
                              <a ngbNavLink href="javascript:void(0)" (click)="changeMdneu('EX')">Expenses <i
                                  class="fa fa-money px-2"></i></a>
                              <ng-template ngbNavContent>
                                <div *ngIf="menuItem.EX">
                                  <div class="x_body">
                                    <div class="col-md-12">
                                      <h3 class="text-primary-c">
                                        Company Expenses
                                      </h3>
                                      <p>Payroll is going to take a little more patience,
                                        as we collect all of the information.
                                      </p>
                                    </div>
                                    <div class="col-md-12 mt-4">
                                    </div>
                                  </div>
                                </div>
                              </ng-template>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div>
                        <div [ngbNavOutlet]="nav" class="col-12 p-0 mt-2"></div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2" (click)="redirectTo(PayrollComponent)">
            <a ngbNavLink>COMPONENTS</a>
            <ng-template ngbNavContent>
              <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
                farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip
                jean shorts
                ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.
                Keytar
                helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes
                anderson
                8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party
                scenester
                stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink>LEAVE ENCASHMENT</a>
            <ng-template ngbNavContent>
              <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla
                facilisi.
                Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue
                et odio.
                Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed
                diam urna,
                egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl
                enim, nec
                tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque
                penatibus et
                magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies
                in eget
                neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
            </ng-template>
          </li>

          <div [ngbNavOutlet]="nav" class="col-12 mt-2"></div>
        </ul>
      </div>
    </form>

    <!--Add New Component Modal -->
    <div class="modal fade" id="NewCompanyModal" tabindex="-1" aria-labelledby="NewCompanyModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content px-4">
          <div class="modal-header border-bottom-0">
            <h5 class="modal-title" id="NewCompanyModalLabel">ADD NEW COMPANY GROUP</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="companyGroupForm">
              <div class="row col-md-12">
                <div class="col-md-6 mt-3">
                  <label for="" class="form-label">ORGANIZATION NAME</label>
                  <input
                    [ngClass]="{'error-field': submitted && f.OrganizationName.errors !== null && f.OrganizationName.errors.required}"
                    formControlName="OrganizationName" transform="upper" type="text" placeholder="Organization Name"
                    class="form-control">
                </div>
                <div class="col-md-6 mt-3">
                  <label for="" class="form-label">COMPANY NAME</label>
                  <input
                    [ngClass]="{'error-field': submitted && f.CompanyName.errors !== null && f.CompanyName.errors.required}"
                    formControlName="CompanyName" transform="upper" type="text" placeholder="Company Name"
                    class="form-control">
                </div>
              </div>
              <div class="row col-md-12">
                <div class="col-md-12 mt-3">
                  <label for="" class="form-label">ABOUT COMPANY</label>
                  <textarea
                    [ngClass]="{'error-field': submitted && f.CompanyDetail.errors !== null && f.CompanyDetail.errors.required}"
                    formControlName="CompanyDetail" type="text" placeholder="Company Description"
                    class="form-control"></textarea>
                </div>
              </div>
              <div class="row col-md-12">
                <div class="col-md-6 mt-2">
                  <label for="" class="form-label">COMPANY EMAIL</label>
                  <input
                    [ngClass]="{'error-field': submitted && f.Email.errors !== null && f.CompanyName.errors.required}"
                    formControlName="Email" transform="upper" type="Email" placeholder="Company Email"
                    class="form-control">
                </div>
                <div class="col-md-6 mt-2">
                  <label for="" class="form-label">DATE OF INCORPORATION</label>
                  <form class="row row-cols-sm-auto">
                    <div class="col-md-12">
                      <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" (dateSelect)="onDateSelection($event)"
                          name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i
                            class="fa fa-calendar"></i></button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer border-top-0">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <ng-container *ngIf="currentCompnay.CompanyId != null && currentCompnay.CompanyId > 0">
              <button type="button" class="btn btn-primary-c" (click)="updateCompany()">
                <i class="fa pe-2" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-plus': !isLoading}"></i>
                {{ isLoading ? 'Wait' : 'Update Company Group' }}
              </button>
            </ng-container>
            <ng-container *ngIf="currentCompnay.CompanyId == null || currentCompnay.CompanyId <= 0">
              <button type="button" class="btn btn-primary-c" (click)="addNewCompany()">
                <i class="fa pe-2" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-plus': !isLoading}"></i>
                {{ isLoading ? 'Wait' : 'Create Company Group' }}
              </button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <!-- End -->

  </div>
</div>
