<div class="col-md-12 col-sm-12 main-container">
    <div class="x_panel">
      <ng-container>
        <div class="x_header">
          <h2>Manage Menu Detail</h2>
          <div class="clearfix"></div>
        </div>
        <div>
          <div class="d-flex align-items-center justify-content-center">
            <img src="assets/images/uc.jpg" alt="under_construction" class="construction-img">
          </div>
        <p class="fw-bold fs-4 text-dark text-center">
            Menu page is under construction.
        </p>

        <p class="fw-bold fs-4 text-dark text-center">
            Coming Soon...
        </p>
        </div>
      </ng-container>
    </div>
</div>
