<div class="col-12 full-v main-container">
  <div class="col-md-12 bg-light mb-3 d-flex align-items-center">
    <ul class="nav col-md-9">
      <li class="nav-item">
        <a class="nav-link text-dark" id="attendance-tab" (click)="activateMe('declaration-tab')" aria-current="page"
          href="javascript:void(0)">DECLARATION</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark nav-active" id="timesheet-tab" (click)="activateMe('salary-tab')"
          href="javascript:void(0)">SALARY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" id="leave-tab" (click)="activateMe('summary-tab')"
          href="javascript:void(0)">SUMMARY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" id="leave-tab" (click)="activateMe('preference-tab')"
          href="javascript:void(0)">Preference</a>
      </li>
    </ul>
    <div class="col-md-3 pe-2 my-3" *ngIf="isSalaryReady">
      <app-iautocomplete [data]="employeesList" (OnSelect)="getSalaryBreakup($event)" [(ngModel)]="EmployeeId" [ngModelOptions]="{standalone: true}"></app-iautocomplete>
    </div>
  </div>
  <div class="col-12 x_panel p-0 m-0">
    <div class="px-1">
      <app-breadcrums></app-breadcrums>
    </div>
    <div [ngClass]="{'blur-section': !SectionIsReady}">
      <div class="blur-section__highlight" [ngClass]="{'d-none': SectionIsReady}">
        <div class="blur-section__content">
          {{isEmployeeSelect? 'Please wait......': 'Please select Employee first'}}
        </div>
      </div>
      <div class="blur-this">
        <div class="right-panel col-md-12 p-0">
          <ng-container>
            <div class="container-fluid pt-4">
              <div class="col-md-12 bg-light mb-3 mt-3">
                <ul class="nav">
                  <li class="nav-item">
                    <a class="nav-link new-nav-link text-dark new-nav-active" id="attendance-tab"
                      (click)="activeTab('MySalary')" aria-current="page" href="javascript:void(0)">My Salary</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" id="timesheet-tab" (click)="activeTab('PaySlips')"
                      href="javascript:void(0)">Pay Slips</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" id="leave-tab" (click)="activeTab('IncomeTax')"
                      href="javascript:void(0)">Income Tax</a>
                  </li>
                </ul>
              </div>
              <ng-container>
                <div class="mt-4 alert alert-info fs-6" role="alert">
                  Your Income and tax liability computed as per Old income taax regiime. To learn more, and switch to New
                  income tax regime, <a href="javascript:void(0)" (click)="newIncomeTaxRegimePopUp()"
                    class="text-decoration-none">click here.</a>
                </div>
                <div class="d-flex mt-5 ms-5 mb-3">
                  <div class="col-md-2">
                    <div class="bg-info text-light rounded-circle current-circle col-md-5">
                      <span class="fw-bold">CURRENT</span>
                    </div>
                  </div>
                  <div class="col-md-8 ms-4">
                    <div class="bg-secondary text-light d-flex align-items-center py-3">
                      <div class="pe-2 ps-4">
                        <small>ANNUAL</small>
                        <p class="fw-bold mb-0">INR {{myAnnualSalary.Annual}}</p>
                      </div>
                      <span class="fs-5 px-3">+</span>
                      <div class="px-2">
                        <small>BONUS</small>
                        <p class="fw-bold mb-0">INR {{myAnnualSalary.Bonus}}</p>
                      </div>
                      <span class="fs-5 px-3">+</span>
                      <div class="px-2">
                        <small>Other</small>
                        <p class="fw-bold mb-0">INR {{myAnnualSalary.Other}}</p>
                      </div>
                      <span class="fs-5 px-3">=</span>
                      <div class="px-2">
                        <small>Total</small>
                        <p class="fw-bold mb-0">INR {{myAnnualSalary.Total}}</p>
                      </div>
                      <div class="ms-auto me-3">
                        <a href="javascript:void(0)">
                          <i class="fa fa-refresh text-light" aria-hidden="true" (click)="salaryStructureHistory()"></i>
                        </a>
                        <button type="btn" class="btn btn-outline-light btn-sm ms-3" (click)="viewSalary()">
                          <i class="fa" [ngClass]="{'fa-angle-down': isSalaryDetail, 'fa-angle-up': !isSalaryDetail}"
                            aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                    <ng-container *ngIf="!isSalaryDetail">
                      <div class="border border-secondary">
                        <div class="card-header py-2 d-flex text-dark align-items-center">
                          <p class="mb-0">
                            REGULAR SALARY:<span class="fw-bold tex-dark"> INR {{myAnnualSalary.Total | number: '1.2-2'}} </span><span
                              class="ps-3"><a href="javascript:void(0)" class="text-decoration-none"
                                (click)="salaryBreakupPopup()">SALARY BREAKUP</a></span>
                          </p>
                        </div>
                        <div class="row ps-3 mt-1">
                          <div class="col-md-4">
                            <small class="fw-bold">SALARY / MONTH</small>
                            <p class="text-dark pt-2">INR{{myAnnualSalary.SalaryMonth}} </p>
                          </div>
                          <div class="col-md-4">
                            <small class="fw-bold">EFFECTIVE</small>
                            <p class="pt-2">{{myAnnualSalary.Effective | date}}</p>
                          </div>
                        </div>
                        <div class="card-header py-2 d-flex text-dark align-items-center">
                          <p class="mb-0">
                            BONUS:<span class="fw-bold tex-dark"> INR {{myAnnualSalary.Bonus}} </span>
                          </p>
                        </div>
                        <div class="text-center py-2">
                          <ng-container *ngIf="myAnnualSalary.Bonus == 0">No bonus added</ng-container>
                        </div>
                        <div class="card-header py-2 d-flex text-dark align-items-center">
                          <p class="mb-0">
                            OTHER:<span class="fw-bold tex-dark"> INR {{myAnnualSalary.Other}} </span>
                          </p>
                        </div>
                        <div class=" ps-3 mt-1">
                          <small class="fw-bold">PF - EMPLOYER / MONTH</small>
                          <p class="pt-2">INR {{myAnnualSalary.PFperMonth}}</p>
                        </div>
                        <div class="card-header py-2 d-flex text-dark align-items-center">
                          <p class="mb-0">
                            PERKS:<span class="fw-bold tex-dark"> INR {{myAnnualSalary.Perks}} </span>
                          </p>
                        </div>
                        <div class="text-center py-2">
                          <ng-container *ngIf="myAnnualSalary.Perks == 0">No perks are assigned</ng-container>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Full Salary Deatils -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="fullSalaryDetail" tabindex="-1"
  aria-labelledby="fullSalaryDetailLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title fs-4 text-dark" id="fullSalaryDetailLabel">SALARY BREAKUP</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body px-5">
        <form>
          <ng-container [formGroup]="salaryBreakupForm" *ngIf="salaryBreakupForm">
            <div class="pull-down">
              <div class="blur-this">
                <div class="col-md-12">
                  <div class="t-table t-list t-border col-md-12">
                    <div class="hide-bar alert-primary"></div>
                    <div class="t-head alert-primary">
                      <div class="tr fw-bold text-dark">
                        <div class="th fe-4">
                          <div class="cell-wrappe ps-2">
                            DETAILS
                          </div>
                        </div>
                        <div class="th fe-2">
                          MONTHLY
                        </div>
                        <div class="th fe-2">
                          ANNUALLY
                        </div>
                      </div>
                    </div>
                    <div class="t-body" *ngIf="isReady">
                      <ng-container formArrayName="Components">
                        <div class="tr"
                          *ngFor="let item of salaryBreakupForm.get('Components').controls; let index = index;">
                          <ng-container [formGroupName]="index">
                            <div class="td d-flex flex-column justify-content-center fe-4 ps-2 py-2"
                              [ngClass]="{'fw-bold': item.get('IsHighlight').value}">
                              {{item.get('ComponentName').value}}
                            </div>
                            <div class="td align-middle fe-2">
                              <div class="cell-wrapper mx-2 py-2" [ngClass]="{'fw-bold': item.get('IsHighlight').value}">
                                {{item.get('MonthlyAmount').value | number:'1.2-2'}}
                              </div>
                            </div>
                            <div class="td align-middle fe-2">
                              <div class="cell-wrapper mx-2 py-2" [ngClass]="{'fw-bold': item.get('IsHighlight').value}">
                                {{item.get('FinalAmount').value | number:'1.2-2'}}
                              </div>
                            </div>
                          </ng-container>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </form>
        <p class="fs-6 my-2 text-success fw-bold">Note: Net Pay displayed does not include Income Tax, Professional
          Tax or Other deductions (if
          any).</p>
      <div class="modal-footer border-top-0 pe-5">
        <button type="button" class="btn btn-outline-success px-4" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>

<!-- New Income Tax regime Modal Start-->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="newIncomeTaxRegime" tabindex="-1"
  aria-labelledby="newIncomeTaxRegimeLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content mx-3">
      <div class="sticky-modal-header">
        <div class="modal-header bg-secondary text-white">
          <h5 class="modal-title" id="newIncomeTaxRegimeLabel">Switch to Section 115BAC</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="card py-3 ps-3 shadow-lg">
          Here you can read the details of new tax regime (section 115BAC) and then decide if you would like to switch
          to the new regime.
        </div>
      </div>
      <div class="modal-body">
        <p class="alert mb-0 alert-info">Section 115BAC is optional Indiviiduals will have the options to pay taxes as
          per new tax sales from FY {{currentYear - 2}} - {{currentYear -1}} onwards.</p>
        <div class="btn-group py-3" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
          <label class="btn btn-outline-primary" for="btnradio1">Switch to New Tax Regime (Section 115BAC)</label>

          <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off"
            (click)="continueCurrentTaxRegime()">
          <label class="btn btn-outline-primary ms-3" for="btnradio2">Continue with Current Tax Regime</label>
        </div>
        <p class="mb-0 fs-5 text-dark">Income Tax Slabs for Individuals of any age group under new tax regime -
          Applicable to FY {{currentYear -2}} - {{currentYear -1}} (AY {{currentYear -2}} - {{currentYear -1}})</p>
        <p class="mb-0 py-2">As proposed in the union budget 2020, In the Income tax Act, the following section shall be
          interested with effect from 1st day of April 2020.</p>
        <div class="t-table t-list t-border col-md-12 mt-4">
          <div class="t-head alert-primary overflow-hidden">
            <div class="tr bg-light fw-bold text-dark">
              <div class="th">
                <div class="cell-wrapper">
                  INCOME TAX SLAB
                </div>
              </div>
              <div class="th">
                TAX RATE
              </div>
            </div>
          </div>
          <div class="t-head overflow-hidden">
            <div class="tr py-3" *ngFor="let slab of incomeTaxSlab">
              <div class="td">
                <div class="cell-wrapper">
                  {{slab.taxSlab}}
                </div>
              </div>
              <div class="td">
                <div class="cell-wrapper">
                  {{slab.rate}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <ul>
          <li class="text-dark py-2">The tax calculated on the basis of such rates will be subject to health and
            education cess of 4%.</li>
          <li class="text-dark py-2">Any individual option to be taxed under the new tax regime from FY {{currentYear -
            2}} - {{currentYear - 1}} onwards will have to give up certain exemptions and deductions..</li>
        </ul>
        <h5 class="text-dark">Here is the list of exemptions and deductions that a taxpayer will have to give up while
          choosing the new tax regime.</h5>
        <ul>
          <li class="text-dark py-2">Leave Travel Allowance (LTA)</li>
          <li class="text-dark py-2">House Rent Allowance (HRA)</li>
          <li class="text-dark py-2">Conveyance</li>
          <li class="text-dark py-2">Daily expenses in the course of employment</li>
          <li class="text-dark py-2">Relocation allowance</li>
          <li class="text-dark py-2">Helper allowance</li>
          <li class="text-dark py-2">Children education allowance</li>
          <li class="text-dark py-2">Other special allowance [Section 10(14)]</li>
          <li class="text-dark py-2">Standard deduction</li>
          <li class="text-dark py-2">Professional tax</li>
          <li class="text-dark py-2">Interest on housing loan (Section 24)</li>
          <li class="text-dark py-2">Chapter VI-A dedcution (80C, 80D, 80E and so on) (Except Section 80CCCD(2) and
            80JJA).</li>
        </ul>
        <div class="alert alert-warning">Options to choose new tax regime can be exercised on or before 20 May
          {{currentYear}}</div>
        <p class="mb-0">To find out which tax regime suits you best, <a href="javascript:void(0)"
            class="text-decoration-none" (click)="gotoTaxCalculation()">click here</a></p>
        <div class="btn-group py-3" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="btnradio3" id="btnradio3" autocomplete="off" checked>
          <label class="btn btn-outline-primary" for="btnradio3">Switch to New Tax Regime (Section 115BAC)</label>

          <input type="radio" class="btn-check" name="btnradio3" id="btnradio4" autocomplete="off"
            (click)="continueCurrentTaxRegime()">
          <label class="btn btn-outline-primary ms-3" for="btnradio4">Continue with Current Tax Regime</label>
        </div>
      </div>
      <!-- <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary-c">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
<!-- End -->

<!-- Salary structutr Change History -->
<div class="modal fade slaryStructureHistory" id="slaryStructureHistory" tabindex="-1"
  aria-labelledby="slaryStructureHistoryLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-secondary text-white border-bottom-0">
        <h5 class="modal-title" id="slaryStructureHistoryLabel">Salary structure Change History</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="custom-bg rounded text-dark d-flex align-items-center py-3">
          <div class="pe-2 ps-4">
            <small>ANNUAL</small>
            <p class="fw-bold mb-0">INR {{myAnnualSalary.Annual}}</p>
          </div>
          <div class="px-2 ms-4">
            <small>SALARY / MONTH</small>
            <p class="fw-bold mb-0">INR {{myAnnualSalary.SalaryMonth}}</p>
          </div>
          <div class="px-2 ms-4">
            <small>EFFECTIVE</small>
            <p class="fw-bold mb-0">{{myAnnualSalary.Effective | date}}</p>
          </div>
        </div>
        <div class="d-flex align-items-center ps-4 py-4">
          <span class="text-dark">{{myAnnualSalary.Effective | date}}</span>
          <i class="fa fa-circle text-info px-4" aria-hidden="true"></i>
          <div class="col-md-8 custom-bg rounded p-3">
            <span class="text-dark">Orignal salary structure</span>
            <a href="javascript:void(0)" class="text-decoration-none float-end" (click)="salaryBreakupPopup()">SALARY
              BREAKUP</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End -->
