<div class="col-12 full-v main-container">
  <div class="col-md-12 bg-light mb-3 d-flex align-items-center">
    <ul class="nav col-md-9">
      <li class="nav-item">
        <a class="nav-link text-dark" id="attendance-tab" (click)="activateMe('declaration-tab')" aria-current="page"
          href="javascript:void(0)">DECLARATION</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark nav-active" id="timesheet-tab" (click)="activateMe('salary-tab')"
          href="javascript:void(0)">SALARY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" id="leave-tab" (click)="activateMe('preference-tab')"
          href="javascript:void(0)">PREFERENCE</a>
      </li>
    </ul>
  </div>
  <div class="content-header">
    <div class="col-8">
      <div class="px-1">
        <app-breadcrums [title]="'My Salary'" [subtitle]="'Details'"></app-breadcrums>
      </div>
    </div>
    <div class="col-4">
      <div class="x_header_title d-flex align-items-center justify-content-end">
      </div>
    </div>
  </div>
  <div class="col-12 x_panel p-0 m-0">
    <div class="right-panel col-md-12 p-0">
      <ng-container *ngIf="isReady">
        <div class="container-fluid">
          <div class="col-md-12 bg-light mb-3 mt-3">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link new-nav-link text-dark new-nav-active" id="attendance-tab"
                  (click)="activeTab('MySalary')" aria-current="page" href="javascript:void(0)">My Salary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" id="timesheet-tab" (click)="activeTab('PaySlips')"
                  href="javascript:void(0)">Pay Slips</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" id="leave-tab" (click)="activeTab('IncomeTax')"
                  href="javascript:void(0)">Income Tax</a>
              </li>
            </ul>
          </div>
          <ng-container>
            <!-- <div class="mt-4 alert alert-info fs-6" role="alert" *ngIf="currentEmployee != null">
              Your Income and tax liability computed as per {{currentEmployee.EmployeeCurrentRegime == 1 ? 'Old income tax' : 'New income tax'}} regime. To learn more, and switch to {{currentEmployee.EmployeeCurrentRegime == 2 ? 'Old income tax' : 'New income tax'}} regime, 
              <a href="javascript:void(0)" (click)="newIncomeTaxRegimePopUp()" class="text-decoration-none text-primary">click here.</a>
            </div> -->
            <div class="d-flex mt-5 ms-5 mb-3">
              <div class="col-md-2">
                <div class="bg-info text-light rounded-circle current-circle col-md-5">
                  <span class="fw-bold">CURRENT</span>
                </div>
              </div>
              <div class="col-md-8 ms-4">
                <div class="bg-secondary text-light d-flex align-items-center py-3">
                  <div class="pe-2 ps-4">
                    <small>ANNUAL</small>
                    <p class="fw-bold mb-0">INR {{myAnnualSalary.Annual}}</p>
                  </div>
                  <span class="fs-5 px-3">+</span>
                  <div class="px-2">
                    <small>BONUS</small>
                    <p class="fw-bold mb-0">INR {{myAnnualSalary.Bonus}}</p>
                  </div>
                  <span class="fs-5 px-3">+</span>
                  <div class="px-2">
                    <small>Other</small>
                    <p class="fw-bold mb-0">INR {{myAnnualSalary.Other}}</p>
                  </div>
                  <span class="fs-5 px-3">=</span>
                  <div class="px-2">
                    <small>Total</small>
                    <p class="fw-bold mb-0">INR {{myAnnualSalary.Total}}</p>
                  </div>
                  <div class="ms-auto me-3">
                    <a href="javascript:void(0)">
                      <i class="fa-solid fa-arrows-rotate text-light" aria-hidden="true" (click)="salaryStructureHistory()"></i>
                    </a>
                    <button type="btn" class="btn btn-outline-light btn-sm ms-3" (click)="viewSalary()">
                      <i class="fa-solid"  [ngClass]="{'fa-angle-down': isSalaryDetail, 'fa-angle-up': !isSalaryDetail}"
                        aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
                <ng-container *ngIf="!isSalaryDetail">
                  <div class="border border-secondary px-2">
                    <div class="card-header py-2 d-flex text-dark align-items-center">
                      <p class="mb-0">
                        REGULAR SALARY:<span class="fw-bold tex-dark"> INR {{myAnnualSalary.Total | number: '1.2-2'}} </span><span
                          class="ps-3"><a href="javascript:void(0)" class="text-decoration-none"
                            (click)="salaryBreakupPopup()">SALARY BREAKUP</a></span>
                      </p>
                    </div>
                    <div class="row ps-3 mt-1">
                      <div class="col-md-4">
                        <small class="fw-bold">SALARY / MONTH</small>
                        <p class="text-dark pt-2">INR{{myAnnualSalary.SalaryMonth}} </p>
                      </div>
                      <div class="col-md-4">
                        <small class="fw-bold">EFFECTIVE</small>
                        <p class="pt-2">{{myAnnualSalary.Effective | date}}</p>
                      </div>
                    </div>
                    <div class="card-header py-2">
                      BONUS:<span class="fw-bold tex-dark"> INR {{myAnnualSalary.Bonus}} </span>
                      <a href="javascript:void(0)" (click)="addBonusPopUp()" class="text-decoration-none float-end">
                        <i class="fa-solid fa-plus pe-1"></i>
                        Add Bonus
                      </a>
                    </div>
                    <div class="text-center py-2">
                      <ng-container *ngIf="myAnnualSalary.Bonus == 0">No bonus added</ng-container>
                    </div>
                    <div class="card-header py-2 text-dark">
                      OTHER:<span class="fw-bold tex-dark"> INR {{myAnnualSalary.Other}} </span>
                    </div>
                    <div class=" ps-3 mt-1">
                      <small class="fw-bold">PF - EMPLOYER / MONTH</small>
                      <p class="pt-2">INR {{myAnnualSalary.PFperMonth}}</p>
                    </div>
                    <div class="card-header py-2text-dark">
                      PERKS:<span class="fw-bold tex-dark"> INR {{myAnnualSalary.Perks}} </span>
                    </div>
                    <div class="text-center py-2">
                      <ng-container *ngIf="myAnnualSalary.Perks == 0">No perks are assigned</ng-container>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <!-- <ng-container *ngIf="!isReady">
        <div class="py-5 my-5 x_panel border-0">
          <h6 class="fw-bold fs-3 text-center text-dark mt-5 pt-5">Salary detail is loading</h6>
          <div class="fs-5 pb-5 py-5 d-flex flex-column justify-content-center align-items-center">
            <div class="col-md-3 modal-container  text-center cog-wheel">
              <img src="assets/images/cog.gif" alt="" />
              <h6 class="modal-title title-message">
                Please Wait ........
              </h6>
            </div>
          </div>
        </div>
      </ng-container> -->
    </div>
  </div>
</div>


<!-- Full Salary Deatils -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="fullSalaryDetail" tabindex="-1"
  aria-labelledby="fullSalaryDetailLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title fs-4 text-dark" id="fullSalaryDetailLabel">SALARY BREAKUP</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body px-5">
        <form>
          <ng-container [formGroup]="salaryBreakupForm" *ngIf="salaryBreakupForm">
            <div class="pull-down">
              <div class="blur-this">
                <div class="col-md-12">
                  <div class="t-table t-list  col-md-12">
                    <div class="hide-bar alert-primary"></div>
                    <div class="t-head alert-primary">
                      <div class="tr fw-bold text-dark">
                        <div class="th fe-4">
                          <div class="cell-wrappe ps-2">
                            DETAILS
                          </div>
                        </div>
                        <div class="th fe-2">
                          MONTHLY
                        </div>
                        <div class="th fe-2">
                          ANNUALLY
                        </div>
                      </div>
                    </div>
                    <div class="t-body" *ngIf="isReady">
                      <ng-container formArrayName="Components">
                        <div class="tr"
                          *ngFor="let item of salaryBreakupForm.get('Components').controls; let index = index;">
                          <ng-container [formGroupName]="index">
                            <div class="td text-truncate d-flex flex-column justify-content-center fe-4 ps-2 py-2"
                              [ngClass]="{'fw-bold': item.get('IsHighlight').value}">
                              {{item.get('ComponentName').value}}
                            </div>
                            <div class="td text-truncate align-middle fe-2">
                              <div class="cell-wrapper mx-2 py-2" [ngClass]="{'fw-bold': item.get('IsHighlight').value}">
                                {{item.get('MonthlyAmount').value | number:'1.2-2'}}
                              </div>
                            </div>
                            <div class="td text-truncate align-middle fe-2">
                              <div class="cell-wrapper mx-2 py-2" [ngClass]="{'fw-bold': item.get('IsHighlight').value}">
                                {{item.get('FinalAmount').value | number:'1.2-2'}}
                              </div>
                            </div>
                          </ng-container>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </form>
        <p class="fs-6 my-2 text-success fw-bold">Note: Net Pay displayed does not include Income Tax, Professional
          Tax or Other deductions (if
          any).</p>
      <div class="modal-footer border-top-0 pe-5">
        <button type="button" class="btn btn-outline-success px-4" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Salary structutr Change History -->
<div class="modal fade slaryStructureHistory" id="slaryStructureHistory" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
  aria-labelledby="slaryStructureHistoryLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="slaryStructureHistoryLabel">Salary structure Change History</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="custom-bg rounded text-dark d-flex align-items-center py-3">
          <div class="pe-2 ps-4">
            <small>ANNUAL</small>
            <p class="fw-bold mb-0">INR {{myAnnualSalary.Annual}}</p>
          </div>
          <div class="px-2 ms-4">
            <small>SALARY / MONTH</small>
            <p class="fw-bold mb-0">INR {{myAnnualSalary.SalaryMonth}}</p>
          </div>
          <div class="px-2 ms-4">
            <small>EFFECTIVE</small>
            <p class="fw-bold mb-0">{{myAnnualSalary.Effective | date}}</p>
          </div>
        </div>
        <div class="d-flex align-items-center ps-4 py-4">
          <span class="text-dark">{{myAnnualSalary.Effective | date}}</span>
          <i class="fa-solid fa-circle text-info px-4" aria-hidden="true"></i>
          <div class="col-md-8 custom-bg rounded p-3">
            <span class="text-dark">Orignal salary structure</span>
            <a href="javascript:void(0)" class="text-decoration-none float-end" (click)="salaryBreakupPopup()">SALARY
              BREAKUP</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End -->

<!-- Add Bonus Modal -->
<div class="modal fade" id="addBonus" tabindex="-1" aria-labelledby="addBonusLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="addBonusLabel">ADD BONUS TO {{employeeName}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="bonusForm">
          <div>
            <label class="form-label">BONUS</label>
            <select class="form-select" formControlName="ComponentId" [ngClass]="{'error-field': submitted && f.ComponentId.errors !== null && f.ComponentId.errors.required}">
              <option value=null disabled selected>Select Bonus Component</option>
              <option [value]="item.ComponentId" *ngFor="let item of bonusComponent">{{item.ComponentFullName}} ({{item.ComponentId}})</option>
            </select>
          </div>
          <div class="mt-3">
            <label class="form-label">AMOUNT</label>
            <div class="input-group">
              <div class="input-group-text">INR</div>
              <input type="text" OnlyNumber="8" formControlName="Amount" class="form-control"  placeholder="Bonus Amount"
              [ngClass]="{'error-field': submitted && f.Amount.errors !== null && f.Amount.errors.required}">
            </div>
          </div>
          <div class="mt-3 row">
            <div class="col-md-6">
              <label class="form-label">PAY OUT DATE</label>
              <form class="form-inline">
                <div class="form-group w-100">
                  <div class="input-group w-100" [ngClass]="{'error-field': submitted && f.StartDate.errors !== null && f.StartDate.errors.required}">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model"
                      (dateSelect)="onDateSelection($event)" ngbDatepicker [minDate]="{year: 1970, month:1, day: 1}" [maxDate]="minDate" #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i
                          class="fa-regular fa-calendar-days fa-lg" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-6">
              <label class="form-label">STATUS</label>
              <select class="form-select" formControlName="Status" [ngClass]="{'error-field': submitted && f.Status.errors !== null && f.Status.errors.required}">
                <option value="2" selected>Pending</option>
                <option value="9" selected>Approved</option>
                <option value="5" selected>Rejected</option>
              </select>
            </div>
          </div>
          <div class="mt-3">
            <label class="form-label">NOTE</label>
            <textarea class="form-control" placeholder="Note" formControlName="Comments" rows="3"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button [disabled]="isLoading" class="btn btn-primary-c" (click)="addBonus()">
          <i  [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading, 'fa-regular fa-floppy-disk': !isLoading}"></i>
          <span class="ps-2">Add</span>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End -->
