<div class="col-md-12 main-container">
  <div class="x_panel">
    <div class="x_header">
      <div class="x_header_title">
        <div class="col-md-3">
          <h2>COMPANY SETTINGS</h2>
        </div>
      </div>
    </div>
    <div class="px-1">
      <app-breadcrums></app-breadcrums>
    </div>
    <div class="container mt-5">
      <ng-container *ngIf="isPageReady">
        <form [formGroup]="companySettingForm">
          <div class="col-md-4">
            <label class="form-label">Company Name</label>
            <input type="text" class="form-control border-0" readonly [value]="currentCompany.CompanyName">
          </div>
          <div class="mt-4 row">
            <div class="col-md-4">
              <label for="" class="form-label">Probation Period In Days</label>
              <input maxlength="3" type="text" class="form-control" formControlName="ProbationPeriodInDays" placeholder="Enter probation period days" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
            </div>
            <div class="col-md-4">
              <label for="" class="form-label">Notice Period In Days</label>
              <input maxlength="3" type="text" class="form-control" formControlName="NoticePeriodInDays" placeholder="Enter notice period in days" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
            </div>
          </div>
          <div class="text-end mt-3">
            <button type="button" class="btn btn-primary-c" (click)="saveSetting()">
              <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-cog': !isLoading}"></i>
              <span class="ps-2">{{ isLoading ? 'Wait' : 'Save setting' }}</span>
            </button>
          </div>
        </form>
      </ng-container>
    </div>
  </div>
</div>
