.active-tab {
  background-color: #286090 !important;
  color: white !important;
  transition: all 0.2s linear;
}

// .step-info-active {
//   color: #7200ff !important;
//   font-weight: 500;
// }

.x_panel {
  min-height: 36vh !important;
}
