<div class="col-12 full-v main-container">
  <div class="content-header">
    <div class="col-8">
      <div class="px-1">
        <app-breadcrums  [title]="'Income Tax Computation Detail'"></app-breadcrums>
      </div>
    </div>
    <div class="col-md-2" *ngIf="allDeclarationSalaryDetails != null">
      <select class="form-select" disabled>
        <option value="currentyear" selected disabled>APR {{allDeclarationSalaryDetails.DeclarationFromYear}} - MAR {{allDeclarationSalaryDetails.DeclarationFromYear +1}}</option>
      </select>
    </div>
  </div>
  <div class="col-12 x_panel p-0 m-0">
    <div class="right-panel col-md-12 p-0 blur-this">
      <div class="container-fluid">
        <!-- <div class="col-md-12 bg-light mb-3 mt-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link new-nav-link text-dark" id="attendance-tab" (click)="activeTab('MySalary')"
                aria-current="page" href="javascript:void(0)">My Salary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" id="timesheet-tab" (click)="activeTab('PaySlips')"
                href="javascript:void(0)">Pay Slips</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark new-nav-active" id="leave-tab" (click)="activeTab('IncomeTax')"
                href="javascript:void(0)">Income Tax</a>
            </li>
          </ul>
        </div> -->
        <div [ngClass]="{'blur-section': !isPageReady}">
          <div class="blur-section__highlight mt-5 pt-5" [ngClass]="{'d-none': isPageReady}">
            <div class="blur-section__content mt-5 pt-5">
              {{ 'Tax records not found'}}
            </div>
          </div>
          <div class="blur-this">
            <div class="custom-bg mt-3">
              <div class="d-flex justify-content-between">
                <p class="fs-4 pt-3 ps-3">
                  Income Tax Computation <i class="fa-solid fa-download ps-3"></i>
                </p>
                
              </div>
              <p class="ps-3">
                View complete breakup of payments, deductions and declarations. You can analyze how income tax is
                being
                calculated and what is the TDS every month.
              </p>
              <div class="p-3 mb-3 custom-card">
                <p class="fs-5 text-dark"><i class="fa-solid fa-bullhorn pe-3" aria-hidden="true"></i>Important!</p>
                <ul class="ps-5">
                  <li>
                    Current Income tax calculation is considering <span class="fw-bold">DECLARED</span> amounts of
                    Investment Declaration irrespective on approval status
                  </li>
                  <ng-container *ngIf="allDeclarationSalaryDetails != null">
                    <li>
                      Your Income and tax liability is being computed as per <span class="fw-bold">{{allDeclarationSalaryDetails.EmployeeCurrentRegime == 1 ? 'Old': 'New'}} income tax
                        regime.</span>
                    </li>
                    <li>
                      Your Income and tax liability is being computed on <span class="fw-bold">{{lastIncomeTaxSlab}}% income tax slab.</span>
                    </li>
                  </ng-container>
                </ul>
              </div>
              <div class="blur-section__highlight mt-5 pt-5" [ngClass]="{'d-none': isPageReady}">
                <div class="blur-section__content mt-5 pt-5">
                  {{isEmployeeSelect? 'Please wait......': 'Please select Employee first'}}
                </div>
              </div>
              <ng-container *ngIf="isPageReady">
                <div class="card border-0 mb-3">
                  <ng-container>
                    <div class="custom-card p-3 row">
                      <div class="col-auto">
                        <span>NET TAXABLE INCOME</span>
                        <p class="mb-0 mt-1"><i class="fa-solid fa-indian-rupee-sign pe-1"></i> {{allDeclarationSalaryDetails.EmployeeCurrentRegime == 1 ? (allDeclarationSalaryDetails.TotalAmount | number : '1.2-2') : (allDeclarationSalaryDetails.TotalAmountOnNewRegim | number : '1.2-2')}}</p>
                      </div>
                      <div class="col-auto border-start">
                        <span>GROSS INCOME TAX</span>
                        <p><i class="fa-solid fa-indian-rupee-sign pe-1"></i> {{allDeclarationSalaryDetails.EmployeeCurrentRegime == 1 ? (allDeclarationSalaryDetails.TotalAmount | number : '1.2-2') : (allDeclarationSalaryDetails.TotalAmountOnNewRegim | number : '1.2-2')}}</p>
                      </div>
                      <div class="col-auto border-start">
                        <span>TOTAL SURCHARGE & CESS</span>
                        <p class="mb-0 mt-1"><i class="fa-solid fa-indian-rupee-sign pe-1"></i> {{allDeclarationSalaryDetails.EmployeeCurrentRegime == 1 ? (allDeclarationSalaryDetails.SurChargesAndCess | number:'1.2-2') : (allDeclarationSalaryDetails.SurChargesAndCessOnNewRegim | number:'1.2-2')}}</p>
                      </div>
                      <div class="col-auto border-start">
                        <span>NET INCOME TAX PAYABLE</span>
                        <p class="mb-0 mt-1"><i class="fa-solid fa-indian-rupee-sign pe-1"></i> {{allDeclarationSalaryDetails.EmployeeCurrentRegime == 1 ? (allDeclarationSalaryDetails.TaxNeedToPay | number : '1.2-2') : (allDeclarationSalaryDetails.TaxNeedToPayOnNewRegim | number : '1.2-2')}}</p>
                      </div>
                      <div class="col-auto border-start">
                        <span>TAX PAID TILL NOW</span>
                        <p class="mb-0 mt-1"><i class="fa-solid fa-indian-rupee-sign pe-1"></i> {{allDeclarationSalaryDetails.TaxPaid | number:'1.2-2'}}</p>
                      </div>
                      <div class="col-auto border-start">
                        <p class="mb-1">REMAINING TAX TO BE PAID</p>
                        <span *ngIf="allDeclarationSalaryDetails.EmployeeCurrentRegime == 1"><i class="fa-solid fa-indian-rupee-sign pe-1"></i> {{allDeclarationSalaryDetails.TaxNeedToPay - allDeclarationSalaryDetails.TaxPaid | number : '1.2-2'}}</span>
                        <span *ngIf="allDeclarationSalaryDetails.EmployeeCurrentRegime != 1"><i class="fa-solid fa-indian-rupee-sign pe-1"></i> {{allDeclarationSalaryDetails.TaxNeedToPayOnNewRegim - allDeclarationSalaryDetails.TaxPaid | number : '1.2-2'}}</span>
                      </div>
                    </div>
                    <!-- <div class="t-table t-list border-0 col-md-12 bg-white">
                      <div class="t-head overflow-hidden">
                        <div class="tr border-bottom-0">
                          <div class="th ps-2">NET TAXABLE INCOME</div>
                          <div class="th">GROSS INCOME TAX</div>
                          <div class="th">TOTAL SURCHARGE & CESS</div>
                          <div class="th">NET INCOME TAX PAYABLE</div>
                          <div class="th">TAX PAID TILL NOW</div>
                          <div class="th fe-1">REMAINING TAX TO BE PAID</div>
                        </div>
                      </div>
                      <div class="t-head overflow-hidden">
                        <div class="tr text-dark py-2">
                          <div class="th ps-2">
                            <span>INR {{allDeclarationSalaryDetails.EmployeeCurrentRegime == 1 ? (allDeclarationSalaryDetails.TotalAmount | number : '1.2-2') : (allDeclarationSalaryDetails.TotalAmountOnNewRegim | number : '1.2-2')}}</span>
                          </div>
                          <div class="th ps-2">
                            <span>INR {{allDeclarationSalaryDetails.EmployeeCurrentRegime == 1 ? (allDeclarationSalaryDetails.TotalAmount | number : '1.2-2') : (allDeclarationSalaryDetails.TotalAmountOnNewRegim | number : '1.2-2')}}</span>
                          </div>
                          <div class="th ps-2">INR {{allDeclarationSalaryDetails.EmployeeCurrentRegime == 1 ? (allDeclarationSalaryDetails.SurChargesAndCess | number:'1.2-2') : (allDeclarationSalaryDetails.SurChargesAndCessOnNewRegim | number:'1.2-2')}}</div>
                          <div class="th ps-2">INR {{allDeclarationSalaryDetails.EmployeeCurrentRegime == 1 ? (allDeclarationSalaryDetails.TaxNeedToPay | number : '1.2-2') : (allDeclarationSalaryDetails.TaxNeedToPayOnNewRegim | number : '1.2-2')}}</div>
                          <div class="th ps-2">INR {{allDeclarationSalaryDetails.TaxPaid | number:'1.2-2'}}</div>
                          <div class="th ps-2">
                            <span *ngIf="allDeclarationSalaryDetails.EmployeeCurrentRegime == 1">INR {{allDeclarationSalaryDetails.TaxNeedToPay - allDeclarationSalaryDetails.TaxPaid | number : '1.2-2'}}</span>
                            <span *ngIf="allDeclarationSalaryDetails.EmployeeCurrentRegime != 1">INR {{allDeclarationSalaryDetails.TaxNeedToPayOnNewRegim - allDeclarationSalaryDetails.TaxPaid | number : '1.2-2'}}</span>
                          </div>
                        </div>
                      </div>
                    </div> -->
                    <div class="d-flex py-3 align-items-center">
                      <div class="pointable-text ms-2 px-2">A</div>
                      <h5 class="fw-bold text-dark ps-2 pb-0 mb-0">Gross Earnings from Employment</h5>
                    </div>
                    <div class="t-table t-list  col-md-12 bg-white">
                      <div class="ps-2 pt-4 pb-2 row">
                        <div class="col d-flex align-items-center">
                          <div class="previous-employer-indicator indicator"></div>
                          <p class="p-0 m-0 ps-2">Income from Previous Employer</p>
                        </div>
                        <div class="col d-flex align-items-center">
                          <div class="curent-employer-indicator indicator"></div>
                          <p class="p-0 m-0 ps-2">Income from Current Employer (imported)</p>
                        </div>
                        <div class="col d-flex align-items-center">
                          <div class="project-salary-indicator indicator"></div>
                          <p class="p-0 m-0 ps-2">Projected Salary</p>
                        </div>
                      </div>
                      <div class="t-head overflow-hidden">
                        <div class="tr py-3 custom-bg border-top">
                          <div class="th ps-2 fe-3">
                            <div class="cell-erapping">
                              SALARY BREAKUP
                            </div>
                          </div>
                          <div class="th fe-1">
                            <div class="cell-wrapper ms-2">
                              Total
                            </div>
                          </div>
                          <div class="th fe-1" *ngFor="let item of taxCalender">
                            <div class="cell-wrapper">
                              <div class="d-flex align-items-center">
                                <span>{{item.month}} {{item.year}}</span>
                                <div class="ms-1 indicator" [ngClass]="{
                                  'previous-employer-indicator': item.type == 0,
                                  'curent-employer-indicator': item.type == 1,
                                  'project-salary-indicator': item.type == 2}">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="t-body overflow-hidden">
                        <ng-container *ngFor="let item of salaryBreakup">
                          <ng-container *ngIf="item.isIncludeInPayslip || item.key == 'Total'">
                            <div class="tr text-dark py-3">
                              <div class="td ps-2 fe-3">
                                <div class="cell-wrapper">
                                  {{item.key}}
                                </div>
                              </div>
                              <div class="td fe-1">
                                <div class="cell-wrapper">
                                  <i class="fa-solid fa-indian-rupee-sign pe-1"></i> {{item.total | number: '1.0-0'}}
                                </div>
                              </div>
                              <ng-container *ngIf="item.value">
                                <div class="td fe-1" *ngFor="let elem of item.value">
                                  <div class="cell-wrapper">
                                    <i class="fa-solid fa-indian-rupee-sign pe-1"></i> {{elem.FinalAmount | number: '1.0-0'}}
                                  </div>
                                </div>
                              </ng-container>
                            </div>
                          </ng-container>
                        </ng-container>
                      </div>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="allDeclarationSalaryDetails.EmployeeCurrentRegime == 1">
                    <ng-container *ngIf="salaryDetail.GrossIncome > 0">
                      <table class="table table-bordered">
                        <tbody>
                          <tr>
                            <td colspan="2" class="c-py-75">
                              <div class="d-flexalign-items-center">
                                <div class="pointable-text ms-2 px-2">B</div>
                                <h5 class="fw-bold text-dark ps-2 pb-0 mb-0">Taxable Income from all Heads</h5>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="2" class="c-py-75">
                              <div class="d-flex py-3 align-items-center ps-4">
                                <div class="pointable-text ms-2 px-2">B1</div>
                                <h6 class="fw-bold text-dark ps-2 pb-0 mb-0">Taxable Income from all Heads</h6>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td class="c-py-75">Total Salary Received</td>
                            <td class="text-end c-py-75">{{salaryDetail.GrossIncome | number:'1.2-2'}}</td>
                          </tr>
                          <tr>
                            <th class="c-py-75">Total</th>
                            <th class="c-py-75 text-end">{{salaryDetail.GrossIncome | number:'1.2-2'}}</th>
                          </tr>
                        </tbody>
                      </table>
                    </ng-container>

                    <ng-container *ngIf="totalAllowTaxExemptAmount > 0">
                      <table class="table table-bordered">
                        <tbody>
                          <tr>
                            <th class="c-py-75" colspan="4">Less: Allowance Tax Exemptions</th>
                          </tr>
                          <tr>
                            <th>SECTION</th>
                            <th>ALLOWANCE</th>
                            <th>GROSS AMOUNT</th>
                            <th>DEDUCTABLE AMOUNT</th>
                          </tr>
                          <ng-container *ngFor="let item of TaxSavingAlloance">
                            <tr  *ngIf="item.DeclaredValue > 0">
                              <td class="ps-4 c-py-75">{{item.Section}}</td>
                              <td class="c-py-75">{{item.ComponentId}} ({{item.ComponentFullName}})</td>
                              <td class="c-py-75">{{item.DeclaredValue | number:'1.2-2'}}</td>
                              <td class="c-py-75 text-end">{{item.DeclaredValue | number:'1.2-2'}}</td>
                            </tr>
                          </ng-container>
                          <tr>
                            <th class="c-py-75 ps-4" colspan="3">Total</th>
                            <th class="c-py-75 text-end">{{totalAllowTaxExemptAmount | number:'1.2-2'}}</th>
                          </tr>
                        </tbody>
                      </table>
                    </ng-container>
                    <ng-container *ngIf="Sec16TaxExemptAmount >= 0">
                      <div class="col-md-12 ps-5">
                        <table class="table table-bordered">
                          <tbody>
                            <tr>
                              <td class="c-py-75" colspan="4">Less: Section 16 Tax Exemptions</td>
                            </tr>
                            <tr *ngFor="let item of Section16TaxExemption">
                              <td class="ps-4 c-py-75">{{item.Section}}</td>
                              <td class="c-py-75">{{item.ComponentId}} ({{item.ComponentFullName}})</td>
                              <td class="c-py-75">
                                <ng-container *ngIf="item.ComponentId == 'PTAX'">
                                  <a href="javascript:void(0)" (click)="viewProTaxPopUp(item.DeclaredValue)"
                                    class="text-decoration-none">View Detail</a>
                                </ng-container>
                              </td>
                              <td class="c-py-75 text-end">{{item.DeclaredValue}}</td>
                            </tr>
                            <tr>
                              <th class="c-py-75 ps-4" colspan="3">Total</th>
                              <th class="c-py-75 text-end">{{Sec16TaxExemptAmount}}</th>
                            </tr>
                            <ng-container *ngIf="salaryDetail.GrossIncome - totalAllowTaxExemptAmount > 0">
                              <tr>
                                <th class="c-py-75 ps-4" colspan="3">Taxable Amount under Head "Salaries</th>
                                <th class="c-py-75 text-end">{{salaryDetail.GrossIncome - totalAllowTaxExemptAmount - Sec16TaxExemptAmount | number:'1.2-2'}}</th>
                              </tr>
                              <tr>
                                <th class="c-py-75 ps-4" colspan="3">Total Gross from all Heads</th>
                                <th class="c-py-75 text-end">{{salaryDetail.GrossIncome - totalAllowTaxExemptAmount - Sec16TaxExemptAmount | number:'1.2-2'}}</th>
                              </tr>
                            </ng-container>
                          </tbody>
                        </table>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="totalSection80CExempAmount > 0">
                      <div class="col-md-12 ps-5">
                        <table class="table table-bordered">
                          <tbody>
                            <tr>
                              <th class="c-py-75" colspan="4">Less: 1.5 Lac Tax Exemption (Section 80C + Others)</th>
                            </tr>
                            <tr>
                              <th>SECTION</th>
                              <th>ALLOWANCE</th>
                              <th>GROSS AMOUNT</th>
                              <th>DEDUCTABLE AMOUNT</th>
                            </tr>
                            <ng-container *ngFor="let item of ExemptionDeclaration">
                              <tr *ngIf="item.DeclaredValue > 0">
                                <td class="ps-4 c-py-75">{{item.Section}}</td>
                                <td class="c-py-75">{{item.ComponentId}} ({{item.ComponentFullName}})</td>
                                <td class="c-py-75">{{item.DeclaredValue | number:'1.2-2'}}</td>
                                <td class="c-py-75 text-end">{{item.DeclaredValue | number:'1.2-2'}}</td>
                              </tr>
                            </ng-container>
                            <tr>
                              <th class="c-py-75 ps-4" colspan="3">Total</th>
                              <th class="c-py-75 text-end">{{totalSection80CExempAmount | number:'1.2-2'}}</th>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="totalOtherExemptAmount > 0">
                      <div class="col-md-12 ps-5">
                        <table class="table table-bordered">
                          <tbody>
                            <tr>
                              <th class="c-py-75" colspan="4">Less: Other Tax Exemption</th>
                            </tr>
                            <tr>
                              <th>SECTION</th>
                              <th>ALLOWANCE</th>
                              <th>GROSS AMOUNT</th>
                              <th>DEDUCTABLE AMOUNT</th>
                            </tr>
                            <ng-container *ngFor="let item of OtherDeclaration">
                              <tr *ngIf="item.DeclaredValue > 0">
                                <td class="ps-4 c-py-75">{{item.Section}}</td>
                                <td class="c-py-75">{{item.ComponentId}} ({{item.ComponentFullName}})</td>
                                <td class="c-py-75">{{item.DeclaredValue | number:'1.2-2'}}</td>
                                <td class="c-py-75 text-end">{{item.DeclaredValue | number:'1.2-2'}}</td>
                              </tr>
                            </ng-container>
                            <tr>
                              <th class="c-py-75 ps-4" colspan="3">Total</th>
                              <th class="c-py-75 text-end">{{totalOtherExemptAmount | number:'1.2-2'}}</th>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </ng-container>

                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <th colspan="3">HRA Applied</th>
                          <th class="text-end">AMOUNT DECLARED</th>
                        </tr>
                        <tr>
                          <td colspan="2"><small class="text-muted">[Per Month]</small></td>
                          <td>
                            <a href="javascript:void(0)" (click)="viewHRAPopUp()" class="text-decoration-none">View Detail</a>
                          </td>
                          <td class="text-end">{{allDeclarationSalaryDetails.HRADeatils.HRAAmount | number:'1.2-2'}}</td>
                        </tr>
                        <tr>
                          <th colspan="3">Total</th>
                          <th class="text-end">{{allDeclarationSalaryDetails.HRADeatils.HRAAmount*12 | number:'1.2-2'}}</th>
                        </tr>
                        <tr>
                          <th class="c-py-75 ps-4" colspan="3">Total Taxable Amount</th>
                          <th class="c-py-75 text-end">{{getTotalTaxableAmount(1) > 0 ? (getTotalTaxableAmount(1) | number:'1.2-2') : '0.00'}}</th>
                        </tr>
                        <tr>
                          <th class="c-py-75 ps-4" colspan="3">Net taxable income is</th>
                          <th class="c-py-75 text-end">{{getTotalTaxableAmount(1) > 0 ? (getTotalTaxableAmount(1) | number:'1.2-2') : '0.00'}}</th>
                        </tr>
                      </tbody>
                    </table>
                  </ng-container>
                  <ng-container *ngIf="allDeclarationSalaryDetails.IncomeTaxSlab.length > 0 || allDeclarationSalaryDetails.NewRegimIncomeTaxSlab.length > 0">
                    <div class="d-flex py-3 align-items-center">
                      <div class="pointable-text ms-2 px-2">P</div>
                      <h5 class="fw-bold text-dark ps-2 pb-0 mb-0">Tax Calculation</h5>
                    </div>
                    <div class="t-table t-list  col-md-12 bg-white">
                      <div class="t-head overflow-hidden">
                        <div class="tr py-3 custom-bg">
                          <div class="th ps-2">TAXABLE INCOME SLAB</div>
                          <div class="th text-end pe-3">TAX AMOUNT</div>
                        </div>
                      </div>
                      <div class="t-body overflow-hidden">
                        <ng-container *ngIf="allDeclarationSalaryDetails.EmployeeCurrentRegime == 1">
                          <div class="tr tax-slab text-dark py-3"
                            *ngFor="let item of allDeclarationSalaryDetails.IncomeTaxSlab">
                            <div class="td ps-1">{{item[1].Description}}</div>
                            <div class="td ps-1 text-end pe-3">{{item[1].Value | number:'1.2-2'}}</div>
                          </div>
                        </ng-container>
                        <ng-container *ngIf="allDeclarationSalaryDetails.EmployeeCurrentRegime != 1">
                          <div class="tr tax-slab text-dark py-3"
                            *ngFor="let item of allDeclarationSalaryDetails.NewRegimIncomeTaxSlab">
                            <div class="td ps-1">{{item[1].Description}}</div>
                            <div class="td ps-1 text-end pe-3">{{item[1].Value | number:'1.2-2'}}</div>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="allDeclarationSalaryDetails.SurChargesAndCess >= 0 || allDeclarationSalaryDetails.SurChargesAndCessOnNewRegim >= 0">
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <th class="c-py-75" colspan="2">
                            <div class="d-flex align-items-center">
                              <div class="pointable-text ms-2 px-2">Q</div>
                              <h5 class="fw-bold text-dark ps-2 pb-0 mb-0">Surcharge & Cess</h5>
                            </div>
                          </th>
                        </tr>
                        <tr>
                          <td class="c-py-75">Health and Education Cess - 4% of Gross Income Tax and Surcharge</td>
                          <td class="c-py-75 text-end">{{allDeclarationSalaryDetails.EmployeeCurrentRegime == 1 ? (allDeclarationSalaryDetails.SurChargesAndCess | number:'1.2-2') : (allDeclarationSalaryDetails.SurChargesAndCessOnNewRegim | number:'1.2-2')}}</td>
                        </tr>
                        <tr>
                          <th class="c-py-75">Total Surcharge & Cess</th>
                          <th class="c-py-75 text-end">{{allDeclarationSalaryDetails.EmployeeCurrentRegime == 1 ? (allDeclarationSalaryDetails.SurChargesAndCess | number:'1.2-2') : (allDeclarationSalaryDetails.SurChargesAndCessOnNewRegim | number:'1.2-2')}}</th>
                        </tr>
                      </tbody>
                    </table>
                  </ng-container>
                  <ng-container>
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <th class="c-py-75" colspan="2">
                            <div class="d-flex py-3 align-items-center">
                              <div class="pointable-text ms-2 px-2">T</div>
                              <h5 class="fw-bold text-dark ps-2 pb-0 mb-0">Net Income Tax Payable</h5>
                            </div>
                          </th>
                        </tr>
                        <tr>
                          <th class="c-py-75">
                            <div class="d-flex align-items-center">
                              <div class="d-flex align-items-center">
                                <div class="pointable-text ms-2 px-2">P</div>
                                <p class="fw-bold text-dark ps-2 pb-0 mb-0">Tax Calculation</p>
                              </div>
                              <span class="px-2">+</span>
                              <div class="d-flex align-items-center">
                                <div class="pointable-text ms-2 px-2">Q</div>
                                <p class="fw-bold text-dark ps-2 pb-0 mb-0">Surcharge & Cess</p>
                              </div>
                            </div>
                          </th>
                          <th class="c-py-75 text-end">{{allDeclarationSalaryDetails.EmployeeCurrentRegime == 1 ? (allDeclarationSalaryDetails.TaxNeedToPay | number:'1.2-2') : (allDeclarationSalaryDetails.TaxNeedToPayOnNewRegim | number:'1.2-2')}}</th>
                        </tr>
                        <tr>
                          <td class="c-py-75">Net tax amount of {{allDeclarationSalaryDetails.EmployeeCurrentRegime == 1 ? (allDeclarationSalaryDetails.TaxNeedToPay | number:'1.2-2') : (allDeclarationSalaryDetails.TaxNeedToPayOnNewRegim | number:'1.2-2')}} after round Off is</td>
                          <td class="c-py-75 text-end">{{allDeclarationSalaryDetails.EmployeeCurrentRegime == 1 ? (allDeclarationSalaryDetails.TaxNeedToPay | number:'1.2-2') : (allDeclarationSalaryDetails.TaxNeedToPayOnNewRegim | number:'1.2-2')}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </ng-container>
                  <ng-container>
                    <div class="custom-card p-3">
                      <div class="d-flex align-items-center">
                        <div class="pointable-text px-2">U</div>
                        <h5 class="fw-bold text-dark ps-2 pb-0 mb-0">Cumulative Tax Deductions Details</h5>
                      </div>
                      <div class="row mt-3">
                        <div class="col-md-4">
                          <p class="text-dark fs-2 mb-0">INR {{allDeclarationSalaryDetails.TaxPaid | number:'1.2-2'}}</p>
                          <p class="mb-0"><i class="fa-solid fa-circle-dollar-to-slot pe-1"></i>TAX PAID TILL NOW</p>
                        </div>
                        <div class="col-md-4">
                          <p class="text-dark fs-2 mb-0"*ngIf="allDeclarationSalaryDetails.EmployeeCurrentRegime == 1">INR {{allDeclarationSalaryDetails.TaxNeedToPay - allDeclarationSalaryDetails.TaxPaid | number : '1.2-2'}}</p>
                          <p class="text-dark fs-2 mb-0" *ngIf="allDeclarationSalaryDetails.EmployeeCurrentRegime != 1">INR {{allDeclarationSalaryDetails.TaxNeedToPayOnNewRegim - allDeclarationSalaryDetails.TaxPaid | number : '1.2-2'}}</p>
                          <p class="mb-0"><i class="fa-solid fa-hand-holding-dollar pe-1"></i>Remaining Tax To Be Paid</p>
                        </div>
                        <div class="col-md-4">
                          <p class="text-dark fs-2 mb-0">INR {{allDeclarationSalaryDetails.EmployeeCurrentRegime == 1 ? (allDeclarationSalaryDetails.TotalAmount | number : '1.2-2') : (allDeclarationSalaryDetails.TotalAmountOnNewRegim | number : '1.2-2')}}</p>
                          <p class="mb-0"><i class="fa-solid fa-sack-dollar pe-1"></i>NET TAXABLE INCOME</p>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container>
                    <div class="d-flex py-3 align-items-center">
                      <div class="pointable-text ms-2 px-2">V</div>
                      <h5 class="text-dark fw-bold ps-2 pb-0 mb-0">Monthly Tax Deductions Details</h5>
                    </div>
                    <div class="t-table t-list  mb-3 col-md-12 bg-white">
                      <div class="t-head overflow-hidden custom-bg">
                        <div class="tr py-3">
                          <div class="th ps-2 fe-2">Month</div>
                          <div class="th" *ngFor="let item of taxCalender">
                            <div class="d-flex align-items-center">
                              <span>{{item.month}} {{item.year}}</span>
                              <div class="ms-1 indicator" [ngClass]="{
                                'previous-employer-indicator': item.type == 0,
                                'curent-employer-indicator': item.type == 1,
                                'project-salary-indicator': item.type == 2}">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="t-body border-bottom overflow-hidden">
                        <div class="tr py-3">
                          <div class="td px-2 fe-2">Monthly Total Tax</div>
                          <ng-container *ngFor="let item of TaxDetails">
                            <div class="td ps-1">{{item.TaxDeducted | number:'1.2-2'}}</div>
                          </ng-container>
                        </div>
                      </div>
                      <div class="ps-2 py-3 row">
                        <div class="col d-flex align-items-center">
                          <div class="previous-employer-indicator indicator"></div>
                          <p class="p-0 m-0 ps-2">Tax Deduction from previous employer</p>
                        </div>
                        <div class="col d-flex align-items-center">
                          <div class="curent-employer-indicator indicator"></div>
                          <p class="p-0 m-0 ps-2">Imported Tax Deduction from current employer</p>
                        </div>
                        <div class="col d-flex align-items-center">
                          <div class="project-salary-indicator indicator"></div>
                          <p class="p-0 m-0 ps-2">Projected Income Tax</p>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- View HRA Modal -->
<div class="modal fade" id="viewHRAModal" tabindex="-1" aria-labelledby="viewHRAModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content ps-4">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="viewHRAModalLabel">HRA (HOUSE RENT ALLOWANCE) DETAILS</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="t-table t-list border-0 col-md-12 bg-white">
          <div class="t-head overflow-hidden border-bottom">
            <div class="tr align-items-center border-bottom-0">
              <div class="th">MONTH</div>
              <div class="th">RENT PAID</div>
              <div class="th">ACTUAL HRA(1)</div>
              <div class="th">LOCATION BASED HRA(2)</div>
              <div class="th">RENT BASED HRA(3)</div>
              <div class="th">MIN (1,2,3)</div>
            </div>
          </div>
          <div class="t-head overflow-hidden">
            <div class="tr py-2" *ngFor="let item of hraDetails">
              <div class="td">{{item.Month}}</div>
              <div class="td">{{item.RentPaid/12 | number: '1.2-2'}}</div>
              <div class="td">{{item.HRA1 | number: '1.2-2'}}</div>
              <div class="td">{{item.HRA2 | number: '1.2-2'}}</div>
              <div class="td">{{item.HRA3 | number: '1.2-2'}}</div>
              <div class="td">{{item.Min | number: '1.2-2'}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End -->

<!-- View Professional Tax Modal -->
<div class="modal fade" id="proTaxModal" tabindex="-1" aria-labelledby="proTaxModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content ps-4">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="proTaxModalLabel">PROFESSIONAL TAX DETAILS</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="t-table t-list border-0 col-md-12 bg-white">
          <div class="t-head overflow-hidden border-bottom">
            <div class="tr align-items-center border-bottom-0">
              <div class="th">MONTH</div>
              <div class="th">AMOUNT</div>
              <div class="th">SOURCE</div>
            </div>
          </div>
          <div class="t-head overflow-hidden">
            <div class="tr py-2" *ngFor="let item of proTaxDetails">
              <div class="td">{{item.Month}}</div>
              <div class="td">{{item.Amount | number}}</div>
              <div class="td">{{item.Source}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End -->
