<div class="col-12 full-v main-container" [ngClass]="{'preload': !isLoaded}">
  <div class="content-header">
    <div class="col-8">
      <div class="px-1">
        <app-breadcrums [title]="'Manage project information'"></app-breadcrums>
      </div>
    </div>
    <div class="col-4">
      <div class="x_header_title d-flex align-items-center justify-content-end">
        <a href="javascript:void(0)" class="text-decoration-none fw-bold pe-4" (click)="pageReload()">
          <i class="fa-solid fa-arrows-rotate" data-bs-toggle="tooltip" data-bs-placement="right"
            title="Reload this page"></i>
        </a>
        <button class="btn btn-primary-c float-end" (click)="addProject()"><i class="fa-solid fa-plus pe-2"></i>Add
          Project</button>
      </div>
    </div>
  </div>

  <form>
    <div class="x_panel">
      <div [ngSwitch]="isLoaded">
        <div *ngSwitchCase="false">
          <div class="mt-5">
            <app-page-placeholder></app-page-placeholder>
          </div>
        </div>
        <div *ngSwitchDefault>
          <div class="x_content">
            <div class="t-table t-list col-md-12">
              <div class="hide-bar"></div>
              <div class="t-head">
                <div class="tr">
                  <div class="th fe-index">
                    <div class="t-index">
                      <a href="javascript:void()" class="ps-3">#</a>
                    </div>
                  </div>
                  <div class="th fe-2">
                    <div class="cell-wrapper">
                      Project Name
                    </div>
                  </div>
                  <div class="th fe-5">
                    <div class="cell-wrapper">
                      Project Description
                    </div>
                  </div>
                  <div class="th fe-2">
                    <div class="cell-wrapper">
                      Project Started On
                    </div>
                  </div>
                  <div class="th fe-1 text-center">ACTIONS</div>
                </div>
              </div>
              <div class="t-body">
                <ng-container *ngIf="isFileFound">
                  <div class="tr py-2" *ngFor="let project of projectDetail">
                    <div class="td align-middle text-center fe-index">
                      <div class="cell-wrapper">
                        {{project.ProjectId}}
                      </div>
                    </div>
                    <div class="td align-middle fe-2">
                      <div class="cell-wrapper">
                        <a href="javascript:void(0)" class="fw-bold"
                          (click)="editProjectDetail(project)">{{project.ProjectName}}</a>
                      </div>
                    </div>
                    <div class="td align-middle fe-5">
                      <div class="cell-wrapper">
                        {{project.ProjectDescription}}
                      </div>
                    </div>
                    <div class="td align-middle fe-2">
                      <div class="cell-wrapper">
                        {{project.ProjectStartedOn | date}}
                      </div>
                    </div>
                    <div class="td justify-content-center d-flex fe-1">
                      <div class="d-flex flex-row pe-2 justify-content-evenly">
                        <a href="javascript:void(0)" (click)="loadProjectBudgetPage(project)">
                          <span class="badge bg-success"><i class="fa-regular fa-money-bill-1"
                              aria-hidden="true"></i></span>
                        </a>
                      </div>
                      <div class="d-flex flex-row justify-content-evenly">
                        <a href="javascript:void(0)" (click)="addUpdateWiki(project)">
                          <span class="badge bg-primary"><i class="fa-brands fa-wikipedia-w"
                              aria-hidden="true"></i></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="!isFileFound">
                  <div
                    class="custom-height py-5 my-5 fw-bold fs-3 text-danger d-flex align-items-center justify-content-center">
                    <p class="my-5 py-5">Record Not Found</p>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="mt-3">
            <app-pagination [pagination]="projectData" (onPageChange)="GetFilterResult($event)"></app-pagination>
          </div>

          <div class="row">
            <div class="col-auto">
              Users
            </div>
            <div class="col-md-11">

            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>