<div class="col-12 full-v main-container" [ngClass]="{'preload': !isLoaded}">
    <div>
      <form>
        <div class="x_panel mh-auto">
          <div class="x_header">
            <div class="x_header_title">
              <h2>Project Detail
                <small>Project details like: Project name, Company name etc.</small>
                <i class="fa text-dark edit-icon ps-2"></i>
              </h2>
              <button class="btn btn-primary-c float-end" (click)="addProject()"><i class="fa fa-plus pe-2"></i>Add Project</button>
            </div>
          </div>
          <div class="px-1">
            <app-breadcrums></app-breadcrums>
          </div>
          <div [ngSwitch]="isLoaded">
            <div *ngSwitchCase="false">
              <div class="mt-5">
                <app-pre-load-table></app-pre-load-table>
              </div>
            </div>
            <div *ngSwitchDefault>
              <div class="x_content">
                <div class="t-table t-list t-border col-md-12">
                  <div class="hide-bar"></div>
                  <div class="t-head">
                    <div class="tr">
                      <div class="th fe-index">
                        <div class="t-index">
                          <a href="javascript:void()" class="ps-3">#</a>
                        </div>
                      </div>
                      <div class="th fe-2">
                        <div class="cell-wrapper">
                          Project Name
                          <!-- <input class="form-control form-control-sm" (keydown.esc)="resetFilter()"
                            (keyup.enter)="filterRecords()" autofocus [(ngModel)]="employeeDetails.Name"
                            placeholder="Search by Name" id="namefilter"> -->
                          <!-- <div class="t-filter" (click)="arrangeDetails(orderByNameAsc, 'FirstName')">
                            <a href="javascript:void()" class="pe-2">Full Name</a>
                            <i class="fa fa-sort-amount-asc"
                              [ngClass]="{'d-none': orderByNameAsc == null || !orderByNameAsc }" aria-hidden="true"></i>
                            <i class="fa fa-sort-amount-desc"
                              [ngClass]="{'d-none': orderByNameAsc == null || orderByNameAsc }" aria-hidden="true"></i>
                          </div> -->
                        </div>
                      </div>
                      <div class="th fe-5">
                        <div class="cell-wrapper">
                          Project Description
                          <!-- <input class="form-control  form-control-sm" (keyup.enter)="filterRecords()"
                            (keydown.esc)="resetFilter()" [(ngModel)]="employeeDetails.Mobile"
                            placeholder="Search by MobileNumber"> -->
                          <!-- <div class="t-filter" (click)="arrangeDetails(orderByMobileAsc, 'Mobile')">
                            <a href="javascript:void()" class="pe-2">Mobile Number</a>
                            <i class="fa fa-sort-amount-asc"
                              [ngClass]="{'d-none': orderByMobileAsc == null || !orderByMobileAsc }" aria-hidden="true"></i>
                            <i class="fa fa-sort-amount-desc"
                              [ngClass]="{'d-none': orderByMobileAsc == null || orderByMobileAsc }" aria-hidden="true"></i>
                          </div> -->
                        </div>
                      </div>
                      <div class="th fe-2">
                        <div class="cell-wrapper">
                          Project Started On
                          <!-- <input class="form-control  form-control-sm" (keyup.enter)="filterRecords()"
                            (keydown.esc)="resetFilter()" [(ngModel)]="employeeDetails.Email" placeholder="Search by Email"> -->
                          <!-- <div class="t-filter" (click)="arrangeDetails(orderByEmailAsc, 'Email')">
                            <a href="javascript:void()" class="pe-2">Email Id</a>
                            <i class="fa fa-sort-amount-asc"
                              [ngClass]="{'d-none': orderByEmailAsc == null || !orderByEmailAsc }" aria-hidden="true"></i>
                            <i class="fa fa-sort-amount-desc"
                              [ngClass]="{'d-none': orderByEmailAsc == null || orderByEmailAsc }" aria-hidden="true"></i>
                          </div> -->
                        </div>
                      </div>
                      <div class="th fe-1 text-center">ACTIONS</div>
                    </div>
                  </div>
                  <div class="t-body">
                    <ng-container *ngIf="isFileFound">
                      <div class="tr py-2" *ngFor="let project of projectDetail">
                        <div class="td align-middle text-center fe-index">
                          <div class="cell-wrapper">
                            {{project.ProjectId}}
                          </div>
                        </div>
                        <div class="td align-middle fe-2">
                          <div class="cell-wrapper">
                            <a href="javascript:void(0)" class="text-decoration-none" (click)="editProjectDetail(project)">{{project.ProjectName}}</a>
                          </div>
                        </div>
                        <div class="td align-middle fe-5">
                          <div class="cell-wrapper">
                            {{project.ProjectDescription}}
                          </div>
                        </div>
                        <div class="td align-middle fe-2">
                          <div class="cell-wrapper">
                            {{project.ProjectStartedOn | date}}
                          </div>
                        </div>
                        <div class="td align-middle fe-1">
                          <div class="d-flex flex-row justify-content-evenly">
                            <a href="javascript:void(0)" (click)="addUpdateWiki(project)">
                              <span class="badge bg-primary"><i class="fa fa-wikipedia-w" aria-hidden="true"></i></span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="!isFileFound">
                      <div class="custom-height fw-bold fs-3 text-danger d-flex align-items-center justify-content-center">
                        Record Not Found
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
              <div class="mt-3">
                <!-- <app-pagination [pagination]="employeeData" (onPageChange)="GetFilterResult($event)"></app-pagination> -->
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
</div>
