.header-text {
  font-weight: 700;
  font-size: 1.3rem;
}

.menu-icon {
  font-weight: 500;
  font-size: 1.6rem;
}

.category-name {
  font-size: 1.1rem;
  font-weight: 600;
}

.permission-text {
  font-size: 1.1rem;
}
