<div class="col-12 full-v main-container" [ngClass]="{'preload': !isRolesLoaded}">
  <div>
    <form [formGroup]="rolesForm">
      <div class="x_panel">
        <div class="x_header">
          <div class="x_header_title">
            <h2>Roles <small>Manage user roles.</small>
              <i class="fa text-dark edit-icon ps-2"></i>
            </h2>
            <div class="d-flex align-items-center">
              <a href="javascript:void(0)" (click)="navToEmailLinkConfig()" class="text-decoration-none fw-bold pe-4"><i
                class="fa fa-paper-plane pe-1"></i> Email Link Config</a>
              <button class="btn btn-sm btn-outline-primary float-end ms-3" (click)="addRolePopUp()">
                <i class="fa fa-plus-square-o pe-2" aria-hidden="true"></i>Add Role
              </button>
              <button class="btn btn-outline-success btn-sm float-end" [disabled]="ispermissionAdding || !isRolesLoaded"
                (click)="submitRole()">
                <i class="fa"
                  [ngClass]="{'fa-sign-in': !ispermissionAdding, 'fa-spin fa-spinner': ispermissionAdding}"
                  aria-hidden="true"></i>
                <span class="ps-2">{{ispermissionAdding ? 'Wait' : 'Save' }}</span>
              </button>
            </div>
          </div>
        </div>
        <div class="px-1">
          <app-breadcrums></app-breadcrums>
        </div>

        <div class="col-12 row m-0 pt-3">
          <div class="col-md-4">
            <label class="form-label">Existing Roles *</label>
            <select class="form-control" name="RoleName" (change)="loadMenu($event)" formControlName="accessLevel">
              <option value="0">Select Role</option>
              <option value="{{item.AccessLevelId}}" *ngFor="let item of Roles">{{item.RoleName}}</option>
            </select>
          </div>
        </div>

        <ng-container *ngIf="!isRolesLoaded">
          <h2 class="mt-5 text-center text-muted select-role-message">
            Please select existing role from above dropdown and grant appropriate permission.
          </h2>
        </ng-container>

        <ng-container *ngIf="isRolesLoaded">
          <div class="row col-md-12 pt-3">
            <div class="col-md-6 row pt-3 skeleton" *ngFor="let catagory of Menu; let i = index;">
              <div class="vhide">
                <div class="card card-body mt-3">
                  <h6 class="bg-c text-white fw-bold rounded px-3 py-2" >{{catagory.Name}}</h6>
                  <div formArrayName="menuItems" class="card-body pt-0 pb-0">
                    <ng-container *ngFor="let item of rolesForm.get('menuItems').controls;let index = index;">
                      <ng-container [formGroupName]="index">
                        <div *ngIf="catagory.Name === item.get('ParentMenu').value"
                          class="d-flex row-items justify-content-between border-bottom pt-4 pb-4">
                          <div class="d-flex justify-content-center align-items-center">
                            <i class="{{item.get('Icon').value}} menu-icon"></i>
                            <label class="category-name ps-3">
                              {{item.get('Catagory').value}}
                            </label>
                          </div>
                          <div class="btn-group dropstart">
                            <label class="noaccess pe-4" [ngClass]="{
                                'readonly': item.get('Permission').value == 2,
                                'readwrite': item.get('Permission').value == 3,
                                'fullaccess': item.get('Permission').value == 1
                              }">{{getPermessionName(item.get('Permission').value)}}</label>

                            <div class="col">
                              <div ngbDropdown class="d-inline-block">
                                <button type="button" class="btn btn-sm" id="dropdownBasic1" ngbDropdownToggle>
                                  <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                </button>
                                <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                  <button ngbDropdownItem>
                                    <a class="dropdown-item" href="javascript:void(0)"
                                      (click)="selectPermission(0, index)">Block Access</a>
                                  </button>
                                  <button ngbDropdownItem>
                                    <a class="dropdown-item" href="javascript:void(0)"
                                      (click)="selectPermission(2, index)">Read only</a>
                                  </button>
                                  <button ngbDropdownItem>
                                    <a class="dropdown-item" href="javascript:void(0)"
                                      (click)="selectPermission(3, index)">Read & Write</a>
                                  </button>
                                  <button ngbDropdownItem>
                                    <a class="dropdown-item" href="javascript:void(0)"
                                      (click)="selectPermission(1, index)">Full Access</a>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </form>
  </div>
</div>

<!-- Add Role Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="addRole" tabindex="-1" role="dialog"
  aria-labelledby="createFolderTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title font-weight-bold text-dark" id="exampleModalLongTitle">New Role</h5>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <form [formGroup]="addRoleForm">
            <div class=" col-md-12">
              <label class="form-label">Role Name</label>
              <input type="text" class="form-control" oninput="this.value = this.value.toUpperCase()" placeholder="Role Name" formControlName="RoleName" [ngClass]="{'error-field': submitted && f.RoleName.errors !== null && f.RoleName.errors.required}">
            </div>
            <div class="pt-3">
              <label class="form-label">Access Code Defination</label>
              <textarea class="form-control code-defination-txtarea" oninput="this.value = this.value.toUpperCase()" placeholder="Access Code Defination" [ngClass]="{'error-field': submitted && f.AccessCodeDefination.errors !== null && f.AccessCodeDefination.errors.required}"
                formControlName="AccessCodeDefination"></textarea>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <button (click)="CloseFolderPopup()" class="btn btn-sm btn-outline-danger" data-dismiss="modal">Cancel</button>
        <button (click)="AddRole()" [disabled]="isLoading" class="btn btn-sm btn-outline-success">
          <i class="fa pe-2" [ngClass]="{'fa-plus': !isLoading, 'fa-spin fa-spinner': isLoading}"
            aria-hidden="true"></i>
          {{isLoading ? 'Wait' : 'Add Role' }}
        </button>
      </div>
    </div>
  </div>
</div>
