<div class="col-12 full-v main-container" [ngClass]="{'preload': !isLoaded}">
    <div>
      <form>
        <div class="x_panel mh-auto">
          <div class="x_header">
            <div class="x_header_title">
              <h2>{{projectDetail.ProjectName}}
                <small>Project detail to update.</small>
                <i class="fa text-dark edit-icon ps-2"></i>
              </h2>
            </div>
          </div>
          <div class="px-1">
            <app-breadcrums></app-breadcrums>
          </div>
          <div [ngSwitch]="isLoaded">
            <div *ngSwitchCase="false">
              <div class="mt-5">
                <app-pre-load-table></app-pre-load-table>
              </div>
            </div>
            <div *ngSwitchDefault>
                <ng-container>
                    <div class="row col-12 mt-3 x_content">
                        <div class="col-sm-3 col-md-2 x_panel">
                            <div class="x_header">
                                <div class="x_header_title d-flex flex-row justify-content-between">
                                    <h6>{{projectDetail.ProjectName}}</h6>
                                    <a href="javascript:void(0)" class="text-decoration-none" (click)="addSectionPopUp()">
                                        <i class="fa fa-plus pe-2"></i> Add Section
                                    </a>
                                </div>
                            </div>
                            <div>
                                <ul class="list-unstyled">
                                    <li *ngFor="let item of projectDetail.Section">
                                        <a href="javascript:void(0)" class=" py-1 text-decoration-none text-dark d-flex align-items-center justify-content-between">
                                            <span>{{item}}</span>
                                            <span>
                                                <i class="fa fa-plus pe-3" (click)="addSubSectionPopUp()"></i>
                                                <i class="fa fa-caret-left fa-lg"></i>
                                            </span>
                                        </a>
                                        <ul class="list-unstyled">
                                            <li *ngFor="let item of projectDetail.Section">
                                                <a href="javascript:void(0)" class=" py-1 text-decoration-none text-dark d-flex align-items-center justify-content-between">
                                                    <span>{{item}}</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <div class="col-md-12 px-4 dv-space">
                                <h2>
                                    <div class="d-flex flex-row justify-content-between">
                                        Title
                                        <a href="javascript:void(0)" class="fs-6">
                                            <i class="fa fa-plus" data-bs-toggle="tooltip" data-bs-placement="top" title="Add subtitle"></i>
                                        </a>
                                    </div>
                                </h2>

                                <div class="col-md-12 mx-3">
                                    <h5>
                                        <div class="d-flex flex-row justify-content-between">
                                            Sub Title
                                            <div class="d-flex justify-content-around">
                                                <a href="javascript:void(0)" class="fs-6 px-2 text-muted" (click)="addLinkPopUp()">
                                                    <i class="fa fa-picture-o" data-bs-toggle="tooltip" data-bs-placement="top" title="Add image"></i>
                                                </a>
                                                <a href="javascript:void(0)" class="fs-6 px-2 text-muted" (click)="addTextPopUp()">
                                                    <i class="fa fa-file-text" data-bs-toggle="tooltip" data-bs-placement="top" title="Add paragraph"></i>
                                                </a>
                                                <a href="javascript:void(0)" class="fs-6 px-2 text-muted" (click)="addLinkPopUp()">
                                                    <i class="fa fa-anchor" data-bs-toggle="tooltip" data-bs-placement="top" title="Add link"></i>
                                                </a>
                                                <a href="javascript:void(0)" class="fs-6 px-2 text-muted" (click)="enableListItem()">
                                                    <i class="fa fa-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Add list"></i>
                                                </a>
                                                <a href="javascript:void(0)" class="fs-6 px-2 text-muted">
                                                    <i class="fa fa-line-chart" data-bs-toggle="tooltip" data-bs-placement="top" title="Add chart"></i>
                                                </a>
                                                <a href="javascript:void(0)" class="fs-6 px-2 text-muted" (click)="editCurrentSection()">
                                                    <i class="fa fa-pencil" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </h5>
                                    <div class="mt-3 content-dv ooverflow-none py-2 px-3" 
                                    [ngClass]="{'border': editableFlag}" id="content-container" 
                                    [attr.contenteditable]="editableFlag"
                                    (keypress.ctrl)="trackElement($event)"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
          </div>
        </div>
      </form>
    </div>
</div>

<!-- Add Section Modal -->
<div class="modal fade" id="addSectionModal" tabindex="-1" aria-labelledby="addSectionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content px-4">
        <div class="modal-header border-bottom-0">
          <h5 class="modal-title" id="addSectionModalLabel">Add Section</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>
            <label for="" class="form-label">Section Title</label>
            <input type="text" class="form-control" [(ngModel)]="titleValue">
          </div>
        </div>
        <div class="modal-footer border-top-0">
          <a href="javascript:void(0)" class="text-decoration-none text-danger" data-bs-dismiss="modal"><i class="fa fa-close pe-2"></i> Close</a>
          <a href="javascript:void(0)" class="text-decoration-none ms-3" (click)="addSection()"><i class="fa fa-plus pe-2"></i>Add</a>
        </div>
      </div>
    </div>
  </div>
  <!-- End -->

  <!-- Add Sub Section Modal -->
<div class="modal fade" id="addSubSectionModal" tabindex="-1" aria-labelledby="addSubSectionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content px-4">
        <div class="modal-header border-bottom-0">
          <h5 class="modal-title" id="addSubSectionModalLabel">Add Sub Section</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>
            <label for="" class="form-label">Sub Section Title</label>
            <input type="text" class="form-control" [(ngModel)]="titleValue">
          </div>
        </div>
        <div class="modal-footer border-top-0">
          <a href="javascript:void(0)" class="text-decoration-none text-danger" data-bs-dismiss="modal"><i class="fa fa-close pe-2"></i> Close</a>
          <a href="javascript:void(0)" class="text-decoration-none ms-3" (click)="addSubSection()"><i class="fa fa-plus pe-2"></i>Add</a>
        </div>
      </div>
    </div>
  </div>
  <!-- End -->

<!-- Add Paragraph Modal -->
<div class="modal fade" id="addTextModal" tabindex="-1" aria-labelledby="addTextModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="addTextModalLabel">Add Text</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <label for="" class="form-label">Add Text</label>
          <textarea placeholder="Enter your text here" rows="3" type="text" class="form-control" [(ngModel)]="titleValue"></textarea>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <a href="javascript:void(0)" class="text-decoration-none text-danger" data-bs-dismiss="modal"><i class="fa fa-close pe-2"></i> Close</a>
        <a href="javascript:void(0)" class="text-decoration-none ms-3" (click)="addText()"><i class="fa fa-plus pe-2"></i>Add</a>
      </div>
    </div>
  </div>
</div>
<!-- End -->

<!-- Add Link Modal -->
<div class="modal fade" id="addLinkModal" tabindex="-1" aria-labelledby="addLinkModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="addLinkModalLabel">Add Link</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row col-md-12 p-0 mx-0">
          <div class="col-md-12">
            <div class="col-md-6">
              <label for="">Alternative Text</label>
              <input type="text" class="form-control" placeholder="Enter alt text">
            </div>

            <div class="d-flex justify-content-start ms-0 mt-2">
              <div>
                <label for="" class="form-label">Enter image URL or browse your local computer.</label>
              </div>
              <div class="form-check">
                <input type="file" class="d-none" id="insert-image" accept=".jpg, .jpeg, .png" (change)="uploadImage($event)">
                <a href="javascript:void(0)" (click)="fireBrowser()">Browser Local</a>
              </div>
            </div>
    
            <div class="col-md-12">
              <input type="text" class="form-control" [(ngModel)]="anchorLink" placeholder="Enter your link">
            </div>
          </div>

          <div class="col-md-12 mt-3">
            <div class="position-relative">
              <div class="mb-2">
                Image Preview Container
              </div>
              <div class="pic-container">
                <img *ngIf="imageUrl != '' && imageUrl != null" [src]="imageUrl" width="100%" height="100%" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <a href="javascript:void(0)" class="text-decoration-none text-danger" data-bs-dismiss="modal"><i class="fa fa-close pe-2"></i> Close</a>
        <a href="javascript:void(0)" class="text-decoration-none ms-3" (click)="addImage()"><i class="fa fa-plus pe-2"></i>Add</a>
      </div>
    </div>
  </div>
</div>
<!-- End -->

<!-- Add List Modal -->
<div class="modal fade" id="addListModal" tabindex="-1" aria-labelledby="addListModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="addTextModalLabel">Add List</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row ms-0">
          <div class="form-check col-md-3">
            <input class="form-check-input" type="radio" name="linklisttag">
            <label class="form-check-label" >
              With link
            </label>
          </div>
          <div class="col-md-9">
            <label for="" class="form-label">To what URL should this link go?</label>
            <input type="text" class="form-control" [(ngModel)]="anchorLink" placeholder="Enter your link">
          </div>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="linklisttag" checked>
          <label class="form-check-label">
            Without Link
          </label>
        </div>
        <div class="mt-3">
          <label for="" class="form-label">Add List</label>
          <textarea placeholder="Enter your text here" rows="3" type="text" class="form-control" [(ngModel)]="titleValue"></textarea>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <a href="javascript:void(0)" class="text-decoration-none text-danger" data-bs-dismiss="modal"><i class="fa fa-close pe-2"></i> Close</a>
        <a href="javascript:void(0)" class="text-decoration-none ms-3" (click)="addList()"><i class="fa fa-plus pe-2"></i>Add</a>
      </div>
    </div>
  </div>
</div>
<!-- End -->
