<div class="col-md-12 feedback">
  <div class="w-100">
    <div class="col-md-12 row d-flex justify-content-center">
      <div id="signin" class="signin-dv">
        <h3 class="mt-4 text-center text-warning">
          Create a New Account
        </h3>
        <div>
          Come join our community! Let's set up your account. Don't have and account?
          <a href="javascript:void(0)" (click)="backToHomePage()">Sign Up now</a>
        </div>
        <div class="col-md-12 row">
          <div class="col-md-5 p-4 signin-container">
            <h6 class="text-center mt-1 pt-1">
              You can also sign in with these
            </h6>
            <div class="text-center">


              <button class="btn btn-danger btn-block w-100 mb-2 mt-3" [disabled]="isGoogleLogin"
                (click)="onGoogleSignIn()">
                <i class="pe-2 fa"
                  [ngClass]="{'fa-spin fa-spinner': isGoogleLogin, 'fa-google fa-lg': !isGoogleLogin}"></i>
                {{ isGoogleLogin ? 'Signing plesae wait' : 'Sign in with Google' }}
              </button>


              <button class="btn btn-primary btn-block w-100 mt-2" [disabled]="isGitHubLogin">
                <i class="pe-2 fa"
                  [ngClass]="{'fa-spin fa-spinner': isGitHubLogin, 'fa-github fa-lg': !isGitHubLogin}"></i>
                {{ isGitHubLogin ? 'Signing plesae wait' : 'Sign in with GitHub' }}
              </button>

              <!-- 
              <button *ngIf="!logging" class="btn btn-danger btn-block w-60 mb-2 mt-3" (click)="onGoogleSignIn()">
                <i class="fa fa-google fa-lg" aria-hidden="true"></i> Sign in with Google
              </button>
              <button *ngIf="!logging" class="btn btn-primary btn-block w-60 mt-2">
                <i class="fa fa-github fa-lg" aria-hidden="true"></i> Sign in with GitHub
              </button> -->
            </div>
          </div>
          <div class="col-md-7 card p-4 signin-container d-none">
            <form [formGroup]="UserForm" (ngSubmit)="SignupUser()" class="mt-1">
              <div class="form-group">
                <label class="form-label">Email id</label>
                <input class="form-control" placeholder="Email id" name="UserId" formControlName="UserId">
              </div>
              <div class="form-group mt-3">
                <label class="form-label">Mobile No</label>
                <input class="form-control" placeholder="Mobile No" name="MobileNo" formControlName="MobileNo">
              </div>
              <div class="form-group mt-3">
                <label class="form-label">Password</label>
                <input class="form-control" placeholder="Password" name="Password" formControlName="Password">
              </div>
              <div class="form-group mt-3">
                <label class="form-label">Confirm Password</label>
                <input class="form-control" placeholder="ConfirmPassword" name="ConfirmPassword"
                  formControlName="ConfirmPassword">
              </div>
              <button class="btn btn-primary" [disabled]="isLoading" type="submit">
                <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-user-plus': !isLoading}"></i>
                {{ isLoading ? 'Signing' : 'Sign Up' }}
              </button>
            </form>
          </div>

          <div class="col-md-7 card p-4 signin-container">
            <form [formGroup]="UserForm" (ngSubmit)="LoginUser()" class="mt-1">
              <div class="form-group">
                <label class="form-label">Email or Mobile Number</label>
                <input class="form-control" placeholder="Email or Mobile Number" name="UserId" formControlName="UserId">
              </div>
              <div class="form-group mt-3">
                <label class="form-label">Password</label>
                <input class="form-control" type="password" placeholder="Password" name="Password"
                  formControlName="Password">
              </div>
              <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" checked>
                <label class="check_box">
                  By submitting the form you agree to our Terms of Service
                </label>
              </div>

              <button class="btn btn-primary" [disabled]="isLoading" type="submit">
                <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-sign-in': !isLoading}"></i>
                {{ isLoading ? 'Signing' : 'Sing In' }}
              </button>

            </form>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-10 d-flex justify-content-center">
      <div id="signup" class="col-md-6 dnone card p-4 mt-5">
        <h3 class="signup-space text-center text-warning">
          OnlineDataBuilder
        </h3>
        <form (submit)="SignupUser()" [formGroup]="UserForm">
          <div class="col-md-12 d-inline-block">
            <div class="form-group">
              <label for="UserName">Username</label>
              <input type="text" class="form-control" id="UserId" formControlName="UserId" placeholder="Enter username">
            </div>
            <div class="form-group">
              <label for="Password">Password</label>
              <input type="password" class="form-control" id="Password" formControlName="Password"
                placeholder="Enter password">
            </div>
            <div class="form-group">
              <label for="ConfirmPassword">Confirm Password</label>
              <input type="password" class="form-control" id="ConfirmPassword" formControlName="ConfirmPassword"
                placeholder="Configrm password">
            </div>
            <div class="form-group">
              <label for="shopname">Shop Name</label>
              <input type="text" class="form-control" id="ShopName" formControlName="ShopName"
                placeholder="Enter your shop full name">
            </div>
            <div class="form-group">
              <label for="MobileNo">Mobile no#.</label>
              <input type="text" class="form-control" id="MobileNo" formControlName="MobileNo"
                (keydown)="AllowMobilenoOnly($event)" placeholder="Enter mobile no #.">
            </div>
            <div class="form-group">
              <label for="registrationCode">Registration Code</label>
              <input type="text" class="form-control" id="registrationCode" formControlName="RegistrationCode"
                placeholder="Enter your registration code.">
            </div>
            <div class="form-group anc-signin">
              <a href="javascript:void()">
                <b>Login</b>
              </a>
            </div>
            <button color="warn" class="w-100 mb-2" type="submit">Sign
              Up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>