<div class="col-12 full-v main-container">
  <div class="x_panel mt-2">
    <div class="x_header">
      <div class="x_header_title">
        <h2> SALARY COMPONENT AND STRUCTURE</h2>
      </div>
    </div>
    <div class="px-1">
      <app-breadcrums></app-breadcrums>
    </div>
    <ng-container *ngIf="isPageReady">
      <div class="col-md-12 d-flex align-items-center justify-content-center">
        <div class="progress-step col-md-3 my-2">
          <div class="custom-progress" id="progressbar"></div>
          <div class="progress-step-item active" (click)="activePage(1)" data-title="RECURING COMPONENTS"></div>
          <div class="progress-step-item" (click)="activePage(2)" data-title="ADHOC COMPONENTS"></div>
        </div>
      </div>
      <div class="box px-3">
        <ng-container *ngIf="ActivatedPage == 1">
          <div class="d-flex flex-column">
            <div class="mb-3">
              <button class="btn btn-outline-success float-end" (click)="activePage(ActivatedPage+1)">Next <i
                  class="fa fa-arrow-right ps-1"></i></button>
            </div>
            <div class="col-md-12 d-flex justify-content-between">
              <div class="form-group">
                <button class="btn btn-outline-primary" (click)="addComponentModal()">
                  <i class="fa fa-plus pe-2"></i>
                  Add Component</button>
              </div>
              <div class="col-md-3">
                <div class="form-group has-search">
                  <span class="fa fa-search form-control-feedback"></span>
                  <input type="text" class="form-control" placeholder="Search" (keyup)="filterFixedComponent($event)" (keydown.esc)="resetFixedCompFilter($event)">
                </div>
              </div>
            </div>
          </div>
          <div class="t-table t-list t-border col-md-12 my-3">
            <div class="hide-bar bg-light"></div>
            <div class="t-head bg-light fw-bold">
              <div class="tr">
                <div class="th text-truncate ps-3 fe-2">
                  COMPONENT NAME
                </div>
                <div class="th text-truncate ps-3">
                  TYPE
                </div>
                <div class="th text-truncate ps-3">
                  TAX EXEMPT
                </div>
                <div class="th text-truncate ps-3">
                  REQUIRE DOCS
                </div>
                <div class="th text-truncate ps-3">
                  INCLUDE IN PAYSLIP
                </div>
                <div class="th text-truncate ps-3">
                  ACTIONS
                </div>
              </div>
            </div>
            <div class="t-body custom-height">
              <ng-container *ngIf="salaryComponentActiveFields.length > 0">
                <div class="tr py-2" *ngFor="let item of salaryComponentActiveFields">
                  <div class="td ps-3 text-truncate fe-2">
                    <div [ngSwitch]="item.IsOpted">
                      <div *ngSwitchCase="1">
                        <span class="badge bg-success me-2">ON</span>{{item.ComponentId}} ({{item.ComponentFullName}})
                      </div>
                      <div *ngSwitchDefault>
                        <span class="badge bg-danger me-2">OFF</span>{{item.ComponentId}} ({{item.ComponentFullName}})
                      </div>
                    </div>
                  </div>
                  <div class="td ps-3 text-truncate">
                    <div [ngSwitch]="item.ComponentTypeId">
                      <div *ngSwitchCase="2">Allowance</div>
                      <div *ngSwitchCase="3">Rembursment</div>
                      <div *ngSwitchCase="4">Reimursable</div>
                      <div *ngSwitchDefault>Application for all.</div>
                    </div>
                  </div>
                  <div class="td ps-3 text-truncate">
                    <div [ngSwitch]="item.TaxExempt">
                      <div *ngSwitchCase="1">
                        <b class="me-2">Yes</b>
                        <small class="ps-2 badge bg-primary">{{item.Section}}</small>
                      </div>
                      <div *ngSwitchDefault>
                        No
                        <small class="ps-2 text-muted d-block">{{item.Section}}</small>
                      </div>
                    </div>
                  </div>
                  <div class="td ps-3 text-truncate">
                    <ng-container *ngIf="item.RequireDocs == true">Yes</ng-container>
                    <ng-container *ngIf="item.RequireDocs == false">No</ng-container>
                  </div>
                  <div class="td ps-3 text-truncate">
                    <ng-container *ngIf="item.IncludeInPayslip == true">Yes</ng-container>
                    <ng-container *ngIf="item.IncludeInPayslip != true">No</ng-container>
                  </div>
                  <div class="td ps-3">
                    <a href="javascript:void(0)" (click)="openEditModal(item)" class="text-decoration-none"><i
                        class="fa fa-pencil pe-1"></i> Edit</a>
                    <a href="javascript:void(0)" (click)="inactiveComponentModal(item)"
                      class="ps-4 text-decoration-none text-danger"><i class="fa fa-trash pe-1"></i> Delete</a>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="salaryComponentActiveFields.length == 0">
                <div class="col-12 d-flex flex-column justify-content-center text-center p-5">
                  <h5>No component is available. Please add component using below button.</h5>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="ActivatedPage == 2">
          <div class="d-flex flex-column">
            <div class="mb-3">
              <button class="btn btn-outline-success float-end" (click)="activePage(ActivatedPage-1)"><i
                  class="fa fa-arrow-left pe-1"></i> Back</button>
            </div>
            <div class="col-md-12 d-flex justify-content-between">
              <div class="form-group">
                <button class="btn btn-outline-primary" (click)="addAdhocComponentModal()">
                  <i class="fa fa-plus pe-2"></i>
                  Add Component</button>
              </div>
              <div class="col-md-3">
                <div class="form-group has-search">
                  <span class="fa fa-search form-control-feedback"></span>
                  <input type="text" class="form-control" placeholder="Search"
                    (keydown.enter)="filterAdHocComponent($event)" (keydown.esc)="resetAdHocFilter($event)">
                </div>
              </div>
            </div>
          </div>
          <div class="t-table t-list t-border col-md-12 my-3">
            <div class="hide-bar bg-light"></div>
            <div class="t-head bg-light fw-bold">
              <div class="tr">
                <div class="th text-truncate ps-3 fe-2">
                  COMPONENT NAME
                </div>
                <div class="th text-truncate ps-3">
                  TYPE
                </div>
                <div class="th text-truncate ps-3">
                  TAX EXEMPT
                </div>
                <div class="th text-truncate ps-3">
                  REQUIRE DOCS
                </div>
                <div class="th text-truncate ps-3">
                  INCLUDE IN PAYSLIP
                </div>
                <div class="th text-truncate ps-3">
                  ACTIONS
                </div>
              </div>
            </div>
            <div class="t-body custom-height">
              <ng-container *ngIf="allAdHocComponent.length > 0">
                <div class="tr py-2" *ngFor="let item of allAdHocComponent">
                  <div class="td ps-3 text-truncate fe-2">
                    <div [ngSwitch]="item.IsActive">
                      <div *ngSwitchCase="1">
                        <span class="badge bg-success me-2">ON</span>{{item.ComponentId}} ({{item.ComponentFullName}})
                      </div>
                      <div *ngSwitchDefault>
                        <span class="badge bg-danger me-2">OFF</span>{{item.ComponentId}} ({{item.ComponentFullName}})
                      </div>
                    </div>
                  </div>
                  <div class="td ps-3 text-truncate">
                    <div [ngSwitch]="item.AdHocId">
                      <div *ngSwitchCase="1">Allowance</div>
                      <div *ngSwitchCase="2">Bonus</div>
                      <div *ngSwitchCase="3">Deduction</div>
                    </div>
                  </div>
                  <div class="td ps-3 text-truncate">
                    <div [ngSwitch]="item.TaxExempt">
                      <div *ngSwitchCase="1">
                        <b class="me-2">Yes</b>
                        <small class="ps-2 badge bg-primary">{{item.Section}}</small>
                      </div>
                      <div *ngSwitchDefault>
                        No
                        <small class="ps-2 text-muted d-block">{{item.Section}}</small>
                      </div>
                    </div>
                  </div>
                  <div class="td ps-3 text-truncate">
                    <ng-container *ngIf="item.RequireDocs == true">Yes</ng-container>
                    <ng-container *ngIf="item.RequireDocs == false">No</ng-container>
                  </div>
                  <div class="td ps-3 text-truncate">
                    <ng-container *ngIf="item.IncludeInPayslip == true">Yes</ng-container>
                    <ng-container *ngIf="item.IncludeInPayslip != true">No</ng-container>
                  </div>
                  <div class="td ps-3">
                    <a href="javascript:void(0)" (click)="openEditModal(item)" class="text-decoration-none"><i
                        class="fa fa-pencil pe-1"></i> Edit</a>
                    <a href="javascript:void(0)" (click)="inactiveComponentModal(item)"
                      class="ps-4 text-decoration-none text-danger"><i class="fa fa-trash pe-1"></i> Delete</a>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="salaryComponentActiveFields.length == 0">
                <div class="col-12 d-flex flex-column justify-content-center text-center p-5">
                  <h5>No component is available. Please add component using below button.</h5>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngIf="!isPageReady">
      <div class="py-5 my-5">
        <h6 class="fw-bold fs-3 text-center text-dark">Salary Component and Structure are loading</h6>
        <div class="fs-5 pb-5 py-5 d-flex flex-column justify-content-center align-items-center">
          <div class="col-md-3 modal-container f-12 text-center cog-wheel">
            <img src="assets/images/cog.gif" alt="" />
            <h6 class="modal-title title-message">
              Please Wait ........
            </h6>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!--Add Component Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="addComponentModal" tabindex="-1"
  aria-labelledby="addComponentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="addComponentModalLabel">Add Salary Component</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col-md-3 float-end">
          <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Search" oninput="this.value = this.value.toUpperCase()" (keyup)="filterComponent($event)">
          </div>
        </div>
        <!-- <form [formGroup]="addComponentForm" *ngIf="addComponentForm"> -->
        <div class="t-table mt-5 t-list t-border col-md-12 my-3">
          <div class="hide-bar bg-light"></div>
          <div class="t-head bg-light fw-bold">
            <div class="tr">
              <div class="th  fe-3 text-truncate ps-3">
                COMPONENT NAME
              </div>
              <div class="th text-truncate ps-3">
                TYPE
              </div>
              <div class="th text-truncate ps-3">
                TAX EXEMPT
              </div>
              <div class="th text-truncate ps-3">
                REQUIRE DOCS
              </div>
              <div class="th text-truncate ps-3">
                ACTIONS
              </div>
            </div>
          </div>
          <div class="t-body custom-height">
            <div class="tr py-2" *ngFor="let item of salaryComponentFields">
              <div class="td fe-3 ps-3 text-truncate">
                {{item.ComponentId}} ({{item.ComponentFullName}})
              </div>
              <div class="td ps-3 text-truncate">
                <ng-container [ngSwitch]="item.ComponentTypeId">
                  <ng-container *ngSwitchCase="2">Allowance</ng-container>
                  <ng-container *ngSwitchCase="1">Fixed</ng-container>
                  <ng-container *ngSwitchCase="3">Rembursment</ng-container>
                  <ng-container *ngSwitchCase="4">Reimursable</ng-container>
                </ng-container>
              </div>
              <div class="td ps-3 text-truncate">
                <ng-conatiner [ngSwitch]="item.TaxExempt">
                  <ng-conatiner *ngSwitchCase="true">
                    Tax Exempt
                    <small class="text-muted d-block">Section {{item.Section}}</small>
                  </ng-conatiner>
                  <ng-conatiner *ngSwitchCase="false">Taxable</ng-conatiner>
                </ng-conatiner>
              </div>
              <div class="td ps-3 text-truncate">
                {{item.RequireDocs}}
              </div>
              <!-- <div class="td ps-3 text-truncate">
                  {{item.IsAllowtoOverride}}
                </div> -->
              <div class="td ps-3">
                <input class="form-check-input" [checked]="item.IsOpted == true" type="checkbox"
                  (click)="addComponent($event, item)">
              </div>
            </div>
          </div>
        </div>
        <!-- </form> -->
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary-c" (click)="submitComponents()"><i class="fa fa-plus pe-2"></i>
          Add</button>
      </div>
    </div>
  </div>
</div>
<!-- End -->


<!-- Edit Salary Component Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="editSalaryMoadl" tabindex="-1"
  aria-labelledby="editSalaryMoadlLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title ps-4" id="editSalaryMoadlLabel">Edit Salary Component- {{currentSalaryComponent.Type}}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body px-5">
        <form [formGroup]="editSalaryComponent">
          <div class="form-check my-2">
            <input class="form-check-input" formControlName="IsOpted" type="checkbox" id="flexCheckChecked">
            <label class="form-check-label" for="flexCheckChecked">
              Activate this component
            </label>
          </div>
          <div class="row">
            <div class="col-md-5 my-2">
              <label for="" class="form-label">NAME OF THE COMPONENT</label>
              <input type="text" class="form-control" formControlName="ComponentName" readonly>
            </div>
            <div class="col-md-5 my-2">
              <label for="" class="form-label">MAXIMUM LIMIT PER ANNUM</label>
              <input type="text" class="form-control" formControlName="MaxLimit">
            </div>
          </div>
          <div>
            <blockquote>
              <ul class="list-border-0 list-group">
                <ng-container *ngIf="!isFixedType">
                  <li class="list-group-item pb-0 ps-0">
                    <div class="d-flex align-items-center">
                      <input class="form-check-input me-1" type="checkbox" formControlName="TaxExempt">
                      This component is Tax exempt (not taxable). Income tax Section
                      <div class="col-md-2 d-inline-block ms-3">
                        <input type="text" class="form-control form-control-sm" formControlName="Section">
                      </div>
                      <i class="fa fa-exclamation-circle text-secondary ps-2"></i>
                    </div>
                    <ul class="list-border-0 list-group">
                      <li class="list-group-item pt-3">
                        <input type="checkbox" class="form-check-input" formControlName="RequireDocs">
                        Required submission of document proof (or bills) to claim for tax exemption.
                      </li>
                    </ul>
                  </li>
                  <li class="list-group-item ps-0">
                    <input class="form-check-input me-1" type="checkbox" aria-label="...">
                    Include this component in arrears calculation. <i
                      class="fa fa-exclamation-circle text-secondary ps-2"></i>
                  </li>
                  <li class="list-group-item ps-0">
                    <input class="form-check-input" type="checkbox">
                    Loss of pay due to employee attendance will affect this component..
                  </li>
                </ng-container>
                <li class="list-group-item pt-3 d-flex align-items-center ps-0">
                  <input type="checkbox" class="form-check-input me-1" formControlName="IncludeInPayslip">
                  Include component in Payslip (and included from gross earnings calculation in Payslip)
                </li>
                <li class="list-group-item ps-0">
                  <input class="form-check-input" type="checkbox" formControlName="IsAllowtoOverride">
                  Allow this component value to be customized and overridden at employee level.
                </li>
              </ul>
            </blockquote>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          <i class="fa pe-2 fa-close"></i>
          Close</button>
        <button class="btn btn-primary-c" [disabled]="isLoading" (click)="updateChanges()">
          <i class="fa pe-2" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-caret-square-o-right': !isLoading}"></i>
          {{ isLoading ? 'Wait' : 'Update' }}
        </button>
      </div>
    </div>
  </div>
</div>

<!--Deactive Salary Component Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="inactiveComponentModal" tabindex="-1"
  aria-labelledby="inactiveComponentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="inactiveComponentModalLabel">In Active Salary Component</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5>Are you want to inactive</h5>
        <h5 class="text-danger">{{inactiveComponentDeatil.ComponentId}} - {{inactiveComponentDeatil.ComponentFullName}}
        </h5>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa fa-close pe-2"></i>
          Close</button>
        <button class="btn btn-primary-c" [disabled]="isLoading" (click)="inactiveComponent()">
          <i class="fa pe-2" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-caret-square-o-right': !isLoading}"></i>
          {{ isLoading ? 'Wait' : 'Inactive' }}
        </button>
      </div>
    </div>
  </div>
</div>
