<div class="container ch-100 d-flex align-items-center justify-content-center">
    <div class="row col-md-12">
        <div class="col-md-6">
            <h2 class="fw-bold mb-4 text-dark">Why a HR Management System is Important</h2>
            <ul class="fs-5 text-dark">
                <li class="py-2">Streamlines HR processes, boosting operational efficiency.</li>
                <li class="py-2">Enhances accessibility to crucial HR information from anywhere, anytime.</li>
                <li class="py-2">Reduces errors and ensures accuracy in data management and reporting.</li>
                <li class="py-2">Lowers administrative costs associated with paperwork and storage.</li>
                <li class="py-2">Provides robust security measures for sensitive employee data.</li>
                <li class="py-2">Adapts easily to the organization's growth and changing needs.</li>
                <li class="py-2">Seamlessly integrates with other software systems for efficiency.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="assets/images/hrmanagement.png" class="img-thumbnail" alt="hrmanaagement">
        </div>
    </div>
</div>

<app-footer></app-footer>