<div class="col-12 p-0 full-v">
    <div class="col-12 u-header curren-bg row m-0">
        <div class="col-md-4 row p-0">
            <div class="ml-2 pt-1">
                <button class="btn btn-sp btn-sm btn-lightorange">New</button>
            </div>
            <div class="pt-1">
                <button class="btn btn-sp btn-sm btn-lightdark">Runner</button>
            </div>
            <div class="pt-1">
                <button class="btn btn-sp btn-sm btn-lightdark">Import</button>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="d-inline-block c-tab">
                <a class="a-tab tab-active">
                    <span>Builder</span>
                </a>
                <a class="a-tab">
                    <span>Library</span>
                </a>
            </div>
        </div>
        <div class="col-md-4 row d-r p-0 m-0">
            <div class="pt-1">
                <button class="btn btn-sp btn-sm btn-lightorange">New</button>
            </div>
            <div class="pt-1">
                <button class="btn btn-sp btn-sm btn-lightdark">Runner</button>
            </div>
            <div class="pt-1">
                <button class="btn btn-sp btn-sm btn-lightdark">Import</button>
            </div>
        </div>
    </div>
    <div class="col-12 row p-0 m-0">
        <div class="col-md-3 left-panel d-sm-none d-md-block p-0">
            <div class="filter-box">
                <div class="col-12 side-panel-top"></div>
                <div class="col-12 row side-panel-bottom m-0">
                    <div class="col-md-10 p-0">Saved Url</div>
                    <div class="col-md-2 text-center p-0">
                        <a href="javascript:void(0)" class="anc" (click)="ReloadPage()">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="border-top menu-container">
                <ng-container *ngFor="let item of savedUrl">
                    <div (click)="getCurrentUrl(item.savedUrlId)" class="url-row f-s14 col-12 p-0 m-0 row">
                        <div class="action-row action-row col-12 p-0 row m-0">
                            <a class="col-4" (click)="addNewUrl()">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                            <a class="col-4" (click)="deleteUrl()">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                            <a class="col-4" (click)="getOptions()">
                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="col-2 a-method">{{item.method}}</div>
                        <div class="pl-0 w-break col-10">{{item.url}}</div>
                    </div>
                </ng-container>
            </div> 
        </div>
        <div class="right-panel col-md-9 mt-4 p-0 pt-2">
            <div class="right-panel___url-header col-md-12 row m-0 ps-2 pe-4">
                <div class="col-md-9 col-sm-12 pl-0">
                    <div class="input-group mb-3">
                        <div class="input-group-text l-curve dropdown">
                            <button class="f-s14 method-btn btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              POST
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                        <input type="text" placeholder="Enter your url here" [(ngModel)]="currentSavedUrlItem.url" class="filter-input form-control f-s14">
                        <div class="input-group-append">
                            <span class="input-group-text pl-2 pr-2">Params</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 row m-0 p-0">
                    <div class="dropdown col-6">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          Dropdown button
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                    <div class="dropdown col-6">
                        <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          Dropdown button
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>

                <div class="right-panel__param-body">
                    <!-- Tabs navs -->
                    <ul class="nav tab-link" id="tap-header" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link inactive active"
                                (click)="manageTabs($event, 'resources')"
                                >Resources</a
                            >
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link inactive"
                                (click)="manageTabs($event, 'authorization')"
                                >Authorization</a
                            >
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link inactive"
                                (click)="manageTabs($event, 'headers')"
                                >Headers</a
                            >
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link inactive"
                                (click)="manageTabs($event, 'body')"
                                >Body</a
                            >
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link inactive"
                                (click)="manageTabs($event, 'pre-request-script')"
                                >Pre-request-Script</a
                            >
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link inactive"
                                (click)="manageTabs($event, 'tests')"
                                >Tests</a
                            >
                        </li>
                    </ul>
                    <!-- Tabs navs -->
                </div>
            </div>
            <div class="col-12 right-panel__body">
                <div class="tab-content">
                    <ng-container [ngSwitch]="true">
                        <div class="" *ngSwitchCase="currentTabName === 'resources'">
                            <ul class="list-group col-md-12">
                                <div class="col-12 mt-4">
                                    <h2>Resources</h2>
                                    <div class="mt-2">
                                        <p>Use below predefined resources more than 1000 records.
                                            <small>Event you can customiz it also.</small>
                                        </p>
                                    </div>
                                </div>
                                <ng-container *ngFor="let r of resourcesList">
                                    <li class="row" >
                                        <div class="col-md-2 text-right">
                                            <a href="javascript:void(0)" class="text-underline">
                                                <span>/{{r.title}}</span>
                                            </a>
                                        </div>
                                        <div class="col-md-10 muted-text">
                                            <span>{{r.description}}</span>
                                        </div>
                                    </li>
                                </ng-container> 
                                <div class="col-12 mt-4">
                                    <b class="pr-2">Note:</b> 
                                    <span>resources have relations. 
                                        For example: posts have many comments, albums have many photos, 
                                        ... see guide for the full list.
                                    </span>
                                </div>                               
                            </ul>
                            <div class="col-md-12 mt-4">
                                <ul class="list-group col-md-8">
                                    <div class="col-12 mt-4">
                                        <h2>Route based</h2>
                                        <div class="mt-2">
                                            <p>Use below predefined resources more than 1000 records.
                                                <small>Event you can customiz it also.</small>
                                            </p>
                                        </div>
                                    </div>
                                    <ng-container *ngFor="let r of routeList">
                                        <li class="row" >
                                            <div class="col-md-2 text-right">
                                                <a href="javascript:void(0)" class="text-underline">
                                                    <span>/{{r.title}}</span>
                                                </a>
                                            </div>
                                            <div class="col-md-10 muted-text">
                                                <span>{{r.description}}</span>
                                            </div>
                                        </li>
                                    </ng-container>                                
                                </ul>
                            </div>
                        </div>
                        <div class="" *ngSwitchCase="currentTabName === 'authorization'">
                            Authorization Tab
                        </div>
                        <div class="" *ngSwitchCase="currentTabName === 'headers'">
                            Headers Tab
                        </div>
                        <div class="" *ngSwitchCase="currentTabName === 'body'">
                            Body
                        </div>
                        <div class="" *ngSwitchCase="currentTabName === 'pre-request-script'">
                            Pre-Request-Script
                        </div>
                        <div class="" *ngSwitchCase="currentTabName === 'tests'">
                            Tests Tab
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>