.t-body {
  max-height: 49vh !important;
}

.cell-wrapper {
  padding-left: .6rem;
  padding-right: .6rem;
}

.t-table .t-head,
.t-body {
  overflow-y: auto;
}

.t-filter {
  justify-content: flex-start !important;
}

.custom-height {
  height: 43vh !important;
}


.hide-bar {
  height: 3.35rem !important;
}

.form-control[readonly] {
  background-color: #e9ecef !important;
  opacity: 1 !important;
}

.active-payroll {
  border: 2px solid var(--primary) !important;
}

.wrapper {
  overflow-x:scroll;
  width:100%;
}
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  background: white;
}
tr > td{
  border-top: 1px solid #ccc;
}

th {
  color: #222 !important;
}
td, th {
  vertical-align: top;
  text-align: left;
  padding: 10px 5px;
}
.fix {
  position:sticky;
  background: white;
}
.fix:first-child {
  left:0;
  width:19vw;
}

::-webkit-scrollbar {
  width: 7px !important;
  height: 8px !important;
}
