<div class="col-12 full-v main-container">
  <div>
    <form>
      <div class="x_panel mh-auto">
        <div class="x_header">
          <div class="x_header_title">
            <h2>
              Company Detail
              <small>Compnay important details like: Location, Business type etc.</small>
              <i class="fa text-dark edit-icon ps-2"></i>
            </h2>
          </div>
        </div>
        <div class="px-1">
          <app-breadcrums></app-breadcrums>
        </div>
        <div class="x_content mt-4" *ngIf="isLoaded">
          <form [formGroup]="organizationForm" autocomplete="off" class="col-md-12 row">
            <div class="mb-5">
              <div class="col-12 row m-0">
                <div class="col-md-4">
                  <div class="x_header_title position-relative">
                    <div class="img-container-sq" (change)="uploadorganizationLogo($event)">
                      <div class="img-container__box">
                        <img [attr.src]="profileURL" alt="User">
                        <input type="file" id="uploadocument" class="d-none" accept=".jpg, .jpeg, .png"
                          formControlName="ProfileImgPath" />
                        <div class="img-container__btn mt-2">
                          <button class="btn btn-outline-success form-control"
                            (click)="fireBrowserFile()">Browse</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-8 p-0">
                  <div class="col-md-12 row">
                    <div class="col-md-4">
                      <label class="form-label">Company Name *</label>
                      <input placeholder="Organization name" class="form-control" name="CompanyName" transform="upper"
                        formControlName="CompanyName"
                        [ngClass]="{'error-field': submitted && f.CompanyName.errors !== null && f.CompanyName.errors.required}" />
                    </div>
                    <div class="col-md-4">
                      <label class="form-label">Primary No.# *</label>
                      <input class="form-control" placeholder="Primary Phone No.#" OnlyNumber="11"
                        [ngClass]="{'error': submitted && f.PrimaryPhoneNo.errors !== null && f.PrimaryPhoneNo.errors.required}"
                        name="PrimaryPhoneNo" formControlName="PrimaryPhoneNo" />
                    </div>
                    <div class="col-md-4 pb-3">
                      <label class="form-label">Email Id *</label>
                      <input class="form-control" placeholder="Email Id"
                        [ngClass]="{'error': submitted && f.Email.errors !== null && f.Email.errors.required}"
                        name="Email" formControlName="Email" />
                    </div>
                  </div>

                  <div class="col-md-12 row">
                    <div class="col-md-4 mb-3">
                      <label class="form-label">Alternate No.#</label>
                      <input class="form-control" placeholder="Alternate Phone No.#" name="SecondaryPhoneNo" OnlyNumber="11"
                        formControlName="SecondaryPhoneNo" />
                    </div>
                    <div class="col-md-4 mb-3">
                      <label class="form-label">FAX No.# (optional)</label>
                      <input class="form-control" placeholder="FAX No.#" name="Fax" transform="upper"
                        formControlName="Fax" />
                    </div>
                    <div class="col-md-4 mb-3">
                      <label class="form-label">Mobile No.# (optional)</label>
                      <input class="form-control" placeholder="Mobile No.#" name="MobileNo" formControlName="MobileNo"
                        OnlyNumber="11" />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12"></div>

            <div class="col-12 row m-0">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_header">
                    <div class="x_header_title">
                      <h2>Organization Other Detail<small>
                          Other detail like Address, State etc.</small></h2>
                    </div>
                  </div>
                  <div class="col-md-12 mb-3 mb-3 row">
                    <div class="col-md-4 mt-4">
                      <label class="form-label">Country</label>
                      <input placeholder="Country" class="form-control" name="Country" transform="upper" formControlName="Country" />
                    </div>
                    <div class="col-md-4 mt-4">
                      <label class="form-label">State</label>
                      <input placeholder="State" class="form-control" name="State" transform="upper" formControlName="State" />
                    </div>
                    <div class="col-md-4 mt-4">
                      <label class="form-label">City</label>
                      <input placeholder="City" class="form-control" name="City" transform="upper" formControlName="City" />
                    </div>
                    <div class="col-md-4 mt-4">
                      <label class="form-label">Pincode</label>
                      <input placeholder="Pincode" class="form-control" name="Pincode" OnlyNumber="6"
                        formControlName="Pincode" />
                    </div>
                    <div class="col-md-4 mt-4">
                      <label class="form-label">Address Line 1</label>
                      <input placeholder="Address Line 1" class="form-control" name="FirstAddress" transform="upper"
                        formControlName="FirstAddress" />
                    </div>
                    <div class="col-md-4 mt-4">
                      <label class="form-label">Address Line 2</label>
                      <input placeholder="Address Line 2" class="form-control" name="SecondAddress" transform="upper"
                        formControlName="SecondAddress" />
                    </div>
                    <div class="col-md-4 mt-4">
                      <label class="form-label">Address Line 3</label>
                      <input placeholder="Address Line 3" class="form-control" name="ThirdAddress" transform="upper"
                        formControlName="ThirdAddress" />
                    </div>
                    <div class="col-md-4 mt-4">
                      <label class="form-label">Address Line 4</label>
                      <input placeholder="Address Line 4" class="form-control" name="FourthAddress" transform="upper"
                        formControlName="FourthAddress" />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 row m-0 pt-5">
              <div class="col-md-12 button groups text-end">
                <div class="btn-group">
                  <button class="btn btn-outline-danger" (click)="reset()">Reset</button>
                </div>
                <div class="btn-group ms-2">
                  <button class="btn btn-primary-c" [disabled]="isLoading" (click)="generate()">
                    <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-plus-square-o': !isLoading}"></i>
                    {{ isLoading ? 'Processing' : 'Submit' }}
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </form>
  </div>
</div>
