<div class="main-container">
  <form autocomplete="off">
    <div class="col-12 x_panel row m-0 p-0 mb-4">
      <div class="x_header">
        <div class="x_header_title">
          <h2 class=" fw-bold text-dark">Attendance</h2>
        </div>
      </div>
      <div class="px-1 d-flex">
        <div class="col-6">
          <app-breadcrums></app-breadcrums>
        </div>
        <div class="col-6">
          <div *ngIf="isFormReady" class="text-dark text-dark d-flex justify-content-end">
            <span class="fw-bold">Timesheet: From&nbsp;</span> {{fromDate | date}}
            <span class="fw-bold">&nbsp; to &nbsp; </span> {{toDate -1 | date}}.
          </div>
        </div>
      </div>

      <div class="col-md-4" *ngIf="isEmployeesReady">
        <label class="form-label">Select Employer</label>
        <app-iautocomplete [data]="clientDetail" (OnSelect)="presentWeek()"  [(ngModel)]="clientId" [ngModelOptions]="{standalone: true}">
        </app-iautocomplete>
      </div>
      <div class="col-md-8 elem-row justify-content-end">
        <div class="elem-row-item-base justify-content-end ps-2">
          <a href="javascript:void(0)" (click)="getAllPendingTimesheet()"
            class="p-2 p-2 badge bg-success text-light head-badge fs-6">
            <i class="fa fa-calendar-times-o pe-1" aria-hidden="true"></i>
            My pending timesheet
          </a>
        </div>
      </div>  

      <ng-container [ngSwitch]="divisionCode">
        <ng-container *ngSwitchCase="2">
        <div class="pt-4 timesheet-form">
          <div class="x_header">
            <div class="x_header_title row">
              <div class="text-dark text-dark d-flex flex-column justify-content-center">
                <h2>Find below pending timesheet list: <small>For the present month.</small></h2>
              </div>
            </div>
          </div>
          <div class="x_content m-4 d-flex flex-column justify-content-between">
            <div class="d-flex" *ngFor="let d of weekList;let index = index;">
              <p class="pending-list me-2">{{index + 1.}}</p>
              <a href="javascript:void(0)" (click)="getPendingWeek(d.days[0].date, d.days[6].date)"
                class="pending-list">
                <b>Your pending timesheet from:</b>
                <span>{{d.days[0].date | date}} - {{d.days[6].date | date}}</span>
              </a>
            </div>

            <div class="d-flex flex-row justify-content-center mt-5">
              <p class="text-muted pending-info">{{PendingAttendacneMessage}}</p>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchDefault>
        <ng-container [ngSwitch]="isFormReady">
          <div *ngSwitchCase="true">
            <div  class="pt-4 timesheet-form">              
              <div class="x_content mt-4">
                <div>
                  <table class="table-middle table table-hover">
                    <thead>
                      <tr>
                        <th class="">Timesheet Date</th>
                        <th class="">Status</th>
                      </tr>
                    </thead>
                    <tbody >
                      <tr *ngFor="let item of currentMonthWeek; let i = index">
                        <td>
                          <a href="javascript:void(0)" class="text-dark" (click)="viewTimeSheet(i)">
                            <span class="fw-bold pe-1">Timesheet From</span>{{item.startWeek | date}} <span class="fw-bold px-1">to</span>{{item.endWeek | date}}
                          </a>
                        </td>
                        <td>
                          <span *ngIf="item.status == 2"><i class="fa fa-exclamation text-warning pt-1 pb-1 pe-2" aria-hidden="true"></i>Penidng</span>
                          <span *ngIf="item.status == 9"><i class="fa fa-check-square-o text-success pt-1 pb-1 pe-2" aria-hidden="true"></i> Approved</span>
                          <span *ngIf="item.status == 6 "><i class="fa fa-close text-danger pt-1 pb-1 pe-2" aria-hidden="true"></i> Not Submitted</span>
                          <span *ngIf="item.status == 5 "><i class="fa fa-ban text-danger pt-1 pb-1 pe-2" aria-hidden="true"></i> Rejected</span>
                          <span class="text-danger"  *ngIf="item.status == -1">
                            <i class="fa fa-close text-danger pt-1 pb-1 pe-2" aria-hidden="true"></i>
                            Readonly
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div *ngIf="isBlocked" class="mt-5 d-flex flex-column justify-content-center">
                  <div class="text-center">
                    <h2>Instruction</h2>
                    <div>
                      <p>
                        Timesheet for the week you are requesting is currently blocked.
                        As per company guide lines you need to submit your timesheet before end of every week.
                      </p>
                      <p>If you want to raise a request to admin please leave your comments and submit it by using below form.</p>
                    </div>
                    <div class="col-12">
                      <div class="mt-2">
                        <button class="btn btn-info btn-sm">
                          <i class="fa fa-paper-plane-o pe-2" aria-hidden="true"></i>
                          Request
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngSwitchDefault class="">
            <div class="x_panel d-flex flex-direction-column justify-content-center">
              <div class="x_content">
                <p *ngIf="NoClient" class="h3 text-muted text-center">
                  Uhh!!! No client allocated on your name. Please contact your maanager.
                </p>
                <p *ngIf="!NoClient" class="h3 text-muted text-center">
                  Please select week date to get timesheet.
                </p>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
      </ng-container>
    </div>
  </form>
</div>

<!-- View Timesheet Modal -->
<div class="modal fade" id="timesheetModal" tabindex="-1" aria-labelledby="timesheetModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="timesheetModalLabel">Timesheet Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" >
        <ng-container *ngIf="viewTimesheetWeek != null">
          <div [formGroup]="timesheetForm" *ngIf="timesheetForm" class="x_panel pt-4 timesheet-form">
            <div class="d-flex flex-row justify-content-between">
              <div class="text-dark text-dark d-flex flex-column justify-content-center">
                <div>
                  <span class="fw-bold">Timesheet: From&nbsp;</span> {{viewTimesheetWeek.startWeek | date}}
                  <span class="fw-bold">&nbsp; to &nbsp; </span> {{viewTimesheetWeek.endWeek | date}}.
                </div>
              </div>
            </div>
            <div class="x_content mt-4">
              <table class="table-middle table table-hover">
                <thead>
                  <tr>
                    <th>DAY</th>
                    <th class="">DATE</th>
                    <th class="">TIMESHEET VISUAL</th>
                    <th class="">EFFECTIVE HOURS</th>
                    <th class="">STATUS</th>
                  </tr>
                </thead>
                <tbody formArrayName="timesheetArray">
                  <tr *ngFor="let item of timesheetForm.get('timesheetArray')['controls']; let i = index;">
                    <ng-container >
                      <ng-container [formGroupName]="i">
                        <td [ngClass]="{'highlighted-column': item.get('TimesheetStatus').value == 11 || item.get('TimesheetStatus').value == -1}">{{item.get('PresentDate').value | date: 'EEE'}}</td>
                        <td [ngClass]="{'highlighted-column': item.get('TimesheetStatus').value == 11 || item.get('TimesheetStatus').value == -1}">{{item.get('PresentDate').value | date}}</td>
                        <td [ngClass]="{'highlighted-column': item.get('TimesheetStatus').value == 11 || item.get('TimesheetStatus').value == -1}"></td>
                        <td [ngClass]="{'highlighted-column': item.get('TimesheetStatus').value == 11 || item.get('TimesheetStatus').value == -1}">
                          <div class="center-badge d-flex justify-content-start">
                            <input type="number" class="border-0 ms-1 text-start" placeholder="HH" min="0" max="23" [readonly]="item.get('TimesheetStatus').value == 11 || item.get('TimesheetStatus').value == -1" [ngClass]="{'highlighted-column': item.get('TimesheetStatus').value == 11 || item.get('TimesheetStatus').value == -1}"
                              [attr.value]="weekDaysList[i] > 5 === 00" (keyup.enter)="manageHourField(i, $event)"
                              formControlName="UserHours"
                              onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                            <span>&nbsp;:</span>
                            <input type="number" class="border-0 text-end" placeholder="MM" min="0" max="59" [readonly]="item.get('TimesheetStatus').value == 11 || item.get('TimesheetStatus').value == -1" [ngClass]="{'highlighted-column': item.get('TimesheetStatus').value == 11 || item.get('TimesheetStatus').value == -1}"
                              (keyup.enter)="manageMinField(i, $event)" formControlName="UserMin"
                              onkeypress="return event.charCode >= 48 && event.charCode <= 57">

                            <div ngbDropdown class="d-none dropright">
                              <input type="text" class="form-control input-overflow" formControlName="UserComments"
                                placeholder="Comments" (focus)="takeComments($event)">
                              <div class="p-0 position-absolute d-none textarea-box">
                                <textarea class="form-control" (blur)="captureComments($event)"
                                  placeholder="enter your comments" formControlName="UserComments">
                                </textarea>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td [ngClass]="{'highlighted-column': item.get('TimesheetStatus').value == 11 || item.get('TimesheetStatus').value == -1}">
                          <ng-container [ngSwitch]="item.get('TimesheetStatus').value">
                            <span class="" *ngSwitchCase="2">
                              <i class="fa fa-exclamation text-warning pt-1 pb-1 pe-2" aria-hidden="true"></i>
                              Pending
                            </span>
                            <span class="" *ngSwitchCase="6">
                              <i class="fa fa-close text-danger pt-1 pb-1 pe-2" aria-hidden="true"></i>
                              Not Submitted
                            </span>
                            <span class="" *ngSwitchCase="5">
                              <i class="fa fa-ban text-danger pt-1 pb-1 pe-2" aria-hidden="true"></i>
                              Rejected
                            </span>
                            <span class="" *ngSwitchCase="9">
                              <i class="fa fa-check-square-o text-success pt-1 pb-1 pe-2" aria-hidden="true"></i>
                              Approved
                            </span>
                            <span class="text-danger" *ngSwitchDefault>
                              <i class="fa fa-close text-danger pt-1 pb-1 pe-2" aria-hidden="true"></i>
                              Readonly
                            </span>
                          </ng-container>
                        </td>
                      </ng-container>
                    </ng-container>
                  </tr>
                  <tr>
                    <td >
                      <span class="fw-bold">Final</span>
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                      <div class="fw-bold">{{totalHrs}} : {{totalMins}}</div>
                    </td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary-c btn-sm" [disabled]="isBlocked || isSubmitted" (click)="onSubmit()">
          <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-sign-in': !isLoading}"></i>
          {{ isLoading ? 'Saving' : 'Submit' }}
        </button>
      </div>
    </div>
  </div>
</div>
