.IT-saving-msg {
  border-left: 5px solid #ff5500b3;
  color: #664d03;
  background-color: #fff3cd87;
}

.donut-month {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.active {
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: rgb(47, 158, 175);
  bottom: -30%;
  left: 0;
}

.takehome-box {
 border-left: 5px solid rgb(33, 85, 205);
}

.deduction-box {
 border-left: 5px solid rgb(168, 92, 249);
}

.grosspay-box {
 border-left: 5px solid rgb(98, 195, 243);
}
