<div class="col-md-12 d-flex align-items-center toast-container" [ngClass]="className" (click)="closeToast()">
  <ng-container *ngIf="className == 'error-toast'">
    <div class="px-2">
      <i class="fa fa-ban fa-lg text-light" aria-hidden="true"></i>
    </div>
  </ng-container>
  <!-- <ng-container >
    <div class="px-2">
      <i class="fa fa-exclamation-triangle fa-lg text-warning" aria-hidden="true"></i>
    </div>
  </ng-container> -->
  <ng-container *ngIf="className == 'success-toast'">
    <div class="px-2">
      <div class="circle">
        <div class="checkmark">
        </div>
      </div>
    </div>
  </ng-container>
  <div class="msg-box p-2">
    <span id="toastmessage" class="pb-3">
      {{errorMessage}}
    </span>
  </div>
</div>
