.thead-gray {
  background: lightgray;
}

.gst-text {
  font-size: 12px;
  padding-top: 4px;
}

.calendar {
  padding: 0.4rem 0.75rem !important;
}

.x_panel {
  min-height: 280px;
}

.donwload-file-ext img {
  width: 55%;
  padding: 1rem;
}

.bg-ant {
  background-color: antiquewhite;
}

.edit-cellwrapper {
  cursor: pointer !important;
}

.blur-text {
  color: #ccc !important;
}

.edit {
  font-size: 12px;
  top: 8px;
  right: 0;
}

.no-focus-line {
  outline: none !important;
  box-shadow: none !important;
}