.thead-gray {
  background: lightgray;
}

.gst-text {
  font-size: 12px;
  padding-top: 4px;
}

.calendar {
  padding: 0.4rem 0.75rem !important;
}

.x_panel {
  min-height: 280px;
}

.donwload-file-ext img {
  width: 50%;
  padding: 1rem;
}
