<div class="main-container" [ngClass]="{'preload': !isClientFound}">
  <div class="col-md-12">
    <div class="col-12 u-header curren-bg row m-0 my-3 align-items-center">
      <div class="col-md-3">
        <div class="d-inline-block c-tab" id="client-tab">
          <a class="a-tab tab-active" (click)="SwitchTab($event, 1)">
            Active
          </a>
          <!-- <a class="a-tab" (click)="SwitchTab($event, 0)">
            InActive
          </a>
          <a class="a-tab" (click)="SwitchTab($event, -1)">
            All
          </a> -->
        </div>
      </div>
      <div class="col-md-7 row m-0">
        <div class="col-md-10">
          <input type="text" class="form-control form-control-sm" (keydown.esc)="resetFilter()"
            (keyup.enter)="globalFilter()" placeholder="Search by any: (Client Name, Primary Contact No, Email, City)"
            [(ngModel)]="anyFilter">
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary-c" (click)="globalFilter()"
            (keydown.esc)="resetFilter()">
            <i class="fa fa-filter"></i>
          </button>
          <button class="btn btn-danger ms-2" (click)="resetFilter()">
            <i class="fa fa-repeat"></i>
          </button>
        </div>
      </div>

      <div class="col-md-2 inline-row d-r p-0 m-0">
        <div class="">
          <button class="btn btn-sp btn-lightorange" (click)="navtoRegisterClient()"
            routerLinkActive="router-link-active"> <i class="fa fa-plus-square-o ps-2" aria-hidden="true"></i>Add
            Client</button>
        </div>
      </div>
    </div>
    <div class="x_panel">
      <div class="x_header">
        <div class="x_header_title">
          <h2>Client detail <small>Add or update details</small>
          </h2>
        </div>
      </div>
      <div class="px-1">
        <app-breadcrums></app-breadcrums>
      </div>
      <div [ngSwitch]="isClientFound">
        <div *ngSwitchCase="false">
          <div class="mt-5">
            <app-pre-load-table></app-pre-load-table>
          </div>
        </div>
        <div *ngSwitchDefault>
          <ng-container>
            <div class="x_content">
              <div class="t-table t-list t-border col-md-12">
                <div class="hide-bar"></div>
                <div class="t-head">
                  <div class="tr">
                    <div class="th fe-index">
                      <div class="t-filter t-index">
                        <a href="javascript:void()" class="ps-3">#</a>
                      </div>
                    </div>
                    <div class="th fe-3">
                      <div class="cell-wrapper">
                        <input class="form-control form-control-sm" (keydown.esc)="resetFilter()"
                          (keyup.enter)="filterRecords()" [(ngModel)]="clientDetails.ClientName"
                          placeholder="Search by Name">
                        <div class="t-filter" (click)="arrangeDetails(orderByNameAsc, 'ClientName')">
                          <a href="javascript:void()" class="pe-2">Organization Name</a>
                          <i class="fa fa-sort-amount-asc"
                            [ngClass]="{'d-none': orderByNameAsc == null || !orderByNameAsc }" aria-hidden="true"></i>
                          <i class="fa fa-sort-amount-desc"
                            [ngClass]="{'d-none': orderByNameAsc == null || orderByNameAsc }" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                    <div class="th fe-2">
                      <div class="cell-wrapper">
                        <input class="form-control form-control-sm" (keyup.enter)="filterRecords()"
                          (keydown.esc)="resetFilter()" [(ngModel)]="clientDetails.PrimaryContactNo"
                          placeholder="Search by Contact no">
                        <div class="t-filter" (click)="arrangeDetails(orderByMobileAsc, 'PrimaryPhoneNo')">
                          <a href="javascript:void()" class="pe-2">Primary Contact No.#</a>
                          <i class="fa fa-sort-amount-asc"
                            [ngClass]="{'d-none': orderByMobileAsc == null || !orderByMobileAsc }"
                            aria-hidden="true"></i>
                          <i class="fa fa-sort-amount-desc"
                            [ngClass]="{'d-none': orderByMobileAsc == null || orderByMobileAsc }"
                            aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                    <div class="th fe-2">
                      <div class="cell-wrapper">
                        <input class="form-control form-control-sm" (keyup.enter)="filterRecords()"
                          (keydown.esc)="resetFilter()" [(ngModel)]="clientDetails.Email" placeholder="Search by Email">
                        <div class="t-filter" (click)="arrangeDetails(orderByEmailAsc, 'Email')">
                          <a href="javascript:void()" class="pe-2">Email</a>
                          <i class="fa fa-sort-amount-asc"
                            [ngClass]="{'d-none': orderByEmailAsc == null || !orderByEmailAsc }" aria-hidden="true"></i>
                          <i class="fa fa-sort-amount-desc"
                            [ngClass]="{'d-none': orderByEmailAsc == null || orderByEmailAsc }" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                    <div class="th fe-1">
                      <div class="cell-wrapper">
                        <input class="form-control form-control-sm" (keyup.enter)="filterRecords()"
                          (keydown.esc)="resetFilter()" [(ngModel)]="clientDetails.City" placeholder="Search by City">
                        <div class="t-filter" (click)="arrangeDetails(orderByCityAsc, 'City')">
                          <a href="javascript:void()" class="pe-3">City</a>
                          <i class="fa fa-sort-amount-asc"
                            [ngClass]="{'d-none': orderByCityAsc == null || !orderByCityAsc }" aria-hidden="true"></i>
                          <i class="fa fa-sort-amount-desc"
                            [ngClass]="{'d-none': orderByCityAsc == null || orderByCityAsc }" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                    <div class="th fe-2">
                      <div class="cell-wrapper">
                        <input class="form-control form-control-sm" (keyup.enter)="filterRecords()"
                          (keydown.esc)="resetFilter()" [(ngModel)]="clientDetails.FirstAddress"
                          placeholder="Search by First Address">
                        <div class="t-filter" (click)="arrangeDetails(orderByFirstAddressAsc, 'FirstAddress')">
                          <a href="javascript:void()" class="pe-3">First Address</a>
                          <i class="fa fa-sort-amount-asc"
                            [ngClass]="{'d-none': orderByFirstAddressAsc == null || !orderByFirstAddressAsc }"
                            aria-hidden="true"></i>
                          <i class="fa fa-sort-amount-desc"
                            [ngClass]="{'d-none': orderByFirstAddressAsc == null || orderByFirstAddressAsc }"
                            aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                    <div class="th fe-1 text-center">
                      <a href="javascript:void(0)" class="a-btn text-success ps-1 fw-bold" (click)="filterRecords()">
                        <i class="fa fa-filter">
                          <span>Filter</span>
                        </i>
                      </a>
                      <div class="t-filter d-block text-center">
                        <a href="javascript:void(0)">ACTIONS</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="t-body">
                  <ng-container *ngIf="isFileFound">
                    <div class="tr py-2" *ngFor="let clients of clients; let i = index;">
                      <div class="td align-middle text-center fe-index">{{clientsData.StartIndex + i}}</div>
                      <div class="td align-middle fe-3">
                        <div class="cell-wrapper">
                          <a href="javascript:void(0)" (click)="EditCurrent(clients)" class="client-name-link">
                            {{clients.ClientName}}
                          </a>
                          <div class="float-end">
                            <a href="javascript:void(0)" (click)="viewClientFile(clients)">
                              <span class="ms-2 badge bg-success">
                                <i class="fa fa-building-o zoom-2"></i>
                              </span>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="td align-middle fe-2">
                        <div class="cell-wrapper">
                          {{clients.PrimaryPhoneNo}}
                        </div>
                      </div>
                      <div class="td align-middle fe-2">
                        <div class="cell-wrapper">
                          {{clients.Email}}
                        </div>
                      </div>
                      <div class="td align-middle fe-1">
                        <div class="cell-wrapper">
                          {{clients.City}}
                        </div>
                      </div>
                      <div class="td align-middle fe-2">
                        <div class="cell-wrapper">
                          {{clients.FirstAddress}}
                        </div>
                      </div>
                      <div class="td align-middle fe-1">
                        <div class=" d-flex flex-row justify-content-evenly">
                          <a href="javascript:void(0)">
                            <span class="badge bg-success"><i class="fa fa-pencil-square-o" aria-hidden="true"
                                (click)="EditCurrent(clients)"></i></span>
                          </a>
                          <a href="javascript:void(0)" (click)="AddEditDocuments(clients)">
                            <span class="badge bg-dark">
                              <i class="fa fa-folder" aria-hidden="true"></i>
                            </span>
                          </a>
                          <!-- <a href="javascript:void(0)" (click)="CreatePopup()">
                            <span class="badge bg-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                          </a> -->
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
                <ng-container *ngIf="!isFileFound">
                  <div class="custom-height my-5 py-5 fw-bold fs-3 text-danger d-flex align-items-center justify-content-center">
                    <p class="my-5 py-5">Record Not Found</p>
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="mt-3">
              <app-pagination [pagination]="clientsData" (onPageChange)="GetFilterResult($event)"></app-pagination>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Popup Model -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="deleteClient" tabindex="-1" role="dialog"
  aria-labelledby="deleteTitleTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title font-weight-bold text-dark" id="exampleModalLongTitle">Are you want to delete the client
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5 class="text-center"> You can't delete Client. This service is unavailable.</h5>
      </div>
      <div class="modal-footer border-top-0">
        <a href="javascript:void(0)" (click)="ClosePopup()" class="text-decoration-none btn-white pe-3"
          data-dismiss="modal">Cancel</a>
        <!-- <a href="javascript:void(0)" (click)="DeleteCurrent(singleClient)"
          class="text-decoration-none btn-light text-primary">Delete</a> -->
      </div>
    </div>
  </div>
</div>
