.f-title {
  font-size: 1.2rem;
}

.a-link {
  display: block;
  text-align: center;
  color: darkblue;

  i {
    font-size: 1rem;
  }
}

.create-link {
  position: relative;
  top: 10px;
  right: 1rem;
}

.create-link:hover {
  cursor: pointer;
}

.col-title {
  margin-top: 1rem;
}

.curren-bg {
  background-color: #fff !important;
}

.btn-lightorange {
  background-color: var(--orange);
  color: var(--light);
}

.btn-lightdark {
  background-color: #6d6d6d !important;
  color: var(--light);
}

.u-header {
  z-index: 99999;
  height: 3rem;
}

.btn-sm {
  height: 32px;
  line-height: 1.2;
  font-size: 14px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-sp {
  margin: 4px 6px;
}

.a-tab {
  padding-top: 10px !important;
  display: inline-block;
  height: inherit;
  color: #a2a2a2;
  padding: 0px 1rem;
  text-decoration: none;
}

.c-tab {
  height: 48px;
  position: relative;
}

.tab-active {
  border-bottom: 4px solid #eb7d25 !important;
  color: #222;
}

.a-tab:hover {
  text-decoration: none;
  cursor: pointer;
}

.d-r {
  direction: rtl;
}

.f-title {
  font-size: 1.2rem;
}

.a-link {
  display: block;
  text-align: center;
  color: darkblue;

  i {
    font-size: 1rem;
  }
}

.client-name-link {
  color: darkblue;
}

.zoom-2 {
  zoom: 1.2;
}

.t-body {
  max-height: 49vh !important;
}

.cell-wrapper {
  padding-left: .6rem;
  padding-right: .6rem;
}

.hide-bar {
  width: 17px !important;
}

.t-filter {
  justify-content: flex-start !important;
}

.custom-height {
  height: 43vh !important;
}
