<div class="col-md-12 main-container" [ngClass]="{'preload': !isEmpPageReady}">
  <!-- <div class="col-12 u-header curren-bg row m-0 mt-2">
    <div class="col-md-3">
      <div class="d-inline-block c-tab">
        <a class="a-tab tab-active">
          <span>Active</span>
        </a>
        <a class="a-tab">
          <span>InActive</span>
        </a>
        <a class="a-tab">
          <span>All</span>
        </a>
      </div>
    </div>
  </div> -->
  <div class="x_panel">
    <div class="x_header">
      <div class="x_header_title row">
        <div class="col-md-3">
          <h2>Employees<small>bill details</small></h2>
        </div>
      </div>
    </div>
    <div class="px-1">
      <app-breadcrums></app-breadcrums>
    </div>
    <div [ngSwitch]="isEmpPageReady">
      <div *ngSwitchCase="false">
        <div class="mt-5">
          <app-pre-load-table></app-pre-load-table>
        </div>
      </div>
      <div *ngSwitchDefault>
        <ng-container>
          <div class="x_header">
            <div class="x_header_title mt-3">
              <div class="row">
                <div class="d-flex flex-row justify-content-between">
                  <div class="d-flex" *ngIf="fileLoaded">
                    <label class="form-label pe-3 mt-1">Developer</label>
                    <div class="col-md-12">
                      <app-iautocomplete [data]="autoCompleteModal" [(ngModel)]="employeeId"
                        (OnSelect)="onEmloyeeChanged($event)" (keydown.esc)="resetFilter()">
                      </app-iautocomplete>
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center">
                    <div class="text-end">
                      <a href="javascript:void(0)" class="a-btn text-danger fw-bold" (click)="refreshFilter()">
                        <i class="fa fa-refresh">
                          <span>Reset</span>
                        </i>
                      </a>
                    </div>
                    <div class="text-end">
                      <a href="javascript:void(0)" class="a-btn text-success ps-1 fw-bold" (click)="filterRecords()">
                        <i class="fa fa-filter">
                          <span>Filter</span>
                        </i>
                      </a>
                    </div>
                    <div class="text-end">
                      <a href="javascript:void(0)" class="pe-0 a-btn text-dark fw-bold" (click)="advancedSearchPopUp()">
                        <i class="fa fa-search">
                          <span>Advanced Search</span>
                        </i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Pdf viewer modal -->
          <div class="d-none file-container" id="file-container" (click)="closePdfViewer()">
            <div class="text-end">
              <a (click)="closePdfViewer()" class="close_view">
                <i class="fa fa-times fa-2x" aria-hidden="true"></i>
              </a>
            </div>
            <iframe src="" width="800px" height="600px" style="border: none;"></iframe>
          </div>
          <!-- End pdf view modal -->
          <div class="x_content">
            <div class="t-table t-list t-border col-md-12">
              <div class="hide-bar"></div>
              <div class="t-head">
                <div class="tr">
                  <div class="th fe-1">
                    <div class="cell-wrapper">
                      <input class="form-control table-filter-control form-control-sm" (keyup.enter)="filterRecords()"
                        (keydown.esc)="resetFilter()" [(ngModel)]="employeeFile.BillNo" placeholder="Bill No#">
                      <div class="t-filter" (click)="arrangeDetails(orderByBillNoAsc, 'BillNo')">
                        <a href="javascript:void()" class="pe-2">Bill No.#</a>
                        <i class="fa fa-sort-amount-asc"
                          [ngClass]="{'d-none': orderByBillNoAsc == null || !orderByBillNoAsc }" aria-hidden="true"></i>
                        <i class="fa fa-sort-amount-desc"
                          [ngClass]="{'d-none': orderByBillNoAsc == null || orderByBillNoAsc }" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="th fe-2">
                    <div class="cell-wrapper">
                      <input class="form-control table-filter-control form-control-sm" (keyup.enter)="filterRecords()"
                        (keydown.esc)="resetFilter()" [(ngModel)]="employeeFile.ClientName"
                        placeholder="By Client Name">
                      <div class="t-filter" (click)="arrangeDetails(orderByNameAsc, 'ClientName')">
                        <a href="javascript:void()" class="pe-2">Client Name</a>
                        <i class="fa fa-sort-amount-asc"
                          [ngClass]="{'d-none': orderByNameAsc == null || !orderByNameAsc }" aria-hidden="true"></i>
                        <i class="fa fa-sort-amount-desc"
                          [ngClass]="{'d-none': orderByNameAsc == null || orderByNameAsc }" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="th fe-1">
                    <div class="cell-wrapper">
                      <select class="form-control table-filter-control form-control-sm" (keyup.enter)="filterRecords()"
                        (keydown.esc)="resetFilter()" [(ngModel)]="employeeFile.Status">
                        <option value="0">Status</option>
                        <option value="1">Completed</option>
                        <option value="2">Pending</option>
                        <option value="3">Canceled</option>
                        <option value="7">Raised</option>
                      </select>
                      <div class="t-filter" (click)="arrangeDetails(orderByBillStatusAsc, 'BillStatusId')">
                        <a href="javascript:void()" class="pe-2">Amount</a>
                        <i class="fa fa-sort-amount-asc"
                          [ngClass]="{'d-none': orderByBillStatusAsc == null || !orderByBillStatusAsc }"
                          aria-hidden="true"></i>
                        <i class="fa fa-sort-amount-desc"
                          [ngClass]="{'d-none': orderByBillStatusAsc == null || orderByBillStatusAsc }"
                          aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="th fe-1">
                    <div class="cell-wrapper">
                      <div class="t-filter">
                        <a href="javascript:void()" class="pe-2">Paid On</a>
                      </div>
                    </div>
                  </div>
                  <div class="th fe-1">
                    <div class="cell-wrapper">
                      <select class="form-control table-filter-control form-control-sm" (keyup.enter)="filterRecords()"
                        (keydown.esc)="resetFilter()" [(ngModel)]="employeeFile.Month">
                        <option value="0" selected>Month</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                      </select>
                      <div class="t-filter" (click)="arrangeDetails(orderByMonthAsc, 'BillForMonth')">
                        <a href="javascript:void()" class="pe-2">Month</a>
                        <i class="fa fa-sort-amount-asc"
                          [ngClass]="{'d-none': orderByMonthAsc == null || !orderByMonthAsc }" aria-hidden="true"></i>
                        <i class="fa fa-sort-amount-desc"
                          [ngClass]="{'d-none': orderByMonthAsc == null || orderByMonthAsc }" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="th fe-1">
                    <div class="cell-wrapper">
                      <input class="form-control table-filter-control form-control-sm" readonly
                        (keyup.enter)="filterRecords()" (keydown.esc)="resetFilter()"
                        [(ngModel)]="employeeFile.BilledAmount" placeholder="By Billed Amount">
                      <div class="t-filter">
                        <a href="javascript:void()" class="ps-2">Billed Amt</a>
                      </div>
                    </div>
                  </div>
                  <div class="th fe-1">
                    <div class="cell-wrapper">
                      <input class="form-control table-filter-control form-control-sm" readonly
                        (keyup.enter)="filterRecords()" (keydown.esc)="resetFilter()"
                        [(ngModel)]="employeeFile.ReceivedAmount" placeholder="By Received Amount">
                      <div class="t-filter">
                        <a href="javascript:void()" class="pe-2">Received</a>
                      </div>
                    </div>
                  </div>
                  <div class="th fe-1">
                    <div class="cell-wrapper">
                      <input class="form-control table-filter-control form-control-sm" (keyup.enter)="filterRecords()"
                        readonly (keydown.esc)="resetFilter()" [(ngModel)]="employeeFile.TakeHome"
                        placeholder="By Take Home">
                      <div class="t-filter">
                        <a href="javascript:void()" class="pe-2">Take Home</a>
                      </div>
                    </div>
                  </div>
                  <div class="th fe-1">
                    <div class="cell-wrapper">
                      <select class="form-control table-filter-control form-control-sm" (keyup.enter)="filterRecords()"
                        (keydown.esc)="resetFilter()" [(ngModel)]="employeeFile.GSTStatus">
                        <option value="0">Status</option>
                        <option value="1">Completed</option>
                        <option value="2">Pending</option>
                        <option value="3">Canceled</option>
                        <option value="6">Raised</option>
                      </select>
                      <div class="t-filter justify-content-between"
                        (click)="arrangeDetails(orderByGSTStatusAsc, 'GSTStatus')">
                        <a href="javascript:void()" class="pe-2">GST</a>
                        <i class="fa fa-sort-amount-asc"
                          [ngClass]="{'d-none': orderByGSTStatusAsc == null || !orderByGSTStatusAsc }"
                          aria-hidden="true"></i>
                        <i class="fa fa-sort-amount-desc"
                          [ngClass]="{'d-none': orderByGSTStatusAsc == null || orderByGSTStatusAsc }"
                          aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="th">
                      <div class="d-flex justify-content-around">
                        <a href="javascript:void(0)" class="text-dark ps-1" (click)="filterRecords()">
                          <i class="fa fa-filter zoom-2"></i>
                        </a>
                      </div>
                     <div class="t-filter d-block text-center">
                       <a href="javascript:void(0)">ACTIONS</a>
                     </div>
                    </div> -->
                </div>
              </div>
              <div class="t-body custom-height">
                <ng-container *ngIf="isFileFound">
                  <div class="tr py-2" *ngFor="let user of billDetails">
                    <div class="td align-middle fe-1">
                      <div class="cell-wrapper">
                        <div class="d-flex flex-row justify-content-between">
                          <a href="javascript:void(0)" (click)="EditCurrentDocument(user)">{{user.BillNo}}</a>
                          <div class="d-flex flex-row justify-content-around">
                            <a href="javascript:void(0)">
                              <span class="badge bg-success ms-1 me-1"><i class="fa fa-file-pdf-o" aria-hidden="true"
                                  (click)="viewPdfFile(user)"></i></span>
                            </a>
                            <a href="javascript:void(0)">
                              <span class="badge bg-primary ms-1 me-1"><i class="fa fa-download" aria-hidden="true"
                                  (click)="downloadFile(user)"></i></span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="td align-middle fe-2">
                      <div class="cell-wrapper">
                        <div>
                          <a href="javascript:void(0)"
                            [ngClass]="{'blinking': user.Status == 'Raised', 'text-plain': user.Status != 'Raised'}"
                            (click)="EditClient(user.ClientId)">{{user.ClientName}}</a>
                          <div class="float-end">
                            <a><span class="badge bg-primary">T {{user.NoOfDays}}</span></a>
                            <span class="badge bg-danger ms-3">A {{user.Absent}}</span>
                          </div>
                        </div>
                        <small class="text-muted"><a href="javascript:void(0)" class="text-muted"
                            (click)="EditEmployee(user.FileOwnerId)">{{user.Name}}</a>
                        </small>
                      </div>
                    </div>
                    <div class="td align-middle fe-1">
                      <div class="cell-wrapper text-center">
                        <a href="javascript:void(0)" class="h-font" (click)="UpdateCurrent(user.FileUid)">
                          <i class="fa fa-check fa-lg text-success" *ngIf="user.Status == 'Completed'"
                            data-bs-toggle="tooltip" data-bs-placement="right" title="Completed"></i>
                          <i class="fa fa-times text-danger fa-lg" *ngIf="user.Status == 'Canceled'"
                            data-bs-toggle="tooltip" data-bs-placement="right" title="Canceled"></i>
                          <i class="fa fa-clock-o text-dark" *ngIf="user.Status == 'Raised'" data-bs-toggle="tooltip"
                            data-bs-placement="right" title="Raised"></i>
                          <i class="fa fa-exclamation-triangle fa-lg text-warning" *ngIf="user.Status == 'Pending'"
                            data-bs-toggle="tooltip" data-bs-placement="right" title="Pending"></i>
                          <i class="fa fa-ban fa-lg text-danger" *ngIf="user.Status == 'Rejected'"
                            data-bs-toggle="tooltip" data-bs-placement="right" title="Rejected"></i>
                          <!-- <i class="fa" [ngClass]="{'fa-check fa-lg text-success': user.Status == 'Completed', 'fa-times text-danger fa-lg': user.Status == 'Canceled', 'fa-clock-o text-dark': user.Status == 'Raised', 'fa-exclamation-triangle fa-lg text-warning': user.Status == 'Pending', 'fa-ban fa-lg text-danger': user.Status == 'Rejected'}"></i> -->
                          <!-- {{user.Status}} -->
                        </a>
                      </div>
                    </div>
                    <div class="td align-middle fe-1">
                      <div class="cell-wrapper">
                        {{user.PaidOn | date}}
                      </div>
                    </div>
                    <div class="td align-middle fe-1">
                      <div class="cell-wrapper">
                        {{user.Month | slice: 0:3}}
                      </div>
                    </div>
                    <div class="td align-middle fe-1">
                      <div class="cell-wrapper">
                        <div>
                          <b>{{user.BilledAmount | number : '1.2-2'}}</b>
                          <div class="d-flex flex-column">
                            <small class="s-item text-muted me-2">[A] {{user.SalaryAmount | number : '1.2-2'}}</small>
                            <small class="s-item text-muted">[G] {{user.GSTAmount | number : '1.2-2'}}</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="td align-middle fe-1">
                      <div class="cell-wrapper">
                        <b>{{user.ReceivedAmount | number : '1.2-2'}}</b>
                        <div>
                          <small class="text-muted">[- 10% TDS]</small>
                        </div>
                      </div>
                    </div>
                    <div class="td align-middle fe-1">
                      <div class="cell-wrapper">
                        {{user.TakeHome | number : '1.2-2'}}
                      </div>
                    </div>
                    <div class="td align-middle fe-1">
                      <div class="cell-wrapper text-center">
                        <a href="javascript:void(0)" class="h-font"
                          (click)="updateGSTStatus(user.BillNo, user.GSTAmount)">
                          <i class="fa fa-check fa-lg text-success" *ngIf="user.GSTStatus == 'Completed'"
                            data-bs-toggle="tooltip" data-bs-placement="right" title="Completed"></i>
                          <i class="fa fa-times text-danger fa-lg" *ngIf="user.GSTStatus == 'Canceled'"
                            data-bs-toggle="tooltip" data-bs-placement="right" title="Canceled"></i>
                          <i class="fa fa-clock-o text-dark" *ngIf="user.GSTStatus == 'Raised'" data-bs-toggle="tooltip"
                            data-bs-placement="right" title="Raised"></i>
                          <i class="fa fa-exclamation-triangle fa-lg text-warning" *ngIf="user.GSTStatus == 'Pending'"
                            data-bs-toggle="tooltip" data-bs-placement="right" title="Pending"></i>
                          <i class="fa fa-ban fa-lg text-danger" *ngIf="user.GSTStatus == 'Rejected'"
                            data-bs-toggle="tooltip" data-bs-placement="right" title="Rejected"></i>
                          <!-- {{user.GSTStatus}} -->
                        </a>
                      </div>
                    </div>
                    <!-- <div class="td align-middle">
                        <div class="d-flex flex-row justify-content-around">
                          <a href="javascript:void(0)">
                            <span class="badge bg-success ms-1 me-1"><i class="fa fa-file-pdf-o" aria-hidden="true"
                                (click)="viewPdfFile(user)"></i></span>
                          </a>
                          <a href="javascript:void(0)">
                            <span class="badge bg-primary ms-1 me-1"><i class="fa fa-download" aria-hidden="true"
                                (click)="downloadFile(user)"></i></span>
                          </a>
                        </div>
                      </div> -->
                  </div>
                </ng-container>
                <ng-container *ngIf="!isFileFound">
                  <div class="custom-height fw-bold fs-3 text-danger d-flex align-items-center justify-content-center">
                    Record Not Found
                  </div>
                </ng-container>
              </div>
            </div>
            <!-- <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th width="6%">
                      <input class="form-control table-filter-control form-control-sm" (keyup.enter)="filterRecords()"
                        (keydown.esc)="resetFilter()" [(ngModel)]="employeeFile.BillNo" placeholder="Bill No#">
                      <div class="col-title">
                        Bill No.#
                      </div>
                    </th>
                    <th>
                      <input class="form-control table-filter-control form-control-sm" (keyup.enter)="filterRecords()"
                        (keydown.esc)="resetFilter()" [(ngModel)]="employeeFile.ClientName" placeholder="By Client Name">
                      <div class="col-title">
                        Client Name
                      </div>
                    </th>
                    <th width="8%">
                      <select class="form-control table-filter-control form-control-sm" (keyup.enter)="filterRecords()"
                        (keydown.esc)="resetFilter()" [(ngModel)]="employeeFile.Status">
                        <option value="0">Status</option>
                        <option value="1">Completed</option>
                        <option value="2">Pending</option>
                        <option value="3">Canceled</option>
                        <option value="7">Raised</option>
                      </select>
                      <div class="col-title">
                        Status
                      </div>
                    </th>
                    <th width="8%">
                      <div class="col-title">
                        Paid On
                      </div>
                    </th>
                    <th width="8%">
                      <select class="form-control table-filter-control form-control-sm" (keyup.enter)="filterRecords()"
                        (keydown.esc)="resetFilter()" [(ngModel)]="employeeFile.Month">
                        <option value="0" selected>Month</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                      </select>
                      <div class="col-title">
                        Month
                      </div>
                    </th>
                    <th width="14%">
                      <input class="form-control table-filter-control form-control-sm" readonly
                        (keyup.enter)="filterRecords()" (keydown.esc)="resetFilter()"
                        [(ngModel)]="employeeFile.BilledAmount" placeholder="By Billed Amount">
                      <div class="col-title">
                        Billed Amount
                      </div>
                    </th>
                    <th width="10%">
                      <input class="form-control table-filter-control form-control-sm" readonly
                        (keyup.enter)="filterRecords()" (keydown.esc)="resetFilter()"
                        [(ngModel)]="employeeFile.ReceivedAmount" placeholder="By Received Amount">
                      <div class="col-title">
                        Received
                      </div>
                    </th>
                    <th width="8%">
                      <input class="form-control table-filter-control form-control-sm" (keyup.enter)="filterRecords()"
                        (keydown.esc)="resetFilter()" [(ngModel)]="employeeFile.TakeHome" placeholder="By Take Home">
                      <div class="col-title">
                        Take Home
                      </div>
                    </th>
                    <th width="7%">
                      <select class="form-control table-filter-control form-control-sm" (keyup.enter)="filterRecords()"
                        (keydown.esc)="resetFilter()" [(ngModel)]="employeeFile.GSTStatus">
                        <option value="0">Status</option>
                        <option value="1">Completed</option>
                        <option value="2">Pending</option>
                        <option value="3">Canceled</option>
                        <option value="6">Raised</option>
                      </select>
                      <div class="col-title">
                        GST
                      </div>
                    </th>
                    <th class="text-center" width="7%">
                      <div class="d-flex justify-content-around">
                        <a href="javascript:void(0)" class="text-dark ps-1" (click)="filterRecords()">
                          <i class="fa fa-filter zoom-2"></i>
                        </a>
                      </div>
                      <div class="col-title text-center">
                        Action
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of billDetails">
                    <td>
                      <a href="javascript:void(0)" (click)="EditCurrentDocument(user)">{{user.BillNo}}</a>
                    </td>
                    <td>
                      <div>
                        <a href="javascript:void(0)"
                          [ngClass]="{'blinking': user.Status == 'Raised', 'text-plain': user.Status != 'Raised'}"
                          (click)="EditClient(user.ClientId)">{{user.ClientName}}</a>
                        <div class="float-end">
                          <a><span class="badge bg-primary">T {{user.NoOfDays}}</span></a>
                          <span class="badge bg-danger ms-3">A {{user.Absent}}</span>
                        </div>
                      </div>
                      <small class="text-muted"><a href="javascript:void(0)" class="text-muted"
                          (click)="EditEmployee(user.FileOwnerId)">{{user.Name}}</a>
                      </small>
                    </td>
                    <td>
                      <a href="javascript:void(0)" class="h-font" (click)="UpdateCurrent(user.FileUid)">
                        {{user.Status}}
                      </a>
                    </td>
                    <td>{{user.PaidOn}}</td>
                    <td>{{user.Month}}</td>
                    <td>
                      <div>
                        <b>{{user.BilledAmount | number : '1.2-2'}}</b>
                        <div class="d-flex flex-column">
                          <small class="s-item text-muted me-2">[A] {{user.SalaryAmount | number : '1.2-2'}}</small>
                          <small class="s-item text-muted">[G] {{user.GSTAmount | number : '1.2-2'}}</small>
                        </div>
                      </div>
                    </td>
                    <td>
                      <b>{{user.ReceivedAmount | number : '1.2-2'}}</b>
                      <div>
                        <small class="text-muted">[- 10% TDS]</small>
                      </div>
                    </td>
                    <td>
                      {{user.TakeHome | number : '1.2-2'}}
                    </td>
                    <td>
                      <a href="javascript:void(0)" class="h-font" (click)="updateGSTStatus(user.BillNo, user.GSTAmount)">
                        {{user.GSTStatus}}
                      </a>
                    </td>
                    <td>
                      <div class="d-flex flex-row justify-content-around">
                        <a href="javascript:void(0)">
                          <span class="badge bg-success ms-1 me-1"><i class="fa fa-file-pdf-o" aria-hidden="true"
                              (click)="viewPdfFile(user)"></i></span>
                        </a>
                        <a href="javascript:void(0)">
                          <span class="badge bg-primary ms-1 me-1"><i class="fa fa-download" aria-hidden="true"
                              (click)="downloadFile(user)"></i></span>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="5" class="fw-bold">
                      Total Amount
                    </td>
                    <td>
                      <div class="fw-bold">
                        Rs {{TotalBilledAmount | number : '1.2-2'}}
                        <div>
                          <small class="s-item text-muted me-2 d-block">[A] {{ TotalSalaryAmount | number :
                            '1.2-2'}}</small>
                          <small class="s-item text-muted">[G] {{TotalGSTAmount | number : '1.2-2'}}</small>
                        </div>
                      </div>
                    </td>
                    <td colspan="4" class="fw-bold">
                      Rs {{TotalReceivedAmount | number : '1.2-2'}}
                    </td>
                  </tr>
                </tbody>
              </table> -->
            <ng-container *ngIf="isFileFound">
              <div class="t-table t-list t-border col-md-12">
                <div class="hide-bar"></div>
                <div class="t-head">
                  <div class="tr">
                    <div class="th fe-1 justify-content-start align-items-start">
                      <button class="btn btn-success btn-sm" (click)="calculation()">Calculate Amt</button>
                    </div>
                    <div class="th fe-2"></div>
                    <div class="th fe-1"></div>
                    <div class="th fe-1"></div>
                    <div class="th fe-1"></div>
                    <div class="th fe-1 justify-content-center align-items-start">
                      <div class="fw-bold d-flex flex-column ps-2" *ngIf="calculateAmount">
                        Rs {{TotalBilledAmount | number : '1.2-2'}}
                        <div>
                          <small class="s-item text-muted me-2 d-block">[A] {{ TotalSalaryAmount | number :
                            '1.2-2'}}</small>
                          <small class="s-item text-muted">[G] {{TotalGSTAmount | number : '1.2-2'}}</small>
                        </div>
                      </div>
                    </div>
                    <div class="th fe-1  justify-content-start">
                      <span class="fw-bold text-dark ps-2" *ngIf="calculateAmount">Rs {{TotalReceivedAmount | number :
                        '1.2-2'}}</span>
                    </div>
                    <div class="th fe-1">
                    </div>
                    <div class="th fe-1">
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

          </div>
          <div class="mt-3 ps-2">
            <app-pagination [pagination]="singleEmployee" (onPageChange)="GetFilterResult($event)"></app-pagination>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>


<!-- add update detail modal -->
<div class="modal fade" id="gstupdateModal" tabindex="-1" *ngIf="isGSTStatusModalReady">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title">Add Or Update</h5>
        <button type="button" class="close" (click)="closeWindow()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body f-12">
        <div class="col-md-12">
          <div [formGroup]="gstDetailForm" class="col-md-12 popup-form">
            <div class="col-md-12 row m-0">
              <div class="col-4 form-group">
                <label for="">Bill No.#</label>
                <input class="form-control disabled text-muted" disabled formControlName="Billno">
              </div>
              <div class="col-4 form-group">
                <label for="">GST Status</label>
                <select formControlName="Gststatus" name="Gststatus" class="form-control">
                  <option value="0">Status Type</option>
                  <option value="1">Completed</option>
                  <option value="2">Pending</option>
                  <option value="3">Canceled</option>
                  <option value="4">Not Generated</option>
                  <option value="5">Rejected</option>
                  <option value="6">Generated</option>
                </select>
              </div>
              <div class="col-4 form-group">
                <label for="">Paid On</label>
                <form class="form-inline">
                  <div class="form-group w-100">
                    <div class="input-group w-100">
                      <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model"
                        (dateSelect)="onDateSelection($event)" ngbDatepicker #d="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i
                            class="fa fa-calendar" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-12 row m-0 mt-4">
              <div class="col-4 form-group">
                <label for="">GST Amount</label>
                <input class="form-control disabled text-muted" disabled placeholder="GST Amount"
                  formControlName="Amount">
              </div>
              <div class="col-4 form-group">
                <label for="">Paid By</label>
                <select formControlName="Paidby" name="Paidby" class="form-control">
                  <option value="0">Employee Name</option>
                  <option value="1">Completed</option>
                  <option value="2">Pending</option>
                  <option value="3">Canceled</option>
                  <option value="4">Not Generated</option>
                  <option value="5">Rejected</option>
                </select>
              </div>
            </div>
            <div class="col-md-12 row m-0">
              <div class="form-group mt-4">
                <input type="file" id="uploadocument" class="d-none" multiple (change)="GetDocumentFile($event)" />
                <a href="javascript:void(0)" class="text-muted d-inline-block mt-4 mb-2">
                  <i class="fa fa-upload zoom-2"></i>
                </a>
                <div class="file-upload-zone x_panel"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" (click)="closeWindow()">Close</button>
        <button class="btn btn-primary-c" [disabled]="isLoading" (click)="submitGSTStatusDetail()">
          <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-check': !isLoading}"></i>
          {{ isLoading ? 'Processing' : 'Submit' }}
        </button>
      </div>
    </div>
  </div>
</div>


<!-- add update detail modal -->
<div class="modal fade" id="addupdateModal" tabindex="-1" *ngIf="isModalReady">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title">Bill Status Update Modal</h5>
        <button type="button" class="close" (click)="closeWindow()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body f-12">
        <div class="col-md-12">
          <div [formGroup]="documentForm" class="col-md-12 popup-form">
            <div class="col-md-12 row m-0">
              <div class="col-6 form-group">
                <label for="">File Status</label>
                <select formControlName="StatusId" name="StatusId" class="form-control">
                  <option value="0">File Status Type</option>
                  <option value="1">Completed</option>
                  <option value="2">Pending</option>
                  <option value="3">Canceled</option>
                  <option value="4">Not Generated</option>
                  <option value="5">Rejected</option>
                  <option value="7">Bill Raised</option>
                </select>
              </div>
              <div class="col-6 form-group">
                <label for="">Updated On</label>
                <form class="form-inline">
                  <div class="form-group w-100">
                    <div class="input-group w-100">
                      <input class="form-control " placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model"
                        (dateSelect)="onDateSelection($event)" ngbDatepicker #billd="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="billd.toggle()" type="button"><i
                            class="fa fa-calendar" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-12 row m-0">
              <div class="form-group mt-4">
                <label for="">Notes</label>
                <textarea name="Notes" rows="3" formControlName="Notes" class="form-control"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" (click)="closeWindow()">Close</button>
        <button class="btn btn-primary-c" [disabled]="isLoading" (click)="updateRecord()">
          <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-check': !isLoading}"></i>
          {{ isLoading ? 'Processing' : 'Submit' }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Advanced Search model -->
<div class="modal fade" id="advancedSearchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header border-bottom-0 ps-5 pt-4">
        <h5 class="modal-title" id="exampleModalLabel">Advanced Filter</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <p class="ps-5">In advanced search you will serach everything</p>
      <div class="modal-body ps-5 pe-4 pt-3 pb-4">
        <div class="col-md-12 row">
          <div class="col-md-3" *ngIf="fileLoaded">
            <label class="form-label pe-3">Employee</label>
            <div>
              <app-iautocomplete [data]="autoCompleteModal" [(ngModel)]="employeeId"
                (OnSelect)="onEmloyeeChanged($event)" (keydown.esc)="resetFilter()">
              </app-iautocomplete>
            </div>
          </div>
          <div class="col-md-3">
            <label class="form-label">
              Client Name
            </label>
            <input class="form-control table-filter-control" (keyup.enter)="filterRecords()"
              (keydown.esc)="resetFilter()" [(ngModel)]="employeeFile.ClientName" placeholder="By Client Name">
          </div>
          <div class="col-md-3">
            <label class="form-label">
              Month
            </label>
            <select class="form-control table-filter-control" (keyup.enter)="filterRecords()"
              (keydown.esc)="resetFilter()" [(ngModel)]="employeeFile.Month">
              <option value="0" selected>Month</option>
              <option value="1">January</option>
              <option value="2">February</option>
              <option value="3">March</option>
              <option value="4">April</option>
              <option value="5">May</option>
              <option value="6">June</option>
              <option value="7">July</option>
              <option value="8">August</option>
              <option value="9">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
          </div>

          <div class="col-md-3">
            <label class="form-label">
              Billed Amount
            </label>
            <input class="form-control table-filter-control" (keyup.enter)="filterRecords()" readonly
              (keydown.esc)="resetFilter()" [(ngModel)]="employeeFile.BilledAmount" placeholder="By Billed Amount">
          </div>
        </div>

        <fieldset>
          <legend>Filter by billing detail.</legend>
          <p class="mark">Search bill by biling detail e.g. bill between numbers.</p>
          <div class="col-md-12 row">
            <div class="col-12 d-flex mb-3">
              <div class="ms-2 me-2">
                <input type="radio" name="bydate" value="0" (click)="selectBillOption($event)"> Filter between dates
              </div>
              <div class="ms-2 me-2">
                <input type="radio" name="bydate" value="1" (click)="selectBillOption($event)"> Before date
              </div>
              <div class="ms-2 me-2">
                <input type="radio" name="bydate" value="2" (click)="selectBillOption($event)"> After date
              </div>
            </div>

            <div class="col-md-12 row">
              <div class="col-md-3">
                <ng-container [ngSwitch]="RaisedBilloption">
                  <label class="form-label" *ngSwitchCase="0">From</label>
                  <label class="form-label" *ngSwitchCase="1">Before Date</label>
                  <label class="form-label" *ngSwitchCase="2">After Date</label>
                  <label class="form-label" *ngSwitchDefault>Date</label>
                </ng-container>
                <form class="form-inline">
                  <div class="form-group">
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd" (dateSelect)="fromDateSelection($event)"
                        name="from" [(ngModel)]="fromModel" ngbDatepicker #from="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-dark fa fa-calendar adv-srch-calenderbtn" (click)="from.toggle()"
                          type="button"></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>

              <div class="col-md-3">
                <label for="" class="form-label">To</label>
                <form class="form-inline">
                  <div class="form-group">
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd" [readonly]="isReadonly"
                        (dateSelect)="toDateSelection($event)" name="to" [(ngModel)]="toModel" ngbDatepicker
                        #to="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-dark fa fa-calendar adv-srch-calenderbtn" (click)="to.toggle()"
                          [disabled]="isReadonly" type="button"></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>

              <div class="col-md-3">
                <label class="form-label">
                  GST
                </label>
                <select class="form-control table-filter-control" (keyup.enter)="filterRecords()"
                  (keydown.esc)="resetFilter()" [(ngModel)]="employeeFile.GSTStatus">
                  <option value="0">Status</option>
                  <option value="1">Completed</option>
                  <option value="2">Pending</option>
                  <option value="3">Canceled</option>
                  <option value="6">Raised</option>
                </select>
              </div>
            </div>

            <div class="col-md-12 row mt-4">
              <div class="col-md-3">
                <label class="form-label">
                  From Bill No.
                </label>
                <input class="form-control table-filter-control" (keyup.enter)="filterRecords()"
                  (keydown.esc)="resetFilter()" [(ngModel)]="employeeFile.FromBillNo" placeholder="By From Bill No">
              </div>
              <div class="col-md-3">
                <label class="form-label">
                  To Bill No.
                </label>
                <input class="form-control table-filter-control" (keyup.enter)="filterRecords()"
                  (keydown.esc)="resetFilter()" [(ngModel)]="employeeFile.ToBillNo" placeholder="By To Bill No">
              </div>

              <div class="col-md-3">
                <label class="form-label">
                  Take Home
                </label>
                <input class="form-control table-filter-control" (keyup.enter)="filterRecords()" readonly
                  (keydown.esc)="resetFilter()" [(ngModel)]="employeeFile.TakeHome" placeholder="By Take Home">
              </div>

              <div class="col-md-3">
                <label class="form-label">
                  Bill Status
                </label>
                <select class="form-control table-filter-control" (keyup.enter)="filterRecords()"
                  (keydown.esc)="resetFilter()" [(ngModel)]="employeeFile.Status">
                  <option value="0">Status</option>
                  <option value="1">Completed</option>
                  <option value="2">Pending</option>
                  <option value="3">Canceled</option>
                  <option value="7">Raised</option>
                </select>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="modal-footer border-top-0  pe-5">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetFilter()">Close</button>
        <button type="button" [disabled]="isLoading" class="btn btn-primary-c" (click)="filterRecords()"><i
            class="pe-2 fa" [ngClass]="{'fa-spinner fa-pulse fa-fw': isLoading, 'fa-filter': !isLoading}"></i>
          {{ isLoading ? 'Wait' : 'Filter Record' }}</button>
      </div>
    </div>
  </div>
</div>

<!-- pdfviewing waiting model -->
<div class="modal fade" id="pdfviewingModal" tabindex="-1" *ngIf="isPdfGenerating">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body f-12 text-center cog-wheel">
        <img src="assets/images/cog.gif" alt="">
        <h6 class="modal-title">Please Wait ........</h6>
      </div>
    </div>
  </div>
</div>

<!-- Download file model -->
<div class="modal fade" id="downloadPopUp" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title">Download Bill</h5>
        <!-- <button type="button" class="close" (click)="closeWindow()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body f-12 text-center">
        <div class="d-flex align-items-center justify-content-around">
          <div class="form-check">
            <div class="donwload-file-ext">
              <img src="assets/ext/pdf.png" alt="">
            </div>
            <div class="d-flex align-items-center justify-content-center">
              <input class="form-check-input" type="radio" name="downloadFile" value="pdf" checked
                (change)="getFileExtension($event)">
              <label class="form-check-label ps-3" for="downloadPdf">
                Download Pdf
              </label>
            </div>
          </div>
          <div class="form-check">
            <div class="donwload-file-ext">
              <img src="assets/ext/doc.jpg" alt="">
            </div>
            <div class="d-flex align-items-center justify-content-center">
              <input class="form-check-input" type="radio" value="docx" name="downloadFile"
                (change)="getFileExtension($event)">
              <label class="form-check-label ps-3" for="downloadDoc">
                Download Doc
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-danger" (click)="closeWindow()">Close</button>
        <a href="{{downlodFilePath}}" class="d-none" id="downloadexistingfile"></a>
        <a class="btn btn-primary-c" [attr.disabled]="isLoading" (click)="downloadPdfDocx()" download>
          <i class="fa fa-download text-light pe-2"></i> Download
        </a>
      </div>
    </div>
  </div>
</div>
