<div id="page-menu" class="page-menu" [ngClass]="{'position-relative mobile-mode-menu ': !isMinimize}">
  <ng-container *ngIf="!isMinimize">
    <div class="x_content d-flex justify-content-between m-0 p-0">
      <div class="fe-1 ps-3 py-3 d-flex justify-content-start menu-info text-truncate">
        <app-image-loader [url]="'assets/faces/face.jpg'" [className]="'rounded rounded-circle me-3'">
        </app-image-loader>
        <div class="d-flex text-white flex-column justify-content-center text-truncate">
          <div class="text-truncate">{{userDetail.FirstName}} {{userDetail.LastName != null ? userDetail.LastName : ''}}</div>
          <div class="text-truncate">{{userDetail.EmailId}}</div>
        </div>
      </div>
      <a href="javascript:void(0)" (click)="saveMenuStyle()">
        <i class="fa-solid text-white fa-thumb-tack pinded-icon" [ngClass]="{'d-none': !isMenuExpanded}" aria-hidden="true"></i>
        <i class="fa-solid text-white fa-thumb-tack" [ngClass]="{'d-none': isMenuExpanded}" aria-hidden="true"></i>
      </a>
    </div>
    <div id="menu-items" class="menu-items menu-container bg-white d-flex flex-column justify-content-between position-relative">
      <div class="col-md-12">
        <div class="accordion border-0" *ngFor="let catagory of Menu;let i = index;">
          <div class="accordion-item border-0">
            <div class="accordion-item-header z-3" [ngClass]="{'active': catagory.IsActive}" [attr.data-index]="i+1" (click)="toogle($event)">
              <span class="i-chip">
                <i class="{{catagory.ParentDetail.Icon}}"></i>
              </span>
              {{catagory.Name}}
              <span *ngIf="catagory.ParentDetail.Badge != null"
                class="badge bg-secondary ms-3">
                NEW
              </span>
              <i class="fa-solid fa-caret-right arrow-pointer fa-lg ms-auto ps-2 pe-4 z-0" [ngClass]="{'rotate-caret': catagory.IsActive}"></i>
            </div>
            <!-- /.accordion-item-header -->
            <div class="accordion-item-body" [ngClass]="{'active-body': catagory.IsActive}">
              <div class="accordion-item-body-content">
                <div class="menu-item-group">
                  <ng-container *ngFor="let item of catagory.Value">
                    <a  class="nav-link nav-link-menu a-font" (click)="cleanupEmpId(item.Link)"
                      routerLinkActive="active-link">
                      <div class="row menu-item-div align-items-center">
                        <div class="col-md-1">
                          <i class="menu-item-icon {{item.Icon}}"></i>
                        </div>
                        <div class="mene-item col-md-8 ps-3">
                          {{item.Catagory}}
                        </div>
                      </div>
                    </a>
                  </ng-container>
                </div>
              </div>
            </div><!-- /.accordion-item-body -->
          </div><!-- /.accordion-item -->
        </div>
        <!-- <hr> -->
        <div class="title_menu mt-3">
          <a (click)="navToMasterDataPasge()" *ngIf="isAdmin" class="text-dark custom-text" href="javascript:void(0)" routerLinkActive="router-link-active">
            <i class="fa-solid fa-download me-3 pb-3" aria-hidden="true"></i>
              Uploda Master Data
            </a>
        </div>
      </div>
      <div class="ps-3 custom-text">
        Emstum - V {{version}}
      </div>
    </div>
    <div class="w-100 position-absolute bg-secondary" class="menu-footer btn-primary-c d-none">
      <a href="javascript:void(0)" (click)="organizationSetting()" [hidden]="!isAdmin" >
        <i class="fa-solid fa-gear text-light custom-text" aria-hidden="true"></i>
      </a>
      <a href="javascript:void(0)">
        <i class="fa-solid fa-circle-info text-light custom-text" (click)="notification()" aria-hidden="true"></i>
      </a>
      <a href="javascript:void(0)" (click)="LogoutUser()">
        <i class="fa-solid fa-arrow-right-from-bracket text-light custom-text" aria-hidden="true"></i>
      </a>
      <a href="javascript:void(0)" (click)="mimizeScreen()">
        <i class="fa-solid text-light fa-lg fa-angles-left" aria-hidden="true" ></i>
      </a>
    </div>
  </ng-container>
  <ng-container *ngIf="isMinimize">
    <div class="d-flex bg-white small-menu align-items-center justify-content-between flex-column h-100">
      <div class="">
        <div class="py-2 my-3 dropdown col-md-12 " *ngFor="let catagory of Menu;let i = index;" [ngClass]="{ 'active-sm': catagory.IsActive}">
          <a href="javascript:void(0)" class="text-decoration-none text-center d-flex align-items-center justify-content-center">
            <span class="i-chip">
              <i class="{{catagory.ParentDetail.Icon}}"></i>
            </span>
          </a>
          <div class="dropdown-content dropdown-container">
            <!-- <span class="caret left "></span> -->
            <div class="d-inline caret-container">
              <p class="caret-left"></p>
              <p class="caret-left-bottom"></p>
            </div>
            <a [routerLink]="['/' + item.Link]" class="dropdown-nav-link nav-link-menu a-font" (click)="activeSmallMenu(item.Link, $event)"
              routerLinkActive="active-link" *ngFor="let item of catagory.Value">
              <div class="row align-items-center">
                <div class="col-md-1">
                  <i class="menu-item-icon {{item.Icon}}"></i>
                </div>
                <div class="mene-item col-md-8">
                  {{item.Catagory}}
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="p-3 text-center border-top">
        <!-- <a href="javascript:void(0)" (click)="organizationSetting()" [hidden]="!isAdmin" >
          <i class="fa-solid fa-gear text-dark me-3 fa-lg" aria-hidden="true"></i>
        </a> -->
        <a href="javascript:void(0)" (click)="saveMenuStyle()">
          <i class="fa-solid fa-thumb-tack me-3 fa-lg pinded-icon" [ngClass]="{'d-none': isMenuExpanded}" aria-hidden="true"></i>
          <i class="fa-solid fa-thumb-tack me-3 fa-lg" [ngClass]="{'d-none': !isMenuExpanded}" aria-hidden="true"></i>
        </a>
        <a href="javascript:void(0)" (click)="mimizeScreen()" >
          <i class="fa-solid fa-angles-right me-3 py-3 text-dark fa-lg " aria-hidden="true" data-bs-toggle="tooltip"
          data-bs-placement="right" title="Show more information"></i>
        </a>
      </div>
    </div>
  </ng-container>
  <!-- <div class="blur-sidemenu" *ngIf="isLoading">
  </div> -->
</div>
