<div class="col-12 full-v main-container">
  <div>
    <form>
      <div class="x_panel">
        <div class="x_header">
          <div class="x_header_title">
            <h2 class="fw-bold">
              GENERAL PAYROLL SETTING
              <i class="fa text-dark edit-icon ps-2"></i>
            </h2>
          </div>
        </div>

        <div class="px-1">
          <app-breadcrums></app-breadcrums>
        </div>
        <h4 class="fw-bold text-dark my-3 px-2 py-3">
          <span>PAYROLL CYCLE SETTING</span>
          <button class="float-end btn btn-outline-success"><i class="fa fa-cog pe-2"></i>Save</button>
        </h4>
        <div class="card bg-light p-3">
          <div class="row px-2 py-3">
            <div class="col-md-3">
              <label for="" class="form-label fs-5">Pay Frequency</label>
            </div>
            <div class="col-md-3">
              <select class="form-select">
                <option value="0">Select</option>
                <option value="0">Monthly</option>
              </select>
            </div>
          </div>
          <div class="row px-2 py-3">
            <div class="col-md-3">
              <label for="" class="form-label fs-5">Which pay cycle do you want to start using HiringBell for
                Payroll</label>
            </div>
            <div class="col-md-3">
              <select class="form-select">
                <option value="0">Select</option>
                <option value="0">Aug</option>
              </select>
            </div>
            <div class="col">
              <a href="javascript:void(0)" class="text-decoration-none fw-bold">cancel</a>
            </div>
          </div>
          <div class="row px-2 py-3">
            <div class="col-md-3">
              <label for="" class="form-label fs-5">Which day did the pay period end in Aug</label>
            </div>
            <div class="col-md-3">
              <select class="form-select">
                <option value="0">Select</option>
                <option value="0">SEP 2</option>
              </select>
            </div>
          </div>
          <div class="row px-2 py-3">
            <div class="col-md-3">
              <label for="" class="form-label fs-5">The pay day for the period SEP 3 - OCT 2 is</label>
            </div>
            <div class="col-md-3">
              <select class="form-select">
                <option value="0">Select a Pay day for the period</option>
                <option value="0">Monthly</option>
              </select>
            </div>
          </div>
        </div>
        <h4 class="fw-bold text-dark my-3 px-2 py-3">
          <span>PAYROLL PERIOD CALCULATION</span>
        </h4>
        <div class="card bg-light">
          <div class="row px-2 py-3">
            <div class="col-md-3">
              <label for="" class="form-label fs-5">The pay day for the period SEP 3 - OCT 2 is</label>
            </div>
            <div class="col-md-3">
              <select class="form-select">
                <option value="0">Select a Pay day for the period</option>
                <option value="0">Actual Days in month</option>
              </select>
            </div>
          </div>
          <div class="row px-2 py-3">
            <div class="col-md-3">
              <label for="" class="form-label fs-5">The pay day for the period SEP 3 - OCT 2 is</label>
            </div>
            <div class="col-md-3">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                Default radio
              </label><input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                Default radio
              </label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
