.circle-dv {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: #337ab7;
  color: whitesmoke;
}

.nav-tabs a {
  color: #b9b6b6;
}

.nav-tabs a.active {
  // background-color: #337ab7!important;
  // color: #eee!important;
  font-weight: 500;
  color: #444 !important;

  // i {
  //   color: white !important;
  // }
}

.h-bg {
  background: floralwhite;
}

.active-tab {
  background-color: #286090 !important;
  color: white !important;
}


.disabled-li li a {
  color: #ccc !important;
  pointer-events: none;
  cursor: not-allowed;
}

.skeleton {
  margin: 10px 0px !important;
}

.form-control[readonly],
.form-select[disabled] {
  background-color: transparent !important;
}

.text-muted-c {
  color: #bcbcbc !important;
}

.error-field {
  border: 1px solid red !important;
  border-right: 4px solid red !important;
}
