<div class="main-container">

    <div class="content-header">
        <div class="col-8">
            <div class="px-1">
                <app-breadcrums [title]="'Leave, Attendance and Daily wages details:'"></app-breadcrums>
            </div>
        </div>
    </div>

    <div class="x_panel">
        <div class="x_content">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                <li [ngbNavItem]="1">
                    <button ngbNavLink (click)="loadData()">LEAVE APPLIED</button>
                    <ng-template ngbNavContent>
                        <div class="alert alert-info">All leave (approved or pending) that fails under thid payroll
                            cycel month will be displayed here</div>
                        <div class="x_content">
                            <div class="t-table t-list  col-md-12">
                                <div class="hide-bar"></div>
                                <div class="t-head">
                                    <div class="tr">
                                        <div class="th fe-index pe-2">
                                            <div class="t-filter t-index">
                                                <a href="javascript:void(0)" class="ps-3">#</a>
                                            </div>
                                        </div>
                                        <div class="th fe-2">
                                            <div class="cell-wrapper">
                                                <div class="t-filter">
                                                    <a href="javascript:void(0)" class="pe-2">Employee</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="th fe-2">
                                            <div class="cell-wrapper">
                                                <div class="t-filter ">
                                                    <a href="javascript:void(0)" class="pe-2">Date</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="th fe-1">
                                            <div class="cell-wrapper">
                                                <div class="t-filter text-center d-block">
                                                    <a href="javascript:void(0)" class="pe-2">Total Days</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="th fe-1">
                                            <div class="cell-wrapper">
                                                <div class="t-filter">
                                                    <a href="javascript:void(0)" class="pe-2">Leave Type</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="th fe-1">
                                            <div class="cell-wrapper">
                                                <div class="t-filter">
                                                    <a href="javascript:void(0)" class="pe-2">Status</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="th fe-1">
                                            <div class="cell-wrapper">
                                                <div class="t-filter">
                                                    <a href="javascript:void(0)" class="pe-2">Approver</a>
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="th fe-1 text-center">
                                            <div class="t-filter d-block text-center">
                                                <a href="javascript:void(0)">ACTIONS</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="t-body">
                                    <ng-container *ngIf="appliedLeaveDetail.length > 0">
                                        <div class="tr py-2" *ngFor="let item of appliedLeaveDetail; let i=index;">
                                            <div class="td align-middle ps-2 text-center fe-index">{{i+1}}</div>
                                            <div class="td align-middle fe-2 text-truncate">
                                                {{item.FirstName}} {{item.LastName}}
                                            </div>
                                            <div class="td align-middle fe-2">
                                                <div class="cell-wrapper text-truncate">
                                                    {{item.FromDate | date}} - {{item.ToDate | date}}
                                                </div>
                                            </div>
                                            <div class="td align-middle fe-1">
                                                <div class="cell-wrapper text-center">
                                                    <span class="badge text-bg-primary rounded-pill">
                                                        {{item.NumOfDays}} {{item.NumOfDays > 1? "days" : "day"}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="td align-middle fe-1">
                                                <div class="cell-wrapper">
                                                    {{item.PlanName}}
                                                </div>
                                            </div>
                                            <div class="td align-middle fe-1">
                                                <div class="cell-wrapper"
                                                    [ngClass]="{'text-primary': item.RequestStatusId == 2, 'text-danger': item.RequestStatusId == 5, 'text-success': item.RequestStatusId == 9}">
                                                    <i class="fa pe-1"
                                                        [ngClass]="{'fa-clock-o': item.RequestStatusId == 2, 'fa-solid fa-xmark': item.RequestStatusId == 5, 'fa-check-square-o': item.RequestStatusId == 9}"></i>
                                                    {{item.RequestStatusId == 2 ? 'Pending' : item.RequestStatusId == 5
                                                    ? 'Rejected' : 'Approved'}}
                                                </div>
                                            </div>
                                            <!-- <div class="td align-middle fe-1">
                                                <div class="cell-wrapper">
                                                    {{item.Approver}}
                                                </div>
                                            </div> -->
                                            <div class="td align-middle text-center fe-1">
                                                <ng-container *ngIf="item.RequestStatusId != 9">
                                                    <a href="javascript:void(0)" class="text-decoration-none"
                                                        (click)="leaveActionPopUp(item)">
                                                        <i class="fa-solid fa-ellipsis" data-bs-toggle="tooltip"
                                                            data-bs-placement="right" title="Action"></i>
                                                    </a>
                                                    <!-- <a href="javascript:void(0)"(click)="submitActionForLeave(item, 'Approved')"
                                                        data-bs-toggle="tooltip" data-bs-placement="right"
                                                        title="Approve Leave">
                                                        <i class="fa-regular fa-square-check" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="javascript:void(0)" class="ms-3" data-bs-toggle="tooltip"
                                                        data-bs-placement="right" title="Reject Leave">
                                                        <i class="fa-solid fa-xmark text-danger"
                                                            (click)="submitActionForLeave(item, 'Rejected')"
                                                            aria-hidden="true"></i>
                                                    </a> -->
                                                </ng-container>
                                                <ng-container *ngIf="item.RequestStatusId == 9">
                                                    <i class="fa-regular fa-square-check text-success"
                                                        data-bs-toggle="tooltip" data-bs-placement="right"
                                                        title="Leave Approved"></i>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                                <ng-container *ngIf="appliedLeaveDetail.length == 0">
                                    <div
                                        class="custom-height my-5 py-5 fw-bold fs-3 text-danger d-flex align-items-center justify-content-center">
                                        <p class="my-5 py-5">No Record Found</p>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <!-- <div class="mt-3" *ngIf="isPageReady">
                        <app-pagination [pagination]="leaveData" (onPageChange)="GetFilterLeaveResult($event)"></app-pagination>
                    </div> -->
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <button ngbNavLink (click)="getAttendanceDetail()">ATTENDANCE</button>
                    <ng-template ngbNavContent>
                        <div class="alert alert-info">All employees attendance summaries for this month will be
                            displayed below. Admin can override if required.</div>
                        <div class="x_content">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-md-11 row">
                                    <div class="cell-wrapper col-md-4 mb-3">
                                        <div class="t-filter">
                                            <a href="javascript:void()" class="pe-2">Full Name</a>
                                        </div>
                                        <input class="form-control" (keyup.enter)="filterRecords()" autofocus
                                            [(ngModel)]="attendance.EmployeeName" placeholder="Search by Name"
                                            id="namefilter" (keydown.esc)="resetFilter()">
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <a href="javascript:void(0)" class="text-decoration-none px-2"
                                        (click)="filterRecords()">
                                        <i class="fa-solid fa-filter fa-lg"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="text-decoration-none px-2 text-danger"
                                        (click)="resetFilter()">
                                        <i class="fa-solid fa-repeat fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="excel-table" id="excel-table">
                                <table>
                                    <thead>
                                        <ng-container>
                                            <tr>
                                                <th>Name</th>
                                                <th class="text-truncate" *ngFor="let data of daysInMonth">
                                                    {{data}}
                                                </th>
                                                <th>A</th>
                                                <th>B</th>
                                                <th>C</th>
                                                <th>D</th>
                                                <th>E</th>
                                                <th>F</th>
                                                <th>G</th>
                                                <th>H</th>
                                                <th>I</th>
                                                <th>J</th>
                                            </tr>
                                        </ng-container>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngIf="attendanceDetail.length > 0">
                                            <tr *ngFor="let item of attendanceDetail">
                                                <td>
                                                    {{item.EmployeeName}}
                                                </td>
                                                <ng-container *ngFor="let data of item.AttendanceDetail">
                                                    <td [ngClass]="{'holiday-color': data.PresentDayStatus == 3}">
                                                        <ng-container *ngIf="!data.IsOnLeave">
                                                            <i class="fa-solid fa-check text-success"
                                                                *ngIf="data.PresentDayStatus == 9"></i>
                                                            <i class="fa-solid fa-xmark text-white"
                                                                *ngIf="data.PresentDayStatus == 5"></i>
                                                            <a href="javascript:void(0)"
                                                                (click)="showAttendanceHandler(data, item.AttendanceId, item.EmployeeName)">
                                                                <i class="fa-solid fa-triangle-exclamation text-warning"
                                                                    *ngIf="data.PresentDayStatus == 0"></i>
                                                            </a>
                                                            <i class="fa-regular fa-clock text-danger"
                                                                *ngIf="data.PresentDayStatus == 2 || data.PresentDayStatus == 12"></i>
                                                            <i class="fa-solid fa-gift"
                                                                *ngIf="data.PresentDayStatus == 3 || data.PresentDayStatus == 4"></i>
                                                        </ng-container>
                                                        <ng-container *ngIf="data.IsOnLeave">
                                                            <i class="fa-regular fa-flag"></i>
                                                        </ng-container>
                                                    </td>
                                                </ng-container>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </ng-container>
                                        <ng-container *ngIf="attendanceDetail.length == 0">
                                            <tr>
                                                <td colspan="31">
                                                    <div
                                                        class="custom-height my-5 py-5 fw-bold fs-3 text-danger d-flex align-items-center justify-content-center">
                                                        <p class="my-5 py-5">Record Not Found</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                            <div class="mt-3 row align-items-center justify-content-between">
                                <div class="col" *ngIf="!isLoading">
                                    <app-pagination [pagination]="attendanceData"
                                        (onPageChange)="GetFilterLosspayResult($event)"></app-pagination>
                                </div>
                                <div class="col-auto row align-items-center">
                                    <div class="col-auto text-muted">
                                        Scroll
                                    </div>
                                    <div class="col-auto">
                                        <div id="scroll-dv" class="scroll-bar-dv border-0">
                                            <div class="inner-scroller" id="inner-scroller"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-auto">
                                    <span class="px-2 py-1">
                                        <i class="fa-solid fa-check text-success"></i>
                                    </span>
                                    <span> Approved</span>
                                </div>
                                <div class="col-auto">
                                    <span class="px-2 py-1">
                                        <i class="fa-solid fa-xmark text-danger"></i>
                                    </span>
                                    <span> Rejected</span>
                                </div>
                                <div class="col-auto">
                                    <span class=" px-2 py-1">
                                        <i class="fa-solid fa-ban text-dark"></i>
                                    </span>
                                    <span> Blocked</span>
                                </div>
                                <div class="col-auto">
                                    <span class="px-2 py-1">
                                        <i class="fa-regular fa-clock text-warning"></i>
                                    </span>
                                    <span> Submitted</span>
                                </div>
                                <div class="col-auto">
                                    <span class="px-2 py-1">
                                        <i class="fa-solid fa-triangle-exclamation text-warning"></i>
                                    </span>
                                    <span> Not Submitted</span>
                                </div>
                                <div class="col-auto">
                                    <span class="holiday-color px-2 py-1">
                                        <i class="fa-solid fa-gift"></i>
                                    </span>
                                    <span> WeekOff/ Holiday</span>
                                </div>
                                <div class="col-auto">
                                    <span class=" px-2 py-1">
                                        <i class="fa-regular fa-flag"></i>
                                    </span>
                                    <span> Leave</span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="3">
                    <button ngbNavLink (click)="getLopAdjustment()">LOP VIEW AND DETAIL</button>
                    <ng-template ngbNavContent>
                        <div class="alert alert-info">All employees 'LOP' summaries for this month will be displayed
                            below. Admin can override LOP days if required.</div>
                        <div class="x_content">
                            <div class="d-flex mb-3 align-items-center justify-content-between">
                                <button [disabled]="isLoading" class="btn btn-primary-c"><i
                                        class="fa-solid fa-plus pe-1"></i>
                                    Add Employee</button>
                                <div class="col-md-3 float-end">
                                    <div class="form-group has-search">
                                        <span class="fa-solid fa-magnifying-glass form-control-feedback"></span>
                                        <input type="text" class="form-control"
                                            oninput="this.value = this.value.toUpperCase()"
                                            placeholder="Search Component">
                                    </div>
                                </div>
                            </div>
                            <div class="t-table t-list  col-md-12">
                                <div class="hide-bar"></div>
                                <div class="t-head">
                                    <div class="tr">
                                        <div class="th fe-index">
                                            <div class="t-filter t-index">
                                                <a href="javascript:void(0)" class="ps-3">#</a>
                                            </div>
                                        </div>
                                        <div class="th fe-1">
                                            <div class="cell-wrapper">
                                                <div class="t-filter">
                                                    <a href="javascript:void(0)" class="">Employee</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="th fe-1">
                                            <div class="cell-wrapper">
                                                <div class="t-filter">
                                                    <a href="javascript:void(0)" class="">Actual LOP</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="th fe-1">
                                            <div class="cell-wrapper">
                                                <div class="t-filter">
                                                    <a href="javascript:void(0)" class="">LOP Adjustment</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="th fe-1">
                                            <div class="cell-wrapper">
                                                <div class="t-filter">
                                                    <a href="javascript:void(0)" class="">Final LOP</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="th fe-index">
                                            <div class="cell-wrapper">
                                                <div class="t-filter">
                                                    <a href="javascript:void(0)" class="">Action</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="t-body">
                                    <ng-container *ngIf="lossPayDetail.length > 0">
                                        <div class="tr py-2" *ngFor="let item of lossPayDetail; let i=index;">
                                            <div class="td align-middle fe-index text-center">{{i+1}}</div>
                                            <div class="td align-middle fe-1 text-truncate">
                                                {{item.EmployeeName}}
                                            </div>
                                            <div class="td align-middle fe-1">
                                                <div class="cell-wrapper">
                                                    {{item.ActualLOP}} days
                                                </div>
                                            </div>
                                            <div class="td align-middle fe-1">
                                                <div class="cell-wrapper">
                                                    {{item.LOPAdjusment}} days
                                                </div>
                                            </div>
                                            <div class="td align-middle fe-1">
                                                <div class="cell-wrapper">
                                                    {{item.FinalLOP}} days
                                                </div>
                                            </div>
                                            <div class="td align-middle fe-index">
                                                <div class="cell-wrapper text-center">
                                                    <a href="javascript:void(0)" class="text-decoration-none"
                                                        (click)="lopAdjustmentPopUp(item)">
                                                        <i class="fa-regular fa-pen-to-square"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                                <ng-container *ngIf="lossPayDetail.length == 0">
                                    <div
                                        class="custom-height my-5 py-5 fw-bold fs-3 text-danger d-flex align-items-center justify-content-center">
                                        <p class="my-5 py-5">Record Not Found</p>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <!-- <div class="mt-3" *ngIf="isPageReady">
                    <app-pagination [pagination]="lossPayData" (onPageChange)="GetFilterLosspayResult($event)"></app-pagination>
                    </div> -->
                    </ng-template>
                </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
    </div>
</div>

<!--LOP Adjustment Modal -->
<div class="modal fade" id="lopAdjustment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="lopAdjustmentLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content px-4">
            <div class="modal-header border-bottom-0">
                <h1 class="modal-title fs-5" id="lopAdjustmentLabel">LOP Adjustment</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" *ngIf="selectedLOP != null">
                <div class="col-md-12 row">
                    <div class="col-md-6">
                        <label class="form-label fw-semibold pe-1">Name: </label>
                        <span>{{selectedLOP.EmployeeName}}</span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label fw-semibold pe-1">Actual LOP: </label>
                        <span>{{selectedLOP.ActualLOP}} days</span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="col-md-12">
                        <fieldset class="mt-3">
                            <legend>Deducted Leave</legend>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-label">Leave Type</label>
                                    <select class="form-select mb-3" (change)="validateLeaveStatus($event)">
                                        <option value="" disabled selected>Select leave type</option>
                                        <option [value]="l.LeavePlanTypeId" *ngFor="let l of leaveQuota">
                                            <div class="col-md-12">
                                                {{l.LeavePlanTypeName}} - Balance: {{l.AvailableLeaves | number:
                                                '1.2-2'}} days
                                            </div>
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">LOP Adjustment</label>
                                    <select class="form-select" [(ngModel)]="selectedLOP.LOPAdjusment">
                                        <option value="0">0</option>
                                        <ng-container *ngFor="let item of availLopAdjusmentDay; let i= index;">
                                            <option [value]="item">{{item}}</option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="mt-3">
                    <label class="form-label">Comment</label>
                    <textarea rows="3" placeholder="Comments" class="form-control"
                        [(ngModel)]="selectedLOP.Comment"></textarea>
                </div>
            </div>
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary-c" [disabled]="isLoading" (click)="saveLOPAjustment()">
                    <i
                        [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading, 'fa-regular fa-floppy-disk': !isLoading}"></i>
                    <span class="ps-1">{{ isLoading ? 'Wait' : 'Save' }}</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End -->

<!--Attendance Adjustment Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="attendanceAdjustment" tabindex="-1"
    aria-labelledby="attendanceAdjustmentLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content px-4">
            <div class="modal-header border-bottom-0">
                <h1 class="modal-title fs-5" id="attendanceAdjustmentLabel">Attendance Adjustment</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ng-container *ngIf="selectedAttendance != null">
                    <div class="col-md-12">
                        <label class="form-label">Name</label>
                        <span>: {{selectedAttendance.EmployeeName}} </span>
                    </div>
                    <div class="col-md-12 mt-2">
                        <label class="form-label">Date</label>
                        <span>: {{selectedAttendance.AttendanceDay | date}} </span>
                    </div>
                    <div class="col-md-12 mt-2">
                        <label class="form-label">Submitted By</label>
                        <span>: {{currentUser.FirstName}} {{currentUser.LastName}} </span>
                    </div>
                    <div class="col-md-12 mt-2">
                        <label class="form-label">Message</label>
                        <textarea class="form-control" placeholder="Message" rows="2"
                            [(ngModel)]="selectedAttendance.UserComments"></textarea>
                    </div>
                </ng-container>
            </div>
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"
                    [disabled]="isLoading">Cancel</button>
                <button type="button" class="btn btn-primary-c" [disabled]="isLoading"
                    (click)="saveAttedanceAjustment()">
                    <i
                        [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading, 'fa-regular fa-circle-user': !isLoading}"></i>
                    {{ isLoading ? 'Wait' : 'Save' }}
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End -->

<!--Attendance Adjustment Modal -->
<div class="modal fade" id="leaveActionModal" tabindex="-1" aria-labelledby="leaveActionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content px-4">
            <div class="modal-header border-bottom-0">
                <h1 class="modal-title fs-5" id="leaveActionModalLabel">Leave Action</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ng-container *ngIf="selectedLeave != null">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Total Days</th>
                                <th>Leave Type</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{selectedLeave.FirstName}} {{selectedLeave.LastName}}</td>
                                <td>{{selectedLeave.FromDate | date}} - {{selectedLeave.ToDate | date}}</td>
                                <td>{{selectedLeave.NumOfDays}}</td>
                                <td>{{selectedLeave.PlanName}}</td>
                                <td>{{selectedLeave.RequestStatusId == 2 ? 'Pending' : selectedLeave.RequestStatusId ==
                                    5 ? 'Rejected' : 'Approved'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <input type="text" class="form-control" placeholder="Message"
                            [(ngModel)]="selectedLeave.Reason">
                    </div>
                </ng-container>
            </div>
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"
                    [disabled]="isLoading">Cancel</button>
                <button type="button" class="btn btn-primary-c" [disabled]="isLoading"
                    (click)="submitActionForLeave('Approved')">
                    <i
                        [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading, 'fa-regular fa-floppy-disk': !isLoading}"></i>
                    {{ isLoading ? 'Wait' : 'Save' }}
                </button>
                <button type="button" class="btn btn-danger" [disabled]="isLoading"
                    (click)="submitActionForLeave('Rejected')">
                    <i [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading, 'fa-solid fa-xmark': !isLoading}"></i>
                    {{ isLoading ? 'Wait' : 'Reject' }}
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End -->