<div class="col-12 full-v main-container">
  <div class="content-header">
    <div class="col-8">
      <div class="px-1">
        <app-breadcrums [title]="'Holidays'" [subtitle]="'Details'"></app-breadcrums>
      </div>
    </div>
    <div class="col">
      <div class="x_header_title d-flex align-items-center justify-content-end">
        <a href="javascript:void(0)" class="text-decoration-none fw-bold pe-4" (click)="pageReload()">
          <i class="fa-solid fa-arrows-rotate" data-bs-toggle="tooltip" data-bs-placement="right"
            title="Reload this page"></i>
        </a>
        <a href="javascript:void(0)" class="pe-3" (click)="uploadHolidayExcelPopup()">Upload Holiay List</a>
        <button *ngIf="isAdmin" class="btn btn-primary-c" (click)="addHolidayPopup()"><i
            class="fa-regular fa-plus-square pe-2"></i>Add Holiday</button>
      </div>
    </div>
  </div>

  <div class="x_panel">
    <ng-container *ngIf="isPageReady">
      <div class="x_content mt-4">
        <div class="t-table t-list  col-md-12">
          <div class="hide-bar"></div>
          <div class="t-head">
            <div class="tr">
              <div class="th fe-index">
                <div class="t-index">
                  <a href="javascript:void()" class="ps-3">#</a>
                </div>
              </div>
              <div class="th fe-2">
                <div class="cell-wrapper">
                  <input class="form-control form-control-sm" placeholder="Search by Name"
                    (keydown.esc)="resetFilter()" oninput="this.value = this.value.toUpperCase()"
                    (keyup.enter)="filterRecords()" autofocus [(ngModel)]="holidayDetail.DescriptionNote">
                  <div class="t-filter" (click)="arrangeDetails(orderByDescriptionNoteAsc, 'DescriptionNote')">
                    <a href="javascript:void()" class="pe-2">Name</a>
                    <i class="fa-solid fa-arrow-down-wide-short"
                      [ngClass]="{'d-none': orderByDescriptionNoteAsc == null || !orderByDescriptionNoteAsc }"
                      aria-hidden="true"></i>
                    <i class="fa-solid fa-arrow-down-short-wide"
                      [ngClass]="{'d-none': orderByDescriptionNoteAsc == null || orderByDescriptionNoteAsc }"
                      aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="th fe-1">
                <div class="cell-wrapper">
                  <input class="form-control form-control-sm" autofocus readonly placeholder="Search by Holiday Date">
                  <div class="t-filter" (click)="arrangeDetails(orderByStartDateAsc, 'HolidayDate')">
                    <a href="javascript:void()" class="pe-2">HolidayDate</a>
                    <i class="fa-solid fa-arrow-down-wide-short"
                      [ngClass]="{'d-none': orderByStartDateAsc == null || !orderByStartDateAsc }"
                      aria-hidden="true"></i>
                    <i class="fa-solid fa-arrow-down-short-wide"
                      [ngClass]="{'d-none': orderByStartDateAsc == null || orderByStartDateAsc }"
                      aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="th fe-1">
                <div class="cell-wrapper">
                  <input class="form-control form-control-sm" autofocus placeholder="Search by Total Days" readonly>
                  <div class="t-filter default-cursor">
                    <a href="javascript:void(0)" class="pe-2 default-cursor">Total Days</a>
                  </div>
                </div>
              </div>
              <div class="th fe-1">
                <div class="cell-wrapper">
                  <select class="form-select" (change)="filterRecords()" [(ngModel)]="holidayDetail.IsHalfDay">
                    <option value=null disabled selected>Select</option>
                    <option value="true">Half Day</option>
                    <option value="false">Full Day</option>
                  </select>
                  <div class="t-filter">
                    <a href="javascript:void()" class="pe-2"
                      (click)="arrangeDetails(orderByFullDayAsc, 'IsHalfDay')">FullDay/HalfDay</a>
                    <i class="fa-solid fa-arrow-down-wide-short"
                      [ngClass]="{'d-none': orderByFullDayAsc == null || !orderByFullDayAsc }"
                      aria-hidden="true"></i>
                    <i class="fa-solid fa-arrow-down-short-wide"
                      [ngClass]="{'d-none': orderByFullDayAsc == null || orderByFullDayAsc }"
                      aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="th fe-1">
                <div class="cell-wrapper">
                  <input class="form-control form-control-sm" oninput="this.value = this.value.toUpperCase()"
                    placeholder="Search by Country Name" (keydown.esc)="resetFilter()"
                    (keyup.enter)="filterRecords()" autofocus [(ngModel)]="holidayDetail.Country">
                  <div class="t-filter" (click)="arrangeDetails(orderByCountryAsc, 'Country')">
                    <a href="javascript:void()" class="pe-2">Country</a>
                    <i class="fa-solid fa-arrow-down-wide-short"
                      [ngClass]="{'d-none': orderByCountryAsc == null || !orderByCountryAsc }"
                      aria-hidden="true"></i>
                    <i class="fa-solid fa-arrow-down-short-wide"
                      [ngClass]="{'d-none': orderByCountryAsc == null || orderByCountryAsc }"
                      aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="th fe-index text-center" *ngIf="isAdmin">
                <div class="cell-wrapper">
                  <button class="btn btn-danger" (click)="resetFilter()"><i class="fa-solid fa-repeat"></i></button>
                  <div class="t-filter" (click)="arrangeDetails(orderByCountryAsc, 'Country')">
                    ACTION
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="t-body">
            <ng-container *ngIf="allHolidayList.length > 0">
              <div class="tr py-3" *ngFor="let holiday of allHolidayList; let i = index;">
                <div class="td align-middle text-center fe-index">
                  <div class="cell-wrapper">
                    {{holiday.RowIndex}}
                  </div>
                </div>
                <div class="td align-middle fe-2">
                  <div class="cell-wrapper">
                    {{holiday.DescriptionNote | uppercase}}
                  </div>
                </div>
                <div class="td align-middle fe-1">
                  <div class="cell-wrapper">
                    {{holiday.HolidayDate | date}}
                  </div>
                </div>
                <div class="td align-middle fe-1">
                  <div class="cell-wrapper ">
                    {{'1' | number: '1.2-2'}}
                  </div>
                </div>
                <div class="td align-middle fe-1">
                  <div class="cell-wrapper">
                    {{holiday.IsHalfDay ? 'HalfDay' : 'FullDay'}}
                  </div>
                </div>
                <div class="td align-middle fe-1">
                  <div class="cell-wrapper">
                    {{holiday.Country}}
                  </div>
                </div>
                <div class="td align-middle fe-index" *ngIf="isAdmin">
                  <div class="d-flex flex-row justify-content-evenly">
                    <a href="javascript:void(0)" (click)="editHoliday(holiday)">
                      <i class="fa-solid fa-pencil text-primary" aria-hidden="true"></i>
                    </a>
                    <a href="javascript:void(0)" (click)="deleteHolidayPopUp(holiday)">
                      <i class="fa-solid fa-trash-can text-danger" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="allHolidayList.length == 0">
              <div
                class="custom-height fw-bold fs-3 py-5 my-5 text-danger d-flex align-items-center justify-content-center">
                <p class="my-5 py-5">Record Not Found</p>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="mt-3" *ngIf="allHolidayList.length > 0">
        <app-pagination [pagination]="holidayData" (onPageChange)="GetFilterResult($event)"></app-pagination>
      </div>
    </ng-container>
    <ng-container *ngIf="!isPageReady">
      <app-page-placeholder></app-page-placeholder>
    </ng-container>
  </div>
</div>

<!-- Add/ Update Holiday List Modal -->
<div class="modal fade" id="manageHolidayModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="manageHolidayModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="manageHolidayModalLabel">{{selectedHoliday.CompanyCalendarId == 0 ? 'Add' :
          'Update'}} Holiday</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="holidayForm">
          <div class="col-md-12 row">
            <div class="col-md-4 mt-3">
              <label class="form-label">Company Name</label>
              <input type="text" placeholder="Company Name" readonly formControlName="CompanyName" class="form-control">
            </div>
            <div class="col-md-4 mt-3">
              <label class="form-label">Event Name *</label>
              <input type="text" placeholder="Event Name" oninput="this.value = this.value.toUpperCase()"
                onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 32"
                formControlName="EventName"
                [ngClass]="{'error-field': submitted && f.EventName.errors !== null && f.EventName.errors.required}"
                class="form-control">
            </div>
            <div class="col-md-4 mt-3">
              <label class="form-label">Holiday Type</label>
              <select class="form-select" formControlName="HolidayType"
                [ngClass]="{'error-field': submitted && f.IsPublicHoliday.errors !== null && f.IsPublicHoliday.errors.required}">
                <option value="1">Is Public Holiday</option>
                <option value="2">Holiday</option>
                <option value="3">Custom Holiday</option>
              </select>
            </div>
          </div>
          <div class="col-md-12 row">
            <div class="col-md-4 mt-3">
              <label class="form-label">Holiday Date *</label>
              <form class="form-inline">
                <div class="form-group w-100">
                  <div class="input-group w-100"
                    [ngClass]="{'error-field': submitted && f.HolidayDate.errors !== null && f.HolidayDate.errors.required}">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="fromModel"
                      (dateSelect)="onfromDateSelection($event)" ngbDatepicker [minDate]="mindate" [maxDate]="maxdate"
                      #fd="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="fd.toggle()" type="button"><i
                          class="fa-regular fa-calendar-days fa-lg" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-4 mt-3">
              <label class="form-label">Is HalfDay</label>
              <select class="form-select" formControlName="IsHalfDay"
                [ngClass]="{'error-field': submitted && f.IsHalfDay.errors !== null && f.IsHalfDay.errors.required}">
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
            </div>
            <div class="col-md-4 mt-3">
              <label class="form-label">Description Name *</label>
              <input type="text" class="form-control"
                [ngClass]="{'error-field': submitted && f.DescriptionNote.errors !== null && f.DescriptionNote.errors.required}"
                oninput="this.value = this.value.toUpperCase()" formControlName="DescriptionNote"
                placeholder="Description Note">
            </div>
          </div>
          <div class="col-md-12 row">
            <div class="col-md-4 mt-3">
              <label class="form-label">Applicable For</label>
              <select class="form-select" formControlName="ApplicableFor"
                [ngClass]="{'error-field': submitted && f.ApplicableFor.errors !== null && f.ApplicableFor.errors.required}">
                <option value="0">All</option>
              </select>
            </div>
            <div class="col-md-4 mt-3">
              <label class="form-label">Country *</label>
              <select formControlName="Country" class="form-select"
                [ngClass]="{'error-field': submitted && f.Country.errors !== null && f.Country.errors.required}">
                <option value=null selected>Select Country</option>
                <option value="India">India</option>
                <option value="SriLanka">Sri Lanka</option>
                <option value="Afghanistan">Afghanistan</option>
              </select>
            </div>
            <div class="col-md-4 mt-3">
              <label class="form-label">Year</label>
              <select class="form-select" formControlName="Year" disabled=""
                [ngClass]="{'error-field': submitted && f.Year.errors !== null && f.Year.errors.required}">
                <option [value]="year">{{year}}</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i>
          Close</button>
        <button class="btn btn-success" [disabled]="isLoading" (click)="manageHoliday()">
          <i class="fa-solid" [ngClass]="{'fa-spinner fa-spin': isLoading, 'fa-plus': !isLoading}"></i>
          <span class="ps-2" *ngIf="selectedHoliday.CompanyCalendarId == 0">{{ isLoading ? 'Wait' : 'Add' }}</span>
          <span class="ps-2" *ngIf="selectedHoliday.CompanyCalendarId > 0">{{ isLoading ? 'Wait' : 'Update' }}</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Holiday Modal -->
<div class="modal fade" id="deleteHolidayModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="deleteHolidayModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="deleteHolidayModalLabel">Delete Holiday</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Total Days</th>
              <th>FullDay/HalfDay</th>
              <th>Country</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{selectedHoliday.DescriptionNote}}</td>
              <td>{{selectedHoliday.HolidayDate | date}}</td>
              <td>{{selectedHoliday.TotalDays}}</td>
              <td>{{selectedHoliday.IsHalfDay ? 'HalfDay' : 'FullDay'}}</td>
              <td>{{selectedHoliday.Country}}</td>
            </tr>
          </tbody>
        </table>
        <p class="text-danger fw-bold mb-0">* Note: If you delete then it will be permanently deleted.</p>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i>
          Close</button>
        <button class="btn btn-success" [disabled]="isLoading" (click)="deleteHoliday()">
          <i [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading, 'fa-solid fa-trash-can': !isLoading}"></i>
          <span class="ps-2">{{ isLoading ? 'Wait' : 'Delete' }}</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="uploadHolidayExcelModal" tabindex="-1"
  role="dialog" aria-labelledby="uploadHolidayExcelTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h4 class="modal-title">Upload ExcelFile</h4>
        <button type="button" (click)="cleanFileHandler()" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body overflow-hidden">
        <div class="col-md-12 row x_content">
          <div class="col-md-6">
            <input type="file" id="uploadHolidayexcelreader" (change)="readExcelData($event)" class="d-none"
              *ngIf="isUploadFile" accept=".xlx, .xlsx" />
            <div class="page-card">
              <div class="card">
                <div class="col-md-12 p-0">
                  <div class="table-responsive">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                      <div role="tabpanel" class="active in mt-4 ps-4 pe-4" id="tab_content1"
                        aria-labelledby="home-tab">
                        <div id="classmasterdata" class="col-md-12">
                          <div name="ifilezone" class="ifilezone mb-4" (click)="excelfireBrowserFile()">
                            <div class="col-md-12 py-5 custom-bg justify-content-center" *ngIf="isFileReady"
                              name="uploading">
                              <img src="assets/img/ExcelFile.png" />
                              <div class="filetitle">
                                File:
                                <div name="filename" style="display: inline-block !important;">
                                  {{ fileName }}
                                </div>
                              </div>
                              <div>
                                File size: &nbsp;
                                <div name="filesize" style="display: inline-block !important;">
                                  {{ fileSize }}
                                </div>
                                KB
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 ps-3 pb-3 rounded">
            <p class="sample-note text-end"><i class="fa-regular fa-circle-dot me-2"></i> Upload
              correct format of excel sheet.
              <a href="javascript:void(0)" (click)="getHolidaySampleFile()">Click to download the sample.</a>
            </p>
            <div class="filetitle text-center">Upload File Details</div>
            <div *ngIf="isFileReady">
              <div class="fw-bold">
                File:
                <div name="filename" style="display: inline-block !important;">
                  {{ fileName }}
                </div>
              </div>
              <div>
                <div>
                  File size: &nbsp;
                  <div name="filesize" style="display: inline-block !important;">
                    {{ fileSize }}
                  </div>
                  KB
                </div>
                <div>
                  File type: &nbsp;
                  <div name="uploadingdatetime" style="display: inline-block !important;">
                    {{ file.type }}
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="!isFileReady">
              <div class="fw-bold">
                File: NA
              </div>
              <div>
                <div>
                  File size: &nbsp; NA
                </div>
                <div>
                  No. of record(s): &nbsp; NA
                </div>
                <div>
                  File type: &nbsp; NA
                </div>
              </div>
            </div>
            <div class="mt-4">
              <button type="button" class="btn btn-primary-c" (click)="uploadExcel()" [disabled]="isDisable">
                <i class="fa-solid" [ngClass]="{'fa-spinner fa-spin': isLoading, 'fa-upload': !isLoading}"></i>
                <span class="ps-2">{{ isLoading ? 'Wait ...' : 'Upload' }}</span>
              </button>
              <button type="button" class="btn btn-outline-info ms-2" (click)="cleanFileHandler()"
                [disabled]="isDisable">
                <i class="fa-solid fa-eraser pe-2"></i> Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
