<div class="col-12 full-v main-container">
  <div>
    <form>
      <div class="x_panel mh-auto">
        <div class="x_header">
          <div class="d-flex justify-content-between">
            <div class="col-8">
              <div class="px-1">
                <app-breadcrums [title]="'Company Email Settings'" [subtitle]="'Compnay email settings like: email id, port no, email host etc.'"></app-breadcrums>
              </div>
            </div>
            <div class="col-4">
              <div class="x_header_title d-flex align-items-center justify-content-end">
                <a href="javascript:void(0)" (click)="navToEmailLinkConfig()" class="text-decoration-none fw-bold pe-4"><i
                  class="fa-solid fa-paper-plane pe-1"></i> Email Link Config</a>
              </div>
            </div>
          </div>
        </div>
        <ng-container *ngIf="isLoaded">
          <div class="x_content">
            <div [formGroup]="emailSettingForm" >
              <div class="row col-12">
                <div class="col-md-4">
                  <div class="x_header_title position-relative">
                    <div class="img-container-sq" (change)="uploadCompanyLogo($event)">
                      <div class="img-container__box">
                        <img [attr.src]="profileURL" alt="User">
                        <input type="file" id="uploadocument" class="d-none" accept=".jpg, .jpeg, .png"
                          formControlName="LogoImgPath" />
                        <!-- <div class="img-container__btn mt-2">
                          <button class="btn btn-outline-success form-control"
                            (click)="fireBrowserFile()">Browse</button>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-6 mt-3">
                      <label class="form-label">Organization Name</label>
                      <input type="text" class="form-control" readonly formControlName="OrganizationName">
                    </div>
                    <div class="col-md-6 mt-3">
                      <label class="form-label">Company Name</label>
                      <input readonly class="form-control" formControlName="CompanyName"/>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mt-4">
                      <label class="form-label">Email Name *</label>
                      <input class="form-control" formControlName="EmailName" placeholder="Email Name" oninput="this.value = this.value.toUpperCase()" [ngClass]="{'error-field': submitted && c.EmailName.errors !== null && c.EmailName.errors.required}"/>
                    </div>
                    <div class="col-md-6 mt-4">
                      <label class="form-label">Email Id *</label>
                      <input class="form-control" formControlName="EmailAddress" placeholder="Email Id" [ngClass]="{'error-field': submitted && c.EmailAddress.errors !== null && c.EmailAddress.errors.required}"/>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mt-4">
                      <label class="form-label">Is Primary</label>
                      <select formControlName="IsPrimary" class="form-select">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 row m-0 mt-5">
                <div class="col-md-6">
                  <div class="x_panel">
                    <div class="x_header">
                      <div class="x_header_title">
                        <h2>HOST Setting<small>Send email setting</small></h2>
                      </div>
                    </div>
                    <div class="row col-md-12">
                      <div class="col-md-6 mt-4">
                        <label class="form-label">Email Host *</label>
                        <input class="form-control" formControlName="EmailHost" placeholder="Email Host" [ngClass]="{'error-field': submitted && c.EmailHost.errors !== null && c.EmailHost.errors.required}"/>
                      </div>
                      <div class="col-md-6 mt-4">
                        <label class="form-label">Port No.# *</label>
                        <input class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" formControlName="PortNo" placeholder="Port Number" OnlyNumber="11" [ngClass]="{'error-field': submitted && c.PortNo.errors !== null && c.PortNo.errors.required}"/>
                      </div>
                      <div class="col-md-6 mt-4">
                        <label class="form-label">Enable SSL *</label>
                        <select formControlName="EnableSsl" class="form-select" [ngClass]="{'error-field': submitted && c.EnableSsl.errors !== null && c.EnableSsl.errors.required}">
                          <option disabled value="">Select SSL is enable</option>
                          <option value="true">Yes</option>
                          <option value="false">No</option>
                        </select>
                      </div>
                      <div class="col-md-6 mt-4">
                        <label class="form-label">Delivery Method </label>
                        <input class="form-control" formControlName="DeliveryMethod" placeholder="Delivery Method"/>
                      </div>
                      <div class="col-md-6 mt-4">
                        <label class="form-label">User Default Credentials *</label>
                        <select formControlName="UserDefaultCredentials" class="form-select" [ngClass]="{'error-field': submitted && c.UserDefaultCredentials.errors !== null && c.UserDefaultCredentials.errors.required}">
                          <option disabled value="">Select Default Credentials</option>
                          <option value="true">Yes</option>
                          <option value="false">No</option>
                        </select>
                      </div>
                      <div class="col-md-6 mt-4">
                        <label class="form-label">Credentials *</label>
                        <input class="form-control" formControlName="Credentials" placeholder="Credentials" [ngClass]="{'error-field': submitted && c.Credentials.errors !== null && c.Credentials.errors.required}" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="x_panel">
                    <div class="x_header">
                      <div class="x_header_title">
                        <h2>POP3 Setting<small>Read email setting.</small></h2>
                      </div>
                    </div>
                    <div class="row col-md-12">
                      <div class="col-md-6 mt-4">
                        <label class="form-label">POP3 Email Host</label>
                        <input class="form-control" formControlName="POP3EmailHost" placeholder="POP3 Email Host"/>
                      </div>
                      <div class="col-md-6 mt-4">
                        <label class="form-label">POP3 Port No.#</label>
                        <input class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" formControlName="POP3PortNo" placeholder="POP3 Port Number" OnlyNumber="11"/>
                      </div>
                      <div class="col-md-6 mt-4">
                        <label class="form-label">Enable POP3 SSL</label>
                        <select formControlName="POP3EnableSsl" class="form-select">
                          <option disabled value="">Select SSL is enable</option>
                          <option value="true">Yes</option>
                          <option value="false">No</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-12 mt-4 d-flex flex-column justify-content-end">
                      <div class="d-flex flex-row justify-content-end">
                        <button class="btn-primary-c btn" [disabled]="isLoading" (click)="submitChanges()">
                          <i class="" [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading, 'fa-solid fa-paper-plane': !isLoading}"></i>
                          <span class="ps-2">{{ isLoading ? 'Wait' : 'Save Changes' }}</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <!-- <ng-container *ngIf="!isLoaded">
          <div class="py-5 my-5 x_panel">
            <h6 class="fw-bold fs-3 text-center text-dark">Email setting is loading</h6>
            <div class="fs-5 pb-5 py-5 d-flex flex-column justify-content-center align-items-center">
              <div class="col-md-3 modal-container  text-center cog-wheel">
                <img src="assets/images/cog.gif" alt="" />
                <h6 class="modal-title title-message">
                  Please Wait ........
                </h6>
              </div>
            </div>
          </div>
        </ng-container> -->
      </div>
    </form>
  </div>
</div>
