
.index-count {
  padding: 3px 9px;
}

.active-index div{
  background-color: #2e6da4 !important;
  color: #fff !important;
  border: #2e6da4 !important;
  font-weight: 600 !important;
}

.active-index span {
  font-weight: 700 !important;
  color: #222;
}

.config-tab li a{
  color: rgb(189, 189, 189) !important;
}

.submitted-index div {
  border: 2px solid #2e6da4 !important;
  color: #2e6da4 !important;
}

.submitted-index span {
  color: #2e6da4 !important;
  font-weight: 700 !important;
}
