<div class="col-12 full-v main-container">
  <div class="col-md-12 bg-light mb-3">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link text-dark nav-active" id="attendance-tab" (click)="activateMe('declaration-tab')"
          aria-current="page" href="javascript:void(0)">DECLARATION</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" id="timesheet-tab" (click)="activateMe('salary-tab')"
          href="javascript:void(0)">SALARY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" id="leave-tab" (click)="activateMe('summary-tab')"
          href="javascript:void(0)">SUMMARY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" id="leave-tab" (click)="activateMe('preference-tab')"
          href="javascript:void(0)">PREFERENCE</a>
      </li>
    </ul>
  </div>
  <div class="col-12 x_panel p-0 m-0">
    <div class="px-1">
      <app-breadcrums></app-breadcrums>
    </div>
    <div class="right-panel col-md-12 p-0">
      <div class="col-md-12 bg-light mb-3 mt-3">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link new-nav-link text-dark" id="attendance-tab" (click)="activeTab('declaration-tab')"
              aria-current="page" href="javascript:void(0)">Declaration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" id="timesheet-tab" (click)="activeTab('previous-income-tab')"
              href="javascript:void(0)">Previous Income</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" id="leave-tab" (click)="activeTab('form-12-tab')"
              href="javascript:void(0)">Form 12 BB</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark new-nav-active" id="leave-tab" (click)="activeTab('free-tax-tab')"
              href="javascript:void(0)">Free Tax Filling</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" id="leave-tab" (click)="activeTab('tax-saving-tab')"
              href="javascript:void(0)">Tax Saving Investment</a>
          </li>
        </ul>
      </div>
      <ng-container>
        <div class="container-fluid pt-4 ps-3">
          <div class="d-flex align-items-center justify-content-between">
            <div>
              <h5 class="text-dark">Free Tax Filling</h5>
              <p class="mb-0">You can use Clear Tax (our partner) to e-file your ITR free of cost.</p>
            </div>
            <button class="btn btn-primary-c">Free Tax File</button>
          </div>
          <div class="card ps-3 py-3 my-3">
            <p class="mb-0 fs-6">We've partnered with ClearTax, largest tax platform in India.</p>
            <p class="mb-0 fs-6 py-2">e-File your ITR completely free of cost</p>
            <ul>
              <li class="fs-6 py-2">Upload your Form - 16 pdf</li>
              <li class="fs-6 py-2">Preview your return, created by Cleartax automatically</li>
              <li class="fs-6 py-2">Done with e-filling in just 5-7 mins.</li>
            </ul>
            <p class="mb-0 pb-2 fs-6">Due date to file your ITR for FY {{currentYear - 2}} - {{currentYear - 1}} (AY
              {{currentYear - 1}} - {{currentYear}}) is <span class="fw-bold text-dark">December 31, {{currentYear -
                1}}</span></p>
            <h6 class="fw-bold text-dark pt-2">Happy Filing !</h6>
          </div>
          <p class="fs-6">A service offering from our partner <span class="fw-bold text-dark">cleartax</span></p>
        </div>
      </ng-container>
    </div>
  </div>
</div>
