<div class="main-container">
  <div class="x_panel">
    <div class="x_header">
      <div class="d-flex justify-content-between align-items-center">
        <div class="col-8">
          <div class="px-1">
            <app-breadcrums [title]="'Email Template'" [subtitle]="'Add or update template'"></app-breadcrums>
          </div>
        </div>
        <div class="col-4 text-end">
          <a href="javascript:void(0)" (click)="navToEmailLinkConfig()" class="text-decoration-none fw-bold pe-4"><i
            class="fa-solid fa-paper-plane pe-1"></i> Email Link Config</a>
          <button class="btn btn-primary-c float-end"><i class="fa-solid fa-plus pe-2"></i> Add Template</button>
        </div>
      </div>
    </div>
    <div class="x_content">
      <form [formGroup]="emailTemplateForm" *ngIf="!isPageLoading">
        <div class="row">
          <div class="mt-3 col-md-4">
            <label for="" class="form-label">Template Name</label>
            <input type="text" formControlName="TemplateName" maxlength="40" class="form-control" placeholder="e.g Billing Template" [ngClass]="{'error-field': submitted && f.TemplateName.errors !== null && f.TemplateName.errors.required}">
          </div>
          <div class="mt-3 col-md-4">
            <label for="" class="form-label">Subject</label>
            <input type="text" formControlName="SubjectLine" maxlength="100" class="form-control" placeholder="e.g Bill detail" [ngClass]="{'error-field': submitted && f.SubjectLine.errors !== null && f.SubjectLine.errors.required}">
          </div>
          <div class="mt-3 col-md-4">
            <label for="" class="form-label">Title</label>
            <input type="text" formControlName="EmailTitle" maxlength="100" class="form-control" placeholder="e.g Title" [ngClass]="{'error-field': submitted && f.EmailTitle.errors !== null && f.EmailTitle.errors.required}">
          </div>
        </div>
        <div class="mt-3">
          <small>Note: Enter the description of this template for (optional)</small>
          <textarea type="text" class="form-control" maxlength="200" placeholder="Description" formControlName="Description"></textarea>
        </div>
        <div class="col-md-12">
          <div class="my-3 col-md-12">
            <label for="" class="form-label">Salutation</label>
            <input type="text" formControlName="Salutation" maxlength="40" class="form-control" placeholder="e.g Dear Sir/ Madam" [ngClass]="{'error-field': submitted && f.Salutation.errors !== null && f.Salutation.errors.required}">
          </div>
          <app-editor [height]="55" [content]="emailTemplateDetail.BodyContent" [cleanUp]="eventsSubject.asObservable()"></app-editor>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="mt-3 col-md-8">
              <input type="text" formControlName="EmailNote" maxlength="40" class="form-control rounded-0 border-0 border-bottom" placeholder="Note: Will be appended with body content (Optional)">
            </div>
            <div class="mt-3 col-md-8">
              <input type="text" formControlName="EmailClosingStatement" maxlength="40" class="form-control rounded-0 border-0 border-bottom" [ngClass]="{'custom-error-field': submitted && f.EmailClosingStatement.errors !== null && f.EmailClosingStatement.errors.required}" placeholder="Thanks & Regards or Define custom">
            </div>
            <div class="mt-3 col-md-8">
              <input type="text" formControlName="SignatureDetail" maxlength="40" class="form-control rounded-0 border-0 border-bottom" [ngClass]="{'custom-error-field': submitted && f.SignatureDetail.errors !== null && f.SignatureDetail.errors.required}" placeholder="Name or Signature">
            </div>
            <div class="mt-3 col-md-8">
              <input type="text" formControlName="ContactNo" OnlyNumber="10" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control border-0 rounded-0 border-bottom" placeholder="+91-000000000 (Optional)">
            </div>
          </div>
          <div class="mt-3 col-md-6">
            <label for="" class="form-label">Select logo</label>
            <div class="col-auto col-md-6">
              <select class="form-select" (change)="loadImageLocally($event)" formControlName="FileId">
                <option value="0" disabled>Select image</option>
                <option [attr.value]="img.FileId" *ngFor="let img of companyFiles">{{img.FileName}}</option>
              </select>
            </div>
            <div class="mt-3 col-md-6 " *ngIf="logoUrl != ''">
              <img [attr.src]="logoUrl" class="small-img-preview" alt="">
            </div>
          </div>
        </div>
        <div class="text-end mt-3 col-md-12">
          <button class="btn btn-outline-danger" (click)="resetEmailTemp()"><i class="fa-solid fa-trash-can pe-2"></i> Reset</button>
          <button class="btn btn-primary-c ms-3" [disabled]="isLoading" (click)="saveEmailTemplate()">
            <i [ngClass]="{'fa-spin fa-solid fa-spinner': isLoading, 'fa-regular fa-file': !isLoading}"></i>
            {{ isLoading ? 'Wait' : 'Save' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
