<div class="main-container">
  <div class="x_panel">
    <form autocomplete="off">
      <div class="col-12 row m-0 p-0 mb-4">
        <div class="x_header">
          <div class="d-flex justify-content-between mt-3">
            <div class="col-4">
              <div class="px-1">
                <app-breadcrums [title]="'Attendance'"></app-breadcrums>
              </div>
            </div>
            <div class="col-8 row justify-content-end align-items-center" *ngIf="isEmployeesReady && isAdmin">
              <div class="col-2">
                <input type="checkbox" class="form-check-input" [checked]="isMyAttendance" (click)="viewAttendance()">
                <span class="ps-2">My attendance</span>
              </div>
              <div class="col-2">
                <input type="checkbox" class="form-check-input" [checked]="!isMyAttendance" (click)="viewAttendance()">
                <span class="ps-2">View others</span>
              </div>
              <ng-container *ngIf="!isMyAttendance">
                <div class="col-md-3">
                  <bot-autocomplete [data]="employeesList" (OnSelect)="findEmployee($event)" [(ngModel)]="employeeId"
                  [ngModelOptions]="{standalone: true}">
                  </bot-autocomplete>
                </div>
                <div class="col-md-3 p-0 m-0">
                  <bot-autocomplete [data]="clientDetail" [(ngModel)]="clientId" [ngModelOptions]="{standalone: true}">
                  </bot-autocomplete>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <!-- <ng-container *ngIf="isLoading || !isEmployeesReady">
        <div class="py-5 my-5 x_panel">
          <h6 class="fw-bold fs-3 text-center text-dark">Attendence Details are loading</h6>
          <div class="fs-5 pb-5 py-5 d-flex flex-column justify-content-center align-items-center">
            <div class="col-md-3 modal-container  text-center cog-wheel">
              <img src="assets/images/cog.gif" alt="" />
              <h6 class="modal-title title-message">
                Please Wait ........
              </h6>
            </div>
          </div>
        </div>
      </ng-container> -->
      <ng-container *ngIf="!isLoading && isEmployeesReady">
        <ng-container *ngIf="!isEmployeeSelected">
          <div class="my-5 py-5 d-flex align-items-center justify-content-center">
            <div class="my-5 py-5 fs-5 fw-bold text-dark">
              Please select Employee first
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="isEmployeeSelected">
          <ng-container>
            <h6 class="mt-3 text-dark">Logs & Requests</h6>
            <div class="col-md-12 mt-3 bg-light">
              <nav ngbNav #nav="ngbNav" class="nav-tabs">
                <ng-container ngbNavItem>
                  <a ngbNavLink class="text-dark">Attendance Log</a>
                  <ng-template ngbNavContent>
                    <div class="" *ngIf="!isLoading">
                      <div class="col-md-12 d-flex align-items-center bg-white justify-content-between mt-4 py-3 ">
                        <div class="col-md-4 d-flex align-items-center">
                          <select (change)="filterByStatus()" class="form-select w-50" [(ngModel)]="filterAttendStatus" [ngModelOptions]="{standalone: true}">
                            <option value=null selected disabled>Filter by status</option>
                            <option value="1">All</option>
                            <option value="0">Not Applied</option>
                            <option value="2">Pending</option>
                            <option value="3">Weekend</option>
                            <option value="4">Holiday</option>
                            <option value="9">Approved</option>
                            <option value="5">Rejected</option>
                            <option value="10">Blocked</option>
                          </select>
                          <button *ngIf="filterStatus == 10" class="btn btn-primary-c ms-2" (click)="requestPopUp()">
                            <i class="fa fa-retweet pe-2" aria-hidden="true"></i>
                            Raise a request
                          </button>
                        </div>
                        <div class="btn-group pe-5" role="group" aria-label="Basic radio toggle button group">
                          <ng-container *ngFor="let month of monthName; let i = index">
                            <input type="radio" class="btn-check" name="btnradio"  (click)="previousMonthAttendance(month.value, i)" id="btnradio{{i}}" autocomplete="off">
                            <label class="btn btn-light month-btn" [ngClass]="{'active-month': i == activeMonth}" for="btnradio{{i}}">{{month.name}}</label>
                          </ng-container>
                        </div>
                      </div>
                      <div class="">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th class="custom-th index-col">DATE</th>
                              <th class="custom-th"></th>
                              <th class="custom-th">ATTENDANCE VISUAL</th>
                              <th class="custom-th">EFFECTIVE HOURS</th>
                              <th class="custom-th">GROSS HOURS</th>
                              <th class="custom-th">ARRIVAL</th>
                              <th class="custom-th">STATUS</th>
                              <th class="custom-th" *ngIf="isMyAttendance">LOG</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of currentDays; let index = index" [ngClass]="{'leave-bg': item.IsOnLeave, 'empt-table-ht' : (item.PresentDayStatus == 3 || item.PresentDayStatus == 4 || item.IsOnLeave)}">
                              <td class="align-middle">{{item.AttendanceDay | date: 'MMM d, EEE'}}
                              </td>
                              <td class="align-middle">
                                <div class="d-inline" [ngSwitch]="item.PresentDayStatus">
                                  <ng-container *ngIf="item.IsOnLeave">
                                    <span class="badge leave-bg-d ms-2">LEAVE</span>
                                  </ng-container>
                                  <ng-container *ngIf="!item.IsOnLeave">
                                    <span class="badge text-bg-success ms-2" *ngSwitchCase="3">W-OFF</span>
                                    <span class="badge bg-secondary ms-2" *ngSwitchCase="4">HLDY</span>
                                    <ng-container *ngIf="(item.PresentDayStatus != 3 && item.PresentDayStatus != 4)">
                                      <span class="badge bg-danger ms-2" *ngIf="item.WorkTypeId == 0">EMPTY</span>
                                      <span class="badge text-bg-success ms-2" *ngIf="item.WorkTypeId == 1">WFH</span>
                                      <span class="badge text-bg-success ms-2" *ngIf="item.WorkTypeId == 2">WFO</span>
                                    </ng-container>
                                  </ng-container>
                                </div>
                              </td>
                              <ng-container *ngIf="(item.PresentDayStatus == 3 || item.PresentDayStatus == 4 || item.IsOnLeave)">
                                <td colspan="6">
                                  <div class="fw-bold text-success text-center">{{item.PresentDayStatus == 3 ? "Weekly-Off" : item.PresentDayStatus == 4 ? "Holiday" : "Leave"}} ({{item.AttendanceDay | date: 'EEEE'}})</div>
                                </td>
                              </ng-container>
                              <ng-container *ngIf="item.PresentDayStatus != 3 && item.PresentDayStatus != 4 && !item.IsOnLeave">
                                <td class="align-middle">
                                  <p class="pt-3">
                                    <ng-container *ngIf="item.IsOnLeave">
                                      <ngb-progressbar type="danger" [value]="100" [striped]="true" style="width: 40%;"></ngb-progressbar>
                                    </ng-container>
                                    <ng-container *ngIf="!item.IsOnLeave">
                                      <ngb-progressbar *ngIf="item.PresentDayStatus == 12" type="info" [value]="100" [striped]="true" style="width: 40%;"></ngb-progressbar>
                                      <ngb-progressbar *ngIf="item.PresentDayStatus == 9" type="success" [value]="item.SessionType == 1 ? 100 : 50" [striped]="true" style="width: 40%;"></ngb-progressbar>
                                      <ngb-progressbar *ngIf="item.PresentDayStatus == 2" type="info" [value]="item.SessionType == 1 ? 100 : 50" [striped]="true" style="width: 40%;"></ngb-progressbar>
                                      <ngb-progressbar *ngIf="(!item.IsOpen && item.PresentDayStatus == 0) || item.PresentDayStatus == 5" type="danger" [value]="100" [striped]="true" style="width: 40%;"></ngb-progressbar>
                                      <ngb-progressbar *ngIf="item.IsOpen && item.PresentDayStatus == 0" type="primary" [value]="100" [striped]="true" style="width: 40%;"></ngb-progressbar>
                                      <ngb-progressbar *ngIf="item.PresentDayStatus == 3 || item.PresentDayStatus == 4" type="warning" [value]="100" [striped]="true" style="width: 40%;"></ngb-progressbar>
                                      <!-- <ngb-progressbar type="info" [value]="100" style="width: 40%;"></ngb-progressbar> -->
                                    </ng-container>
                                  </p>
                                </td>
                                <td class="align-middle"><i class="fa fa-circle pe-3 text-info"></i> {{item.LogOff}} hrs</td>
                                <td class="align-middle">{{item.LogOn}} hrs</td>
                                <td class="align-middle">
                                  <div class="d-inline" [ngSwitch]="item.PresentDayStatus">
                                    <ng-container *ngIf="item.IsOnLeave">
                                      Leave
                                    </ng-container>
                                    <ng-container *ngIf="!item.IsOnLeave">
                                      <span class="" *ngSwitchCase="2">Pending</span>
                                      <span class="" *ngSwitchCase="1">Not applied</span>
                                      <span class="" *ngSwitchCase="0">-</span>
                                      <span class="" *ngSwitchCase="5">00:00</span>
                                      <span class="" *ngSwitchCase="9">
                                        <i class="fa fa-check pe-2 text-success"></i> On Time
                                      </span>
                                      <span class="" *ngSwitchCase="12">
                                        <i class="fa fa-share" aria-hidden="true"></i> Pending
                                      </span>
                                    </ng-container>
                                  </div>
                                </td>
                                <td class="align-middle">
                                  <div class="" [ngSwitch]="item.PresentDayStatus">
                                    <div placement="top" ngbTooltip="waiting" aria-expanded="false"
                                    *ngSwitchCase = "2">
                                      <i class="fa fa-thumbs-o-up pe-2 text-secoundry"></i> Submitted
                                    </div>
                                    <div placement="top" ngbTooltip="Not Applied" aria-expanded="false"
                                    *ngSwitchCase = "0">
                                      <ng-container *ngIf="item.IsOpen">
                                        <i class="fa fa-clock-o pe-2 text-warning"></i>
                                        <span>Not Applied</span>
                                      </ng-container>
                                      <ng-container *ngIf="!item.IsOpen">
                                        <i class="fa fa-ban pe-2 text-danger"></i>
                                        <span>Blocked</span>
                                      </ng-container>
                                    </div>
                                    <div placement="top" ngbTooltip="Weekend" aria-expanded="false"
                                    *ngSwitchCase = "3">
                                      <i class="fa zoom-2 fa-gift pe-2 text-success"></i> Weekend
                                    </div>
                                    <div placement="top" ngbTooltip="Weekend" aria-expanded="false" *ngSwitchCase = "4">
                                      <i class="fa zoom-2 fa-gift pe-2 text-success"></i> Holiday
                                    </div>
                                    <div placement="top" ngbTooltip="Approved" aria-expanded="false"
                                    *ngSwitchCase = "9">
                                      <i class="fa fa-check-square-o pe-2 text-success"></i> Approved
                                    </div>
                                    <div placement="top" ngbTooltip="Rejected" aria-expanded="false"
                                    *ngSwitchCase = "5">
                                      <i class="fa fa-close pe-2 text-danger"></i> Rejected
                                    </div>
                                    <div placement="top" ngbTooltip="Rejected" aria-expanded="false"
                                    *ngSwitchCase = "12">
                                      <i class="fa fa-paper-plane-o pe-2 text-danger"></i> Request raised
                                    </div>
                                  </div>
                                </td>
                                <td class="align-middle" *ngIf="isMyAttendance">
                                  <div class="d-flex align-items-center">
                                    <ng-container *ngIf="!item.IsOnLeave">
                                      <div class="col" *ngIf="(item.PresentDayStatus == 0 || item.PresentDayStatus == 5)">
                                        <div ngbDropdown class="d-inline-block">
                                          <button type="button" class="btn btn-sm" placement="top" ngbTooltip="Apply"
                                            id="dropdownBasic1" ngbDropdownToggle>
                                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                          </button>
                                          <div class="dropdown-menu p-0 m-0" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                            <button ngbDropdownItem *ngIf="item.IsOpen">
                                              <a class="dropdown-item" href="javascript:void(0)"
                                                (click)="applyWorkFromHome(item)">Apply WFH Request</a>
                                            </button>
                                            <button ngbDropdownItem *ngIf="!item.IsOpen">
                                              <a class="dropdown-item" href="javascript:void(0)" (click)="requestPopUp(item)">
                                                Attendance is block. Please raise request if not absent
                                              </a>
                                            </button>
                                          </div>
                                        </div>
                                      </div>
                                      <ng-container *ngIf="item.PresentDayStatus == 9">
                                        <span class="ms-2">
                                          <div placement="top" ngbTooltip="Approved" aria-expanded="false">
                                            <i class="fa fa-check-square-o zoom-2 text-success" aria-hidden="true"></i>
                                          </div>
                                        </span>
                                      </ng-container>
                                      <span class=" ms-2" *ngIf="item.PresentDayStatus == 3">
                                        <div placement="top" ngbTooltip="Weekend" aria-expanded="false">
                                          <i class="fa zoom-2 fa-gift text-primary-c" aria-hidden="true"></i>
                                        </div>
                                      </span>
                                      <span class=" ms-2" *ngIf="item.PresentDayStatus == 4">
                                        <div placement="top" ngbTooltip="Holiday" aria-expanded="false">
                                          <i class="fa zoom-2 fa-gift text-primary-c" aria-hidden="true"></i>
                                        </div>
                                      </span>
                                      <span class="ms-2" *ngIf="item.PresentDayStatus == 2">
                                        <div placement="top" ngbTooltip="Pending" aria-expanded="false">
                                          <i class="fa fa-clock-o zoom-2 text-warning" aria-hidden="true"></i>
                                        </div>
                                      </span>
                                      <span class="ms-2" *ngIf="item.PresentDayStatus == 12">
                                        <div placement="left" ngbTooltip="Your request for blocked attendance is raised" aria-expanded="false">
                                          <i class="fa fa-commenting-o zoom-2 text-dark" aria-hidden="true"></i>
                                        </div>
                                      </span>
                                    </ng-container>
                                    <ng-container *ngIf="item.IsOnLeave">
                                      <span class="ms-2">
                                        <div placement="left" ngbTooltip="On Leave" aria-expanded="false">
                                          <i class="fa fa-flag zoom-2 text-dark" aria-hidden="true"></i>
                                        </div>
                                      </span>
                                    </ng-container>
                                  </div>
                                </td>
                              </ng-container>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <!-- <ng-container *ngIf="isLoading">
                      <div class="py-5 my-5">
                        <h6 class="fw-bold fs-3 text-center text-dark">Attendance are loading</h6>
                        <div class="fs-5 pb-5 py-5 d-flex flex-column justify-content-center align-items-center">
                          <div class="col-md-3 modal-container  text-center cog-wheel">
                            <img src="assets/images/cog.gif" alt="" />
                            <h6 class="modal-title title-message">
                              Please Wait ........
                            </h6>
                          </div>
                        </div>
                      </div>
                    </ng-container> -->
                  </ng-template>
                </ng-container>
                <ng-container ngbNavItem>
                  <a ngbNavLink class="text-dark" (click)="loadShiftDetail()">Shift Detail</a>
                  <ng-template ngbNavContent>
                    <ng-container class="" *ngIf="isPageReady">
                      <ng-container *ngIf="shiftDetail !== null">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="mt-3 col-md-4">
                              <label  class="form-label">Shift Title</label>
                              <input type="text" readonly value="{{shiftDetail.ShiftTitle}}" class="form-control">
                            </div>
                            <div class="mt-3 col-md-4">
                              <label  class="form-label">Description</label>
                              <input type="text" readonly value="{{shiftDetail.Description}}" class="form-control">
                            </div>
                            <div class="mt-3 col-md-4">
                              <label  class="form-label">Total Working Days</label>
                              <input type="text" readonly value="{{shiftDetail.TotalWorkingDays}}" class="form-control">
                            </div>
                          </div>
                          <div class="mt-4">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>Week Days</th>
                                  <th>Monday</th>
                                  <th>Tuesday</th>
                                  <th>Wednesday</th>
                                  <th>Thursday</th>
                                  <th>Friday</th>
                                  <th>Saturday</th>
                                  <th>Sunday</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="fw-bold text-primary">Office Time</td>
                                  <td>
                                    <div *ngIf="shiftDetail.IsMon">
                                      <span>{{shiftDetail.OfficeTime}}</span> to <span>{{shiftDetail.OfficeEndTime}}</span>
                                    </div>
                                    <div *ngIf="!shiftDetail.IsMon" class="text-danger fw-bold">Weekend</div>
                                  </td>
                                  <td>
                                    <div *ngIf="shiftDetail.IsTue">
                                      <span>{{shiftDetail.OfficeTime}}</span> to <span>{{shiftDetail.OfficeEndTime}}</span>
                                    </div>
                                    <div *ngIf="!shiftDetail.IsTue" class="text-danger fw-bold">Weekend</div>
                                  </td>
                                  <td>
                                    <div *ngIf="shiftDetail.IsWed">
                                      <span>{{shiftDetail.OfficeTime}}</span> to <span>{{shiftDetail.OfficeEndTime}}</span>
                                    </div>
                                    <div *ngIf="!shiftDetail.IsWed" class="text-danger fw-bold">Weekend</div>
                                  </td>
                                  <td>
                                    <div *ngIf="shiftDetail.IsThu">
                                      <span>{{shiftDetail.OfficeTime}}</span> to <span>{{shiftDetail.OfficeEndTime}}</span>
                                    </div>
                                    <div *ngIf="!shiftDetail.IsThu" class="text-danger fw-bold">Weekend</div>
                                  </td>
                                  <td>
                                    <div *ngIf="shiftDetail.IsFri">
                                      <span>{{shiftDetail.OfficeTime}}</span> to <span>{{shiftDetail.OfficeEndTime}}</span>
                                    </div>
                                    <div *ngIf="!shiftDetail.IsFri" class="text-danger fw-bold">Weekend</div>
                                  </td>
                                  <td>
                                    <div *ngIf="shiftDetail.IsSat">
                                      <span>{{shiftDetail.OfficeTime}}</span> to <span>{{shiftDetail.OfficeEndTime}}</span>
                                    </div>
                                    <div *ngIf="!shiftDetail.IsSat" class="text-danger fw-bold">Weekend</div>
                                  </td>
                                  <td>
                                    <div *ngIf="shiftDetail.IsSun">
                                      <span>{{shiftDetail.OfficeTime}}</span> to <span>{{shiftDetail.OfficeEndTime}}</span>
                                    </div>
                                    <div *ngIf="!shiftDetail.IsSun" class="text-danger fw-bold">Weekend</div>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="fw-bold text-primary">Working Hours</td>
                                  <td [ngClass]="{'fw-bold text-danger': !shiftDetail.IsMon}">{{shiftDetail.IsMon ? shiftDetail.Duration : '00:00'}} min</td>
                                  <td [ngClass]="{'fw-bold text-danger': !shiftDetail.IsTue}">{{shiftDetail.IsTue ? shiftDetail.Duration : '00:00'}} min</td>
                                  <td [ngClass]="{'fw-bold text-danger': !shiftDetail.IsWed}">{{shiftDetail.IsWed ? shiftDetail.Duration : '00:00'}} min</td>
                                  <td [ngClass]="{'fw-bold text-danger': !shiftDetail.IsThu}">{{shiftDetail.IsThu ? shiftDetail.Duration : '00:00'}} min</td>
                                  <td [ngClass]="{'fw-bold text-danger': !shiftDetail.IsFri}">{{shiftDetail.IsFri ? shiftDetail.Duration : '00:00'}} min</td>
                                  <td [ngClass]="{'fw-bold text-danger': !shiftDetail.IsSat}">{{shiftDetail.IsSat ? shiftDetail.Duration : '00:00'}} min</td>
                                  <td [ngClass]="{'fw-bold text-danger': !shiftDetail.IsSun}">{{shiftDetail.IsSun ? shiftDetail.Duration : '00:00'}} min</td>
                                </tr>
                                <tr>
                                  <td class="fw-bold text-primary">Lunch Duration</td>
                                  <td [ngClass]="{'fw-bold text-danger': !shiftDetail.IsMon}">{{shiftDetail.IsMon ? shiftDetail.LunchDuration : '00:00'}} min</td>
                                  <td [ngClass]="{'fw-bold text-danger': !shiftDetail.IsTue}">{{shiftDetail.IsTue ? shiftDetail.LunchDuration : '00:00'}} min</td>
                                  <td [ngClass]="{'fw-bold text-danger': !shiftDetail.IsWed}">{{shiftDetail.IsWed ? shiftDetail.LunchDuration : '00:00'}} min</td>
                                  <td [ngClass]="{'fw-bold text-danger': !shiftDetail.IsThu}">{{shiftDetail.IsThu ? shiftDetail.LunchDuration : '00:00'}} min</td>
                                  <td [ngClass]="{'fw-bold text-danger': !shiftDetail.IsFri}">{{shiftDetail.IsFri ? shiftDetail.LunchDuration : '00:00'}} min</td>
                                  <td [ngClass]="{'fw-bold text-danger': !shiftDetail.IsSat}">{{shiftDetail.IsSat ? shiftDetail.LunchDuration : '00:00'}} min</td>
                                  <td [ngClass]="{'fw-bold text-danger': !shiftDetail.IsSun}">{{shiftDetail.IsSun ? shiftDetail.LunchDuration : '00:00'}} min</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="shiftDetail == null">
                        <div class="custom-height fw-bold fs-3 text-danger my-5 py-5 d-flex align-items-center justify-content-center">
                          <p class="my-5 py-5">Record Not Found</p>
                        </div>
                      </ng-container>
                    </ng-container>
                    <!-- <ng-container *ngIf="!isPageReady">
                      <div class="py-5 my-5">
                        <h6 class="fw-bold fs-3 text-center text-dark">Shift details are loading</h6>
                        <div class="fs-5 pb-5 py-5 d-flex flex-column justify-content-center align-items-center">
                          <div class="col-md-3 modal-container  text-center cog-wheel">
                            <img src="assets/images/cog.gif" alt="" />
                            <h6 class="modal-title title-message">
                              Please Wait ........
                            </h6>
                          </div>
                        </div>
                      </div>
                    </ng-container> -->
                  </ng-template>
                </ng-container>

                <ng-container ngbNavItem>
                  <a ngbNavLink class="text-dark" (click)="loadAttendanceRequestDetail()">Missed Attendence & Status</a>
                  <ng-template ngbNavContent>
                    <div class="col-md-12 d-flex align-items-center bg-white justify-content-between mt-4 py-3">
                      <span class="ps-4">Work From Home / On Duty Request</span>
                      <div>
                        <div class="btn-group dropstart me-4">
                          <button class="btn btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                          </button>
                          <ul class="dropdown-menu p-0 m-0" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="javascript:void(0)" (click)="selectOption(index)">Last 7
                                days</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)" (click)="selectOption(index)">Last 14
                                days</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)" (click)="selectOption(index)">Last 30
                                days</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)" (click)="selectOption(index)">Custom
                                Range</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="x_panel">
                      <ng-container *ngIf="attendanceRquestPageIsReady">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th class="custom-th border-end" width="10%">
                                <a href="javascript:void(0)" class="text-decoration-none pe-2 text-dark" (click)="arrangeDetails(orderByAttendanceDateAsc, 'AttendanceDate')">DATE</a>
                                <i class="fa fa-sort-amount-asc"
                                  [ngClass]="{'d-none': orderByAttendanceDateAsc == null || !orderByAttendanceDateAsc }" aria-hidden="true"></i>
                                <i class="fa fa-sort-amount-desc"
                                  [ngClass]="{'d-none': orderByAttendanceDateAsc == null || orderByAttendanceDateAsc }" aria-hidden="true"></i>
                              </th>
                              <th class="custom-th border-end" width="10%">REQUEST TYPE</th>
                              <th class="custom-th border-end" width="15%">
                                <a href="javascript:void(0)" class="text-decoration-none pe-2 text-dark" (click)="arrangeDetails(orderByRequestedOnAsc, 'RequestedOn')">RequestedOn</a>
                                <i class="fa fa-sort-amount-asc"
                                  [ngClass]="{'d-none': orderByRequestedOnAsc == null || !orderByRequestedOnAsc }" aria-hidden="true"></i>
                                <i class="fa fa-sort-amount-desc"
                                  [ngClass]="{'d-none': orderByRequestedOnAsc == null || orderByRequestedOnAsc }" aria-hidden="true"></i>
                              </th>
                              <th class="custom-th border-end" width="25%">NOTE</th>
                              <th class="custom-th border-end" width="10%">STATUS</th>
                              <th class="custom-th " width="15%">ACTION TAKEN BY</th>
                            </tr>
                          </thead>
                          <tbody>
                            <ng-container *ngIf="attendanceRequestDetail.length > 0">
                              <tr *ngFor="let attr of attendanceRequestDetail">
                                <td class="align-middle border-end border-bottom">
                                  <div class="d-flex align-items-center justify-content-between">
                                    <p>{{attr.AttendanceDate | date}}</p>
                                    <div class="d-flex align-items-center flex-column">
                                      <i class="fa fa-home fa-lg"></i>
                                      <p>1 Day</p>
                                    </div>
                                  </div>
                                </td>
                                <td class="align-middle border-end border-bottom">
                                  Missing attendance
                                </td>
                                <td class="align-middle border-end border-bottom">
                                  {{attr.RequestedOn | date}}
                                  <p><small>by {{attr.EmployeeName}}</small></p>
                                </td>
                                <td class="align-middle border-end border-bottom">
                                  {{attr.EmployeeMessage}}
                                </td>
                                <td class="align-middle border-end border-bottom">
                                  <div [ngSwitch]="attr.CurrentStatus">
                                    <div *ngSwitchCase=2>Pending</div>
                                    <div *ngSwitchCase=3>Canceled</div>
                                    <div *ngSwitchCase=5>Rejected</div>
                                    <div *ngSwitchCase=8>Submitted</div>
                                    <div *ngSwitchCase=9>Approved</div>
                                  </div>
                                </td>
                                <td class="align-middle border-end border-bottom">
                                  <span>{{attr.ManagerName}}</span>
                                  <p><small>on {{attr.UpdatedOn | date}}</small></p>
                                </td>
                              </tr>
                            </ng-container>

                            <ng-container *ngIf="attendanceRequestDetail.length == 0">
                              <tr>
                                <td class="align-middle border-bottom-0 py-5my-5" colspan="7">
                                  <div class="d-flex justify-content-center py-5 my-5">
                                    <p class="my-5 py-5">No pending attendance request available.</p>
                                  </div>
                                </td>
                              </tr>
                            </ng-container>
                          </tbody>
                        </table>
                        <div class="mt-3">
                          <app-pagination [pagination]="request" (onPageChange)="GetFilterResult($event)"></app-pagination>
                        </div>
                      </ng-container>
                      <!-- <ng-container *ngIf="attendanceRequestDetail.length == 0 && !attendanceRquestPageIsReady">
                        <div class="py-5 my-5">
                          <h6 class="fw-bold fs-3 text-center text-dark">Missed attendance and status is loading</h6>
                          <div class="fs-5 pb-5 py-5 d-flex flex-column justify-content-center align-items-center">
                            <div class="col-md-3 modal-container  text-center cog-wheel">
                              <img src="assets/images/cog.gif" alt="" />
                              <h6 class="modal-title title-message">
                                Please Wait ........
                              </h6>
                            </div>
                          </div>
                        </div>
                      </ng-container> -->
                    </div>
                  </ng-template>
                </ng-container>
              </nav>

              <div [ngbNavOutlet]="nav" class="mt-2"></div>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </form>
  </div>
</div>

<!-- Comment Modal Start-->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="commentModal" tabindex="-1"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-lg">
  <div class="modal-content">
    <ng-container *ngIf="currentAttendance != null">
      <div class="modal-header border-bottom-0" >
        <h5 class="modal-title" id="exampleModalLabel">{{attendanceRequestType == 1 ? "Work From Home" : "Work From Office"}} Request</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="col-md-12 px-4 d-block">
        <p class="mt-2">Enter your work from home reson and apply with one click.
          Select your manage or reporting person under Notify section to get approval.</p>
      </div>
      <div class="modal-body px-4">
        <div class="d-flex position-relative align-items-center">
          <div class="col-md-8 d-flex">
            <div class="col-md-6 ps-2 py-3 border">
              <small>START DATE</small>
              <p class="mb-0 text-dark fs-5">{{today | date}}</p>
            </div>
            <div class="col-md-6 pe-3 py-3 border text-end">
              <small>END DATE</small>
              <p class="mb-0 text-dark fs-5">{{tomorrow | date}}</p>
            </div>
          </div>
        </div>
        <span class="px-3 py-2 day-wfh">1day {{attendanceRequestType == 1 ? "WFH" : "WFO"}} </span>
        <div class="row">
          <div class="col-md-6 pt-3">
            <label class="form-label">Request Type</label>
            <select class="form-select" [(ngModel)]="attendanceRequestType">
              <option value="1">Work From Home</option>
              <option value="2">Work From Office</option>
            </select>
          </div>
          <div class="col-md-6">
            <p class="mb-0 text-dark ps-2 pt-3">Session</p>
            <div class="btn-group mt-2 mb-4" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="SessionType" (click)="selectSession($event)" id="btnradio10" autocomplete="off" checked
                value="1">
              <label class="btn btn-outline-primary" for="btnradio10">Full Day</label>
              <input type="radio" class="btn-check" name="SessionType" (click)="selectSession($event)" id="btnradio11" autocomplete="off"
                value="2">
              <label class="btn btn-outline-primary" for="btnradio11">First Half</label>
              <input type="radio" class="btn-check" name="SessionType" (click)="selectSession($event)" id="btnradio12" autocomplete="off"
                value="3">
              <label class="btn btn-outline-primary" for="btnradio12">Second Half</label>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-3">
          <label  class="form-label">Reason</label>
          <textarea class="comment-text-area form-control" placeholder="Enter your comment" name="commentValue" maxlength="100"  [ngModelOptions]="{standalone: true}"
            [(ngModel)]="commentValue"></textarea>
          <div class="alert alert-danger" *ngIf="isComment">
            Comment is required.
          </div>
        </div>
        <!-- <div>
          <ng-container *ngFor="let employee of employees; let i = index">
            <span class="badge fs-6 fw-normal bg-ant text-dark me-2 my-2">
              {{employee.Name}}
              <a href="javascript:void(0)" (click)="removeEmail(i)" class="text-decoration-none">
                <i class="fa fa-close ps-2 text-dark"></i>
              </a>
            </span>
          </ng-container>
        </div> -->
        <!-- <div class="mt-3" *ngIf="isEmployeesReady">
          <label  class="form-label">Notify</label>
          <bot-autocomplete [data]="employeesList" (OnSelect)="addEmployeeEmail($event)" [(ngModel)]="reportingManagerId"
            [ngModelOptions]="{standalone: true}">
          </bot-autocomplete>
        </div> -->
        <!-- <p class="mb-0">These employees will be notified through email when you WFH request applied.</p> -->
      </div>

      <div class="modal-footer border-top-0 pe-4">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary-c" [disabled]="isLoading" (click)="submitAttendance()">
          <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-user-circle-o': !isLoading}"></i>
          {{ isLoading ? 'Wait' : 'Request' }}
        </button>
      </div>
    </ng-container>
  </div>
</div>
</div>
<!-- End -->

<!-- Request Attendance Modal Start-->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="requestModal" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-xl">
  <div class="modal-content">
    <ng-container>
      <div class="modal-header border-bottom-0" >
        <h5 class="modal-title" id="exampleModalLabel">Attendance is block. Click to send request for unblock</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="filterByStatus()"></button>
      </div>
      <div class="col-md-12 px-4 d-block">
        <p class="mt-2">You can't apply attendance more than 4 days. Please fill details and send the request to your manager for unblock this attendance</p>
      </div>
      <div class="modal-body px-4">
        <div class="d-flex position-relative align-items-center col-md-12 flex-wrap">
          <div class="position-relative m-2 chip" *ngFor="let item of currentDays; ;let i= index">
            <span class="px-3 badge">{{item.AttendanceDay | date: 'MMM d, EEE'}}</span>
            <a href="javascript:void(0)" class="position-absolute" (click)="removeBlockDay(item, i)">
              <i class="fa fa-close"></i>
            </a>
          </div>
        </div>
        <div class="col-md-12 mt-3">
          <app-editor [height]="28" [content]="EmailBody" [cleanUp]="eventsSubject.asObservable()"></app-editor>
        </div>
        <div class="col-md-12 mt-2">
          <label  class="form-label">Reason</label>
          <textarea class="comment-text-area form-control" rows="2" placeholder="Enter your comment" name="commentValue" maxlength="100" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="commentValue"></textarea>
          <div class="alert alert-danger" *ngIf="isComment">
            Comment is required.
          </div>
        </div>
        <!-- <div>
          <ng-container *ngFor="let employee of employees; let i = index">
            <span class="badge fs-6 fw-normal bg-ant text-dark me-2 my-2">
              {{employee.Name}}
              <a href="javascript:void(0)" (click)="removeEmail(i)" class="text-decoration-none">
                <i class="fa fa-close ps-2 text-dark"></i>
              </a>
            </span>
          </ng-container>
        </div>
        <div class="mt-3" *ngIf="isEmployeesReady">
          <label  class="form-label">Notify</label>
          <bot-autocomplete [data]="employeesList" (OnSelect)="addEmployeeEmail($event)" [(ngModel)]="reportingManagerId"
            [ngModelOptions]="{standalone: true}">
          </bot-autocomplete>
        </div> -->
        <!-- <p class="mb-0">These employees will be notified through email when you WFH request applied.</p> -->
      </div>

      <div class="modal-footer border-top-0 pe-4">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" (click)="filterByStatus()">Cancel</button>
        <button type="button" class="btn btn-primary-c" [disabled]="isLoading" (click)="sendRequest()">
          <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-user-circle-o': !isLoading}"></i>
          {{ isLoading ? 'Wait' : 'Send request' }}
        </button>
      </div>
    </ng-container>
  </div>
</div>
</div>
