<div class="container ch-100 d-flex align-items-center justify-content-center">
    <div class="row col-md-12">
        <div class="col-md-6">
            <h2 class="fw-bold mb-4 text-dark">Why Performance management is Important</h2>
            <ul class="fs-5 text-dark">
                <li class="py-2">Drives employee development and growth, enhancing overall performance.</li>
                <li class="py-2">Aligns individual goals with organizational objectives for increased productivity.</li>
                <li class="py-2">Provides valuable feedback to employees, fostering continuous improvement.</li>
                <li class="py-2">Identifies top performers and areas for improvement, optimizing talent management.</li>
                <li class="py-2">Enhances communication and transparency between managers and employees.</li>
                <li class="py-2">Supports fair and objective assessment of employee contributions.</li>
                <li class="py-2">Increases employee engagement and job satisfaction through recognition and rewards.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="assets/images/performanacemanagement.jpg" class="img-thumbnail" alt="hrmanaagement">
        </div>
    </div>
</div>

<app-footer></app-footer>