<div class="col-md-12 main-container">
  <div class="content-header">
    <div class="col-8 px-1">
      <app-breadcrums [title]="'Salary Adjustment'" [subtitle]="'Adjust employee salary details'"></app-breadcrums>
    </div>
  </div>
  <div class="x_panel">
    <div [ngSwitch]="isPageReady">
      <div *ngSwitchCase="false">
        <div class="mt-5">
          <app-page-placeholder></app-page-placeholder>
        </div>
      </div>
      <div *ngSwitchDefault class="overflow-hidden">
        <div class="x_content mt-0">
          <div>
          <i class="fa-solid fa-magnifying-glass-dollar fa-lg pe-2"></i>
          <span class="fw-bold fs-4">Salary Details</span>
          </div>
          <div class="card mt-3 shadow p-3 me-2 ms-1">
          <div class="row row-cols-7 justify-content-between">
            <div class="col">
              <label class="form-label fw-bold">Company Name</label>
              <p class="mb-0 text-primary-dc fw-bold">{{currentCompny.CompanyName}}</p>
            </div>
            <div class="col">
              <label class="form-label fw-bold">Payroll Provider</label>
              <p class="mb-0 text-primary-dc fw-bold">Emstum</p>
            </div>
            <div class="col">
              <label class="form-label fw-bold">Employee Name</label>
              <p class="mb-0 text-primary-dc fw-bold">{{selectedData.EmployeeName}}</p>
            </div>
            <div class="col">
              <label class="form-label fw-bold">Pay Frequency</label>
              <p class="mb-0 text-primary-dc fw-bold">Monthly</p>
            </div>
            <div class="col">
              <label class="form-label fw-bold">Pay Month</label>
              <p class="mb-0 text-primary-dc fw-bold">{{selectedData.MonthName}}</p>
            </div>
            <div class="col">
              <label class="form-label fw-bold">Pay Year</label>
              <p class="mb-0 text-primary-dc fw-bold">{{selectedData.Year}}</p>
            </div>
            <div class="col">
              <label class="form-label fw-bold">Currency</label>
              <p class="mb-0 text-primary-dc fw-bold">Indian Rupee</p>
            </div>
          </div>
          </div>
          <div class="t-table t-list col-md-12 mb-3 mt-4">
            <div class="t-head bg-light fw-bold ms-1">
              <div class="tr">
                <div class="th ps-3 fe-1">Component Id</div>
                <div class="th fe-2">Component Name</div>
                <div class="th fe-1">Formula</div>
                <div class="th fe-1">Auto Component</div>
                <div class="th fe-1">Include in Payslip</div>
                <div class="th fe-1">Final Amount</div>
                <div class="th text-center fe-index">Actions</div>
              </div>
            </div>
            <div class="t-body">
              <div class="tr py-2 align-items-center" *ngFor="let item of salaryComponents; let i = index;" [ngClass]="{'disable-field': (item.ComponentId == 'Gross' || item.ComponentId == 'CTC' || item.ComponentId == 'PTAX' || item.Formula == '[AUTO]')}">
                <div class="td ps-3 fe-1">
                  {{ item.ComponentId }}
                </div>
                <div class="td ps-1 text-truncate fe-2">
                  {{ item.ComponentName }}
                </div>
                <div class="td text-truncate fe-1">
                  {{(item.Formula == null || item.Formula == "") ? '--' : item.Formula}}
                </div>
                <div class="td text-truncate fe-1 ps-2">
                  <input type="checkbox" data-name="AutoComponent" (click)="changeAutoComponent($event, item)" class="form-check" [checked]="item.Formula == '[AUTO]'" disabled>
                </div>
                <div class="td fe-1">
                  <div class="form-check form-switch">
                    <input class="form-check-input form-check-input-c pe-visible" disabled data-name="IncludeInPayslip" (click)="selectIncludepayslip($event, item)" type="checkbox" role="switch" id="flexSwitchCheckChecked" [checked]="item.IsIncludeInPayslip">
                    <label class="form-check-label" for="flexSwitchCheckChecked">{{ item.IsIncludeInPayslip ? "Yes" : "No" }}</label>
                  </div>
                </div>
                <div class="td ps-1 fe-1">
                  <input type="text" class="form-control w-75" [value]="item.FinalAmount" readonly data-name="FinalAmount"
                  (keyup)="changeSalaryAmount(item, $event)">
                </div>
                <div class="td fe-index text-center">
                  <a class="text-decoration-none text-muted" (click)="editComponent($event, i, item)" href="javascript:void(0)" [ngClass]="{'pe-none text-muted': (item.ComponentId == 'Gross' || item.ComponentId == 'CTC' || item.ComponentId == 'PTAX' || item.Formula == '[AUTO]')}">
                    <i class="fa-solid" [ngClass]="{'fa-spinner fa-spin': isLoading, 'fa-pencil': !isLoading}"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="text-end">
            <button class="btn btn-primary-c me-2" (click)="saveSalaryDetail()">
              <i [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading, 'fa-regular fa-floppy-disk': !isLoading}"></i>
              <span class="ps-1">{{isLoading ? 'Wait' : 'Save'}}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
