<div class="main-container">
  <div class="col-12 x_panel row m-0 p-0 mb-4 overflow-hidden">
    <div class="x_header">
      <div class="d-flex justify-content-between mt-3">
        <div class="col-8">
          <div class="px-1">
            <app-breadcrums [title]="'Manage Timesheet'" [subtitle]="'Details'"></app-breadcrums>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <!-- <ng-container *ngIf="isPageReady">
        <div class="py-5 my-5">
          <h6 class="fw-bold fs-3 text-center text-dark">Timesheet detail is loading</h6>
          <div class="fs-5 pb-5 py-5 d-flex flex-column justify-content-center align-items-center">
            <div class="col-md-3 modal-container  text-center cog-wheel">
              <img src="assets/images/cog.gif" alt="" />
              <h6 class="modal-title title-message">
                Please Wait ........
              </h6>
            </div>
          </div>
        </div>
      </ng-container> -->
      <ng-container *ngIf="!isPageReady">
        <form [formGroup]="timesheetForm">
          <div class="col-md-12 row justify-content-between align-items-center">
            <div class="col-md-4 mt-3">
              <label for="" class="form-label me-2 fw-bold fs-5">Developer Name:</label>
              <label for="" class="form-label me-2 fw-bold fs-5">{{userDetail.FirstName}} {{userDetail.LastName}}</label>
            </div>
            <div class="col-auto mt-3 row">
              <div class="col-auto">
                <button type="button" class="btn btn-warning" [disabled]="isLoading || weeklyTimesheetDetail.TimesheetStatus == 8 || weeklyTimesheetDetail.TimesheetStatus == 9" (click)="saveTimesheet()">
                  <i  [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading}"></i>
                  {{ isLoading ? 'Wait' : 'Save' }}
                </button>
                <button type="button" class="btn btn-success ms-2" [disabled]="isLoading || weeklyTimesheetDetail.TimesheetStatus == 8 || weeklyTimesheetDetail.TimesheetStatus == 9" (click)="submitTimesheet()">
                  <i  [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading}"></i>
                  {{ isLoading ? 'Wait' : 'Submit' }}
                </button>
                <button type="button" class="btn btn-danger ms-2" [disabled]="isLoading || weeklyTimesheetDetail.TimesheetStatus == 8 || weeklyTimesheetDetail.TimesheetStatus == 9">
                  <i  [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading}"></i>
                  {{ isLoading ? 'Wait' : 'Cancel' }}
                </button>
              </div>
              <div class="col ps-0">
                <div ngbDropdown class="d-inline-block">
                  <button type="button" [disabled]="weeklyTimesheetDetail.TimesheetStatus == 8 || isLoading || weeklyTimesheetDetail.TimesheetStatus == 9" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                    <a href="javascript:void(0)" class="text-decoration-none" >
                      More Actions
                      <i class="fa-solid fa-caret-down ps-2" data-name="dropdown-icon"></i>
                    </a>
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>Action - 1</button>
                    <button ngbDropdownItem>Another Action</button>
                    <button ngbDropdownItem>Something else is here</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 row">
            <div class="col-md-6">
              <div class="row mt-3">
                <div class="col-md-3">
                  Client Name
                </div>
                <div class="col-md-9">
                  <input type="text" class="form-control" readonly [value]="pageData.ClientName">
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-3">
                  Comments
                </div>
                <div class="col-md-9">
                  <textarea placeholder="Additional Info" [readOnly]="(weeklyTimesheetDetail.TimesheetStatus == 8 && weeklyTimesheetDetail.IsSubmitted == true) || weeklyTimesheetDetail.TimesheetStatus == 9" formControlName="UserComments" class="form-control" rows="3" maxlength="100"></textarea>
                </div>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center">
              <span class="fw-bold text-dark fs-5">Your timesheet is {{weeklyTimesheetDetail.TimesheetStatus == 8 && weeklyTimesheetDetail.IsSubmitted == true ? 'Submitted' : weeklyTimesheetDetail.TimesheetStatus == 2 && weeklyTimesheetDetail.IsSaved == false? 'Pending' : weeklyTimesheetDetail.TimesheetStatus == 5 ? 'Rejected' : weeklyTimesheetDetail.TimesheetStatus == 9 ? 'Approved' : 'Saved'}}</span>
            </div>
          </div>
          <div class="col-12 row m-0 mt-5">
            <div class="x_panel x-panel-changed">
              <div class="x_header">
                <div class="x_header_title">
                  <h2>Timesheet Details</h2>
                </div>
              </div>
              <div class="col-md-12 row justify-content-between align-items-center">
                <div class="col-md-7 row mt-3">
                  <div class="col-md-2">
                    <i class="fa-solid fa-circle text-secondary pe-2"></i>
                    WEEKENDS
                  </div>
                  <div class="col-md-2">
                    <i class="fa-solid fa-circle text-info pe-2"></i>
                    SUBMITTED
                  </div>
                  <div class="col-md-2">
                    <i class="fa-solid fa-circle text-success pe-2"></i>
                    APPROVED
                  </div>
                  <div class="col-md-2">
                    <i class="fa-solid fa-circle text-danger pe-2"></i>
                    REJECTED
                  </div>
                  <div class="col-md-2">
                    <i class="fa-solid fa-circle text-primary pe-2"></i>
                    LEAVE
                  </div>
                </div>
                <div class="col-md-3 float-end text-end mt-3">
                  <button type="button" class="btn btn-primary-c btn-sm me-2" [disabled]="isLoading || weeklyTimesheetDetail.TimesheetStatus == 8 || weeklyTimesheetDetail.TimesheetStatus == 9">
                    <i  [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading}"></i>
                    {{ isLoading ? 'Wait' : 'Fill from previous Timesheet' }}
                  </button>
                  <button type="button" (click)="clearTimesheet()" class="btn btn-primary-c btn-sm" [disabled]="isLoading || weeklyTimesheetDetail.TimesheetStatus == 8 || weeklyTimesheetDetail.TimesheetStatus == 9">
                    <i  [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading}"></i>
                    {{ isLoading ? 'Wait' : 'Clear Timesheet' }}
                  </button>
                </div>
              </div>
              <div class="col-md-12 row mt-3">
                <div class="col-md-1 border-end text-center">
                  <span class="badge bg-primary text-center">TOTAL</span>
                  <p class="fw-bold fs-5 mb-0 text-dark">{{totalActualBurnHrs}}</p>
                </div>
                <div class="col-md-1 border-end text-center">
                  <span class="badge bg-success text-center">BILLABLE</span>
                  <p class="fw-bold fs-5 mb-0 text-dark">{{totalExpectedBurnHrs}}</p>
                </div>
                <div class="col-md-1 border-end text-center">
                  <span class="badge bg-warning text-center">STANDARD</span>
                  <p class="fw-bold fs-5 mb-0 text-dark">{{totalActualBurnHrs}}</p>
                </div>
              </div>
              <div class="col-md-12 mt-3" formArrayName="WeeklyTimesheetDetail">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <th class="fw-bold fs-5 text-primary" width="18%">Week {{weekNumber}}</th>
                      <ng-container *ngFor="let item of weeklydata.controls; let i = index" [formGroupName]="i">
                        <td class="text-primary" [ngClass]="{'table-active': item.get('IsWeekEnd').value == false}">
                          <div class="d-flex justify-content-center align-items-center">
                            {{item.get("PresentDate").value | date: 'ccc'}}
                            <i *ngIf="weeklyTimesheetDetail.TimesheetStatus != 2 || (item.get('IsWeekEnd').value == false && weeklyTimesheetDetail.TimesheetStatus == 2)" class="fa-solid fa-circle ps-2" [ngClass]="{'text-secondary': item.get('IsWeekEnd').value == false, 'text-info': weeklyTimesheetDetail.TimesheetStatus == 8 && weeklyTimesheetDetail.IsSubmitted == true && item.get('IsWeekEnd').value == true, 'text-danger':  weeklyTimesheetDetail.TimesheetStatus == 5  && item.get('IsWeekEnd').value == true, 'text-success':  weeklyTimesheetDetail.TimesheetStatus == 9  && item.get('IsWeekEnd').value == true}"></i>
                          </div>
                        </td>
                      </ng-container>
                      <td rowspan="2" class="text-break table-active" width="10%">Total Hours Per item</td>
                    </tr>
                    <tr>
                      <td class="table-active text-primary">Pay Classification</td>
                      <ng-container *ngFor="let item of weeklydata.controls; let i = index" [formGroupName]="i">
                        <td class="text-primary">
                          <div class="d-flex justify-content-center">
                            {{item.get("PresentDate").value | date}}
                          </div>
                        </td>
                      </ng-container>
                    </tr>
                    <tr>
                      <td>Standard Time</td>
                      <ng-container *ngFor="let item of weeklydata.controls; let i = index" [formGroupName]="i">
                        <td class="text-primary" [ngClass]="{'table-active': (weeklyTimesheetDetail.TimesheetStatus == 8 && weeklyTimesheetDetail.IsSubmitted == true) || weeklyTimesheetDetail.TimesheetStatus == 9}">
                          <div class="d-flex justify-content-center">
                            <input type="text" class="border-0 w-25 text-end" [readOnly]="(weeklyTimesheetDetail.TimesheetStatus == 8 && weeklyTimesheetDetail.IsSubmitted == true) || weeklyTimesheetDetail.TimesheetStatus == 9" onkeypress="return event.charCode >=48 && event.charCode <=57" formControlName="ActualHours" (keyup)="manageHrsField(i, $event)">
                            <span>:</span>
                            <input type="text" class="border-0 w-25" [readOnly]="(weeklyTimesheetDetail.TimesheetStatus == 8 && weeklyTimesheetDetail.IsSubmitted == true) || weeklyTimesheetDetail.TimesheetStatus == 9" onkeypress="return event.charCode >=48 && event.charCode <=57" formControlName="ActualMinutes" (keyup)="manageMinField(i, $event)">
                          </div>
                        </td>
                      </ng-container>
                      <td class="table-active text-center">{{totalActualBurnHrs}}</td>
                    </tr>
                    <tr class="table-active">
                      <td>Total Billable Hours</td>
                      <ng-container *ngFor="let item of weeklydata.controls; let i = index" [formGroupName]="i">
                        <td class="fw-bold">
                          <div class="d-flex justify-content-center">
                            {{item.get("ExpectedHours").value}}
                            <span>:</span>
                            {{item.get("ExpectedMinutes").value}}
                          </div>
                        </td>
                      </ng-container>
                      <td class="fw-bold text-center">{{totalExpectedBurnHrs}}</td>
                    </tr>
                    <tr class="table-active">
                      <td>Total Hours</td>
                      <ng-container *ngFor="let item of weeklydata.controls; let i = index" [formGroupName]="i">
                        <td class="fw-bold">
                          <div class="d-flex justify-content-center">
                            {{item.get("ActualHours").value}}
                            <span>:</span>
                            {{item.get("ActualMinutes").value}}
                          </div>
                        </td>
                      </ng-container>
                      <td class="fw-bold text-center">{{totalActualBurnHrs}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </form>
      </ng-container>
    </div>
  </div>
</div>
