<div class="container ch-100 d-flex align-items-center justify-content-center">
    <div class="row col-md-12">
        <div class="col-md-6">
            <h2 class="fw-bold mb-4 text-dark">Why Leave management is Important</h2>
            <ul class="fs-5 text-dark">
                <li class="py-2">Optimizes workforce planning and resource allocation.</li>
                <li class="py-2">Ensures fair and consistent leave policies across the organization.</li>
                <li class="py-2">Reduces absenteeism and unplanned leave, improving productivity.</li>
                <li class="py-2">Facilitates compliance with labor regulations and company policies.</li>
                <li class="py-2">Streamlines leave request and approval processes, saving time.</li>
                <li class="py-2">Enhances employee satisfaction by providing transparency and flexibility.</li>
                <li class="py-2">Improves HR efficiency by automating leave tracking and management.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="assets/images/Leave-Management.jpg" class="img-thumbnail " alt="hrmanaagement">
        </div>
    </div>
</div>

<app-footer></app-footer>