.rounded-icon {
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

ngb-rating {
  font-size: 2rem;
  color: #1d569d !important;
}

textarea {
  resize: none;
}

.input-group-c {
  position: relative;
  display: flex;
  align-items: stretch;
}

.danger-border {
  border-left: 0.4rem solid red !important;
}

.success-border {
  border-left: 0.4rem solid #28a745 !important;
}

.custom-border {
  border-left: 0.4rem solid rgba(var(--bs-info-rgb),var(--bs-bg-opacity))!important;
}

.transparent-bg {
  background-color: transparent !important;
}

.bg-ant {
  background-color: antiquewhite;
}
