<div class="col-12 full-v main-container">
  <div class="x_panel mh-auto">
    <div class="x_header">
      <div class="d-flex justify-content-between">
        <div class="col-8">
          <div class="px-1">
            <app-breadcrums [title]="'Appraisal Finalizer Page'"></app-breadcrums>
          </div>
        </div>
      </div>
    </div>
    <div>
      <ng-container *ngIf="isPageReady">
        <ng-container *ngIf="allAppraisalFinalizer.length > 0">
          <div class="col-md-12 mt-3">
            <div class="alert alert-success" role="alert" *ngIf="isSubmitted">
              <i class="fa-solid fa-bell fa-lg pe-2 text-dark"></i>
              <span>Review details are submiited successfully</span>
            </div>
            <ng-container *ngFor="let item of allAppraisalFinalizer">
              <div class="row bg-white p-2 m-0 mb-3 d-flex justify-content-between rounded leave-box grid-card py-3 custom-border">
                <div class="d-flex col-md-10 align-items-center">
                  <p class="mb-0 fs-6">
                    <span class="fw-bold text-primary-dc">
                      Project Name: {{item.ProjectName}}
                    </span>
                  </p>
                  <span class="px-3 fw-bold text-dark">|</span>
                  <p class="ms-2 mb-0 fs-6">
                    Manager: {{item.ManagerName}}
                  </p>
                  <span class="px-3 fw-bold text-dark">|</span>
                  <p class="ms-2 mb-0 fs-6">
                    <span class="">Reacted On: {{item.ReactedOn | date}}</span>
                  </p>
                </div>
                <div class="col-auto">
                  <a href="javascript:void(0)" (click)="getAppraisalFinalize()">View Hike and Promotion</a>
                </div>
                <div class="d-flex col-md-12 mt-2 align-items-center">
                  <p class="ms-2 mb-0 fs-6 d-flex flex-warap align-items-center">
                    <span class="pe-2">Teams :</span>
                    <span class="badge fs-6 fw-normal bg-ant text-dark me-2 my-2" *ngFor="let item of item.Team">{{item}}</span>
                  </p>
                  <span class="px-3 fw-bold text-dark">|</span>
                  <p class="ms-2 mb-0 fs-6 d-flex flex-warap align-items-center">
                    <span class="pe-2">Members :</span>
                    <span class="badge fs-6 fw-normal bg-ant text-dark me-2 my-2" *ngFor="let item of item.MemberName">{{item}}</span>
                  </p>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
        <ng-container *ngIf="allAppraisalFinalizer.length == 0 ">
          <div class="fw-bold text-dark my-5 py-5">
            <p class="my-5 py-5 text-center fs-4">
              Record not found.
            </p>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>


<div class="modal fade" id="viewMemberModal" tabindex="-1" aria-labelledby="viewMemberModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen p-5 modal-dialog-centered">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h1 class="modal-title fs-5" id="viewMemberModalLabel">Promotion and Hike details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-success" role="alert" *ngIf="appraisalReviewStatus == 9">
          Review details are approved
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="appraisalReviewStatus == 5">
          Review details are rejected
        </div>
        <div class="col-md-12 mt-3">
          <ng-container *ngFor="let item of allMemberAppraisalFinalizer">
            <div class="row bg-white p-2 m-0 mb-3 d-flex justify-content-between rounded leave-box grid-card pb-4 pt-2 custom-border" [ngClass]="{'danger-border': appraisalReviewStatus == 5, 'success-border': appraisalReviewStatus == 9, 'custom-border': (appraisalReviewStatus != 5 && appraisalReviewStatus != 9)}">
              <div class="d-flex col-md-10 align-items-center">
                <a href="javascript:void(0)" class="me-2">
                  <i class="fa-regular fa-circle-user fa-lg"></i>
                </a>
                <p class="mb-0 fs-6">
                  <span class="fw-bold text-primary-dc">
                    <a href="javascript:void(0)" class="text-decoration-none" [ngClass]="{'pe-none': isSubmitted}">{{item.FirstName}} {{item.LastName}} (Exp.: {{item.Experience}} months)</a>
                  </span>
                </p>
                <span class="px-2">|</span>
                <div class="col-auto d-flex align-items-center">
                  <span class="pe-1">Rating: </span>
                  <ngb-rating [readonly]="true" rate="{{item.Rating}}" [max]="5"></ngb-rating>
                </div>
              </div>
              <div class="d-flex col-md-12 mt-2">
                <p class="ms-2 mb-0 fs-6">
                  <i class="fa-solid fa-sack-dollar fa-lg pe-2 text-danger"></i>
                  <span class="">Salary: </span>
                  <span><i class="fa-solid fa-indian-rupee-sign px-1"></i>{{item.CTC}}</span>
                </p>
                <span class="px-3 fw-bold text-dark">|</span>
                <p class="ms-2 mb-0 fs-6">
                  <span class="">Proposed Hike Percentage: </span>
                  <span>{{item.HikePercentage}} <i class="fa-solid fa-percent px-1"></i></span>
                </p>
                <span class="px-3 fw-bold text-dark">|</span>
                <p class="ms-2 mb-0 fs-6">
                  <span class="">Proposed Hike Amount: </span>
                  <span><i class="fa-solid fa-indian-rupee-sign px-1"></i>{{item.HikeAmount}}</span>
                </p>
                <span class="px-3 fw-bold text-dark">|</span>
                <p class="ms-2 mb-0 fs-6">
                  <i class="fa-solid fa-hand-holding-dollar fa-lg pe-2 text-danger"></i>
                  <span class="">Estimated Salary: </span>
                  <span><i class="fa-solid fa-indian-rupee-sign px-1"></i>{{item.EstimatedSalary}}</span>
                </p>
                <span class="px-3 fw-bold text-dark">|</span>
                <div class="col-auto d-flex">
                  <span class="">Promoted Designation: </span>
                  <div>
                    <select [(ngModel)]="item.PromotedDesignation" disabled class="form-control border-0 mt-0 pt-0 transparent-bg">
                      <option value="0" >Same Designation</option>
                      <option value="item.RoleId" *ngFor="let item of designation">{{item.RoleName}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-between mt-2">
                <div class="col-md-6 text-truncate ms-2">
                  <span class="fw-bold">Comment: </span>
                  {{item.Comments}}
                </div>
                <a href="javascript:void(0)"  class="fw-bold" (click)="showOffCanvas(item)">
                  <span class="pe-2">Objective's</span>
                  <i  data-bs-toggle="tooltip" data-bs-placement="right" title="View objective" [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading, 'fa-regular fa-eye': !isLoading}"></i>
                </a>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="allMemberAppraisalFinalizer.length == 0 ">
            <div class="fw-bold text-dark my-5 py-5">
              <p class="my-5 py-5 text-center fs-4">
                Record not found.
              </p>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-danger ms-2"  [disabled]="isLoading" (click)="rejectAppraisal()" *ngIf="appraisalReviewStatus != 5">
          <i  [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading, 'fa-solid fa-ban': !isLoading}"></i>
          <span class="ps-2">
            Reject
          </span>
        </button>
        <button class="btn btn-success ms-2"  [disabled]="isLoading" (click)="approvedAppraisal()" *ngIf="appraisalReviewStatus != 9">
          <i  [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading, 'fa-solid fa-check': !isLoading}"></i>
          <span class="ps-2">
            Approved
          </span>
        </button>
      </div>
    </div>
  </div>
</div>



<div class="offcanvas offcanvas-end offcanvas-size-xxl"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" id="riviewObjectiveFinalizeOffCanvas" aria-labelledby="riviewObjectiveFinalizeOffCanvasLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Performance Reviews</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" [disabled]="isLoading"></button>
  </div>
  <div class="offcanvas-body">
    <ng-container *ngIf="isObjectivesReady">
      <ng-container *ngIf="objectives.length > 0">
        <div class="d-flex mt-3">
          <div class="col-auto">
            <i class="fa-solid fa-circle text-primary-c"></i>
          </div>
          <div class="col-md-11 ms-3">
            <div class="card shadow-sm px-2 py-3">
              <div class="row">
                <div class="d-flex align-items-center col-md-6">
                  <h6 class="fw-bold mb-0">Performance Review cycle {{objectives[0].AppraisalCycleStartDate | date}} - {{objectives[0].AppraisalCycleEndDate | date}}</h6>
                  <span class="badge ms-2" [ngClass]="{'text-bg-danger': objectives[0].PerformanceStatus == 5, 'text-bg-success': objectives[0].PerformanceStatus == 9, 'text-bg-primary': objectives[0].PerformanceStatus == 2, 'text-bg-info': objectives[0].PerformanceStatus == 8, 'text-bg-warning': objectives[0].PerformanceStatus == 0}">{{objectives[0].PerformanceStatus == 2 ? 'Pending' : objectives[0].PerformanceStatus == 5 ? 'Rejected' : objectives[0].PerformanceStatus == 8 ? 'Submitted' : objectives[0].PerformanceStatus == 9 ? 'Approved': 'Not Submitted'}}</span>
                </div>
                <div class="col-md-6">
                  <div class="d-flex align-items-center">
                    <div class="rounded-icon bg-c text-white">
                      {{userNameIcon | uppercase}}
                    </div>
                    <div class="ms-3 d-flex align-items-center">
                      <h6 class="mb-0">{{selectedEmploye.FirstName}} {{selectedEmploye.LastName}}</h6>
                      <small class="ps-2"> | Emp No.: {{selectedEmploye.EmployeeId}}</small>
                    </div>
                  </div>
                </div>
              </div>
              <p>{{objectives[0].UpdatedOn | date}}</p>
            </div>
          </div>
        </div>
        <div class="mt-3">
          <ng-container *ngIf="objectives != null && objectives.length > 0">
            <ng-container *ngFor="let item of objectives; let i=index;">
              <div class="row bg-white p-2 m-0 mb-3 d-flex justify-content-between rounded leave-box">
                <div class="d-flex col-md-12">
                  <a data-bs-toggle="collapse" (click)="collpaseShowHide('feedback'+i)"  [attr.href]="'#feedback'+i" role="button" aria-expanded="false" [attr.aria-controls]="'#feedback'+i" class="me-3">
                    <i class="fa-solid fa-quote-left" aria-hidden="true"></i>
                  </a>
                  <p class="mb-0 fs-6">
                    <b>{{item.Objective}}:</b>
                    <label class="d-block">{{item.Description}}</label>
                  </p>
                </div>
                <h6 class="mt-1 mb-0 text-dark ms-3 ps-4"><small>PERFORMANCE RATING </small> {{item.Rating}} out of 5</h6>
                <div class="bg dark ps-4" [id]="'feedback'+i">
                  <div class="card card-body border-0">
                    <small>Feedback:</small>
                    <p class="mb-0">{{item.Comments != null ? item.Comments : "No Feedback"}}</p>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="objectives.length == 0">
        <div class="fw-bold text-dark my-5 py-5">
          <p class="my-5 py-5 text-center">
            Objective not submitted.
          </p>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
