<div class="col-12 full-v main-container" [ngClass]="{'preload': !isLoaded}">
  <div class="content-header">
    <div class="col-8">
      <div class="px-1">
        <app-breadcrums [title]="'Project Appraisal Budgest'"></app-breadcrums>
      </div>
    </div>
    <div class="col-4 text-end">
      <button class="btn btn-primary-c" (click)="addProjectAppraisalPopUp()"><i class="fa-solid fa-plus pe-1"></i> Add Project Appraisal</button>
    </div>
  </div>
  <div class="x_panel">
    <div [ngSwitch]="isLoaded">
      <div *ngSwitchCase="false">
        <div class="mt-5">
          <app-page-placeholder></app-page-placeholder>
        </div>
      </div>
      <div *ngSwitchDefault>
        <div class="x_content">
          <div class="t-table t-list col-md-12">
            <div class="hide-bar"></div>
            <div class="t-head">
              <div class="tr">
                <div class="th fe-index">
                  <div class="t-index">
                    <a href="javascript:void()" class="ps-3">#</a>
                  </div>
                </div>
                <div class="th fe-2">
                  <div class="cell-wrapper">
                    Project Name
                    <!-- <input class="form-control form-control-sm" (keydown.esc)="resetFilter()"
                      (keyup.enter)="filterRecords()" autofocus [(ngModel)]="employeeDetails.Name"
                      placeholder="Search by Name" id="namefilter"> -->
                    <!-- <div class="t-filter" (click)="arrangeDetails(orderByNameAsc, 'FirstName')">
                      <a href="javascript:void()" class="pe-2">Full Name</a>
                      <i class="fa-solid fa-arrow-down-wide-short"
                        [ngClass]="{'d-none': orderByNameAsc == null || !orderByNameAsc }" aria-hidden="true"></i>
                      <i class="fa-solid fa-arrow-down-short-wide"
                        [ngClass]="{'d-none': orderByNameAsc == null || orderByNameAsc }" aria-hidden="true"></i>
                    </div> -->
                  </div>
                </div>
                <div class="th fe-1">
                  <div class="cell-wrapper">
                    From Date
                    <!-- <input class="form-control  form-control-sm" (keyup.enter)="filterRecords()"
                      (keydown.esc)="resetFilter()" [(ngModel)]="employeeDetails.Mobile"
                      placeholder="Search by MobileNumber"> -->
                    <!-- <div class="t-filter" (click)="arrangeDetails(orderByMobileAsc, 'Mobile')">
                      <a href="javascript:void()" class="pe-2">Mobile Number</a>
                      <i class="fa-solid fa-arrow-down-wide-short"
                        [ngClass]="{'d-none': orderByMobileAsc == null || !orderByMobileAsc }" aria-hidden="true"></i>
                      <i class="fa-solid fa-arrow-down-short-wide"
                        [ngClass]="{'d-none': orderByMobileAsc == null || orderByMobileAsc }" aria-hidden="true"></i>
                    </div> -->
                  </div>
                </div>
                <div class="th fe-1">
                  <div class="cell-wrapper">
                    To Date
                    <!-- <input class="form-control  form-control-sm" (keyup.enter)="filterRecords()"
                      (keydown.esc)="resetFilter()" [(ngModel)]="employeeDetails.Email" placeholder="Search by Email"> -->
                    <!-- <div class="t-filter" (click)="arrangeDetails(orderByEmailAsc, 'Email')">
                      <a href="javascript:void()" class="pe-2">Email Id</a>
                      <i class="fa-solid fa-arrow-down-wide-short"
                        [ngClass]="{'d-none': orderByEmailAsc == null || !orderByEmailAsc }" aria-hidden="true"></i>
                      <i class="fa-solid fa-arrow-down-short-wide"
                        [ngClass]="{'d-none': orderByEmailAsc == null || orderByEmailAsc }" aria-hidden="true"></i>
                    </div> -->
                  </div>
                </div>
                <div class="th fe-1">
                  <div class="cell-wrapper">
                    Project Appraisal Budget
                    <!-- <input class="form-control  form-control-sm" (keyup.enter)="filterRecords()"
                      (keydown.esc)="resetFilter()" [(ngModel)]="employeeDetails.Email" placeholder="Search by Email"> -->
                    <!-- <div class="t-filter" (click)="arrangeDetails(orderByEmailAsc, 'Email')">
                      <a href="javascript:void()" class="pe-2">Email Id</a>
                      <i class="fa-solid fa-arrow-down-wide-short"
                        [ngClass]="{'d-none': orderByEmailAsc == null || !orderByEmailAsc }" aria-hidden="true"></i>
                      <i class="fa-solid fa-arrow-down-short-wide"
                        [ngClass]="{'d-none': orderByEmailAsc == null || orderByEmailAsc }" aria-hidden="true"></i>
                    </div> -->
                  </div>
                </div>
                <div class="th fe-1 text-center">ACTIONS</div>
              </div>
            </div>
            <div class="t-body">
              <ng-container *ngIf="projectAppraisal.length > 0">
                <div class="tr py-2" *ngFor="let item of projectAppraisal">
                  <div class="td align-middle text-center fe-index">
                    <div class="cell-wrapper">
                      {{item.ProjectId}}
                    </div>
                  </div>
                  <div class="td align-middle fe-2">
                    <div class="cell-wrapper">
                      {{project.ProjectName}}
                    </div>
                  </div>
                  <div class="td align-middle fe-1">
                    <div class="cell-wrapper">
                      {{item.FromDate | date}}
                    </div>
                  </div>
                  <div class="td align-middle fe-1">
                    <div class="cell-wrapper">
                      {{item.ToDate | date}}
                    </div>
                  </div>
                  <div class="td align-middle fe-1">
                    <div class="cell-wrapper">
                      {{item.ProjectAppraisalBudget | number : "1.2-2"}}
                    </div>
                  </div>
                  <div class="td justify-content-center d-flex fe-1">
                    <div class="d-flex flex-row pe-2 justify-content-evenly">
                      <a href="javascript:void(0)" (click)="editProjectAppraisalPopUp(item)">
                        <span class="badge bg-primary"><i class="fa-solid fa-pencil" aria-hidden="true"></i></span>
                      </a>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="projectAppraisal.length == 0">
                <div class="custom-height py-5 my-5 fw-bold fs-3 text-danger d-flex align-items-center justify-content-center">
                  <p class="my-5 py-5">Record Not Found</p>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <!-- <div class="mt-3">
          <app-pagination [pagination]="projectData" (onPageChange)="GetFilterResult($event)"></app-pagination>
        </div> -->
      </div>
    </div>
  </div>
</div>

<!-- Manage Project Appraisal Budget -->
<div class="modal fade" id="manageProjectAppraisal" tabindex="-1" aria-labelledby="manageProjectAppraisalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0 ms-3">
        <h5 class="modal-title" id="manageProjectAppraisalLabel">Manage Project Appraisal Budget</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="projectAppraisalForm" autocomplete="off" class="col-md-12 row">
            <div class="col-md-12 my-2">
              <label class="form-label">Project Name</label>
              <input placeholder="Project Name" class="form-control" name="ProjectName" readonly formControlName="ProjectName" />
            </div>
            <div class="col-md-12 my-2">
              <label class="form-label">From Date</label>
              <form class="form-inline">
                <div class="form-group w-100" [ngClass]="{'error-field': submitted && f.FromDate.errors !== null && f.FromDate.errors.required}">
                  <div class="input-group w-100">
                    <input class="form-control" placeholder="yyyy-mm-dd" (dateSelect)="onFromDateSelect($event)" [minDate]="{year: 1970, month:1, day: 1}" [maxDate]="{year: 2050, month:1, day: 19}"
                      name="dp" [(ngModel)]="fromModel" ngbDatepicker #d="ngbDatepicker">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fa-regular fa-calendar-days fa-lg"></i></button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-12 my-2">
              <label class="form-label">To Date</label>
              <form class="form-inline">
                <div class="form-group w-100">
                  <div class="input-group w-100" [ngClass]="{'error-field': submitted && f.ToDate.errors !== null && f.ToDate.errors.required}">
                    <input class="form-control" placeholder="yyyy-mm-dd" (dateSelect)="onToDateSelect($event)" [minDate]="{year: 1970, month:1, day: 1}" [maxDate]="{year: 2050, month:1, day: 19}"
                        name="dp" [(ngModel)]="toModel" ngbDatepicker #od="ngbDatepicker">
                    <button class="btn btn-outline-secondary calendar" (click)="od.toggle()" type="button"><i class="fa-regular fa-calendar-days fa-lg"></i></button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-12 my-2">
              <label class="form-label">Project Appraisal Budget</label>
              <input placeholder="Project Appraisal Budget" [DecimalNumber]="11" class="form-control" name="ProjectAppraisalBudget" formControlName="ProjectAppraisalBudget"
              [ngClass]="{'error-field': submitted && f.ProjectAppraisalBudget.errors !== null && f.ProjectAppraisalBudget.errors.required}"/>
            </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa-solid fa-xmark pe-2"></i> Close</button>
        <button class="btn btn-primary-c" [disabled]="isLoading" (click)="addProjectAppraisal()" *ngIf="this.selectedProjectAppraisal.ProjectAppraisalId == 0">
          <i  [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading, 'fa-regular fa-square-plus': !isLoading}"></i>
          <span class="ps-2">{{ isLoading ? 'Processing' : 'Add' }}</span>
        </button>
        <button class="btn btn-primary-c" [disabled]="isLoading" (click)="updateProjectAppraisal()" *ngIf="this.selectedProjectAppraisal.ProjectAppraisalId > 0">
          <i  [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading, 'fa-regular fa-square-plus': !isLoading}"></i>
          <span class="ps-2">{{ isLoading ? 'Processing' : 'Update' }}</span>
        </button>
      </div>
    </div>
  </div>
</div>
