<div id="accordion" class="dynamicgrid">
  <div class="dynamicgrid_content-data">

    <div class="col-md-12 dynamicgrid__header bg-white">
      <div class="mb-0">
        <div class="mb-4 pt-4 rel-tbl">
          <div class="x_header rel-tbl__header w-100 m-0 p-0">
            <h2>
              <i class="mdi mdi-view-headline"></i>
              Download script options <small>Click right option to download script.</small>
            </h2>
            <div class="col-md-12 action-dv input-group">
              <a class="anc-action d-none" (click)="ExportToExcel()">
                <i class="mdi mdi-file-xml text-warning"></i>
                <div class="action-text">Export to Excel</div>
              </a>
              <a class="anc-action" [href]="FilePath">
                <i class="mdi mdi-json json-format text-dark"></i>
                <div class="action-text">Export MSSql Script</div>
              </a>
              <a class="anc-action  d-none" (click)="ExportToText()">
                <i class="mdi mdi-tooltip-edit"></i>
                <div class="action-text">Export to Text</div>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <a class="p-close" (click)="GoBackPage()">
          <i class="mdi mdi-arrow-left-bold-circle-outline"></i>&nbsp; Go Back
        </a>
      </div>

      <div class="col-md-12">
        <div class="dynamicgrid__generatestatus" id="generated_grid">
          <div>
            <div class="panel">
              <ul class="nav nav-tabs">
                <li class="nav-item" *ngFor="let tbl of BindingData; let i = index; let first = first;">
                  <a name="action-anc" class="nav-link nav-pan" (click)="ActivatePanel('resultactionPanel', 'i')"
                    [ngClass]="{'active': first}">{{tbl.TableName}}</a>
                </li>
              </ul>
            </div>
          </div>

          <div *ngFor="let tblResult of BindingData;let i = index; let first = first;" name="dynamic-grid-section"
            [attr.id]="'i' | joinNames: 'resultactionPanel'" [ngClass]="{'d-none': !first}">
            <div class="card border-primary border-0 p-0">
              <div class="card-body p-0">

                <div class="col-md-12 p-0 m-0 d-flex">
                  <div class="col-md-6 col-xm-6 p-0 mr-1">
                    <div name="selector-div" class="mt-4 left-panel position-relative pan">
                      <div class="x_header x_header_title mt-2">
                        <div class="inline-text d-inline-block text-muted">Table create schema</div>
                        <button class="float-right btn btn-warning" (click)="CopyToClipboard()" id="btnCopy">
                          Copy to clipboard
                        </button>
                      </div>
                      <div class="editor-header content-header"></div>
                      <textarea class="textarea-inlet small-height" placeholder="Your stringified result">
                      {{tblResult.TableCreateSchema}}
                    </textarea>
                    </div>
                  </div>
                  <div class="col-md-6 col-xm-6 p-0 ml-1">
                    <div name="selector-div" class="mt-4 left-panel position-relative pan">
                      <div class="x_header x_header_title mt-2">
                        <div class="inline-text text-muted d-inline-block">Insert update procedure</div>
                        <button class="d-inline-flex float-right btn btn-warning" (click)="CopyToClipboard()"
                          id="btnCopy">
                          Copy to clipboard
                        </button>
                      </div>
                      <div class="editor-header content-header"></div>
                      <textarea class="textarea-inlet small-height" placeholder="Your stringified result">
                              {{tblResult.TableProcedureSchema}}
                          </textarea>
                    </div>
                  </div>
                </div>

                <div *ngIf="tblResult.IsGridRequired" id="dynamic-generated-grid" class="panel mt-4">
                  <div class="x_header x_header_title">
                    <div class="text-muted">Below is your generated table.</div>
                  </div>
                  <div class="table-responsive overflow-x-scroll">
                    <table class="table jambo_table bulk_action">
                      <thead>
                        <tr class="headings">
                          <th *ngFor="let header of tblResult.GridHeader" class="column-title">
                            {{header.ColumnName}}
                          </th>
                        </tr>
                      </thead>
                      <tbody *ngIf="!IsEmptyRow">
                        <tr *ngFor="let item of tblResult.GridData;let odd = odd; let even = even;"
                          [ngClass]="{odd: 'IsStriped', even: even }">
                          <td *ngFor="let col of tblResult.GridHeader">
                            <div [attr.name]="col.name" class="column-dv">
                              <span role="view">{{item[col.ColumnName]}}</span>
                              <input role="edit" name="ItemName" type="text" class="d-none"
                                [attr.value]="item[col.ColumnName]" />
                            </div>
                          </td>
                        </tr>
                      </tbody>
                      <tbody *ngIf="IsEmptyRow">
                        <tr>
                          <td [attr.colspan]="TotalHeaders">
                            <div class="empty-row">
                              No record found.
                            </div>
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="50">
                            Paging will come here
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>

                <div name="selector-div" *ngIf="tblResult.IsGridJsonRequired"
                  class="mt-4 left-panel position-relative pan">
                  <div class="x_header x_header_title mt-2">
                    <div class="inline-text d-inline-block text-muted">
                      JSON insert query for aboce table.
                    </div>
                    <button class="float-right d-inline-block btn btn-warning" (click)="CopyToClipboard()" id="btnCopy">
                      Copy to clipboard
                    </button>
                  </div>
                  <div class="editor-header content-header"></div>
                  <textarea class="textarea-inlet" placeholder="Your stringified result">
                        {{tblResult.GridJsonData}}
                      </textarea>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
