<div class="col-12 full-v main-container">
  <div class="col-md-12 bg-light mb-3">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link text-dark nav-active" id="attendance-tab" (click)="activateMe('declaration-tab')" aria-current="page" href="javascript:void(0)">DECLARATION</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" id="timesheet-tab" (click)="activateMe('salary-tab')" href="javascript:void(0)">SALARY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" id="leave-tab" (click)="activateMe('summary-tab')" href="javascript:void(0)">SUMMARY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" id="leave-tab" (click)="activateMe('preference-tab')" href="javascript:void(0)">Preference</a>
      </li>
    </ul>
  </div>
  <div class="col-12 x_panel p-0 m-0">
    <div class="px-1">
      <app-breadcrums></app-breadcrums>
    </div>
    <div class="right-panel col-md-12 p-0">
      <div class="col-md-12 bg-light mb-3 mt-3">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link new-nav-link text-dark" id="attendance-tab" (click)="activeTab('declaration-tab')" aria-current="page" href="javascript:void(0)">DECLARATION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" id="timesheet-tab" (click)="activeTab('previous-income-tab')" href="javascript:void(0)">Previous Income</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark new-nav-active" id="leave-tab" (click)="activeTab('form-12-tab')" href="javascript:void(0)">Form 12 BB</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" id="leave-tab" (click)="activeTab('free-tax-tab')" href="javascript:void(0)">Free Tax Filling</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" id="leave-tab" (click)="activeTab('tax-saving-tab')" href="javascript:void(0)">Tax Saving Investment</a>
          </li>
        </ul>
      </div>
      <ng-container>
        <div class="container-fluid pt-4">
          <h5 class="text-dark ps-3">Form 12 BB</h5>
          <p class="mb-0 ps-3">Form 12BB is a provisional statement that has details about your proposed investments and Expenses thar are Income Tax deductible.</p>
          <div class="card py-3 ps-3">
            <p class="mb-0">Select the financial year and generate the form 12BB</p>
            <div class="d-flex py-2 mt-2">
              <div class="">
                <select class="form-select">
                  <option selected>Select Financial Year</option>
                  <option value="currentyear">APR {{FinacialYear}} - MAR {{FinacialYear +1}}</option>
                  <option value="previousyear">APR {{FinacialYear - 1}} - MAR {{FinacialYear}}</option>
                </select>
              </div>
              <div class="ms-3">
                <button type="button" class="btn btn-primary">Generate Form 12BB</button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
