<div class="container ch-100 d-flex align-items-center justify-content-center">
    <div class="row col-md-12">
        <div class="col-md-6">
            <h2 class="fw-bold mb-4 text-dark">Why Employee Finanace management is Important</h2>
            <ul class="fs-5 text-dark">
                <li class="py-2">Empowers employees to manage their finances effectively, leading to reduced financial stress.</li>
                <li class="py-2">Enhances employee satisfaction and retention by offering financial wellness support.</li>
                <li class="py-2">Promotes responsible financial habits, improving overall employee well-being.</li>
                <li class="py-2">Increases productivity by reducing distractions related to personal finance concerns.</li>
                <li class="py-2">Fosters a positive workplace culture that values employees' financial health.</li>
                <li class="py-2">Strengthens loyalty and commitment to the organization through financial support programs.</li>
                <li class="py-2">Improves employee morale by offering resources for financial planning and education.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="assets/images/employeefinanace.avif" class="img-thumbnail " alt="hrmanaagement">
        </div>
    </div>
</div>

<app-footer></app-footer>