.dyn-table {
  display: flex;
  border: 1px solid #d9d9d9;
  padding: 0px;
  background-color: #2a3e54;
}

.dyn-table > div {
  color: #eee;
  padding: 10px 4px;
  width: 100%;
  padding-left: 10px;
}

.dyn-head-border > div {
  border-left: 1px solid var(--dd-elem-border-color);
}

.dyn-head-border > div:nth-child(1) {
  border-left: none;
}

.dyn-body::-webkit-scrollbar {
  width: 8px;
}

.dyn-body-item > div:last-child {
  width: calc(100% - 45px);
}

.dyn-body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.dyn-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.partial-profile-img {
  width: 100px;
  height: 100px;
}

.dyn-body {
  overflow-y: auto;
  height: calc(100% - 50px);
}

.dyn-body-item {
  display: flex;
  border-bottom: 1px solid var(--border-initial);
}

.dyn-body-item > div {
  width: 100%;
  padding: 5px 0px 4px 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 10px;
}

.odd {
  background-color: #f9f9f9 !important;
}

.even {
  background-color: #fff !important;
}

.action-box {
  background-color: #fff;
  padding: 10px;
  padding-top: 20px;
  position: relative;
  height: calc(100% - 60px);
}

.full-dv {
  background-color: #eee;
  padding-bottom: 16px;
}

.h-tbl {
  height: calc(100% - 90px);
}

.action-box-header {
  margin-top: 18px;
  margin-bottom: 0px !important;
}

//---------------------------- New default looking table ----------------------------------

.odd {
  background-color: #f9f9f9 !important;
}

.table-responsive {
  background-color: #fff !important;
  overflow: inherit !important;
}

.table td {
  padding: 6px 8px !important;
  max-width: 0px;
}

.table {
  background-color: #f5f5f5;
}

.table tbody {
  background-color: #fff;
}

.table span,
input {
  width: 100% !important;
}

.pagination a {
  cursor: pointer;
}

.w-10 {
  width: 10% !important;
}

.table th {
  padding: 10px 0px 10px 8px;
}

.editHeader {
  padding: 5px 5px !important;
}

.editHeader input {
  height: 26px !important;
  font-size: 0.9rem !important;
  border: 1px solid #decece;
}

.table td,
th {
  border: 1px solid #d9d9d9;
}

.n-table td {
  padding-top: 2px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.n-table td input[type="text"] {
  border: none;
  padding-left: 10px;
}

.empty-th-row {
  text-align: center;
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  padding: 5px 0px;
}

.advance-filter {
  position: fixed;
  top: 0px;
  bottom: 0px;
  background-color: #fff;
  border-left: 5px solid darkseagreen;
  z-index: 10000;
}

.enable-filter {
  right: -100px !important;
  transform: skew(-5deg);
  transition: all 0.5s ease;
}

.disable-filter {
  right: -500px;
  transform: skew(-5deg);
  transition: all 0.5s ease;
}

.enablefade-screen {
  position: fixed;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  background-color: rgba(216, 211, 211, 0.3215686274509804);
  z-index: -1;
}

.low-light {
  z-index: 100 !important;
}

.empty-row {
  text-align: center;
  margin: 60px 0px;
  font-size: 20px;
  color: #cacaca;
}

.filter-dv {
  transform: skew(4deg);
}

.close-a {
  position: absolute;
  font-size: 20px;
  cursor: pointer;
}

.filter-body {
  height: 75vh;
}

.filter-section {
  background-color: #fff;
  box-shadow: 0px 0px 8px -3px #444;
  padding-bottom: 6px;
  margin-top: 54px !important;
}

.chk-search {
  top: 5px;
}

.close-btn {
  position: absolute;
  right: 15px;
  margin-top: -35px;
  z-index: 1000;
  background-color: #fff;
  padding: 0px;
  cursor: pointer;
}

.bg-font {
  font-size: 24px;
}

.edit-dv {
  margin-top: 75px;
}

.empty-row {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 16px;
  font-style: italic;
}

.anc-action {
  font-size: 20px;
  margin-right: 20px;
  display: inline-block;
  cursor: pointer;
}

.anc-action:hover {
  font-size: 24px;
}

.action-text {
  display: inherit;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  left: 4px;
  top: -2px;
}

.table td span {
  color: #000;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
  font-size: 12px;
  line-height: 1;
}

.column-dv {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.action-generate {
  width: 46%;
  margin: 0px !important;
}

.n-table-input {
  width: 54% !important;
  height: 28px !important;
  border: 1px solid #d9d9d9 !important;
  display: inline-block;
  position: relative;
  top: -4px;
}

.table td,
th {
  font-size: 12px !important;
}

.required-field {
  border: 1px solid red;
}

input.disabled-filed {
  pointer-events: none;
  background-color: #f1ebeb;
  cursor: not-allowed;
}

.body-bar-top {
  border-top: 3px solid #f1eeee;
}

.isnull-chk {
  top: 3px;
}

.form-control {
  height: auto;
  font-size: 12px !important;
  padding: 0px 10px !important;
}

.select-type {
  width: 300px !important;
  font-size: 12px !important;
}

.g-btn {
  top: 2px;
  color: #fff;
}

.disabled-field {
  pointer-events: none;
  background: #f9f8f8;
}

// Result Panel

.pan {
  height: auto;
}

.overflow-x-scroll {
  overflow-x: scroll !important;
}

.small-height {
  height: 200px;
  min-height: 200px !important;
}

.textarea-inlet {
  resize: none;
  max-height: 800px;
  min-height: 500px;
  font-size: 13px;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  padding: 10px;
  overflow-y: scroll;
}

.action-container-box {
  position: relative;
  left: -6px;
}

ul.pagination {
  margin: 0.5rem 0.5rem 0.5rem 0px !important;
}

.muted a {
  color: #d2c7c7 !important;
}

.muted-text {
  color: #a99f9f !important;
}

.active-index {
  background: rgb(0 128 0 / 62%);
  color: #fff;
}

.highlight-row > tr:hover {
  border: 1.2px solid #444 !important;
  cursor: pointer !important;
}