<div class="x_content position-inherit">
  <div class="pl-0 pr-1 d-inline-block panel-body col-md-12 col-xs-12">
    <div id="viewfeestimetable-dv" class="h-tbl">
      <div id="dynamic-grid-table" class="table-responsive">
        <ng-container [ngSwitch]="configuration">
          <table *ngSwitchCase="null" class="table jambo_table bulk_action">
            <thead>
              <tr class="headings">
                <th colspan="11" class="b-broder editHeader p-0 m-0 column-title">
                  <div class="empty-th-row">
                    No input found
                  </div>
                </th>
              </tr>
            </thead>
          </table>
          <table *ngSwitchDefault class="table jambo_table bulk_action">
            <thead>
              <tr class="headings">
                <th colspan="11" class="b-broder editHeader p-0 m-0 column-title">
                  <div class="empty-th-row">
                    Use below input fields textbox to customize column name
                  </div>
                </th>
              </tr>
              <tr class="headings">
                <ng-container *ngFor="let col of TableHeader">
                  <th *ngIf="!col.IsHidden" class="column-title">
                    {{col.DisplayName}}
                  </th>
                </ng-container>
                <ng-container *ngIf="configuration.isEnableAction || configuration.link.length > 0">
                  <th class="column-title text-center w-10 no-link last">
                    <span class="nobr">Action</span>
                  </th>
                </ng-container>
              </tr>
            </thead>
            <tbody *ngIf="!IsEmptyRow" class="highlight-row">
              <tr *ngFor="let item of configuration.data;let odd = odd; let even = even;"
                [ngClass]="{odd: odd, even: even }">
                <ng-container *ngFor="let col of TableHeader">
                  <td *ngIf="!col.IsHidden">
                    <div class="column-dv">
                      <span role="view">{{item[col.ColumnName]}}</span>
                      <input role="edit" name="ItemName" type="text" class="d-none" [attr.value]="item[col.name]" />
                    </div>
                  </td>
                </ng-container>

                <td *ngIf="configuration.templates !== null && configuration.templates.length > 0">
                  <div *ngFor="let tag of configuration.templates" class="position-relative a-container">
                    <div [innerHTML]="tag"></div>
                  </div>
                </td>

                <td *ngIf="configuration.link !== null && configuration.link.length > 0" class="text-center">
                  <div class="last dyn-last action-container-box">
                    <div name="editdelete" class="icon-container">
                      <div *ngFor="let links of configuration.link" class="position-relative a-container">
                        <a href="javascript:void(0)" (click)="EditCurrent(item, links.fn)" class="a-icon">
                          <i class={{links.iconName}} aria-hidden="true"></i>&nbsp;
                        </a>
                      </div>
                    </div>
                  </div>
                </td>

              </tr>
            </tbody>
            <tbody *ngIf="IsEmptyRow">
              <tr>
                <td [attr.colspan]="TotalHeaders">
                  <div class="empty-row">
                    No record found.
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <ng-container *ngIf="!IsEmptyRow">
                <tr>
                  <td colspan="50">
                    <div class="float-left">
                      <div class="mt-2">
                        <div class="d-block">
                          Showin page: {{activePage}} of {{totalPages}}
                        </div>
                        <div class="d-block muted-text">
                          Total record: {{totalRecords}}
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 p-0">
                      <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                          <li class="page-item" [ngClass]="{'muted': !previousButton}" [disabled]="!previousButton">
                            <a class="page-link" (click)="prevPage()">Previous</a>
                          </li>
                          <li class="page-item" *ngFor="let i of pages">
                            <a class="page-link" (click)="navToNext(i)"
                              [ngClass]="{'active-index': i === activePage}">{{i}}</a>
                          </li>
                          <li class="page-item" [ngClass]="{'muted': !nextButton}" [disabled]="!nextButton">
                            <a class="page-link" (click)="nextPage()">Next</a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tfoot>
          </table>
        </ng-container>
      </div>
    </div>
  </div>
</div>