<div class="col-md-12 col-sm-12 mt-5 main-container">
  <div class="x_panel">
    <div class="x_header">
      <h2>Pending Leave requests</h2>
      <div class="clearfix"></div>
    </div>
    <app-breadcrums></app-breadcrums>
    <div class="x_content">
      <div class="row pt-3">
        <div class="col-md-8">
          <div class="card">
            <div class="card-body pb-0">
              <div class="d-flex align-items-center pt-3 ps-3 pb-3">
                <div>
                  <i class="fa fa-tasks fa-5x" aria-hidden="true"></i>
                </div>
                <div class="ps-4 pt-2">
                  <h5>Nothing here.</h5>
                  <p>Working hard yeah? Request time off on the right - ></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body pb-0">
              <div class="pb-1">
                <button class="btn btn-primary ms-2" type="button">Apply Leave</button>
              </div>
              <p class="ps-2 mb-2 mt-2">
                <a href="javascript:void(0)" class="text-decoration-none">Request Credit for Compensatory Off</a>
              </p>
              <p class="ps-2 mb-2 mt-2">
                <a href="javascript:void(0)" class="text-decoration-none">Leave Policy Explaination</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <h5 class="mt-3 pt-3 pb-3">My Leave Status</h5>
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="card-body pb-0">
              <div class="d-flex justify-content-between">
                <h6 class="pt-2 ps-2">
                  Last Week
                </h6>
                <div>
                  <i class="fa fa-info-circle fa-lg p-3" aria-hidden="true"></i>
                </div>
              </div>
              <div class="d-block mt-2">
                <canvas id="weeklyPatternChart" width="300" height="215"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-body pb-0">
              <div class="d-flex justify-content-between">
                <h6 class="pt-2 ps-2">
                  Consumed Leave Types
                </h6>
                <div>
                  <i class="fa fa-info-circle fa-lg p-3" aria-hidden="true"></i>
                </div>
              </div>
              <div class="d-block pb-3 pt-2">
                <canvas id="consumeLeaveChart" width="200" height="200"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body pb-0">
              <div class="d-flex justify-content-between">
                <h6 class="pt-2 ps-2">
                  Monthly Status
                </h6>
                <div>
                  <i class="fa fa-info-circle fa-lg p-3" aria-hidden="true"></i>
                </div>
              </div>
              <div class="d-block mt-2">
                <canvas id="MonthlyStatusChart" width="300" height="215"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h5 class="mt-3 pt-3 pb-3">Leave Balances</h5>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body pb-0">
              <div class="d-flex justify-content-between">
                <h6 class="pt-2">
                  Casual Leave
                </h6>
                <div>
                  <i class="fa fa-refresh fa-lg p-3" aria-hidden="true"></i>
                </div>
              </div>
              <div class="d-block mt-2">
                <canvas id="casualLeaveChart" width="200" height="200"></canvas>
              </div>
              <div class="row mt-3 border-top">
                <div class="col-md-6 border-end pt-3">
                  <h6 class="custom-text-size">AVAILABLE</h6>
                  <p>2</p>
                </div>
                <div class="col-md-6 pt-3">
                  <h6 class="custom-text-size">CONSUMED</h6>
                  <p>0</p>
                </div>
              </div>
              <div class="row border-top">
                <div class="col-md-4 border-end pt-3">
                  <h6 class="custom-text-size">ACCRUED SO FAR</h6>
                  <p>1.5</p>
                </div>
                <div class="col-md-4 border-end pt-3">
                  <h6 class="custom-text-size">CARRYOVER</h6>
                  <p>0.5</p>
                </div>
                <div class="col-md-4 pt-3">
                  <h6 class="custom-text-size">ANNUAL QUOTA</h6>
                  <p>6</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body pb-0">
              <div class="d-flex justify-content-between">
                <h6 class="pt-2 ps-2">
                  Unpaid Leave
                </h6>
                <div>
                  <i class="fa fa-refresh fa-lg p-3" aria-hidden="true"></i>
                </div>
              </div>
              <div class="d-block mt-2">
                <canvas id="compLeaveChart" width="200" height="200"></canvas>
              </div>
              <div class="row mt-3 border-top">
                <div class="col-md-6 border-end pt-3">
                  <h6 class="custom-text-size">AVAILABLE</h6>
                  <p>0</p>
                </div>
                <div class="col-md-6 pt-3">
                  <h6 class="custom-text-size">CONSUMED</h6>
                  <p>0</p>
                </div>
              </div>
              <div class="row border-top pt-3">
                <h6 class="custom-text-size">ANNUAL QUOTA</h6>
                <p>0</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body pb-0">
              <div class="d-flex justify-content-between">
                <h6 class="pt-2 ps-2">
                  Earned Leave
                </h6>
                <div>
                  <i class="fa fa-refresh fa-lg p-3" aria-hidden="true"></i>
                </div>
              </div>
              <div class="d-block mt-2">
                <canvas id="earnLeaveChart" width="200" height="200"></canvas>
              </div>
              <div class="row mt-3 border-top">
                <div class="col-md-6 border-end pt-3">
                  <h6 class="custom-text-size">AVAILABLE</h6>
                  <p>1</p>
                </div>
                <div class="col-md-6 pt-3">
                  <h6 class="custom-text-size">CONSUMED</h6>
                  <p>1</p>
                </div>
              </div>
              <div class="row border-top">
                <div class="col-md-4 border-end pt-3">
                  <h6 class="custom-text-size">ACCRUED SO FAR</h6>
                  <p>1.5</p>
                </div>
                <div class="col-md-4 border-end pt-3">
                  <h6 class="custom-text-size">CARRYOVER</h6>
                  <p>0.5</p>
                </div>
                <div class="col-md-4 pt-3">
                  <h6 class="custom-text-size">ANNUAL QUOTA</h6>
                  <p>6</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body pb-0">
              <div class="d-flex justify-content-between">
                <h6 class="pt-2">
                  Sick Leave
                </h6>
                <div>
                  <i class="fa fa-refresh fa-lg p-3" aria-hidden="true"></i>
                </div>
              </div>
              <div class="d-block mt-2">
                <canvas id="sickLeaveChart" width="200" height="200"></canvas>
              </div>
              <div class="row mt-3 border-top">
                <div class="col-md-6 border-end pt-3">
                  <h6 class="custom-text-size">AVAILABLE</h6>
                  <p>0.5</p>
                </div>
                <div class="col-md-6 pt-3">
                  <h6 class="custom-text-size">CONSUMED</h6>
                  <p>1</p>
                </div>
              </div>
              <div class="row border-top">
                <div class="col-md-6 border-end pt-3">
                  <h6 class="custom-text-size">ACCRUED SO FAR</h6>
                  <p>1.5</p>
                </div>
                <div class="col-md-6 pt-3">
                  <h6 class="custom-text-size">ANNUAL QUOTA</h6>
                  <p>6</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body pb-0">
              <div class="d-flex justify-content-between">
                <h6 class="pt-2 ps-2">
                  Unpaid Leave
                </h6>
                <div>
                  <i class="fa fa-refresh fa-lg p-3" aria-hidden="true"></i>
                </div>
              </div>
              <div class="d-block mt-2">
                <canvas id="unpaidLeaveChart" width="200" height="200"></canvas>
              </div>
              <div class="row mt-3 border-top">
                <div class="col-md-6 border-end pt-3">
                  <h6 class="custom-text-size">AVAILABLE</h6>
                  <p>118</p>
                </div>
                <div class="col-md-6 pt-3">
                  <h6 class="custom-text-size">CONSUMED</h6>
                  <p>2</p>
                </div>
              </div>
              <div class="row border-top pt-3">
                <h6 class="custom-text-size">ANNUAL QUOTA</h6>
                <p>120</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
