<div class="col-md-12 col-sm-12 main-container">
  <div class="col-md-12 bg-light mb-3">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link text-dark" id="attendance-tab" (click)="activateMe('attendance-tab')" aria-current="page"
          href="javascript:void(0)">ATTENDENCE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" id="timesheet-tab" (click)="activateMe('timesheet-tab')"
          href="javascript:void(0)">TIMESHEET</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark nav-active" id="leave-tab" (click)="activateMe('leave-tab')"
          href="javascript:void(0)">LEAVE</a>
      </li>
    </ul>
  </div>

  <div class="x_panel">
    <div class="x_header">
      <h2>Pending Leave requests</h2>
      <div class="clearfix"></div>
    </div>
    <div class="px-1">
      <app-breadcrums></app-breadcrums>
    </div>
    <div class="x_content">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink>One</a>
          <ng-template ngbNavContent>
            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
              master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
              keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
              salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>Leave Types</a>
          <ng-template ngbNavContent>
            <!-- Start -->
            <p>leave type</p>
            <!-- End -->
          </ng-template>
        </li>

      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>
</div>
