<div class="col-12 full-v main-container">

  <div class="content-header">
    <div class="col-8">
      <div class="px-1">
        <app-breadcrums [title]="'Manage performance'" [subtitle]="'Update performance detail'"></app-breadcrums>
      </div>
    </div>
  </div>

  <div class="col-12 row p-0 m-0">
    <div class="right-panel container col-md-12 p-0">
      <div class="x_panel">
        <ng-container *ngIf="isPageReady">
          <div class="x_content mt-4">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
              <li [ngbNavItem]="1">
                <a ngbNavLink>Objectives</a>
                <ng-template ngbNavContent>
                  <ng-container *ngIf="!isPageLoading">
                    <div class="col-md-12 row pe-0 align-items-center justify-content-end">
                      <div class="col-md-2">
                        <select class="form-select">
                          <option value="0" selected disabled>Time Frame</option>
                          <option value="">2022-2023</option>
                        </select>
                      </div>
                      <div class="col-md-2">
                        <select class="form-select" (change)="filterRecord($event)">
                          <option value="0" disabled selected>Status</option>
                          <option value="0">All</option>
                          <option value="1">Not Started</option>
                          <option value="2">On track</option>
                          <option value="3">Need attention</option>
                          <option value="4">At risk</option>
                          <option value="5">Closed</option>
                        </select>
                      </div>
                    </div>
                    <div class="row bg-light mt-4 align-items-center justify-content-between">
                      <div class="col-md-8 col-lg-5 col-xl-5 col-sm-8">
                        <ng-container *ngIf="objectives.length > 0">
                          <div class="col-md-12 my-3">
                            <i class="fa-regular fa-calendar-days fa-lg pe-2"></i>
                            <span class="fw-bold">{{objectives[0].AppraisalCycleStartDate |
                              date:"yyyy"}}-{{objectives[0].AppraisalCycleEndDate | date:"yyyy"}}</span>
                            <span class="text-muted ps-2">{{objectives[0].AppraisalCycleStartDate | date}}</span> -
                            <span class="text-muted">{{objectives[0].AppraisalCycleEndDate | date}}</span>
                            <i class="fa-solid fa-repeat ps-4 pe-2"></i>
                            <span class="text-primary-c">Update Progress</span>
                          </div>
                          <div class="col-md-6">
                            <div class="d-flex align-items-center justify-content-between">
                              <p class="mb-0">OVERALL PROGRESS</p>
                              <span class="fw-bold fs-4 text-success">{{overallProgress | number: '1.2-2'}}%</span>
                            </div>
                            <p class="mb-0"><ngb-progressbar [showValue]="false" type="success"
                                [value]="overallProgress"></ngb-progressbar></p>
                            <p class="text-muted">Last updated - {{objectives[0].UpdatedOn | date}}</p>
                          </div>
                        </ng-container>
                      </div>
                      <div class="col-auto justify-content-end row align-items-center">
                        <div class="col-auto border-end pe-4">
                          <i class="fa-solid fa-circle text-success pe-2"></i>
                          <span>ON TRACK</span>
                          <p class="mb-0 ps-4">{{onTrackRecord}}</p>
                        </div>
                        <div class="col-auto border-end px-4">
                          <i class="fa-solid fa-circle text-warning pe-2"></i>
                          <span>NEEDS ATTENTION</span>
                          <p class="mb-0 ps-4">{{needAttentionRecord}}</p>
                        </div>
                        <div class="col-auto border-end px-4">
                          <i class="fa-solid fa-circle text-danger pe-2"></i>
                          <span>AT RISK</span>
                          <p class="mb-0 ps-4">{{atRiskRecord}}</p>
                        </div>
                        <div class="col-auto border-end px-4">
                          <i class="fa-solid fa-circle text-secondary pe-2"></i>
                          <span>NOT STARTED</span>
                          <p class="mb-0 ps-4">{{notStartedRecord}}</p>
                        </div>
                        <div class="col-auto ps-4">
                          <i class="fa-solid fa-circle text-dark pe-2"></i>
                          <span>CLOSED</span>
                          <p class="mb-0 ps-4">{{closedRecord}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="mt-3">
                      <table class="table">
                        <thead>
                          <tr>
                            <th width="30%">OBJECTIVES</th>
                            <th>START DATE - END DATE</th>
                            <th>OBJECTIVE PROGRESS</th>
                            <th width="10%">TARGET VALUE</th>
                            <th width="7%">Status</th>
                            <th width="6%">ACTION</th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container *ngIf="objectives.length > 0">
                            <tr *ngFor="let item of objectives">
                              <td>
                                <div class="d-flex">
                                  <div class="col-auto">
                                    <i class="fa-regular fa-user pe-2"></i>
                                  </div>
                                  <div class="col-12">
                                    <div class="text-truncate col-md-11" data-bs-toggle="tooltip"
                                      data-bs-placement="right" title="{{item.Description}}">
                                      <div class="col-md-10 text-truncate">{{item.Objective}}</div>
                                      <small class="col-md-12 text-truncate text-muted">{{item.Description}}</small>
                                    </div>
                                    <small>0 Task <span class="px-2">|</span> <i
                                        class="fa-regular fa-user pe-2"></i>{{userDetail.FirstName + " "+
                                      userDetail.LastName}}</small>
                                  </div>
                                </div>
                              </td>
                              <td class="align-middle">{{objectives[0].AppraisalCycleStartDate | date}} -
                                {{objectives[0].AppraisalCycleEndDate | date}}</td>
                              <td class="align-middle">
                                <div class="d-flex align-items-center justify-content-between">
                                  <h6>{{item.CurrentValue}} {{item.ProgressMeassureType == 1 ? '%' : ''}}</h6>
                                  <small>Last Updated on {{item.UpdatedOn | date}}</small>
                                </div>
                                <p class="mb-0"><ngb-progressbar [showValue]="false"
                                    [type]="item.Status == 2 ? 'success' : item.Status == 1 ? 'secondary' : item.Status == 3 ? 'warning' : item.Status == 4 ? 'danger' : 'dark'"
                                    [value]="item.CurrentValue * 100 / item.TargetValue"></ngb-progressbar></p>
                              </td>
                              <td class="align-middle text-center">{{item.TargetValue}} {{item.ProgressMeassureType == 1
                                ? '%' : ''}}</td>
                              <td class="align-middle">
                                <span class="badge rounded-pill"
                                  [ngClass]="{'text-bg-danger': item.PerformanceStatus == 5, 'text-bg-info text-white': item.PerformanceStatus == 8, 'text-bg-Success bg-success': item.PerformanceStatus == 9, 'bg-c text-white': (item.PerformanceStatus == 2 || item.PerformanceStatus == 0)}">
                                  {{item.PerformanceStatus == 5 ? 'Rejected' : item.PerformanceStatus == 8 ? 'Submitted'
                                  : item.PerformanceStatus == 9 ? 'Approved' : 'Not Submitted'}}
                                </span>
                              </td>
                              <td class="align-middle text-center">
                                <a *ngIf="item.PerformanceStatus == 2 || item.PerformanceStatus == 0"
                                  data-bs-toggle="tooltip" data-bs-placement="right" title="Edit performance"
                                  href="javascript:void(0)" (click)="editPerformance(item)"><i
                                    class="fa-solid fa-pencil"></i></a>
                                <a *ngIf="item.PerformanceStatus == 5" href="javascript:void(0)"
                                  data-bs-toggle="tooltip" data-bs-placement="right" title="Re-submit performance"
                                  (click)="editPerformance(item)"><i class="fa-regular fa-pen-to-square"></i></a>
                                <i class="fa-regular  fa-lg"
                                  [ngClass]="{'fa-square-check text-success': item.PerformanceStatus == 9, 'fa-clock text-warning': item.PerformanceStatus == 8}"></i>
                              </td>
                            </tr>
                          </ng-container>
                          <ng-container *ngIf="objectives.length == 0">
                            <tr>
                              <td colspan="5">
                                <div class="text-center fw-bold fs-5 py-5 my-5">
                                  NO OBJECTIVES FOUND
                                </div>
                              </td>
                            </tr>
                          </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </ng-container>
                  <!-- <ng-container *ngIf="isPageLoading">
                    <div class="fs-5 my-5 py-5 d-flex flex-column justify-content-center align-items-center">
                      <div class="col-md-3 modal-container  text-center cog-wheel">
                        <img src="assets/images/cog.gif" alt="" />
                        <h6 class="modal-title title-message">
                          Please Wait ........
                        </h6>
                      </div>
                    </div>
                  </ng-container> -->
                </ng-template>
              </li>

              <li [ngbNavItem]="2">
                <a ngbNavLink (click)="getEmployeesMeeting()">1.1 Meetings</a>
                <ng-template ngbNavContent>
                  <ng-container *ngIf="!isPageLoading">
                    <ng-container *ngIf="allMeetings == null || allMeetings.length <= 0">
                      <h5 class="fw-bold">1:1 meetings</h5>
                      <p>Meetings which are created by me or in which I am participant will be shown here.</p>
                      <div class="col-md-12 py-5">
                        <div class="d-flex align-items-center justify-content-center py-5 my-5">
                          <div class="col-md-4 text-center">
                            <i class="fa-solid fa-plus-circle fa-3x"></i>
                            <p>You don't have any 1:1 meeting schedule. Start using 1:1 meetings to have a regular
                              interaction with your manager or peers.</p>
                            <button class="btn btn-primary-c" (click)="addMeetingPopUp()">Schedule 1:1 meeting</button>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="allMeetings != null && allMeetings.length > 0">
                      <div class="btn-group mt-2 mb-4" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" (click)="meetingTab(1)" name="meetingbtn"
                          id="schedulrmeeting" autocomplete="off" checked>
                        <label class="btn btn-outline-primary" for="schedulrmeeting">Scheduled meetings</label>

                        <input type="radio" class="btn-check" (click)="meetingTab(2)" name="meetingbtn"
                          id="completedmeeting" autocomplete="off">
                        <label class="btn btn-outline-primary" for="completedmeeting">Completed meetings</label>
                      </div>
                      <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                          <h5 class="fw-bold">1:1 meetings</h5>
                          <p>Meetings which are created by me or in which I am participant will be shown here.</p>
                        </div>
                        <div class="col-auto" *ngIf="allMeetings != null && allMeetings.length > 0">
                          <button class="btn btn-primary-c" (click)="addMeetingPopUp()">Schedule 1:1 meeting</button>
                        </div>
                      </div>
                      <ng-container *ngIf="selectedMeeting != null">
                        <div class="row">
                          <div class="col-md-3">
                            <div class="card">
                              <ng-container *ngIf="activeMeetingTab == 1">
                                <ng-container *ngIf="upcomingMeetings != null && upcomingMeetings.length > 0">
                                  <div class="card-header fw-bold">
                                    UPCOMING MEETINGS
                                  </div>
                                  <div class="card-body p-0">
                                    <div class="list-group rounded-0">
                                      <button type="button" name="meetingevents" (click)="selectMeeting(item, $event)"
                                        *ngFor="let item of upcomingMeetings; let i=index;"
                                        [ngClass]="{'active': i == 0, 'border-top' : i >= 1}"
                                        class="py-3 list-group-item border-0 list-group-item-action"
                                        aria-current="true">
                                        <h6 class="text-truncate">{{item.MeetingTitle}}</h6>
                                        <p class="mb-0 text-muted">with {{item.MeetingWith}} <span
                                            *ngIf="item.ExtraMember > 0"> & {{item.ExtraMember}} more</span></p>
                                        <p class="mb-0 text-muted">on {{item.MeetingDate |date}} at {{item.StartTime}}
                                        </p>
                                      </button>
                                    </div>
                                  </div>
                                </ng-container>
                                <ng-container *ngIf="pendingMeetings != null && pendingMeetings.length > 0">
                                  <div class="card-header fw-bold">
                                    PENDING MEETINGS
                                  </div>
                                  <div class="card-body p-0">
                                    <div class="list-group">
                                      <button type="button" name="meetingevents"
                                        [ngClass]="{'active': (pendingMeetings== null || pendingMeetings.length == 0) && i== 0, 'border-top' : i >= 1}"
                                        (click)="selectMeeting(item, $event)"
                                        *ngFor="let item of pendingMeetings; let i=index;"
                                        class="py-3 rounded-0 list-group-item border-0 list-group-item-action"
                                        aria-current="true">
                                        <h6 class="text-truncate">{{item.MeetingTitle}}</h6>
                                        <p class="mb-0 text-muted">with {{item.MeetingWith}} <span
                                            *ngIf="item.ExtraMember > 0"> & {{item.ExtraMember}} more</span></p>
                                        <p class="mb-0 text-danger">on {{item.MeetingDate |date}}, Pending since
                                          {{(item.DaysDiffer.min > 0 && item.DaysDiffer.days == 0 && item.DaysDiffer.hrs
                                          == 0) ? (item.DaysDiffer.min | number : '1.0-0') + ' mins' :
                                          (item.DaysDiffer.days == 0 && item.DaysDiffer.hrs > 0) ? (item.DaysDiffer.hrs
                                          | number : '1.0-0') + " hrs" : (item.DaysDiffer.days | number : '1.0-0') + '
                                          days'}}</p>
                                      </button>
                                    </div>
                                  </div>
                                </ng-container>
                              </ng-container>
                              <ng-container *ngIf="activeMeetingTab == 2">
                                <ng-container *ngIf="completedMeetings != null && completedMeetings.length > 0">
                                  <div class="card-header fw-bold">
                                    COMPLETED MEETINGS
                                  </div>
                                  <div class="card-body p-0">
                                    <div class="list-group">
                                      <button type="button" name="meetingevents" (click)="selectMeeting(item, $event)"
                                        *ngFor="let item of completedMeetings; let i=index;"
                                        [ngClass]="{'active': i == 0, 'border-top' : i >= 1}"
                                        class="py-3 list-group-item rounded-0 border-0 list-group-item-action"
                                        aria-current="true">
                                        <h6 class="text-truncate">{{item.MeetingTitle}}</h6>
                                        <p class="mb-0 text-muted">with {{item.MeetingWith}} <span
                                            *ngIf="item.ExtraMember > 0"> & {{item.ExtraMember}} more</span></p>
                                        <p class="mb-0 text-muted">on {{item.UpdatedOn |date}}, {{item.Status == 1 ?
                                          'completed' : 'cancelled'}}</p>
                                      </button>
                                    </div>
                                  </div>
                                </ng-container>
                              </ng-container>
                            </div>
                          </div>
                          <div class="col-md-9">
                            <div class="x_panel">
                              <div class="row align-items-center">
                                <div class="col-md-4">
                                  <h6 class="text-truncate">{{selectedMeeting.MeetingTitle}}</h6>
                                  <p class="mb-0 text-muted">on {{selectedMeeting.MeetingDate |date}} at
                                    {{selectedMeeting.StartTime}} ({{selectedMeeting.MeetingDuration}})</p>
                                  <p class="mb-0 text-muted text-truncate">Meeting created by
                                    {{selectedMeeting.CreateBy}}</p>
                                </div>
                                <div class="col-md-4 border-start border-end">
                                  <h6>Meeting Participant</h6>
                                  <div class="d-flex">
                                    <ng-container *ngFor="let item of selectedEmployee; let i = index;">
                                      <ng-container *ngIf="i < 10">
                                        <div class="rounded-icon bg-c text-white"
                                          [ngClass]="{'bg-primary': (i+1)%2 == 0, 'bg-secondary': (i+1)%3 == 0, 'bg-success': (i+1)%4 == 0}"
                                          [ngStyle]="{'margin-left': i > 0 ? '-7px' : '0px'}">
                                          {{item.userNameIcon}}
                                        </div>
                                      </ng-container>
                                      <ng-container *ngIf="i > 10">
                                        <div class="rounded-icon bg-c text-white" style="margin-left: -7px;">
                                          {{selectedEmployee.length - 10}}+
                                        </div>
                                      </ng-container>
                                    </ng-container>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="d-flex float-end justify-content-end align-items-center">
                                    <button *ngIf="selectedMeeting.Status == 2" (click)="completeMeetingPopUp()"
                                      class="btn btn-primary-c">Complete meeting</button>
                                    <div class="col ms-4"
                                      *ngIf="selectedMeeting.Status != 1 && selectedMeeting.Status != 3">
                                      <div ngbDropdown class="d-inline-block" placement="bottom-end">
                                        <a href="javascript:void(0)" id="dropdownBasic1" ngbDropdownToggle>
                                          <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
                                        </a>
                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                          <button ngbDropdownItem (click)="editMeetings()">Edit meeting</button>
                                          <button ngbDropdownItem (click)="deleteMeetingPopUp()">Delete this
                                            meeting</button>
                                          <button ngbDropdownItem (click)="cancelMeetingPopUp()">Cancel meeting</button>
                                        </div>
                                      </div>
                                    </div>
                                    <span *ngIf="selectedMeeting.Status == 1 || selectedMeeting.Status == 3"
                                      class="badge rounded-pill text-bg-success fw-normal p-2 fs-6"
                                      [ngClass]="{'text-bg-success': selectedMeeting.Status == 1, 'text-bg-danger': selectedMeeting.Status == 3}">{{selectedMeeting.Status
                                      == 1 ? 'Completed' : 'Cancelled'}}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="x_panel">
                              <h5>Talking Points</h5>
                              <!-- <app-editor [content]="htmlText" [height]="25"></app-editor> -->
                              <div [innerHTML]="htmlText"></div>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="selectedMeeting == null">
                        <div class="fw-bold fs-3 text-center py-5 my-5 text-dark">
                          Record Not Found
                        </div>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                  <!-- <ng-container *ngIf="isPageLoading">
                    <div class="fs-5 my-5 py-5 d-flex flex-column justify-content-center align-items-center">
                      <div class="col-md-3 modal-container  text-center cog-wheel">
                        <img src="assets/images/cog.gif" alt="" />
                        <h6 class="modal-title title-message">
                          Please Wait ........
                        </h6>
                      </div>
                    </div>
                  </ng-container> -->
                </ng-template>
              </li>

              <li [ngbNavItem]="3">
                <a ngbNavLink (click)="loadReviewDetail()">Performance Reviews</a>
                <ng-template ngbNavContent>
                  <ng-container *ngIf="!isPageLoading">
                    <h5 class="mt-3 fw-bold">My Performance Reviews</h5>
                    <small class="text-muted">The following are the performance reviews in which I was reviewed.</small>
                    <div class="d-flex mt-3">
                      <div class="col-auto">
                        <i class="fa-solid fa-circle text-primary-c"></i>
                      </div>
                      <div class="col-md-11 ms-3">
                        <div class="card shadow-sm px-2 py-3">
                          <div class="row">
                            <div class="d-flex align-items-center col-md-6">
                              <h6 class="fw-bold mb-0">Performance Review cycle {{objectives[0].AppraisalCycleStartDate
                                | date}} - {{objectives[0].AppraisalCycleStartDate | date}}</h6>
                              <span class="badge ms-2"
                                [ngClass]="{'text-bg-warning': objectives[0].PerformanceStatus == 2, 'text-bg-danger': objectives[0].PerformanceStatus == 5 , 'bg-c text-white' : objectives[0].PerformanceStatus == 8, 'text-bg-success' : objectives[0].PerformanceStatus == 9}">
                                {{objectives[0].PerformanceStatus == 2 ? 'Pending' : objectives[0].PerformanceStatus ==
                                5 ? 'Rejected' : objectives[0].PerformanceStatus == 8 ? 'Submitted' :
                                'Approved'}}</span>
                            </div>
                            <div class="col-md-6">
                              <div class="d-flex align-items-center">
                                <div class="rounded-icon bg-c text-white">
                                  {{userNameIcon}}
                                </div>
                                <div class="ms-3 d-flex align-items-center">
                                  <h6 class="mb-0">{{userDetail.FirstName}} {{userDetail.LastName}}</h6>
                                  <small class="ps-2"> | Emp No.: {{employeeId}}</small>
                                </div>
                              </div>
                            </div>
                          </div>
                          <p>{{objectives[0].UpdatedOn | date}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="mt-3">
                      <ng-container *ngIf="objectives != null && objectives.length > 0">
                        <ng-container *ngFor="let item of objectives; let i=index;">
                          <div class="row bg-white p-2 m-0 mb-3 d-flex justify-content-between rounded leave-box">
                            <div class="d-flex col-md-12">
                              <a data-bs-toggle="collapse" (click)="collpaseShowHide('feedback'+i)"
                                [attr.href]="'#feedback'+i" role="button" aria-expanded="false"
                                [attr.aria-controls]="'#feedback'+i" class="me-3">
                                <i class="fa-solid fa-quote-left" aria-hidden="true"></i>
                              </a>
                              <p class="mb-0 fs-6">
                                <b>{{item.Objective}}:</b>
                                <label class="d-block">{{item.Description}}</label>
                              </p>
                            </div>
                            <h6 class="mt-1 mb-0 text-dark ms-3 ps-4"><small>PERFORMANCE RATING </small> {{item.Rating}}
                              out of 5</h6>
                            <div class="bg dark ps-4" [id]="'feedback'+i">
                              <div class="card card-body border-0">
                                <small>Your feedback:</small>
                                <p class="mb-0">{{item.Comments != null ? item.Comments : "No Feedback"}}</p>
                              </div>
                            </div>
                          </div>
                        </ng-container>
                      </ng-container>
                    </div>
                    <div class="text-end">
                      <button class="btn btn-primary-c" (click)="submitObjective()"
                        [disabled]="isLoading || (objectives[0].PerformanceStatus == 8 || objectives[0].PerformanceStatus == 9)">
                        <i
                          [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading, 'fa-regular fa-square-plus': !isLoading}"></i>
                        <span class="ps-2">
                          Submit Objective
                        </span>
                      </button>
                    </div>
                  </ng-container>
                  <!-- <ng-container *ngIf="isPageLoading">
                    <div class="fs-5 my-5 py-5 d-flex flex-column justify-content-center align-items-center">
                      <div class="col-md-3 modal-container  text-center cog-wheel">
                        <img src="assets/images/cog.gif" alt="" />
                        <h6 class="modal-title title-message">
                          Please Wait ........
                        </h6>
                      </div>
                    </div>
                  </ng-container> -->
                </ng-template>
              </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="mt-2"></div>
          </div>
        </ng-container>
        <!-- <ng-container *ngIf="!isPageReady">
          <div class="fs-5 my-5 py-5 d-flex flex-column justify-content-center align-items-center">
            <div class="col-md-3 modal-container  text-center cog-wheel">
              <img src="assets/images/cog.gif" alt="" />
              <h6 class="modal-title title-message">
                Please Wait ........
              </h6>
            </div>
          </div>
        </ng-container> -->
      </div>
    </div>
  </div>
</div>

<!-- Edit performance -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="editPerformance" tabindex="-1"
  aria-labelledby="editPerformanceLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="editPerformanceLabel">Objective</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="selectedObjective != null">
        <div class="row">
          <div class="col-auto">
            <i class="fa-solid fa-bullseye fa-lg" aria-hidden="true"></i>
          </div>
          <div class="col-md-8 ps-0">
            <h6 class="">{{selectedObjective.Description}}</h6>
            <small>
              <i class="fa-solid fa-user pe-1"></i><span>{{userDetail.FirstName + " " + userDetail.LastName}}</span>
              <i class="fa-regular fa-eye pe-1 ps-3"></i> <span>{{selectedObjective.ObjSeeType == true ? 'Manager' :
                'Everyone'}}</span>
            </small>
          </div>
          <div class="col-md-3 text-end" *ngIf="objectives != null && objectives.length > 0">
            <h6 class="text-end"><i class="fa-regular fa-calendar-days fa-lg-o pe-1"></i>
              {{objectives[0].AppraisalCycleStartDate | date: 'y'}} - {{objectives[0].AppraisalCycleEndDate | date:'y'}}
            </h6>
            <small>{{objectives[0].AppraisalCycleStartDate | date}} - {{objectives[0].AppraisalCycleEndDate |
              date}}</small>
          </div>
        </div>
        <div class="p border-bottom mt-4">Details</div>
        <div class="row">
          <div class="col-md-6 border-end">
            <div class="row mt-3 col-md-12 align-items-center justify-content-between">
              <div class="col-md-5">
                <div class="d-flex align-items-center justify-content-between">
                  <small>OVERALL PROGRESS</small>
                  <h6>{{selectedObjective.CurrentValue * 100 / selectedObjective.TargetValue | number: '1.2-2'}}
                    {{selectedObjective.ProgressMeassureType == 1 ? '%' : ''}}</h6>
                </div>
                <p class="mb-0"><ngb-progressbar [showValue]="false"
                    [type]="selectedObjective.Status == 2 ? 'success' : selectedObjective.Status == 1 ? 'secondary' : selectedObjective.Status == 3 ? 'warning' : selectedObjective.Status == 4 ? 'danger' : 'dark'"
                    [value]="selectedObjective.CurrentValue * 100 / selectedObjective.TargetValue"></ngb-progressbar>
                </p>
              </div>
              <div class="col-auto">
                <button class="btn btn-sm btn-primary-c" (click)="updateEmpObjectivePopUp()">
                  <i [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading, 'fa-solid fa-map-pin': !isLoading}"></i>
                  <span class="ps-1">
                    {{isLoading ? 'wait' : 'Update Progress'}}
                  </span>
                </button>
              </div>
            </div>
            <div class=" mt-3 col-md-7 row align-items-center justify-content-between">
              <div class="col-auto">
                <small>INITIAL VALUE</small>
                <h6>{{selectedObjective.StartValue}} {{selectedObjective.ProgressMeassureType == 1 ? '%' : ''}}</h6>
              </div>
              <div class="col-auto">
                <small>TARGET</small>
                <h6>{{selectedObjective.TargetValue}} {{selectedObjective.ProgressMeassureType == 1 ? '%' : ''}}</h6>
              </div>
              <div class="col-auto">
                <small>CURRENT</small>
                <h6>{{selectedObjective.CurrentValue}} {{selectedObjective.ProgressMeassureType == 1 ? '%' : ''}}</h6>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h6 class="mt-3">Activity</h6>
            <ng-container
              *ngIf="selectedObjective.PerformanceDetail != null && selectedObjective.PerformanceDetail.length > 0">
              <ng-container *ngFor="let item of selectedObjective.PerformanceDetail; let i = index;">
                <div class="row mt-3">
                  <div class="col-auto"><i class="fa-solid fa-map-pin"></i></div>
                  <div class="col-md-11">
                    <div class="row align-items-center justify-content-between">
                      <div class="col-auto">
                        <small>{{userDetail.FirstName + " " + userDetail.LastName}} updated progress on
                          objective</small>
                      </div>
                      <div class="col-auto">
                        <small>{{item.updatedOn | date:'medium' }}</small>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-auto">
                        <i class="fa-solid fa-bullseye fa-lg" aria-hidden="true"></i>
                      </div>
                      <div class="col-md-11 ps-0 text-break">
                        {{selectedObjective.Description}}
                      </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                      <p class="mb-0">
                        <small>Updated to {{item.CurrentValue}}%</small>
                        <ng-container *ngIf="i+1 == selectedObjective.PerformanceDetail.length">
                          <small class="text-success ps-2">{{item.currentValue - selectedObjective.StartValue > 0 ? '+'
                            : ''}}{{item.currentValue - selectedObjective.StartValue}}%</small>
                        </ng-container>
                        <small *ngIf="i+1 != selectedObjective.PerformanceDetail.length" class="text-success ps-2">
                          {{item.currentValue - selectedObjective.PerformanceDetail[i+1].currentValue > 0 ? '+' : ''}}
                          {{item.currentValue - selectedObjective.PerformanceDetail[i+1].currentValue}}%
                        </small>
                      </p>
                      <p class="mb-0">
                        <ng-container *ngIf="item.status == 1">
                          <small>
                            <i class="fa-solid fa-circle text-secondary pe-2"></i>
                            <span>Not strated</span>
                          </small>
                        </ng-container>
                        <ng-container *ngIf="item.status == 2">
                          <small>
                            <i class="fa-solid fa-circle text-success pe-2"></i>
                            <span>On track</span>
                          </small>
                        </ng-container>
                        <ng-container *ngIf="item.status == 3">
                          <small>
                            <i class="fa-solid fa-circle text-warning pe-2"></i>
                            <span>Needs attention</span>
                          </small>
                        </ng-container>
                        <ng-container *ngIf="item.status == 4">
                          <small>
                            <i class="fa-solid fa-circle text-danger pe-2"></i>
                            <span>At risk</span>
                          </small>
                        </ng-container>
                        <ng-container *ngIf="item.status == 5">
                          <small>
                            <i class="fa-solid fa-circle text-dark pe-2"></i>
                            <span>Closed</span>
                          </small>
                        </ng-container>
                      </p>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- manage performance -->
<div class="modal fade" data-bs-backdrop="static" style="background-color: #222222ba;" data-bs-keyboard="false"
  id="managePerformance" tabindex="-1" aria-labelledby="managePerformanceLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="managePerformanceLabel">Update progress on Objective</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="selectedObjective != null">
        <div class="col-md-12 row">
          <div class="col-auto">
            <i class="fa-solid fa-bullseye fa-lg" aria-hidden="true"></i>
          </div>
          <div class="col-md-11 ps-0">
            <h6>{{selectedObjective.Description}}</h6>
            <small>Initail: {{selectedObjective.StartValue | number: '1.2-2'}} %</small>
            <small class="ps-4">Target: {{selectedObjective.TargetValue | number: '1.2-2'}} %</small>
          </div>
        </div>
        <form [formGroup]="performanceForm">
          <div class="row">
            <div class="col-md-4 mt-3">
              <label class="form-label">New Value</label>
              <div class="input-group">
                <input formControlName="CurrentValue" type="text" placeholder="Enter the latest value"
                  class="form-control" aria-describedby="inputGroupPrepend"
                  [ngClass]="{'error-field': isSubmitted && n.CurrentValue.errors !== null && n.CurrentValue.errors.required}"
                  DecimalNumber="6">
                <span class="input-group-text" id="inputGroupPrepend">%</span>
              </div>
              <small>Current Value: {{selectedObjective.CurrentValue | number: '1.2-2'}}</small>
            </div>
            <div class="col-md-4 mt-3">
              <label class="form-label">New Status</label>
              <select formControlName="Status" class="form-select"
                [ngClass]="{'error-field': isSubmitted && n.Status.errors !== null && n.Status.errors.required}">
                <option value="null" selected disabled>Select Status</option>
                <option value="1">Not Started</option>
                <option value="2">On track</option>
                <option value="3">Need attention</option>
                <option value="4">At risk</option>
                <option value="5">Closed</option>
              </select>
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <label class="form-label">Feedback</label>
            <textarea formControlName="Comments" cols="30" oninput="this.value = this.value.toUpperCase()" rows="5"
              class="form-control" placeholder="Feedback"
              [ngClass]="{'error-field': isSubmitted && n.Comments.errors !== null && n.Comments.errors.required}"></textarea>
          </div>
          <div class="col-md-12 mt-3">
            <label class="form-label pe-2">Rating</label>
            <ngb-rating [(rate)]="currentRate" [max]="5"></ngb-rating>
          </div>
          <ng-container
            *ngIf="selectedObjective.PerformanceDetail != null && selectedObjective.PerformanceDetail.length > 0">
            <div class="card p-3 mt-4 bg-light">
              <h6 class="fw-bold">Last progress update</h6>
              <p class="mb-0 fw-bold">{{userDetail.FirstName + " " + userDetail.LastName}} on
                {{selectedObjective.PerformanceDetail[0].updatedOn | date:'medium' }}</p>
              <div class="d-flex align-items-center">
                <span>Updated to {{selectedObjective.PerformanceDetail[0].currentValue}}%</span>
                <ng-container *ngIf="selectedObjective.PerformanceDetail.length == 1">
                  <small class="text-success ps-2">{{selectedObjective.PerformanceDetail[0].currentValue -
                    selectedObjective.StartValue > 0 ? '+' : ''}}{{selectedObjective.PerformanceDetail[0].currentValue -
                    selectedObjective.StartValue}}%</small>
                </ng-container>
                <small *ngIf="selectedObjective.PerformanceDetail.length > 1" class="text-success ps-2">
                  {{selectedObjective.PerformanceDetail[0].currentValue -
                  selectedObjective.PerformanceDetail[1].currentValue > 0 ? '+' : ''}}
                  {{selectedObjective.PerformanceDetail[0].currentValue -
                  selectedObjective.PerformanceDetail[1].currentValue}}%
                </small>
                <span class="ps-4">(target {{selectedObjective.TargetValue}})</span>
                <span class="ps-4">
                  <ng-container *ngIf="selectedObjective.PerformanceDetail[0].status == 1">
                    <small>
                      <i class="fa-solid fa-circle text-secondary pe-2"></i>
                      <span>Not strated</span>
                    </small>
                  </ng-container>
                  <ng-container *ngIf="selectedObjective.PerformanceDetail[0].status == 2">
                    <small>
                      <i class="fa-solid fa-circle text-success pe-2"></i>
                      <span>On track</span>
                    </small>
                  </ng-container>
                  <ng-container *ngIf="selectedObjective.PerformanceDetail[0].status == 3">
                    <small>
                      <i class="fa-solid fa-circle text-warning pe-2"></i>
                      <span>Needs attention</span>
                    </small>
                  </ng-container>
                  <ng-container *ngIf="selectedObjective.PerformanceDetail[0].status == 4">
                    <small>
                      <i class="fa-solid fa-circle text-danger pe-2"></i>
                      <span>At risk</span>
                    </small>
                  </ng-container>
                  <ng-container *ngIf="selectedObjective.PerformanceDetail[0].status == 5">
                    <small>
                      <i class="fa-solid fa-circle text-dark pe-2"></i>
                      <span>Closed</span>
                    </small>
                  </ng-container>
                </span>
              </div>
            </div>
          </ng-container>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" [disabled]="isLoading" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary-c" (click)="updateEmpObjective()" [disabled]="isLoading">
          <i [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading, 'fa-regular fa-square-plus': !isLoading}"></i>
          <span class="ps-2">
            Update Objective
          </span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- manage 1:1 meetings -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="manageMeeting" tabindex="-1"
  aria-labelledby="manageMeetingLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="manageMeetingLabel">Schedule 1:1 Meeting</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="meetingForm">
          <div class="row">
            <div class="col-md-6 mt-3" *ngIf="isPageReady">
              <label class="form-label">Select employee to have a 1:1</label>
              <bot-autocomplete [data]="employeesList" [ngModelOptions]="{standalone: true}" [(ngModel)]="empId"
                (OnSelect)="onSelectEmp($event)">
              </bot-autocomplete>
            </div>
            <div class="col-md-6 mt-3">
              <label class="form-label">Meeting title</label>
              <input type="text" oninput="this.value = this.value.toUpperCase()" formControlName="MeetingTitle"
                placeholder="Enter meeting title" class="form-control"
                [ngClass]="{'error-field': isSubmitted && f.MeetingTitle.errors !== null && f.MeetingTitle.errors.required}">
            </div>
          </div>
          <div class="d-flex flex-wrap mt-3 " *ngIf="selectedEmployee.length > 0">
            <div *ngFor="let item of selectedEmployee">
              <span class="badge fs-6 fw-normal bg-ant text-dark me-2 my-2">
                {{item.text}}
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mt-3">
              <label class="form-label">Meeting platforms (optional)</label>
              <select class="form-select" formControlName="MeetingPlaforms">
                <option value="0" selected disabled>Select Platforms</option>
              </select>
            </div>
            <div class="mt-3 col-md-6">
              <label class="form-label">Date</label>
              <form class="form-inline">
                <div class="form-group w-100">
                  <div class="input-group w-100"
                    [ngClass]="{'error-field': isSubmitted && f.MeetingDate.errors !== null && f.MeetingDate.errors.required}">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model"
                      (dateSelect)="onDateSelection($event)" ngbDatepicker [minDate]="minDate" [maxDate]="maxDate"
                      #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i
                          class="fa-regular fa-calendar-days fa-lg" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="mt-3 col-md-6">
                  <label class="form-label">Start time</label>
                  <app-bh-timepicker formControlName="StartTime"></app-bh-timepicker>
                </div>
                <div class="mt-3 col-md-6">
                  <label class="form-label">End time</label>
                  <app-bh-timepicker formControlName="EndTime"></app-bh-timepicker>
                </div>
                <div class="col-md-12">
                  Duration: {{meetingDuration}}
                </div>
              </div>
            </div>
            <div class="mt-3 col-md-6">
              <label class="form-label">Frequency of this meeting</label>
              <select class="form-select" formControlName="MeetingFrequency"
                [ngClass]="{'error-field': isSubmitted && f.MeetingFrequency.errors !== null && f.MeetingFrequency.errors.required}">
                <option value=null disabled selected>Select Frequency</option>
                <option value="1">Only Once</option>
                <option value="2">Weekly</option>
                <option value="3">Monthly</option>
                <!-- <option value="4">Once Every Two Weeks</option> -->
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <h6 class="mt-3">Talking Points</h6>
            <p class="mb-0">Set an agenda for the meeting to be on the same page with your employee</p>
            <app-editor [content]="htmlText" [height]="25"></app-editor>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0" *ngIf="selectedMeeting != null">
        <button type="button" class="btn btn-secondary" [disabled]="isLoading" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary-c" (click)="manageMeeting()" [disabled]="isLoading">
          <i [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading, 'fa-regular fa-square-plus': !isLoading}"></i>
          <span class="ps-2">
            {{selectedMeeting.meetingId <= 0 ? 'Add' : 'Update' }} Meeting </span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Delete meeting -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="deleteMeeting" tabindex="-1"
  aria-labelledby="deleteMeetingLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="deleteMeetingLabel">Delete Meeting</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6>Are you sure want to delete meeting ?</h6>
        <h4>Wat happens next?</h4>
        <ul>
          <li>This meeting will no longer be available in your meeting calendar.</li>
          <li>All the participants in this meeting will be notified with email notification stating meetings as
            cancelled.</li>
          <li>No further actions are allowed to be taken on this meetings by anyone as it wiill be deleted peermanently
          </li>
        </ul>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" [disabled]="isLoading" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary-c" [disabled]="isLoading" (click)="deleteMeeting()">
          <i [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading, 'fa-regular fa-square-plus': !isLoading}"></i>
          <span class="ps-2">
            Delete meeting
          </span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Complete meeting -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="completeMeeting" tabindex="-1"
  aria-labelledby="completeMeetingLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="completeMeetingLabel">Complete Meeting</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6>Are you sure want to complete this meeting ?</h6>
        <h4>Wat happens next?</h4>
        <ul>
          <li>You can not canged meeting details, action items and talking points.</li>
          <li>You can add meeting notes at any point of time.</li>
        </ul>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" [disabled]="isLoading" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary-c" [disabled]="isLoading" (click)="completeMeeting()">
          <i [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading, 'fa-regular fa-square-plus': !isLoading}"></i>
          <span class="ps-2">
            Complete
          </span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Complete meeting -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="cancelMeeting" tabindex="-1"
  aria-labelledby="cancelMeetingLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="cancelMeetingLabel">Complete Meeting</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6>Are you sure want to canccel this meeting ?</h6>
        <h4>Wat happens next?</h4>
        <ul>
          <li>You can not canged meeting details, action items and talking points.</li>
          <li>Once the meeting is cancelled it will be moved to complete meetings.</li>
        </ul>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" [disabled]="isLoading" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary-c" [disabled]="isLoading" (click)="cancelMeeting()">
          <i [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading, 'fa-regular fa-square-plus': !isLoading}"></i>
          <span class="ps-2">
            Cancel Meeting
          </span>
        </button>
      </div>
    </div>
  </div>
</div>