<div class="main-container">
  <form autocomplete="off">
    <div class="col-md-12 bg-light mb-3">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link text-dark nav-active" id="attendance-tab" (click)="activateMe('attendance-tab')"
            aria-current="page" href="javascript:void(0)">ATTENDENCE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" id="timesheet-tab" (click)="activateMe('timesheet-tab')"
            href="javascript:void(0)">TIMESHEET</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" id="leave-tab" (click)="activateMe('leave-tab')"
            href="javascript:void(0)">LEAVE</a>
        </li>
      </ul>
    </div>
    <div [ngClass]="{'preload': !isEmployeesReady}">
      <div class="col-12 row m-0 p-0 mb-4 skeleton">
        <ng-container *ngIf="isEmployeesReady">
          <div class="col-md-8 row m-0 p-0 vhide">
            <div class="col-md-4" *ngIf="!isRedirected">
              <label class="form-label">Employee Name *</label>
              <app-iautocomplete [data]="employeesList" (OnSelect)="findEmployee($event)" [(ngModel)]="employeeId"
                [ngModelOptions]="{standalone: true}">
              </app-iautocomplete>
            </div>
            <div class="col-md-4 p-0 m-0">
              <label class="form-label">Select Compnay</label>
              <app-iautocomplete [data]="clientDetail" (OnSelect)="loadAttendance()"  [(ngModel)]="clientId" [ngModelOptions]="{standalone: true}">
              </app-iautocomplete>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div *ngIf="isEmployeesReady">
      <app-breadcrums></app-breadcrums>
    </div>
    <ng-container *ngIf="isLoading || !isEmployeesReady">
      <div class="py-5 my-5 x_panel">
        <h6 class="fw-bold fs-3 text-center text-dark">Attendence Details are loading</h6>
        <div class="fs-5 pb-5 py-5 d-flex flex-column justify-content-center align-items-center">
          <div class="col-md-3 modal-container f-12 text-center cog-wheel">
            <img src="assets/images/cog.gif" alt="" />
            <h6 class="modal-title title-message">
              Please Wait ........
            </h6>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!isLoading && isEmployeesReady">
      <ng-container *ngIf="!isEmployeeSelected">
        <div class="my-5 py-5 d-flex align-items-center justify-content-center">
          <div class="my-5 py-5 fs-5 fw-bold text-dark">
            Please select Employee and Employer first
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="isEmployeeSelected">
        <ng-container>
          <h6 class="mt-3 text-dark">Logs & Requests</h6>
          <div class="col-md-12 mt-3 bg-light">
            <nav ngbNav #nav="ngbNav" class="nav-tabs">
              <ng-container ngbNavItem>
                <a ngbNavLink class="text-dark">Attendance Log</a>
                <ng-template ngbNavContent>
                  <div class="x_panel" *ngIf="!isLoading">
                    <div class="col-md-12 d-flex align-items-center bg-white justify-content-between mt-4 py-3 ">
                      <span class="ps-4 fw-bold" *ngIf="presentMonth">Last {{currentDays.length}} days</span>
                      <span class="ps-4 fw-bold" *ngIf="!presentMonth">{{changeMonth}}</span>
                      <div class="btn-group pe-5" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio20" autocomplete="off" checked>
                        <label class="btn btn-outline-primary month-btn" for="btnradio20">{{currentDays.length}}
                          Days</label>
                        <ng-container *ngFor="let month of monthName; let i = index">
                          <input type="radio" class="btn-check" name="btnradio" id="btnradio{{i}}" autocomplete="off">
                          <label class="btn btn-outline-primary month-btn" for="btnradio{{i}}">{{month}}</label>
                        </ng-container>
                      </div>
                    </div>
                    <div class="">
                      <table class="table table-hover table-striped">
                        <thead>
                          <tr>
                            <th class="custom-th">DATE</th>
                            <th class="custom-th">ATTENDANCE VISUAL</th>
                            <th class="custom-th">EFFECTIVE HOURS</th>
                            <th class="custom-th">GROSS HOURS</th>
                            <th class="custom-th">ARRIVAL</th>
                            <th class="custom-th">Status</th>
                            <th class="custom-th">LOG</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of currentDays; let index = index">
                            <td class="align-middle">{{item.AttendanceDay | date: 'MMM d, EEE'}}
                              <div class="d-inline" [ngSwitch]="item.AttendenceStatus">
                                <span class="badge bg-primary ms-2" *ngSwitchCase="2">WFH</span>
                                <span class="badge bg-info ms-2" *ngSwitchCase="5">LEAVE</span>
                                <span class="badge bg-warning ms-2" *ngSwitchCase="3">W-OFF</span>
                                <span class="badge bg-secondary ms-2" *ngSwitchCase="4">HLDY</span>
                                <span class="badge bg-success ms-2" *ngSwitchCase="1">IN-OFFC</span>
                                <span class="badge bg-danger ms-2" *ngSwitchDefault>EMPTY</span>
                              </div>
                            </td>
                            <td class="align-middle">
                              <p class="pt-3">
                                <ngb-progressbar type="info" [value]="100" style="width: 40%;"></ngb-progressbar>
                              </p>
                            </td>
                            <td class="align-middle"><i class="fa fa-circle pe-3 text-info"></i> 9h 0m</td>
                            <td class="align-middle">9h 0m</td>
                            <td class="align-middle">
                              <ng-container *ngIf="item.AttendenceStatus == 9 || item.PresentDayStatu == 9">
                                <div class="d-inline">
                                  <span class=" ms-2">
                                    <i class="fa fa-check pe-2 text-success"></i> On Time
                                  </span>
                                </div>
                              </ng-container>
                              <ng-container *ngIf="item.AttendenceStatus != 9">
                                <div class="d-inline" [ngSwitch]="item.PresentDayStatus">
                                  <span class=" ms-2" *ngSwitchCase="3">Week off</span>
                                  <span class=" ms-2" *ngSwitchCase="2">Waiting..</span>
                                  <span class=" ms-2" *ngSwitchCase="1">Not applied</span>
                                  <span class=" ms-2" *ngSwitchCase="0">-</span>
                                  <span class=" ms-2" *ngSwitchCase="5">00:00</span>
                                  <span class=" ms-2" *ngSwitchCase="9">
                                    <i class="fa fa-check pe-2 text-success"></i> On Time
                                  </span>
                                </div>
                              </ng-container>
                            </td>
                            <td class="align-middle">
                              <div class=" ms-2" [ngSwitch]="item.PresentDayStatus">
                                <div placement="top" ngbTooltip="waiting" aria-expanded="false"
                                *ngSwitchCase = "2">
                                  <i class="fa fa-clock-o pe-2 text-warning"></i> Waiting...
                                </div>
                                <div placement="top" ngbTooltip="Not Applied" aria-expanded="false"
                                *ngSwitchCase = "0">
                                  <i class="fa fa-clock-o pe-2 text-warning"></i> Not Applied
                                </div>
                                <div placement="top" ngbTooltip="Weekend" aria-expanded="false"
                                *ngSwitchCase = "3">
                                  <i class="fa zoom-2 fa-gift pe-2 text-success"></i> Weekend
                                </div>
                                <div placement="top" ngbTooltip="Approved" aria-expanded="false"
                                *ngSwitchCase = "9">
                                  <i class="fa fa-check-square-o pe-2 text-success"></i> Approved
                                </div>
                                <div placement="top" ngbTooltip="Rejected" aria-expanded="false"
                                *ngSwitchCase = "5">
                                  <i class="fa fa-close pe-2 text-danger"></i> Rejected
                                </div>
                              </div>
                            </td>
                            <td class="align-middle">
                              <div class="d-flex align-items-center">
                                <div class="col" *ngIf="item.PresentDayStatus == 0 || item.PresentDayStatus == 5">
                                  <div ngbDropdown class="d-inline-block">
                                    <button type="button" class="btn btn-sm" placement="top" ngbTooltip="Apply"
                                      id="dropdownBasic1" ngbDropdownToggle>
                                      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                    </button>
                                    <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                      <button ngbDropdownItem>
                                        <a class="dropdown-item" href="javascript:void(0)"
                                          (click)="applyWorkFromHome(item)">Apply
                                          WFH Request</a>
                                      </button>
                                      <button ngbDropdownItem>
                                        <a class="dropdown-item" href="javascript:void(0)"
                                          (click)="selectOption(index)">Apply
                                          Leave</a>
                                      </button>
                                    </div>
                                  </div>
                                </div>
                                <ng-container *ngIf="item.PresentDayStatus == 9">
                                  <span class="ms-2">
                                    <div placement="top" ngbTooltip="Approved" aria-expanded="false">
                                      <i class="fa fa-check-square-o zoom-2 text-success" aria-hidden="true"></i>
                                    </div>
                                  </span>
                                </ng-container>
                                <span class=" ms-2" *ngIf="item.PresentDayStatus == 3">
                                  <div placement="top" ngbTooltip="Weekend" aria-expanded="false">
                                    <i class="fa zoom-2 fa-gift text-primary-c" aria-hidden="true"></i>
                                  </div>
                                </span>
                                <span class="ms-2" *ngIf="item.PresentDayStatus == 2">
                                  <div placement="top" ngbTooltip="Pending" aria-expanded="false">
                                    <i class="fa fa-clock-o zoom-2 text-warning" aria-hidden="true"></i>
                                  </div>
                                </span>

                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <ng-container *ngIf="isLoading">
                    <div class="py-5 my-5">
                      <h6 class="fw-bold fs-3 text-center text-dark">Attendance are loading</h6>
                      <div class="fs-5 pb-5 py-5 d-flex flex-column justify-content-center align-items-center">
                        <div class="col-md-3 modal-container f-12 text-center cog-wheel">
                          <img src="assets/images/cog.gif" alt="" />
                          <h6 class="modal-title title-message">
                            Please Wait ........
                          </h6>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </ng-template>
              </ng-container>
              <ng-container ngbNavItem>
                <a ngbNavLink class="text-dark">Shift Schedule</a>
                <ng-template ngbNavContent>
                  <div>
                    <iframe
                      src="https://calendar.google.com/calendar/embed?src=istiyak.bottomhalf%40gmail.com&ctz=Asia%2FKolkata"
                      style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
                  </div>
                </ng-template>
              </ng-container>

              <ng-container ngbNavItem>
                <a ngbNavLink class="text-dark">Attendence Request</a>
                <ng-template ngbNavContent>
                  <div class="col-md-12 d-flex align-items-center bg-white justify-content-between mt-4 py-3">
                    <span class="ps-4">Work From Home / On Duty Request</span>
                    <div>
                      <span class="pe-3">19 March 2022 - 02 May 2022</span>
                      <div class="btn-group dropstart me-4">
                        <button class="btn btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                          aria-expanded="false">
                          <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="javascript:void(0)" (click)="selectOption(index)">Last 7
                              days</a></li>
                          <li><a class="dropdown-item" href="javascript:void(0)" (click)="selectOption(index)">Last 14
                              days</a></li>
                          <li><a class="dropdown-item" href="javascript:void(0)" (click)="selectOption(index)">Last 30
                              days</a></li>
                          <li><a class="dropdown-item" href="javascript:void(0)" (click)="selectOption(index)">Custom
                              Range</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="x_panel">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th class="custom-th border-end" width="15%">DATE</th>
                          <th class="custom-th border-end" width="10%">REQUEST TYPE</th>
                          <th class="custom-th border-end" width="10%">REQUEST ON</th>
                          <th class="custom-th border-end" width="25%">NOTE</th>
                          <th class="custom-th border-end" width="10%">STATUS</th>
                          <th class="custom-th border-end" width="15%">ACTION TAKEN BY</th>
                          <th class="custom-th" width="10%">ACTIONS</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="align-middle border-end border-bottom">
                            <div class="d-flex align-items-center justify-content-between">
                              <p>Apr 15, 2022</p>
                              <div class="d-flex align-items-center flex-column">
                                <i class="fa fa-home fa-lg"></i>
                                <p>1 Day</p>
                              </div>
                            </div>
                          </td>
                          <td class="align-middle border-end border-bottom">
                            Work From Home
                          </td>
                          <td class="align-middle border-end border-bottom">
                            Apr 17, 2022
                            <p><small>by MD Istayaque</small></p>
                          </td>
                          <td class="align-middle border-end border-bottom">
                            covid
                          </td>
                          <td class="align-middle border-end border-bottom">Approved</td>
                          <td class="align-middle border-end border-bottom">
                            <span>Ammanna Komp</span>
                            <p><small>on 18-Apr-2022</small></p>
                          </td>
                          <td class="align-middle border-bottom">
                            <div class="d-flex justify-content-center align-items-center">
                              <i class="fa fa-commenting pe-2" aria-hidden="true"></i>
                              <div class="btn-group dropstart me-4">
                                <button class="btn btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                  aria-expanded="false">
                                  <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                  <li><a class="dropdown-item" href="javascript:void(0)" (click)="selectOption(index)">View
                                      Request</a></li>
                                </ul>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </ng-template>
              </ng-container>
            </nav>

            <div [ngbNavOutlet]="nav" class="mt-2"></div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </form>
</div>

<!-- Comment Modal Start-->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="commentModal" tabindex="-1"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-lg">
  <div class="modal-content">
    <div class="modal-header border-bottom-0">
      <h5 class="modal-title" id="exampleModalLabel">Work From Home Request</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="col-md-12 px-4 d-block">
      <p class="mt-2">Enter your work from home reson and apply with one click.
        Select your manage or reporting person under Notify section to get approval.</p>
    </div>
    <div class="modal-body px-4">
      <div class="d-flex position-relative">
        <div class="col-md-8 d-flex">
          <div class="col-md-6 ps-2 py-3 border">
            <small>START DATE</small>
            <p class="mb-0 text-dark fs-5">{{today | date}}</p>
          </div>
          <div class="col-md-6 pe-3 py-3 border text-end">
            <small>END DATE</small>
            <p class="mb-0 text-dark fs-5">{{tomorrow | date}}</p>
          </div>
        </div>
      </div>
      <span class="px-3 py-2 day-wfh">1day WFH</span>
      <p class="mb-0 text-dark ps-2 pt-3 fs-5">Session</p>
      <div class="btn-group mt-2 mb-4" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio10" id="btnradio10" autocomplete="off" checked
          value="fullday">
        <label class="btn btn-outline-primary" for="btnradio10">Full Day</label>
        <input type="radio" class="btn-check" name="btnradio10" id="btnradio11" autocomplete="off"
          value="firsthalf">
        <label class="btn btn-outline-primary" for="btnradio11">First Half</label>
        <input type="radio" class="btn-check" name="btnradio10" id="btnradio12" autocomplete="off"
          value="secondhalf">
        <label class="btn btn-outline-primary" for="btnradio12">Second Half</label>
      </div>
      <p class="mb-0 text-dark ps-2 fs-5">Reason</p>
      <textarea class="comment-text-area form-control" placeholder="Enter your comment" name="commentValue"
        [(ngModel)]="commentValue"></textarea>
      <div class="alert alert-danger" *ngIf="isComment">
        Comment is required.
      </div>
      <p class="mb-0 text-dark ps-2 fs-5 py-2">Notify</p>
      <input type="text" class="form-control" placeholder="Search Employee">
      <p class="mb-0">These employees will be notified through email when you WFH request is approved.</p>
    </div>

    <div class="modal-footer border-top-0 pe-4">
      <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
      <button type="button" class="btn btn-primary-c" [disabled]="isLoading" (click)="submitAttendance()">
        <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-user-circle-o': !isLoading}"></i>
        {{ isLoading ? 'Wait' : 'Request' }}
      </button>
    </div>
  </div>
</div>
</div>
<!-- End -->
