.attendance-form input {
  border: none;
  background: transparent;
  z-index: 90;
}

.attendance-form textarea {
  border: 1px solid #161616;
  border-radius: 4px;
  background: #fff !important;
  //padding: 6px 10px;
  z-index: 999 !important;
}

.attendance-form textarea:focus {
  border: 1px solid #161616;
  border-radius: 4px;
  background: #fff !important;
  //padding: 6px 10px;
  z-index: 998 !important;
}

.employee-label {
  width: 12rem;
}

.btn-design {
  height: 32px;
  border: 1px solid #d9d9d9;
  border-radius: 0px 4px 4px 0px;
}

.input-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.center-badge {
  padding-top: 0.4rem !important;
}

.center-badge input {
  width: 1.5rem !important;
}

.highlight-font {
  font-weight: 600;
  color: #838689;
}

.head-badge {
  text-decoration: none;
  font-weight: 500 !important;
}

.textarea-box {
  z-index: 9999 !important;
}

.text-inisde-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  border: 1px solid #222;
}

.inactive-circle {
  background: #910000;
  color: #fff;
  border: none !important;
}

.active-circle {
  background: #286845;
  color: #fff;
  border: none !important;
}

.last-week-team {
  font-size: 12px !important;
}

.timing-box {
  display: inline-block;
  border: 1px solid #adacac;
}

.inactive-days {
  background: #efeed6;;
}

.pending-list {
  color: darkblue;
  font-size: 1.2rem;
}

.pending-info {
  font-size: 1.6rem;
  width: 50%;
  text-align: center;
}

.parend-h {
  min-height: 300px;
}