<div class="col-12">
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="x_panel">
        <div class="d-block">
          <canvas id="doughnutchart" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="x_panel">
        <div class="d-block">
          <canvas id="myChart" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="x_panel">
        <div class="d-block">
          <canvas id="lineChart" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
