.th {
  font-weight: bold;
}

.t-body {
  max-height: 49vh !important;
  min-height: 49vh !important;
}

.t-table .t-head,
.t-body {
  overflow-y: auto;
}

.hide-bar {
  height: 3.1rem !important;
}

.table a {
  cursor: pointer;
  color: darkblue;
  text-decoration: underline;
}

.cell-wrapper {
  padding-left: .6rem;
  padding-right: .6rem;
}
