<div class="main-container">
  <form autocomplete="off">
    <div class="x_panel col-md-12">
      <div [ngClass]="{'preload': !isEmployeesReady}">
        <div class="col-12 row m-0 p-0 skeleton align-items-center justify-content-between">
          <ng-container *ngIf="isEmployeesReady">
            <div class="x_header">
              <div class="d-flex justify-content-between mt-3">
                <div class="col-4">
                  <div class="px-1">
                    <app-breadcrums [title]="'Timesheet'"></app-breadcrums>
                  </div>
                </div>
                <div class="col-8 row justify-content-end align-items-center">
                  <div class="col-md-3" *ngIf="!isRedirected">
                    <bot-autocomplete [data]="employeesList" (OnSelect)="findEmployee($event)" [(ngModel)]="employeeId"
                      [ngModelOptions]="{standalone: true}">
                    </bot-autocomplete>
                  </div>
                  <div class="col-md-3 p-0 m-0">
                    <bot-autocomplete [data]="clientDetail" [(ngModel)]="clientId" (OnSelect)="presentWeek()" [ngModelOptions]="{standalone: true}">
                    </bot-autocomplete>
                  </div>
                  <div class="col-md-2">
                    <select class="form-select" [disabled]="clientId == 0" (change)="filterTimesheet()" [(ngModel)]="timesheetData.TimesheetStatus" [ngModelOptions]="{standalone: true}">
                      <option value="" selected disabled>Select by status</option>
                      <option value="2">Pending</option>
                      <option value="8">Submitted</option>
                      <option value="13">Save</option>
                      <option value="5">Rejected</option>
                      <option value="9">Approved</option>
                    </select>
                  </div>
                  <div class="col-md-1">
                    <button class="btn  btn-primary-c" (click)="advanceFilterPopUp()">
                      <i class="fa-solid fa-filter"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <ng-container >
        <div class="row align-items-center justify-content-between">
          <div class="col-md-6">
            <form class="row row-cols-sm-auto">
              <div class="col-12">
                <div class="dp-hidden position-absolute">
                  <div class="input-group inline-calendar">
                    <input
                      name="datepicker"
                      class="form-control"
                      ngbDatepicker
                      #datepicker="ngbDatepicker"
                      [autoClose]="'outside'"
                      (dateSelect)="onDateSelection($event)"
                      [displayMonths]="2"
                      [dayTemplate]="t"
                      outsideDays="hidden"
                      [startDate]="timesheetFromDate!"
                      tabindex="-1"
                    />
                    <ng-template #t let-date let-focused="focused">
                      <span
                        class="custom-day"
                        [class.focused]="focused"
                        [class.range]="isRange(date)"
                        [class.faded]="isHovered(date) || isInside(date)"
                        (mouseenter)="hoveredDate = date"
                        (mouseleave)="hoveredDate = null"
                      >
                        {{ date.day }}
                      </span>
                    </ng-template>
                  </div>
                </div>
                <div class="input-group inline-calendar">
                  <input
                    #dpFromDate
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="dpFromDate"
                    [value]="formatter.format(timesheetFromDate)"
                    (input)="timesheetFromDate = validateInput(timesheetFromDate, dpFromDate.value)"
                  />
                  <button class="btn calendar" (click)="datepicker.toggle()" type="button">
                    <i class="fa-regular fa-calendar-days fa-lg" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <div class="col-12">
                <div class="input-group">
                  <input readonly
                    #dpToDate
                    class="form-control inline-calendar"
                    placeholder="yyyy-mm-dd"
                    name="dpToDate"
                    [value]="formatter.format(timesheetToDate)"
                    (input)="timesheetToDate = validateInput(timesheetToDate, dpToDate.value)"
                  />
                  <button disabled class="btn calendar" (click)="datepicker.toggle()" type="button">
                    <i class="fa-regular fa-calendar-days fa-lg" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-auto">
            <button class="btn btn-primary-c" [disabled]="isLoading" (click)="generateTimesheet()">
              <i class="" [ngClass]="{'fa-solid fa-solid fa-spinner fa-spin': isLoading, 'fa-regular fa-square-plus': !isLoading}"></i>
              {{ isLoading ? 'Generating' : 'Generate Timesheet' }}
            </button>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="isEmployeesReady">
        <ng-container  *ngIf="isFormReady && clientId > 0">
          <table class="table-middle table table-hover">
            <thead>
              <tr>
                <th class="">Timesheet Date</th>
                <th class="">Status</th>
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let item of dailyTimesheetDetails; let i = index">
                <ng-container *ngIf="dailyTimesheetDetails.length > 0">
                  <td class="py-3">
                    <a href="javascript:void(0)" class="text-dark" (click)="viewTimeSheet(item)">
                      <span class="fw-bold pe-1">Timesheet From</span>{{item.TimesheetStartDate | date}}
                      <span class="fw-bold px-1">to</span>{{item.TimesheetEndDate | date}}
                    </a>
                  </td>
                  <td class="py-3">
                    <span *ngIf="item.TimesheetStatus == 2"><i class="fa-solid fa-exclamation text-warning pt-1 pb-1 pe-2" aria-hidden="true"></i>Penidng</span>
                    <span *ngIf="item.TimesheetStatus == 8"><i class="fa-solid fa-exclamation text-warning pt-1 pb-1 pe-2" aria-hidden="true"></i> Submitted</span>
                    <span *ngIf="item.TimesheetStatus == 9"><i class="fa-regular fa-square-check text-success pt-1 pb-1 pe-2" aria-hidden="true"></i> Approved</span>
                    <span *ngIf="item.TimesheetStatus == 6 "><i class="fa-solid fa-xmark text-danger pt-1 pb-1 pe-2" aria-hidden="true"></i> Not Submitted</span>
                    <span *ngIf="item.TimesheetStatus == 5 "><i class="fa-solid fa-ban text-danger pt-1 pb-1 pe-2" aria-hidden="true"></i> Rejected</span>
                    <span class="text-danger"  *ngIf="item.TimesheetStatus == -1">
                      <i class="fa-solid fa-xmark text-danger pt-1 pb-1 pe-2" aria-hidden="true"></i>
                      Readonly
                    </span>
                  </td>
                </ng-container>
              </tr>
              <ng-container *ngIf="dailyTimesheetDetails.length == 0">
                <tr>
                  <td colspan="2">
                    <div class="fw-bold text-center py-5 my-5 fs-5">
                      No record found
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </ng-container>
        <ng-container *ngIf="!isFormReady && clientId == 0">
          <div class="x_panel d-flex flex-direction-column justify-content-center">
            <div class="x_content py-5">
              <p  class="h3 text-muted text-center py-5 my-5">
                Please select employer to get timesheet.
              </p>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </form>
</div>
