<div class="container ch-100 d-flex align-items-center justify-content-center">
    <div class="row col-md-12">
        <div class="col-md-6">
            <h2 class="fw-bold mb-4 text-dark">Why Attendance management is Important</h2>
            <ul class="fs-5 text-dark">
                <li class="py-2">Enhances workforce productivity by ensuring punctuality and accountability.</li>
                <li class="py-2">Facilitates payroll accuracy, reducing errors and overtime costs.</li>
                <li class="py-2">Helps in identifying attendance patterns and trends for better resource planning.</li>
                <li class="py-2">Improves compliance with labor laws and regulations.</li>
                <li class="py-2">Enables efficient scheduling and shift management.</li>
                <li class="py-2">Supports remote work arrangements by tracking virtual attendance.</li>
                <li class="py-2">SProvides data for performance evaluations and rewards based on attendance.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="assets/images/attendancemanaagement.jpeg" class="img-thumbnail " alt="hrmanaagement">
        </div>
    </div>
</div>

<app-footer></app-footer>