<div class="col-12 full-v main-container">
  <div class="x_panel mt-2">
    <div class="x_header">
      <div class="x_header_title">
        <h2> CUSTOM SALARY COMPONENT AND STRUCTURE</h2>
      </div>
    </div>
    <div class="px-1">
      <app-breadcrums></app-breadcrums>
    </div>
    <div class="col-md-12 px-4" *ngIf="isPageReady">
      <div class="d-flex my-3 ms-2 align-items-center">
        <div class="progress-step col-md-9 my-2 ms-3">
          <div class="custom-progress" id="progressbar"></div>
          <div class="progress-step-item active" (click)="activePage(1)" data-title="RANGE BASED"></div>
          <div class="progress-step-item" (click)="activePage(2)" data-title="CUSTOM STRUCTURE"></div>
          <div class="progress-step-item" (click)="activePage(3)" data-title="DAILY WAGES"></div>
        </div>
        <div class="col-md-3 text-end pe-3">
          <!-- <button class="btn btn-outline-primary" [disabled]="ActivatedPage == 1"
            (click)="activePage(ActivatedPage-1)">Back</button>
          <button class="btn btn-outline-success ms-3" (click)="activePage(ActivatedPage+1)">{{ActivatedPage == 3 ?
            'Submit': 'Continue'}}</button> -->
          <a href="javascript:void(0)" (click)="navigateTo(payrollCompoent)" class="text-decoration-none fw-bold"><i
              class="fa fa-plus pe-2"></i>Create New Coomponent</a>
        </div>
      </div>
      <ng-container *ngIf="ActivatedPage == 1">
        <div class="row mt-5">
          <ng-container *ngIf="salaryStructureType.length > 0">
            <div class="col-md-2 my-2" *ngFor="let item of salaryStructureType">
              <a href="javascript:void(0)" class="text-decoration-none" (click)="selectSalaryGroup(item)">
                <div class="card py-4">
                  <h5 class="text-center">{{item.GroupName}}</h5>
                  <p class="mb-0 text-truncate text-center">{{item.MinAmount}} - {{item.MaxAmount}}</p>
                  <div ngbDropdown class="d-inline-block menu-btn">
                    <button type="button" class="btn btn-sm" id="dropdownBasic2" ngbDropdownToggle>
                      <i class="fa fa-ellipsis-v fa-lg" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic2">
                      <button ngbDropdownItem>
                        <a class="dropdown-item" href="javascript:void(0)" (click)="ediitSalaryGrouop(item)">Edit Salary
                          Group</a>
                      </button>
                      <button ngbDropdownItem>
                        <a class="dropdown-item" href="javascript:void(0)">Delete Salaary Group</a>
                      </button>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </ng-container>
          <ng-container *ngIf="salaryStructureType.length == 0">
            <div class="vhide col-md-12 my-4 py-4 d-flex flex-column justify-content-center text-center">
              <h4>Please add salary group first.</h4>
            </div>
          </ng-container>
          <div class="vhide col-md-12 me-2">
            <button class="btn btn-primary-c float-end mt-2" (click)="addSalaryGroupModal()"><i
                class="fa fa-plus pe-2"></i> Add Salary Group</button>
          </div>
        </div>
        <ng-container *ngIf="salaryStructureType.length > 0 && isSalaryGrpSelected">
          <ng-container *ngIf="isReady">
            <div class="mt-3">
              <div class="col-md-6 mb-3">
                <h5 class="form-label">Group Name: {{selectedSalaryStructure.GroupName}}</h5>
              </div>
              <div class="col-md-6 mb-3">
                <h6>Description: {{selectedSalaryStructure.GroupDescription}}</h6>
              </div>
            </div>
            <div class="d-flex justify-content-between mx-1 mb-4">
              <div class="form-group d-flex fe-1">
                <button class="btn btn-outline-primary col-4" (click)="addComponentModal()"><i
                    class="fa fa-plus pe-2"></i>
                  Add
                  Component</button>
                <div class="form-check d-flex flex-column justify-content-center">
                  <div class="ms-3">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label">
                      This structure is eligible for Flexible Benefit PLan (FBP)
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group d-flex flex-row justify-content-end fe-1">
                <div class="col-6">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-white border-end-0">
                        <i class="fa fa-search p-1 text-muted"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control border-start-0" (keyup.esc)="clearFilter($event)"
                      (keyup)="filterRecords($event)" placeholder="Search component by name">
                  </div>
                </div>
              </div>
            </div>

            <div class="t-table t-list t-border col-md-12 my-3">
              <div class="hide-bar bg-light"></div>
              <div class="t-head bg-light fw-bold">
                <div class="tr">
                  <div class="th text-truncate ps-3 fe-2">
                    COMPONENT NAME
                  </div>
                  <div class="th text-truncate ps-3">
                    TAX EXEMPT
                  </div>
                  <div class="th text-truncate ps-3">
                    ANNUAL CALCULATION
                  </div>
                  <div class="th text-truncate ps-3">
                    ACTIONS
                  </div>
                </div>
              </div>
              <div class="t-body custom-height">
                <ng-container *ngIf="componentsAvailable">
                  <div class="tr py-2" *ngFor="let item of groupComponents">
                    <div class="td ps-3 text-truncate fe-2">
                      {{item.ComponentId}} ({{item.ComponentFullName}})
                    </div>
                    <div class="td ps-3 text-truncate">
                      <ng-container [ngSwitch]="item.TaxExempt">
                        <div *ngSwitchCase="true">Tax Exempt</div>
                        <div *ngSwitchDefault>Taxable</div>
                      </ng-container>
                    </div>
                    <div class="td ps-3 text-truncate">
                      <span class="badge bg-primary">{{item.Formula}}</span>
                    </div>
                    <ng-container>
                      <div class="td ps-3">
                        <a class="text-decoration-none text-muted" href="javascript:void(0)"
                          (click)="updateCalcModel(item)"><i class="fa fa-ellipsis-h fa-lg" aria-hidden="true"></i>
                        </a>
                        <a class="text-decoration-none text-muted ms-4" href="javascript:void(0)"
                          (click)="openComponentDeleteOrUpdateModel(item)"><i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                        </a>
                      </div>
                    </ng-container>
                  </div>
                </ng-container>
                <ng-container *ngIf="!componentsAvailable">
                  <div class=" col-md-12 my-5 py-5 d-flex flex-column justify-content-center text-center">
                    <h4 class="">Please add component first.</h4>
                  </div>
                </ng-container>
              </div>
            </div>
          </ng-container>
        </ng-container>

      </ng-container>
      <ng-container *ngIf="ActivatedPage == 2">
        <div class="col-md-12 mt-5 pt-3">
          <button class="btn btn-outline-primary" (click)="addSalaryStrutModal()">Create Custom Salary
            Structure</button>
          <div class="col-md-3 float-end">
            <div class="form-group has-search">
              <span class="fa fa-search form-control-feedback"></span>
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </div>
        </div>
        <div class="t-table t-list t-border col-md-12 my-3">
          <div class="hide-bar bg-light"></div>
          <div class="t-head bg-light fw-bold">
            <div class="tr">
              <div class="th text-truncate fe-2 ps-3">
                SALARY STRUCTURE NAME
              </div>
              <div class="th fe-2 text-truncate ps-3">
                NO.OF EMPLOYEES
              </div>
              <div class="th fe-2 text-truncate ps-3">
                CREATED ON
              </div>
              <div class="th fe-2 text-truncate ps-3">
                LAST MODIFIED ON
              </div>
              <div class="th text-truncate ps-3">
                ACTION
              </div>
            </div>
          </div>
          <div class="t-body custom-height">
            <div class="tr py-2" *ngFor="let item of customSalaryStructure">
              <div class="td fe-2 ps-3 text-truncate">
                {{item.SalaryStructureName}}
              </div>
              <div class="td fe-2 ps-3 text-truncate">
                {{item.NoOfEmployee}}
              </div>
              <div class="td fe-2 ps-3 text-truncate">
                {{item.CreatedBy}}
                <p class="mb-0"><small>{{item.CreatedOn | date}}</small></p>
              </div>
              <div class="td fe-2 ps-3 text-truncate">
                {{item.ModifiedBy}}
                <p class="mb-0"><small>{{item.ModifiedOn | date}}</small></p>
              </div>
              <div class="td ps-3">
                <div ngbDropdown class="d-inline-block" placement="bottom-end">
                  <button type="button" class="btn btn-sm" id="dropdownBasic2" ngbDropdownToggle>
                    <i class="fa fa-ellipsis-v fa-lg" aria-hidden="true"></i>
                  </button>
                  <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic2">
                    <button ngbDropdownItem (click)="updateCalcModel()">
                      <a class="dropdown-item" href="javascript:void(0)">Update Salary Structure</a>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="ActivatedPage == 3">
        <div class="col-md-12 mt-5 pt-3">
          <button class="btn btn-outline-primary" (click)="addDailyStrutModal()">Create Custom Daily Structure</button>
          <div class="col-md-3 float-end">
            <div class="form-group has-search">
              <span class="fa fa-search form-control-feedback"></span>
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </div>
        </div>
        <div class="t-table t-list t-border col-md-12 my-3">
          <div class="hide-bar bg-light"></div>
          <div class="t-head bg-light fw-bold">
            <div class="tr">
              <div class="th text-truncate fe-2 ps-3">
                SALARY STRUCTURE NAME
              </div>
              <div class="th text-truncate fe-2 ps-3">
                Remuneration Type
              </div>
              <div class="th fe-2 text-truncate ps-3">
                NO.OF EMPLOYEES
              </div>
              <div class="th fe-2 text-truncate ps-3">
                CREATED ON
              </div>
              <div class="th fe-2 text-truncate ps-3">
                LAST MODIFIED ON
              </div>
              <div class="th text-truncate ps-3">
                ACTION
              </div>
            </div>
          </div>
          <div class="t-body custom-height">
            <div class="tr py-2" *ngFor="let item of dailyWages">
              <div class="td fe-2 ps-3 text-truncate">
                {{item.SalaryStructureName}}
              </div>
              <div class="td fe-2 ps-3 text-truncate">
                {{item.RemunerationType}}
              </div>
              <div class="td fe-2 ps-3 text-truncate">
                {{item.NoOfEmployee}}
              </div>
              <div class="td fe-2 ps-3 text-truncate">
                {{item.CreatedBy}}
                <p class="mb-0"><small>{{item.CreatedOn | date}}</small></p>
              </div>
              <div class="td fe-2 ps-3 text-truncate">
                {{item.ModifiedBy}}
                <p class="mb-0"><small>{{item.ModifiedOn | date}}</small></p>
              </div>
              <div class="td ps-3">
                <div ngbDropdown class="d-inline-block" placement="bottom-end">
                  <button type="button" class="btn btn-sm" id="dropdownBasic2" ngbDropdownToggle>
                    <i class="fa fa-ellipsis-v fa-lg" aria-hidden="true"></i>
                  </button>
                  <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic2">
                    <button ngbDropdownItem (click)="updateCalcModel(item)">
                      <a class="dropdown-item" href="javascript:void(0)">Update Salary Structure</a>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <ng-container *ngIf="!isPageReady">
      <div class="py-5 my-5">
        <h6 class="fw-bold fs-3 text-center text-dark">Custom Salary Component and Structure are loading</h6>
        <div class="fs-5 pb-5 py-5 d-flex flex-column justify-content-center align-items-center">
          <div class="col-md-3 modal-container f-12 text-center cog-wheel">
            <img src="assets/images/cog.gif" alt="" />
            <h6 class="modal-title title-message">
              Please Wait ........
            </h6>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!--Add Component Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="addComponentModal" tabindex="-1"
  aria-labelledby="addComponentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="addComponentModalLabel">Add Salary Component</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col-md-3 float-end">
          <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" oninput="this.value = this.value.toUpperCase()" placeholder="Search"
              (keyup.Tab)="resetSalaryFilter($event)" (keyup)="filterSalaryComponent($event)">
          </div>
        </div>
        <div class="t-table mt-5 t-list t-border col-md-12 my-3">
          <div class="hide-bar bg-light"></div>
          <div class="t-head bg-light fw-bold">
            <div class="tr">
              <div class="th text-truncate ps-3">
                COMPONENT NAME
              </div>
              <div class="th text-truncate ps-3">
                TYPE
              </div>
              <div class="th text-truncate ps-3">
                TAX EXEMPT
              </div>
              <div class="th text-truncate ps-3">
                MAX LIMIT(YEAR)
              </div>
              <div class="th text-truncate ps-3">
                ACTIONS
              </div>
            </div>
          </div>
          <div class="t-body custom-height">
            <div class="tr py-2" *ngFor="let item of salaryComponentFields">
              <div class="td ps-3 text-truncate">
                {{item.ComponentId}} ({{item.ComponentFullName}})
              </div>
              <div class="td ps-3 text-truncate">
                <ng-container [ngSwitch]="item.Type">
                  <ng-container *ngSwitchCase="2">Allowance</ng-container>
                  <ng-container *ngSwitchCase="1">Fixed</ng-container>
                  <ng-container *ngSwitchCase="3">Rembursment</ng-container>
                  <ng-container *ngSwitchCase="4">Reimursable</ng-container>
                </ng-container>
              </div>
              <div class="td ps-3 text-truncate">
                <ng-container [ngSwitch]="item.TaxExempt">
                  <div *ngSwitchCase="true">
                    Tax Exempt
                    <span class="badge bg-primary">{{item.Section}}</span>
                  </div>
                  <div *ngSwitchDefault>Taxable</div>
                </ng-container>
              </div>
              <div class="td ps-3 text-truncate">
                <span *ngIf="item.MaxLimit >= 0">{{item.MaxLimit}}</span>
                <span *ngIf="item.MaxLimit < 0">No Limit</span>
              </div>
              <div class="td ps-3">
                <input class="form-check-input" [checked]="item.IsActive == true || item.IsOpted" [disabled]="item.IsOpted"
                  (click)="selectToAddComponent($event, item)" type="checkbox" value="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary-c" (click)="addComponents()"><i class="fa fa-plus pe-2"></i>
          Add</button>
      </div>
    </div>
  </div>
</div>
<!-- End -->

<!--Update Calculation Basic Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="updateCalculationModal" tabindex="-1"
  aria-labelledby="updateCalculationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content px-3">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="updateCalculationModalLabel">Component [{{componentFields.ComponentId}}]
          Update
          Calculation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-8">
            <div class="d-flex">
              <h5 class="form-label">Components Name : {{componentFields.ComponentId}}</h5>
            </div>
            <label>Normally it would lie between 40 to 50 percent of the CTC salary.</label>
          </div>
        </div>
        <div class="col-12 mt-4 row">
          <div class="col-md-4">
            <div class="list-group" name="formulaComponent">
              <a href="javascript:void(0)" (click)="formulaAppliedOn('ctc')"
                class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">CTC</h5>
                </div>
                <p class="mb-1">Formula will be applied on CTC</p>
              </a>
              <a href="javascript:void(0)" (click)="formulaAppliedOn('gross')"
                class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">GROSS</h5>
                </div>
                <p class="mb-1">Formula will be applied on CTC</p>
              </a>
              <!-- <a href="javascript:void(0)" (click)="formulaAppliedOn('net')"
                class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">NET</h5>
                </div>
                <p class="mb-1">Formula will be applied on CTC</p>
              </a> -->
              <a href="javascript:void(0)" (click)="formulaAppliedOn('basic')"
                class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">BASIC</h5>
                </div>
                <p class="mb-1">Formula will be applied on BASIC</p>
              </a>
            </div>
          </div>
          <div class="col-md-8 py-2 border b-less" id="addedFormula" name="addedFormula" contenteditable="true"
            onkeypress="return (event.charCode != 8 && event.charCode == 0  || (event.charCode >= 47 && event.charCode <= 57 ) || event.key == '%' || event.key == '*' ||event.charCode == 43 || event.charCode == 45)"
            (keyup)="addFormula()">
          </div>
        </div>
        <div class="border-0 mt-2 form-control">
          <h6 class="form-label py-2 fw-bold">{{componentFields.Formula}}</h6>
        </div>
        <div class="col-md-12 mt-2">
          <h6>Use proper mathamatics symbol for your formula</h6>
          <p class="mb-0">Ex. If you want to put formula for Basic salary on CTC, first click on CTC and then:</p>
          <p class="mb-0">Formula looks like: 40 % [CTC] </p>
          <p class="mb-0">(i.e. 40 percent of CTC will be used)</p>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary-c" (click)="updateValue()">
          <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-plus-square-o': !isLoading}"></i>
          <span class="ps-2">{{isLoading ? 'wait': 'Save Changes'}}</span>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End -->

<!-- Create Custom Salary Structure Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="addCustomSalaryModal" tabindex="-1"
  aria-labelledby="addCustomSalaryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen p-5">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title px-4" id="addCustomSalaryModalLabel">Create custom salary structure by choosing
          applicable components and configuring respective calculation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body px-5">
        <h5>Structure Details</h5>
        <form [formGroup]="customSalaryStructureForm" *ngIf="customSalaryStructureForm">
          <div class="row justify-content-between">
            <div class="col-md-6">
              <div class="my-2">
                <label for="" class="form-label">Structure Name</label>
                <input type="text" placeholder="Intern Salary Structure - No PF" class="form-control"
                  formControlName="StructureName">
              </div>
              <div class="my-2">
                <label for="" class="form-label">Description</label>
                <textarea
                  placeholder="This salary structure will be assigned to employees who are interns and are not eligible for PF deduction"
                  formControlName="StructureDescription" class="form-control"></textarea>
              </div>
              <h5 class="py-2">Configure PF & ESI for this structure</h5>
              <blockquote>
                <ul class="list-border-0 list-group">
                  <li class="list-group-item ps-0">
                    <input class="form-check-input me-1" type="checkbox" aria-label="..." formControlName="EPF">
                    Provident Fund (PF) is applicable for this salary structure. <i
                      class="fa fa-exclamation-circle text-secondary ps-2"></i>
                  </li>
                  <li class="list-group-item ps-0">
                    <input class="form-check-input" type="checkbox" formControlName="ESI">
                    Employee State Insurance (ESI) is applicable for this salary structure. <i
                      class="fa fa-exclamation-circle text-secondary ps-2"></i>
                  </li>
                  <li class="list-group-item pb-0 ps-0">
                    <input class="form-check-input me-1" type="checkbox" formControlName="IsPaidSeparately">
                    This component is paid separately
                    <ul class="list-border-0 list-group">
                      <li class="list-group-item pt-3 d-flex align-items-center">
                        <input type="checkbox" class="form-check-input me-1" formControlName="IsDeductedFlatIncome">
                        Deduct flat income tax
                        <div class="mx-4 col-md-2 d-inline-block">
                          <input type="text" class="form-control form-control-sm" OnlyNumber="2"
                            formControlName="DeductedAmount">
                        </div>
                        of monthly Gross Salary
                      </li>
                      <li class="list-group-item">
                        <input class="form-check-input" type="checkbox" formControlName="DeductedIncomeTax">
                        Deduct income tax based on income tax slabs (this will consider earnings and declarations of
                        employees to calculate income tax)
                      </li>
                    </ul>
                  </li>
                </ul>
              </blockquote>
            </div>
            <div class="col-md-5">
              <div class="d-flex justify-content-between mx-1 my-4">
                <div class="form-group">
                  <button class="btn btn-outline-primary" (click)="addComponentModal()"><i class="fa fa-plus pe-2">
                    </i> Add Component</button>

                  <div class="ms-2 mt-2 form-check">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label">
                      This structure is eligible for Flexible Benefit PLan (FBP)
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="Search component by name">
                  </div>
                </div>
              </div>
              <div class="t-table t-list t-border col-md-12 my-3">
                <div class="hide-bar bg-light"></div>
                <div class="t-head bg-light fw-bold">
                  <div class="tr">
                    <div class="th fe-2 text-truncate ps-3">
                      COMPONENT NAME
                    </div>
                    <div class="th fe-2 text-truncate ps-3">
                      ANNUAL CALCULATION
                    </div>
                    <div class="th text-truncate ps-3">
                      ACTIONS
                    </div>
                  </div>
                </div>
                <div class="t-body custom-height">
                  <ng-container *ngIf="customSalaryStructComp.length > 0">
                    <div class="tr py-2" *ngFor="let item of customSalaryStructComp">
                      <div class="td ps-3 text-truncate fe-2">
                        {{item.ComponentId}} ({{item.ComponentFullName}})
                      </div>
                      <div class="td ps-3 text-truncate">
                        <span class="badge bg-primary">{{item.Formula}}</span>
                      </div>
                      <ng-container>
                        <div class="td ps-3">
                          <a class="text-decoration-none text-dark" href="javascript:void(0)"
                            (click)="updateCalcModel(item)"><i class="fa fa-ellipsis-h fa-lg"
                              aria-hidden="true"></i></a>
                        </div>
                      </ng-container>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="customSalaryStructComp.length <= 0">
                    <div class=" col-md-12 my-5 py-5 d-flex flex-column justify-content-center text-center">
                      <h4 class="">Please add component first.</h4>
                    </div>
                  </ng-container>
                </div>
              </div>
              <p class="mb-0">
                <a href="javascript:void(0)" class="text-decoration-none"> <i class="fa fa-plus pe-2"></i>Add Hourly Pay
                  calculation for OT</a><i class="fa fa-exclamation-circle text-secondary ps-2"></i>
              </p>
              <div class="alert alert-secondary py-2 mt-3 mb-0 col-md-12" role="alert">
                No hourly pay calculation added for OT.
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="addCustomSalaryStruct()">
          <i class="fa pe-3" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-plus-square-o': !isLoading}"></i>
          {{isLoading ? 'wait': 'Add Salary Structure'}}
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End -->

<!-- Create Daily Salary Structure Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="addDailySalaryModal" tabindex="-1"
  aria-labelledby="addDailySalaryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen p-5">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title px-4" id="addDailySalaryModalLabel">Create custom salary structure by choosing applicable
          components and configuring respective calculation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body px-5">
        <h5>Structure Details</h5>
        <div class="row justify-content-between">
          <div class="col-md-6">
            <div class="my-2">
              <label for="" class="form-label">Remuneration Type</label>
              <input type="text" placeholder="Remuneration Type" class="form-control">
            </div>
            <div class="my-2">
              <label for="" class="form-label">Structure Name</label>
              <input type="text" placeholder="Intern Salary Structure - No PF" class="form-control">
            </div>
            <div class="my-2">
              <label for="" class="form-label">Description</label>
              <textarea
                placeholder="This salary structure will be assigned to employees who are interns and are not eligible for PF deduction"
                class="form-control"></textarea>
            </div>
            <h5 class="py-2">Configure PF & ESI for this structure</h5>
            <blockquote>
              <ul class="list-border-0 list-group">
                <li class="list-group-item ps-0">
                  <input class="form-check-input me-1" type="checkbox" aria-label="...">
                  Provident Fund (PF) is applicable for this salary structure. <i
                    class="fa fa-exclamation-circle text-secondary ps-2"></i>
                </li>
                <li class="list-group-item ps-0">
                  <input class="form-check-input" type="checkbox">
                  Employee State Insurance (ESI) is applicable for this salary structure. <i
                    class="fa fa-exclamation-circle text-secondary ps-2"></i>
                </li>
                <li class="list-group-item pb-0 ps-0">
                  <input class="form-check-input me-1" type="checkbox" aria-label="...">
                  This component is paid separately
                  <ul class="list-border-0 list-group">
                    <li class="list-group-item pt-3 d-flex align-items-center">
                      <input type="checkbox" disabled class="form-check-input me-1">
                      Deduct flat income tax
                      <div class="mx-4 col-md-2 d-inline-block">
                        <input type="text" class="form-control form-control-sm" OnlyNumber="2">
                      </div>
                      of monthly Gross Salary
                    </li>
                    <li class="list-group-item">
                      <input class="form-check-input" type="checkbox">
                      Deduct income tax based on income tax slabs (this will consider earnings and declarations of
                      employees to calculate income tax)
                    </li>
                  </ul>
                </li>
              </ul>
            </blockquote>
          </div>
          <div class="col-md-5">
            <div class="d-flex justify-content-between mx-1 my-4">
              <div class="form-group">
                <button class="btn btn-outline-primary" (click)="addComponentModal()"><i class="fa fa-plus pe-2"></i>
                  Add
                  Component</button>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox">
                  <label class="form-check-label">
                    This structure is eligible for Flexible Benefit PLan (FBP)
                  </label>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4">
                  <input type="text" class="form-control" placeholder="Search component by name">
                </div>
              </div>
            </div>
            <div class="t-table t-list t-border col-md-12 my-3">
              <div class="hide-bar bg-light"></div>
              <div class="t-head bg-light fw-bold">
                <div class="tr">
                  <div class="th fe-2 text-truncate ps-3">
                    COMPONENT NAME
                  </div>
                  <div class="th fe-2 text-truncate ps-3">
                    ANNUAL CALCULATION
                  </div>
                  <div class="th text-truncate ps-3">
                    ACTIONS
                  </div>
                </div>
              </div>
              <div class="t-body addcomp-in-modal">
                <div class="tr py-2" *ngFor="let item of salaryComponentFields">
                  <div class="td fe-2 ps-3 text-truncate">
                    {{item.ComponentName}}
                  </div>
                  <div class="td fe-2 ps-3 text-truncate">
                    {{item.TaxExempt}}
                  </div>
                  <ng-container>
                    <div class="td ps-3">
                      <div ngbDropdown class="d-inline-block" placement="bottom-end">
                        <button type="button" class="btn btn-sm" id="dropdownBasic2" ngbDropdownToggle>
                          <i class="fa fa-ellipsis-v fa-lg" aria-hidden="true"></i>
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic2">
                          <button ngbDropdownItem (click)="updateCalcModel()">
                            <a class="dropdown-item" href="javascript:void(0)">Update Calculation</a>
                          </button>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
            <p class="mb-0">
              <a href="javascript:void(0)" class="text-decoration-none"> <i class="fa fa-plus pe-2"></i>Add Hourly Pay
                calculation for OT</a><i class="fa fa-exclamation-circle text-secondary ps-2"></i>
            </p>
            <div class="alert alert-secondary py-2 mt-3 mb-0 col-md-12" role="alert">
              No hourly pay calculation added for OT.
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Add</button>
      </div>
    </div>
  </div>
</div>
<!-- End -->

<!-- Add Salary Group Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="addSalaryGroupModal" tabindex="-1"
  aria-labelledby="addClassModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title px-4" id="addClassModalLabel">{{isEditSalaryGroup ? 'Update':
          'Create'}} Salary Group</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body px-5">
        <form [formGroup]="SalaryGroupForm" *ngIf="SalaryGroupForm">
          <div class="col-md-12 row m-0 p-0">
            <div class="col-md-6 mt-2">
              <label for="" class="form-label">Group Name</label>
              <input type="text" oninput="this.value = this.value.toUpperCase()"
                [ngClass]="{'error-field': submitted && f.GroupName.errors !== null && f.GroupName.errors.required}"
                placeholder="Enter Group Name" formControlName="GroupName" class="form-control">
            </div>
            <div class="col-md-12 mt-3">
              <label for="" class="form-label">Group Description</label>
              <textarea type="text"
                [ngClass]="{'error-field': submitted && f.GroupDescription.errors !== null && f.GroupDescription.errors.required}"
                placeholder="Enter Group Description" formControlName="GroupDescription" oninput="this.value = this.value.toUpperCase()"
                class="form-control"></textarea>
            </div>
            <div class="col-md-6 mt-2">
              <label for="" class="form-label">Minimum Amount</label>
              <input type="text" OnlyNumber="9"
                [ngClass]="{'error-field': submitted && f.MinAmount.errors !== null && (f.MinAmount.errors.required || f.MinAmount.errors.numberZero)}"
                placeholder="Enter Minimum Amount" formControlName="MinAmount" class="form-control">
            </div>
            <div class="col-md-6 mt-2">
              <label for="" class="form-label">Maximum Amount</label>
              <input type="text" OnlyNumber="9"
                [ngClass]="{'error-field': submitted && f.MaxAmount.errors !== null && (f.MaxAmount.errors.required || f.MinAmount.errors.numberZero)}"
                placeholder="Enter Maximum Amount" formControlName="MaxAmount" class="form-control">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0 me-3">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <ng-container *ngIf="isEditSalaryGroup">
          <button type="button" class="btn btn-primary-c" (click)="updateSalaryGroup()">
            <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-plus': !isLoading}"></i>
            <span class="ps-2">{{ isLoading ? 'Wait' : 'Update Salary Group' }}</span>
          </button>
        </ng-container>
        <ng-container *ngIf="!isEditSalaryGroup">
          <button type="button" class="btn btn-primary-c" (click)="addSalaryGroup()">
            <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-plus': !isLoading}"></i>
            <span class="ps-2">{{ isLoading ? 'Wait' : 'Create Salary Group' }}</span>
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<!-- End -->


<!-- Add Salary Group Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="componentDeleteOrUpdateModel" tabindex="-1"
  aria-labelledby="componentDeleteOrUpdateModel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title px-4" id="componentDeleteOrUpdateModel">Remove and update component(s)</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body px-5">
        <form [formGroup]="SalaryGroupForm" *ngIf="SalaryGroupForm">
          <div class="col-md-12 row m-0 p-0">

            <div class="col-md-12 mt-3">
              <label for="" class="form-label">Please confirm component</label>
              <div class="t-table t-list t-border col-md-12 my-3">
                <div class="hide-bar bg-light"></div>
                <div class="t-head bg-light fw-bold">
                  <div class="tr">
                    <div class="th text-truncate ps-3 fe-2">
                      COMPONENT NAME
                    </div>
                    <div class="th text-truncate ps-3">
                      TAX EXEMPT
                    </div>
                    <div class="th text-truncate ps-3">
                      ANNUAL CALCULATION
                    </div>
                  </div>
                </div>
                <div class="t-body custom-height">
                  <div class="tr py-2" *ngIf="componentFields != null">
                    <div class="td ps-3 text-truncate fe-2">
                      {{componentFields.ComponentId}} ({{componentFields.ComponentFullName}})
                    </div>
                    <div class="td ps-3 text-truncate">
                      <ng-container [ngSwitch]="componentFields.TaxExempt">
                        <div *ngSwitchCase="true">Tax Exempt</div>
                        <div *ngSwitchDefault>Taxable</div>
                      </ng-container>
                    </div>
                    <div class="td ps-3 text-truncate">
                      <span class="badge bg-primary">{{componentFields.Formula}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <p><span class="text-dark fw-bold">Note:</span> <span class="text-danger ps-2">If you remove this component then it will be removed permanently from this alary group.</span></p>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0 me-3">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary-c" (click)="removeFromSalaryGroup()">
            <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-trash': !isLoading}"></i>
            <span class="ps-2">{{ isLoading ? 'Removing' : 'Remove From Group' }}</span>
          </button>
      </div>
    </div>
  </div>
</div>
<!-- End -->
