<div class="col-12 full-v main-container">
  <div class="x_panel mt-2">
    <div class="x_header">
      <div class="x_header_title">
        <h2> SALARY COMPONENT AND STRUCTURE</h2>
      </div>
    </div>
    <div class="px-1">
      <app-breadcrums></app-breadcrums>
    </div>
    <div class="col-md-12 px-4">
      <div class="d-flex my-3 ms-2 align-items-center">
        <div class="progress-step col-md-9 my-2 ms-3">
          <div class="custom-progress" id="progressbar"></div>
          <div class="progress-step-item active" (click)="activePage(1)" data-title="RANGE BASED"></div>
          <div class="progress-step-item" (click)="activePage(2)" data-title="CUSTOM STRUCTURE"></div>
          <div class="progress-step-item" (click)="activePage(3)" data-title="DAILY WAGES"></div>
        </div>
        <div class="col-md-3 text-end pe-3">
          <button class="btn btn-outline-primary" [disabled]="ActivatedPage == 1"
            (click)="activePage(ActivatedPage-1)">Back</button>
          <button class="btn btn-outline-success ms-3" (click)="activePage(ActivatedPage+1)">{{ActivatedPage == 3 ?
            'Submit': 'Continue'}}</button>
        </div>
      </div>
      <ng-container *ngIf="ActivatedPage == 1">
        <div class="row mt-5">
          <ng-container *ngIf="salaryStructureType.length > 0">
            <div class="col-md-2 my-2" *ngFor="let item of salaryStructureType">
              <a href="javascript:void(0)" class="text-decoration-none" (click)="selectSalaryGroup(item)">
                <div class="card py-4">
                  <h5 class="text-center">{{item.GroupName}}</h5>
                  <p class="mb-0 text-truncate text-center">{{item.MinAmount}} - {{item.MaxAmount}}</p>
                  <div ngbDropdown class="d-inline-block menu-btn">
                    <button type="button" class="btn btn-sm" id="dropdownBasic2" ngbDropdownToggle>
                      <i class="fa fa-ellipsis-v fa-lg" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic2">
                      <button ngbDropdownItem>
                        <a class="dropdown-item" href="javascript:void(0)">Split/Create New Range</a>
                      </button>
                      <button ngbDropdownItem>
                        <a class="dropdown-item" href="javascript:void(0)">Change Upper Limit</a>
                      </button>
                      <button ngbDropdownItem>
                        <a class="dropdown-item" href="javascript:void(0)">Delete Range</a>
                      </button>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </ng-container>
          <ng-container *ngIf="salaryStructureType.length == 0">
            <div class="col-md-12 my-4 py-4 d-flex flex-column justify-content-center text-center">
              <h4>Please add salary group first.</h4>
            </div>
          </ng-container>
          <div class="col-md-12 me-2">
            <button class="btn btn-primary-c float-end mt-2" (click)="addSalaryGroupModal()"><i
                class="fa fa-plus pe-2"></i> Add
              Salary Group</button>
          </div>
        </div>
        <ng-container *ngIf="salaryStructureType.length > 0 && isSalaryGrpSelected">
          <form [formGroup]="salaryAndDeduction" *ngIf="isReady">
            <div class="mt-3">
              <div class="col-md-6 mb-3">
                <h5 class="form-label">Group Name: {{selectedSalaryStructure.GroupName}}</h5>
              </div>
              <div class="col-md-6 mb-3">
                <h6>Description: {{selectedSalaryStructure.GroupDescription}}</h6>
              </div>
            </div>
            <div class="d-flex justify-content-between mx-1 mb-4">
              <button class="btn btn-outline-primary" (click)="addComponentModal()"><i class="fa fa-plus pe-2"></i> Add
                Component</button>
              <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                  This structure is eligible for Flexible Benefit PLan (FBP)
                </label>
              </div>
            </div>

            <ng-container formArrayName="salaryComponents">
              <div class="t-table t-list t-border col-md-12 my-3">
                <div class="hide-bar bg-light"></div>
                <div class="t-head bg-light fw-bold">
                  <div class="tr">
                    <div class="th text-truncate ps-3">
                      COMPONENT NAME
                    </div>
                    <div class="th text-truncate ps-3">
                      TAX EXEMPT
                    </div>
                    <div class="th text-truncate ps-3">
                      ANNUAL CALCULATION
                    </div>
                    <div class="th text-truncate ps-3">
                      ACTIONS
                    </div>
                  </div>
                </div>
                <div class="t-body custom-height">
                  <ng-container *ngIf="componentsAvailable">
                    <div class="tr py-2" *ngFor="let item of components.controls; let i = index">
                      <ng-container [formGroupName]="i">
                        <div class="td ps-3 text-truncate">
                          {{item.get("ComponentId").value}} ({{item.get("ComponentDescription").value}})
                        </div>
                        <div class="td ps-3 text-truncate">
                          {{item.get("TaxExempt").value}}
                        </div>
                        <div class="td ps-3 text-truncate">
                          <span class="badge bg-primary">{{item.get("Formula").value}}</span>
                        </div>
                        <ng-container>
                          <div class="td ps-3">
                            <a class="text-decoration-none text-dark" href="javascript:void(0)" (click)="updateCalcModel(item.value)"><i class="fa fa-ellipsis-h fa-lg" aria-hidden="true"></i></a>
                          </div>
                        </ng-container>
                      </ng-container>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="!componentsAvailable">
                    <div class="col-md-12 my-5 py-5 d-flex flex-column justify-content-center text-center">
                      <h4>Please add component first.</h4>
                    </div>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </form>
        </ng-container>

      </ng-container>
      <ng-container *ngIf="ActivatedPage == 2">
        <div class="col-md-12 mt-5 pt-3">
          <button class="btn btn-outline-primary" (click)="addSalaryStrutModal()">Create Custom Salary
            Structure</button>
          <div class="col-md-3 float-end">
            <div class="form-group has-search">
              <span class="fa fa-search form-control-feedback"></span>
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </div>
        </div>
        <div class="t-table t-list t-border col-md-12 my-3">
          <div class="hide-bar bg-light"></div>
          <div class="t-head bg-light fw-bold">
            <div class="tr">
              <div class="th text-truncate fe-2 ps-3">
                SALARY STRUCTURE NAME
              </div>
              <div class="th fe-2 text-truncate ps-3">
                NO.OF EMPLOYEES
              </div>
              <div class="th fe-2 text-truncate ps-3">
                CREATED ON
              </div>
              <div class="th fe-2 text-truncate ps-3">
                LAST MODIFIED ON
              </div>
              <div class="th text-truncate ps-3">
                ACTION
              </div>
            </div>
          </div>
          <div class="t-body custom-height">
            <div class="tr py-2" *ngFor="let item of customSalaryStructure">
              <div class="td fe-2 ps-3 text-truncate">
                {{item.SalaryStructureName}}
              </div>
              <div class="td fe-2 ps-3 text-truncate">
                {{item.NoOfEmployee}}
              </div>
              <div class="td fe-2 ps-3 text-truncate">
                {{item.CreatedBy}}
                <p class="mb-0"><small>{{item.CreatedOn | date}}</small></p>
              </div>
              <div class="td fe-2 ps-3 text-truncate">
                {{item.ModifiedBy}}
                <p class="mb-0"><small>{{item.ModifiedOn | date}}</small></p>
              </div>
              <div class="td ps-3">
                <div ngbDropdown class="d-inline-block" placement="bottom-end">
                  <button type="button" class="btn btn-sm" id="dropdownBasic2" ngbDropdownToggle>
                    <i class="fa fa-ellipsis-v fa-lg" aria-hidden="true"></i>
                  </button>
                  <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic2">
                    <button ngbDropdownItem (click)="updateCalcModel()">
                      <a class="dropdown-item" href="javascript:void(0)">Update Salary Structure</a>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="ActivatedPage == 3">
        <div class="col-md-12 mt-5 pt-3">
          <button class="btn btn-outline-primary" (click)="addDailyStrutModal()">Create Custom Daily Structure</button>
          <div class="col-md-3 float-end">
            <div class="form-group has-search">
              <span class="fa fa-search form-control-feedback"></span>
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </div>
        </div>
        <div class="t-table t-list t-border col-md-12 my-3">
          <div class="hide-bar bg-light"></div>
          <div class="t-head bg-light fw-bold">
            <div class="tr">
              <div class="th text-truncate fe-2 ps-3">
                SALARY STRUCTURE NAME
              </div>
              <div class="th text-truncate fe-2 ps-3">
                Remuneration Type
              </div>
              <div class="th fe-2 text-truncate ps-3">
                NO.OF EMPLOYEES
              </div>
              <div class="th fe-2 text-truncate ps-3">
                CREATED ON
              </div>
              <div class="th fe-2 text-truncate ps-3">
                LAST MODIFIED ON
              </div>
              <div class="th text-truncate ps-3">
                ACTION
              </div>
            </div>
          </div>
          <div class="t-body custom-height">
            <div class="tr py-2" *ngFor="let item of dailyWages">
              <div class="td fe-2 ps-3 text-truncate">
                {{item.SalaryStructureName}}
              </div>
              <div class="td fe-2 ps-3 text-truncate">
                {{item.RemunerationType}}
              </div>
              <div class="td fe-2 ps-3 text-truncate">
                {{item.NoOfEmployee}}
              </div>
              <div class="td fe-2 ps-3 text-truncate">
                {{item.CreatedBy}}
                <p class="mb-0"><small>{{item.CreatedOn | date}}</small></p>
              </div>
              <div class="td fe-2 ps-3 text-truncate">
                {{item.ModifiedBy}}
                <p class="mb-0"><small>{{item.ModifiedOn | date}}</small></p>
              </div>
              <div class="td ps-3">
                <div ngbDropdown class="d-inline-block" placement="bottom-end">
                  <button type="button" class="btn btn-sm" id="dropdownBasic2" ngbDropdownToggle>
                    <i class="fa fa-ellipsis-v fa-lg" aria-hidden="true"></i>
                  </button>
                  <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic2">
                    <button ngbDropdownItem (click)="updateCalcModel(item)">
                      <a class="dropdown-item" href="javascript:void(0)">Update Salary Structure</a>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<!--Add Component Modal -->
<div class="modal fade" id="addComponentModal" tabindex="-1" aria-labelledby="addComponentModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="addComponentModalLabel">Add Salary Component</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col-md-3 float-end">
          <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Search">
          </div>
        </div>
        <div class="t-table mt-5 t-list t-border col-md-12 my-3">
          <div class="hide-bar bg-light"></div>
          <div class="t-head bg-light fw-bold">
            <div class="tr">
              <div class="th text-truncate ps-3">
                COMPONENT NAME
              </div>
              <div class="th text-truncate ps-3">
                TYPE
              </div>
              <div class="th text-truncate ps-3">
                TAX EXEMPT
              </div>
              <div class="th text-truncate ps-3">
                MAX LIMIT(YEAR)
              </div>
              <div class="th text-truncate ps-3">
                ACTIONS
              </div>
            </div>
          </div>
          <div class="t-body custom-height">
            <div class="tr py-2" *ngFor="let item of salaryComponentFields">
              <div class="td ps-3 text-truncate">
                {{item.ComponentId}}
              </div>
              <div class="td ps-3 text-truncate">
                {{item.Type}}
              </div>
              <div class="td ps-3 text-truncate">
                {{item.TaxExempt}}
                <small class="text-muted d-block">{{item.Section}}</small>
              </div>
              <div class="td ps-3 text-truncate">
                {{item.MaxLimit}}
              </div>
              <div class="td ps-3">
                <input class="form-check-input" [(ngModel)]="item.IsActive" type="checkbox" value="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary-c" (click)="addComponents()"><i class="fa fa-plus pe-2"></i>
          Add</button>
      </div>
    </div>
  </div>
</div>
<!-- End -->

<!--Update Calculation Basic Modal -->
<div class="modal fade" id="updateCalculationModal" tabindex="-1" aria-labelledby="updateCalculationModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content px-3">
      <form [formGroup]="updateComponentForm">
        <div class="modal-header border-bottom-0">
          <h5 class="modal-title" id="updateCalculationModalLabel">Component [{{componentFields.ComponentId}}]
            Update
            Calculation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-8">
              <div class="d-flex">
                <h5 class="form-label">Components Name : {{componentFields.ComponentId}}</h5>
              </div>
              <label>Normanlly it would lie between 40 to 50 percent of the CTC salary.</label>
            </div>
            <div class="col-md-4 form-group">
              <label class="form-label">Calculation Type</label>
              <select formControlName="CalculateInPercentage" class="form-control" >
                <option value="">Pick calculation type</option>
                <option value="2">In percent value</option>
                <option value="3">In fixed value</option>
              </select>
            </div>
          </div>
          <div class="col-md-12 mt-5 row">
            <div class="col-md-4 form-group">
              <label class="form-label">Component Name</label>
              <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="ComponentName">
                <option value="0">Select Component Name</option>
                <option value="gross">Gross</option>
                <option value="ctc">CTC</option>
                <option value="net">Net</option>
              </select>
            </div>
            <div class="col-md-4 form-group">
              <label class="form-label">Operator</label>
              <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="OpertaionType">
                <option value="0">Select Operation</option>
                <option value="*">Multiply</option>
                <option value="/">Divide</option>
                <option value="-">Subtract</option>
                <option value="+">Add</option>
                <option value="%">Percentage</option>
              </select>
            </div>
            <div class="col-md-4 ">
              <label class="form-label">Value</label>
              <input type="text" class="form-control" formControlName="MaxLimit"
                (keyup)="generateFormula()">
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-12 form-group mt-3">
              <label for="" class="form-label">Formula</label>
              <div class="border form-control">
                <h6 class="form-label py-2 fw-bold">{{componentFields.Formula}}</h6>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mt-3">
              <input class="form-check-input" type="checkbox" formControlName="TaxExempt">
              <label class="form-check-label ms-2">
                Tax Exempt
              </label>
            </div>
            <div class="col-md-4 mt-3">
              <input class="form-check-input" type="checkbox" formControlName="IncludeInPayslip">
              <label class="form-check-label ms-2">
                Include In Payslip
              </label>
            </div>
            <div class="col-md-4 mt-3">
              <input class="form-check-input" type="checkbox" formControlName="IsOpted">
              <label class="form-check-label ms-2">
                Is Opted
              </label>
            </div>
            <div class="col-md-4 mt-3">
              <input class="form-control" type="text" formControlName="EmployeeContribution">
              <label class="form-check-label ms-2">
                EmployeeContribution
              </label>
            </div>
            <div class="col-md-4 mt-3">
              <input class="form-control" type="text" formControlName="EmployerContribution">
              <label class="form-check-label ms-2">
                EmployerContribution
              </label>
            </div>
          </div>
          <div class="col-md-12 mt-5">
            <h6 class="pt-4">Use Standard Javascript notaion for formuila expression</h6>
            <p class="mb-0">Ex. ([Basic] - 0.40) - 1200</p>
            <p class="mb-0">Ex. ([Gross] - [Basic]) * 0.4</p>
          </div>
        </div>
        <div class="modal-footer border-top-0">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary-c" (click)="updateValue()">
            <i class="fa pe-3" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-plus-square-o': !isLoading}"></i>
            {{isLoading ? 'wait': 'Save Changes'}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End -->

<!-- Create Custom Salary Structure Modal -->
<div class="modal fade" id="addCustomSalaryModal" tabindex="-1" aria-labelledby="addCustomSalaryModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen p-5">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title px-4" id="addCustomSalaryModalLabel">Create custom salary structure by choosing
          applicable components and configuring respective calculation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body px-5">
        <h5>Structure Details</h5>
        <div class="row justify-content-between">
          <div class="col-md-6">
            <div class="my-2">
              <label for="" class="form-label">Structure Name</label>
              <input type="text" placeholder="Intern Salary Structure - No PF" class="form-control">
            </div>
            <div class="my-2">
              <label for="" class="form-label">Description</label>
              <textarea
                placeholder="This salary structure will be assigned to employees who are interns and are not eligible for PF deduction"
                class="form-control"></textarea>
            </div>
            <h5 class="py-2">Configure PF & ESI for this structure</h5>
            <blockquote>
              <ul class="list-border-0 list-group">
                <li class="list-group-item ps-0">
                  <input class="form-check-input me-1" type="checkbox" aria-label="...">
                  Provident Fund (PF) is applicable for this salary structure. <i
                    class="fa fa-exclamation-circle text-secondary ps-2"></i>
                </li>
                <li class="list-group-item ps-0">
                  <input class="form-check-input" type="checkbox">
                  Employee State Insurance (ESI) is applicable for this salary structure. <i
                    class="fa fa-exclamation-circle text-secondary ps-2"></i>
                </li>
                <li class="list-group-item pb-0 ps-0">
                  <input class="form-check-input me-1" type="checkbox" aria-label="...">
                  This component is paid separately
                  <ul class="list-border-0 list-group">
                    <li class="list-group-item pt-3 d-flex align-items-center">
                      <input type="checkbox" disabled class="form-check-input me-1">
                      Deduct flat income tax
                      <div class="mx-4 col-md-2 d-inline-block">
                        <input type="text" class="form-control form-control-sm" OnlyNumber="2">
                      </div>
                      of monthly Gross Salary
                    </li>
                    <li class="list-group-item">
                      <input class="form-check-input" type="checkbox">
                      Deduct income tax based on income tax slabs (this will consider earnings and declarations of
                      employees to calculate income tax)
                    </li>
                  </ul>
                </li>
              </ul>
            </blockquote>
          </div>
          <div class="col-md-5">
            <div class="d-flex justify-content-between mx-1 my-4">
              <button class="btn btn-outline-primary" (click)="addComponentModal()"><i class="fa fa-plus pe-2">
                </i> Add Component</button>
              <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                  This structure is eligible for Flexible Benefit PLan (FBP)
                </label>
              </div>
            </div>
            <div class="t-table t-list t-border col-md-12 my-3">
              <div class="hide-bar bg-light"></div>
              <div class="t-head bg-light fw-bold">
                <div class="tr">
                  <div class="th fe-2 text-truncate ps-3">
                    COMPONENT NAME
                  </div>
                  <div class="th fe-2 text-truncate ps-3">
                    ANNUAL CALCULATION
                  </div>
                  <div class="th text-truncate ps-3">
                    ACTIONS
                  </div>
                </div>
              </div>
              <div class="t-body addcomp-in-modal">
                <div class="tr py-2" *ngFor="let item of salaryComponentFields">
                  <div class="td fe-2 ps-3 text-truncate">
                    {{item.ComponentName}}
                  </div>
                  <div class="td fe-2 ps-3 text-truncate">
                    {{item.Formula}}
                  </div>
                  <ng-container>
                    <div class="td ps-3">
                      <div ngbDropdown class="d-inline-block" placement="bottom-end">
                        <button type="button" class="btn btn-sm" id="dropdownBasic2" ngbDropdownToggle>
                          <i class="fa fa-ellipsis-v fa-lg" aria-hidden="true"></i>
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic2">
                          <button ngbDropdownItem (click)="updateCalcModel()">
                            <a class="dropdown-item" href="javascript:void(0)">Update Calculation</a>
                          </button>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
            <p class="mb-0">
              <a href="javascript:void(0)" class="text-decoration-none"> <i class="fa fa-plus pe-2"></i>Add Hourly Pay
                calculation for OT</a><i class="fa fa-exclamation-circle text-secondary ps-2"></i>
            </p>
            <div class="alert alert-secondary py-2 mt-3 mb-0 col-md-12" role="alert">
              No hourly pay calculation added for OT.
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Add</button>
      </div>
    </div>
  </div>
</div>
<!-- End -->

<!-- Create Daily Salary Structure Modal -->
<div class="modal fade" id="addDailySalaryModal" tabindex="-1" aria-labelledby="addDailySalaryModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen p-5">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title px-4" id="addDailySalaryModalLabel">Create custom salary structure by choosing applicable
          components and configuring respective calculation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body px-5">
        <h5>Structure Details</h5>
        <div class="row justify-content-between">
          <div class="col-md-6">
            <div class="my-2">
              <label for="" class="form-label">Remuneration Type</label>
              <input type="text" placeholder="Remuneration Type" class="form-control">
            </div>
            <div class="my-2">
              <label for="" class="form-label">Structure Name</label>
              <input type="text" placeholder="Intern Salary Structure - No PF" class="form-control">
            </div>
            <div class="my-2">
              <label for="" class="form-label">Description</label>
              <textarea
                placeholder="This salary structure will be assigned to employees who are interns and are not eligible for PF deduction"
                class="form-control"></textarea>
            </div>
            <h5 class="py-2">Configure PF & ESI for this structure</h5>
            <blockquote>
              <ul class="list-border-0 list-group">
                <li class="list-group-item ps-0">
                  <input class="form-check-input me-1" type="checkbox" aria-label="...">
                  Provident Fund (PF) is applicable for this salary structure. <i
                    class="fa fa-exclamation-circle text-secondary ps-2"></i>
                </li>
                <li class="list-group-item ps-0">
                  <input class="form-check-input" type="checkbox">
                  Employee State Insurance (ESI) is applicable for this salary structure. <i
                    class="fa fa-exclamation-circle text-secondary ps-2"></i>
                </li>
                <li class="list-group-item pb-0 ps-0">
                  <input class="form-check-input me-1" type="checkbox" aria-label="...">
                  This component is paid separately
                  <ul class="list-border-0 list-group">
                    <li class="list-group-item pt-3 d-flex align-items-center">
                      <input type="checkbox" disabled class="form-check-input me-1">
                      Deduct flat income tax
                      <div class="mx-4 col-md-2 d-inline-block">
                        <input type="text" class="form-control form-control-sm" OnlyNumber="2">
                      </div>
                      of monthly Gross Salary
                    </li>
                    <li class="list-group-item">
                      <input class="form-check-input" type="checkbox">
                      Deduct income tax based on income tax slabs (this will consider earnings and declarations of
                      employees to calculate income tax)
                    </li>
                  </ul>
                </li>
              </ul>
            </blockquote>
          </div>
          <div class="col-md-5">
            <div class="d-flex justify-content-between mx-1 my-4">
              <button class="btn btn-outline-primary" (click)="addComponentModal()"><i class="fa fa-plus pe-2"></i> Add
                Component</button>
              <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                  This structure is eligible for Flexible Benefit PLan (FBP)
                </label>
              </div>
            </div>
            <div class="t-table t-list t-border col-md-12 my-3">
              <div class="hide-bar bg-light"></div>
              <div class="t-head bg-light fw-bold">
                <div class="tr">
                  <div class="th fe-2 text-truncate ps-3">
                    COMPONENT NAME
                  </div>
                  <div class="th fe-2 text-truncate ps-3">
                    ANNUAL CALCULATION
                  </div>
                  <div class="th text-truncate ps-3">
                    ACTIONS
                  </div>
                </div>
              </div>
              <div class="t-body addcomp-in-modal">
                <div class="tr py-2" *ngFor="let item of salaryComponentFields">
                  <div class="td fe-2 ps-3 text-truncate">
                    {{item.ComponentName}}
                  </div>
                  <div class="td fe-2 ps-3 text-truncate">
                    {{item.TaxExempt}}
                  </div>
                  <ng-container>
                    <div class="td ps-3">
                      <div ngbDropdown class="d-inline-block" placement="bottom-end">
                        <button type="button" class="btn btn-sm" id="dropdownBasic2" ngbDropdownToggle>
                          <i class="fa fa-ellipsis-v fa-lg" aria-hidden="true"></i>
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic2">
                          <button ngbDropdownItem (click)="updateCalcModel()">
                            <a class="dropdown-item" href="javascript:void(0)">Update Calculation</a>
                          </button>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
            <p class="mb-0">
              <a href="javascript:void(0)" class="text-decoration-none"> <i class="fa fa-plus pe-2"></i>Add Hourly Pay
                calculation for OT</a><i class="fa fa-exclamation-circle text-secondary ps-2"></i>
            </p>
            <div class="alert alert-secondary py-2 mt-3 mb-0 col-md-12" role="alert">
              No hourly pay calculation added for OT.
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Add</button>
      </div>
    </div>
  </div>
</div>
<!-- End -->

<!-- Add Salary Group Modal -->
<div class="modal fade" id="addSalaryGroupModal" tabindex="-1" aria-labelledby="addClassModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title px-4" id="addClassModalLabel">Create Salary Group</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body px-5">
        <form [formGroup]="SalaryGroupForm">
          <div class="col-md-12 row m-0 p-0">
            <div class="col-md-6 mt-2">
              <label for="" class="form-label">Group Name</label>
              <input type="text" transform="upper"
                [ngClass]="{'error-field': submitted && f.GroupName.errors !== null && f.GroupName.errors.required}"
                placeholder="Enter Group Name" formControlName="GroupName" class="form-control">
            </div>
            <div class="col-md-12 mt-3">
              <label for="" class="form-label">Group Description</label>
              <textarea type="text"
                [ngClass]="{'error-field': submitted && f.GroupDescription.errors !== null && f.GroupDescription.errors.required}"
                placeholder="Enter Group Description" formControlName="GroupDescription"
                class="form-control"></textarea>
            </div>
            <div class="col-md-6 mt-2">
              <label for="" class="form-label">Minimum Amount</label>
              <input type="text" OnlyNumber="9"
                [ngClass]="{'error-field': submitted && f.MinAmount.errors !== null && f.MinAmount.errors.required}"
                placeholder="Enter Minimum Amount" formControlName="MinAmount" class="form-control">
            </div>
            <div class="col-md-6 mt-2">
              <label for="" class="form-label">Maximum Amount</label>
              <input type="text" OnlyNumber="9"
                [ngClass]="{'error-field': submitted && f.MaxAmount.errors !== null && f.MaxAmount.errors.required}"
                placeholder="Enter Maximum Amount" formControlName="MaxAmount" class="form-control">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0 me-3">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary-c" (click)="addSalaryGroup()">
          <i class="fa pe-2" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-plus': !isLoading}"></i>
          {{ isLoading ? 'Wait' : 'Create Salary Group' }}
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End -->
