<div class="col-12 full-v main-container">
  <div class="col-md-12 bg-light mb-3">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link text-dark nav-active" id="attendance-tab" (click)="activateMe('declaration-tab')" aria-current="page" href="javascript:void(0)">DECLARATION</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" id="timesheet-tab" (click)="activateMe('salary-tab')" href="javascript:void(0)">SALARY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" id="leave-tab" (click)="activateMe('summary-tab')" href="javascript:void(0)">SUMMARY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" id="leave-tab" (click)="activateMe('preference-tab')" href="javascript:void(0)">Preference</a>
      </li>
    </ul>
  </div>
  <div class="col-12 x_panel p-0 m-0">
    <app-breadcrums></app-breadcrums>
    <div class="right-panel col-md-12 p-0">
      <div class="col-md-12 bg-light mb-3 mt-3">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link new-nav-link text-dark" id="attendance-tab" (click)="activeTab('declaration-tab')" aria-current="page" href="javascript:void(0)">DECLARATION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark new-nav-active" id="timesheet-tab" (click)="activeTab('previous-income-tab')" href="javascript:void(0)">Previous Income</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" id="leave-tab" (click)="activeTab('form-12-tab')" href="javascript:void(0)">Form 12 BB</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" id="leave-tab" (click)="activeTab('free-tax-tab')" href="javascript:void(0)">Free Tax Filling</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" id="leave-tab" (click)="activeTab('tax-saving-tab')" href="javascript:void(0)">Tax Saving Investment</a>
          </li>
        </ul>
      </div>
      <ng-container>
        <div class="container-fluid pt-4">
          <h5 class="text-dark">Previous Employment Details</h5>
          <p class="mb-0">Previous Employment details are necessary Wen employee change their job, this declaration is required for income tax computation.</p>
          <div class="t-table t-list t-border mb-3 col-md-12 bg-white">
            <div class="t-head overflow-hidden custom-bg">
              <div class="tr bg-light py-3">
                <div class="th ps-2">MONTH</div>
                <div class="th ps-2">GROSS</div>
                <div class="th ps-2">BASIC</div>
                <div class="th ps-2">Month</div>
                <div class="th ps-2">HOUSE RENT</div>
                <div class="th ps-2">EMPLOYEE PR</div>
                <div class="th ps-2">ESI</div>
                <div class="th ps-2">LWF</div>
                <div class="th ps-2">LWF EMPLOYEE</div>
                <div class="th ps-2">PROFESSIONAL</div>
                <div class="th ps-2">INCOME TAX</div>
                <div class="th ps-2">OTHER TAX</div>
                <div class="th ps-2">OTHER TAX F</div>
                <div class="th ps-2">OTHER TAXAB</div>
              </div>
            </div>
            <div class="t-body border-bottom">
              <div class="tr py-3" *ngFor="let item of previousEmploymentDetail">
                <div class="td ps-2">{{item.Month}} {{currentYear - 1}}</div>
                <div class="td ps-2">{{item.Gross}}</div>
                <div class="td ps-2">{{item.Basic}}</div>
                <div class="td ps-2">{{item.HouseRent}}</div>
                <div class="td ps-2">{{item.EmployeePR}}</div>
                <div class="td ps-2">{{item.ESI}}</div>
                <div class="td ps-2">{{item.LWF}}</div>
                <div class="td ps-2">{{item.LWFEmp}}</div>
                <div class="td ps-2">{{item.Professional}}</div>
                <div class="td ps-2">{{item.IncomeTax}}</div>
                <div class="td ps-2">{{item.OtherTax}}</div>
                <div class="td ps-2">{{item.OtherTaxF}}</div>
                <div class="td ps-2">{{item.OtherTaxable}}</div>
              </div>
              <div class="bg-light py-2">
                <span class="ps-3">Total Items: {{total}}</span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>


