.compose-container {
  width: 40px;
  height: 40px;
  background-color: #337ab7;;
  color: #fff;
}

.compose-container:hover {
  box-shadow: 0 4px 12px rgba(240, 220, 6, 4%) !important;
}

.large-message-box {
  height: 60vh;
  resize: none;
}

.small-message-box {
  height: 40vh;
  outline: 0;
  box-shadow: none !important;
  resize: none;
}

.email-address-box input::placeholder {
  font-size: 1.25rem;
  font-weight: 500;
}

.modal-dialog-margin {
  margin: 1.75rem auto;
}

.modal-backdrop .show {
  opacity: 1 !important;
}

.email-address {
  display: block;
  max-width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.email-address:focus {
  color: #212529;
  background-color: #fff;
  border-color: none;
  outline: 0;
  box-shadow: none !important;
}

.chip-box {
  max-width: 100% !important;
  min-width: 0px !important;
}

.construction-img {
  max-width: 50vw !important;
}
