<div class="col-12 full-v main-container">
  <div class="col-md-12 bg-light mb-3">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link text-dark nav-active" id="attendance-tab" (click)="activateMe('declaration-tab')"
          aria-current="page" href="javascript:void(0)">DECLARATION</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" id="timesheet-tab" (click)="activateMe('salary-tab')"
          href="javascript:void(0)">SALARY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" id="leave-tab" (click)="activateMe('summary-tab')"
          href="javascript:void(0)">SUMMARY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" id="leave-tab" (click)="activateMe('preference-tab')"
          href="javascript:void(0)">PREFERENCE</a>
      </li>
    </ul>
  </div>
  <div class="col-12 x_panel p-0 m-0">
    <div class="px-1">
      <app-breadcrums></app-breadcrums>
    </div>
    <div class="right-panel col-md-12 p-0">
      <div class="col-md-12 bg-light mb-3 mt-3">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link new-nav-link text-dark" id="attendance-tab" (click)="activeTab('declaration-tab')"
              aria-current="page" href="javascript:void(0)">Declaration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" id="timesheet-tab" (click)="activeTab('previous-income-tab')"
              href="javascript:void(0)">Previous Income</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" id="leave-tab" (click)="activeTab('form-12-tab')"
              href="javascript:void(0)">Form 12 BB</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark " id="leave-tab" (click)="activeTab('free-tax-tab')"
              href="javascript:void(0)">Free Tax Filling</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark new-nav-active" id="leave-tab" (click)="activeTab('approval-rule-tab')"
              href="javascript:void(0)">Approval rule</a>
          </li>
        </ul>
      </div>
      <ng-container>
        <div class="container-fluid pt-4 ps-3">
          <div class="d-flex align-items-center justify-content-between">
            <div>
              <h5 class="text-dark">Approval rule</h5>
              <p class="mb-0">You can use Clear Tax (our partner) to do Approval rule.</p>
            </div>
            <button class="btn btn-primary-c">Invest & Save Tax</button>
          </div>
          <div class="card ps-3 py-3 my-3">
            <p class="mb-0 fs-6">Wondering how to save taxes & grow your wealth at the same time?.</p>
            <ul>
              <li class="fs-6 py-2">You can save upto &#8377; 45,000 in taxes by investment in the best performing
                mutual funds.</li>
              <li class="fs-6 py-2">Cleartax continuously monitors your investment portfolio & recommends periodic
                re-balancing to maximize your investment returns</li>
              <li class="fs-6 py-2">Get the best investment advisory with the convenience of 100% online & paperless
                process - for Free!</li>
              <li class="fs-6 py-2">Cleartax enables you in the best tax saving ELSS mutual funds in India under 5
                minutes.</li>
              <li class="fs-6 py-2">ELSS mutual funds are better than PPF, ULIP/LIC Insurance & tax-saving FDs owing to
                much higher returns & lowest lock-in-period.</li>
            </ul>
            <p class="mb-0 pb-2 fs-6">With all your investments in one place, have complete transparency of every
              transaction and always stay on your investment track.</p>
            <h6 class="fw-bold text-dark pt-2">Happy Investing !</h6>
          </div>
          <p class="fs-6">A service offering from our partner <span class="fw-bold text-dark">cleartax</span></p>
        </div>
      </ng-container>
    </div>
  </div>
</div>
