<div class="col-md-12 main-container">
    <div class="x_panel">
      <div class="x_header">
        <div class="x_header_title row">
          <div class="col-md-3">
            <h2>Company Logo<small>Add or update logo and images</small></h2>
          </div>
        </div>
      </div>
      <div class="px-1">
        <app-breadcrums></app-breadcrums>
      </div>

      <ng-container *ngIf="isPageReady">
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary-c" (click)="logoPopUp()">Upload Logo</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>File Description</th>
                    <th>File Role</th>
                    <th width="25%">Preview</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="fileList.length != 0">
                <tr *ngFor="let item of fileList; let index = index">
                    <td>{{index + 1}}</td>
                    <td>{{item.FileDescription}}</td>
                    <td>{{item.FileRole}}</td>
                    <td>
                        <div>
                            <img [src]="item.FilePath" alt="logo" class="logo-img">
                        </div>
                    </td>
                    <td>
                      <a href="javascript:void(0)" class="text-decoration-none" (click)="editFile(item)">
                        <i class="fa fa-edit px-2 text-primary fa-lg"></i>
                      </a>
                      <a href="javascript:void(0)" class="text-decoration-none" (click)="deleteFile(item)">
                        <i class="fa fa-lg text-danger" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-trash-o': !isLoading}" aria-hidden="true"></i>
                      </a>
                    </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <ng-container *ngIf="fileList.length == 0">
            <div class="m-5 text-center fw-bold fs-5">
                No available to list found. Please use above add button to add one.
            </div>
          </ng-container>
      </ng-container>
      <ng-container *ngIf="!isPageReady">
        <div class="py-5 my-5 x_panel">
          <h6 class="fw-bold fs-3 text-center text-dark">Company files and logo are loading</h6>
          <div class="fs-5 pb-5 py-5 d-flex flex-column justify-content-center align-items-center">
            <div class="col-md-3 modal-container  text-center cog-wheel">
              <img src="assets/images/cog.gif" alt="" />
              <h6 class="modal-title title-message">
                Please Wait ........
              </h6>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
</div>

<!--Sign Upload Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="logoModal" tabindex="-1" aria-labelledby="logoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="logoModalLabel">Company File and Logo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="">
              <input type="file" id="uploadCompanyLogo" class="d-none" accept=".jpg, .jpeg, .png" (change)="logoFile($event)"/>
              <div class="page-card">
                <div class="card">
                  <div class="col-md-12 p-0">
                    <div class="table-responsive">
                      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div role="tabpanel" class="active in mt-4 ps-4 pe-4" id="tab_content1"
                          aria-labelledby="home-tab">
                          <div id="classmasterdata" class="col-md-12">
                            <div name="ifilezone" class="ifilezone mb-4" (click)="fireBrowser()">
                              <div *ngIf="FileDocumentList.length == 0">
                                <span style="color: darkgray;margin-top: 9rem;display: block;">
                                  Drop files here.
                                </span>
                              </div>
                              <div class="col-md-12 custom-bg justify-content-center" *ngIf="FileDocumentList.length > 0"
                                name="uploading">
                                <img src="assets/img/ExcelFile.png" />
                                <div class="filetitle">
                                  File:
                                  <div name="filename" style="display: inline-block !important;">
                                    {{ FileDocumentList[0].FileName }}
                                  </div>
                                </div>
                                <div>
                                  File size: &nbsp;
                                  <div name="filesize" style="display: inline-block !important;">
                                    {{ FileDocumentList[0].FileSize | number: '1.2-2'}}
                                  </div>
                                  KB
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-12 border overflow-hidden sign-container" [ngClass]="{'d-none': companyLogo == ''}">
              <img [attr.src]="companyLogo" alt="" class="img-fluid ">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="mt-3 col-md-6">
            <label for="" class="form-label">File Decription</label>
            <input type="text" class="form-control" placeholder="File Name" [(ngModel)]="fileDescription" [ngClass]="{'error-field': fileDescription == null}">
          </div>
          <div class="mt-3 col-md-6">
            <label for="" class="form-label">File Role</label>
            <select class="form-select" [(ngModel)]="fileRole" [ngClass]="{'error-field': fileRole == null}">
              <option value=null selected>Select Role</option>
              <option [value]="item" *ngFor="let item of fileRoles">{{item}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer borde-top-0">
        <button type="button" class="btn btn-primary-c" [disabled]="FileDocumentList.length == 0" (click)="saveLogo()">
          <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-send-o': !isLoading}" aria-hidden="true"></i>
          <span class="ps-2">{{isLoading ? 'Wait..' : 'Upload file'}}</span>
        </button>
        <button type="button" class="btn btn-outline-info ms-2" (click)="resetFile()"
          [disabled]="FileDocumentList.length == 0">
          <i class="fa fa-eraser pe-2"></i> Cancel
        </button>
      </div>
    </div>
  </div>
</div>
