<div class="col-12 full-v main-container">
  <form>
    <div class="x_panel mh-auto">
      <div class="x_header">
        <div class="d-flex justify-content-between">
          <div class="col-8">
            <div class="px-1">
              <app-breadcrums [title]="'Project Appraisal Budget'" [subtitle]="'Project appraisal budget and review performance objectives'"></app-breadcrums>
            </div>
          </div>
        </div>
      </div>
      <div>
        <ng-container *ngIf="isPageReady">
          <ng-container *ngIf="submittedEmpObj.length > 0">
            <div class="row align-items-center justify-content-between" *ngIf="currentProjectAppraisal != null">
              <div class="col-md-12">
                <span class="fw-bold text-dark">Project Appraisal Budget: <i class="fa-solid fa-indian-rupee-sign pe-1"></i> {{currentProjectAppraisal.ProjectAppraisalBudget}}</span>
                <span class="ps-2">({{currentProjectAppraisal.FromDate | date}} - {{currentProjectAppraisal.ToDate | date}})</span>
              </div>
            </div>
            <div class="col-md-12 mt-3">
              <p class="card-text">{{submittedEmpObj[0].ProjectDescription}}</p>
              <ng-container>
                <div class="alert alert-success d-flex justify-content-between" role="alert" *ngIf="this.appraisalReviewDetail.length > 0">
                  <div class="col-auto">
                    <i class="fa-solid fa-bell fa-lg pe-2 text-dark"></i>
                    <span>Review details</span>
                  </div>
                  <div class="col-auto" *ngIf="isSubmitted">
                    <a href="javascript:void(0)" (click)="reOpenCurrentAppraidal()">Re-open</a>
                  </div>
                </div>
                <div class="d-flex align-items-center justify-content-between pb-3" *ngIf="currentProjectAppraisal != null">
                  <h6>Team Members:</h6>
                  <button class="btn btn-primary btn-sm" (click)="equalPercentage()" [disabled]="isAmountExceed || isLoading">Equal %</button>
                </div>
                  <form [formGroup]="appraisalHikeForm">
                    <div formArrayName="ProjectMemberHike">
                      <ng-container *ngFor="let item of hikeDetail.controls; let i = index;" [formGroupName]="i">
                        <div class="row bg-white p-2 m-0 mb-3 d-flex justify-content-between rounded leave-box grid-card pb-4 pt-2" [ngClass]="{'custom-border': (item.get('Status').value == 2 || item.get('Status').value == 0), 'danger-border': item.get('Status').value == 5, 'success-border': item.get('Status').value == 9}">
                          <div class="d-flex col-md-10 align-items-center">
                            <a href="javascript:void(0)" class="me-2">
                              <i class="fa-regular fa-circle-user fa-lg"></i>
                            </a>
                            <p class="mb-0 fs-6">
                              <span class="fw-bold text-primary-dc">
                                <a href="javascript:void(0)" [ngClass]="{'pe-none': isSubmitted}" (click)="promotionHikePopUp(item)">{{item.get("FullName").value}} (Exp.: {{item.get("Experience").value}} months)</a>
                              </span>
                            </p>
                            <span class="px-2">|</span>
                            <div class="col-auto d-flex align-items-center">
                              <span class="pe-1">Rating: </span>
                              <ngb-rating [readonly]="true" rate="{{item.get('rating').value}}" [max]="5"></ngb-rating>
                              <!-- <span>{{item.get("rating").value}}/5</span> -->
                              <a href="javascript:void(0)" class="text-decoration-none ps-3" >
                                <i class="fa-solid fa-lock" *ngIf="item.get('Status').value != 2 && item.get('Status').value != 0"></i>
                              </a>
                              <!-- <a href="javascript:void(0)" class="text-decoration-none" [ngClass]="{'pe-none': isSubmitted}">
                                <i class="fa-solid fa-lock-open"></i>
                              </a> -->
                              <span class="rounded-pill ms-2 badge" [ngClass]="{'text-bg-danger': item.get('AppraisalStatus').value == 5, 'text-bg-success': item.get('AppraisalStatus').value == 9, 'text-bg-primary': item.get('AppraisalStatus').value == 8, 'text-bg-warning': item.get('AppraisalStatus').value == 0}">
                                {{item.get('AppraisalStatus').value == 8 ? "Appraisal Submitted" : item.get('AppraisalStatus').value == 5 ? "Appraisal Rejected" : item.get('AppraisalStatus').value == 9 ? "Appraisal Approved" : "Appraisal Not Submitted"}}
                              </span>
                            </div>
                          </div>
                          <div class="col-2 d-flex flex-row-reverse">
                            <div class="col-auto me-0 pe-0">
                              <a href="javascript:void(0)" *ngIf="item.get('Status').value == 2" (click)="editEmployeeObjective(item)" class="text-decoration-none pe-3">
                                <i class="fa-solid fa-lock"></i>
                              </a>
                              <a href="javascript:void(0)" (click)="promotionHikePopUp(item)" class="text-decoration-none">
                                <i class="fa-regular fa-pen-to-square"></i>
                              </a>
                            </div>
                          </div>
                          <div class="d-flex col-md-12 mt-2">
                            <p class="ms-2 mb-0 fs-6">
                              <i class="fa-solid fa-sack-dollar fa-lg pe-2 text-danger"></i>
                              <span class="">Salary: </span>
                              <span><i class="fa-solid fa-indian-rupee-sign px-1"></i>{{item.get("CTC").value}}</span>
                            </p>
                            <span class="px-3 fw-bold text-dark">|</span>
                            <p class="ms-2 mb-0 fs-6">
                              <span class="">Proposed Hike Percentage: </span>
                              <span>{{item.get("HikePercentage").value}} <i class="fa-solid fa-percent px-1"></i></span>
                            </p>
                            <span class="px-3 fw-bold text-dark">|</span>
                            <p class="ms-2 mb-0 fs-6">
                              <span class="">Proposed Hike Amount: </span>
                              <span><i class="fa-solid fa-indian-rupee-sign px-1"></i>{{item.get("HikeAmount").value}}</span>
                            </p>
                            <span class="px-3 fw-bold text-dark">|</span>
                            <p class="ms-2 mb-0 fs-6">
                              <i class="fa-solid fa-hand-holding-dollar fa-lg pe-2 text-danger"></i>
                              <span class="">Estimated Salary: </span>
                              <span><i class="fa-solid fa-indian-rupee-sign px-1"></i>{{item.get("EstimatedSalary").value}}</span>
                            </p>
                            <span class="px-3 fw-bold text-dark">|</span>
                            <div class="col-auto d-flex">
                              <span class="">Promoted Designation: </span>
                              <div>
                                <select formControlName="PromotedDesignation" class="form-control border-0 mt-0 pt-0 transparent-bg">
                                  <option value="0" >Same Designation</option>
                                  <option [value]="item.RoleId" *ngFor="let item of designation">{{item.RoleName}}</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="d-flex align-items-center justify-content-between mt-2">
                            <div class="col-md-6 text-truncate ms-2">
                              <span class="fw-bold">Comment: </span>
                              {{item.get("Comments").value}}
                            </div>
                            <a href="javascript:void(0)" (click)="showOffCanvas(item)" class="fw-bold">
                              <span class="pe-2">Objective's</span>
                              <i  data-bs-toggle="tooltip" data-bs-placement="right" title="View objective" [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading, 'fa-regular fa-eye': !isLoading}"></i>
                            </a>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </form>
              </ng-container>
            </div>
            <div class="text-end mt-3">
              <button class="btn btn-secondary" data-bs-dismiss="offcanvas" [disabled]="isLoading || isSubmitted">Cancel</button>
              <button class="btn btn-primary-c ms-2" (click)="applyHikeAndPromotion()" [disabled]="isAmountExceed || isLoading || isSubmitted > 0">
                <i  [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading, 'fa-hdd-o': !isLoading}"></i>
                <span class="ps-2">
                  Save
                </span>
              </button>
            </div>
            <div class="alert alert-danger mt-3" role="alert" *ngIf="isAmountExceed">
              Proposed hike amount is exceed from project appraisal budget.
            </div>
          </ng-container>
          <ng-container *ngIf="submittedEmpObj.length == 0">
            <div class="fw-bold text-dark my-5 py-5">
              <p class="my-5 py-5 text-center fs-4">
                Record not found.
              </p>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </form>
</div>

<div class="offcanvas offcanvas-end offcanvas-size-xxl"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" id="riviewObjectiveOffCanvas" aria-labelledby="riviewObjectiveOffCanvasLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Performance Reviews</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" [disabled]="isLoading"></button>
  </div>
  <div class="offcanvas-body">
    <ng-container *ngIf="isObjectivesReady">
      <ng-container *ngIf="objectives.length > 0">
        <div class="d-flex mt-3">
          <div class="col-auto">
            <i class="fa-solid fa-circle text-primary-c"></i>
          </div>
          <div class="col-md-11 ms-3">
            <div class="card shadow-sm px-2 py-3">
              <div class="row">
                <div class="d-flex align-items-center col-md-6">
                  <h6 class="fw-bold mb-0">Performance Review cycle {{objectives[0].AppraisalCycleStartDate | date}} - {{objectives[0].AppraisalCycleEndDate | date}}</h6>
                  <span class="badge ms-2" [ngClass]="{'text-bg-danger': objectives[0].PerformanceStatus == 5, 'text-bg-success': objectives[0].PerformanceStatus == 9, 'text-bg-primary': objectives[0].PerformanceStatus == 2, 'text-bg-info': objectives[0].PerformanceStatus == 8, 'text-bg-warning': objectives[0].PerformanceStatus == 0}">{{objectives[0].PerformanceStatus == 2 ? 'Pending' : objectives[0].PerformanceStatus == 5 ? 'Rejected' : objectives[0].PerformanceStatus == 8 ? 'Submitted' : objectives[0].PerformanceStatus == 9 ? 'Approved': 'Not Submitted'}}</span>
                </div>
                <div class="col-md-6">
                  <div class="d-flex align-items-center">
                    <div class="rounded-icon bg-c text-white">
                      {{userNameIcon | uppercase}}
                    </div>
                    <div class="ms-3 d-flex align-items-center">
                      <h6 class="mb-0">{{selectedEmploye.FullName}}</h6>
                      <small class="ps-2"> | Emp No.: {{selectedEmploye.EmployeeId}}</small>
                    </div>
                  </div>
                </div>
              </div>
              <p>{{objectives[0].UpdatedOn | date}}</p>
            </div>
          </div>
        </div>
        <div class="mt-3">
          <ng-container *ngIf="objectives != null && objectives.length > 0">
            <ng-container *ngFor="let item of objectives; let i=index;">
              <div class="row bg-white p-2 m-0 mb-3 d-flex justify-content-between rounded leave-box">
                <div class="d-flex col-md-12">
                  <a data-bs-toggle="collapse" (click)="collpaseShowHide('feedback'+i)"  [attr.href]="'#feedback'+i" role="button" aria-expanded="false" [attr.aria-controls]="'#feedback'+i" class="me-3">
                    <i class="fa-solid fa-quote-left" aria-hidden="true"></i>
                  </a>
                  <p class="mb-0 fs-6">
                    <b>{{item.Objective}}:</b>
                    <label class="d-block">{{item.Description}}</label>
                  </p>
                </div>
                <h6 class="mt-1 mb-0 text-dark ms-3 ps-4"><small>PERFORMANCE RATING </small> {{item.Rating}} out of 5</h6>
                <div class="bg dark ps-4" [id]="'feedback'+i">
                  <div class="card card-body border-0">
                    <small>Feedback:</small>
                    <p class="mb-0">{{item.Comments != null ? item.Comments : "No Feedback"}}</p>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
        <div class="text-end">
          <button class="btn btn-danger" (click)="rejectObjective()" [disabled]="isLoading || objectives[0].PerformanceStatus != 8">
            <i  [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading, 'fa-solid fa-xmark': !isLoading}"></i>
            <span class="ps-2">
              Reject
            </span>
          </button>
          <button class="btn btn-primary-c ms-2" (click)="approveObjective()" [disabled]="isLoading || objectives[0].PerformanceStatus != 8">
            <i  [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading, 'fa-regular fa-square-plus': !isLoading}"></i>
            <span class="ps-2">
              Approve
            </span>
          </button>
        </div>
      </ng-container>
      <ng-container *ngIf="objectives.length == 0">
        <div class="fw-bold text-dark my-5 py-5">
          <p class="my-5 py-5 text-center">
            Objective not submitted.
          </p>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

<!--Appraisal Hike Modal -->
<div class="modal fade" id="promotionHikeModal" tabindex="-1" aria-labelledby="promotionHikeModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h1 class="modal-title fs-5" id="promotionHikeModalLabel">Promotion and Hike Detail</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closePromotionHikePopup()" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="selectedPromotionAndHike != null">
        <div class="">
          <label class="form-label col-md-4">Name:</label>
          <label class="form-label ">{{selectedPromotionAndHike.FullName}}</label>
        </div>
        <div class="mt-3">
          <label class="form-label col-md-4">Present Salary:</label>
          <label class="form-label"><i class="fa-solid fa-indian-rupee-sign pe-1"></i>{{selectedPromotionAndHike.CTC}}</label>
        </div>
        <div class="mt-3 d-flex align-items-center col-md-12">
          <label class="form-label col-md-4">Promoted Designation</label>
          <div class="col-md-8">
            <select class="form-select" [(ngModel)]="selectedPromotionAndHike.PromotedDesignation">
              <option value="0" >Same Designation</option>
              <option [value]="item.RoleId" *ngFor="let item of designation">{{item.RoleName}}</option>
            </select>
          </div>
        </div>
        <div class="mt-3 d-flex align-items-center col-md-12">
          <label class="form-label col-md-4">Proposed Hike Percentage</label>
          <div class="col-md-8 input-group-c">
            <input type="text" [DecimalNumber]="5"  name="ProposedHikePercentage" (keyup)="proposedHikeAmountCheck($event, i)"  class="form-control" [(ngModel)]="selectedPromotionAndHike.HikePercentage">
            <span class="input-group-text" id="basic-addon1">%</span>
          </div>
        </div>
        <div class="mt-3 d-flex align-items-center col-md-12">
          <label class="form-label col-md-4">Proposed Hike Amount</label>
          <div class="col-md-8 input-group-c">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-indian-rupee-sign"></i></span>
            <input type="text" [DecimalNumber]="10"  name="ProposedHikeAmount" (keyup)="proposedHikeAmountCheck($event, i)"  class="form-control rounded-end-0" [(ngModel)]="selectedPromotionAndHike.HikeAmount">
          </div>
        </div>
        <div class="mt-3">
          <label class="form-label col-md-4">EstimatedSalary:</label>
          <label class="form-label"><i class="fa-solid fa-indian-rupee-sign pe-1"></i>{{selectedPromotionAndHike.EstimatedSalary}}</label>
        </div>
        <div class="d-flex align-items-center">
          <label class="form-label col-md-4">Rating:</label>
          <div class="col-md-8">
            <ngb-rating [(ngModel)]="selectedPromotionAndHike.rating" [max]="5"></ngb-rating>
          </div>
        </div>
        <div class="mt-3 d-flex align-items-center col-md-12">
          <label class="form-label pe-2 col-md-4">Comment</label>
          <div class="col-md-8">
            <textarea rows="4" placeholder="Comments" type="text" class="form-control" [(ngModel)]="selectedPromotionAndHike.Comments"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary-c" (click)="applyPromotionHikeChanges()">Save</button>
      </div>
    </div>
  </div>
</div>

<!--Re-open appraisal Modal -->
<div class="modal fade" id="reopenAppraisalModal" tabindex="-1" aria-labelledby="reopenAppraisalModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content px-4">
      <div class="modal-header border-bottom-0">
        <h1 class="modal-title fs-5" id="reopenAppraisalModalLabel">Promotion and Hike Detail</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="selectedPromotionAndHike != null">
        <div class="">
          <label class="form-label col-md-4">Name:</label>
          <label class="form-label ">{{selectedPromotionAndHike.FullName}}</label>
        </div>
        <div class="mt-3">
          <label class="form-label col-md-4">Present Salary:</label>
          <label class="form-label"><i class="fa-solid fa-indian-rupee-sign pe-1"></i>{{selectedPromotionAndHike.CTC}}</label>
        </div>
        <div class="mt-3">
          <label class="form-label col-md-12">Please click
            <a href="javascript:void(0)" class="px-2">Enable</a>
            to re-open this objectives</label>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
